Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/prompts/src/main/res/values-cs/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-en-rGB/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1905211 part 2: Use AbstractRange instead of nsRange for a11y spelling error code. r=morgan
  accessible/base/SelectionManager.cpp
  accessible/base/SelectionManager.h
  accessible/base/TextLeafRange.cpp
  accessible/base/TextLeafRange.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905211 part 1: Remove unnecessary script load in browser_text_spelling.js so that it can actually run. r=morgan
  accessible/tests/browser/text/browser_text_spelling.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1905211 part 4: Use TextOffsetAttribute for spelling errors. r=morgan
  accessible/base/TextLeafRange.cpp
  accessible/base/TextLeafRange.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905211 part 3: Introduce TextOffsetAttribute struct and support it as a serialisable attribute value. r=morgan
  accessible/base/AccAttributes.cpp
  accessible/base/AccAttributes.h
  accessible/ipc/IPCTypes.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905211 part 5: Generalise the a11y spelling error code to support multiple selection types. r=morgan
  accessible/base/TextLeafRange.cpp
  accessible/base/TextLeafRange.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905211 part 7: Notify accessibility about ranges that are added or removed from selections. r=smaug,morgan
  accessible/base/SelectionManager.cpp
  accessible/base/SelectionManager.h
  dom/base/Selection.cpp
  dom/base/nsRange.cpp
  extensions/spellcheck/src/mozInlineSpellChecker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905211 part 6: Adjust names and comments to reflect that this code can now be used for more than spelling errors. r=morgan
  accessible/base/CacheConstants.h
  accessible/base/SelectionManager.cpp
  accessible/base/TextLeafRange.cpp
  accessible/base/TextLeafRange.h
  accessible/generic/LocalAccessible.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905211 part 9: Add urlSuffix parameter to addAccessibleTask. r=morgan
  accessible/tests/browser/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1905211 part 8: Move code to check whether text attribute ranges match out of browser_text_spelling.js and generalise it for use with other attributes. r=morgan
  accessible/tests/browser/text/browser_text_spelling.js
  accessible/tests/browser/text/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1905211 part 10: Expose target text as an a11y text attribute. r=morgan
  accessible/base/AccAttributes.h
  accessible/base/SelectionManager.cpp
  accessible/base/TextLeafRange.cpp
  accessible/tests/browser/text/browser.toml
  accessible/tests/browser/text/browser_highlights.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1905211: apply code formatting via Lando
  accessible/base/TextLeafRange.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1907756: Store bookmark at the end if user drop item on chevron menu r=places-reviewers,mak
  browser/components/places/content/browserPlacesViews.js
  browser/components/places/tests/browser/browser.toml
  browser/components/places/tests/browser/browser_bookmarks_toolbar_drag_with_chevron.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1909145 - [Menu Redesign] Display the error state of an extension in the Extensions menu description. r=android-reviewers,gl,amejiamarmol
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MainMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1842154 - Fix notificationCanBeDismissedIfDownloadIsInterruptedTest UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: android-api-lint/opt, bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1910936 - Move the snackbar bindings to BaseBrowserFragment r=android-reviewers,gl, a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1910936 - Move the snackbar bindings to BaseBrowserFragment r=android-reviewers,gl
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1911085 - Avoid anchoring the snackbar to top toolbars r=android-reviewers,rsainani, a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/FenixSnackbarBehavior.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/FenixSnackbarBehaviorTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1911085 - Avoid anchoring the snackbar to top toolbars r=android-reviewers,rsainani
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/FenixSnackbarBehavior.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/FenixSnackbarBehaviorTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1911516 - remove maxLogLevelPref usage from the worker r=calixte
  toolkit/components/ml/content/ONNXPipeline.mjs
Due: bugzilla-components

Bug 1911277 - more docs on how to use HF models r=atossou,fluent-reviewers
  toolkit/components/aboutinference/content/aboutInference.ftl
  toolkit/components/aboutinference/content/aboutInference.html
  toolkit/components/ml/docs/index.rst
Due: bugzilla-components, codespell, eslint, license, rst, file-perm

Bug 1911173 - Update the shortcut text selection UX focusing on mouseup instead of keyboard r=tarek
  browser/components/genai/GenAI.sys.mjs
  browser/components/genai/GenAIChild.sys.mjs
  browser/components/genai/tests/browser/browser_chat_shortcuts.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1906877 [wpt PR 47055] - [WebDriver BiDi] Fix fetch cookie network test., a=testonly
  testing/web-platform/tests/webdriver/tests/bidi/integration/cookies_with_network_events.py
  testing/web-platform/tests/webdriver/tests/bidi/storage/conftest.py
  testing/web-platform/tests/webdriver/tests/support/fixtures_bidi.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1906877 [wpt PR 47055] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/get_tree/invalid.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/integration/cookies_with_network_events.py.ini
Due: bugzilla-components, test-manifest

Bug 1910785 [wpt PR 47375] - [wptrunner] Respect timeout for checking WebDriver browser liveliness, a=testonly
  testing/web-platform/tests/tools/webdriver/webdriver/transport.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1910939 [wpt PR 47388] - Update wpt metadata, a=testonly
  testing/web-platform/meta/fs/FileSystemObserver.https.tentative.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1910939 [wpt PR 47388] - Change Observer: Add WPTs for FileSystemHandle creation and deletion, a=testonly
  testing/web-platform/tests/fs/FileSystemObserver.https.tentative.any.js
  testing/web-platform/tests/fs/resources/change-observer-scope-test.js
  testing/web-platform/tests/fs/resources/collecting-file-system-observer.js
  testing/web-platform/tests/fs/script-tests/FileSystemObserver.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1910955 [wpt PR 47392] - webnn: support 0D input and empty axes for reduction on CoreML, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/reduce_l1.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_l2.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_log_sum.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_log_sum_exp.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_max.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_mean.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_min.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_product.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_sum.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduce_sum_square.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/reduction.https.any.js
  testing/web-platform/tests/webnn/resources/utils.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1910958 [wpt PR 47393] - [wptrunner] Always signal TestRunnerManager thread exit, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/testrunner.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1910615 [wpt PR 47359] - Fix ':has()' matching and invalidation error with nesting parent, a=testonly
  testing/web-platform/tests/css/selectors/invalidation/has-with-nesting-parent-containing-complex.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1910974 [wpt PR 47394] - [FedCM] Dismiss the error dialog in fedcm-identity-assertion-nocors, a=testonly
  testing/web-platform/tests/fedcm/fedcm-identity-assertion-nocors.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1910989 [wpt PR 47396] - [FedCM] Fix fedcm-iframe.https.html with wptrunner, a=testonly
  testing/web-platform/tests/fedcm/fedcm-iframe.https.html
  testing/web-platform/tests/fedcm/support/fedcm-iframe.html
  testing/web-platform/tests/fedcm/support/fedcm/disconnect-iframe.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1911001 [wpt PR 47398] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277346, a=testonly
  testing/web-platform/tests/css/css-shapes/parsing/shape-outside-invalid.html
  testing/web-platform/tests/css/css-shapes/parsing/shape-outside-valid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/circle-function-computed.html
  testing/web-platform/tests/css/css-shapes/shape-functions/circle-function-invalid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/circle-function-valid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/ellipse-function-computed.html
  testing/web-platform/tests/css/css-shapes/shape-functions/ellipse-function-invalid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/ellipse-function-valid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/inset-function-computed.html
  testing/web-platform/tests/css/css-shapes/shape-functions/inset-function-invalid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/inset-function-valid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/path-function-computed.html
  testing/web-platform/tests/css/css-shapes/shape-functions/path-function-invalid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/path-function-valid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/polygon-function-computed.html
  testing/web-platform/tests/css/css-shapes/shape-functions/polygon-function-invalid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/polygon-function-valid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/rect-function-computed.html
  testing/web-platform/tests/css/css-shapes/shape-functions/rect-function-invalid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/rect-function-valid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/xywh-function-computed.html
  testing/web-platform/tests/css/css-shapes/shape-functions/xywh-function-invalid.html
  testing/web-platform/tests/css/css-shapes/shape-functions/xywh-function-valid.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1911001 [wpt PR 47398] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-shapes/parsing/shape-outside-invalid.html.ini
  testing/web-platform/meta/css/css-shapes/parsing/shape-outside-valid.html.ini
  testing/web-platform/meta/css/css-shapes/shape-functions/circle-function-computed.html.ini
  testing/web-platform/meta/css/css-shapes/shape-functions/circle-function-valid.html.ini
  testing/web-platform/meta/css/css-shapes/shape-functions/ellipse-function-computed.html.ini
  testing/web-platform/meta/css/css-shapes/shape-functions/ellipse-function-valid.html.ini
  testing/web-platform/meta/css/css-shapes/shape-functions/xywh-function-computed.html.ini
  testing/web-platform/meta/css/css-shapes/shape-functions/xywh-function-valid.html.ini
Due: bugzilla-components, test-manifest

Bug 1911026 [wpt PR 47402] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235755, a=testonly
  testing/web-platform/tests/css/css-fonts/synthetic-bold-space-width-ref.html
  testing/web-platform/tests/css/css-fonts/synthetic-bold-space-width.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1911006 [wpt PR 47399] - [wptrunner] Don't override `HeadlessShellBrowser.make_command()`, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/headless_shell.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1911039 [wpt PR 47404] - Fix spec link in size-invalid.html, a=testonly
  testing/web-platform/tests/css/css-page/parsing/size-invalid.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1911049 [wpt PR 47405] - Map zoom tests to web-features, a=testonly
  testing/web-platform/tests/css/css-viewport/zoom/WEB_FEATURES.yml
Due: bugzilla-components, wptlint-gecko, yaml
