Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1950856 - turn off duplicated browsertime tests on windows11-64-2009. r=sparky,perftest-reviewers
  taskcluster/kinds/test/test-platforms.yml
  testing/perfdocs/generated/raptor.rst
Due: bugzilla-components, codespell, yaml, rst

Bug 1950768 - Support debug and profiler overlay with layer-compositor enabled r=gfx-reviewers,lsalzman
  gfx/webrender_bindings/src/bindings.rs
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/renderer/mod.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1950766 - Fix compiler-builtins patch for rust-dev toolchain. r=firefox-build-system-reviewers,sergesanspaille
  build/build-rust/rust-compiler-intrinsics.patch
Due: bugzilla-components

Bug 1950258 - Remove js/src/rust/extra-bindgen-flags.in. r=firefox-build-system-reviewers,sergesanspaille
  js/src/rust/extra-bindgen-flags.in
Due: bugzilla-components

Bug 1950258 - Use BINDGEN_SYSTEM_FLAGS instead of CC_BASE_FLAGS for bindgen. r=firefox-build-system-reviewers,sergesanspaille
  build/moz.configure/bindgen.configure
  build/rust/mozbuild/generate_buildconfig.py
  toolkit/crashreporter/client/app/build.rs
  toolkit/crashreporter/client/cocoabind/build.rs
  toolkit/crashreporter/client/gtkbind/build.rs
Due: bugzilla-components, codespell, license, py-compat, py-flake8, rustfmt, file-whitespace, file-perm, mozbuild

Bug 1950258 - Use mozbuild::config items instead of reading extra-bindgen-flags files. r=firefox-build-system-reviewers,sergesanspaille
  build/rust/mozbuild/generate_buildconfig.py
  js/moz.configure
  layout/style/extra-bindgen-flags.in
  layout/style/moz.build
  servo/components/style/build_gecko.rs
  tools/profiler/moz.build
  tools/profiler/rust-api/build.rs
  tools/profiler/rust-api/extra-bindgen-flags.in
Due: bugzilla-components, codespell, license, py-compat, py-flake8, rustfmt, file-whitespace, file-perm, mozbuild

Bug 1950375 - Remove exclusion for Windows when handling symlinks while dealing with PreprocessedFile. r=firefox-build-system-reviewers,sergesanspaille
  python/mozbuild/mozpack/files.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozbuild

Backed out changeset 793f8bede918 (bug 1947818) for causing mochitests failures in browser_sidebar_move.js. CLOSED TREE
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_position.js
  browser/themes/shared/sidebar.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1950473 - Refactoring DistributionIdUtil into DistributionIdManager class r=android-reviewers,mavduevskiy
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/AdjustMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/FirstSessionPing.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/InstallReferrerMetricsService.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/distributions/DistributionBrowserStoreProvider.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/distributions/DistributionIdManager.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/distributions/DistributionIdUtil.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/distributions/DistributionProviderChecker.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/FenixApplicationTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/FirstSessionPingTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/distributions/DefaultDistributionProviderCheckerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/distributions/DistributionIdManagerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/distributions/DistributionIdUtilTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1947818 - Fix for sidebar splitter issues r=desktop-theme-reviewers,sidebar-reviewers,jsudiaman,dao
  browser/base/content/test/sidebar/browser_sidebar_move.js
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_position.js
  browser/themes/shared/sidebar.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1949451 - Fix perf regression for tab close animations r=desktop-theme-reviewers,tabbrowser-reviewers,dao
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components

Backed out changeset 8a748ec54bac (bug 1949451) for causing multiple mochitests failures. CLOSED TREE
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components

Bug 1880791 - Remove dom.compression_streams.enabled r=smaug
  dom/webidl/CompressionStream.webidl
  dom/webidl/DecompressionStream.webidl
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/compression/__dir__.ini
Due: bugzilla-components, lintpref, test-manifest, yaml

Backed out changeset 75ec289e02ef (bug 1947818) for causing mochitests failures in browser_customize_sidebar.js. CLOSED TREE
  browser/base/content/test/sidebar/browser_sidebar_move.js
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_position.js
  browser/themes/shared/sidebar.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1799109 - Add a AUTO_PROFILER_MARKER_UNTYPED macro r=profiler-reviewers,aabh
  tools/profiler/docs/markers-guide.rst
  tools/profiler/public/ProfilerMarkers.h
  tools/profiler/tests/gtest/GeckoProfiler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rst, file-whitespace, file-perm

Bug 1799109 - Replace AUTO_PROFILER_MARKER_TEXT markers without a text with the new untyped one r=profiler-reviewers,florian
  accessible/base/NotificationController.cpp
  accessible/base/nsAccessibilityService.cpp
  accessible/generic/DocAccessible.cpp
  dom/docs/workersAndStorage/PerformanceTesting.rst
  dom/ipc/ProcessHangMonitor.cpp
  dom/script/ScriptCompression.cpp
  dom/serviceworkers/ServiceWorkerActors.cpp
  dom/serviceworkers/ServiceWorkerContainer.cpp
  dom/serviceworkers/ServiceWorkerManager.cpp
  dom/serviceworkers/ServiceWorkerRegisterJob.cpp
  dom/serviceworkers/ServiceWorkerRegistration.cpp
  dom/serviceworkers/ServiceWorkerUpdateJob.cpp
  layout/base/nsPresContext.cpp
  parser/html/nsHtml5TreeOpExecutor.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rst, file-whitespace, file-perm

Bug 1950122 - Record pocket.home_recs_spoc_shown telemetry event when a MARS sponsored content is shown r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketStoriesComposables.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1950122 - Record pocket.home_recs_spoc_shown telemetry event when a MARS sponsored content is shown r=android-reviewers,devota, a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketStoriesComposables.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1486551 - turn cert revocation error pages into (non-overridable) certificate error pages r=jschanck,fluent-reviewers,webidl,bolsson,smaug
  dom/base/Document.cpp
  dom/webidl/FailedCertSecurityInfo.webidl
  security/manager/ssl/CommonSocketControl.cpp
  security/manager/ssl/CommonSocketControl.h
  security/manager/ssl/NSSErrorsService.cpp
  security/manager/ssl/NSSErrorsService.h
  security/manager/ssl/SSLServerCertVerification.cpp
  toolkit/content/aboutNetError.mjs
  toolkit/locales/en-US/toolkit/neterror/certError.ftl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, localization, file-whitespace, file-perm

Bug 1950641 - ensure https-first/only timer is greater than OCSP timer r=ckerschb
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1950661 - Annotate crash reports with Nimbus enrollments r=gsvelto,Gijs,nimbus-reviewers,TravisLong,chumphreys
  toolkit/components/crashes/CrashManager.in.sys.mjs
  toolkit/components/crashes/metrics.yaml
  toolkit/components/crashes/tests/xpcshell/test_crash_manager.js
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/telemetry/docs/data/crash-ping.rst
  toolkit/crashreporter/CrashAnnotations.yaml
  toolkit/crashreporter/client/app/src/net/ping/glean.rs
Due: bugzilla-components, codespell, eslint, license, yaml, rst, rustfmt, file-whitespace, file-perm

Bug 1950923- Add nimbus flag for enabling compose homepage. r=gl,android-reviewers
  mobile/android/fenix/app/nimbus.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1899019 - Part 1 - Add FxMS metrics.yaml and pings.yaml files r=chutten,omc-reviewers,negin
  browser/components/asrouter/metrics.yaml
  browser/components/asrouter/pings.yaml
  toolkit/components/glean/metrics_index.py
  toolkit/components/glean/moz.build
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace

Backed out 8 changesets (bug 1920115) for causing multiple failures.
  dom/base/IdleRequest.cpp
  dom/base/TimeoutManager.cpp
  dom/base/nsGlobalWindowInner.cpp
  dom/base/nsGlobalWindowInner.h
  dom/base/nsIGlobalObject.h
  dom/script/ScriptSettings.cpp
  dom/script/ScriptSettings.h
  dom/webidl/WebTaskScheduling.webidl
  dom/webscheduling/TaskSignal.cpp
  dom/webscheduling/TaskSignal.h
  dom/webscheduling/WebTaskScheduler.cpp
  dom/webscheduling/WebTaskScheduler.h
  dom/webscheduling/WebTaskSchedulerMainThread.cpp
  dom/webscheduling/WebTaskSchedulerMainThread.h
  dom/webscheduling/WebTaskSchedulerWorker.cpp
  dom/webscheduling/WebTaskSchedulerWorker.h
  dom/webscheduling/moz.build
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerScope.cpp
  dom/workers/WorkerScope.h
  testing/web-platform/meta/scheduler/tentative/yield/yield-abort.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-inherit-across-promises.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-idle-callbacks.html.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-posttask.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-priority-timers.any.js.ini
  testing/web-platform/meta/scheduler/tentative/yield/yield-then-detach.html.ini
  testing/web-platform/tests/scheduler/post-task-multiple-scheduler-order.window.js
  testing/web-platform/tests/scheduler/tentative/yield/yield-abort.any.js
  xpcom/base/CycleCollectedJSContext.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Backed out changeset 238fff380388 (bug 1950661) for causing xpcshell failures in test_crash_manager.js. CLOSED TREE
  toolkit/components/crashes/CrashManager.in.sys.mjs
  toolkit/components/crashes/metrics.yaml
  toolkit/components/crashes/tests/xpcshell/test_crash_manager.js
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/telemetry/docs/data/crash-ping.rst
  toolkit/crashreporter/CrashAnnotations.yaml
  toolkit/crashreporter/client/app/src/net/ping/glean.rs
Due: bugzilla-components, codespell, eslint, license, yaml, rst, rustfmt, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1950401 - Mark constants (and enum variants) in xpcom interfaces as optional r=Standard8
  tools/@types/lib.gecko.darwin.d.ts
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.linux.d.ts
  tools/@types/lib.gecko.win32.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
  tools/ts/build_xpcom.js
  tools/ts/test/baselines/domtest.d.ts
  tools/ts/test/baselines/xpctest.d.ts
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
  mobile/android/focus-android/app/src/main/res/values-hr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-nb-rNO/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1948323 - Add ability for content tiles to have titles, and tiles to be looped in onboarding r=omc-reviewers,mviar
  browser/components/aboutwelcome/content-src/aboutwelcome.scss
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 56a7f2dc99ce (bug 1948323) for causing nide failures. CLOSED TREE
  browser/components/aboutwelcome/content-src/aboutwelcome.scss
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1949299 [wpt PR 50813] - Handle the open dialogs list and close watcher when removed, a=testonly
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-corner-cases.html
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-start-open.html
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-closedby.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1949299 [wpt PR 50813] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/dialog-closedby-corner-cases.html.ini
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/dialog-closedby.html.ini
Due: bugzilla-components, test-manifest

Bug 1949308 [wpt PR 50815] - Fix paint invalidation for ::selection style changes, a=testonly
  testing/web-platform/tests/css/css-pseudo/highlight-styling-005-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-styling-005.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1949310 [wpt PR 50816] - Fix root-element-background-image-transparency expectations, a=testonly
  testing/web-platform/tests/css/compositing/root-element-background-image-transparency-001.html
  testing/web-platform/tests/css/compositing/root-element-background-image-transparency-003.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1948155 [wpt PR 50703] - Add feature flag WebSpeechRecognitionContext to chrome.py, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/chrome.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1949335 [wpt PR 50817] - IDB WPTs: Extend IDB WPTs to run on workers., a=testonly
  testing/web-platform/tests/IndexedDB/idbfactory-deleteDatabase-request-success.any.js
  testing/web-platform/tests/IndexedDB/idbfactory-deleteDatabase-request-success.html
  testing/web-platform/tests/IndexedDB/idbfactory-open-error-properties.any.js
  testing/web-platform/tests/IndexedDB/idbfactory-open-request-error.any.js
  testing/web-platform/tests/IndexedDB/idbfactory-open-request-error.html
  testing/web-platform/tests/IndexedDB/idbfactory-open-request-success.any.js
  testing/web-platform/tests/IndexedDB/idbfactory-open-request-success.html
  testing/web-platform/tests/IndexedDB/idbkeyrange-includes.any.js
  testing/web-platform/tests/IndexedDB/idbkeyrange-includes.htm
  testing/web-platform/tests/IndexedDB/idbkeyrange.any.js
  testing/web-platform/tests/IndexedDB/idbkeyrange.htm
  testing/web-platform/tests/IndexedDB/idbkeyrange_incorrect.any.js
  testing/web-platform/tests/IndexedDB/idbkeyrange_incorrect.htm
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1949335 [wpt PR 50817] - Update wpt metadata, a=testonly
  testing/web-platform/meta/IndexedDB/idbfactory-deleteDatabase-request-success.html.ini
  testing/web-platform/meta/IndexedDB/idbfactory-open-error-properties.html.ini
  testing/web-platform/meta/IndexedDB/idbfactory-open-request-error.html.ini
  testing/web-platform/meta/IndexedDB/idbfactory-open-request-success.html.ini
  testing/web-platform/meta/IndexedDB/idbkeyrange-includes.htm.ini
  testing/web-platform/meta/IndexedDB/idbkeyrange.htm.ini
  testing/web-platform/meta/IndexedDB/idbkeyrange_incorrect.htm.ini
Due: bugzilla-components, test-manifest

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
