Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1947748 - Register only Gecko pings when running on geckoview a=dmeehan
  toolkit/components/glean/build_scripts/glean_parser_ext/run_glean_parser.py
  toolkit/components/glean/metrics_index.py
  toolkit/components/glean/src/lib.rs
Due: bugzilla-components, codespell, license, py-compat, py-flake8, rustfmt, file-whitespace, file-perm

Bug 1952891: Remove mingw condition to get the password change time r=tjr
  security/manager/ssl/OSReauthenticator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900310 - Add a new module for QuotaManager to reflect governance post of May 2024; r=zeid
  mots.yaml
Due: bugzilla-components, yaml

No bug - Tagging 108c7b56b3565bf1d232ff8c01253ec024f46259 with FIREFOX-ANDROID_137_0b4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

Bug 1952048 - Fix browser_toolbox_window_global_debugging.js in --repeat r=devtools-reviewers,nchevobbe
  devtools/client/framework/test/browser_toolbox_window_global_debugging.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1950392 - Prepare for Suggest/Relevancy Remote Settings changes, r=skhan,android-reviewers,zmckenney
  mobile/android/android-components/components/feature/fxsuggest/build.gradle
  mobile/android/android-components/components/feature/fxsuggest/src/main/java/mozilla/components/feature/fxsuggest/FxSuggestStorage.kt
  mobile/android/android-components/components/support/remotesettings/src/main/java/mozilla/components/support/remotesettings/RemoteSettingsService.kt
  mobile/android/android-components/samples/compose-browser/build.gradle
  mobile/android/android-components/samples/compose-browser/src/main/java/org/mozilla/samples/compose/browser/Components.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/FxSuggest.kt
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1952837 - Add secret setting to allow manual enabling of Tab Strip feature on any device for Nightly r=android-reviewers,rebecatudor273,rsainani
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStripFeatureFlag.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/xml/secret_settings_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/ToolbarViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/search/toolbar/ToolbarViewTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

No bug - Tagging 108c7b56b3565bf1d232ff8c01253ec024f46259 with DEVEDITION_137_0b4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging 108c7b56b3565bf1d232ff8c01253ec024f46259 with FIREFOX_137_0b4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1950364 - Update and vendor bitflags r=supply-chain-reviewers,glandium,nika,gsvelto
  Cargo.lock
  supply-chain/config.toml
  supply-chain/imports.lock
  third_party/rust/bitflags/.cargo-checksum.json
  third_party/rust/bitflags/CHANGELOG.md
  third_party/rust/bitflags/Cargo.lock
  third_party/rust/bitflags/Cargo.toml
  third_party/rust/bitflags/README.md
  third_party/rust/bitflags/src/lib.rs
  third_party/rust/bitflags/src/tests.rs
  third_party/rust/bitflags/src/tests/bitflags_match.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1950364 - Update and vendor fastrand r=supply-chain-reviewers,nika,glandium,gsvelto
  Cargo.lock
  supply-chain/audits.toml
  third_party/rust/fastrand/.cargo-checksum.json
  third_party/rust/fastrand/CHANGELOG.md
  third_party/rust/fastrand/Cargo.toml
  third_party/rust/fastrand/src/lib.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1952892 - Adjust reftest annotations for android on a55. r=aryx
  gfx/tests/reftest/reftest.list
  layout/reftests/bugs/reftest.list
Due: bugzilla-components

Bug 1952743 - Fix typo. r=jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1948139 - Support fullscreen mode for addons screen in onboarding r=omc-reviewers,mviar
  browser/components/aboutwelcome/content-src/aboutwelcome.scss
  browser/components/aboutwelcome/content-src/components/AddonsPicker.jsx
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/aboutwelcome/tests/unit/AddonsPicker.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 721336 - Block sync XHR with system principal r=valentin,necko-reviewers,extension-reviewers,robwu
  accessible/tests/mochitest/name/test_markup.html
  docshell/test/chrome/chrome.toml
  dom/base/test/chrome.toml
  dom/base/test/chrome/chrome.toml
  dom/base/test/test_bug426308.html
  dom/base/test/test_bug431701.html
  dom/base/test/unit/xpcshell.toml
  dom/tests/mochitest/geolocation/chrome.toml
  dom/url/tests/chrome.toml
  dom/xhr/XMLHttpRequestMainThread.cpp
  dom/xhr/tests/browser.toml
  dom/xhr/tests/browser_block_sync_xhr_system_requests.js
  dom/xslt/tests/mochitest/test_bug1769155.html
  modules/libpref/init/StaticPrefList.yaml
  netwerk/test/unit/xpcshell.toml
  netwerk/test/unit_ipc/xpcshell.toml
  toolkit/mozapps/extensions/test/xpinstall/browser_datauri.js
  toolkit/mozapps/extensions/test/xpinstall/browser_doorhanger_installs.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1952926: Enable win32k lockdown and ACG for compatible GMP processes for release. r=gcp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1943391 - Initial entrypoint to detect preview reqeust - r=Mardak,firefox-desktop-core-reviewers ,firefox-ai-ml-reviewers,mossop
  browser/app/profile/firefox.js
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/BrowserComponents.manifest
  browser/components/genai/LinkPreview.sys.mjs
  browser/components/genai/moz.build
  browser/components/genai/tests/browser/browser.toml
  browser/components/genai/tests/browser/browser_link_preview.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1948522 - Use the display root frame as the root frame for popup in RestrictToRootDisplayPort. a=dmeehan
  layout/generic/ScrollContainerFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1948522 - Properly calculate the root composition bounds for popup in CalculateBoundingCompositionSize. a=dmeehan
  layout/base/nsLayoutUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952244 - Add a browser-agnostic blockedByCORP message in DOM's appstrings.properties r=flod
  dom/locales/en-US/chrome/appstrings.properties
Due: bugzilla-components, codespell, localization

Bug 1951894 - Add Nimbus feature to control the Setup Checklist feature. r=android-reviewers,rebecatudor273,twhite
  mobile/android/fenix/app/nimbus.fml.yaml
Due: bugzilla-components, yaml

Bug 1951975 - [DoH on Android] Load DoH Settings from app layer r=android-reviewers,ohall,sfamisa
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/DohSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/DohSettingsProvider.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/DohSettingsState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/doh/DefaultDohSettingsProviderTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1946391 - Fix back gesture handling on collections screens r=android-reviewers,petru
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/collections/CollectionCreationFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/collections/CollectionCreationView.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1952199 - Fix again browser_pdfjs_check_alttext_en.js in beta r=marco a=pascalc
  toolkit/components/pdfjs/test/browser_pdfjs_check_alttext_en.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1952199 - Fix again browser_pdfjs_check_alttext_en.js in beta r=marco
  toolkit/components/pdfjs/test/browser_pdfjs_check_alttext_en.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1940621 - Update test_showOnboarding_notOptedIn test to wait for message. r=shopping-reviewers,kpatenio
  browser/components/shopping/content/onboarding.mjs
  browser/components/shopping/tests/browser/browser_shoppingsidebar_onboarding.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1952570 - Fix DohSettings license linter warnings. r=android-reviewers,sfamisa
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/DohSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/DohSettingsMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/DohSettingsReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/doh/DohSettingsStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/doh/DohSettingsStoreIntegrationTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1945282 - Use token to dim labels when inputs are disabled r=reusable-components-reviewers,desktop-theme-reviewers,hjones
  toolkit/content/widgets/moz-input-common.css
Due: bugzilla-components

Bug 1951975 - [DoH on Android] Quick build bustage fix r=smolnar CLOSED TREE
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1942373 - Add support for badging to moz-button r=shopping-reviewers,reusable-components-reviewers,tgiles,kpatenio,sidebar-reviewers,nsharpley
  browser/components/sidebar/sidebar-main.css
  toolkit/content/widgets/moz-button/moz-button.css
  toolkit/content/widgets/moz-button/moz-button.mjs
  toolkit/content/widgets/moz-button/moz-button.stories.mjs
Due: bugzilla-components

Bug 1948811: Compare windows instead of tabs to show canvas permission prompt. r=mconley
  browser/base/content/browser.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1948811 - Add test for showing permission prompt when canvas is read in a out of focus tab. r=mconley
  toolkit/components/resistfingerprinting/tests/browser/browser.toml
  toolkit/components/resistfingerprinting/tests/browser/browser_canvas_randomization_permission_background_load.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
