Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1908073 - Part 1: Remove unnecessary special-case for NaN. r=spidermonkey-reviewers,jandem
  js/src/vm/TypedArrayObject-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 4: Replace TypeIs{FloatingPoint,Unsigned} with std::numeric_limits. r=spidermonkey-reviewers,jandem
  js/src/builtin/DataViewObject.cpp
  js/src/vm/Float16.h
  js/src/vm/TypedArrayObject-inl.h
  js/src/vm/TypedArrayObject.cpp
  js/src/vm/Uint8Clamped.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 3: Make uint8_clamped and float16 more like built-in scalar types. r=spidermonkey-reviewers,jandem
  js/src/builtin/DataViewObject.cpp
  js/src/jit/MIR.cpp
  js/src/jit/VMFunctions.cpp
  js/src/jit/shared/AtomicOperations-shared-jit.h
  js/src/jsmath.cpp
  js/src/vm/Float16.h
  js/src/vm/TypedArrayObject-inl.h
  js/src/vm/TypedArrayObject.cpp
  js/src/vm/Uint8Clamped.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 6: Avoid duplicated store code in ElementSpecific. r=spidermonkey-reviewers,jandem
  js/src/vm/TypedArrayObject-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 7: Use bitwise copying in SetFromTypedArray when the bit-level representation is compatible. r=spidermonkey-reviewers,jandem
  js/src/vm/SelfHosting.cpp
  js/src/vm/TypedArrayObject-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 5: Make ConvertNumber more readable. r=spidermonkey-reviewers,jandem
  js/src/vm/TypedArrayObject-inl.h
  js/src/vm/TypedArrayObject.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 8: Avoid generating unused code in ElementSpecific::store. r=spidermonkey-reviewers,jandem
  js/src/vm/TypedArrayObject-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 9: Share UnsignedSortValue for all floating point types. r=spidermonkey-reviewers,jandem
  js/src/vm/TypedArrayObject.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908073 - Part 10: Use std::numeric_limits for TypedArraySort type checks. r=spidermonkey-reviewers,jandem
  js/src/vm/TypedArrayObject.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908074 - Part 1: Support CountingSort for Float16Array. r=spidermonkey-reviewers,jandem
  js/src/vm/TypedArrayObject.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908074 - Part 2: Call CountingSort for large arrays. r=spidermonkey-reviewers,jandem
  js/src/tests/non262/TypedArray/shell.js
  js/src/tests/non262/TypedArray/sort_large_countingsort.js
  js/src/vm/TypedArrayObject.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1909014: Don't serialize `content-visibility: hidden` text. r=emilio
  dom/serializers/nsDocumentEncoder.cpp
  testing/web-platform/tests/selection/selection-content-visibility-hidden.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

No bug - Tagging 43bc5d46c2c03cc72e8e36dd8990c0dd339c77cc with FIREFOX_128_0_2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1908231 - Fix assertion in CopySamples. r=chunmin
  dom/media/webcodecs/AudioData.cpp
  dom/media/webcodecs/crashtests/1908231.html
  dom/media/webcodecs/crashtests/crashtests.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1908232 - Actually use the size of the allocated buffer in bytes when copying samples, remove useless size check. r=chunmin
  dom/media/webcodecs/AudioData.cpp
  dom/media/webcodecs/crashtests/1908232.html
  dom/media/webcodecs/crashtests/crashtests.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1825477 - Allow to download the same file if previously failed. r=android-reviewers,tthibaud
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/AbstractFetchDownloadServiceTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1809667 - Increase duration limit for Jit tests on Android debug to 1 hour. r=jmaher DONTBUILD
  taskcluster/kinds/test/compiled.yml
Due: bugzilla-components, yaml

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Backed out 2 changesets (bug 1908232, bug 1908231) for causing bustage on AudioData.cpp
  dom/media/webcodecs/AudioData.cpp
  dom/media/webcodecs/crashtests/1908231.html
  dom/media/webcodecs/crashtests/1908232.html
  dom/media/webcodecs/crashtests/crashtests.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 8037dd2eabdf (bug 1909014) for causing multiple failures CLOSED TREE
  dom/serializers/nsDocumentEncoder.cpp
  testing/web-platform/tests/selection/selection-content-visibility-hidden.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1908719 - Make NS_DomainToDisplay and NS_DomainToASCII available to front end JS. r=necko-reviewers,jesup
  netwerk/dns/nsIDNService.cpp
  netwerk/dns/nsIIDNService.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908317 - Add XP_SOLARIS to media-related prefs r=padenot
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

No bug - Tagging 43bc5d46c2c03cc72e8e36dd8990c0dd339c77cc with FIREFOX-ANDROID_128_0_2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1907240 - Update probe FX_URLBAR_PROVIDER_CLIPBOARD_READ_TIME_MS expiring in Firefox 131 r=mak
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components

Bug 1909256 - Update FeatureManifest weatherLocationSearch to use setPref instead of fallbackPref a=dmeehan
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, yaml

Bug 1862911 - Disable restartDownloadFromAppNotificationAfterConnectionIsInterruptedTest UI test a=dmeehan
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1903633 - Integrate the UrlbarSearchTermsPersistence component with remote setting. r=jteow,firefox-desktop-core-reviewers
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/UrlbarSearchTermsPersistence.sys.mjs
  browser/components/urlbar/UrlbarSearchUtils.sys.mjs
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms_remote_settings_sync.js
  browser/components/urlbar/tests/unit/test_UrlbarSearchUtils.js
  browser/components/urlbar/tests/unit/test_urlbar_search_terms_persistence.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1905002 - Null-check mProxy in the XHR worker code a bit more intensely; a=dmeehan
  dom/xhr/XMLHttpRequestWorker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1895086 - Add testcase r=jandem
  js/src/jit-test/tests/gc/bug-1894916.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1908345 - Add --tests option to mach try perf. r=perftest-reviewers,kshampur
  tools/tryselect/selectors/perf.py
  tools/tryselect/selectors/perfselector/classification.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, tryselect

Bug 1908345 - Add tests for --tests test selection. r=perftest-reviewers,kshampur
  tools/tryselect/test/full-task-graph-perf-test.json
  tools/tryselect/test/test_perf.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, tryselect

Bug 1908345 - Add documentation about --tests option. r=perftest-reviewers,aglavic
  testing/perfdocs/generated/mach-try-perf.rst
  testing/performance/mach-try-perf/perfdocs/index.rst
  tools/tryselect/selectors/perf.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, rst, file-whitespace, tryselect

Bug 1837769 - Associate element with form only if intended parent in same tree. r=dom-core,avandolder
  parser/html/nsHtml5TreeBuilderCppSupplement.h
  parser/html/nsHtml5TreeOperation.cpp
  parser/html/nsHtml5TreeOperation.h
  testing/web-platform/meta/html/semantics/forms/form-control-infrastructure/form_owner_and_table_2.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1901039 - Add chromedriver 127. r=perftest-reviewers,taskgraph-reviewers,bhearsum,aglavic
  taskcluster/gecko_taskgraph/transforms/test/other.py
  taskcluster/kinds/fetch/browsertime.yml
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace, taskgraph-tests

Bug 1908631: Add test for dead code in table.fill. r=rhunt
  js/src/jit-test/tests/wasm/bug1908631.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1908947 - Add WorkerPrivate::GetTopLevelWorker() r=asuth
  dom/base/EventSource.cpp
  dom/bindings/BindingUtils.cpp
  dom/console/Console.cpp
  dom/notification/Notification.cpp
  dom/websocket/WebSocket.cpp
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908986 - Part 1: Fetch new Android translations information on locale change r=android-reviewers,giorga
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/middleware/TranslationsMiddleware.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/TranslationsMiddlewareTest.kt
Due: android-api-lint/opt, bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
