Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1914952: Grouping tabs doesn't fire TabMove event if position unchanged r=dao,dwalker,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1899589 - Remove `onProductUrl` r=geckoview-reviewers,calu
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
  mobile/android/geckoview_example/src/main/java/org/mozilla/geckoview_example/GeckoViewActivity.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1912989 - Vendor libwebrtc from 41b934fe37
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/rtp_transport_controller_send.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/goog_cc_network_control.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/goog_cc_network_control.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from 403220e111
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/infra/specs/internal.client.webrtc.json
  third_party/libwebrtc/infra/specs/mixins.pyl
  third_party/libwebrtc/infra/specs/waterfalls.pyl
Due: bugzilla-components

Bug 1912989 - Vendor libwebrtc from 546d15ae20
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1912989 - Vendor libwebrtc from 6f3103f23d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_processing/test/audio_processing_simulator.cc
  third_party/libwebrtc/modules/audio_processing/test/audio_processing_simulator.h
  third_party/libwebrtc/modules/audio_processing/test/audioproc_float_impl.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from 03ebfdf044
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/voip/BUILD.gn
  third_party/libwebrtc/api/voip/voip_engine_factory.cc
  third_party/libwebrtc/audio/voip/BUILD.gn
  third_party/libwebrtc/audio/voip/test/BUILD.gn
  third_party/libwebrtc/audio/voip/test/voip_core_unittest.cc
  third_party/libwebrtc/audio/voip/voip_core.cc
  third_party/libwebrtc/audio/voip/voip_core.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from 3f91288883
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1912989 - Vendor libwebrtc from 633a41ff8e
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0112.patch
  third_party/libwebrtc/moz-patch-stack/0113.patch
  third_party/libwebrtc/moz-patch-stack/0114.patch
  third_party/libwebrtc/moz-patch-stack/0115.patch
  third_party/libwebrtc/moz-patch-stack/0116.patch
  third_party/libwebrtc/moz-patch-stack/0117.patch
  third_party/libwebrtc/moz-patch-stack/0118.patch
  third_party/libwebrtc/moz-patch-stack/0119.patch
  third_party/libwebrtc/moz-patch-stack/0120.patch
  third_party/libwebrtc/moz-patch-stack/0121.patch
  third_party/libwebrtc/moz-patch-stack/0122.patch
  third_party/libwebrtc/moz-patch-stack/0123.patch
  third_party/libwebrtc/moz-patch-stack/0124.patch
  third_party/libwebrtc/moz-patch-stack/633a41ff8e.no-op-cherry-pick-msg
Due: bugzilla-components

Backed out 2 changesets (bug 1914345) for causing Android reftests failures. CLOSED TREE
  dom/svg/test/getBBox-options-helper.svg
  dom/svg/test/mochitest.toml
  dom/svg/test/test_getBBox-options.html
  gfx/tests/reftest/reftest.list
  layout/reftests/svg/reftest.list
  layout/reftests/transform/reftest.list
  layout/svg/SVGGeometryFrame.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/svg/painting/reftests/paint-order-002.svg.ini
  testing/web-platform/meta/svg/types/scripted/SVGGraphicsElement.getBBox-05.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, yaml, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from c2c581753a
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1912989 - Vendor libwebrtc from 6dfb8c131a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from ff2bf4b195
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_mixer/frame_combiner.cc
  third_party/libwebrtc/modules/audio_mixer/frame_combiner.h
  third_party/libwebrtc/modules/audio_mixer/frame_combiner_unittest.cc
  third_party/libwebrtc/modules/audio_processing/agc2/limiter.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from 6e37ee34d1
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/video_coding/codecs/av1/libaom_av1_encoder.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from b2c4f5469c
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/infra/config/config.star
  third_party/libwebrtc/infra/config/cr-buildbucket.cfg
  third_party/libwebrtc/infra/config/project.cfg
Due: bugzilla-components

Bug 1873984 - Fix dom/security/test/general/test_same_site_cookies_cross_origin_context.html when blocking 3pc by default in TCP. r=bvandersloot
  dom/security/test/general/file_same_site_cookies_cross_origin_context.sjs
  dom/security/test/general/test_same_site_cookies_cross_origin_context.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1907326 - Update default GeckoView cookieBehavior preferences to BEHAVIOR_REJECT_TRACKER_AND_PARTITION_FOREIGN (5) to mirror Desktop. r=bvandersloot,geckoview-reviewers,owlish
  mobile/android/app/geckoview-prefs.js
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/ContentBlocking.java
  mobile/android/geckoview_example/src/main/java/org/mozilla/geckoview_example/GeckoViewActivity.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1899969 - Remove android exceptions for web-platform/tests/cookies/partitioned-cookies/partitioned-cookies.tentative.https.html. r=bvandersloot
  testing/web-platform/meta/cookies/partitioned-cookies/partitioned-cookies.tentative.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1873986 - Fix dom/tests/mochitest/fetch/ when by blocking 3pc by default in TCP. r=bvandersloot,necko-reviewers,tschuster,kershaw
  build/pgo/certs/cert9.db
  build/pgo/certs/key4.db
  build/pgo/certs/mochitest.client
  build/pgo/server-locations.txt
  dom/tests/mochitest/fetch/mochitest.toml
  dom/tests/mochitest/fetch/test_fetch_cors.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1907326 - Fix WPT exceptions after default GeckoView cookieBehavior change to 5. r=bvandersloot
  dom/serviceworkers/test/mochitest.toml
  testing/web-platform/meta/IndexedDB/idb-partitioned-basic.sub.html.ini
  testing/web-platform/meta/cookies/samesite/sandbox-iframe-nested.https.html.ini
  testing/web-platform/meta/cookies/samesite/sandbox-iframe-subresource.https.html.ini
  testing/web-platform/meta/cookies/third-party-cookies/third-party-cookies.tentative.https.html.ini
  testing/web-platform/meta/service-workers/service-worker/partitioned-claim.tentative.https.html.ini
  testing/web-platform/meta/service-workers/service-worker/partitioned-getRegistrations.tentative.https.html.ini
  testing/web-platform/meta/service-workers/service-worker/partitioned.tentative.https.html.ini
  testing/web-platform/meta/webmessaging/broadcastchannel/cross-partition.https.tentative.html.ini
  testing/web-platform/meta/webstorage/localstorage-about-blank-3P-iframe-opens-3P-window.partitioned.html.ini
  testing/web-platform/meta/webstorage/localstorage-basic-partitioned.sub.html.ini
  testing/web-platform/meta/webstorage/sessionStorage-basic-partitioned.sub.html.ini
  testing/web-platform/meta/workers/shared-worker-partitioned-cookies.tentative.https.html.ini
  testing/web-platform/meta/workers/shared-worker-partitioned.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1873982 - Fix dom/security/test/cors/test_CrossSiteXHR.html when blocking 3pc by default in TCP. r=bvandersloot,necko-reviewers,tschuster,kershaw
  dom/security/test/cors/file_CrossSiteXHR_inner.html
  dom/security/test/cors/mochitest.toml
  dom/security/test/cors/test_CrossSiteXHR.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1911068 - Utilize expanded attribute on History and Sync Tabs cards r=sidebar-reviewers,nsharpley
  browser/components/sidebar/sidebar-history.mjs
  browser/components/sidebar/sidebar-syncedtabs.mjs
  browser/components/sidebar/tests/browser/browser_history_sidebar.js
  browser/components/sidebar/tests/browser/browser_syncedtabs_sidebar.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1910733 - Update content area and sidebar panel to have a border and box shadow. r=sidebar-reviewers,desktop-theme-reviewers,tabbrowser-reviewers,dao,sclements
  browser/components/sidebar/sidebar-main.css
  browser/components/sidebar/sidebar.css
  browser/themes/addons/dark/manifest.json
  browser/themes/addons/light/manifest.json
  browser/themes/shared/browser-custom-colors.css
  browser/themes/shared/browser-shared.css
  browser/themes/shared/sidebar.css
  browser/themes/shared/tabbrowser/content-area.css
Due: bugzilla-components

Bug 1900426 - Implement DnD for shadow-crossing selection r=jjaschke,smaug,dom-core
  dom/base/nsContentAreaDragDrop.cpp
  dom/base/nsContentUtils.h
  dom/base/nsCopySupport.cpp
  dom/base/nsRange.cpp
  dom/base/nsRange.h
  dom/base/test/mochitest.toml
  dom/base/test/test_drag_drop_shadow_crossing_selection.html
  dom/serializers/nsDocumentEncoder.cpp
  dom/webidl/Range.webidl
  dom/webidl/Selection.webidl
  layout/base/PresShell.cpp
  testing/mochitest/tests/SimpleTest/EventUtils.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, mochitest-harness

Bug 1914345 Part 1 - create a pref to allow using moz2d to determine stroke bounds r=emilio
  dom/svg/test/mochitest.toml
  dom/svg/test/test_getBBox-options.html
  gfx/tests/reftest/reftest.list
  layout/reftests/svg/reftest.list
  layout/reftests/transform/reftest.list
  layout/svg/SVGGeometryFrame.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/svg/painting/reftests/paint-order-002.svg.ini
  testing/web-platform/meta/svg/types/scripted/SVGGraphicsElement.getBBox-05.html.ini
  testing/web-platform/tests/svg/types/scripted/SVGGraphicsElement.getBBox-05.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, wptlint-gecko, yaml, file-whitespace, file-perm

Bug 1914345 Part 2 - enable moz2d stroke bounds on nightly r=emilio
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1898251 - Add animations for sidebar 'launcher' in 'Always show' mode r=desktop-theme-reviewers,reusable-components-reviewers,sidebar-reviewers,dao,hjones,nsharpley
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-main.css
  browser/themes/shared/browser-shared.css
  browser/themes/shared/sidebar.css
  toolkit/content/widgets/moz-button/moz-button.mjs
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1912983: Compensate for a few unified build issues to avoid patching sources. r=ng
  netwerk/sctp/src/moz.build
Due: bugzilla-components

Bug 1912983: Update libusrsctp to latest. r=ng
  netwerk/sctp/src/moz.yaml
  netwerk/sctp/src/netinet/sctp_asconf.c
  netwerk/sctp/src/netinet/sctp_bsd_addr.c
  netwerk/sctp/src/netinet/sctp_header.h
  netwerk/sctp/src/netinet/sctp_indata.c
  netwerk/sctp/src/netinet/sctp_input.c
  netwerk/sctp/src/netinet/sctp_output.c
  netwerk/sctp/src/netinet/sctp_output.h
  netwerk/sctp/src/netinet/sctp_pcb.c
  netwerk/sctp/src/netinet/sctp_pcb.h
  netwerk/sctp/src/netinet/sctp_sysctl.c
  netwerk/sctp/src/netinet/sctp_usrreq.c
  netwerk/sctp/src/netinet/sctputil.c
  netwerk/sctp/src/netinet6/sctp6_usrreq.c
  netwerk/sctp/src/user_environment.h
  netwerk/sctp/src/user_socketvar.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1914967 - Send first-session ping in install referrer metrics service. r=amejiamarmol,zmckenney,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/FirstSessionPing.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/InstallReferrerMetricsService.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/FirstSessionPingTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1914967 - Send first-session ping in install referrer metrics service. r=amejiamarmol,zmckenney,android-reviewers a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/FirstSessionPing.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/InstallReferrerMetricsService.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/FirstSessionPingTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1913624 - Remove expired telemetry histogram MEDIA_GMP_UPDATE_CONTENT_PROCESS_HAS_H264, r=TravisLong,aosmond.
  dom/media/gmp/GMPServiceParent.cpp
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1913624 - Remove expired telemetry histogram FX_TAB_SWITCH_REQUEST_TAB_WARMING_STATE, r=TravisLong,mconley.
  browser/components/tabbrowser/AsyncTabSwitcher.sys.mjs
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components

Bug 1913624 - Remove expired telemetry histogram TABS_AUDIO_COMPETITION, r=media-playback-reviewers,TravisLong,alwu.
  dom/media/mediacontrol/AudioFocusManager.cpp
  dom/media/mediacontrol/AudioFocusManager.h
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from b0a1d8b609
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/media/sctp/dcsctp_transport.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1912989 - Vendor libwebrtc from f79120a5f8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/infra/specs/client.webrtc.json
  third_party/libwebrtc/infra/specs/internal.client.webrtc.json
  third_party/libwebrtc/infra/specs/mixins.pyl
  third_party/libwebrtc/infra/specs/mixins_webrtc.pyl
  third_party/libwebrtc/infra/specs/tryserver.webrtc.json
  third_party/libwebrtc/infra/specs/variants.pyl
Due: bugzilla-components

Bug 1912989 - Vendor libwebrtc from ed1801492d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_base/openssl_stream_adapter.h
  third_party/libwebrtc/rtc_base/ssl_stream_adapter.h
  third_party/libwebrtc/rtc_base/ssl_stream_adapter_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
