Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1905069 - add a desktop-only webcompat JS intervention for one.geekie.com.br; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/injections/js/bug1905069-one.geekie.com.br-chrome-shims.js
  browser/extensions/webcompat/moz.build
  testing/webcompat/interventions/tests/test_1905069_one_geekie_com_br.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1902382 - add a UA override for flash.puffin.com/store; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1902382_flash_puffin_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1902397 - add a UA override for www.e-src.net; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1902397_e-src_net.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1898946 - add a JS UA intervention for transcrib.io; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/injections/js/bug1898946-transcrib.io-chrome-shim.js
  browser/extensions/webcompat/moz.build
  testing/webcompat/interventions/tests/test_1898946_transcrib_io.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1902459 - add a desktop-only UA override for coupangplay.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1902459_coupangplay_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1904935 - add rubyslots.com to our Android intervention for casino sites; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1830739_1904935_rubyslots_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1898956 - remove intervention for avanabayview.com (site appears to be defunct); r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1784199_118617_avanabayview_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1950301 - add a JS UA intervention for shamir.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/injections/js/bug1950301-shamir.com-ua-overrides.js
  browser/extensions/webcompat/moz.build
  testing/webcompat/interventions/tests/test_1950301_shamir_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1951034 - proactively disable our InstallTrigger webcompat interventions when they aren't necessary; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/lib/intervention_helpers.js
  testing/webcompat/client.py
  testing/webcompat/interventions/tests/test_1793761_schoolnutritionandfitness_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1951025 - automated test fixes for webcompat interventions; r=denschub
  testing/webcompat/client.py
  testing/webcompat/fixtures.py
  testing/webcompat/interventions/tests/test_1899945_nytimes_com.py
  testing/webcompat/interventions/tests/test_1934189_fdj_fr.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1898912 - remove webcompat intervention for 7streetbrownstones.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1784199_129553_7streetbrownstones_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1844503 - add 16 more sites to our nicochannel intervention; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/client.py
  testing/webcompat/interventions/tests/test_1844503_184450311_quizknock-schole_com.py
  testing/webcompat/interventions/tests/test_1844503_184450312_salon-de-horizon_jp.py
  testing/webcompat/interventions/tests/test_1844503_184450313_sakuraknights_com.py
  testing/webcompat/interventions/tests/test_1844503_184450314_sae-okazaki_com.py
  testing/webcompat/interventions/tests/test_1844503_184450315_styleparty-fc_jp.py
  testing/webcompat/interventions/tests/test_1844503_184450316_banbanzai-fc_com.py
  testing/webcompat/interventions/tests/test_1844503_184450317_tokinosora-fc_com.py
  testing/webcompat/interventions/tests/test_1844503_184450318_itomiku-fc_jp.py
  testing/webcompat/interventions/tests/test_1844503_184450319_kyoten-waku-officialfc_com.py
  testing/webcompat/interventions/tests/test_1844503_184450320_serina-official_com.py
  testing/webcompat/interventions/tests/test_1844503_184450321_shibuya-abemas_com.py
  testing/webcompat/interventions/tests/test_1844503_184450322_maziyabacity_com.py
  testing/webcompat/interventions/tests/test_1844503_184450323_kawahara-no_jp.py
  testing/webcompat/interventions/tests/test_1844503_184450324_ahnbohyun-fc_com.py
  testing/webcompat/interventions/tests/test_1844503_184450325_suzuka-ouji-officialfc_com.py
  testing/webcompat/interventions/tests/test_1844503_184450326_tymstorage_jp.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1930429 - remove ambrahealth.com from the list of sites for our InstallTrigger intervention; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/interventions.json
  testing/webcompat/interventions/tests/test_1930429_19304291_wcinyp_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304292_jhhsimagesharing_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304293_cf_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304294_houseinstitute_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304295_access_ambrahealth_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1943422 - Rewrite parent-child nimbus store tests to be multi-process r=nimbus-reviewers,emcminn
  toolkit/components/nimbus/test/browser/browser.toml
  toolkit/components/nimbus/test/browser/browser_experiment_evaluate_jexl.js
  toolkit/components/nimbus/test/browser/browser_experiment_single_feature_enrollment.js
  toolkit/components/nimbus/test/browser/browser_experimentapi_child.js
  toolkit/components/nimbus/test/browser/browser_experimentstore_load.js
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_prefs.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_force_enrollment.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_init.js
  toolkit/components/nimbus/test/browser/head.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1950734 - Make MSIX builds skip the AUMID altering steps in taskbar pinning as it's unnecessary r=nrishel
  browser/components/shell/Windows11TaskbarPinning.cpp
  browser/components/shell/nsIWindowsShellService.idl
  browser/components/shell/nsWindowsShellService.cpp
  browser/components/shell/test/browser.toml
  browser/components/shell/test/browser_processAUMID.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1902241 - Improve dump() serialization of XPCNativeWrapper (Components.Exception) r=mccr8,devtools-reviewers,ochameau
  dom/console/Console.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952984 - Backport fix for #95133 to fix builds with Windows SDK 26100. r=firefox-build-system-reviewers,glandium
  build/build-clang/clang-19.json
  build/build-clang/clang-20.json
  build/build-clang/llvmorg-21-init-2651-gbac417107339.patch
Due: bugzilla-components

Bug 1943394 - Hook up model to generate preview content r=firefox-ai-ml-reviewers,atossou,txia
  browser/components/genai/LinkPreview.sys.mjs
  browser/components/genai/LinkPreviewModel.sys.mjs
  browser/components/genai/moz.build
  browser/components/genai/tests/xpcshell/test_link_preview_text.js
  browser/components/genai/tests/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
