Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Backed out changeset 008b6be05bbb (bug 1898682) for causing fenix lint failures. CLOSED TREE
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/viewholders/CustomizeHomeButtonViewHolder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/dimens.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1897290 - Migrate LABELS_NETWORK_HTTP_REDIRECT_TO_SCHEME probe to glean r=valentin,necko-reviewers
  netwerk/base/nsIOService.cpp
  netwerk/metrics.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Backed out changeset ef78d9b8416f (bug 1898018) for causing build bustages @ TlsHandshaker.cpp CLOSED TREE
  netwerk/protocol/http/TlsHandshaker.cpp
  netwerk/protocol/http/TlsHandshaker.h
  netwerk/protocol/http/metrics.yaml
  netwerk/protocol/http/nsHttpConnection.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1902968 - fix minor typos in http3.md r=necko-reviewers,kershaw DONTBUILD
  netwerk/docs/http/http3.md
Due: bugzilla-components

Bug 1888178 - make swapchain texture creation error handling more robust. r=webgpu-reviewers,nical
  gfx/wgpu_bindings/src/server.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes - r=release-managers,dmeehan
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 37662a2053c1 (bug 1897290) for causing build bustages @ nsIOService.cpp CLOSED TREE
  netwerk/base/nsIOService.cpp
  netwerk/metrics.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1902974 - Don't allow a hyphenation break to be used at start-of-line. r=layout-reviewers,emilio
  gfx/thebes/gfxTextRun.cpp
  testing/web-platform/tests/css/css-text/hyphens/hyphens-vs-float-clearance-001.html
  testing/web-platform/tests/css/css-text/hyphens/hyphens-vs-float-clearance-002.html
  testing/web-platform/tests/css/css-text/hyphens/reference/hyphens-vs-float-clearance-001-ref.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1901624 - Land the testcase here as a crashtest. r=dholbert
  testing/web-platform/tests/css/css-inline/firefox-bug-1901624-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1902801 - Update cubeb-coreaudio-rs to f8a4ec05e5. r=cubeb-reviewers,padenot
  .cargo/config.toml.in
  Cargo.lock
  third_party/rust/cubeb-coreaudio/.cargo-checksum.json
  third_party/rust/cubeb-coreaudio/src/backend/device_property.rs
  toolkit/library/rust/shared/Cargo.toml
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1898570 - Update to Glean v60.3.0 r=chutten,supply-chain-reviewers,mach-reviewers,android-reviewers,tthibaud
  Cargo.lock
  gfx/wr/Cargo.lock
  gfx/wr/webrender/Cargo.toml
  gfx/wr/wr_glyph_rasterizer/Cargo.toml
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  python/sites/mach.txt
  supply-chain/imports.lock
  third_party/rust/glean-core/.cargo-checksum.json
  third_party/rust/glean-core/Cargo.toml
  third_party/rust/glean-core/src/core/mod.rs
  third_party/rust/glean-core/src/glean.udl
  third_party/rust/glean-core/src/lib.rs
  third_party/rust/glean-core/src/lib_unit_tests.rs
  third_party/rust/glean-core/src/metrics/ping.rs
  third_party/rust/glean-core/tests/common/mod.rs
  third_party/rust/glean-core/tests/event.rs
  third_party/rust/glean-core/tests/ping_maker.rs
  third_party/rust/glean/.cargo-checksum.json
  third_party/rust/glean/Cargo.toml
  third_party/rust/glean/src/configuration.rs
  third_party/rust/glean/src/lib.rs
  third_party/rust/glean/src/test.rs
  toolkit/components/glean/Cargo.toml
  toolkit/components/glean/api/Cargo.toml
  toolkit/components/glean/api/src/common_test.rs
Due: android-api-lint/opt, bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1897219 - FOG: Pass the ride-along-pings map to the Glean SDK r=chutten
  toolkit/components/glean/api/src/private/ping.rs
  toolkit/components/glean/build_scripts/glean_parser_ext/templates/rust_pings.jinja2
  toolkit/components/glean/src/init/mod.rs
  toolkit/components/glean/tests/gtest/TestFog.cpp
  toolkit/components/glean/tests/gtest/test.rs
  toolkit/components/glean/tests/pytest/jogfile_output
  toolkit/components/glean/tests/pytest/pings_test.yaml
  toolkit/components/glean/tests/pytest/pings_test_output
  toolkit/components/glean/tests/pytest/pings_test_output_cpp
  toolkit/components/glean/tests/pytest/pings_test_output_js_cpp
  toolkit/components/glean/tests/pytest/pings_test_output_js_h
  toolkit/components/glean/tests/xpcshell/test_Glean.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, rustfmt, file-whitespace, file-perm

Bug 1890846 - Hide redesigned toolbar when playing fullscreen video r=mavduevskiy,android-reviewers,Roger
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1897219 - Fix build bustages.
  toolkit/components/glean/tests/gtest/test.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Backed out changeset 623684709fe4 (bug 1901791) for causing build bustages @ TestPACMan.cpp CLOSED TREE
  netwerk/test/gtest/TestPACMan.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901129 - Restore #PlacesToolbarDropIndicatorHolder styling that was accidentally moved to #PlacesToolbarDropIndicator. r=emilio,desktop-theme-reviewers
  browser/themes/shared/browser-shared.css
Due: bugzilla-components

Bug 1871054 - Dont show suggestions for single character query. r=daisuke
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchSuggestions.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1902847 - Handle non MOZ_PROFILING builds with no stack r=padenot
  tools/profiler/core/platform.cpp
  tools/profiler/docs/sandbox.rst
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rst, file-whitespace, file-perm

Bug 1902191 - Update clear data dialog telemetry expire cycle to 134. r=pbz
  browser/base/content/metrics.yaml
Due: bugzilla-components, yaml

Bug 1903034 - Call DropJSObjects after a promise callback has been called r=mccr8
  dom/bindings/CallbackObject.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1894816 - tab counter center text r=android-reviewers,Roger
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/TabCounter.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1901765 - [devtools] Don't display Copy Rule in context menu when there's no rule for the target. r=devtools-reviewers,ochameau.
  devtools/client/inspector/rules/test/browser_rules_copy_styles.js
  devtools/client/inspector/shared/style-inspector-menu.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1901791 - Guard WPADOptionResult with a static mutex to prevent data race r=kershaw,necko-reviewers
  netwerk/test/gtest/TestPACMan.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902674 - Fix alignment of radio buttons in moz-radio button on Windows. r=tgiles,reusable-components-reviewers
  toolkit/content/widgets/moz-radio-group/moz-radio.css
Due: bugzilla-components

Bug 1891670 - Expose crossGroupOpener on CanonicalBrowsingContext. r=dom-core,tabbrowser-reviewers,peterv
  browser/components/tabbrowser/content/tabbrowser.js
  docshell/base/CanonicalBrowsingContext.cpp
  docshell/base/CanonicalBrowsingContext.h
  docshell/test/browser/browser.toml
  docshell/test/browser/browser_crossGroupOpener.js
  dom/chrome-webidl/BrowsingContext.webidl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1824053 - [1/4] Remove Win32 implementation of nsIWidget::SetBackgroundColor() r=win-reviewers,handyman
  widget/nsIWidget.h
  widget/windows/nsWindow.cpp
  widget/windows/nsWindow.h
  xpfe/appshell/AppWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1824053 - [2/4] Cloak and clear new windows on creation r=win-reviewers,handyman
  widget/windows/nsWindow.cpp
  widget/windows/nsWindow.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1824053 - [3/4] DRY up skeleton-ui dynamic-resolution code r=glandium,win-reviewers,handyman
  mozglue/misc/PreXULSkeletonUI.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1824053 - [4/4] cloak and clear new window before showing it r=win-reviewers,handyman
  mozglue/misc/PreXULSkeletonUI.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1898807 - [puppeteer] Fix build error for broken types in tsc:build. r=webdriver-reviewers,alexrudenko,jdescottes DONTBUILD
  remote/test/puppeteer/tsconfig.base.json
Due: bugzilla-components

Bug 1890857 - Add felt privacy mask badge in navigation bar r=android-reviewers,harrisono,ohall
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavigationBar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/TabCounter.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1898018 - Migrate probes TLS_EARLY_DATA_NEGOTIATED, TLS_EARLY_DATA_ACCEPTED, and TLS_EARLY_DATA_BYTES_WRITTEN to glean r=valentin,necko-reviewers,kershaw
  netwerk/protocol/http/TlsHandshaker.cpp
  netwerk/protocol/http/TlsHandshaker.h
  netwerk/protocol/http/metrics.yaml
  netwerk/protocol/http/nsHttpConnection.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1902023 - Update isTranslateProcessing to Clear on page load r=android-reviewers,calu
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineObserver.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/TranslationsStateReducer.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/action/TranslationsActionTest.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/EngineObserverTest.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/EngineSession.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1900592 - Teach FFmpegVideoEncoder to force a key frame. r=chunmin
  dom/media/platforms/ffmpeg/FFmpegVideoEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900477 - disable browser_tab_manager_keyboard_access.js for frequent failures. r=intermittent-reviewers,jmaher DONTBUILD
  browser/components/tabbrowser/test/browser/tabs/browser.toml
Due: bugzilla-components

Bug 1902896 - Use system-ui font-family when appropriate. r=desktop-theme-reviewers,omc-reviewers,home-newtab-reviewers,dao,aminomancer,thecount
  browser/components/aboutwelcome/content-src/aboutwelcome.scss
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/asrouter/content-src/components/ASRouterAdmin/ASRouterAdmin.scss
  browser/components/asrouter/content/components/ASRouterAdmin/ASRouterAdmin.css
  browser/components/ion/content/ion.css
  browser/components/newtab/content-src/styles/_activity-stream.scss
  browser/components/newtab/css/activity-stream-linux.css
  browser/components/newtab/css/activity-stream-mac.css
  browser/components/newtab/css/activity-stream-windows.css
  browser/extensions/screenshots/build/inlineSelectionCss.js
  toolkit/themes/shared/aboutReader.css
  toolkit/themes/shared/pictureinpicture/player.css
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1902114 - Update AndroidX Compose BOM to 2024.06.00. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1901811 - Update Sentry to version 7.10.0. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1902303 - Focus browser before taking screenshot. r=sfoster
  browser/components/screenshots/ScreenshotsUtils.sys.mjs
  browser/components/screenshots/screenshots-buttons.js
  browser/components/screenshots/tests/browser/browser_text_selectionAPI_test.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1900381 - Remove (direct) mainPopupset oncommand inline event handlers. r=Gijs
  browser/base/content/browser.js
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/main-popupset.js
  browser/base/jar.mn
Due: bugzilla-components, codespell, eslint, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
