Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1928512 - Use opaque backstop color for page canvas background. r=dholbert, a=dmeehan
  layout/generic/nsPageContentFrame.cpp
  testing/web-platform/meta/css/css-page/pseudo-first-margin-004-print.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1928512 - Use opaque backstop color for page canvas background. r=dholbert, a=RyanVM
  layout/generic/nsPageContentFrame.cpp
  testing/web-platform/meta/css/css-page/pseudo-first-margin-004-print.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-nb-rNO/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-kab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-nb-rNO/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1929483 - build(rust): update `syn` to 2.0.86 → 2.0.87 r=supply-chain-reviewers
  Cargo.lock
  supply-chain/imports.lock
  third_party/rust/syn/.cargo-checksum.json
  third_party/rust/syn/Cargo.toml
  third_party/rust/syn/src/buffer.rs
  third_party/rust/syn/src/data.rs
  third_party/rust/syn/src/expr.rs
  third_party/rust/syn/src/lib.rs
  third_party/rust/syn/src/scan_expr.rs
  third_party/rust/syn/tests/common/eq.rs
  third_party/rust/syn/tests/test_precedence.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1929483 - build(rust): update `thiserror` 1.0.66 → 1.0.68 r=supply-chain-reviewers
  Cargo.lock
  supply-chain/imports.lock
  third_party/rust/thiserror-impl/.cargo-checksum.json
  third_party/rust/thiserror-impl/Cargo.toml
  third_party/rust/thiserror-impl/src/attr.rs
  third_party/rust/thiserror-impl/src/fmt.rs
  third_party/rust/thiserror-impl/src/generics.rs
  third_party/rust/thiserror-impl/src/lib.rs
  third_party/rust/thiserror-impl/src/scan_expr.rs
  third_party/rust/thiserror/.cargo-checksum.json
  third_party/rust/thiserror/Cargo.toml
  third_party/rust/thiserror/src/lib.rs
  third_party/rust/thiserror/tests/test_expr.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

no bug - fix typo failure for Import translations from android-l10n r=release a=l10n.
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-nb-rNO/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 1ecf6afb4dc7 for causing failures.
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-nb-rNO/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1927405 - Simplify and optimize OrderedHashTable::clear. r=jonco
  js/src/ds/OrderedHashTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1927464 part 1 - Remove DataSlot check from MapObject::is and SetObject::is. r=jonco
  js/src/builtin/MapObject.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 2 - Remove dead code from OrderedHashTable. r=jonco
  js/src/ds/OrderedHashTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 3 - Allocate the HashCodeScrambler in the malloced buffer. r=jonco
  js/src/builtin/MapObject.cpp
  js/src/ds/OrderedHashTable.h
  js/src/jit/MacroAssembler.cpp
  js/src/jsapi-tests/testHashTable.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 6 - Add updateHashTableForRekey to share code for rekey and rekeyOneEntry. r=jonco
  js/src/ds/OrderedHashTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 5 - Add offsetOfRange and offsetOfTarget to MapIteratorObject and SetIteratorObject. r=jonco
  js/src/builtin/MapObject.h
  js/src/jit/CodeGenerator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 4 - Minor changes to prepare for later parts. r=jonco
  js/src/ds/OrderedHashTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 8 - Replace ValueMap/ValueSet with MapObject::Table/SetObject::Table. r=jonco
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/jit/CodeGenerator.cpp
  js/src/jit/MacroAssembler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 7 - Store OrderedHashTable fields in reserved slots on MapObject/SetObject. r=jonco
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
  js/src/builtin/OrderedHashTableObject.h
  js/src/jit/CodeGenerator.cpp
  js/src/jit/CodeGenerator.h
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
  js/src/jit/VMFunctions.cpp
  js/src/jsapi-tests/testHashTable.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 10 - Rename MemoryUse::MapObjectTable to MemoryUse::MapObjectData. r=jonco
  js/src/builtin/OrderedHashTableObject.h
  js/src/gc/GCEnum.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 9 - Make remove and clear operations infallible. r=jonco
  js/src/builtin/MapObject.cpp
  js/src/builtin/OrderedHashTableObject.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 12 - Report OOM and allocation overflow directly from the ordered hash table code. r=jonco
  js/src/builtin/MapObject.cpp
  js/src/builtin/OrderedHashTableObject.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927464 part 11 - Add SetObject::addHashableValue. r=jonco
  js/src/builtin/MapObject.cpp
  js/src/builtin/MapObject.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928092 - QM: Add a new artificial failure for CreateDirectoryMetadata2; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
  dom/quota/nsIQuotaArtificialFailure.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928092 - QM: Add a new artificial failure for CreateDirectoryMetadata2; r=dom-storage-reviewers,asuth, a=dmeehan
  dom/quota/ActorsParent.cpp
  dom/quota/nsIQuotaArtificialFailure.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928092 - QM: Add temporary origin to cached origins even if directory metadata creation fails; r=dom-storage-reviewers,asuth, a=dmeehan
  dom/quota/ActorsParent.cpp
  dom/quota/OriginOperations.cpp
  dom/quota/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928092 - QM: Add temporary origin to cached origins even if directory metadata creation fails; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
  dom/quota/OriginOperations.cpp
  dom/quota/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928092 - QM: Add a disabled test for a failure during temporary origin initialization; r=dom-storage-reviewers,asuth
  dom/quota/test/xpcshell/test_initializeTemporaryOrigin_failure.js
  dom/quota/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928092 - QM: Add a disabled test for a failure during temporary origin initialization; r=dom-storage-reviewers,asuth, a=dmeehan
  dom/quota/test/xpcshell/test_initializeTemporaryOrigin_failure.js
  dom/quota/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1929622 - Improve error handling in SSO Cookie Parsing a=dmeehan
  netwerk/protocol/http/MicrosoftEntraSSOUtils.mm
Due: bugzilla-components, cpp-virtual-final, license, file-perm

Bug 1930367 - Fix typo in nsIFrame::ListGeneric logging. r=layout-reviewers,tnikkel
  layout/generic/nsIFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1929640 - Add a mode to CCGCScheduler where it can collect faster in case lots of garbage is created and there isn't too much idle time to run the slices, r=mccr8,sfink
  dom/base/CCGCScheduler.cpp
  dom/base/CCGCScheduler.h
  dom/base/nsJSEnvironment.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1930352 - Fix android lint failure. a=lint-fix CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-nb-rNO/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1930316 [wpt PR 49086] - DOM: Add moveBefore() live range update tests, a=testonly
  testing/web-platform/tests/dom/nodes/moveBefore/tentative/live-range-updates.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1930316 [wpt PR 49086] - Update wpt metadata, a=testonly
  testing/web-platform/meta/dom/nodes/moveBefore/tentative/live-range-updates.html.ini
Due: bugzilla-components, test-manifest
