Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1900619 - Follow up to add include. r=smolnar
  security/manager/ssl/nsPKCS12Blob.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916486 - Add logic to use Unified Ads endpoint for top sites spoc placements r=home-newtab-reviewers,thecount
  browser/components/newtab/lib/TopSitesFeed.sys.mjs
Due: bugzilla-components, newtab-unit-tests

Bug 1675235 - Remove telemetry tracking Application Panel usage, r=chutten.
  devtools/client/shared/telemetry.js
  toolkit/components/telemetry/Scalars.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm, devtools-tests

Bug 1918247 - Minor adjustments to slack_notifier.py script for milestone releases r=aaronmt
  taskcluster/kinds/release-notify-testrail/kind.yml
  taskcluster/scripts/slack_notifier.py
  taskcluster/scripts/testrail_main.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace, taskgraph-tests

Bug 1918473 - Add missing `await`s to install and uninstall background tasks. r=bytesized
  browser/modules/BackgroundTask_install.sys.mjs
  browser/modules/BackgroundTask_uninstall.sys.mjs
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1912338 - Fix titlebar separator hiding workaround on macOS 11. r=mac-reviewers,bradwerth
  widget/cocoa/nsCocoaWindow.h
  widget/cocoa/nsCocoaWindow.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912338 - Fix titlebar separator hiding workaround on macOS 11. r=mac-reviewers,bradwerth, a=dsmith
  widget/cocoa/nsCocoaWindow.h
  widget/cocoa/nsCocoaWindow.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915230 - Make animation and duration configurable. r=#sidebar-reviewers CLOSED TREE
  browser/app/profile/firefox.js
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/sidebar/browser-sidebar.js
Due: bugzilla-components, codespell, eslint, license, lintpref, py-compat, py-flake8, file-whitespace, file-perm

Bug 1918463: Fix `inset` auto-completion. r=firefox-style-system-reviewers,emilio
  layout/inspector/tests/test_bug877690.html
  servo/components/style/values/generics/position.rs
Due: bugzilla-components, codespell, eslint, license, rustfmt, file-whitespace, file-perm

Bug 1918242 - Add test to enforce no more expired Legacy Telemetry histograms, scalars, or events r=florian
  toolkit/components/telemetry/tests/python/python.toml
  toolkit/components/telemetry/tests/python/test_no_expired_probes.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1904288 - Allow to skip some tests in the pdfpaint task r=sparky,perftest-reviewers
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/scripts/misc/fetch-talos-pdfs.py
  testing/talos/talos/config.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace, taskgraph-tests

Bug 1918419: WPT tests for `position-try-fallbacks` should use canonical ordering. r=firefox-style-system-reviewers,emilio
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-fallbacks-computed.html.ini
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-fallbacks-parsing.html.ini
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-parsing.html.ini
  testing/web-platform/tests/css/css-anchor-position/parsing/position-try-fallbacks-computed.html
  testing/web-platform/tests/css/css-anchor-position/parsing/position-try-fallbacks-parsing.html
  testing/web-platform/tests/css/css-anchor-position/parsing/position-try-parsing.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm

Bug 1900229: Parse position-try shorthand. r=firefox-style-system-reviewers,emilio
  dom/base/use_counter_metrics.yaml
  layout/style/test/property_database.js
  servo/components/style/properties/shorthands/position.mako.rs
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-computed.html.ini
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-parsing.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-try-order-basic.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-try-order-position-area.html.ini
Due: bugzilla-components, codespell, eslint, license, test-manifest, yaml, rustfmt, file-whitespace, file-perm

Bug 1916794 - Scrape symbols from more Arch Linux packages r=gerard-majax
  taskcluster/kinds/fetch/toolchains.yml
Due: bugzilla-components, yaml

Bug 1917892, part 1 - Use https:// URLs in profiler tests. r=profiler-reviewers,mstange
  devtools/client/performance-new/test/browser/browser.toml
  devtools/client/performance-new/test/browser/browser_devtools-record-capture.js
  devtools/client/performance-new/test/browser/browser_devtools-record-discard.js
  devtools/client/performance-new/test/browser/browser_popup-profiler-states.js
  devtools/client/performance-new/test/browser/browser_popup-record-capture-view.js
  devtools/client/performance-new/test/browser/browser_popup-record-capture.js
  devtools/client/performance-new/test/browser/browser_popup-record-discard.js
  devtools/client/performance-new/test/browser/browser_split-toolbar-button.js
  devtools/client/performance-new/test/browser/helpers.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1917892, part 3 - Use SpecialPower.spawn in browser_remoteTroubleshoot.js. r=mconley
  browser/base/content/test/general/browser_remoteTroubleshoot.js
  browser/base/content/test/general/test_remoteTroubleshoot.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1917892, part 2 - Use https:// in browser_fxa_web_channel.js. r=sync-reviewers,lina
  browser/base/content/test/sync/browser_fxa_web_channel.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1918096 - Integrate SCContentSharingPicker into ScreenCapturerSck. r=webrtc-reviewers,padenot,dbaker
  third_party/libwebrtc/modules/desktop_capture/BUILD.gn
  third_party/libwebrtc/modules/desktop_capture/desktop_capture_options.h
  third_party/libwebrtc/modules/desktop_capture/desktop_capturer.cc
  third_party/libwebrtc/modules/desktop_capture/mac/sck_picker_handle.h
  third_party/libwebrtc/modules/desktop_capture/mac/sck_picker_handle.mm
  third_party/libwebrtc/modules/desktop_capture/mac/screen_capturer_sck.h
  third_party/libwebrtc/modules/desktop_capture/mac/screen_capturer_sck.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918096 - Generate libwebrtc moz.build files. r=webrtc-reviewers,ng,dbaker
  third_party/libwebrtc/modules/desktop_capture/desktop_capture_objc_gn/moz.build
Due: bugzilla-components

Bug 1917530 - Fix ESLint no-shadow issues in aboutwelcome code. r=omc-reviewers,emcminn
  browser/components/aboutwelcome/content-src/components/AddonsPicker.jsx
  browser/components/aboutwelcome/content-src/components/LanguageSwitcher.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/tests/unit/MRColorways.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAWProton.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAboutWelcome.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1917530 - Fix ESLint no-shadow issues in newtab code. r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/Base/Base.jsx
  browser/components/newtab/content-src/components/ContextMenu/ContextMenu.jsx
  browser/components/newtab/content-src/components/CustomizeMenu/ContentSection/ContentSection.jsx
  browser/components/newtab/content-src/components/CustomizeMenu/CustomizeMenu.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamAdmin/DiscoveryStreamAdmin.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSContextFooter/DSContextFooter.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/Navigation/Navigation.jsx
  browser/components/newtab/content-src/components/ModalOverlay/ModalOverlay.jsx
  browser/components/newtab/content-src/components/TopSites/SearchShortcutsForm.jsx
  browser/components/newtab/content-src/components/Topics/Topics.jsx
  browser/components/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/components/newtab/content-src/components/Weather/LocationSearch.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/cache.worker.js
  browser/components/newtab/test/unit/content-src/components/Card.test.jsx
  browser/components/newtab/test/unit/content-src/components/CollapsibleSection.test.jsx
  browser/components/newtab/test/unit/content-src/components/ContextMenu.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamAdmin.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/CardGrid.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSCard.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSContextFooter.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/ImpressionStats.test.jsx
  browser/components/newtab/test/unit/content-src/components/LinkMenu.test.jsx
  browser/components/newtab/test/unit/content-src/components/TopSites.test.jsx
  browser/components/newtab/test/unit/content-src/components/TopSites/TopSiteImpressionWrapper.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1917530 - Fix ESLint no-shadow issues in devtools code. r=devtools-reviewers,profiler-reviewers,frontend-codestyle-reviewers,nchevobbe,julienw,mossop
  .eslintrc-test-paths.js
  devtools/.eslintrc.js
  devtools/.eslintrc.xpcshell.js
  devtools/client/.eslintrc.js
  devtools/client/performance-new/shared/symbolication.worker.js
  devtools/server/actors/watcher/browsing-context-helpers.sys.mjs
  devtools/server/tracer/tracer.sys.mjs
  devtools/shared/worker/worker.sys.mjs
  devtools/startup/DevToolsStartup.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1917530 - Enable ESLint rule no-shadow by default across the tree, disabling where it currently fails. r=frontend-codestyle-reviewers,mossop
  .eslintrc-rollouts.js
  .eslintrc.js
  .stylelintrc.js
  accessible/tests/browser/.eslintrc.js
  browser/.eslintrc.js
  browser/components/aboutwelcome/.eslintrc.js
  browser/components/asrouter/.eslintrc.js
  browser/components/extensions/test/browser/.eslintrc.js
  browser/components/migration/.eslintrc.js
  browser/components/newtab/.eslintrc.js
  devtools/.eslintrc.js
  devtools/client/debugger/src/.eslintrc.js
  dom/indexedDB/test/.eslintrc.js
  toolkit/components/extensions/.eslintrc.js
  toolkit/components/extensions/test/browser/.eslintrc.js
  toolkit/components/extensions/test/mochitest/.eslintrc.js
  toolkit/components/narrate/.eslintrc.js
  toolkit/components/reader/.eslintrc.js
  tools/lint/eslint/.eslintrc.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/mochitest-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/xpcshell-test.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, mozlint

Bug 1917530 - Enable ESLint rule no-shadow on system modules where no-shadow is enabled already, and warn for remaining failures. r=frontend-codestyle-reviewers,mossop
  .eslintrc-rollouts.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1917532 - Remove overrides sections from *-test configurations in eslint-plugin-mozilla. r=frontend-codestyle-reviewers,mossop
  .eslintrc.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/browser-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/chrome-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/mochitest-test.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/xpcshell-test.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1575506 - Enable ESLint rule no-redeclare with builtinGlobals on all module and worker files. r=frontend-codestyle-reviewers,devtools-reviewers,nchevobbe,mossop
  .eslintrc-rollouts.js
  .eslintrc.js
  devtools/client/aboutdebugging/test/browser/resources/service-workers/push-sw.worker.js
  devtools/client/debugger/src/.eslintrc.js
  devtools/shared/loader/worker-loader.sys.mjs
  devtools/shared/worker/worker.sys.mjs
  package-lock.json
  services/sync/modules/resource.sys.mjs
  toolkit/components/utils/SimpleServices.sys.mjs
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/package-lock.json
  tools/lint/eslint/eslint-plugin-mozilla/package.json
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, debugger-tests, devtools-tests, eslint-plugin-mozilla, mozlint

Bug 1900619 - Don't use SHA1 for password integrity when creating modern crypto pkcs12 files. r=keeler
  security/manager/ssl/nsPKCS12Blob.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916551 - Update page action weight comment in BrowserFragment r=android-reviewers,twhite,harrisono
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1918096 - Wire up SCContentSharingPicker using Pipewire desktop capture UX. r=grulja,webrtc-reviewers,dbaker
  dom/media/systemservices/video_engine/desktop_capture_impl.cc
  dom/media/systemservices/video_engine/desktop_device_info.cc
  dom/media/webrtc/MediaEngineWebRTC.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1918096 - Reject gUM/gDM request if video track ends before first frame. r=webrtc-reviewers,dbaker
  dom/media/MediaManager.cpp
  dom/media/webrtc/MediaEngineRemoteVideoSource.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918519 - Rewrite Megalist dialogs. r=issammani
  toolkit/components/satchel/jar.mn
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/content/Dialog.mjs
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/megalist.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1892548 - disable browser_asrouter_infobar.js on Linux debug for frequent intermittent failures. r=intermittent-reviewers,omc-reviewers,ahal,hanna_a DONTBUILD
  browser/components/asrouter/tests/browser/browser.toml
Due: bugzilla-components

Bug 1916488 - Newtab discovery stream unified ads API r=home-newtab-reviewers,maxx
  browser/components/newtab/lib/DiscoveryStreamFeed.sys.mjs
Due: bugzilla-components, newtab-unit-tests

Bug 1841896 - Set zero margin and padding on <html> and <body> in helper_fission_plain.html. r=ajakobi
  gfx/layers/apz/test/mochitest/helper_fission_plain.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1841896 - Port helper_fission_animation_styling_in_transformed_oopif.html to a plain mochitest. r=ajakobi
  gfx/layers/apz/test/mochitest/browser_test_group_fission.js
  gfx/layers/apz/test/mochitest/helper_fission_animation_styling_in_transformed_oopif.html
  gfx/layers/apz/test/mochitest/test_group_fission.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1841896 - Port helper_fission_animation_styling_in_oopif.htm to a plain mochitest. r=ajakobi
  gfx/layers/apz/test/mochitest/browser_test_group_fission.js
  gfx/layers/apz/test/mochitest/helper_fission_animation_styling_in_oopif.html
  gfx/layers/apz/test/mochitest/test_group_fission.html
Due: bugzilla-components, codespell, eslint, license, file-perm
