Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1936051 - Part 2: Remove the reject-chromeutils-import-params rule. r=Standard8,frontend-codestyle-reviewers
  docs/code-quality/lint/linters/eslint-plugin-mozilla/rules/reject-chromeutils-import-params.rst
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/index.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/reject-chromeutils-import-params.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-chromeutils-import-params.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 3: Remove the reject-chromeutils-import rule. r=Standard8,frontend-codestyle-reviewers
  .eslintrc-rollouts.js
  docs/code-quality/lint/linters/eslint-plugin-mozilla/rules/reject-chromeutils-import.rst
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/index.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/reject-chromeutils-import.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-chromeutils-import.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 4: Remove the use-chromeutils-import rule. r=Standard8,frontend-codestyle-reviewers
  docs/code-quality/lint/linters/eslint-plugin-mozilla/rules/use-chromeutils-import.rst
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/index.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/use-chromeutils-import.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/use-chromeutils-import.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 5: Remove the reject-global-this rule. r=Standard8,frontend-codestyle-reviewers
  .eslintrc.js
  docs/code-quality/lint/linters/eslint-plugin-mozilla/rules/reject-global-this.rst
  tools/lint/eslint/eslint-plugin-mozilla/lib/configs/recommended.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/index.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/reject-global-this.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-global-this.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 6: Remove JSM handling from the reject-eager-module-in-lazy-getter rule. r=Standard8,frontend-codestyle-reviewers
  docs/code-quality/lint/linters/eslint-plugin-mozilla/rules/reject-eager-module-in-lazy-getter.rst
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/reject-eager-module-in-lazy-getter.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-eager-module-in-lazy-getter.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 8: Remove JSM handling from the no-redeclare-with-import-autofix rule. r=Standard8,frontend-codestyle-reviewers
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/no-redeclare-with-import-autofix.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/no-redeclare-with-import-autofix.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 7: Remove JSM handling from the use-isInstance rule. r=Standard8,frontend-codestyle-reviewers
  docs/code-quality/lint/linters/eslint-plugin-mozilla/rules/use-isInstance.rst
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/use-isInstance.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/use-isInstance.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 10: Remove JSM handling from the reject-mixing-eager-and-lazy rule. r=Standard8,frontend-codestyle-reviewers
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/reject-mixing-eager-and-lazy.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-mixing-eager-and-lazy.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 9: Remove JSM handling from the reject-lazy-imports-into-globals rule. r=Standard8,frontend-codestyle-reviewers
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/reject-lazy-imports-into-globals.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-lazy-imports-into-globals.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 11: Remove JSM handling from the valid-lazy rule. r=Standard8
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/valid-lazy.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/valid-lazy.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 12: Remove JSM handling from the reject-relative-requires rule. r=Standard8,frontend-codestyle-reviewers
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-globalThis-modification.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/reject-relative-requires.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 13: Remove JSM handling from the globals.js. r=Standard8,frontend-codestyle-reviewers
  tools/lint/eslint/eslint-plugin-mozilla/lib/globals.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 15: Remove JSM handling from eslint config. r=Standard8
  .eslintrc.js
  .prettierignore
  docs/code-quality/lint/linters/eslint-plugin-mozilla/environment.rst
  python/mozlint/test/linters/badreturncode.yml
  python/mozlint/test/linters/excludes.yml
  python/mozlint/test/linters/excludes_empty.yml
  python/mozlint/test/linters/external.yml
  python/mozlint/test/linters/global.yml
  python/mozlint/test/linters/multiple.yml
  python/mozlint/test/linters/regex.yml
  python/mozlint/test/linters/setup.yml
  python/mozlint/test/linters/setupfailed.yml
  python/mozlint/test/linters/setupraised.yml
  python/mozlint/test/linters/slow.yml
  python/mozlint/test/linters/string.yml
  python/mozlint/test/linters/structured.yml
  python/mozlint/test/linters/support_files.yml
  python/mozlint/test/linters/warning.yml
  python/mozlint/test/linters/warning_no_code_review.yml
  python/mozlint/test/test_parser.py
  taskcluster/kinds/source-test/mozlint.yml
  tools/lint/codespell.yml
  tools/lint/eslint.yml
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/sysmjs.js
  tools/lint/eslint/eslint-plugin-mozilla/lib/globals.js
  tools/lint/file-perm.yml
  tools/lint/hooks_js_format.py
  tools/lint/license.yml
  tools/lint/license/__init__.py
  tools/lint/rejected-words.yml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1936051 - Part 14: Update the obsolete entry in .eslintrc-ignores.js. r=Standard8,frontend-codestyle-reviewers
  .eslintrc-ignores.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1938858 - Remove the jsm support from the source map loader. r=devtools-reviewers,nchevobbe
  devtools/client/shared/source-map-loader/utils/index.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1880257 - Add crash annotations for Marionette and RemoteAgent enabled state. r=webdriver-reviewers,gsvelto,Sasha
  remote/components/Marionette.sys.mjs
  remote/components/RemoteAgent.sys.mjs
  toolkit/crashreporter/CrashAnnotations.yaml
Due: bugzilla-components, yaml

Bug 1880257 - [wdspec] Improve wdspec crash tests for crash annotations. r=webdriver-reviewers,Sasha
  testing/web-platform/mozilla/meta/webdriver/harness/crash_content_process.py.ini
  testing/web-platform/mozilla/meta/webdriver/harness/detect_crash.py.ini
  testing/web-platform/mozilla/tests/webdriver/harness/crash_content_process.py
  testing/web-platform/mozilla/tests/webdriver/harness/crash_parent_process.py
  testing/web-platform/mozilla/tests/webdriver/harness/detect_crash.py
  testing/web-platform/mozilla/tests/webdriver/support/fixtures.py
  testing/web-platform/mozilla/tests/webdriver/support/helpers.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace

Bug 1941821 - [remote] Make Marionette's Addon module a shared module for Remote Agent. r=whimboo,webdriver-reviewers
  remote/jar.mn
  remote/marionette/driver.sys.mjs
  remote/marionette/jar.mn
  remote/shared/Addon.sys.mjs
  remote/shared/test/browser/amosigned.xpi
  remote/shared/test/browser/browser.toml
  remote/shared/test/browser/browser_Addon.js
  remote/shared/test/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1942567 - use a python server for the local hub
  taskcluster/kinds/perftest/linux.yml
  taskcluster/kinds/perftest/macosx.yml
  taskcluster/kinds/perftest/windows11.yml
  toolkit/components/ml/tests/browser/browser_ml_suggest_feature_perf.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_inference.js
  toolkit/components/ml/tests/browser/head.js
  toolkit/components/ml/tests/tools/hooks_local_hub.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1941184 - Fix browser_sidebar_collapsed_close_tab_button.js failures caused by close button appearing on mouse hover. r=sidebar-reviewers,kcochrane
  browser/components/sidebar/tests/browser/browser_sidebar_collapsed_close_tab_button.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 3 changesets (bug 1942658, bug 1942099, bug 1883685) for causing bc failures @browser_searchModeSwitcher_basic.js. CLOSED TREE
  browser/components/search/test/browser/browser.toml
  browser/components/search/test/browser/browser_search_nimbus_reload.js
  browser/components/search/test/browser/telemetry/browser.toml
  browser/components/search/test/browser/telemetry/browser_search_glean_serp_event_telemetry_categorization_enabled_by_nimbus_variable.js
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/nimbus/generate/generate_feature_manifest.py
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/searchconfigs/test_google.js
  toolkit/components/search/tests/xpcshell/test_defaultEngine_experiments.js
  toolkit/components/search/tests/xpcshell/test_getSubmission_params_prefNimbus.js
  toolkit/components/search/tests/xpcshell/test_getSubmission_params_prefNimbus_invalid.js
  toolkit/components/search/tests/xpcshell/test_telemetry_event_default.js
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1935432 - Fix customize panel not being in sync with prefs. r=sidebar-reviewers,kcochrane
  browser/components/sidebar/sidebar-customize.mjs
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/unit/test_sidebar_state.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1943002 - part 2: Make _get_upstream_task_label_and_artifact() not duplicate the artifact file name a=RyanVM
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1943002 - part 1: Use get_artifact_prefix() instead of duplicating "releng/partner" a=RyanVM
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1943002 - part 5: Bubble up _get_artifact_file_name() a=RyanVM
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1943002 - part 4: Extract _get_attributed_build_configuration() a=RyanVM
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1943002 - part 3: Remove comment about removing locale as it does not apply to _get_upstream_task_label_and_artifact() a=RyanVM
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1943002 - part 6: Support multiple artifacts to attribute per task a=RyanVM
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1943002 - part 7: Attribute stub installers a=RyanVM
  taskcluster/gecko_taskgraph/transforms/partner_attribution.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - r=release-managers,RyanVM
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - a=RyanVM
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-release repo-update remote-settings - a=RyanVM
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components

Bug 1935471 - Make resolving image urls thread-safe. r=dshin, a=RyanVM
  layout/style/ServoStyleConstsInlines.h
  layout/style/nsStyleStruct.cpp
  servo/ports/geckolib/cbindgen.toml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
