Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in browser/components/urlbar r=nimbus-reviewers,urlbar-reviewers,beth,jteow
  browser/components/urlbar/tests/UrlbarTestUtils.sys.mjs
  browser/components/urlbar/tests/browser/head.js
  browser/components/urlbar/tests/quicksuggest/QuickSuggestTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/unit/test_merinoClient.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in browser/components/shell r=nimbus-reviewers,beth
  browser/components/shell/test/browser_doesAppNeedPin.js
  browser/components/shell/test/browser_setDefaultBrowser.js
  browser/components/shell/test/browser_setDefaultPDFHandler.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in browser/components/reportbrokensite r=nimbus-reviewers,webcompat-reviewers,beth,twisniewski
  browser/components/reportbrokensite/test/browser/browser_experiment_data_sent.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in toolkit/components/contentrelevancy r=bdk,nimbus-reviewers,nanj,beth
  toolkit/components/contentrelevancy/tests/browser/browser_contentrelevancy_nimbus.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961031 - make unloaded tab icons more visible for dark themes a=RyanVM
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components

Bug 1962575: Ensure to close Promise even if failed to dispatch to async thread a=RyanVM
  toolkit/components/places/Database.h
  toolkit/components/places/nsFaviconService.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1962409: Avoid touching DB if none a=RyanVM
  toolkit/components/places/nsFaviconService.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug - Import translations from https://github.com/mozilla-l10n/android-l10n CLOSED TREE
  mobile/android/android-components/components/compose/base/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/compose/base/src/main/res/values-sq/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-sq/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-et/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1963625: Fix some cases where UIA is enabled or disabled at runtime. r=eeejay
  accessible/windows/msaa/Compatibility.cpp
  accessible/windows/msaa/LazyInstantiator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1963834 - feat(webgpu): accept `GPURequestAdapterOptions.xrCompatible` r=webgpu-reviewers,webidl,smaug,jimb
  dom/webgpu/Instance.cpp
  dom/webidl/WebGPU.webidl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1961629 - Use ExperimentFeature.getEnrollmentMetadata() in browser/components/asrouter (again) r=omc-reviewers,aminomancer
  browser/components/asrouter/tests/browser/browser_asrouter_experimentsAPILoader.js
  browser/components/asrouter/tests/browser/browser_trigger_messagesLoaded.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1962059 - Fix up context menu for content reporting. r=home-newtab-reviewers,npypchenko
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSLinkMenu/DSLinkMenu.jsx
  browser/extensions/newtab/content-src/lib/link-menu-options.mjs
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

No Bug - Import translations from main
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-el/strings.xml
  mobile/android/android-components/components/compose/base/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-kab/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/compose/tabstray/src/main/res/values-tl/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-kab/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-kab/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-tl/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-kab/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-tl/strings.xml
  mobile/android/android-components/components/feature/sitepermissions/src/main/res/values-tl/strings.xml
  mobile/android/android-components/components/lib/crash/src/main/res/values-tl/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-tl/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-ka/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1960920 - Increase z-index of toast message to keep 'Personalize New Tab' icon behind toast. r=home-newtab-reviewers,npypchenko
  browser/extensions/newtab/content-src/components/Notifications/_Notifications.scss
  browser/extensions/newtab/css/activity-stream.css
Due: bugzilla-components

Revert "Bug 1959666668 - remove trailing whitespace"
  dom/credentialmanagement/identity/IdentityCredential.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1959669 - Block FedCM for some cases where there is not user activation - r=anti-tracking-reviewers,webidl,smaug,timhuang"
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/IdentityCredential.h
  dom/credentialmanagement/identity/IdentityCredentialSerializationHelpers.h
  dom/credentialmanagement/identity/tests/browser/browser.toml
  dom/credentialmanagement/identity/tests/browser/browser_close_prompt_on_timeout.js
  dom/credentialmanagement/identity/tests/browser/browser_passive_requires_connected.js
  dom/credentialmanagement/identity/tests/browser/browser_single_concurrent_identity_request.js
  dom/credentialmanagement/identity/tests/browser/server_manifest.json
  dom/credentialmanagement/identity/tests/mochitest/mochitest.toml
  dom/credentialmanagement/identity/tests/mochitest/test_account_label.html
  dom/credentialmanagement/identity/tests/mochitest/test_accounts_error.html
  dom/credentialmanagement/identity/tests/mochitest/test_accounts_redirect.html
  dom/credentialmanagement/identity/tests/mochitest/test_delay_reject.html
  dom/credentialmanagement/identity/tests/mochitest/test_domain_hint_filter.html
  dom/credentialmanagement/identity/tests/mochitest/test_empty_provider_list.html
  dom/credentialmanagement/identity/tests/mochitest/test_get_without_providers.html
  dom/credentialmanagement/identity/tests/mochitest/test_idtoken_error.html
  dom/credentialmanagement/identity/tests/mochitest/test_idtoken_redirect.html
  dom/credentialmanagement/identity/tests/mochitest/test_login_hint_filter.html
  dom/credentialmanagement/identity/tests/mochitest/test_manifest_same_site_ignores_well_known.html
  dom/credentialmanagement/identity/tests/mochitest/test_mediation.html
  dom/credentialmanagement/identity/tests/mochitest/test_no_accounts.html
  dom/credentialmanagement/identity/tests/mochitest/test_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_simple_no_user_activation.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_accounts.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_providers.html
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_wrong_account_endpoint.html
  dom/credentialmanagement/identity/tests/mochitest/test_wrong_provider_in_manifest.html
  dom/ipc/PWindowGlobal.ipdl
  dom/ipc/WindowGlobalParent.cpp
  dom/ipc/WindowGlobalParent.h
  dom/webidl/IdentityCredential.webidl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1959668, part 2 - Test multiple configURLs in a FedCM well-known - r=anti-tracking-reviewers,timhuang"
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/tests/mochitest/mochitest.toml
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_well_known_multiple_config_wrong_account_endpoint.html
  dom/credentialmanagement/identity/tests/mochitest/web-identity-multiple-config
  dom/credentialmanagement/identity/tests/mochitest/web-identity-multiple-config^headers^
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1962322 - Decrease modal backdrop opacity for content/ads reporting. r=home-newtab-reviewers,npypchenko
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/ReportContent/ReportContent.scss
  browser/extensions/newtab/content-src/styles/_variables.scss
  browser/extensions/newtab/css/activity-stream.css
Due: bugzilla-components

Bug 1963471 - Move TranslationsMiddleware out of EngineMiddleware list r=kaya,ohall,android-reviewers
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/engine/EngineMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1962845 - Don't dismiss text substitution panel on parent process content. r=masayuki
  widget/cocoa/TextInputHandler.h
  widget/cocoa/TextInputHandler.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1962059 - Fix up context menu for content reporting. r=home-newtab-reviewers,npypchenko" for causing node failures
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSLinkMenu/DSLinkMenu.jsx
  browser/extensions/newtab/content-src/lib/link-menu-options.mjs
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Revert "Bug 1962322 - Decrease modal backdrop opacity for content/ads reporting. r=home-newtab-reviewers,npypchenko" for causing node failures
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/ReportContent/ReportContent.scss
  browser/extensions/newtab/content-src/styles/_variables.scss
  browser/extensions/newtab/css/activity-stream.css
Due: bugzilla-components

Bug 1963452: make vscode language settings override user settings r=Standard8
  python/mozbuild/mozbuild/backend/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozbuild

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1898270 - Part 1: Transpile NewFunctionCloneResult cache IR r=jandem
  js/src/jit/CacheIROps.yaml
  js/src/jit/WarpBuilder.cpp
  js/src/jit/WarpCacheIRTranspiler.cpp
  js/src/jit/WarpOracle.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1898270 - Part 2: Pretenure lambda allocations by adding an allocation site for NewFunctionCloneResult r=jandem
  js/src/jit-test/tests/gc/pretenured-operations.js
  js/src/jit/BaselineCacheIRCompiler.cpp
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRGenerator.h
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/IonCacheIRCompiler.cpp
  js/src/jit/MIR.h
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
  js/src/jit/VMFunctionList-inl.h
  js/src/jit/WarpBuilder.cpp
  js/src/jit/WarpCacheIRTranspiler.cpp
  js/src/vm/Interpreter.cpp
  js/src/vm/Interpreter.h
  js/src/vm/JSFunction-inl.h
  js/src/vm/JSFunction.cpp
  js/src/vm/JSFunction.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1963727 - Set dlltool when building rust code while targeting mingw. r=firefox-build-system-reviewers,sergesanspaille
  config/makefiles/rust.mk
Due: bugzilla-components

Bug 1930778 - Remove useless return None from _add_new_nodes in incremental_dafsa.py r=sylvestre DONTBUILD
  xpcom/ds/tools/incremental_dafsa.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1963780: Properly quote filesets passed to Jujutsu. r=ahal
  python/mozversioncontrol/mozversioncontrol/repo/jj.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozversioncontrol, mozbuild

Bug 1955578 - Codegen a method that returns whether something is a known property of an interface. r=edgar
  dom/bindings/Codegen.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1955578 - Collect clobbered HTMLDocument properties. r=smaug
  dom/base/Document.cpp
  dom/base/Document.h
  dom/html/nsHTMLDocument.cpp
  dom/metrics.yaml
  dom/security/test/general/browser.toml
  dom/security/test/general/browser_test_clobbered_property.js
  dom/security/test/general/file_clobbered_property.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1963265 - Add doh-rollout.home-region to ignorePrefs.json r=necko-reviewers,kershaw
  testing/mochitest/ignorePrefs.json
Due: bugzilla-components, mochitest-harness

Bug 1958299 - switch most linux tests to new worker pools based on generic-worker + d2g r=taskgraph-reviewers,bhearsum
  taskcluster/config.yml
  taskcluster/gecko_taskgraph/transforms/test/__init__.py
  taskcluster/gecko_taskgraph/transforms/test/other.py
  taskcluster/gecko_taskgraph/transforms/test/worker.py
  taskcluster/kinds/fuzzing/kind.yml
  taskcluster/kinds/source-test/android-compare-locales.yml
  taskcluster/kinds/source-test/buildconfig.yml
  taskcluster/kinds/source-test/clang.yml
  taskcluster/kinds/source-test/file-metadata.yml
  taskcluster/kinds/source-test/mozlint-android.yml
  taskcluster/kinds/source-test/mozlint.yml
  taskcluster/kinds/source-test/node.yml
  taskcluster/kinds/source-test/puppeteer.yml
  taskcluster/kinds/source-test/python.yml
  taskcluster/kinds/source-test/shadow-scheduler.yml
  taskcluster/kinds/source-test/taskgraph.yml
  taskcluster/kinds/source-test/vendor.yml
  taskcluster/kinds/source-test/webcompat.yml
  taskcluster/kinds/source-test/webidl.yml
  taskcluster/kinds/source-test/wpt-manifest.yml
  taskcluster/kinds/source-test/wpt-metadata.yml
  taskcluster/kinds/source-test/wpt-unittest.yml
  taskcluster/kinds/static-analysis-autotest/kind.yml
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace, taskgraph-tests

Bug 1958299 - don't retry tasks on SIGKILL. r=taskgraph-reviewers,Eijebong
  taskcluster/gecko_taskgraph/transforms/source_test.py
  taskcluster/gecko_taskgraph/transforms/test/other.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1958299 - disable webdriver/tests/bidi/network/add_intercept/contexts.py on linux asan. r=jdescottes,webdriver-reviewers
  testing/web-platform/meta/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
Due: bugzilla-components, test-manifest

Bug 1958299 - disable browser_fullscreen_warning.js on linux socketprocess for frequent failures. r=jmaher
  browser/base/content/test/fullscreen/browser.toml
Due: bugzilla-components

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
