Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1933632 - fix MinGW build error. r=sotaro
  gfx/layers/d3d11/VideoProcessorD3D11.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933139 - [devtools] Fix debugger preview tooltip on scripts with `using` keyword. r=devtools-reviewers,bomsy.
  devtools/client/debugger/babel.config.js
  devtools/client/debugger/dist/parser-worker.js
  devtools/client/debugger/package.json
  devtools/client/debugger/src/workers/parser/utils/ast.js
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-inline-preview.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/debugger/test/mochitest/examples/inline-preview.js
  devtools/client/debugger/test/mochitest/examples/preview.js
  devtools/client/debugger/yarn.lock
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1924461 - Ensure we always set mThreadsafeHandle->mShutdownStarted when we SignalImpendingShutdownToContentJS. r=smaug
  dom/ipc/ContentParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1890886 - Update builders to clang 19. r=firefox-build-system-reviewers,ahochheiden
  build/build-clang/clang-19.json
  build/build-clang/compiler-rt-19.json
  build/build-clang/llvm-config.json
  build/build-clang/llvm-symbolizer-19.json
  build/build-clang/llvmorg-18-init-8471-g160e8eb44961.patch
  build/build-clang/revert-llvmorg-16-init-11301-g163bb6d64e5f_clang_18.patch
  build/build-clang/revert-llvmorg-18-init-5259-g5d7f84ee17f3.patch
  build/build-clang/revert-llvmorg-19-init-7486-g225e14e5b6d6.patch
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/clang-tidy.yml
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/compiler-rt.yml
  taskcluster/kinds/toolchain/libunwind.yml
  taskcluster/kinds/toolchain/llvm-symbolizer.yml
  taskcluster/kinds/toolchain/sysroot.yml
  tools/clang-tidy/config.yaml
Due: bugzilla-components, yaml

Bug 1909343 - Update builders to rustc 1.82. r=firefox-build-system-reviewers,ahochheiden
  docs/writing-rust-code/update-policy.md
  taskcluster/kinds/searchfox/kind.yml
  taskcluster/kinds/toolchain/rust.yml
Due: bugzilla-components, yaml

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1840981 - Fix race condition in HTTPSRecordResolver::OnLookupComplete, r=necko-reviewers,valentin
  netwerk/protocol/http/HTTPSRecordResolver.cpp
  netwerk/protocol/http/HTTPSRecordResolver.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 72bda4790c32 (bug 1933840) for causing bc failures @ browser_test_powerMetrics.js . CLOSED TREE
  dom/ipc/ContentParent.cpp
  ipc/glue/UtilityProcessManager.cpp
  ipc/glue/UtilityProcessManager.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933835 - Allow to install deb package on systems with libgdk-pixbuf-2.0-0 instead of libgdk-pixbuf2.0-0. r=jcristau
  taskcluster/docker/debian-repackage/Dockerfile
Due: bugzilla-components

Bug 1930923 - support ubuntu 24.04's mesa/llvmpipe in mochitests. r=jmaher,jgilbert
  dom/canvas/test/webgl-mochitest/test_renderer_strings.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1933880 - doc: fix broken link for increasing inotify watchers r=firefox-source-docs-reviewers,sylvestre DONTBUILD
  tools/tryselect/docs/tasks.rst
Due: bugzilla-components, codespell, rst, tryselect

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1925468 - Factor out "Get Trusted Type Data For Attribute". r=smaug
  dom/security/trusted-types/TrustedTypePolicyFactory.cpp
  dom/security/trusted-types/TrustedTypeUtils.cpp
  dom/security/trusted-types/TrustedTypeUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925468 - Extend and improve modify-attributes-in-callback.html. r=smaug
  testing/web-platform/tests/trusted-types/modify-attributes-in-callback.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1925468 - Implement Trusted Type support for setAttribute/setAttributeNS. r=smaug
  dom/base/Element.cpp
  dom/base/Element.h
  dom/security/trusted-types/TrustedTypeUtils.cpp
  dom/security/trusted-types/TrustedTypeUtils.h
  dom/webidl/Element.webidl
  testing/web-platform/meta/trusted-types/GlobalEventHandlers-onclick.html.ini
  testing/web-platform/meta/trusted-types/TrustedTypePolicyFactory-metadata.tentative.html.ini
  testing/web-platform/meta/trusted-types/block-string-assignment-to-Element-setAttribute.html.ini
  testing/web-platform/meta/trusted-types/block-string-assignment-to-Element-setAttributeNS.html.ini
  testing/web-platform/meta/trusted-types/trusted-types-event-handlers.html.ini
  testing/web-platform/meta/trusted-types/trusted-types-svg-script-set-href.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1922078 - Retrieve the functional parameter from element when collecting rules. r=view-transitions-reviewers,emilio
  layout/style/GeckoBindings.cpp
  layout/style/GeckoBindings.h
  layout/style/PseudoStyleType.h
  servo/components/style/gecko/wrapper.rs
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1922078 - Extend the matching function for named view-transition pseudo when using "*" in the name selector. r=view-transitions-reviewers,emilio
  servo/components/style/gecko/wrapper.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1928602 - Fix findInPageTest UI test a=pascalc
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/ThreeDotMainMenuTest.kt
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/BrowserRobot.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1933565 - Adjust heading on pocket titles a=pascalc
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/components/newtab/css/activity-stream.css
Due: bugzilla-components, newtab-unit-tests

Bug 1933576 - Update line-clamp for card UI a=pascalc
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardSections/_CardSections.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/components/newtab/css/activity-stream.css
Due: bugzilla-components, newtab-unit-tests

Bug 1932814 - Use Arial as default fallback font for Arabic script on Windows. a=pascalc
  gfx/thebes/gfxWindowsPlatform.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1932814 - Basic reftest for GetCommonFallbackFonts for Arabic on Windows. a=pascalc
  layout/reftests/font-matching/reftest.list
  layout/reftests/font-matching/windows-arabic-fallback-ref.html
  layout/reftests/font-matching/windows-arabic-fallback.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1931799. If the display list builder (and hence it's arena) is doomed we don't need to bother tracking freeing individual items to the arena. r=gfx-reviewers,nical$layout-reviewers
  layout/base/nsLayoutUtils.cpp
  layout/painting/RetainedDisplayListBuilder.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919888 - changed default applinks settings value r=android-reviewers,ohorvath,twhite
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/PDFViewerTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/RedesignedNavigationToolbarSmokeTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAdvancedTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TextSelectionTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: android-api-lint/opt, bugzilla-components

Backed out 2 changesets (bug 1909343, bug 1890886) for causing build bustages @ rules.mk. CLOSED TREE
  build/build-clang/clang-18.json
  build/build-clang/compiler-rt-18.json
  build/build-clang/llvm-config.json
  build/build-clang/llvm-symbolizer-18.json
  build/build-clang/llvmorg-18-init-8471-g160e8eb44961.patch
  build/build-clang/revert-llvmorg-16-init-11301-g163bb6d64e5f_clang_18.patch
  build/build-clang/revert-llvmorg-18-init-5259-g5d7f84ee17f3.patch
  build/build-clang/revert-llvmorg-19-init-7486-g225e14e5b6d6.patch
  docs/writing-rust-code/update-policy.md
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/searchfox/kind.yml
  taskcluster/kinds/toolchain/clang-tidy.yml
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/compiler-rt.yml
  taskcluster/kinds/toolchain/libunwind.yml
  taskcluster/kinds/toolchain/llvm-symbolizer.yml
  taskcluster/kinds/toolchain/rust.yml
  taskcluster/kinds/toolchain/sysroot.yml
  tools/clang-tidy/config.yaml
Due: bugzilla-components, yaml

Bug 1926936 - Extend BounceTrackingMapEntry to include OA and use it in more places. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingMapEntry.h
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.h
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.cpp
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.h
  toolkit/components/antitracking/bouncetrackingprotection/nsIBounceTrackingMapEntry.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1926936 - Integrate purge log with BTP clear data methods. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingStateGlobal.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1926936 - Create in-memory BTP purge log. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingMapEntry.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingMapEntry.h
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.h
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingStateGlobal.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingStateGlobal.h
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.cpp
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.h
  toolkit/components/antitracking/bouncetrackingprotection/nsIBounceTrackingMapEntry.idl
  toolkit/components/antitracking/bouncetrackingprotection/nsIBounceTrackingProtection.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1844561 - Test for BTP purge warning console message. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser_bouncetracking_web_console.js
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1844561 - Log a message to the website console when BTP recently purged that sites storage. r=anti-tracking-reviewers,fluent-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.h
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtectionStorage.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtectionStorage.h
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingState.cpp
  toolkit/locales/en-US/toolkit/global/antiTracking.ftl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, localization, file-whitespace, file-perm

Bug 1926936 - Extend BTP tests to check purge log. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1932148 - Include flag if BTP recently purged site in ReportBrokenSite reporter. r=webcompat-reviewers,anti-tracking-reviewers,twisniewski,timhuang
  browser/components/reportbrokensite/test/browser/browser_antitracking_data_sent.js
  browser/components/reportbrokensite/test/browser/send.js
  browser/components/reportbrokensite/test/browser/send_more_info.js
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/nsIBounceTrackingProtection.idl
  toolkit/components/reportbrokensite/ReportBrokenSiteChild.sys.mjs
  toolkit/components/reportbrokensite/ReportBrokenSiteParent.sys.mjs
  toolkit/components/reportbrokensite/metrics.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1926936 - Only add to purge and content blocking log when BTP is fully enabled. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingStateGlobal.cpp
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/head.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1924493 - Copy without site tracking: Rename to "Copy Clean Link" r=anti-tracking-reviewers,fluent-reviewers,urlbar-reviewers,flod,dao,timhuang
  browser/base/content/browser-context.inc
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/locales/en-US/browser/browserContext.ftl
  toolkit/locales/en-US/toolkit/global/textActions.ftl
Due: bugzilla-components, codespell, localization

Bug 1932401 [wpt PR 49294] - Enable PaintMixin for paint-timing, a=testonly
  testing/web-platform/tests/paint-timing/META.yml
  testing/web-platform/tests/paint-timing/paint-timing-mixin.html
  testing/web-platform/tests/paint-timing/resources/utils.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, yaml, file-perm

Bug 1932401 [wpt PR 49294] - Update wpt metadata, a=testonly
  testing/web-platform/meta/paint-timing/paint-timing-mixin.html.ini
Due: bugzilla-components, test-manifest

Bug 1932402 [wpt PR 49295] - IDB WPTs: Extend event-dispatch-active-flag IDB WPT to workers, a=testonly
  testing/web-platform/tests/IndexedDB/event-dispatch-active-flag.any.js
  testing/web-platform/tests/IndexedDB/event-dispatch-active-flag.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1932475 [wpt PR 49298] - [wptrunner] Recognize "tab crashed" as a crash status code, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/executors/executorwebdriver.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
