Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

No bug - Tagging d781faf12616d014dd6a3586f4f815849d6a3102 with FIREFOX-ANDROID_130_0b4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes ct-logs - r=release-managers,dmeehan
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/top-sites.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912601 - Update PDF.js to new version e44e4db5294c8eba2d56e8733c82416beb62f46c r=pdfjs-reviewers,fluent-reviewers,marco,flod
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.css
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.css
  toolkit/components/pdfjs/content/web/viewer.html
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
  toolkit/locales/en-US/toolkit/pdfviewer/viewer.ftl
Due: bugzilla-components, codespell, eslint, license, yaml, localization, file-perm

No bug - Tagging d781faf12616d014dd6a3586f4f815849d6a3102 with DEVEDITION_130_0b4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1912431 - Don't apply global alpha when creating a cached color glyph. r=gfx-reviewers,lsalzman
  gfx/tests/reftest/1912431-emoji-globalAlpha-ref.html
  gfx/tests/reftest/1912431-emoji-globalAlpha.html
  gfx/tests/reftest/reftest.list
  gfx/thebes/gfxFont.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging d781faf12616d014dd6a3586f4f815849d6a3102 with FIREFOX_130_0b4_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1866217 - Add a dedicated method for getting cached origin usage; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
  dom/quota/ErrorHandling.h
  dom/quota/ForwardDecls.h
  dom/quota/OriginOperations.cpp
  dom/quota/OriginOperations.h
  dom/quota/PQuota.ipdl
  dom/quota/QuotaManager.h
  dom/quota/QuotaManagerService.cpp
  dom/quota/QuotaParent.cpp
  dom/quota/QuotaParent.h
  dom/quota/nsIQuotaManagerService.idl
  dom/quota/test/xpcshell/common/head.js
  dom/quota/test/xpcshell/getCachedUsageForPrincipal_profile.zip
  dom/quota/test/xpcshell/make_getCachedUsageForPrincipal.js
  dom/quota/test/xpcshell/test_getCachedUsageForPrincipal.js
  dom/quota/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1866217 - Replace some nsIQuotaManagerService::GetUsageForPrincipal calls with nsIQuotaManagerService::GetCachedUsageForPrincipal; r=dom-storage-reviewers,jari
  dom/cache/test/mochitest/test_cache_padding.html
  dom/cache/test/mochitest/test_cache_updateUsage.html
  dom/fs/test/gtest/parent/TestFileSystemOriginInitialization.cpp
  dom/localstorage/test/unit/head.js
  dom/localstorage/test/unit/test_usageAfterMigration.js
  dom/quota/test/gtest/QuotaManagerDependencyFixture.cpp
  dom/quota/test/modules/content/StorageUtils.mjs
  dom/quota/test/modules/content/Utils.mjs
  dom/quota/test/modules/system/StorageUtils.sys.mjs
  dom/quota/test/modules/system/Utils.sys.mjs
  dom/quota/test/xpcshell/caching/test_groupMismatch.js
  dom/quota/test/xpcshell/caching/test_removedOrigin.js
  dom/quota/test/xpcshell/common/head.js
  dom/quota/test/xpcshell/upgrades/test_upgradeCacheFrom1.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1794159 - Part 1: Change C-style strings to nsString classes in LimitedAccessFeatures r=nrishel
  browser/components/shell/Windows11LimitedAccessFeatures.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1794159 - Part 2: Add LAF unlocking and check for pinning status using new APIs r=nalexander,nrishel
  browser/components/shell/Windows11LimitedAccessFeatures.cpp
  browser/components/shell/Windows11LimitedAccessFeatures.h
  browser/components/shell/test/gtest/LimitedAccessFeatureTests.cpp
  browser/components/shell/test/gtest/moz.build
  widget/windows/docs/LimitedAccessFeature.rst
  widget/windows/docs/index.rst
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rst, file-whitespace, file-perm

Bug 1794159 - Part 3: Enable MSIX pinning in nsWindowsShellService r=nrishel,nalexander,firefox-desktop-core-reviewers
  browser/components/BrowserGlue.sys.mjs
  browser/components/privatebrowsing/test/browser/browser.toml
  browser/components/shell/ShellService.sys.mjs
  browser/components/shell/Windows11TaskbarPinning.cpp
  browser/components/shell/Windows11TaskbarPinning.h
  browser/components/shell/nsWindowsShellService.cpp
  browser/components/tests/browser/browser_browserGlue_telemetry.js
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser.toml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1912513 - Change delete from history button to trash icon. r=jsudiaman,fxview-reviewers,sidebar-reviewers
  browser/components/firefoxview/fxview-tab-row.css
  browser/components/sidebar/sidebar-history.mjs
Due: bugzilla-components

Bug 1912120 - implement updated certificate transparency policy r=jschanck
  security/certverifier/CertVerifier.cpp
  security/certverifier/CertVerifier.h
  security/ct/CTDiversityPolicy.cpp
  security/ct/CTDiversityPolicy.h
  security/ct/CTPolicyEnforcer.cpp
  security/ct/CTPolicyEnforcer.h
  security/ct/moz.build
  security/ct/tests/gtest/CTDiversityPolicyTest.cpp
  security/ct/tests/gtest/CTPolicyEnforcerTest.cpp
  security/ct/tests/gtest/moz.build
  security/manager/ssl/SSLServerCertVerification.cpp
  security/manager/ssl/TransportSecurityInfo.cpp
  security/manager/ssl/tests/unit/test_ct.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1912344 - only filter non-trust-anchors if they are known built-in roots when loading third-party certificates r=jschanck
  security/manager/ssl/EnterpriseRoots.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 05e409210f6b (bug 1912431) for reftest failure on 1912431-emoji-globalAlpha.html . CLOSED TREE
  gfx/tests/reftest/1912431-emoji-globalAlpha-ref.html
  gfx/tests/reftest/1912431-emoji-globalAlpha.html
  gfx/tests/reftest/reftest.list
  gfx/thebes/gfxFont.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1911768 - Add WinUtils::RegionToHRGN and WinUtils::ToWinRect. r=win-reviewers,rkraesig
  widget/windows/WinUtils.cpp
  widget/windows/WinUtils.h
  widget/windows/tests/gtest/TestWinUtils.cpp
  widget/windows/tests/gtest/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912817 - Remove noisy warning that's common for non-visible popups. r=mccr8
  layout/xul/nsMenuPopupFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911899 - Update owner of Testing::Gtest r=zeid DONTBUILD
  mots.yaml
Due: bugzilla-components, yaml

Bug 1908834 - Support outset box-shadows with quad based rendering r=gfx-reviewers,lsalzman
  gfx/wr/webrender/src/batch.rs
  gfx/wr/webrender/src/border.rs
  gfx/wr/webrender/src/box_shadow.rs
  gfx/wr/webrender/src/clip.rs
  gfx/wr/webrender/src/command_buffer.rs
  gfx/wr/webrender/src/pattern.rs
  gfx/wr/webrender/src/picture.rs
  gfx/wr/webrender/src/prepare.rs
  gfx/wr/webrender/src/prim_store/gradient/conic.rs
  gfx/wr/webrender/src/prim_store/gradient/radial.rs
  gfx/wr/webrender/src/prim_store/mod.rs
  gfx/wr/webrender/src/quad.rs
  gfx/wr/webrender/src/render_target.rs
  gfx/wr/webrender/src/renderer/gpu_buffer.rs
  gfx/wr/webrender/src/scene_building.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1910800 - Make `HTMLEditor::ComputeEditingHostInternal()` stop referring `mIsInDesignMode` and refer focused element in the window r=m_kato
  editor/libeditor/HTMLEditor.cpp
  testing/web-platform/tests/editing/crashtests/replace-document-root-and-refocus-window.html
  testing/web-platform/tests/editing/other/no-beforeinput-when-no-selection.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/downloads/src/main/res/values-azb/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-et/strings.xml
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/fenix/app/src/main/res/values-et/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset f189c9ba3746 (bug 1912431) for causing reftest failures in 1912431-emoji-globalAlpha.html. CLOSED TREE
  gfx/tests/reftest/1912431-emoji-globalAlpha-ref.html
  gfx/tests/reftest/1912431-emoji-globalAlpha.html
  gfx/tests/reftest/reftest.list
  gfx/thebes/gfxFont.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/fenix/app/src/main/res/values-oc/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1805003 [wpt PR 37445] - Add test for wheel event groups, a=testonly
  testing/web-platform/tests/dom/events/scrolling/wheel-event-transactions-basic.html
  testing/web-platform/tests/dom/events/scrolling/wheel-event-transactions-multiple-action-chains.html
  testing/web-platform/tests/dom/events/scrolling/wheel-event-transactions-target-display-change.html
  testing/web-platform/tests/dom/events/scrolling/wheel-event-transactions-target-elements.html
  testing/web-platform/tests/dom/events/scrolling/wheel-event-transactions-target-move.html
  testing/web-platform/tests/dom/events/scrolling/wheel-event-transactions-target-removal.html
  testing/web-platform/tests/dom/events/scrolling/wheel-event-transactions-target-resize.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1805003 [wpt PR 37445] - Update wpt metadata, a=testonly
  testing/web-platform/meta/dom/events/scrolling/wheel-event-transactions-basic.html.ini
Due: bugzilla-components, test-manifest

Bug 1912719 [wpt PR 47563] - Keep text selection during moveBefore, a=testonly
  testing/web-platform/tests/dom/nodes/moveBefore/tentative/selection-preserve.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912719 [wpt PR 47563] - Update wpt metadata, a=testonly
  testing/web-platform/meta/dom/nodes/moveBefore/tentative/selection-preserve.html.ini
Due: bugzilla-components, test-manifest

Bug 1912725 [wpt PR 47564] - layout: Non-auto `z-index` should always make stacking contexts for flex items, a=testonly
  testing/web-platform/tests/css/css-flexbox/flex-item-z-ordering-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912080 - Chatbot prompt prefix string missing from localization a=pascalc
  browser/app/profile/firefox.js
  browser/components/genai/GenAI.sys.mjs
  browser/components/genai/chat.html
  browser/components/genai/tests/browser/browser_chat_shortcuts.js
  browser/components/genai/tests/xpcshell/test_build_chat_prompt.js
  browser/locales/en-US/browser/genai.ftl
Due: bugzilla-components, codespell, eslint, license, lintpref, localization, file-perm

Bug 1910438 pt1 - Improve the population of glean object metrics a=pascalc
  toolkit/crashreporter/client/app/src/net/ping/glean.rs
  toolkit/crashreporter/client/app/src/test.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1910438 pt3 - Matching changes to the CrashManager stack traces impl a=pascalc
  toolkit/components/crashes/CrashManager.in.sys.mjs
Due: bugzilla-components

Bug 1910438 pt2 - Improve test behavior a=pascalc
  toolkit/crashreporter/client/app/src/config.rs
  toolkit/crashreporter/client/app/src/glean.rs
  toolkit/crashreporter/client/app/src/main.rs
  toolkit/crashreporter/client/app/src/net/ping/mod.rs
  toolkit/crashreporter/client/app/src/std/mock.rs
  toolkit/crashreporter/client/app/src/ui/test.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1086524 - Focus window on Esc in address bar r=dao,urlbar-reviewers
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarController.sys.mjs
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/docs/preferences.rst
  browser/components/urlbar/tests/browser/browser.toml
  browser/components/urlbar/tests/browser/browser_focusContentDocumentEsc.js
Due: bugzilla-components, codespell, eslint, license, lintpref, rst, file-perm
