Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1938208 - Document moz-input-color component r=reusable-components-reviewers,hjones
  toolkit/content/widgets/moz-input-color/README.stories.md
  toolkit/content/widgets/moz-input-color/moz-input-color.stories.mjs
Due: bugzilla-components

Bug 1945764 - update-verify-config: fix last-linux-bz2-version setting. r=releng-reviewers,Eijebong, a=release
  taskcluster/kinds/release-secondary-update-verify-config/kind.yml
  taskcluster/kinds/release-update-verify-config-next/kind.yml
  taskcluster/kinds/release-update-verify-config/kind.yml
Due: bugzilla-components, yaml

Bug 1945764 - update-verify-config: fix last-linux-bz2-version setting. r=releng-reviewers,Eijebong DONTBUILD
  taskcluster/kinds/release-secondary-update-verify-config/kind.yml
  taskcluster/kinds/release-update-verify-config-next/kind.yml
  taskcluster/kinds/release-update-verify-config/kind.yml
Due: bugzilla-components, yaml

Bug 1938471 - Backed out changeset dcfa4149aaf3. r=necko-reviewers,kershaw, a=dmeehan
  dom/fetch/FetchDriver.cpp
  dom/fetch/FetchDriver.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1938471 - Backed out changeset dcfa4149aaf3. r=necko-reviewers,kershaw
  dom/fetch/FetchDriver.cpp
  dom/fetch/FetchDriver.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1938471 - synchronize access to FetchDriver::mObserver. r=necko-reviewers,kershaw, a=dmeehan
  dom/fetch/FetchDriver.cpp
  dom/fetch/FetchDriver.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1938471 - synchronize access to FetchDriver::mObserver. r=necko-reviewers,kershaw
  dom/fetch/FetchDriver.cpp
  dom/fetch/FetchDriver.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1945537 - Document how to hackily test JOG fixes r=janerik DONTBUILD
  toolkit/components/glean/docs/dev/jog.md
  toolkit/components/glean/docs/dev/testing.md
Due: bugzilla-components

Backed out changeset da119eca293c (bug 1610833) for causing linting failures. CLOSED TREE
  devtools/shared/webconsole/analyze-input-string.js
  devtools/shared/webconsole/test/xpcshell/test_js_property_provider.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1945821 - Disable dom.w3c_pointer_events.dispatch_by_pointer_messages.touch by default r=win-reviewers,rkraesig
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1945203 - Remove padding from some Windows logo assets r=cdupuis,nalexander
  browser/branding/aurora/msix/Assets/Square44x44Logo.scale-200.png
  browser/branding/aurora/msix/Assets/Square44x44Logo.targetsize-256.png
  browser/branding/nightly/msix/Assets/Square44x44Logo.scale-200.png
  browser/branding/nightly/msix/Assets/Square44x44Logo.targetsize-256.png
  browser/branding/official/msix/Assets/Square44x44Logo.scale-200.png
  browser/branding/official/msix/Assets/Square44x44Logo.targetsize-256.png
  browser/branding/unofficial/msix/Assets/Square44x44Logo.scale-200.png
  browser/branding/unofficial/msix/Assets/Square44x44Logo.targetsize-256.png
Due: bugzilla-components

Bug 1944985 - Avoid treating responses without a Content-Length header as having Content-Length of 0 r=manuel,necko-reviewers,kershaw DONTBUILD
  uriloader/base/nsURILoader.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1945318 - Don't try to reparent an empty stack r=jandem
  js/src/jit-test/tests/errors/bug1945318.js
  js/src/jit-test/tests/errors/capture-stack-async.js
  js/src/vm/SavedStacks.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1945362 - migrate mochitest-media from windows11 version 22H2 -> 24h2. r=aryx
  dom/media/test/mochitest_compat.toml
  taskcluster/kinds/test/mochitest.yml
  taskcluster/kinds/test/test-sets.yml
Due: bugzilla-components, yaml

Bug 1945731: Add assertions to ensure MacroAssembler::{push,pop} is only called with supported float-registers. r=jandem
  js/src/jit/arm/MacroAssembler-arm.cpp
  js/src/jit/arm/MacroAssembler-arm.h
  js/src/jit/arm64/MacroAssembler-arm64.h
  js/src/jit/loong64/MacroAssembler-loong64.cpp
  js/src/jit/loong64/MacroAssembler-loong64.h
  js/src/jit/mips-shared/MacroAssembler-mips-shared.cpp
  js/src/jit/mips64/MacroAssembler-mips64.h
  js/src/jit/riscv64/MacroAssembler-riscv64.cpp
  js/src/jit/riscv64/MacroAssembler-riscv64.h
  js/src/jit/x64/Assembler-x64.h
  js/src/jit/x86/Assembler-x86.h
  js/src/jit/x86/CodeGenerator-x86.cpp
  js/src/wasm/WasmBCFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1944566 - Fix formdata removal when clearing on shutdown. r=emz,places-reviewers,manuel, a=dmeehan
  browser/app/profile/firefox.js
  browser/base/content/sanitizeDialog.js
  browser/base/content/sanitize_v2.xhtml
  browser/base/content/test/sanitize/browser_sanitizeOnShutdown_migration.js
  browser/components/places/tests/unit/test_clearHistory_shutdown.js
  browser/modules/Sanitizer.sys.mjs
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1944566 - Fix formdata removal when clearing on shutdown. r=emz,places-reviewers,manuel
  browser/app/profile/firefox.js
  browser/base/content/sanitizeDialog.js
  browser/base/content/sanitize_v2.xhtml
  browser/base/content/test/sanitize/browser_sanitizeOnShutdown_migration.js
  browser/components/places/tests/unit/test_clearHistory_shutdown.js
  browser/modules/Sanitizer.sys.mjs
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1944401 - [contextual-password-manager] When displayMode is updated, broadcast change to all windows. r=mtigley,credential-management-reviewers
  toolkit/components/satchel/megalist/MegalistViewModel.sys.mjs
  toolkit/components/satchel/megalist/aggregator/Aggregator.sys.mjs
  toolkit/components/satchel/megalist/aggregator/datasources/DataSourceBase.sys.mjs
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/aggregator/tests/unit/test_loginDataSourceSortLines.js
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1944633 - [contextual-password-manager] Change viewMode to "LIST" after removing all passwords. r=mtigley,credential-management-reviewers
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_remove_all_notification.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1944797 - Part 1: Add LIRGeneratorShared::useLowWord to allocate register for int64 low-word. r=jandem
  js/src/jit/LIR.h
  js/src/jit/Lowering.cpp
  js/src/jit/arm/Lowering-arm.cpp
  js/src/jit/shared/Lowering-shared-inl.h
  js/src/jit/shared/Lowering-shared.h
  js/src/jit/x86-shared/Lowering-x86-shared.cpp
  js/src/jit/x86/Lowering-x86.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1944797 - Part 2: Align WasmStore for ARM32 with x86 code. r=jandem
  js/src/jit/arm/CodeGenerator-arm.cpp
  js/src/jit/arm/Lowering-arm.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1945241 - Remove unused string from features.ftl r=kcochrane
  toolkit/locales/en-US/toolkit/featuregates/features.ftl
Due: bugzilla-components, codespell, localization

Bug 1945870 - Rename dir to extension-store-userscripts r=rpl
  toolkit/components/extensions/ExtensionUserScripts.sys.mjs
Due: bugzilla-components

Bug 1942347 - Disable 'move group to new window' if group is only thing in window. r=dao,tabbrowser-reviewers
  browser/base/content/main-popupset.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_manager_groups.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1937215 - Use exportparts for notification-message-bar. r=hjones,desktop-theme-reviewers,reusable-components-reviewers,credential-management-reviewers,rsafaeian
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/components/notification-message-bar/notification-message-bar.mjs
Due: bugzilla-components

No bug - Tagging f5a5a562f9b541433f940036addc01ee7fd93764 with DEVEDITION_136_0b1_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

No bug - Tagging f5a5a562f9b541433f940036addc01ee7fd93764 with FIREFOX_136_0b1_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1945109 - Use common implementation of addProperty, getWrapperCache and objectMoved hooks. r=farre
  dom/base/nsGlobalWindowInner.h
  dom/base/nsGlobalWindowOuter.h
  dom/base/nsWrapperCache.h
  dom/bindings/BindingUtils.cpp
  dom/bindings/BindingUtils.h
  dom/bindings/Codegen.py
  dom/bindings/DOMJSClass.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1944313 - Propagate XSLT expression failure correctly. r=farre, a=dmeehan
  dom/xslt/xslt/txNodeSorter.cpp
  dom/xslt/xslt/txNodeSorter.h
  dom/xslt/xslt/txXPathResultComparator.cpp
  dom/xslt/xslt/txXPathResultComparator.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1944313 - Propagate XSLT expression failure correctly. r=farre
  dom/xslt/xslt/txNodeSorter.cpp
  dom/xslt/xslt/txNodeSorter.h
  dom/xslt/xslt/txXPathResultComparator.cpp
  dom/xslt/xslt/txXPathResultComparator.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1945601 - Update dav1d to 42b2b24fb8819f1ed3643aa9cf2a62f03868e3aa r=chunmin
  media/libdav1d/moz.yaml
  media/libdav1d/vcs_version.h
  third_party/dav1d/NEWS
  third_party/dav1d/meson.build
  third_party/dav1d/src/arm/64/refmvs.S
  third_party/dav1d/src/arm/asm-offsets.h
  third_party/dav1d/src/arm/refmvs.h
  third_party/dav1d/src/looprestoration_tmpl.c
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1941002 - Clone source. r=smaug
  dom/xml/nsXMLPrettyPrinter.cpp
  dom/xslt/xslt/txMozillaStylesheetCompiler.cpp
  dom/xslt/xslt/txMozillaXSLTProcessor.cpp
  dom/xslt/xslt/txMozillaXSLTProcessor.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
