Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1944924 [wpt PR 50390] - Remove native-popup-with-wrapper-div.tentative.html, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/native-popup-with-wrapper-div-ref.html
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/native-popup-with-wrapper-div.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944800 [wpt PR 50382] - IDB WPTs: Extend idbobjectstore-exception related tests to workers, a=testonly
  testing/web-platform/tests/IndexedDB/idbobjectstore-add-put-exception-order.any.js
  testing/web-platform/tests/IndexedDB/idbobjectstore-add-put-exception-order.html
  testing/web-platform/tests/IndexedDB/idbobjectstore-clear-exception-order.any.js
  testing/web-platform/tests/IndexedDB/idbobjectstore-clear-exception-order.html
  testing/web-platform/tests/IndexedDB/idbobjectstore-delete-exception-order.any.js
  testing/web-platform/tests/IndexedDB/idbobjectstore-delete-exception-order.html
  testing/web-platform/tests/IndexedDB/idbobjectstore-deleteIndex-exception-order.any.js
  testing/web-platform/tests/IndexedDB/idbobjectstore-deleteIndex-exception-order.html
  testing/web-platform/tests/IndexedDB/idbobjectstore-query-exception-order.any.js
  testing/web-platform/tests/IndexedDB/idbobjectstore-query-exception-order.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944937 [wpt PR 50391] - Match customizable select focus ring to border, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/focus-ring-rendering-ref.html
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/focus-ring-rendering.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944937 [wpt PR 50391] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/focus-ring-rendering.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1944945 [wpt PR 50392] - temp rollback of PR 43698 until the end of Interop 2024, a=testonly
  testing/web-platform/tests/accname/name/comp_labelledby.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944975 [wpt PR 50395] - Calculate TimeToEffectChange for active reverse animations, a=testonly
  testing/web-platform/tests/web-animations/timing-model/animations/reverse-running-animation.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944983 [wpt PR 50396] - Add keyboard-activation for interesttarget elements [10/N], a=testonly
  testing/web-platform/tests/html/semantics/the-button-element/interest-target/interesttarget-keyboard-behavior.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944983 [wpt PR 50396] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/the-button-element/interest-target/interesttarget-keyboard-behavior.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1944988 [wpt PR 50397] - Need to check style before inert attribute for editability, a=testonly
  testing/web-platform/tests/inert/inert-node-is-uneditable.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944988 [wpt PR 50397] - Update wpt metadata, a=testonly
  testing/web-platform/meta/inert/inert-node-is-uneditable.html.ini
Due: bugzilla-components, test-manifest

Bug 1944994 [wpt PR 50398] - IDB WPTs: Extend idbtransaction WPTs to run on workers, a=testonly
  testing/web-platform/tests/IndexedDB/idbtransaction-db-SameObject.any.js
  testing/web-platform/tests/IndexedDB/idbtransaction-db-SameObject.html
  testing/web-platform/tests/IndexedDB/idbtransaction-oncomplete.any.js
  testing/web-platform/tests/IndexedDB/idbtransaction-oncomplete.htm
  testing/web-platform/tests/IndexedDB/idbtransaction.any.js
  testing/web-platform/tests/IndexedDB/idbtransaction.htm
  testing/web-platform/tests/IndexedDB/idbtransaction_abort.any.js
  testing/web-platform/tests/IndexedDB/idbtransaction_abort.htm
  testing/web-platform/tests/IndexedDB/idbtransaction_objectStoreNames.any.js
  testing/web-platform/tests/IndexedDB/idbtransaction_objectStoreNames.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1945002 [wpt PR 50399] - Change order of [inert] vs :modal UA style for interactivity, a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-fullscreen-ua.html
  testing/web-platform/tests/css/css-ui/interactivity-inert-modal-dialog-ua.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1945002 [wpt PR 50399] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-fullscreen-ua.html.ini
  testing/web-platform/meta/css/css-ui/interactivity-inert-modal-dialog-ua.html.ini
Due: bugzilla-components, test-manifest

Bug 1944786 [wpt PR 50377] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285413, a=testonly
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-001.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-002.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-003.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-004.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-005.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-006.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-007.html
  testing/web-platform/tests/css/css-images/gradient/gradient-single-stop-008.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1945015 [wpt PR 50402] - Add `togglescreenshare` and `voiceactivity` test coverage, a=testonly
  testing/web-platform/tests/mediasession/setactionhandler.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1945014 [wpt PR 50401] - Add `cssText` test cases in `cssom-pagerule.html`, a=testonly
  testing/web-platform/tests/css/cssom/cssom-pagerule.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1945015 [wpt PR 50402] - Update wpt metadata, a=testonly
  testing/web-platform/meta/mediasession/setactionhandler.html.ini
Due: bugzilla-components, test-manifest

Bug 1945104 [wpt PR 50408] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-mixins/local-var-substitution.html.ini
Due: bugzilla-components, test-manifest

Bug 1945104 [wpt PR 50408] - [functions] Handle fallbacks for local substitutions, a=testonly
  testing/web-platform/tests/css/css-mixins/dashed-function-eval.html
  testing/web-platform/tests/css/css-mixins/local-var-substitution.html
  testing/web-platform/tests/css/css-mixins/resources/utils.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1945138 [wpt PR 50409] - Parse animation-trigger shorthand, a=testonly
  testing/web-platform/tests/css/css-animations/parsing/animation-trigger-shorthand.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1945138 [wpt PR 50409] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-animations/parsing/animation-trigger-shorthand.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1945084 [wpt PR 50407] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-highlight-api/idlharness.window.js.ini
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1945276 - Migration Win11 reftest from 22H2 -> 24H2. r=aryx
  image/test/reftest/generic/reftest.list
  taskcluster/kinds/test/reftest.yml
  taskcluster/kinds/test/test-platforms.yml
  taskcluster/kinds/test/test-sets.yml
Due: bugzilla-components, yaml

Bug 1941039 - Add more tests for 'discard' edge cases in SVG animations r=dholbert
  testing/web-platform/tests/svg/animations/reftests/discard-check-remove-duplicate.svg
  testing/web-platform/tests/svg/animations/reftests/discard-check-remove-duplicate2.svg
  testing/web-platform/tests/svg/animations/reftests/discard-check-remove-replace.svg
  testing/web-platform/tests/svg/animations/reftests/discard-check-remove-replace2.svg
Due: bugzilla-components, wptlint-gecko

Bug 1945143 - enable preference for 'Clear-Site-Data: Cache' in test. r=manuel DONTBUILD
  testing/web-platform/meta/clear-site-data/clear-cache-partitioning.sub.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1767771 - Disable test 'browser_resources_reflows.js' on linux & win for frequent failures r=intermittent-reviewers,jmaher DONTBUILD
  devtools/shared/commands/resource/tests/browser.toml
Due: bugzilla-components, devtools-tests

Bug 1945179 - [webcompat] Convert content_scripts to an array if needed r=webcompat-reviewers,twisniewski
  browser/extensions/webcompat/lib/injections.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1943846 - Fix nsFind::IsSpace to handle UTF-32 characters correctly. r=emilio
  toolkit/components/find/nsFind.cpp
  toolkit/components/find/test/mochitest/test_nsFind.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Backed out changeset e1882c174191 (bug 1943846) for causing bustages at nsFind.cpp. CLOSED TREE
  toolkit/components/find/nsFind.cpp
  toolkit/components/find/test/mochitest/test_nsFind.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1945179 - [webcompat] Bump version number to 136.7.0 r=twisniewski,webcompat-reviewers
  browser/extensions/webcompat/manifest.json
Due: bugzilla-components

Bug 1944915 - Disable tracker cookie blocking for the test browser_noStorageAccessAutoGrant_thirdPartyTracker.js. r=anti-tracking-reviewers,manuel
  dom/base/Document.cpp
  toolkit/components/antitracking/test/browser/browser_noStorageAccessAutoGrant_thirdPartyTracker.js
  toolkit/components/antitracking/test/browser/browser_storageAccessDoorHanger.js
  toolkit/components/antitracking/test/browser/browser_workerPropagation.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1945227 - Remove invalid assertion from line-breaker hyphenation code. r=layout-reviewers,emilio
  dom/base/nsLineBreaker.cpp
  testing/web-platform/tests/css/css-text/hyphens/hyphens-auto-wordbreak-breakall-crash.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
