Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1917544 - Stop using `time@0.1` in stylo code r=emilio
  Cargo.lock
  servo/components/malloc_size_of/Cargo.toml
  servo/components/malloc_size_of/lib.rs
  servo/components/style/Cargo.toml
  servo/components/style/context.rs
  servo/components/style/driver.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1902065 - send and recv IP ECN on HTTP3/QUIC r=necko-reviewers,kershaw
  Cargo.lock
  modules/libpref/init/StaticPrefList.yaml
  netwerk/metrics.yaml
  netwerk/socket/neqo_glue/Cargo.toml
  netwerk/socket/neqo_glue/src/lib.rs
Due: bugzilla-components, license, lintpref, yaml, rustfmt, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1908770 - reorder the verticalScroll and padding modifiers r=android-reviewers,npoon
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/tabs/TabTools.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1917543 - Don't display the AI disclaimer when adding an image in a pdf when it's unnecessary (beta) a=pascalc
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
Due: bugzilla-components, yaml

Bug 1736562 - Test that slow nonstandard port sites don't get timeout. r=freddyb
  dom/security/test/https-first/file_slow_non_standard_port.sjs
  dom/security/test/https-first/mochitest.toml
  dom/security/test/https-first/test_slow_non_standard_port.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1644983 - Register CacheIOThread thread with profiler r=necko-reviewers,dragana,profiler-reviewers,julienw
  devtools/client/performance-new/shared/background.sys.mjs
  netwerk/cache2/CacheIOThread.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm, devtools-tests

Bug 1915744 - Update to glean-parser 15.0.1 r=TravisLong,mach-reviewers,ahal
  third_party/python/glean_parser/glean_parser-15.0.1.dist-info/AUTHORS.md
  third_party/python/glean_parser/glean_parser-15.0.1.dist-info/LICENSE
  third_party/python/glean_parser/glean_parser-15.0.1.dist-info/METADATA
  third_party/python/glean_parser/glean_parser-15.0.1.dist-info/RECORD
  third_party/python/glean_parser/glean_parser-15.0.1.dist-info/WHEEL
  third_party/python/glean_parser/glean_parser-15.0.1.dist-info/entry_points.txt
  third_party/python/glean_parser/glean_parser-15.0.1.dist-info/top_level.txt
  third_party/python/glean_parser/glean_parser/rust.py
  third_party/python/poetry.lock
  third_party/python/requirements.in
  third_party/python/requirements.txt
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1914631 - Part 1: Add MacroAssembler::flexibleRshiftPtr(). r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/wasm32/MacroAssembler-wasm32-inl.h
  js/src/jit/x64/MacroAssembler-x64-inl.h
  js/src/jit/x86/MacroAssembler-x86-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 2: Add MacroAssembler::flexibleLshiftPtr(). r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/wasm32/MacroAssembler-wasm32-inl.h
  js/src/jit/x64/MacroAssembler-x64-inl.h
  js/src/jit/x86/MacroAssembler-x86-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 3: Add MacroAssembler::flexible{Quotient,Remainder}Ptr. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm.cpp
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/arm64/MacroAssembler-arm64.cpp
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64.cpp
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64.cpp
  js/src/jit/wasm32/MacroAssembler-wasm32.cpp
  js/src/jit/x64/MacroAssembler-x64.cpp
  js/src/jit/x64/MacroAssembler-x64.h
  js/src/jit/x86/CodeGenerator-x86.cpp
  js/src/jit/x86/MacroAssembler-x86.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 5: Add MacroAssembler::rshiftPtrArithmetic and MacroAssembler::flexibleRshiftPtrArithmetic. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/wasm32/MacroAssembler-wasm32-inl.h
  js/src/jit/x64/MacroAssembler-x64-inl.h
  js/src/jit/x86/MacroAssembler-x86-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 4: Add MacroAssembler::testMovePtr with Register operand. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/wasm32/MacroAssembler-wasm32-inl.h
  js/src/jit/x64/MacroAssembler-x64-inl.h
  js/src/jit/x86/MacroAssembler-x86-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 7: Add MacroAssembler::branchNegPtr. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/wasm32/MacroAssembler-wasm32-inl.h
  js/src/jit/x86-shared/MacroAssembler-x86-shared-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 6: Add MacroAssembler::cmpPtrMovePtr with Imm32 operand. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/wasm32/MacroAssembler-wasm32-inl.h
  js/src/jit/x64/MacroAssembler-x64-inl.h
  js/src/jit/x86/MacroAssembler-x86-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 8: Add MacroAssembler::powPtr. r=spidermonkey-reviewers,jandem
  js/src/jit/CodeGenerator.cpp
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 10: Add recover support to MIRType::IntPtr. r=spidermonkey-reviewers,jandem
  js/src/jit/IonAnalysis.cpp
  js/src/jit/JSJitFrameIter.h
  js/src/jit/JitFrames.cpp
  js/src/jit/Snapshots.cpp
  js/src/jit/Snapshots.h
  js/src/jit/shared/CodeGenerator-shared.cpp
  js/src/jsapi-tests/testJitRValueAlloc.cpp
  js/src/vm/BigIntType.cpp
  js/src/vm/BigIntType.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 9: Remove unused function IsNumericType. r=spidermonkey-reviewers,jandem
  js/src/jit/IonTypes.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 12: Support simple binary operations. r=spidermonkey-reviewers,jandem
  js/src/jit-test/tests/bigint/bigint-add-32.js
  js/src/jit-test/tests/bigint/bigint-add-64.js
  js/src/jit-test/tests/bigint/bigint-and-32.js
  js/src/jit-test/tests/bigint/bigint-and-64.js
  js/src/jit-test/tests/bigint/bigint-mul-32.js
  js/src/jit-test/tests/bigint/bigint-mul-64.js
  js/src/jit-test/tests/bigint/bigint-or-32.js
  js/src/jit-test/tests/bigint/bigint-or-64.js
  js/src/jit-test/tests/bigint/bigint-sub-32.js
  js/src/jit-test/tests/bigint/bigint-sub-64.js
  js/src/jit-test/tests/bigint/bigint-xor-32.js
  js/src/jit-test/tests/bigint/bigint-xor-64.js
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIRGenerator.h
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.h
  js/src/jit/MIROps.yaml
  js/src/jit/Recover.cpp
  js/src/jit/Recover.h
  js/src/jit/WarpCacheIRTranspiler.cpp
  js/src/jit/shared/CodeGenerator-shared-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1914631 - Part 11: Add BigInt <-> IntPtr conversion nodes. r=spidermonkey-reviewers,jandem
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/GenerateMIRFiles.py
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.cpp
  js/src/jit/MIROps.yaml
  js/src/jit/Recover.cpp
  js/src/jit/Recover.h
  js/src/jit/TypePolicy.cpp
  js/src/jit/TypePolicy.h
  js/src/jit/VMFunctionList-inl.h
  js/src/jit/WarpCacheIRTranspiler.cpp
  js/src/vm/BigIntType.cpp
  js/src/vm/BigIntType.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1914631 - Part 14: Support exponentiation operator. r=spidermonkey-reviewers,jandem
  js/src/jit-test/tests/bigint/bigint-pow-32.js
  js/src/jit-test/tests/bigint/bigint-pow-64.js
  js/src/jit-test/tests/bigint/bigint-pow-bailout-not-bigintptr.js
  js/src/jit-test/tests/bigint/bigint-pow-negative-exponent-not-bigintptr.js
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.cpp
  js/src/jit/MIR.h
  js/src/jit/MIROps.yaml
  js/src/jit/Recover.cpp
  js/src/jit/Recover.h
  js/src/jit/WarpCacheIRTranspiler.cpp
  js/src/vm/BigIntType.cpp
  js/src/vm/BigIntType.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1914631 - Part 15: Support shift operations. r=spidermonkey-reviewers,jandem
  js/src/jit-test/tests/bigint/bigint-lsh-32.js
  js/src/jit-test/tests/bigint/bigint-lsh-64.js
  js/src/jit-test/tests/bigint/bigint-rsh-32.js
  js/src/jit-test/tests/bigint/bigint-rsh-64.js
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.h
  js/src/jit/MIROps.yaml
  js/src/jit/Recover.cpp
  js/src/jit/Recover.h
  js/src/jit/WarpCacheIRTranspiler.cpp
  js/src/jit/arm/Lowering-arm.cpp
  js/src/jit/arm/Lowering-arm.h
  js/src/jit/arm64/Lowering-arm64.cpp
  js/src/jit/arm64/Lowering-arm64.h
  js/src/jit/loong64/Lowering-loong64.cpp
  js/src/jit/loong64/Lowering-loong64.h
  js/src/jit/mips-shared/Lowering-mips-shared.cpp
  js/src/jit/mips-shared/Lowering-mips-shared.h
  js/src/jit/none/Lowering-none.h
  js/src/jit/wasm32/Lowering-wasm32.h
  js/src/jit/x86-shared/Lowering-x86-shared.cpp
  js/src/jit/x86-shared/Lowering-x86-shared.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1914631 - Part 16: Support unary operations. r=spidermonkey-reviewers,jandem
  js/src/jit-test/tests/bigint/bigint-dec-32.js
  js/src/jit-test/tests/bigint/bigint-dec-64.js
  js/src/jit-test/tests/bigint/bigint-inc-32.js
  js/src/jit-test/tests/bigint/bigint-inc-64.js
  js/src/jit-test/tests/bigint/bigint-neg-32.js
  js/src/jit-test/tests/bigint/bigint-neg-64.js
  js/src/jit-test/tests/bigint/bigint-not-32.js
  js/src/jit-test/tests/bigint/bigint-not-64.js
  js/src/jit/CacheIR.cpp
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CacheIRGenerator.h
  js/src/jit/CacheIROps.yaml
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.h
  js/src/jit/MIROps.yaml
  js/src/jit/Recover.cpp
  js/src/jit/Recover.h
  js/src/jit/WarpCacheIRTranspiler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1914631 - Part 19: Clean-up MacroAssembler methods for BigInts. r=spidermonkey-reviewers,jandem
  js/src/jit/CacheIRCompiler.cpp
  js/src/jit/CodeGenerator.cpp
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914631 - Part 17: Add IntPtr <> Int64 conversion nodes. r=spidermonkey-reviewers,jandem
  js/src/jit-test/tests/warp/bigint64-to-intptr-bailout.js
  js/src/jit/CodeGenerator.cpp
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.cpp
  js/src/jit/MIR.h
  js/src/jit/MIROps.yaml
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm-inl.h
  js/src/jit/arm64/MacroAssembler-arm64-inl.h
  js/src/jit/loong64/MacroAssembler-loong64-inl.h
  js/src/jit/mips64/MacroAssembler-mips64-inl.h
  js/src/jit/riscv64/MacroAssembler-riscv64-inl.h
  js/src/jit/shared/Lowering-shared-inl.h
  js/src/jit/wasm32/MacroAssembler-wasm32-inl.h
  js/src/jit/x64/MacroAssembler-x64-inl.h
  js/src/jit/x86/MacroAssembler-x86-inl.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1914631 - Part 20: Correctly handle INTPTR_MIN in MacroAssembler::loadBigIntr. r=spidermonkey-reviewers,jandem
  js/src/jit/MacroAssembler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918076 - Add 'ic_search' to the keep.xml file r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/res/raw/keep.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1916833 - Add tooling for support measurements in custom test scripts. r=aglavic,perftest-reviewers
  testing/raptor/browsertime/speedometer3.js
  testing/raptor/browsertime/support-scripts/speedometer3.py
  testing/raptor/browsertime/utils/support_measurements.js
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm, raptor

Bug 1917828 - Update browsertime to v22.10.1. r=perftest-reviewers,kshampur
  tools/browsertime/package-lock.json
  tools/browsertime/package.json
Due: bugzilla-components

Bug 1915848 - Set network.http.http2.allow-push to false r=kershaw
  modules/libpref/init/StaticPrefList.yaml
  netwerk/test/unit/test_dns_by_type_resolve.js
  netwerk/test/unit/test_origin.js
  netwerk/test/unit/test_trr.js
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Bug 1914438 - Long press on New tab button does not offer to open a new Container tab r=sidebar-reviewers,tabbrowser-reviewers,dao,sclements
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1916996 - Add support for running upload/download test with Chrome, r=sparky,perftest-reviewers
  taskcluster/kinds/test/browsertime-desktop.yml
  testing/perfdocs/generated/raptor.rst
  testing/raptor/browsertime/support-scripts/network_bench.py
  testing/raptor/raptor/tests/custom/browsertime-network-bench.toml
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, rst, file-whitespace, raptor

No bug - Tagging e984004cf6baea833e2741488b04b29785db6ecd with FIREFOX-ANDROID_131_0b5_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging e984004cf6baea833e2741488b04b29785db6ecd with DEVEDITION_131_0b5_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging e984004cf6baea833e2741488b04b29785db6ecd with FIREFOX_131_0b5_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1914915 - Add moz-button and moz-button-group to the list of scripts loaded for the about:home startup cache. a=pascalc
  browser/components/newtab/data/content/abouthomecache/page.html.template
Due: bugzilla-components, newtab-unit-tests

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
