Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1909234 - Vendor libwebrtc from 752a2b8afb
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/media/engine/webrtc_video_engine.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1894516 - Make screenshots face focusable via the keyboard. r=sfoster,desktop-theme-reviewers,fluent-reviewers,bolsson,ayeddi
  browser/actors/ScreenshotsComponentChild.sys.mjs
  browser/components/screenshots/ScreenshotsOverlayChild.sys.mjs
  browser/components/screenshots/ScreenshotsUtils.sys.mjs
  browser/components/screenshots/overlay/overlay.css
  browser/components/screenshots/tests/browser/browser.toml
  browser/components/screenshots/tests/browser/browser_screenshots_face_focusable.js
  browser/components/screenshots/tests/browser/browser_screenshots_focus_test.js
  browser/locales/en-US/browser/screenshots.ftl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1909234 - Vendor libwebrtc from f076fd91a1
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_device/mac/audio_device_mac.h
  third_party/libwebrtc/modules/desktop_capture/mac/desktop_configuration.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 3cfebdf0df
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 3fa94c458f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/test/video_codec_tester.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 1707a7d9d1
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from ed3040193c
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Backed out 2 changesets (bug 1909012) for causing irregexp update. CLOSED TREE
  js/src/irregexp/RegExpShim.h
  js/src/irregexp/imported/regexp-ast.h
  js/src/irregexp/imported/regexp-bytecode-peephole.cc
  js/src/irregexp/imported/regexp-bytecode-peephole.h
  js/src/irregexp/imported/regexp-compiler-tonode.cc
  js/src/irregexp/imported/regexp-compiler.cc
  js/src/irregexp/imported/regexp-compiler.h
  js/src/irregexp/imported/regexp-interpreter.cc
  js/src/irregexp/imported/regexp-interpreter.h
  js/src/irregexp/imported/regexp-macro-assembler-tracer.cc
  js/src/irregexp/imported/regexp-macro-assembler.cc
  js/src/irregexp/imported/regexp-macro-assembler.h
  js/src/irregexp/imported/regexp-nodes.h
  js/src/irregexp/imported/regexp-parser.cc
  js/src/irregexp/imported/regexp-parser.h
  js/src/irregexp/imported/regexp.h
  js/src/irregexp/moz.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from b792d60929
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/test/BUILD.gn
  third_party/libwebrtc/test/video_codec_tester.cc
  third_party/libwebrtc/test/video_codec_tester_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909928 - [devtools] Tweak about:debugging docs about remote debugging. r=jdescottes,fluent-reviewers,devtools-reviewers,bolsson
  devtools/client/aboutdebugging/src/components/connect/ConnectPage.js
  devtools/client/locales/en-US/aboutdebugging.ftl
  devtools/docs/user/about_colon_debugging/about_debugging_home.png
  devtools/docs/user/about_colon_debugging/android_firefox_debugging_option.png
  devtools/docs/user/about_colon_debugging/android_usb_debugging.png
  devtools/docs/user/about_colon_debugging/index.rst
Due: bugzilla-components, codespell, eslint, license, rst, localization, file-perm, devtools-tests

Bug 1909234 - Vendor libwebrtc from 500e1e1c98
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/build_overrides/partition_alloc.gni
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from 06e88bbb5a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0087.patch
  third_party/libwebrtc/moz-patch-stack/0088.patch
  third_party/libwebrtc/moz-patch-stack/0111.patch
  third_party/libwebrtc/moz-patch-stack/0112.patch
  third_party/libwebrtc/moz-patch-stack/0113.patch
  third_party/libwebrtc/moz-patch-stack/0114.patch
  third_party/libwebrtc/moz-patch-stack/0115.patch
  third_party/libwebrtc/moz-patch-stack/0116.patch
  third_party/libwebrtc/moz-patch-stack/0117.patch
  third_party/libwebrtc/moz-patch-stack/0118.patch
  third_party/libwebrtc/moz-patch-stack/0119.patch
  third_party/libwebrtc/moz-patch-stack/0120.patch
  third_party/libwebrtc/moz-patch-stack/06e88bbb5a.no-op-cherry-pick-msg
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from 876d0c9881
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/neteq/decision_logic_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 48ae22f631
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video_codecs/simulcast_stream.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from c045c6fc60
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/video_coding/svc/scalability_mode_util.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 7c6624a9ea
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/media/engine/simulcast_encoder_adapter.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910410 - prefFlips fail to unenroll when re-enrolling in rollouts r=chumphreys
  toolkit/components/nimbus/lib/PrefFlipsFeature.sys.mjs
  toolkit/components/nimbus/test/unit/test_prefFlips.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1909234 - Vendor libwebrtc from 6431a64f02
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/BUILD.gn
  third_party/libwebrtc/api/frame_transformer_interface.h
  third_party/libwebrtc/api/rtp_receiver_interface.cc
  third_party/libwebrtc/audio/BUILD.gn
  third_party/libwebrtc/audio/channel_receive_frame_transformer_delegate.cc
  third_party/libwebrtc/audio/channel_receive_frame_transformer_delegate.h
  third_party/libwebrtc/audio/channel_receive_frame_transformer_delegate_unittest.cc
  third_party/libwebrtc/audio/channel_send_frame_transformer_delegate_unittest.cc
  third_party/libwebrtc/media/BUILD.gn
  third_party/libwebrtc/media/base/codec.cc
  third_party/libwebrtc/media/base/codec.h
  third_party/libwebrtc/modules/rtp_rtcp/BUILD.gn
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_video_frame_transformer_delegate.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_video_frame_transformer_delegate.h
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0085.patch
  third_party/libwebrtc/moz-patch-stack/0086.patch
  third_party/libwebrtc/moz-patch-stack/0105.patch
  third_party/libwebrtc/pc/BUILD.gn
  third_party/libwebrtc/pc/rtp_receiver.cc
  third_party/libwebrtc/pc/rtp_receiver.h
  third_party/libwebrtc/pc/rtp_receiver_proxy.h
  third_party/libwebrtc/pc/rtp_sender_receiver_unittest.cc
  third_party/libwebrtc/pc/rtp_transceiver.cc
  third_party/libwebrtc/pc/sdp_offer_answer.cc
  third_party/libwebrtc/pc/sdp_offer_answer.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 67fd83eae2
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/audio/audio_view.h
  third_party/libwebrtc/common_audio/resampler/include/push_resampler.h
  third_party/libwebrtc/common_audio/resampler/push_resampler.cc
  third_party/libwebrtc/modules/audio_processing/BUILD.gn
  third_party/libwebrtc/modules/audio_processing/agc2/vad_wrapper.cc
  third_party/libwebrtc/modules/audio_processing/include/audio_frame_view.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909908 - Skip tests on macosx 14.x which fail with media_decode_err. r=padenot
  dom/media/test/browser/browser.toml
  dom/media/test/mochitest.toml
  dom/media/test/mochitest_media_recorder.toml
Due: bugzilla-components

Backed out changeset 08e7ff2f73b5 (bug 1908934) browser_translations_select_panel_copy_button.js CLOSED TREE
  toolkit/components/translations/content/translations-engine.worker.js
  toolkit/components/translations/tests/browser/browser.toml
  toolkit/components/translations/tests/browser/browser_translations_text_cleaning.js
  toolkit/components/translations/tests/browser/shared-head.js
  toolkit/components/translations/tests/browser/translations-test.mjs
  toolkit/components/translations/tests/browser/translations-text-cleaning.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1909234 - Vendor libwebrtc from dea23f7642
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 4918ae25f8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1904094 - Match select element styling in experimental section with other components. r=reusable-components-reviewers,settings-reviewers,desktop-theme-reviewers,dao,hjones,mstriemer
  browser/components/preferences/experimental.inc.xhtml
  browser/themes/shared/preferences/preferences.css
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-config.js
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1910360 - use quinn-udp instead of NSPR for QUIC I/O on Nightly r=kershaw
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1909234 - Vendor libwebrtc from 32fdb04f1f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/neteq/audio_decoder_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from bd4dd67dde
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/test/EncodeDecodeTest.cc
  third_party/libwebrtc/modules/audio_coding/test/TestAllCodecs.cc
  third_party/libwebrtc/modules/audio_coding/test/TestRedFec.cc
  third_party/libwebrtc/modules/audio_coding/test/TestStereo.cc
  third_party/libwebrtc/modules/audio_coding/test/TestVADDTX.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from d38b84ec27
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/p2p/base/turn_port_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 1b26b72f30
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/acm2/audio_coding_module_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from c74412b304
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/adaptation/BUILD.gn
  third_party/libwebrtc/api/adaptation/DEPS
  third_party/libwebrtc/api/adaptation/resource.h
  third_party/libwebrtc/api/audio/audio_mixer.h
  third_party/libwebrtc/api/audio_codecs/audio_encoder_factory.h
  third_party/libwebrtc/api/crypto/frame_decryptor_interface.h
  third_party/libwebrtc/api/crypto/frame_encryptor_interface.h
  third_party/libwebrtc/api/make_ref_counted.h
  third_party/libwebrtc/api/ref_counted_base.h
  third_party/libwebrtc/api/stats/rtc_stats_collector_callback.h
  third_party/libwebrtc/api/video/encoded_image.h
  third_party/libwebrtc/audio/voip/audio_channel.h
  third_party/libwebrtc/call/adaptation/resource_adaptation_processor.h
  third_party/libwebrtc/call/audio_state.h
  third_party/libwebrtc/common_video/video_frame_buffer.cc
  third_party/libwebrtc/common_video/video_frame_buffer_pool.cc
  third_party/libwebrtc/media/engine/webrtc_voice_engine_unittest.cc
  third_party/libwebrtc/modules/async_audio_processing/async_audio_processing.h
  third_party/libwebrtc/modules/video_capture/windows/help_functions_ds.h
  third_party/libwebrtc/pc/connection_context.h
  third_party/libwebrtc/pc/peer_connection_media_unittest.cc
  third_party/libwebrtc/pc/proxy.h
  third_party/libwebrtc/pc/proxy_unittest.cc
  third_party/libwebrtc/pc/rtc_stats_collector.h
  third_party/libwebrtc/pc/rtc_stats_collector_unittest.cc
  third_party/libwebrtc/rtc_base/ref_count.h
  third_party/libwebrtc/rtc_base/ref_counted_object.h
  third_party/libwebrtc/rtc_base/ref_counted_object_unittest.cc
  third_party/libwebrtc/rtc_base/ref_counter.h
  third_party/libwebrtc/rtc_base/weak_ptr.h
  third_party/libwebrtc/sdk/android/src/java/org/webrtc/JniCommon.java
  third_party/libwebrtc/test/mappable_native_buffer.h
  third_party/libwebrtc/video/config/video_encoder_config.h
  third_party/libwebrtc/video/video_stream_encoder_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908671 - Add directory management for selectable profiles. r=jhirsch,mossop
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/unit/test_selectable_profiles_lifecycle.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1909926 - Highlight shadowRoot elements in screenshots overlay. r=kcochrane
  browser/components/screenshots/overlayHelpers.mjs
  browser/components/screenshots/tests/browser/browser.toml
  browser/components/screenshots/tests/browser/browser_shadowRoot_test.js
  browser/components/screenshots/tests/browser/head.js
  browser/components/screenshots/tests/browser/test-page-shadowRoot.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1896390 - Ship iterator helpers; r=mgaudet,webidl,emilio
  dom/serviceworkers/test/test_serviceworker_interfaces.js
  dom/tests/mochitest/general/test_interfaces.js
  dom/workers/test/test_worker_interfaces.js
  js/src/doc/feature_checklist.md
  js/src/jit-test/tests/collections/iterator-proto-surfaces.js
  js/src/shell/js.cpp
  js/src/vm/GlobalObject.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 9f6bb625e6
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/codecs/builtin_audio_encoder_factory_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/ilbc/ilbc_unittest.cc
  third_party/libwebrtc/modules/audio_processing/test/debug_dump_test.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from cfab6409ae
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_audio/vad/vad_core_unittest.cc
  third_party/libwebrtc/common_audio/vad/vad_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from fdd0c6d667
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_audio/signal_processing/signal_processing_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 11e366db30
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_audio/vad/vad_gmm_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
