Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1924519, part 1 - Text Fragments: Refactored helper functions into separate file. r=dom-core,farre
  dom/base/FragmentDirective.cpp
  dom/base/FragmentDirective.h
  dom/base/TextDirectiveUtil.cpp
  dom/base/TextDirectiveUtil.h
  dom/base/fragmentdirectives/cbindgen.toml
  dom/base/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924519, part 2 - Text Fragments: Refactor algorithm to find a text directive in a document into its own file. r=dom-core,farre
  dom/base/FragmentDirective.cpp
  dom/base/FragmentDirective.h
  dom/base/TextDirectiveFinder.cpp
  dom/base/TextDirectiveFinder.h
  dom/base/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920807 - Disable Race Cache With Network (RCWN) for Early Hints preloads r=necko-reviewers,acreskey,kershaw
  netwerk/protocol/http/EarlyHintPreloader.cpp
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpChannel.h
  netwerk/protocol/http/nsIRaceCacheWithNetwork.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925999 - Disable test_http3.js on linux with socketprocess_networking for permafailing on opt,asan,ccov platforms. r=necko-reviewers,kershaw, a=test-only
  netwerk/test/unit/xpcshell.toml
Due: bugzilla-components

Bug 1925999 - Disable test_http3.js on linux with socketprocess_networking for permafailing on opt,asan,ccov platforms. r=necko-reviewers,kershaw DONTBUILD
  netwerk/test/unit/xpcshell.toml
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1928655 - Amend focusContentDocumentEsc test for trimHttps. r=urlbar-reviewers,mak
  browser/components/urlbar/tests/browser/browser_focusContentDocumentEsc.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1925030 - [devtools] Remove a11y_check annotation on browser_dbg-blackbox.js. r=devtools-reviewers,ochameau.
  devtools/client/debugger/test/mochitest/browser_aj.toml
Due: bugzilla-components, debugger-tests, devtools-tests

Bug 1928003 - [devtools] Avoid triggering a11y failure in browser_markup_tag_edit_long-classname.js. r=devtools-reviewers,ochameau.
  devtools/client/inspector/markup/test/browser_markup_tag_edit_long-classname.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1928868 - Adjust maxRecentMessageIDsPerSubscription to 100 r=asuth
  modules/libpref/init/all.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1810437 - Stop using UNSAFE_componentWillMount in devtools/client/shared/components/Frame.js r=devtools-reviewers,nchevobbe
  devtools/client/shared/components/Frame.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1781349 - Intermittent browser_searchSingleWordNotification.js. r=urlbar-reviewers,Standard8
  browser/components/urlbar/tests/browser/browser_searchSingleWordNotification.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928550 - Don't breakout on readonly urlbar. r=urlbar-reviewers,dao
  browser/components/urlbar/UrlbarInput.sys.mjs
Due: bugzilla-components

Bug 1928550 - Don't breakout on readonly urlbar. r=urlbar-reviewers,dao, a=dmeehan
  browser/components/urlbar/UrlbarInput.sys.mjs
Due: bugzilla-components

Bug 1762911 - Remove InitializeStaticHeaders from expected leaks r=necko-reviewers,webdriver-reviewers,kershaw
  testing/web-platform/meta/fetch/api/redirect/__dir__.ini
  testing/web-platform/meta/infrastructure/webdriver/tests/__dir__.ini
  testing/web-platform/meta/loading/early-hints/__dir__.ini
  testing/web-platform/meta/resource-timing/__dir__.ini
  testing/web-platform/meta/webdriver/tests/__dir__.ini
  testing/web-platform/meta/xhr/__dir__.ini
  testing/web-platform/mozilla/meta/fetch/fetchpriority/fetchpriority-disabled.h2.html.ini
  testing/web-platform/mozilla/meta/fetch/fetchpriority/fetchpriority-urgency-destination.https.h2.html.ini
  testing/web-platform/mozilla/meta/fetch/fetchpriority/fetchpriority-urgency.h2.html.ini
  testing/web-platform/mozilla/meta/fetch/fetchpriority/fetchpriority.h2.html.ini
  testing/web-platform/mozilla/meta/webdriver/__dir__.ini
Due: bugzilla-components, test-manifest

Bug 1894239: Enable MOZ_SELECTABLE_PROFILES by default. r=jhirsch,omc-reviewers,niklas,emcminn,mconley
  browser/base/content/browser-profiles.js
  browser/base/content/test/performance/browser_appmenu.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/asrouter/modules/ASRouterTargeting.sys.mjs
  browser/components/asrouter/tests/browser/browser_asrouter_targeting.js
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_create_profile_page_test.js
  browser/components/profiles/tests/browser/browser_edit_profile_test.js
  browser/components/profiles/tests/browser/browser_test_db_lazily_created.js
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
  browser/components/profiles/tests/browser/browser_update_profile_on_window_switch.js
  browser/components/profiles/tests/unit/test_fail_recover_storeID.js
  browser/components/profiles/tests/unit/test_recover_storeID.js
  browser/components/profiles/tests/unit/test_selectable_profile_launch.js
  browser/components/profiles/tests/unit/test_selectable_profile_service_exists.js
  browser/components/profiles/tests/unit/test_selectable_profiles_lifecycle.js
  browser/components/profiles/tests/unit/test_shared_prefs_lifecycles_methods.js
  browser/components/profiles/tests/unit/xpcshell.toml
  toolkit/components/remote/nsDBusRemoteClient.cpp
  toolkit/moz.configure
  toolkit/profile/test/xpcshell/head.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-flake8, file-whitespace, file-perm, mozbuild

Bug 1927404 - Fix reftests. r=hsivonen
  parser/htmlparser/tests/reftest/bug1153920-1-ref.html
  parser/htmlparser/tests/reftest/bug1319410-1-ref.html
  parser/htmlparser/tests/reftest/bug1650087-1-ref.html
  parser/htmlparser/tests/reftest/bug1726374-1-ref.html
  parser/htmlparser/tests/reftest/bug482921-1-ref.html
  parser/htmlparser/tests/reftest/bug482921-2-ref.html
  parser/htmlparser/tests/reftest/bug535530-2-ref.html
  parser/htmlparser/tests/reftest/bug704667-1-ref.html
  parser/htmlparser/tests/reftest/bug731234-1-ref.html
  parser/htmlparser/tests/reftest/bug910588-1-ref.html
  parser/htmlparser/tests/reftest/incomplete-xml-decl-ref.html
  parser/htmlparser/tests/reftest/view-source-bom-ref.html
  parser/htmlparser/tests/reftest/vs-after-head-after-1kb-ref.html
  parser/htmlparser/tests/reftest/vs-after-head-in-1kb-ref.html
  parser/htmlparser/tests/reftest/vs-non-ascii-in-comment-before-ref.html
  parser/htmlparser/tests/reftest/xml-ref.html
  parser/htmlparser/tests/reftest/xml-utf-ref.html
  parser/htmlparser/tests/reftest/xml-without-tags-ref.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1927404 - Make each line in view-source a <span> rather than a <pre>. r=hsivonen
  layout/style/res/viewsource.css
  parser/html/nsHtml5Highlighter.cpp
  parser/html/nsHtml5Highlighter.h
  parser/html/nsHtml5ViewSourceUtils.cpp
  toolkit/actors/ViewSourcePageChild.sys.mjs
  toolkit/components/viewsource/test/browser/browser_gotoline.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1926055 part 1 - add "Unload Tab" to context menu r=tabbrowser-reviewers,fluent-reviewers,dao,bolsson
  browser/app/profile/firefox.js
  browser/base/content/browser.xhtml
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/main-popupset.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/locales-preview/tabUnload.ftl
  browser/locales/jar.mn
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1926055 part 2 - add tests for "Unload Tab" context menu r=tabbrowser-reviewers,dao
  browser/components/tabbrowser/test/browser/tabs/browser.toml
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_unload.js
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_unload_with_beforeunload.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928694 - Replace mozilla::clamped with std::clamp r=kershaw,necko-reviewers
  netwerk/base/nsSocketTransportService2.cpp
  netwerk/cache2/CacheFileChunk.cpp
  netwerk/dns/nsHostResolver.cpp
  netwerk/protocol/http/HttpChannelChild.cpp
  netwerk/protocol/http/InterceptedHttpChannel.cpp
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpHandler.cpp
  netwerk/protocol/websocket/WebSocketChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928931: Speed up `nsFind` by reusing the word segmenter. r=emilio
  intl/lwbrk/Segmenter.cpp
  intl/lwbrk/Segmenter.h
  toolkit/components/find/nsFind.cpp
  toolkit/components/find/nsFind.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927404 - Fix browser_gotoline.js.
  toolkit/components/viewsource/test/browser/browser_gotoline.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 07b4dffd9109 (bug 1894239) for causing bc failures @browser_all_files_referenced.js. CLOSED TREE
  browser/base/content/browser-profiles.js
  browser/base/content/test/performance/browser_appmenu.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/asrouter/modules/ASRouterTargeting.sys.mjs
  browser/components/asrouter/tests/browser/browser_asrouter_targeting.js
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/browser/browser_create_profile_page_test.js
  browser/components/profiles/tests/browser/browser_edit_profile_test.js
  browser/components/profiles/tests/browser/browser_test_db_lazily_created.js
  browser/components/profiles/tests/browser/browser_test_profile_selector.js
  browser/components/profiles/tests/browser/browser_update_profile_on_window_switch.js
  browser/components/profiles/tests/unit/test_fail_recover_storeID.js
  browser/components/profiles/tests/unit/test_recover_storeID.js
  browser/components/profiles/tests/unit/test_selectable_profile_launch.js
  browser/components/profiles/tests/unit/test_selectable_profile_service_exists.js
  browser/components/profiles/tests/unit/test_selectable_profiles_lifecycle.js
  browser/components/profiles/tests/unit/test_shared_prefs_lifecycles_methods.js
  browser/components/profiles/tests/unit/xpcshell.toml
  toolkit/components/remote/nsDBusRemoteClient.cpp
  toolkit/moz.configure
  toolkit/profile/test/xpcshell/head.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-flake8, file-whitespace, file-perm, mozbuild

Bug 1927101 - [gtk] Don't try to open a real file-picker in headless mode. r=bytesized
  widget/gtk/nsFilePicker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925554 - Configure caddy to use static file for download test, r=sparky,perftest-reviewers
  testing/raptor/browsertime/support-scripts/network_bench.py
  testing/raptor/browsertime/utils/download_test.html
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm, raptor

Bug 1925675 - Force HTTP/3 for performance tests, r=sparky,perftest-reviewers,necko-reviewers,valentin
  modules/libpref/init/StaticPrefList.yaml
  netwerk/protocol/http/nsHttpChannel.cpp
  testing/raptor/browsertime/download.js
  testing/raptor/browsertime/support-scripts/network_bench.py
  testing/raptor/browsertime/upload.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm, raptor

Bug 1922020, part 9 - Remove reliance on window.opener storage access heuristic in user.js from dom/notification - r=saschanaz
  dom/notification/test/mochitest/notification_worker.js
  dom/notification/test/mochitest/notification_worker_child-child.js
  dom/notification/test/mochitest/notification_worker_child-parent.js
  dom/notification/test/mochitest/test_notification_worker.html
  dom/notification/test/mochitest/test_notification_worker_child.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1922020, part 8 - Remove reliance on window.opener storage access heuristic in user.js from dom/indexedDB - r=asuth,dom-storage-reviewers
  dom/indexedDB/test/file.js
  dom/indexedDB/test/test_sandbox.html
  dom/quota/PrincipalUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1922020, part 10 - Remove reliance on window.opener storage access heuristic in user.js from layout/base/tests/test_zoom_restore_bfcache.html - r=emilio
  layout/base/tests/test_zoom_restore_bfcache.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1922020, part 11 - Remove reliance on window.opener storage access heuristic in user.js from netwerk/ r=valentin,cookie-reviewers
  netwerk/cookie/test/mochitest/mochitest.toml
  netwerk/cookie/test/mochitest/server_time.sjs
  netwerk/cookie/test/mochitest/test_document_cookie_notification.html
  netwerk/test/mochitests/file_testcommon.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1922020, part 12 - Remove reliance on window.opener storage access heuristic in user.js from toolkit/components/extensions/test/mochitest/ - r=robwu
  toolkit/components/extensions/test/mochitest/test_ext_subframes_privileges.html
  toolkit/components/extensions/test/mochitest/test_ext_webrequest_redirect_bypass_cors.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1922020, part 15 - Remove reliance on window.opener storage access heuristic in user.js from toolkit/components/antitracking - r=timhuang,anti-tracking-reviewers
  browser/base/content/test/protectionsUI/browser_protectionsUI_cookies_subview.js
  toolkit/components/antitracking/test/browser/browser_permissionInNormalWindows.js
  toolkit/components/antitracking/test/browser/browser_permissionInNormalWindows_alwaysPartition.js
  toolkit/components/antitracking/test/browser/browser_permissionInPrivateWindows.js
  toolkit/components/antitracking/test/browser/browser_permissionInPrivateWindows_alwaysPartition.js
  toolkit/components/antitracking/test/browser/browser_script.js
  toolkit/components/antitracking/test/browser/browser_storageAccessThirdPartyChecks.js
  toolkit/components/antitracking/test/browser/browser_storageAccessThirdPartyChecks_alwaysPartition.js
  toolkit/components/antitracking/test/browser/browser_subResources.js
  toolkit/components/antitracking/test/browser/browser_subResourcesPartitioned.js
  toolkit/components/antitracking/test/browser/browser_subResourcesPartitioned_alwaysPartition.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1922020, part 14 - Remove reliance on window.opener storage access heuristic in user.js from toolkit/components/windowwatcher/test/test_storage_copied.html - r=asuth
  toolkit/components/windowwatcher/test/test_storage_copied.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1922020, part 16 - Disable opener heuristic in mochitests - r=timhuang
  testing/profiles/mochitest/user.js
Due: bugzilla-components, codespell, eslint, license, file-perm, mochitest-harness

Bug 1928672 - Enable xorigin BroadcastChannel in docshell/test/mochitest/test_form_restoration.html so it doesn't rely on heuristics - r=smaug
  docshell/test/mochitest/test_form_restoration.html
Due: bugzilla-components, codespell, eslint, license, file-perm

No Bug, mozilla-esr115 repo-update HSTS HPKP remote-settings tld-suffixes - a=dmeehan
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
