Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1944376 - Part 2: Skip zero_byte_load event if the target BrowsingContext has been discarded, r=kershaw
  modules/libjar/nsJARChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927750 - Add login screen and make about:welcome screens fullscreen r=omc-reviewers,hanna_a
  browser/components/aboutwelcome/assets/fox-doodle-waving-laptop.svg
  browser/components/aboutwelcome/jar.mn
  browser/components/aboutwelcome/modules/AboutWelcomeDefaults.sys.mjs
  browser/components/aboutwelcome/tests/browser/browser_aboutwelcome_multistage_mr.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1941961 - Move Nimbus initialization logic into ExperimentAPI r=emcminn
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/normandy/Normandy.sys.mjs
Due: bugzilla-components

Bug 1944677 - Coerce userPrefersReducedMotion to false in targeting context recorder r=emcminn
  toolkit/components/nimbus/lib/TargetingContextRecorder.sys.mjs
Due: bugzilla-components

Bug 581863 - Fix nsWindow coordinates to make sense. r=stransky,win-reviewers,rkraesig,devtools-reviewers,ochameau
  browser/base/content/test/popups/head.js
  browser/components/extensions/test/browser/browser_ext_browserAction_popup_resize_bottom.js
  browser/components/extensions/test/browser/browser_ext_windows_create_params.js
  browser/components/extensions/test/browser/browser_unified_extensions_overflowable_toolbar.js
  browser/components/screenshots/tests/browser/browser_screenshots_short_page_test.js
  browser/components/screenshots/tests/browser/browser_test_resize.js
  browser/components/screenshots/tests/browser/head.js
  devtools/shared/commands/resource/tests/browser_resources_stylesheets.js
  dom/tests/mochitest/general/mochitest.toml
  dom/tests/mochitest/general/test_resizeby.html
  layout/generic/nsContainerFrame.cpp
  layout/xul/test/test_popupReflowPos.xhtml
  toolkit/content/tests/chrome/file_maximized_persist.js
  toolkit/content/tests/chrome/test_screenPersistence.xhtml
  widget/cocoa/nsCocoaWindow.h
  widget/cocoa/nsCocoaWindow.mm
  widget/gtk/WidgetStyleCache.cpp
  widget/gtk/gtk3drawing.cpp
  widget/gtk/gtkdrawing.h
  widget/gtk/nsWindow.cpp
  widget/gtk/nsWindow.h
  widget/nsBaseWidget.cpp
  widget/nsIWidget.h
  widget/windows/nsWindow.cpp
  widget/windows/nsWindow.h
  xpfe/appshell/AppWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, devtools-tests

Bug 581863 - Web ext fixes. r=robwu
  browser/components/extensions/parent/ext-windows.js
  browser/components/extensions/test/browser/browser_ext_windows_size.js
  browser/components/extensions/test/browser/browser_unified_extensions_overflowable_toolbar.js
  browser/components/extensions/test/browser/head_unified_extensions.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 581863 - [remote] Improve window resizing and positioning reliability. r=whimboo,webdriver-reviewers
  remote/marionette/driver.sys.mjs
  testing/web-platform/meta/webdriver/tests/classic/set_window_rect/set.py.ini
  testing/web-platform/tests/infrastructure/testdriver/set_get_window_rect.html
  testing/web-platform/tests/webdriver/tests/classic/set_window_rect/set.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1945292 — cargo vet prune. r=nika,supply-chain-reviewers
  supply-chain/config.toml
  supply-chain/imports.lock
Due: bugzilla-components

Bug 1945292 — Update cargo-vet to a8f88ddd75f4a10ab9427e8c4a8bec1603ef860b. r=nika
  taskcluster/kinds/fetch/toolchains.yml
Due: bugzilla-components, yaml

Bug 1945292 — Renew expiring wildcard audits. r=nika,supply-chain-reviewers
  supply-chain/audits.toml
Due: bugzilla-components

Bug 1904441 - Add test suite to about:messagepreview r=omc-reviewers,dmose
  browser/components/asrouter/modules/ASRouter.sys.mjs
  browser/components/messagepreview/actors/AboutMessagePreviewParent.sys.mjs
  browser/components/messagepreview/moz.build
  browser/components/messagepreview/tests/browser/browser.toml
  browser/components/messagepreview/tests/browser/browser_messagepreview_receivemessage.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_bookmarks_bar.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_cfr.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_featurecallout.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_infobar.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_invalidmessage.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_privatebrowsing.js
  browser/components/messagepreview/tests/browser/browser_messagepreview_show_spotlight.js
  browser/components/messagepreview/tests/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1538451 - Add openShortcutSettings() to browser.commands extension API. r=robwu,desktop-theme-reviewers,dao
  browser/components/extensions/parent/ext-commands.js
  browser/components/extensions/schemas/commands.json
  browser/components/extensions/test/browser/browser.toml
  browser/components/extensions/test/browser/browser_ext_commands_openShortcutSettings.js
  toolkit/components/extensions/ExtensionShortcuts.sys.mjs
  toolkit/mozapps/extensions/content/aboutaddons.js
  toolkit/mozapps/extensions/content/shortcuts.css
  toolkit/mozapps/extensions/content/shortcuts.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1767711 - [devtools] Extract failing subtest from browser_dbg-preview.js r=devtools-reviewers,ochameau
  devtools/client/debugger/test/mochitest/browser_dbg-preview-invalid-tokens.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1767711 - [devtools] Extract other unrelated tests from browser_dbg-preview.js r=devtools-reviewers,ochameau
  devtools/client/debugger/test/mochitest/browser_dbg-preview-bucketed-array.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview-moving-token.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1942424 - [0/5] Add ScopedOLELock and ScopedOLEMemory r=win-reviewers,gstoll
  widget/windows/WinOLELock.h
  widget/windows/nsClipboard.cpp
  widget/windows/nsDataObj.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942424 - [1/5] GetNativeDataOffClipboard() cleanup, phase 1 r=win-reviewers,gstoll
  widget/windows/nsClipboard.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942424 - [1.5/5] GetNativeDataOffClipboard() cleanup, phase 1.5 of 3 r=win-reviewers,gstoll
  widget/windows/nsClipboard.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942424 - [2/5] GetNativeDataOffClipboard() cleanup, phase 2 of 3 r=win-reviewers,gstoll
  widget/windows/nsClipboard.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942424 - [3/5] GetNativeDataOffClipboard() cleanup, phase 3 of 3 r=win-reviewers,gstoll
  widget/windows/nsClipboard.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942424 - [4/5] Rewrite nsDataObj::GetText() r=win-reviewers,gstoll
  widget/windows/nsDataObj.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942424 - [5/5] Clean up nsDataObj::GetFile() helpers r=win-reviewers,gstoll
  widget/windows/nsDataObj.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1944989 - Use fuzzy comparisons in PanZoomControllerTest#compositorScrollDelegate. r=hiro,geckoview-reviewers,m_kato
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PanZoomControllerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1944343 - [devtools] Use options panel for DAMP custom netmonitor togglepanel test r=devtools-reviewers,perftest-reviewers,ochameau,afinder
  testing/talos/talos/tests/devtools/addon/content/tests/netmonitor/custom.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1944631 - Remove the HTTP_RESPONSE_STATUS_CODE histogram that already exists in Glean, r=acreskey,necko-reviewers,valentin.
  netwerk/protocol/http/nsHttpChannel.cpp
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1943149 - build(swgl): work around broken (upstream) `cc::Tool` detection of `clang --driver-mode=cl` r=gfx-reviewers,nical
  gfx/wr/swgl/build.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Backed out changeset fb3bcec07615 (bug 1943698) for causing xpc failures @ test_TelemetryAndroidEnvironment.js
  toolkit/components/telemetry/app/TelemetryEnvironment.sys.mjs
  toolkit/components/telemetry/docs/data/environment.rst
  toolkit/components/telemetry/tests/unit/TelemetryEnvironmentTesting.sys.mjs
Due: bugzilla-components, codespell, rst

Bug 1943362 - Update comments for messaging custom attribute functions. r=android-reviewers,petru
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/messaging/CustomAttributeProvider.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1924051 - Allow Microsoft Teams to trigger applinks in subframes. r=android-reviewers,petru
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksInterceptor.kt
  mobile/android/android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksInterceptorTest.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset 0a76059a6352 (bug 1944408) for causing dt failures @ browser_dbg-preview-switch.js CLOSED TREE
  devtools/client/debugger/test/mochitest/browser_dbg-preview-switch.js
  devtools/client/debugger/test/mochitest/browser_kz.toml
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/shared/components/object-inspector/actions.js
  devtools/client/shared/components/object-inspector/components/ObjectInspector.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1944154 - State Machine for tab states r=tabbrowser-reviewers,dao
  browser/components/tabbrowser/content/tabgroup-menu.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1944649 - Locally persist where the last bookmark was saved r=android-reviewers,matt-tighe
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/MenuDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuDialogMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/BookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/edit/EditBookmarkFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/LastSavedFolderCache.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuDialogMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksMiddlewareTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1945291 - Make `preonboarding` feature be `isEarlyStartup: true`. r=mviar,beth
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/nimbus/generate/generate_feature_manifest.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace

Bug 1922889 - add mutex. r=media-playback-reviewers,aosmond, a=dmeehan
  dom/media/ipc/MFCDMChild.cpp
  dom/media/ipc/MFCDMChild.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1922889 - add mutex. r=media-playback-reviewers,aosmond
  dom/media/ipc/MFCDMChild.cpp
  dom/media/ipc/MFCDMChild.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1938451. r=bbeurdouche,peterv, a=dmeehan
  dom/mls/MLSGroupView.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1938451. r=bbeurdouche,peterv
  dom/mls/MLSGroupView.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1944126: Update WebTransportChild r=saschanaz, a=dmeehan
  dom/webtransport/child/WebTransportChild.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
