Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1923864 - Crash differently if not JS_IsThrowingOutOfMemory a=RyanVM
  dom/promise/Promise.cpp
  dom/promise/Promise.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928124 - Implement push error metrics a=RyanVM
  dom/push/PushServiceWebSocket.sys.mjs
  dom/push/metrics.yaml
  toolkit/components/glean/metrics_index.py
  toolkit/components/glean/tags.yaml
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace

Bug 1921433 - Update to black 24.8.0 r=linter-reviewers,ahal
  tools/lint/python/black_requirements.in
  tools/lint/python/black_requirements.txt
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, mozlint

Bug 1918098 - ruff: --verbose --fix should show the fix command too r=linter-reviewers,ahal DONTBUILD
  tools/lint/python/ruff.py
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, mozlint

Bug 1928729 - Allow dots in modelId r=Mardak
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/tests/browser/browser_ml_engine.js
Due: bugzilla-components, codespell, eslint, license, file-perm

No bug - Tagging 99c7a0bf814d88a82ce4173924e96bb582cae5dc with FIREFOX-ANDROID_132_0_1_BUILD2 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging 99c7a0bf814d88a82ce4173924e96bb582cae5dc with FIREFOX_132_0_1_BUILD2 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1927151 - Fix Bing follow-on searches incorrectly recorded as organic:none in telemetry. a=dmeehan
  browser/components/search/SearchSERPTelemetry.sys.mjs
  browser/components/search/test/unit/test_urlTelemetry_generic.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-tt/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-tt/strings.xml
  mobile/android/android-components/components/feature/fxsuggest/src/main/res/values-tt/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-tt/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-si/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-tt/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1919384 - Update comment for mEncodedData r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add number of outputs in drain log r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Apply `AutoCFRelease` to `isUsingHW` r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Sort include headers r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add PrioritizeEncodingSpeedOverQuality setting r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add MaxFrameDelayCount setting r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Use gfx::IntSize to create encoder directly in MediaDataEncoderTest r=media-playback-reviewers,padenot
  dom/media/gtest/TestMediaDataEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Improve realtime encoding in AppleVTEncoder r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
  dom/media/platforms/apple/AppleVTEncoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Handle encode-error in AppleVTEncoder for real-time encoding r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
  dom/media/platforms/apple/AppleVTEncoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add 4K image encoding tests in MediaDataEncoderTest r=media-playback-reviewers,alwu
  dom/media/gtest/TestMediaDataEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-oc/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-si/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-oc/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-si/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-si/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-oc/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-oc/strings.xml
  mobile/android/fenix/app/src/main/res/values-si/strings.xml
  mobile/android/focus-android/app/src/main/res/values-oc/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out 10 changesets (bug 1919384) for causing failures at GeckoProfiler.FeatureCombinations. CLOSED TREE
  dom/media/gtest/TestMediaDataEncoder.cpp
  dom/media/platforms/apple/AppleVTEncoder.cpp
  dom/media/platforms/apple/AppleVTEncoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927529 - Update dav1d to ef4aff75b0b56a8e1af996458ae653c0728a1596 r=chunmin
  media/libdav1d/moz.yaml
  media/libdav1d/vcs_version.h
  third_party/dav1d/NEWS
  third_party/dav1d/meson.build
  third_party/dav1d/src/cdef_tmpl.c
  third_party/dav1d/src/ipred_tmpl.c
  third_party/dav1d/src/loongarch/itx.S
  third_party/dav1d/src/mc_tmpl.c
  third_party/dav1d/src/meson.build
  third_party/dav1d/src/riscv/64/cdef.S
  third_party/dav1d/src/riscv/64/cdef16.S
  third_party/dav1d/src/riscv/64/ipred.S
  third_party/dav1d/src/riscv/64/ipred16.S
  third_party/dav1d/src/riscv/64/itx.S
  third_party/dav1d/src/riscv/64/mc.S
  third_party/dav1d/src/riscv/64/pal.S
  third_party/dav1d/src/riscv/asm.S
  third_party/dav1d/src/riscv/cdef.h
  third_party/dav1d/src/riscv/cpu.h
  third_party/dav1d/src/riscv/ipred.h
  third_party/dav1d/src/riscv/mc.h
  third_party/dav1d/src/riscv/pal.h
  third_party/dav1d/src/x86/looprestoration16_sse.asm
  third_party/dav1d/src/x86/looprestoration_sse.asm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1927533 - Apply mozilla patches for libvpx r=chunmin
  media/libvpx/libvpx/vp8/vp8_cx_iface.c
  media/libvpx/libvpx/vp9/vp9_cx_iface.c
  media/libvpx/libvpx/vpx_ports/aarch64_cpudetect.c
Due: bugzilla-components, codespell, license, mingw-cap, file-whitespace, file-perm

Bug 1927533 - Update libvpx to f7ccdd15c0eaa6edb315d16f48017c6c430604dc r=chunmin
  media/libvpx/config/linux/ia32/vp9_rtcd.h
  media/libvpx/config/linux/x64/vp9_rtcd.h
  media/libvpx/config/mac/ia32/vp9_rtcd.h
  media/libvpx/config/mac/x64/vp9_rtcd.h
  media/libvpx/config/win/ia32/vp9_rtcd.h
  media/libvpx/config/win/x64/vp9_rtcd.h
  media/libvpx/libvpx/args.c
  media/libvpx/libvpx/args.h
  media/libvpx/libvpx/libs.mk
  media/libvpx/libvpx/test/convolve_test.cc
  media/libvpx/libvpx/test/svc_datarate_test.cc
  media/libvpx/libvpx/test/vp9_ext_ratectrl_test.cc
  media/libvpx/libvpx/vp8/vp8_cx_iface.c
  media/libvpx/libvpx/vp9/common/vp9_rtcd_defs.pl
  media/libvpx/libvpx/vp9/encoder/vp9_encodeframe.c
  media/libvpx/libvpx/vp9/encoder/vp9_encoder.c
  media/libvpx/libvpx/vp9/encoder/vp9_encoder.h
  media/libvpx/libvpx/vp9/encoder/vp9_ratectrl.c
  media/libvpx/libvpx/vp9/encoder/vp9_temporal_filter.c
  media/libvpx/libvpx/vp9/encoder/vp9_tpl_model.c
  media/libvpx/libvpx/vp9/encoder/x86/highbd_temporal_filter_avx2.c
  media/libvpx/libvpx/vp9/encoder/x86/highbd_temporal_filter_ssse3.c
  media/libvpx/libvpx/vp9/encoder/x86/temporal_filter_ssse3.c
  media/libvpx/libvpx/vp9/vp9_cx_iface.c
  media/libvpx/libvpx/vp9/vp9cx.mk
  media/libvpx/libvpx/vpx/vpx_ext_ratectrl.h
  media/libvpx/libvpx/vpx/vpx_tpl.h
  media/libvpx/libvpx/vpx_ports/aarch64_cpudetect.c
  media/libvpx/moz.yaml
  media/libvpx/sources.mozbuild
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1919171 - Ensure all dispatched actions are processed before test assertions r=android-reviewers,tchoh
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/engine/middleware/PdfStateMiddlewareTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1928187 [wpt PR 48895] - Add missing tabindex="0" to focus-reset tests, a=testonly
  testing/web-platform/tests/navigation-api/focus-reset/resources/helpers.mjs
Due: bugzilla-components, wptlint-gecko

Bug 1927952 [wpt PR 48872] - Use image-rendering: crisp-edges for all the resized image tests, a=testonly
  testing/web-platform/tests/avif/animated-avif-timeout-ref.html
  testing/web-platform/tests/avif/animated-avif-timeout.html
  testing/web-platform/tests/jpegxl/3x3_jpeg_recompression-ref.html
  testing/web-platform/tests/jpegxl/3x3_jpeg_recompression.html
  testing/web-platform/tests/jpegxl/3x3_srgb_lossless-ref.html
  testing/web-platform/tests/jpegxl/3x3_srgb_lossless.html
  testing/web-platform/tests/jpegxl/3x3_srgb_lossy-ref.html
  testing/web-platform/tests/jpegxl/3x3_srgb_lossy.html
  testing/web-platform/tests/jpegxl/3x3a_srgb_lossless-ref.html
  testing/web-platform/tests/jpegxl/3x3a_srgb_lossless.html
  testing/web-platform/tests/jpegxl/3x3a_srgb_lossy-ref.html
  testing/web-platform/tests/jpegxl/3x3a_srgb_lossy.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1928141 [wpt PR 48888] - Fenced frame: refactor navigate ancestor tests for headless mode., a=testonly
  testing/web-platform/tests/fenced-frame/navigate-ancestor-nested-fenced-frame.https.html
  testing/web-platform/tests/fenced-frame/navigate-ancestor-nested-iframe.https.html
  testing/web-platform/tests/fenced-frame/navigate-ancestor-top-level-fenced-frame.https.html
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-destination.https.html
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-destination.https.html.headers
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-from-nested-fenced-frame.https.html
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-from-nested-fenced-frame.https.html.headers
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-from-nested-iframe.https.html
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-from-nested-iframe.https.html.headers
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-helper.https.html
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-helper.https.html.headers
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-helper.js
  testing/web-platform/tests/fenced-frame/resources/navigate-ancestor-test-runner.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1928251 [wpt PR 48903] - Update wpt metadata, a=testonly
  testing/web-platform/meta/dom/nodes/moveBefore/tentative/selection-preserve.html.ini
Due: bugzilla-components, test-manifest

Bug 1928251 [wpt PR 48903] - DOM: Fix moveBefore() selection directionality crash, a=testonly
  testing/web-platform/tests/dom/nodes/moveBefore/tentative/selection-preserve.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1925716 [wpt PR 48713] - Fix #48684: stop Actions from running (and failing) on forks, a=testonly
  testing/web-platform/tests/.github/workflows/check-workflow-run.yml
  testing/web-platform/tests/.github/workflows/documentation.yml
  testing/web-platform/tests/.github/workflows/epochs.yml
  testing/web-platform/tests/.github/workflows/interfaces.yml
  testing/web-platform/tests/.github/workflows/manifest.yml
  testing/web-platform/tests/.github/workflows/regen_certs.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1928315 [wpt PR 48906] - sideways: Fix getStartPositionOfChar() and getEndPositionOfChar(), a=testonly
  testing/web-platform/tests/svg/text/scripted/getstartpositionofchar.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1928315 [wpt PR 48906] - Update wpt metadata, a=testonly
  testing/web-platform/meta/svg/text/scripted/getstartpositionofchar.html.ini
Due: bugzilla-components, test-manifest

Bug 1928185 [wpt PR 48894] - [@container] Renaming from state to scroll-state, a=testonly
  testing/web-platform/tests/css/css-conditional/container-queries/scroll-state/scroll-state-overflowing-pseudo.html
  testing/web-platform/tests/css/css-conditional/container-queries/scroll-state/scroll-state-snapped-pseudo.html
  testing/web-platform/tests/css/css-conditional/container-queries/scroll-state/scroll-state-stuck-pseudo.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1928185 [wpt PR 48894] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state/scroll-state-overflowing-pseudo.html.ini
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state/scroll-state-snapped-pseudo.html.ini
  testing/web-platform/meta/css/css-conditional/container-queries/scroll-state/scroll-state-stuck-pseudo.html.ini
Due: bugzilla-components, test-manifest

Bug 1928459 - [wpt-sync] Update web-platform-tests to a2112d6c9b2e3916a2f127046c2f3aef3f75a0b8, a=testonly
  testing/web-platform/meta/compute-pressure/compute_pressure_timestamp_continuously_increasing.https.window.js.ini
  testing/web-platform/meta/compute-pressure/compute_pressure_timestamp_faster_collector.https.window.js.ini
  testing/web-platform/meta/css/CSS2/box-display/anonymous-box-generation-001.xht.ini
  testing/web-platform/meta/css/css-animations/AnimationEffect-getComputedTiming.tentative.html.ini
  testing/web-platform/meta/css/css-grid/alignment/grid-align-baseline-line-clamp-002.tentative.html.ini
  testing/web-platform/meta/css/css-grid/alignment/grid-self-alignment-non-static-positioned-items-001.html.ini
  testing/web-platform/meta/css/css-grid/alignment/grid-self-alignment-non-static-positioned-items-003.html.ini
  testing/web-platform/meta/css/css-view-transitions/navigation/pagereveal-no-view-transition-new-opt-out.html.ini
  testing/web-platform/meta/css/cssom-view/scroll-behavior-scrollintoview-nested.html.ini
  testing/web-platform/meta/encoding/legacy-mb-japanese/euc-jp/eucjp-decode-cseucpkdfmtjapanese.html.ini
  testing/web-platform/meta/encoding/legacy-mb-schinese/gb18030/__dir__.ini
  testing/web-platform/meta/html/cross-origin-embedder-policy/__dir__.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/iframe-popup-same-origin-allow-popups-to-same-origin-allow-popups.https.html.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/iframe-popup-same-origin-allow-popups-to-same-origin.https.html.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/iframe-popup-same-origin-to-unsafe-none.https.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/image-loading-lazy-data-url-to-https.html.ini
  testing/web-platform/meta/html/semantics/popovers/popover-light-dismiss-scroll-within.html.ini
  testing/web-platform/meta/idle-detection/idle-detection-allowed-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/preload/preload-in-data-doc.html.ini
  testing/web-platform/meta/scroll-animations/css/animation-timeline-view-functional-notation.tentative.html.ini
  testing/web-platform/meta/svg/animations/scripted/animatetransform-type-missing-value-default.html.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/add_intercept/contexts.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/pointer_pause_dblclick.py.ini
Due: bugzilla-components, test-manifest

No Bug, mozilla-release repo-update remote-settings - a=repo-update r=RyanVM
  services/settings/dumps/main/devtools-compatibility-browsers.json
Due: bugzilla-components
