Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1956330 - Ensure extensions' sidebarAction get loaded into the panel when toggling the sidebar. r=sidebar-reviewers,jsudiaman,sclements
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_extensions_sidebar.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1957869 - Add a CSP to backgroundPageThumbs.xhtml. r=Gijs
  dom/security/nsContentSecurityUtils.cpp
  toolkit/components/thumbnails/PageThumbUtils.sys.mjs
  toolkit/components/thumbnails/PageThumbs.sys.mjs
  toolkit/components/thumbnails/content/backgroundPageThumbs.xhtml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1959108 - Enable ESLint valid jsdoc rules on EventEmitter.sys.mjs. r=firefox-desktop-core-reviewers ,frontend-codestyle-reviewers,Gijs
  .eslintrc-rollouts.js
  toolkit/modules/EventEmitter.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959108 - Switch EventEmitter to be a class, rather than a prototype. r=firefox-desktop-core-reviewers ,Gijs
  toolkit/components/places/PlacesPreviews.sys.mjs
  toolkit/modules/EventEmitter.sys.mjs
Due: bugzilla-components

Bug 1959108 - Use a lazy preference getter for EventEmitter. r=firefox-desktop-core-reviewers ,Gijs
  toolkit/modules/EventEmitter.sys.mjs
Due: bugzilla-components

Bug 1959377 - Include vector in mac/Sandbox.h to fix build on macos 15.4 r=emilio
  security/sandbox/mac/Sandbox.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1954524 - Add support for data collection permissions in the manifest. r=rpl
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/components/extensions/Schemas.sys.mjs
  toolkit/components/extensions/schemas/manifest.json
  toolkit/components/extensions/test/xpcshell/test_ext_data_collection_permissions.js
  toolkit/components/extensions/test/xpcshell/test_ext_permission_warnings.js
  toolkit/components/extensions/test/xpcshell/xpcshell-common.toml
  toolkit/mozapps/extensions/test/xpcshell/test_loadManifest_isPrivileged.js
  toolkit/mozapps/extensions/test/xpcshell/test_webextension_install.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1958360 [wpt PR 51833] - Return early on closed context during state change, a=testonly
  testing/web-platform/tests/webaudio/the-audio-api/the-audiocontext-interface/audiocontext-sinkid-constructor.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958377 [wpt PR 51836] - Update interesttarget keyboard behavior to use focus, not hotkey [1/N], a=testonly
  testing/web-platform/tests/html/semantics/the-button-element/interest-target/interesttarget-keyboard-behavior.tentative.html
  testing/web-platform/tests/html/semantics/the-button-element/interest-target/interesttarget-keyboard-invalidation.tentative.html
  testing/web-platform/tests/html/semantics/the-button-element/interest-target/resources/invoker-utils.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958377 [wpt PR 51836] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/the-button-element/interest-target/interesttarget-keyboard-behavior.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1958386 [wpt PR 51838] - Fenced frame: Attempt to deflake history test., a=testonly
  testing/web-platform/tests/fenced-frame/history-length-outer-page-navigation-not-reflected-in-fenced-nested-iframe.https.html
  testing/web-platform/tests/fenced-frame/resources/history-length-test-helper.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958329 [wpt PR 51828] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=290772, a=testonly
  testing/web-platform/tests/scroll-animations/scroll-timelines/scroll-animation.html
  testing/web-platform/tests/web-animations/timing-model/animations/finishing-an-animation.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958443 [wpt PR 51846] - wpt: Remove persistent license wpt tests for ClearKey, a=testonly
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-destroy-persistent-license.https.html
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-persistent-license-events.https.html
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-persistent-license.https.html
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-retrieve-destroy-persistent-license.https.html
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-retrieve-persistent-license.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1957960 [wpt PR 51798] - Expose "outbound-rtp.encodingIndex" to the web platform., a=testonly
  testing/web-platform/tests/webrtc/outbound-rtp-encoding-index.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1957960 [wpt PR 51798] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webrtc/outbound-rtp-encoding-index.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1958469 [wpt PR 51851] - infrastructure/reftest/green.html to always paint background., a=testonly
  testing/web-platform/tests/infrastructure/reftest/green.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958006 [wpt PR 51801] - layout: Restrict stretch alignment to flex items with computed auto size, a=testonly
  testing/web-platform/tests/css/css-flexbox/stretch-requires-computed-auto-size.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958471 [wpt PR 51852] - Disallow percentage values in number interpolations, a=testonly
  testing/web-platform/tests/css/CSS2/linebox/animations/line-height-interpolation.html
  testing/web-platform/tests/css/css-properties-values-api/animation/custom-property-transition-number-percentage.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958479 [wpt PR 51853] - Sanitizer API: sanitizing happens after tree constructions, a=testonly
  testing/web-platform/tests/sanitizer-api/sethtml-tree-construction.sub.dat
Due: bugzilla-components, wptlint-gecko

Bug 1958479 [wpt PR 51853] - Update wpt metadata, a=testonly
  testing/web-platform/meta/sanitizer-api/sethtml-tree-construction.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1958502 [wpt PR 51855] - Exclude interactivity from all shorthand, a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-all.tentative.html
  testing/web-platform/tests/css/cssom/cssstyledeclaration-csstext-all-shorthand.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958515 [wpt PR 51857] - Support scroll as a named range view timeline, a=testonly
  testing/web-platform/tests/scroll-animations/css/view-timeline-range-animation.html
  testing/web-platform/tests/scroll-animations/view-timelines/view-timeline-get-current-time-range-name.tentative.html
  testing/web-platform/tests/scroll-animations/view-timelines/view-timeline-get-set-range.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958502 [wpt PR 51855] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-all.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1958435 [wpt PR 51844] - webnn: fix int32 quantizeLinear on CoreML and add test, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/quantizeLinear.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958550 [wpt PR 51863] - Support new style resolving approach for view transition pseudos, a=testonly
  testing/web-platform/tests/css/css-view-transitions/to-keyframe-values.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958531 [wpt PR 51859] - [carousel] Support ::scroll-button(*) activation on root element, a=testonly
  testing/web-platform/tests/css/css-overflow/resources/root-scroll-marker-activation-iframe.html
  testing/web-platform/tests/css/css-overflow/root-scroll-button-activation.html
  testing/web-platform/tests/css/css-overflow/root-scroll-button-ref.html
  testing/web-platform/tests/css/css-overflow/root-scroll-button.html
  testing/web-platform/tests/css/css-overflow/root-scroll-marker-activation-in-iframe.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958531 [wpt PR 51859] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/root-scroll-button-activation.html.ini
  testing/web-platform/meta/css/css-overflow/root-scroll-button.html.ini
  testing/web-platform/meta/css/css-overflow/root-scroll-marker-activation-in-iframe.html.ini
Due: bugzilla-components, test-manifest

Bug 1958577 [wpt PR 51866] - Check hidden attribute in beforematch WPT, a=testonly
  testing/web-platform/tests/html/editing/the-hidden-attribute/beforematch-element-fragment-navigation.html
  testing/web-platform/tests/html/editing/the-hidden-attribute/beforematch-scroll-to-text-fragment.html
  testing/web-platform/tests/html/editing/the-hidden-attribute/resources/beforematch-scroll-to-text-fragment-basic.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958540 [wpt PR 51861] - De-flake beforematch scroll to text WPT, a=testonly
  testing/web-platform/tests/html/editing/the-hidden-attribute/beforematch-scroll-to-text-fragment.html
  testing/web-platform/tests/html/editing/the-hidden-attribute/resources/beforematch-scroll-to-text-fragment-basic.html
  testing/web-platform/tests/html/editing/the-hidden-attribute/resources/beforematch-scroll-to-text-fragment-bubble.html
  testing/web-platform/tests/html/editing/the-hidden-attribute/resources/beforematch-scroll-to-text-fragment-with-anchor.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958543 [wpt PR 51862] - [Protected Audience] Clear most of ClientSecurityState for PA fetches., a=testonly
  testing/web-platform/tests/fledge/tentative/cross-origin-embedder-policy.https.window.js
  testing/web-platform/tests/fledge/tentative/cross-origin-embedder-policy.https.window.js.headers
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958573 [wpt PR 51865] - [ReferenceTarget] Split property reflection tests to avoid timeout flakiness, a=testonly
  testing/web-platform/tests/shadow-dom/reference-target/tentative/property-reflection-imperative-setup.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/property-reflection.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/resources/property-reflection-helper.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958573 [wpt PR 51865] - Update wpt metadata, a=testonly
  testing/web-platform/meta/shadow-dom/reference-target/tentative/property-reflection-imperative-setup.html.ini
Due: bugzilla-components, test-manifest

Bug 1958774 [wpt PR 51821] - Reland "[carousel] Add invalidation logic and tests for scroll-marker-contain", a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-005.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-006.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-007.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-008-ref.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-008.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958774 [wpt PR 51821] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-005.tentative.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-006.tentative.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-007.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1958782 [wpt PR 51870] - Fix the focus controller logic for invokers of all kinds, a=testonly
  testing/web-platform/tests/html/semantics/popovers/popover-focus-2.html
  testing/web-platform/tests/html/semantics/popovers/popover-focus-3.html
  testing/web-platform/tests/html/semantics/popovers/popover-focus-4.html
  testing/web-platform/tests/html/semantics/popovers/resources/popover-utils.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958777 [wpt PR 51869] - blink: Adjust drm test expectations for persistent license, a=testonly
  testing/web-platform/tests/encrypted-media/scripts/playback-destroy-persistent-license.js
  testing/web-platform/tests/encrypted-media/scripts/playback-persistent-license-events.js
  testing/web-platform/tests/encrypted-media/scripts/playback-persistent-license.js
  testing/web-platform/tests/encrypted-media/scripts/playback-retrieve-persistent-license.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958782 [wpt PR 51870] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-inside-top-layer.tentative.html.ini
  testing/web-platform/meta/html/semantics/popovers/popover-focus-2.html.ini
  testing/web-platform/meta/html/semantics/popovers/popover-focus-3.html.ini
  testing/web-platform/meta/html/semantics/popovers/popover-focus-4.html.ini
Due: bugzilla-components, test-manifest

Bug 1958534 [wpt PR 51860] - Fix: Add support for stylesheet MIME type quirk in quirks mode, a=testonly
  testing/web-platform/tests/html/links/stylesheet/quirk-origin-check-positive.html
  testing/web-platform/tests/html/links/stylesheet/resources/quirk-stylesheet.css.txt
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958466 [wpt PR 51849] - [prerender] defer run and selectUrl operation of shared storage, a=testonly
  testing/web-platform/tests/speculation-rules/prerender/resources/shared-storage-worklet.js
  testing/web-platform/tests/speculation-rules/prerender/resources/shared-storage.https.html
  testing/web-platform/tests/speculation-rules/prerender/restrictions_shared_storage_worklet.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1958770 [wpt PR 51740] - Fix radio group validity update when removing or selecting an input, a=testonly
  testing/web-platform/tests/html/semantics/forms/constraints/radio-group-valueMissing.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
