Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1924098 - Vendor libwebrtc from a9ececd103
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/sdk/objc/native/src/audio/audio_device_ios.mm
Due: bugzilla-components, cpp-virtual-final, license, file-perm

Bug 1924098 - Vendor libwebrtc from 058c0059c8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/jsep_transport_controller.cc
  third_party/libwebrtc/test/network/emulated_turn_server.cc
  third_party/libwebrtc/test/network/network_emulation.cc
  third_party/libwebrtc/test/network/network_emulation_manager.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1923313 - Add is_list_card attribute to impression/dismiss telemetry events r=home-newtab-reviewers,thecount
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSLinkMenu/DSLinkMenu.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/ListFeed.jsx
  browser/components/newtab/content-src/lib/link-menu-options.mjs
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/TelemetryFeed.sys.mjs
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/CollectionCardGrid.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSTextPromo.test.jsx
  browser/components/newtab/test/unit/content-src/components/LinkMenu.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1924163 - Reduce font sizes on list feed cards r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/_ListFeed.scss
  browser/components/newtab/css/activity-stream.css
Due: bugzilla-components, newtab-unit-tests

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1921546 - Avoid superflous data storage for fuses r=jandem
  js/src/jit/CodeGenerator.cpp
  js/src/jit/CompilationDependencyTracker.h
  js/src/jit/WarpCacheIRTranspiler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924155: Use correct declaration macros in VideoBridgeParent. r=aosmond
  gfx/layers/ipc/VideoBridgeParent.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1923049 - Extend mach gifft to support scalars, r=chutten.
  toolkit/components/telemetry/build_scripts/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1923737 - Add preference for Error.isError proposal; r=dminor
  js/src/shell/js.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1920032 - Hide the SearchModeSwitcher in readonly urlbars. r=dao,desktop-theme-reviewers,urlbar-reviewers
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
  browser/themes/shared/urlbar-searchbar.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1917885 - [Outreachy] Ship Uint8Array to/from base64 and hex; r=dminor
  js/src/shell/js.cpp
  js/src/tests/non262/TypedArray/prototype-constructor-identity.js
  js/src/vm/JSObject.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1919287 - Ensure addon-tps-xpi task re-runs if it ever goes missing on the index, r=taskgraph-reviewers,jmaher
  taskcluster/gecko_taskgraph/optimize/__init__.py
  taskcluster/gecko_taskgraph/optimize/schema.py
  taskcluster/gecko_taskgraph/optimize/strategies.py
  taskcluster/gecko_taskgraph/test/test_optimize_strategies.py
  taskcluster/kinds/addon/kind.yml
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace, taskgraph-tests

Bug 1924105 - Move tab tests from browser/base/ to browser/components/tabbrowser/. r=tabbrowser-reviewers,dwalker
  browser/base/content/test/general/browser.toml
  browser/base/content/test/general/head.js
  browser/components/tabbrowser/test/browser/tabs/alltabslistener.html
  browser/components/tabbrowser/test/browser/tabs/browser.toml
  browser/components/tabbrowser/test/browser/tabs/browser_alltabslistener.js
  browser/components/tabbrowser/test/browser/tabs/browser_beforeunload_duplicate_dialogs.js
  browser/components/tabbrowser/test/browser/tabs/browser_ctrlTab.js
  browser/components/tabbrowser/test/browser/tabs/browser_double_close_tab.js
  browser/components/tabbrowser/test/browser/tabs/browser_e10s_switchbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_lastAccessedTab.js
  browser/components/tabbrowser/test/browser/tabs/browser_newTabDrop.js
  browser/components/tabbrowser/test/browser/tabs/browser_new_http_window_opened_from_file_tab.js
  browser/components/tabbrowser/test/browser/tabs/browser_relatedTabs.js
  browser/components/tabbrowser/test/browser/tabs/browser_relatedTabs_reset.js
  browser/components/tabbrowser/test/browser/tabs/browser_restore_isAppTab.js
  browser/components/tabbrowser/test/browser/tabs/browser_selectTabAtIndex.js
  browser/components/tabbrowser/test/browser/tabs/browser_tabDrop.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_close_dependent_window.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_detach_restore.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_drag_drop_perwindow.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_dragdrop.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_dragdrop2.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_dragdrop2_frame1.xhtml
  browser/components/tabbrowser/test/browser/tabs/browser_tab_dragdrop_embed.html
  browser/components/tabbrowser/test/browser/tabs/browser_tabfocus.js
  browser/components/tabbrowser/test/browser/tabs/browser_tabkeynavigation.js
  browser/components/tabbrowser/test/browser/tabs/browser_tabs_close_beforeunload.js
  browser/components/tabbrowser/test/browser/tabs/browser_tabs_isActive.js
  browser/components/tabbrowser/test/browser/tabs/browser_tabs_owner.js
  browser/components/tabbrowser/test/browser/tabs/browser_testOpenNewRemoteTabsFromNonRemoteBrowsers.js
  browser/components/tabbrowser/test/browser/tabs/browser_viewSourceInTabOnViewSource.js
  browser/components/tabbrowser/test/browser/tabs/browser_visibleTabs.js
  browser/components/tabbrowser/test/browser/tabs/browser_visibleTabs_bookmarkAllPages.js
  browser/components/tabbrowser/test/browser/tabs/browser_visibleTabs_tabPreview.js
  browser/components/tabbrowser/test/browser/tabs/close_beforeunload.html
  browser/components/tabbrowser/test/browser/tabs/close_beforeunload_opens_second_tab.html
  browser/components/tabbrowser/test/browser/tabs/file_double_close_tab.html
  browser/components/tabbrowser/test/browser/tabs/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1923799 - For opaque windows, don't bother clearing the nc-area on resize. r=win-reviewers,rkraesig
  widget/windows/nsWindowGfx.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917652 Part 3: Enable the no-gpu-process test variant for Linux builds. r=aosmond,taskgraph-reviewers,jmaher
  taskcluster/kinds/test/variants.yml
Due: bugzilla-components, yaml

Bug 1923171 - Fixes bookmarks strings for 132 a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/ext/FenixSnackbar.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/ext/FenixSnackbarKtTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1921072 - Fix impression telemetry warning for restrict keywords and token alias engines results. r=mak,urlbar-reviewers
  browser/components/urlbar/UrlbarController.sys.mjs
Due: bugzilla-components

Backed out changeset c22053f7eb41 (bug 1917536) for causing bug 1923376.
  toolkit/mozapps/update/updater/updater-common.build
  toolkit/mozapps/update/updater/updater.cpp
  toolkit/xre/WinTokenUtils.cpp
  toolkit/xre/WinTokenUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1892764: apply code formatting via Lando
  js/src/jit/CodeGenerator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1923250 - Make `HTMLEditor::InsertElementAtSelectionAsAction` split ancestor inline elements r=m_kato
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorCommands.cpp
  editor/libeditor/tests/browserscope/lib/richtext2/currentStatus.js
  testing/web-platform/meta/editing/run/insertimage.html.ini
  testing/web-platform/tests/editing/data/insertimage.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1919755 - correctly calculate content analysis URL for local PDF file r=dlp-reviewers,handyman
  toolkit/components/contentanalysis/ContentAnalysis.cpp
  toolkit/components/contentanalysis/tests/browser/browser.toml
  toolkit/components/contentanalysis/tests/browser/browser_print_pdf_content_analysis_impl.js
  toolkit/components/contentanalysis/tests/browser/browser_print_pdf_local_content_analysis.js
  toolkit/components/contentanalysis/tests/browser/browser_print_pdf_remote_content_analysis.js
  toolkit/components/contentanalysis/tests/browser/file_pdf.pdf
  toolkit/components/contentanalysis/tests/browser/head.js
  toolkit/components/printing/tests/head.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1921338 - feat(webgpu)!: impl. `GPUShaderModuleDescriptor.compilationHints` w/ no optimizations r=webgpu-reviewers,webidl,nical,saschanaz
  dom/webidl/WebGPU.webidl
Due: bugzilla-components

Bug 1921747 - Implement :has-slotted pseudo r=emilio
  dom/base/rust/lib.rs
  dom/html/HTMLSlotElement.cpp
  modules/libpref/init/StaticPrefList.yaml
  servo/components/style/gecko/non_ts_pseudo_class_list.rs
  servo/components/style/gecko/selector_parser.rs
  servo/components/style/gecko/wrapper.rs
  testing/web-platform/meta/css/css-scoping/__dir__.ini
  testing/web-platform/meta/css/css-scoping/has-slotted-001.tentative.html.ini
  testing/web-platform/meta/css/css-scoping/has-slotted-003.tentative.html.ini
  testing/web-platform/meta/css/css-scoping/has-slotted-changing-001.tentative.html.ini
  testing/web-platform/meta/css/css-scoping/has-slotted-changing-002.tentative.html.ini
  testing/web-platform/meta/css/css-scoping/has-slotted-flattened-001.tentative.html.ini
  testing/web-platform/meta/css/css-scoping/has-slotted-flattened-003.tentative.html.ini
  testing/web-platform/meta/css/selectors/parsing/parse-has-slotted.tentative.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, test-manifest, yaml, rustfmt, file-whitespace, file-perm

Bug 1886005 - Theme selector card for about:editprofile. r=jhirsch,firefox-desktop-core-reviewers
  browser/components/BrowserGlue.sys.mjs
  browser/components/profiles/ProfilesParent.sys.mjs
  browser/components/profiles/content/assets/theme-selector-background.svg
  browser/components/profiles/content/edit-profile-card.css
  browser/components/profiles/content/edit-profile-card.mjs
  browser/components/profiles/content/edit-profile.html
  browser/components/profiles/content/profiles-theme-card.css
  browser/components/profiles/content/profiles-theme-card.mjs
  browser/components/profiles/jar.mn
  toolkit/modules/RemotePageAccessManager.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/toolbar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/awesomebar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/cfr/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/tabstray/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sat/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/findinpage/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/fxsuggest/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/pwa/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/qr/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/readerview/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/search/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/ui/widgets/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/browser/menu2/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-br/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-nn-rNO/strings.xml
  mobile/android/android-components/components/feature/autofill/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/awesomebar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/feature/fxsuggest/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-br/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/focus-android/app/src/main/res/values-nn-rNO/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 01b405611664 (bug 1924105) for causing failures in browser_new_file_whitelisted_http_tab.js
  browser/base/content/test/general/alltabslistener.html
  browser/base/content/test/general/browser.toml
  browser/base/content/test/general/browser_alltabslistener.js
  browser/base/content/test/general/browser_beforeunload_duplicate_dialogs.js
  browser/base/content/test/general/browser_ctrlTab.js
  browser/base/content/test/general/browser_double_close_tab.js
  browser/base/content/test/general/browser_lastAccessedTab.js
  browser/base/content/test/general/browser_newTabDrop.js
  browser/base/content/test/general/browser_new_http_window_opened_from_file_tab.js
  browser/base/content/test/general/browser_relatedTabs.js
  browser/base/content/test/general/browser_restore_isAppTab.js
  browser/base/content/test/general/browser_selectTabAtIndex.js
  browser/base/content/test/general/browser_tabDrop.js
  browser/base/content/test/general/browser_tab_close_dependent_window.js
  browser/base/content/test/general/browser_tab_detach_restore.js
  browser/base/content/test/general/browser_tab_drag_drop_perwindow.js
  browser/base/content/test/general/browser_tab_dragdrop.js
  browser/base/content/test/general/browser_tab_dragdrop2.js
  browser/base/content/test/general/browser_tab_dragdrop2_frame1.xhtml
  browser/base/content/test/general/browser_tab_dragdrop_embed.html
  browser/base/content/test/general/browser_tabfocus.js
  browser/base/content/test/general/browser_tabkeynavigation.js
  browser/base/content/test/general/browser_tabs_close_beforeunload.js
  browser/base/content/test/general/browser_tabs_isActive.js
  browser/base/content/test/general/browser_tabs_owner.js
  browser/base/content/test/general/browser_testOpenNewRemoteTabsFromNonRemoteBrowsers.js
  browser/base/content/test/general/browser_viewSourceInTabOnViewSource.js
  browser/base/content/test/general/browser_visibleTabs.js
  browser/base/content/test/general/browser_visibleTabs_bookmarkAllPages.js
  browser/base/content/test/general/browser_visibleTabs_tabPreview.js
  browser/base/content/test/general/close_beforeunload.html
  browser/base/content/test/general/close_beforeunload_opens_second_tab.html
  browser/base/content/test/general/file_double_close_tab.html
  browser/base/content/test/general/head.js
  browser/components/tabbrowser/test/browser/tabs/browser.toml
  browser/components/tabbrowser/test/browser/tabs/browser_e10s_switchbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_relatedTabs_reset.js
  browser/components/tabbrowser/test/browser/tabs/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 3 changesets (bug 1922250) for causing failures in browser_1446343-windowsize.js CLOSED TREE
  mozglue/misc/PreXULSkeletonUI.cpp
  widget/windows/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924282 - Update android nightly application-services version bump to fd2bd27dc5fab6ee69fa1d4fd48b1d515ebfb215
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1856071 - Remove extensions.script_about_blank_without_permission pref, r=rpl
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/extensions/WebExtensionPolicy.cpp
  toolkit/components/extensions/test/mochitest/test_ext_contentscript_about_blank.html
  toolkit/components/extensions/test/mochitest/test_ext_scripting_contentScripts.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1904043 - Update "This extension doesn’t require any permissions" string to have an ending period, r=rpl,fluent-reviewers
  toolkit/locales/en-US/toolkit/about/aboutAddons.ftl
  toolkit/mozapps/extensions/content/aboutaddons.html
  toolkit/mozapps/extensions/test/browser/browser_html_detail_permissions.js
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1866402 - Update the cached value in PersistOp::DoDirectoryWork only when the value changed in the metadata file; r=dom-storage-reviewers,jari
  dom/quota/OriginOperations.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1866402 - Update the cached value in PersistOp::DoDirectoryWork only after successful creation of the metadata file; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
  dom/quota/OriginOperations.cpp
  dom/quota/QuotaManager.h
  dom/quota/test/xpcshell/test_persist.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm
