Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1917995 - update recommendations schema and only show price template if a recommendation has a price. r=shopping-reviewers,fchasen
  browser/components/shopping/content/recommended-ad.mjs
  browser/components/shopping/tests/browser/browser_recommended_ad_test.js
  toolkit/components/shopping/content/ProductConfig.mjs
  toolkit/components/shopping/schemas/recommendations_response.schema.json
  toolkit/components/shopping/test/browser/head.js
  toolkit/components/shopping/test/mockapis/analysis.sjs
  toolkit/components/shopping/test/mockapis/recommendations.sjs
  toolkit/components/shopping/test/mockapis/reporting.sjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1910324: Stop fetching favicon data from network when importing bookmarks r=places-reviewers,mak
  toolkit/components/places/BookmarkHTMLUtils.sys.mjs
  toolkit/components/places/BookmarkJSONUtils.sys.mjs
Due: bugzilla-components

Bug 1913287: Stop fetching favicon data from network for bookmark policies r=mak
  browser/components/enterprisepolicies/helpers/BookmarksPolicies.sys.mjs
  browser/components/enterprisepolicies/tests/browser/browser.toml
  browser/components/enterprisepolicies/tests/browser/browser_policy_bookmarks.js
  browser/components/enterprisepolicies/tests/browser/favicon.svg
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1906949 - Add foreground resource test for android. r=perftest-reviewers,sparky
  taskcluster/kinds/perftest/android.yml
  testing/performance/android-resource/collect-proc-info-cpu.sh
  testing/performance/android-resource/collect-proc-info-memory.sh
  testing/performance/android-resource/common.sh
  testing/performance/android-resource/hooks_android_resource.py
  testing/performance/android-resource/main-background.sh
  testing/performance/android-resource/main-foreground.sh
  testing/performance/android-resource/parse_resource_usage.py
  testing/performance/android-resource/test-android-resource-usage.sh
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, shellcheck, file-whitespace

Bug 1918096 - In ScreenCapturerSck improve dictionary ergonomics. r=webrtc-reviewers,ng
  third_party/libwebrtc/modules/desktop_capture/mac/screen_capturer_sck.mm
Due: bugzilla-components, cpp-virtual-final, license, file-perm

Bug 1918096 - In ScreenCapturerSck adapt to sources that change resolution. r=webrtc-reviewers,ng
  third_party/libwebrtc/modules/desktop_capture/mac/desktop_frame_iosurface.h
  third_party/libwebrtc/modules/desktop_capture/mac/desktop_frame_iosurface.mm
  third_party/libwebrtc/modules/desktop_capture/mac/screen_capturer_sck.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918096 - In ScreenCapturerSck skip some processing when possible. r=webrtc-reviewers,ng
  third_party/libwebrtc/modules/desktop_capture/mac/screen_capturer_sck.mm
Due: bugzilla-components, cpp-virtual-final, license, file-perm

Bug 1918238 - Implement telemetry for New Private Tab menu item. r=gl,android-reviewers
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/middleware/MenuTelemetryMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/MenuTelemetryMiddlewareTest.kt
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1918299 - Add a `terminal` extra key to the urlbar exposure event. r=mak
  browser/components/urlbar/UrlbarController.sys.mjs
  browser/components/urlbar/metrics.yaml
  browser/components/urlbar/tests/engagementTelemetry/browser/browser_glean_telemetry_exposure.js
  browser/components/urlbar/tests/engagementTelemetry/browser/browser_glean_telemetry_exposure_edge_cases.js
  browser/components/urlbar/tests/engagementTelemetry/browser/browser_glean_telemetry_keyword_exposure.js
  browser/components/urlbar/tests/engagementTelemetry/browser/head-exposure.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1918307 - Allow keyword exposures to be recorded for a subset of exposure results. r=mak
  browser/components/urlbar/UrlbarController.sys.mjs
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/pings.yaml
  browser/components/urlbar/tests/engagementTelemetry/browser/browser_glean_telemetry_keyword_exposure.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-pa-rPK/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-ja/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-ja/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1913543 - Apply a fix for https://bugs.kde.org/show_bug.cgi?id=492663. a=diannaS
  taskcluster/kinds/packages/debian.yml
Due: bugzilla-components, yaml

Bug 1913543 - Apply the final upstream fix instead of our crude workaround. a=diannaS
  build/debian-packages/valgrind.diff
  taskcluster/kinds/packages/debian.yml
Due: bugzilla-components, yaml

Bug 1918484 - replace xyber768d00 with mlkem768x25519 in PSM. r=keeler,necko-reviewers,kershaw
  modules/libpref/init/StaticPrefList.yaml
  netwerk/test/unit/test_http3_kyber.js
  security/manager/ssl/NSSSocketControl.cpp
  security/manager/ssl/NSSSocketControl.h
  security/manager/ssl/metrics.yaml
  security/manager/ssl/nsNSSCallbacks.cpp
  security/manager/ssl/nsNSSComponent.cpp
  security/manager/ssl/nsNSSIOLayer.cpp
  security/manager/ssl/tests/unit/test_faulty_server.js
  security/manager/ssl/tests/unit/tlsserver/cmd/FaultyServer.cpp
  security/manager/ssl/tests/unit/tlsserver/lib/TLSServer.cpp
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1913826 - Implement an Skv importer for Rkv stores. r=nanj
  toolkit/components/kvstore/kvstore.sys.mjs
  toolkit/components/kvstore/nsIKeyValue.idl
  toolkit/components/kvstore/src/lib.rs
  toolkit/components/kvstore/src/skv/importer.rs
  toolkit/components/kvstore/src/skv/interface.rs
  toolkit/components/kvstore/src/skv/key.rs
  toolkit/components/kvstore/src/skv/mod.rs
  toolkit/components/kvstore/src/skv/schema.rs
  toolkit/components/kvstore/src/skv/value.rs
  toolkit/components/kvstore/test/xpcshell/test_sqlite_kvstore.js
Due: bugzilla-components, codespell, eslint, license, rustfmt, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/prompts/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1918300 - Apply bug 1293212 and bug 1628961 to the uikit uriloader. r=nika
  uriloader/exthandler/uikit/nsMIMEInfoUIKit.h
  uriloader/exthandler/uikit/nsOSHelperAppService.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911626: Vendor in application-services with tabs exposing closing the connection r=lina
  .cargo/config.toml.in
  Cargo.lock
  Cargo.toml
  third_party/rust/tabs/.cargo-checksum.json
  third_party/rust/tabs/src/error.rs
  third_party/rust/tabs/src/storage.rs
  third_party/rust/tabs/src/store.rs
  third_party/rust/tabs/src/tabs.udl
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustTabs.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustArithmetic.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustCustomTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustExternalTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustGeometry.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRefcounts.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRondpoint.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustSprites.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustTodolist.sys.mjs
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1917102: Update serde and serde_derive to 1.0.210. r=supply-chain-reviewers,webgpu-reviewers,nical,ErichDonGubler
  Cargo.lock
  supply-chain/imports.lock
  third_party/rust/serde/.cargo-checksum.json
  third_party/rust/serde/Cargo.toml
  third_party/rust/serde/build.rs
  third_party/rust/serde/src/de/impls.rs
  third_party/rust/serde/src/de/mod.rs
  third_party/rust/serde/src/format.rs
  third_party/rust/serde/src/lib.rs
  third_party/rust/serde/src/private/de.rs
  third_party/rust/serde/src/ser/impls.rs
  third_party/rust/serde/src/ser/mod.rs
  third_party/rust/serde_derive/.cargo-checksum.json
  third_party/rust/serde_derive/Cargo.toml
  third_party/rust/serde_derive/src/lib.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1917102 - test(webgpu): reset contradictory `backlog` results from `try:c75bc73e5301b275d517d7c5ecd47b7ac67e5b37` r=webgpu-reviewers,jimb
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/copyTextureToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/render_pipeline/primitive_topology/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/rendering/draw/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/buffer/mapping/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxBindGroups/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxBindGroupsPlusVertexBuffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxColorAttachmentBytesPerSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupStorageSize/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupsPerDimension/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxInterStageShaderComponents/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSampledTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSamplersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxUniformBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxVertexAttributes/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxVertexBufferArrayStride/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/encoding/programmable/pipeline_bind_group_compat/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/queue/copyToTexture/CopyExternalImageToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/render_pass_descriptor/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/memory_model/coherence/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/robust_access_vertex/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/shader_io/compute_builtins/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/zero_init/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/getCurrentTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/canvas/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1873039 - feat(webgpu): expose ASTC texture support r=webgpu-reviewers,webidl,teoxoy,smaug
  dom/webgpu/Utility.cpp
  dom/webidl/WebGPU.webidl
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/features/texture_formats/cts.https.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1917059: feat(webgpu): expose ETC2 texture support r=webgpu-reviewers,webidl,teoxoy,smaug
  dom/webgpu/Utility.cpp
  dom/webidl/WebGPU.webidl
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/features/texture_formats/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/examples/cts.https.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1873039 - test(webgpu): reset contradictory `expected` outcomes in `backlog` from `try:0743f7bf508344a54d1f415d285ce68bc80a0726` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/multiple_buffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/single_buffer/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/rendering/draw/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxBindGroups/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeWorkgroupStorageSize/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSampledTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxVertexBufferArrayStride/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/encoding/programmable/pipeline_bind_group_compat/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/image_copy/layout_related/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/queue/copyToTexture/CopyExternalImageToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/attachment_compatibility/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/render_pass_descriptor/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/robust_access/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/robust_access_vertex/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/shader_io/compute_builtins/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/zero_init/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1917059 - test(webgpu): reset contradictory `expected` outcomes in `backlog` from `try:c7c67882a5ee24aa234d26f680c77eb4e6340d9e` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/command_buffer/copyTextureToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/multiple_buffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/single_buffer/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/rendering/draw/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/resource_init/texture_zero/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxColorAttachmentBytesPerSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxComputeInvocationsPerWorkgroup/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSampledTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSamplersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxUniformBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/encoding/programmable/pipeline_bind_group_compat/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/queue/copyToTexture/CopyExternalImageToTexture/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pass/render_pass_descriptor/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/state/device_lost/destroy/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/robust_access_vertex/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/zero_init/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/copyToTexture/ImageBitmap/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1918100 - Fix failing address autofill related UI tests after setting up the experimental task r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/AddressAutofillTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAutofillRobot.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1915575 - Set inputmode="none" in various tests in dom/events/tets/. r=masayuki
  dom/events/test/test_bug409604.html
  dom/events/test/test_bug534833.html
  dom/events/test/test_bug687787.html
  dom/events/test/test_bug924087.html
  dom/events/test/test_bug930374-content.html
  dom/events/test/test_clickevent_on_input.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1918308 - Remove dead code for legacy MathML color/background attributes. r=emilio
  dom/mathml/MathMLElement.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1742042 Part 1 - Remove unused FlexItem::SetIsStretched(). r=layout-reviewers,emilio
  layout/generic/nsFlexContainerFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1742042 Part 4 - Apply flex item's stretched cross-size when computing flex container's intrinsic inline size. r=dholbert
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/generic/nsFlexContainerFrame.cpp
  layout/generic/nsIFrame.h
  layout/tables/nsTableWrapperFrame.cpp
  testing/web-platform/meta/css/css-flexbox/aspect-ratio-intrinsic-size-001.html.ini
  testing/web-platform/meta/css/css-flexbox/aspect-ratio-intrinsic-size-002.html.ini
  testing/web-platform/meta/css/css-flexbox/aspect-ratio-intrinsic-size-003.html.ini
  testing/web-platform/meta/css/css-flexbox/aspect-ratio-intrinsic-size-004.html.ini
  testing/web-platform/meta/css/css-flexbox/aspect-ratio-intrinsic-size-005.html.ini
  testing/web-platform/meta/css/css-flexbox/aspect-ratio-intrinsic-size-006.html.ini
  testing/web-platform/meta/css/css-flexbox/flexbox-min-width-auto-005.html.ini
  testing/web-platform/meta/css/css-flexbox/flexbox-min-width-auto-006.html.ini
  testing/web-platform/tests/css/css-flexbox/aspect-ratio-intrinsic-size-008.html
  testing/web-platform/tests/css/css-flexbox/aspect-ratio-intrinsic-size-009.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1742042 Part 2 - Sort headers in nsLayoutUtils.h to match the coding style. r=dholbert
  layout/base/nsLayoutUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1742042 Part 3 - Move StyleSizeOverrides from ReflowInput.h to LayoutStructs.h. r=dholbert
  layout/base/LayoutStructs.h
  layout/base/moz.build
  layout/generic/ReflowInput.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1918072 - Update triage expectations in source-docs r=jstutte
  docs/bug-mgmt/policies/triage-bugzilla.rst
Due: bugzilla-components, codespell, rst

Bug 1918049 - [wpt] Fix several input events spin button and arrow key tests for broken setup and test driver usage. r=masayuki
  testing/web-platform/meta/input-events/input-events-arrow-key-on-number-input-delete-document.html.ini
  testing/web-platform/meta/input-events/input-events-arrow-key-on-number-input-prevent-default.html.ini
  testing/web-platform/meta/input-events/input-events-spin-button-click-on-number-input-delete-document.html.ini
  testing/web-platform/meta/input-events/input-events-spin-button-click-on-number-input-prevent-default.html.ini
  testing/web-platform/meta/input-events/input-events-spin-button-click-on-number-input.html.ini
  testing/web-platform/tests/input-events/input-events-arrow-key-on-number-input-delete-document.html
  testing/web-platform/tests/input-events/input-events-spin-button-click-on-number-input-delete-document.html
  testing/web-platform/tests/input-events/input-events-spin-button-click-on-number-input-prevent-default.html
  testing/web-platform/tests/input-events/input-events-spin-button-click-on-number-input.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm

Bug 1904665 - [webdriver] Update JSdoc in Actions module. r=webdriver-reviewers,jdescottes
  remote/shared/webdriver/Actions.sys.mjs
Due: bugzilla-components

Bug 1904665 - [wdspec] Updated tests for perform actions to check for "move target out of bounds" errors. r=webdriver-reviewers,jdescottes
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_pen.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_touch.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/wheel.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_pen.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_touch.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/wheel.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1915798 - [remote] Add support for "Action queues" to sequencially perform actions without races. r=webdriver-reviewers,jdescottes
  remote/jar.mn
  remote/marionette/actors/MarionetteCommandsParent.sys.mjs
  remote/shared/AsyncQueue.sys.mjs
  remote/shared/test/xpcshell/test_AsyncQueue.js
  remote/shared/test/xpcshell/xpcshell.toml
  remote/shared/webdriver/Actions.sys.mjs
  remote/test/puppeteer/test/TestExpectations.json
  remote/webdriver-bidi/modules/root/input.sys.mjs
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/pointer_pen.py.ini
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
