Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Styling a3.md
  doc/a3.md
Due: bugzilla-components

Bug 1214556 - Add 'open in new tab' context menu entry for links
  devtools/client/webconsole/test/browser/browser_webconsole_context_menu_open_url.js
  devtools/client/webconsole/utils/context-menu.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Create a3.md
  doc/a3.md
Due: bugzilla-components

Create pictures folder
  doc/pictures/temp
Due: bugzilla-components

Upload pictures to picture folder
  doc/pictures/android_emulator.png
  doc/pictures/c1p1.png
  doc/pictures/c2p1.png
  doc/pictures/c3p1.png
  doc/pictures/c4p1.png
  doc/pictures/c4p2.png
  doc/pictures/c4p3.png
  doc/pictures/c4p4.png
  doc/pictures/c5p1.png
  doc/pictures/c6p1.png
Due: bugzilla-components

Remove pointless bitwise expression from CacheDataSource.java
  mobile/android/geckoview/src/thirdparty/java/com/google/android/exoplayer2/upstream/cache/CacheDataSource.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Remove pointless bitwise expression from DataSpec.java
  mobile/android/geckoview/src/thirdparty/java/com/google/android/exoplayer2/upstream/DataSpec.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Remove pointless bitwise expression found in GeckoScreenOrientation.java
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/GeckoScreenOrientation.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Remove pointless bitwise expressions from GeckoSession.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Remove pointless bitwise expressions from GeckoThread.java
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/GeckoThread.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

add patch file
  docs/openURL.patch
Due: bugzilla-components

Remove pointless bitwise expression from Tx3gDecoder.java
  mobile/android/geckoview/src/thirdparty/java/com/google/android/exoplayer2/text/tx3g/Tx3gDecoder.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Add screenshots
  docs/After.png
  docs/Before.png
Due: bugzilla-components

Create a3.md
  docs/a3.md
Due: bugzilla-components

Add Bug Diagnosis section to a3.md
  doc/a3.md
Due: bugzilla-components

Add Proposed Fix section to a3.md
  doc/a3.md
Due: bugzilla-components

Add Test Plan section to a3.md
  doc/a3.md
Due: bugzilla-components

Update Proposed Fix section in a3.md
  doc/a3.md
Due: bugzilla-components

create a3.md
  doc/a3.md
Due: bugzilla-components

added patch file
  doc/1593919.patch
Due: bugzilla-components

md file
  doc/a3.md
Due: bugzilla-components

screenshot
  doc/requestlist.png
Due: bugzilla-components

Add correct patch and report file
  .gitignore
  doc/1570477.patch
  doc/A3.md
Due: bugzilla-components

add testing screen shots
  .gitignore
  doc/A3.md
  doc/after2.png
  doc/after3.png
  doc/before.png
Due: bugzilla-components

Upload fix pictures
  doc/pictures/fgc1p1.png
  doc/pictures/fgc2p1.png
  doc/pictures/fgc3p1.png
  doc/pictures/fgc4p1.png
  doc/pictures/fgc4p2.png
  doc/pictures/fgc4p3.png
  doc/pictures/fgc4p4.png
  doc/pictures/fgc5p1.png
  doc/pictures/fgc6p1.png
Due: bugzilla-components

Update A3.md
  doc/A3.md
Due: bugzilla-components

Add Applying Fix section to a3.md
  doc/a3.md
Due: bugzilla-components

Add Test Results section to a3.md
  doc/a3.md
Due: bugzilla-components

Add patch file
  doc/1510706.patch
Due: bugzilla-components

Add patch URL to a3.md
  doc/a3.md
Due: bugzilla-components

Add pull request URL to a3.md
  doc/a3.md
Due: bugzilla-components

removing nsISound.playSystemSound and implementations of it
  dom/ipc/ContentParent.cpp
  layout/xul/nsMenuFrame.cpp
  layout/xul/nsMenuPopupFrame.cpp
  widget/gtk/nsSound.cpp
  widget/headless/HeadlessSound.cpp
  widget/nsISound.idl
  widget/nsSoundProxy.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Adding doc/a3.md with bug, implementation, and testing details
  doc/a3.md
Due: bugzilla-components

Removing pseudoArray feature
  devtools/server/actors/object/previewers.js
  devtools/server/tests/unit/test_objectgrips-array-like-object.js
  devtools/server/tests/unit/xpcshell.ini
Due: bugzilla-components, codespell, eslint, license, test-manifest, file-perm

Code Changes for Bug 300419
  netwerk/protocol/http/nsIHttpProtocolHandler.idl
Due: bugzilla-components

Adding the doc folder with the files
  doc/1517969.patch
  doc/After.png
  doc/Before.png
  doc/a3.md
Due: bugzilla-components

Add files via upload
  doc/302Changes.png
Due: bugzilla-components

Added pull request url to a3.md file
  doc/a3.md
Due: bugzilla-components
