Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1928110 - Vendor libwebrtc from fb803de683
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_h264.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_h264_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from be34b055ee
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from ca3ac5fe64
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_h264.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1388910 - Remove -moz-user-modify property. r=dshin
  browser/components/asrouter/content-src/components/ASRouterAdmin/ASRouterAdmin.scss
  browser/components/asrouter/content/components/ASRouterAdmin/ASRouterAdmin.css
  browser/installer/package-manifest.in
  devtools/server/actors/animation-type-longhand.js
  dom/animation/test/mozilla/test_moz_prefixed_properties.html
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/nsFocusManager.cpp
  dom/base/use_counter_metrics.yaml
  dom/html/nsGenericHTMLElement.cpp
  dom/html/test/mochitest.toml
  dom/html/test/test_bug442801.html
  editor/composer/res/EditorOverride.css
  editor/libeditor/EditorBase.cpp
  layout/base/nsCaret.cpp
  layout/base/nsCaret.h
  layout/generic/SelectionMovementUtils.cpp
  layout/style/ServoBindings.toml
  layout/style/UserAgentStyleSheetList.h
  layout/style/designmode.css
  layout/style/moz.build
  layout/style/nsStyleStruct.cpp
  layout/style/nsStyleStruct.h
  layout/style/res/forms.css
  layout/style/res/scrollbars.css
  layout/style/test/property_database.js
  mobile/android/installer/package-manifest.in
  modules/libpref/init/StaticPrefList.yaml
  servo/components/style/properties/data.py
  servo/components/style/properties/longhands/inherited_ui.mako.rs
  servo/components/style/values/computed/mod.rs
  servo/components/style/values/computed/ui.rs
  servo/components/style/values/specified/mod.rs
  servo/components/style/values/specified/ui.rs
  servo/ports/geckolib/cbindgen.toml
  servo/ports/geckolib/glue.rs
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, yaml, rustfmt, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from b23b3dd9b1
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/video/config/encoder_stream_factory.cc
  third_party/libwebrtc/video/config/encoder_stream_factory_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 5da0f2ef2a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_video/h264/h264_bitstream_parser.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 9d31598b6f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1931466: Ensure inline elements in an empty linebox as having zero BSize and no baseline. r=layout-reviewers,dholbert,jfkthame
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsFirstLetterFrame.cpp
  layout/generic/nsInlineFrame.cpp
  layout/generic/nsLineLayout.cpp
  layout/generic/nsLineLayout.h
  layout/generic/nsRubyBaseContainerFrame.cpp
  layout/reftests/css-ui/caret-color-01-ref.html
  layout/reftests/css-visited/caret-color-on-visited-1-ref.html
  testing/web-platform/meta/FileAPI/url/url-in-tags.window.js.ini
  testing/web-platform/meta/css/CSS2/positioning/abspos-inline-008.xht.ini
  testing/web-platform/meta/css/CSS2/positioning/toogle-abspos-on-relpos-inline-child.html.ini
  testing/web-platform/meta/css/css-break/out-of-flow-in-multicolumn-116.html.ini
  testing/web-platform/meta/css/css-position/position-absolute-in-inline-001.html.ini
  testing/web-platform/tests/css/css-inline/empty-span-size-001-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-size-001.html
  testing/web-platform/tests/css/css-inline/empty-span-size-002-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-size-002.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 5652c28f8a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1921830 - move active tab left/right into/out of tab groups r=dao
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser.toml
  browser/components/tabbrowser/test/browser/tabs/browser_tab_move_active_tab.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928110 - Vendor libwebrtc from 49bdbca590
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from bd8bd03cba
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/test/fuzzers/vp9_encoder_references_fuzzer.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 0bff76bb8a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_base/java/src/org/webrtc/Logging.java
Due: bugzilla-components

Bug 1892953 - Add ability to resize the sidebar with responsive layout r=sidebar-reviewers,desktop-theme-reviewers,sessionstore-reviewers,reusable-components-reviewers,sclements,kcochrane,mstriemer
  browser/base/content/browser-box.inc.xhtml
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-main.css
  browser/components/sidebar/tests/browser/browser.toml
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_position.js
  browser/themes/shared/sidebar.css
  toolkit/content/widgets/moz-button/moz-button.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928110 - Vendor libwebrtc from ebd3732829
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0004.patch
  third_party/libwebrtc/rtc_base/checks.h
  third_party/libwebrtc/rtc_base/logging.h
  third_party/libwebrtc/rtc_base/logging_unittest.cc
  third_party/libwebrtc/rtc_base/type_traits.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from fec6f8d09d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0004.patch
  third_party/libwebrtc/rtc_base/logging.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from fb4311660b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/media_session.cc
  third_party/libwebrtc/pc/media_session_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from a507a08904
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_video/BUILD.gn
  third_party/libwebrtc/common_video/include/corruption_score_calculator.h
  third_party/libwebrtc/modules/video_coding/BUILD.gn
  third_party/libwebrtc/modules/video_coding/generic_decoder.cc
  third_party/libwebrtc/modules/video_coding/generic_decoder.h
  third_party/libwebrtc/modules/video_coding/generic_decoder_unittest.cc
  third_party/libwebrtc/modules/video_coding/video_receiver.cc
  third_party/libwebrtc/modules/video_coding/video_receiver2.cc
  third_party/libwebrtc/modules/video_coding/video_receiver2.h
  third_party/libwebrtc/modules/video_coding/video_receiver2_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0048.patch
  third_party/libwebrtc/moz-patch-stack/0065.patch
  third_party/libwebrtc/moz-patch-stack/0107.patch
  third_party/libwebrtc/moz-patch-stack/0126.patch
  third_party/libwebrtc/moz-patch-stack/0128.patch
  third_party/libwebrtc/video/BUILD.gn
  third_party/libwebrtc/video/video_receive_stream2.cc
  third_party/libwebrtc/video/video_receive_stream2.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928257 - Extend the PHC profiler telemetry to Fx142 r=mccr8
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from e3819f6ac3
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/examples/androidapp/src/org/appspot/apprtc/AppRTCBluetoothManager.java
  third_party/libwebrtc/sdk/android/api/org/webrtc/CallSessionFileRotatingLogSink.java
Due: bugzilla-components

Backed out changeset 25d954644545 (bug 1892953) for causing mochitests failures in browser_sidebar_move.js. CLOSED TREE
  browser/base/content/browser-box.inc.xhtml
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-main.css
  browser/components/sidebar/tests/browser/browser.toml
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_position.js
  browser/themes/shared/sidebar.css
  toolkit/content/widgets/moz-button/moz-button.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
