Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1928110 - Vendor libwebrtc from 825e4f19ce
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video/video_stream_encoder_settings.h
  third_party/libwebrtc/media/BUILD.gn
  third_party/libwebrtc/media/base/video_adapter.cc
  third_party/libwebrtc/media/base/video_adapter.h
  third_party/libwebrtc/media/base/video_adapter_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0078.patch
  third_party/libwebrtc/moz-patch-stack/0102.patch
  third_party/libwebrtc/moz-patch-stack/0129.patch
  third_party/libwebrtc/moz-patch-stack/0131.patch
  third_party/libwebrtc/video/video_stream_encoder.cc
  third_party/libwebrtc/video/video_stream_encoder_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 17ffd365a2
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_base/ssl_identity.cc
  third_party/libwebrtc/rtc_base/ssl_identity.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from bbea923c9f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/media/engine/webrtc_video_engine_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from b08a045e92
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/BUILD.gn
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0127.patch
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from 1c4c165aae
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from f045dbd67c
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/video/corruption_detection/BUILD.gn
  third_party/libwebrtc/video/corruption_detection/frame_instrumentation_generator.cc
  third_party/libwebrtc/video/corruption_detection/frame_instrumentation_generator.h
  third_party/libwebrtc/video/corruption_detection/frame_instrumentation_generator_unittest.cc
  third_party/libwebrtc/video/corruption_detection/halton_sequence.cc
  third_party/libwebrtc/video/corruption_detection/halton_sequence.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 4a201de10d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/video/corruption_detection/BUILD.gn
  third_party/libwebrtc/video/corruption_detection/corruption_classifier.cc
  third_party/libwebrtc/video/corruption_detection/corruption_classifier.h
  third_party/libwebrtc/video/corruption_detection/corruption_classifier_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 0fe3a61e5d
  third_party/libwebrtc/BUILD.gn
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0040.patch
  third_party/libwebrtc/moz-patch-stack/0052.patch
  third_party/libwebrtc/moz-patch-stack/0064.patch
  third_party/libwebrtc/moz-patch-stack/0099.patch
  third_party/libwebrtc/moz-patch-stack/0108.patch
  third_party/libwebrtc/moz-patch-stack/0131.patch
  third_party/libwebrtc/moz-patch-stack/0138.patch
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from 54903b407f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_processing/BUILD.gn
  third_party/libwebrtc/modules/audio_processing/transient/BUILD.gn
  third_party/libwebrtc/modules/audio_processing/transient/click_annotate.cc
  third_party/libwebrtc/modules/audio_processing/transient/common.h
  third_party/libwebrtc/modules/audio_processing/transient/daubechies_8_wavelet_coeffs.h
  third_party/libwebrtc/modules/audio_processing/transient/dyadic_decimator.h
  third_party/libwebrtc/modules/audio_processing/transient/dyadic_decimator_unittest.cc
  third_party/libwebrtc/modules/audio_processing/transient/file_utils.cc
  third_party/libwebrtc/modules/audio_processing/transient/file_utils.h
  third_party/libwebrtc/modules/audio_processing/transient/file_utils_unittest.cc
  third_party/libwebrtc/modules/audio_processing/transient/moving_moments.cc
  third_party/libwebrtc/modules/audio_processing/transient/moving_moments.h
  third_party/libwebrtc/modules/audio_processing/transient/moving_moments_unittest.cc
  third_party/libwebrtc/modules/audio_processing/transient/test/plotDetection.m
  third_party/libwebrtc/modules/audio_processing/transient/test/readDetection.m
  third_party/libwebrtc/modules/audio_processing/transient/test/readPCM.m
  third_party/libwebrtc/modules/audio_processing/transient/transient_detector.cc
  third_party/libwebrtc/modules/audio_processing/transient/transient_detector.h
  third_party/libwebrtc/modules/audio_processing/transient/transient_detector_unittest.cc
  third_party/libwebrtc/modules/audio_processing/transient/transient_suppression_test.cc
  third_party/libwebrtc/modules/audio_processing/transient/transient_suppressor.h
  third_party/libwebrtc/modules/audio_processing/transient/transient_suppressor_impl.cc
  third_party/libwebrtc/modules/audio_processing/transient/transient_suppressor_impl.h
  third_party/libwebrtc/modules/audio_processing/transient/transient_suppressor_unittest.cc
  third_party/libwebrtc/modules/audio_processing/transient/voice_probability_delay_unit.cc
  third_party/libwebrtc/modules/audio_processing/transient/voice_probability_delay_unit.h
  third_party/libwebrtc/modules/audio_processing/transient/voice_probability_delay_unit_unittest.cc
  third_party/libwebrtc/modules/audio_processing/transient/windows_private.h
  third_party/libwebrtc/modules/audio_processing/transient/wpd_node.cc
  third_party/libwebrtc/modules/audio_processing/transient/wpd_node.h
  third_party/libwebrtc/modules/audio_processing/transient/wpd_node_unittest.cc
  third_party/libwebrtc/modules/audio_processing/transient/wpd_tree.cc
  third_party/libwebrtc/modules/audio_processing/transient/wpd_tree.h
  third_party/libwebrtc/modules/audio_processing/transient/wpd_tree_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1929878 - [wasm-gc] Speed up arrayCopy operation. r=rhunt
  js/src/jit/ABIArgGenerator.h
  js/src/jit/ABIFunctionType.h
  js/src/jit/ABIFunctionType.yaml
  js/src/jit/GenerateABIFunctionType.py
  js/src/jit/arm/Assembler-arm.cpp
  js/src/jit/arm64/Assembler-arm64.cpp
  js/src/jit/arm64/CodeGenerator-arm64.cpp
  js/src/jit/loong64/Assembler-loong64.cpp
  js/src/jit/mips32/Assembler-mips32.cpp
  js/src/jit/mips64/Assembler-mips64.cpp
  js/src/jit/riscv64/Assembler-riscv64.cpp
  js/src/jit/x64/Assembler-x64.cpp
  js/src/jit/x86/Assembler-x86.cpp
  js/src/wasm/WasmBuiltins.cpp
  js/src/wasm/WasmBuiltins.h
  js/src/wasm/WasmFrameIter.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmIonCompile.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 5cf1285330
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from bba1a2e476
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_packet_history.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_packet_history.h
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_packet_history_unittest.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_rtcp_impl.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_rtcp_impl2.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_egress_unittest.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0008.patch
  third_party/libwebrtc/moz-patch-stack/0009.patch
  third_party/libwebrtc/moz-patch-stack/0050.patch
  third_party/libwebrtc/moz-patch-stack/0098.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from d2123d9a38
  third_party/libwebrtc/AUTHORS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/rtp_sender.h
  third_party/libwebrtc/pc/sdp_offer_answer.cc
  third_party/libwebrtc/pc/sdp_offer_answer_unittest.cc
  third_party/libwebrtc/pc/test/mock_rtp_sender_internal.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 2548d224dc
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/task_queue/default_task_queue_factory_stdlib_or_libevent_experiment.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from e2952a058e
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/media/engine/webrtc_voice_engine.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from c1dc8abeeb
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_video/h264/h264_common.h
  third_party/libwebrtc/common_video/h264/sps_parser.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 36f153e6d1
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/audio_options.cc
  third_party/libwebrtc/api/data_channel_interface.cc
  third_party/libwebrtc/api/jsep.cc
  third_party/libwebrtc/api/rtp_transceiver_interface.cc
  third_party/libwebrtc/api/sctp_transport_interface.cc
  third_party/libwebrtc/api/webrtc_key_value_config.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 9a6533932f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0131.patch
  third_party/libwebrtc/pc/BUILD.gn
  third_party/libwebrtc/pc/dtls_srtp_transport.cc
  third_party/libwebrtc/pc/srtp_session.cc
  third_party/libwebrtc/pc/srtp_session.h
  third_party/libwebrtc/pc/srtp_session_unittest.cc
  third_party/libwebrtc/pc/srtp_transport.cc
  third_party/libwebrtc/pc/srtp_transport.h
  third_party/libwebrtc/pc/srtp_transport_unittest.cc
  third_party/libwebrtc/pc/test/srtp_test_util.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1889914 Style "deleted" rows more recognizable. r=Gijs,jhirsch
  toolkit/components/aboutconfig/content/aboutconfig.css
  toolkit/components/aboutconfig/content/aboutconfig.js
  toolkit/components/aboutconfig/test/browser/browser_edit.js
  toolkit/components/aboutconfig/test/browser/browser_observe.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928110 - Vendor libwebrtc from 1b8a7b2b7f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 3aa47cfd30
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0115.patch
  third_party/libwebrtc/moz-patch-stack/0125.patch
  third_party/libwebrtc/moz-patch-stack/0126.patch
  third_party/libwebrtc/moz-patch-stack/0127.patch
  third_party/libwebrtc/moz-patch-stack/0128.patch
  third_party/libwebrtc/moz-patch-stack/0129.patch
  third_party/libwebrtc/moz-patch-stack/0130.patch
  third_party/libwebrtc/moz-patch-stack/0131.patch
  third_party/libwebrtc/moz-patch-stack/0132.patch
  third_party/libwebrtc/moz-patch-stack/0133.patch
  third_party/libwebrtc/moz-patch-stack/0134.patch
  third_party/libwebrtc/moz-patch-stack/0135.patch
  third_party/libwebrtc/moz-patch-stack/0136.patch
  third_party/libwebrtc/moz-patch-stack/0137.patch
  third_party/libwebrtc/moz-patch-stack/0138.patch
  third_party/libwebrtc/moz-patch-stack/3aa47cfd30.no-op-cherry-pick-msg
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from f566dee902
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/media/base/media_engine.cc
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/pc/peer_connection_encodings_integrationtest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 64e8e64e80
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/audio/audio_receive_stream.cc
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0045.patch
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 2f106d683a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0078.patch
  third_party/libwebrtc/video/BUILD.gn
  third_party/libwebrtc/video/video_stream_encoder.cc
  third_party/libwebrtc/video/video_stream_encoder.h
  third_party/libwebrtc/video/video_stream_encoder_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1930292 - Stop setting non-zero chromemargin values. r=win-reviewers,handyman
  browser/base/content/browser-tabsintitlebar.js
  browser/base/content/browser.xhtml
  mozglue/misc/PreXULSkeletonUI.cpp
  toolkit/content/tests/chrome/window_maximized_persist_with_no_titlebar.xhtml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1930647 - Make SuggestBackendMl discard suggestions with disabled intents. r=daisuke
  browser/components/urlbar/QuickSuggest.sys.mjs
  browser/components/urlbar/private/BaseFeature.sys.mjs
  browser/components/urlbar/private/SuggestBackendMl.sys.mjs
  browser/components/urlbar/private/YelpSuggestions.sys.mjs
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp_ml.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1931221 - Urlbar weather suggestions: Include the region in the title and set the input value to the URL when selected. r=daisuke,fluent-reviewers
  browser/components/urlbar/content/enUS-searchFeatures.ftl
  browser/components/urlbar/private/Weather.sys.mjs
  browser/components/urlbar/tests/quicksuggest/MerinoTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/QuickSuggestTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_weather.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1930640 - Fix dismissed urlbar Yelp ML suggestions. r=daisuke
  browser/components/urlbar/private/YelpSuggestions.sys.mjs
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp_ml.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1929596 - Add MLSuggest inference as under ml tests and make it run inference?tarek,adw,sparky r=urlbar-reviewers,adw
  browser/components/urlbar/private/MLSuggest.sys.mjs
  python/mozperftest/perfdocs/config.yml
  taskcluster/kinds/perftest/linux.yml
  taskcluster/kinds/perftest/macosx.yml
  taskcluster/kinds/perftest/windows11.yml
  testing/perfdocs/generated/mozperftest.rst
  toolkit/components/ml/tests/browser/browser_ml_suggest_inference.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_intent_perf.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_ner_perf.js
  toolkit/components/ml/tests/browser/data/suggest/named_entity_val_generated_data.json
  toolkit/components/ml/tests/browser/data/suggest/yelp_val_generated_data.json
  toolkit/components/ml/tests/browser/data/suggest/yelp_val_keywords_data.json
  toolkit/components/ml/tests/browser/head.js
  toolkit/components/ml/tests/browser/perftest.toml
Due: bugzilla-components, codespell, eslint, license, yaml, rst, file-perm

Backed out changeset 6d7a02956bac (bug 1929596) for not being properly reviewed.
  browser/components/urlbar/private/MLSuggest.sys.mjs
  python/mozperftest/perfdocs/config.yml
  taskcluster/kinds/perftest/linux.yml
  taskcluster/kinds/perftest/macosx.yml
  taskcluster/kinds/perftest/windows11.yml
  testing/perfdocs/generated/mozperftest.rst
  toolkit/components/ml/tests/browser/browser_ml_suggest_inference.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_intent_perf.js
  toolkit/components/ml/tests/browser/browser_ml_suggest_ner_perf.js
  toolkit/components/ml/tests/browser/data/suggest/named_entity_val_generated_data.json
  toolkit/components/ml/tests/browser/data/suggest/yelp_val_generated_data.json
  toolkit/components/ml/tests/browser/data/suggest/yelp_val_keywords_data.json
  toolkit/components/ml/tests/browser/head.js
  toolkit/components/ml/tests/browser/perftest.toml
Due: bugzilla-components, codespell, eslint, license, yaml, rst, file-perm

Bug 1931242 - Further increase Android fuzz for pattern-transformed-02.svg. r=ryanvm
  layout/reftests/svg/reftest.list
Due: bugzilla-components

Bug 1893053 - Update focus/active states for Shortcuts form controls to accessible colours r=home-newtab-reviewers,maxx,amy
  browser/components/newtab/content-src/components/CustomizeMenu/_CustomizeMenu.scss
  browser/components/newtab/css/activity-stream.css
Due: bugzilla-components, newtab-unit-tests

Backed out changeset 1893713e1d17 (bug 1930292) for causing bc failures @ browser_findbar_marks.js CLOSED TREE
  browser/base/content/browser-tabsintitlebar.js
  browser/base/content/browser.xhtml
  mozglue/misc/PreXULSkeletonUI.cpp
  toolkit/content/tests/chrome/window_maximized_persist_with_no_titlebar.xhtml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1930899 [wpt PR 49137] - Encoding: test 0xA3 0xA0 mapping to U+3000, a=testonly
  testing/web-platform/tests/encoding/legacy-mb-schinese/gb18030/gb18030-decoder.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1930968 [wpt PR 49150] - Remove special :scope matching code in MatchForRelation, a=testonly
  testing/web-platform/tests/css/css-scoping/scope-pseudo-in-shadow.html
  testing/web-platform/tests/speculation-rules/prefetch/document-rules.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1930967 [wpt PR 49149] - Map snap-event WPTs to web-features, a=testonly
  testing/web-platform/tests/css/css-scroll-snap-2/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-scroll-snap-2/scrollsnapchange/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-scroll-snap-2/scrollsnapchanging/WEB_FEATURES.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1930999 [wpt PR 49151] - Do not use * in variant names, a=testonly
  testing/web-platform/tests/html/dom/idlharness.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1930999 [wpt PR 49151] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
Due: bugzilla-components, test-manifest
