Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1909168 - Add fast paths for sink checks when trusted types are not used. r=smaug
  dom/base/Document.cpp
  dom/base/Document.h
  dom/interfaces/security/nsIContentSecurityPolicy.idl
  dom/security/nsCSPContext.cpp
  dom/security/nsCSPContext.h
  dom/security/nsCSPUtils.cpp
  dom/security/nsCSPUtils.h
  dom/security/trusted-types/TrustedTypeUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1921353 - Ensure up-to-date flags in DNR cache a=dmeehan
  toolkit/components/extensions/ExtensionDNRStore.sys.mjs
  toolkit/components/extensions/test/xpcshell/test_ext_dnr_dynamic_rules.js
  toolkit/components/extensions/test/xpcshell/test_ext_dnr_static_rules.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928247 - Update AndroidX Core to version 1.15.0. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1928247 - Remove deprecated ContextCompat.startActivity usage. r=android-reviewers,mcarare
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/AddOnsOnboardingPage.kt
Due: android-api-lint/opt, bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1928798 - do not return fatal error if the initialization failed, try again with another state machine. r=jrmuizel
  dom/media/ExternalEngineStateMachine.cpp
  xpcom/base/ErrorList.py
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1928798 - do not return fatal error if the initialization failed, try again with another state machine. r=jrmuizel, a=RyanVM
  dom/media/ExternalEngineStateMachine.cpp
  xpcom/base/ErrorList.py
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1928798 - do not return fatal error if the initialization failed, try again with another state machine. r=jrmuizel, a=dmeehan
  dom/media/ExternalEngineStateMachine.cpp
  xpcom/base/ErrorList.py
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Backed out changeset 0c01a856e4c3 (bug 1870427) as requested by Emilio CLOSED TREE
  widget/gtk/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928746 - Improve reliability of browser_pointerlock_popup.js; r=smaug
  dom/tests/browser/browser.toml
  dom/tests/browser/browser_pointerlock_popup.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-oc/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-si/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-oc/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-si/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-si/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-oc/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-oc/strings.xml
  mobile/android/fenix/app/src/main/res/values-si/strings.xml
  mobile/android/focus-android/app/src/main/res/values-oc/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-si/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-si/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1927195 - Part 0: Set Wrapper::defaultProto as MOZ_GLOBINIT to prevent clang-tidy error. r=sergesanspaille
  js/src/proxy/Wrapper.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927195 - Part 1: Add a static pref & shell option for explicit resource management proposal. r=arai
  js/src/shell/js.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1927195 - Part 3: Skip adding explicit resource management globals based on pref. r=arai
  js/src/builtin/AsyncDisposableStackObject.cpp
  js/src/builtin/DisposableStackObject.cpp
  js/src/vm/GlobalObject.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927195 - Part 6: Enable explicit resource management flag based on nightly flag. r=arai
  js/moz.configure
Due: bugzilla-components, codespell, py-flake8, mozbuild

Bug 1927195 - Part 5: Remove explicit resource management build requirement from regexp test. r=arai
  js/src/jit-test/tests/regexp/bug1697077.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1927195 - Part 4: Prevent parsing using & await using syntax based on pref. r=arai
  js/public/CompileOptions.h
  js/src/frontend/Parser.cpp
  js/src/vm/Interpreter.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927195 - Part 7: Add a shell option to disable explicit resource management. r=arai
  js/src/shell/js.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927195 - Part 8: Add tests for when explicit resource management parsing is disabled. r=arai
  js/src/jit-test/tests/explicit-resource-management/globals-not-available-if-pref-not-enabled.js
  js/src/jit-test/tests/explicit-resource-management/syntax-disabled-if-pref-not-enabled.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1927195 - Part 10: Fix hazard analysis errors by making getOrCreateDisposeCapability a static method. r=arai
  js/src/builtin/AsyncDisposableStackObject.cpp
  js/src/builtin/DisposableStackObject.cpp
  js/src/builtin/DisposableStackObjectBase.cpp
  js/src/builtin/DisposableStackObjectBase.h
  js/src/jit/BaselineFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928735 - Implement explicit resource management opcodes in pbl. r=arai
  js/src/vm/PortableBaselineInterpret.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928871 - temporarily disable browser_exslt_timezone_load.js on linux and osx because of permafailures due to winter hour change. r=dmeehan
  browser/components/resistfingerprinting/test/browser/browser.toml
Due: bugzilla-components

Bug 1928871 - temporarily disable browser_exslt_timezone_load.js on linux and osx because of permafailures due to winter hour change. r=dmeehan, a=test-only
  browser/components/resistfingerprinting/test/browser/browser.toml
Due: bugzilla-components

Bug 1928872 - temporarily disable multiple test on linux, osx and win because of permafailures due to winter hour change. r=dmeehan
  toolkit/components/resistfingerprinting/tests/browser/browser.toml
Due: bugzilla-components

Bug 1928872 - temporarily disable multiple test on linux, osx and win because of permafailures due to winter hour change. r=dmeehan, a=test-only
  toolkit/components/resistfingerprinting/tests/browser/browser.toml
Due: bugzilla-components

No Bug, mozilla-release repo-update remote-settings - a=RyanVM
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
