Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1880789 - Remove dom.workers.modules.enabled pref. r=gregp,webidl,dom-worker-reviewers,saschanaz,dom-storage-reviewers,janv,yulia,asuth
  dom/fs/test/mochitest/head.js
  dom/webidl/Worker.webidl
  dom/workers/ScriptLoader.cpp
  dom/workers/test/test_bug1824498.html
  dom/workers/test/test_dynamicImport.html
  dom/workers/test/test_dynamicImport_early_termination.html
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1915862 - fix hover background colour on pinned tabs in vertical tabs mode, r=desktop-theme-reviewers,tabbrowser-reviewers,dao
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components

Bug 1913432 - Defer property accesses in dispose loop. r=arai
  js/src/frontend/UsingEmitter.cpp
  js/src/frontend/UsingEmitter.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920460 - WebRTC backport: PipeWire camera: get max FPS for each format when specified as list r=pehrsons,webrtc-reviewers
  third_party/libwebrtc/modules/video_capture/linux/pipewire_session.cc
  third_party/libwebrtc/moz-patch-stack/3aa47cfd30.no-op-cherry-pick-msg
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1920603 - Templatize line-list iterators. r=layout-reviewers,jfkthame
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsContainerFrameInlines.h
  layout/generic/nsIFrame.h
  layout/generic/nsLineBox.h
  layout/generic/nsTextFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919439 - Fix soundplaying / muted / activemedia-blocked icon border color to always be black or white. r=desktop-theme-reviewers,Gijs,emilio
  browser/themes/addons/dark/manifest.json
  browser/themes/addons/light/manifest.json
  browser/themes/shared/browser-colors.css
  browser/themes/shared/tabbrowser/tabs.css
  toolkit/mozapps/extensions/default-theme/manifest.json
Due: bugzilla-components

Bug 1919774 - Remove global constructor from tools/profiler/gecko/ProfilerParent.cpp r=profiler-reviewers,canaltinova
  tools/profiler/gecko/ProfilerParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919777 - Introduce MOZ_CONSTINIT as a C++17 - compatible alternative to C++20 constinit r=glandium
  mfbt/Attributes.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919778 - Flag EnumeratedArray variable from dom/media/ipc/RemoteDecoderManagerChild.cpp as MOZ_CONSTINIT r=media-playback-reviewers,padenot
  dom/media/ipc/RemoteDecoderManagerChild.cpp
  mfbt/Maybe.h
  mfbt/MaybeStorageBase.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901761 - extend keepalive.any.js for workers. r=edenchuang
  testing/web-platform/mozilla/tests/fetch/api/request/abort-keepalive.any.js
  testing/web-platform/tests/fetch/api/basic/keepalive.any.js
  testing/web-platform/tests/fetch/api/resources/keepalive-worker.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914632 - support fetch keepalive for workers. r=edenchuang
  dom/fetch/Fetch.cpp
  dom/fetch/FetchChild.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914632 - delete the actors during shutdown for worker keepalive requests.r=edenchuang
  dom/fetch/FetchParent.cpp
  dom/fetch/FetchParent.h
  dom/fetch/FetchService.cpp
  dom/fetch/FetchService.h
  dom/serviceworkers/FetchEventOpChild.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914632 - modify shutdown handling for keepalive requests. r=edenchuang
  dom/fetch/FetchChild.cpp
  dom/fetch/FetchParent.cpp
  dom/fetch/FetchParent.h
  dom/fetch/PFetch.ipdl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1906952 - enable fetch keepalive for nightly and early beta users. r=necko-reviewers,valentin
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1920624 - Update Gradle to version 8.10.2. r=android-reviewers,mcarare
  gradle/wrapper/gradle-wrapper.properties
  mobile/android/android-components/gradle/wrapper/gradle-wrapper.properties
  mobile/android/fenix/gradle/wrapper/gradle-wrapper.properties
  mobile/android/focus-android/gradle/wrapper/gradle-wrapper.properties
Due: bugzilla-components, codespell

Bug 1919962 - Add MacOS 15.0 SDK. r=firefox-build-system-reviewers,glandium
  build/macosx/catalog.py
  taskcluster/kinds/toolchain/macos-sdk.yml
  taskcluster/kinds/toolchain/misc.yml
  taskcluster/scripts/misc/build-custom-car.sh
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, shellcheck, file-whitespace

Bug 1919203 - wasm lazy tiering: improve estimation of Ion compilation cost. r=bvisness.
  js/src/jit-test/tests/wasm/gc/speculative-inlining.js
  js/src/wasm/WasmHeuristics.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1920433 part 1 - Remove dead code from InlineTable.h. r=arai
  js/src/ds/InlineTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920433 part 2 - Don't use tombstones for removed inline entries in InlineTable. r=arai
  js/src/ds/InlineTable.h
  js/src/frontend/NameCollections.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920433 part 4 - Rename InlineArray::inlCount to InlineArray::count. r=arai
  js/src/ds/InlineTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920433 part 3 - Use Variant for InlineTable array/table. r=arai
  js/src/ds/InlineTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920433 part 6 - Use reserve() in InlineTable::switchToTable. r=arai
  js/src/ds/InlineTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920433 part 5 - Add assertions to check for mutations. r=arai
  js/src/ds/InlineTable.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920640 - Update android nightly application-services version bump to 0e3636d36eaf6102b6557eb1f549e4a4ab90e7bf r=release-managers,RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1919158 - Pass nsISupportsPriority to UrgencyFromCoSFlags r=acreskey,necko-reviewers,kershaw
  netwerk/protocol/http/Http2Session.cpp
  netwerk/protocol/http/Http2StreamBase.cpp
  netwerk/protocol/http/Http3Stream.cpp
  netwerk/protocol/http/nsHttpHandler.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900561 - Add fetchPriority to classOfService r=acreskey,necko-reviewers,kershaw
  netwerk/base/nsIClassOfService.idl
  netwerk/ipc/NeckoMessageUtils.h
  netwerk/protocol/http/ClassOfService.h
  netwerk/protocol/http/HttpBaseChannel.cpp
  netwerk/protocol/http/HttpBaseChannel.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900561 - Set nsIClassOfService::fetchPriority where callers use nsISupportsPriority.adjustPriority r=acreskey
  dom/fetch/FetchDriver.cpp
  dom/script/ScriptLoader.cpp
  image/imgLoader.cpp
  layout/style/Loader.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917406 - Use shorter message to avoid truncation in toast. r=android-reviewers,pollymce
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/browser/integration/FullScreenIntegration.kt
  mobile/android/focus-android/app/src/main/res/values/strings.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1920666 - Make tab group line extend under the group label. r=jswinarton
  browser/components/tabbrowser/content/tabgroup.js
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 3 changesets (bug 1919774, bug 1919777, bug 1919778) for causing Hazard bustages at RegExpAPI.cpp. CLOSED TREE
  dom/media/ipc/RemoteDecoderManagerChild.cpp
  mfbt/Attributes.h
  mfbt/Maybe.h
  mfbt/MaybeStorageBase.h
  tools/profiler/gecko/ProfilerParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
