Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1903098 - Vendor libwebrtc from 28d07ddbfd
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/net/dcsctp/public/dcsctp_options.h
  third_party/libwebrtc/net/dcsctp/tx/retransmission_timeout.cc
  third_party/libwebrtc/net/dcsctp/tx/retransmission_timeout.h
  third_party/libwebrtc/net/dcsctp/tx/retransmission_timeout_test.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from b0e7057e1b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/frame_transformer_interface.h
  third_party/libwebrtc/api/rtp_receiver_interface.cc
  third_party/libwebrtc/api/rtp_receiver_interface.h
  third_party/libwebrtc/api/rtp_sender_interface.h
  third_party/libwebrtc/api/test/mock_rtpsender.h
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0086.patch
  third_party/libwebrtc/pc/audio_rtp_receiver.cc
  third_party/libwebrtc/pc/audio_rtp_receiver.h
  third_party/libwebrtc/pc/rtp_receiver_proxy.h
  third_party/libwebrtc/pc/rtp_sender.cc
  third_party/libwebrtc/pc/rtp_sender.h
  third_party/libwebrtc/pc/rtp_sender_proxy.h
  third_party/libwebrtc/pc/test/mock_rtp_sender_internal.h
  third_party/libwebrtc/pc/video_rtp_receiver.cc
  third_party/libwebrtc/pc/video_rtp_receiver.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset e38543d56e9b (bug 1899872) for causing build bustages CLOSED TREE
  dom/base/CCGCScheduler.cpp
  dom/base/CCGCScheduler.h
  dom/base/nsJSEnvironment.cpp
  dom/base/nsJSEnvironment.h
  dom/base/test/gtest/TestScheduler.cpp
  js/public/GCAPI.h
  js/public/SliceBudget.h
  js/src/builtin/TestingFunctions.cpp
  js/src/gc/ArenaList.h
  js/src/gc/Compacting.cpp
  js/src/gc/GC.cpp
  js/src/gc/GCAPI.cpp
  js/src/gc/GCMarker.h
  js/src/gc/GCRuntime.h
  js/src/gc/Marking.cpp
  js/src/gc/ParallelMarking.cpp
  js/src/gc/ParallelMarking.h
  js/src/gc/ParallelWork.h
  js/src/gc/Statistics.cpp
  js/src/gc/Statistics.h
  js/src/gc/Sweeping.cpp
  js/src/gc/Zone.h
  js/src/jsapi-tests/testGCFinalizeCallback.cpp
  js/src/jsapi-tests/testGCGrayMarking.cpp
  js/src/jsapi-tests/testGCHeapBarriers.cpp
  js/src/jsapi-tests/testGCHooks.cpp
  js/src/jsapi-tests/testGCMarking.cpp
  js/src/jsapi-tests/testSliceBudget.cpp
  js/src/jsapi-tests/testWeakMap.cpp
  js/src/shell/js.cpp
  js/src/vm/AtomsTable.h
  js/src/vm/JSAtomUtils.cpp
  js/xpconnect/src/XPCJSRuntime.cpp
  xpcom/base/CycleCollectedJSRuntime.cpp
  xpcom/base/CycleCollectedJSRuntime.h
  xpcom/base/nsCycleCollector.cpp
  xpcom/base/nsCycleCollector.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from b85b4c0f29
  third_party/libwebrtc/BUILD.gn
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/DEPS
  third_party/libwebrtc/api/video_codecs/BUILD.gn
  third_party/libwebrtc/api/video_codecs/libaom_av1_encoder_factory.cc
  third_party/libwebrtc/api/video_codecs/libaom_av1_encoder_factory.h
  third_party/libwebrtc/api/video_codecs/libaom_av1_encoder_factory_test.cc
  third_party/libwebrtc/api/video_codecs/simple_encoder_wrapper.cc
  third_party/libwebrtc/api/video_codecs/simple_encoder_wrapper.h
  third_party/libwebrtc/api/video_codecs/simple_encoder_wrapper_unittests.cc
  third_party/libwebrtc/api/video_codecs/video_encoder_factory_interface.h
  third_party/libwebrtc/api/video_codecs/video_encoder_interface.h
  third_party/libwebrtc/api/video_codecs/video_encoding_general.h
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0053.patch
  third_party/libwebrtc/moz-patch-stack/0064.patch
  third_party/libwebrtc/moz-patch-stack/0066.patch
  third_party/libwebrtc/moz-patch-stack/0103.patch
  third_party/libwebrtc/moz-patch-stack/0111.patch
  third_party/libwebrtc/rtc_base/BUILD.gn
  third_party/libwebrtc/rtc_base/numerics/rational.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from d00942111e
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from 2e1a2cd20d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/test/video_codec_tester.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from b5f2442275
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/net/dcsctp/rx/reassembly_queue.cc
  third_party/libwebrtc/net/dcsctp/rx/reassembly_queue.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 3772354f0c
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from decc48fd97
  third_party/libwebrtc/AUTHORS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/desktop_capture/win/dxgi_duplicator_controller.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from b386d47ad7
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 0d9e83c769
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/whitespace.txt
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from a130e37dad
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/whitespace.txt
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from 3703b3500c
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/audio/channel_send.cc
  third_party/libwebrtc/experiments/field_trials.py
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_header_extensions.h
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_egress.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_egress.h
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0052.patch
  third_party/libwebrtc/moz-patch-stack/0058.patch
  third_party/libwebrtc/moz-patch-stack/0083.patch
  third_party/libwebrtc/moz-patch-stack/0084.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 5ccd44b8f7
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video_codecs/libaom_av1_encoder_factory.cc
  third_party/libwebrtc/api/video_codecs/simple_encoder_wrapper.cc
  third_party/libwebrtc/api/video_codecs/video_encoder_interface.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from c75ee61a0b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from e92f4095ad
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 7e41c06d25
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0064.patch
  third_party/libwebrtc/moz-patch-stack/0111.patch
  third_party/libwebrtc/p2p/base/dtls_transport.cc
  third_party/libwebrtc/p2p/base/dtls_transport.h
  third_party/libwebrtc/rtc_base/BUILD.gn
  third_party/libwebrtc/rtc_base/openssl_stream_adapter.cc
  third_party/libwebrtc/rtc_base/openssl_stream_adapter.h
  third_party/libwebrtc/rtc_base/ssl_adapter_unittest.cc
  third_party/libwebrtc/rtc_base/ssl_stream_adapter_unittest.cc
  third_party/libwebrtc/rtc_base/stream.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 3e7a5506f2
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 6ab9085d19
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video_codecs/BUILD.gn
  third_party/libwebrtc/api/video_codecs/libaom_av1_encoder_factory.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from c21a150b25
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/experiments/field_trials.py
  third_party/libwebrtc/moz-patch-stack/0001.patch
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1903098 - Vendor libwebrtc from 047238ebda
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/build_overrides/build.gni
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0053.patch
  third_party/libwebrtc/moz-patch-stack/0060.patch
  third_party/libwebrtc/moz-patch-stack/0082.patch
  third_party/libwebrtc/webrtc.gni
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from 64437e8cc0
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/frame_transformer_interface.h
  third_party/libwebrtc/api/test/mock_transformable_audio_frame.h
  third_party/libwebrtc/audio/channel_receive_frame_transformer_delegate.cc
  third_party/libwebrtc/audio/channel_receive_frame_transformer_delegate_unittest.cc
  third_party/libwebrtc/audio/channel_send.cc
  third_party/libwebrtc/audio/channel_send_frame_transformer_delegate.cc
  third_party/libwebrtc/audio/channel_send_frame_transformer_delegate.h
  third_party/libwebrtc/audio/channel_send_frame_transformer_delegate_unittest.cc
  third_party/libwebrtc/audio/channel_send_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0052.patch
  third_party/libwebrtc/moz-patch-stack/0083.patch
  third_party/libwebrtc/moz-patch-stack/0084.patch
  third_party/libwebrtc/moz-patch-stack/0086.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from d78e30e00b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/media/base/codec.h
  third_party/libwebrtc/media/base/codec_unittest.cc
  third_party/libwebrtc/media/base/fake_media_engine.cc
  third_party/libwebrtc/media/base/fake_media_engine.h
  third_party/libwebrtc/media/base/media_engine.h
  third_party/libwebrtc/media/base/media_engine_unittest.cc
  third_party/libwebrtc/media/engine/fake_webrtc_video_engine.cc
  third_party/libwebrtc/media/engine/payload_type_mapper.cc
  third_party/libwebrtc/media/engine/payload_type_mapper.h
  third_party/libwebrtc/media/engine/payload_type_mapper_unittest.cc
  third_party/libwebrtc/media/engine/webrtc_video_engine.cc
  third_party/libwebrtc/media/engine/webrtc_video_engine.h
  third_party/libwebrtc/media/engine/webrtc_video_engine_unittest.cc
  third_party/libwebrtc/media/engine/webrtc_voice_engine.cc
  third_party/libwebrtc/media/engine/webrtc_voice_engine.h
  third_party/libwebrtc/media/engine/webrtc_voice_engine_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/pc/channel.cc
  third_party/libwebrtc/pc/channel_unittest.cc
  third_party/libwebrtc/pc/media_session.cc
  third_party/libwebrtc/pc/media_session.h
  third_party/libwebrtc/pc/media_session_unittest.cc
  third_party/libwebrtc/pc/peer_connection.cc
  third_party/libwebrtc/pc/peer_connection_factory.cc
  third_party/libwebrtc/pc/peer_connection_integrationtest.cc
  third_party/libwebrtc/pc/peer_connection_media_unittest.cc
  third_party/libwebrtc/pc/rtp_parameters_conversion_unittest.cc
  third_party/libwebrtc/pc/rtp_sender_receiver_unittest.cc
  third_party/libwebrtc/pc/test/mock_rtp_sender_internal.h
  third_party/libwebrtc/pc/webrtc_sdp.cc
  third_party/libwebrtc/pc/webrtc_sdp_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from ffb49c22ca
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/docs/monorail-bug-tracker-migration/monorail-issue-tracker-map.csv
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from c3cdab00d8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1898576 - adjust retailer name localization for .fr and .de, r=shopping-reviewers,fluent-reviewers,Gijs,bolsson
  browser/components/shopping/content/analysis-explainer.mjs
  browser/locales/en-US/browser/shopping.ftl
Due: bugzilla-components, codespell, localization

Bug 1858806 - Add crashtest r=RyanVM
  dom/svg/crashtests/1858806.html
  dom/svg/crashtests/crashtests.list
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1903346 - Migrate the Play In-App Review library to the AC dependencies plugin. r=android-reviewers,jonalmeida
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
  mobile/android/focus-android/app/build.gradle
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/appreview/AppReviewUtils.kt
  mobile/android/focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1903391 - Send from- and to-language changes to telemetry r=translations-reviewers,gregtatum
  browser/components/translations/content/selectTranslationsPanel.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_primary_ui.js
  toolkit/components/translations/TranslationsTelemetry.sys.mjs
  toolkit/components/translations/metrics.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1903391 - Clean up language extra_key definitions r=translations-reviewers,gregtatum
  toolkit/components/translations/metrics.yaml
Due: bugzilla-components, yaml

Bug 1903392 - Send source-language changes to telemetry r=translations-reviewers,gregtatum
  browser/components/translations/content/selectTranslationsPanel.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_keypresses_translate_button.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_unsupported_language_ui.js
  toolkit/components/translations/TranslationsTelemetry.sys.mjs
  toolkit/components/translations/metrics.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1903393 - Send the text source to telemetry r=translations-reviewers,gregtatum
  browser/base/content/nsContextMenu.js
  browser/components/translations/content/selectTranslationsPanel.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_init_failure_ui_then_cancel.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_init_failure_ui_then_succeed.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_multi_page.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_primary_ui.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_settings_menu.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_translation_failure_ui_then_cancel.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_translation_failure_ui_then_succeed.js
  browser/components/translations/tests/browser/browser_translations_select_telemetry_unsupported_language_ui.js
  toolkit/components/translations/TranslationsTelemetry.sys.mjs
  toolkit/components/translations/metrics.yaml
  toolkit/components/translations/translations.d.ts
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1899887 - Fix race condition in mailto test, r=Gijs
  browser/base/content/browser.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1903440: Use MakeUnique instead of 'new' to initialize UniquePtr in RemotePrintJobParent. r=TYLin
  layout/printing/ipc/RemotePrintJobParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 08430749c503 (bug 1817981) for causing mochitest failures on test_worker_in_background.html
  dom/base/nsGlobalWindowInner.cpp
  dom/webidl/WorkerTestUtils.webidl
  dom/workers/RuntimeService.cpp
  dom/workers/RuntimeService.h
  dom/workers/WorkerCommon.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/WorkerTestUtils.cpp
  dom/workers/WorkerTestUtils.h
  dom/workers/test/mochitest.toml
  dom/workers/test/test_worker_in_background.html
  dom/workers/test/test_worker_in_background.js
  dom/workers/test/test_worker_in_background_child.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Backed out 3 changesets (bug 1903141) for causing crashtest failures on nsSplittableFrame.cpp CLOSED TREE
  layout/generic/BlockReflowState.cpp
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsBlockFrame.h
  layout/generic/nsFrameStateBits.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rAR/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rCL/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fy-rNL/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-is/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-kk/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-nl/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ru/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-zh-rCN/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-zh-rTW/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
