Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1904160 - [5/7] Assorted local refactoring and cleanup r=Gijs
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904160 - [4/7] Factor out GetOsTmpDownloadDirectory() r=Gijs
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904160 - [7/7] Add method to get downloads directory r=geckoview-reviewers,mak,m_kato
  mobile/android/components/geckoview/GeckoViewExternalAppService.cpp
  toolkit/components/downloads/DownloadIntegration.sys.mjs
  toolkit/components/downloads/test/unit/common_test_Download.js
  uriloader/exthandler/nsExternalHelperAppService.cpp
  uriloader/exthandler/nsIExternalHelperAppService.idl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1904160 - [6/7] Factor out GetPreferredDownloadsDirectory() [sic] r=Gijs
  uriloader/exthandler/nsExternalHelperAppService.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1906326 - Don't manually unhide the dataBackupGroup in preferences if enabled. r=settings-reviewers,Gijs
  browser/components/preferences/main.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1905937 - [1/1] Fix non-unified builds with launcher process disabled r=win-reviewers,gstoll
  browser/app/winlauncher/LauncherProcessWin.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging 9c155f88c2052e60b405b749e72bd3ddb8358dfb with FIREFOX_129_0b1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1902581: Don't check for over-recursion unless there's a preWrap hook r=jandem
  js/src/jit-test/tests/debug/bug1902581.js
  js/src/vm/Compartment.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging 9c155f88c2052e60b405b749e72bd3ddb8358dfb with DEVEDITION_129_0b1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging 9c155f88c2052e60b405b749e72bd3ddb8358dfb with FIREFOX-ANDROID_129_0b1_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1824504 - refactor(webgpu): s/interface/namespace for enums. r=webgpu-reviewers,webidl,saschanaz,teoxoy
  dom/webidl/WebGPU.webidl
Due: bugzilla-components

Bug 1903117 - Make the download link in the single-file archive work. r=backup-reviewers,desktop-theme-reviewers,dao,kpatenio
  browser/app/profile/firefox.js
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/content/archive.css
  browser/components/backup/content/archive.template.html
  browser/components/backup/tests/xpcshell/test_BackupService_resolveDownloadLink.js
  browser/components/backup/tests/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1893355 - [devtools] Set gutter breakpoints correctly when jumping between original and generated sources r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/Breakpoints.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1903720 - Add commands to run tests locally on perftest documentation on mozilla source docs. r=perftest-reviewers,afinder,sparky
  testing/perfdocs/generated/awsy.rst
  testing/perfdocs/generated/raptor.rst
  testing/perfdocs/generated/talos.rst
  tools/lint/perfdocs/framework_gatherers.py
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, mozlint

Bug 1906001 - Get correct colour for Normal/Active tab page button on Tabs Tray in dark mode r=android-reviewers,007, a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1906001 - Get correct colour for Normal/Active tab page button on Tabs Tray in dark mode r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayBanner.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1906730 - Drop linux64-aarch64 from ja-JP-mac locale, a=release
  browser/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1901483 - do not report metadataload again when switching from media engine playback to normal playback. r=media-playback-reviewers,padenot
  dom/media/MediaDecoder.cpp
  dom/media/MediaDecoder.h
  dom/media/mediasource/MediaSourceDecoder.cpp
  dom/media/mediasource/MediaSourceDecoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904714 - rename Nightly Experiments to Firefox Labs, r=Mardak,settings-reviewers,fluent-reviewers,flod,mstriemer
  browser/components/preferences/experimental.inc.xhtml
  browser/components/preferences/preferences.xhtml
  browser/locales/en-US/browser/preferences/preferences.ftl
  toolkit/locales/en-US/toolkit/branding/brandings.ftl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1905407 - Create xpcshell unit tests for DataSourceBase. r=mtigley,credential-management-reviewers
  toolkit/components/satchel/megalist/aggregator/tests/unit/head.js
  toolkit/components/satchel/megalist/aggregator/tests/unit/test_aggregatorEnumerateLines.js
  toolkit/components/satchel/megalist/aggregator/tests/unit/test_dataSourceBaseAddLines.js
  toolkit/components/satchel/megalist/aggregator/tests/unit/test_dataSourceBaseEnumerateLinesForMatchingRecords.js
  toolkit/components/satchel/megalist/aggregator/tests/unit/test_dataSourceBaseExpandHeaderLine.js
  toolkit/components/satchel/megalist/aggregator/tests/unit/test_dataSourceBaseRemoveLine.js
  toolkit/components/satchel/megalist/aggregator/tests/unit/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1906338: Rename PBM notifications pref and enable it by default.r=saschanaz DONTBUILD
  dom/notification/Notification.cpp
  dom/notification/test/browser/browser_permission_dismiss.js
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1639546: Enable IndexedDB WPT tests to run as part of pb job run.r=taskgraph-reviewers,jmaher,janv,dom-storage-reviewers
  taskcluster/gecko_taskgraph/util/chunking.py
  taskcluster/kinds/test/web-platform.yml
  testing/web-platform/meta/IndexedDB/__dir__.ini
  testing/web-platform/meta/IndexedDB/bindings-inject-keys-bypass.any.js.ini
  testing/web-platform/meta/IndexedDB/bindings-inject-values-bypass.any.js.ini
  testing/web-platform/meta/IndexedDB/idbcursor-continue-exception-order.htm.ini
  testing/web-platform/meta/IndexedDB/idbcursor_advance_index.any.js.ini
  testing/web-platform/meta/IndexedDB/idbcursor_advance_objectstore.any.js.ini
  testing/web-platform/meta/IndexedDB/idbdatabase_deleteObjectStore.any.js.ini
  testing/web-platform/meta/IndexedDB/idbindex_count.any.js.ini
  testing/web-platform/meta/IndexedDB/idbindex_get.any.js.ini
  testing/web-platform/meta/IndexedDB/idbindex_getAll.any.js.ini
  testing/web-platform/meta/IndexedDB/idbindex_getAllKeys.any.js.ini
  testing/web-platform/meta/IndexedDB/idbindex_getKey.any.js.ini
  testing/web-platform/meta/IndexedDB/idbobjectstore-rename-abort.html.ini
  testing/web-platform/meta/IndexedDB/idbobjectstore-request-source.html.ini
  testing/web-platform/meta/IndexedDB/idbobjectstore_add.any.js.ini
  testing/web-platform/meta/IndexedDB/idbobjectstore_delete.any.js.ini
  testing/web-platform/meta/IndexedDB/idbobjectstore_deleteIndex.any.js.ini
  testing/web-platform/meta/IndexedDB/idbobjectstore_put.any.js.ini
  testing/web-platform/meta/IndexedDB/idlharness.any.js.ini
  testing/web-platform/meta/IndexedDB/reading-autoincrement-indexes-cursors.any.js.ini
  testing/web-platform/meta/IndexedDB/reading-autoincrement-indexes.any.js.ini
  testing/web-platform/meta/IndexedDB/reading-autoincrement-store-cursors.any.js.ini
  testing/web-platform/meta/IndexedDB/reading-autoincrement-store.any.js.ini
  testing/web-platform/meta/IndexedDB/storage-buckets.https.any.js.ini
  testing/web-platform/meta/IndexedDB/transaction-abort-object-store-metadata-revert.html.ini
  testing/web-platform/meta/IndexedDB/value.any.js.ini
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, yaml, file-whitespace, taskgraph-tests

No bug - Tagging e33c0af11e2953aa810560cd2f518cded4eee143 with FIREFOX_129_0b1_BUILD2 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1906685 - Ensure 48 dp touch size for Navigation Buttons r=android-reviewers,tchoh
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavigationBar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/ToolbarTabCounterButton.kt
Due: android-api-lint/opt, bugzilla-components

No bug - Tagging e33c0af11e2953aa810560cd2f518cded4eee143 with DEVEDITION_129_0b1_BUILD2 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1906716 - Remove MaybeIntSize that is used by only one caller. r=gfx-reviewers,bradwerth
  gfx/2d/Point.h
  gfx/layers/ipc/WebRenderMessages.ipdlh
  image/decoders/nsAVIFDecoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1856460, rename nsContentUtils::HasMutationListeners, r=emilio
  dom/base/CharacterData.cpp
  dom/base/Element.cpp
  dom/base/FragmentOrElement.cpp
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsINode.cpp
  dom/svg/SVGElement.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1856460, add support for HTMLDetailsElement.name, r=emilio
  dom/html/HTMLDetailsElement.cpp
  dom/html/HTMLDetailsElement.h
  dom/webidl/HTMLDetailsElement.webidl
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
  testing/web-platform/meta/html/semantics/interactive-elements/the-details-element/name-attribute.html.ini
  testing/web-platform/tests/html/semantics/interactive-elements/the-details-element/name-attribute.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, wptlint-gecko, yaml, file-whitespace, file-perm

Bug 1856460, Add Document::FireMutationEvents, r=emilio
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/nsContentUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1906712 - remove Tor sites from pinning preload list at their request r=djackson
  security/manager/ssl/StaticHPKPins.h
  security/manager/tools/PreloadedHPKPins.json
  taskcluster/docker/periodic-updates/scripts/genHPKPStaticPins.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from de7e4ad1b1 - moz.build file updates
  CLOBBER
  third_party/libwebrtc/moz.build
  third_party/libwebrtc/rtc_base/experiments/cpu_speed_experiment_gn/moz.build
Due: bugzilla-components

No bug - Tagging 9c155f88c2052e60b405b749e72bd3ddb8358dfb with FIREFOX-ANDROID_129_0b1_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

Bug 1809365 - Disable browser_fullscreen-tab-close.js on mac !debug for frequent failures. r=edgar
  dom/base/test/fullscreen/browser.toml
Due: bugzilla-components

Bug 1906730: don't add linux64-aarch64 to ja-JP-mac in l10n-changesets.json r=releng-reviewers,ahal
  taskcluster/kinds/merge-automation/kind.yml
Due: bugzilla-components, yaml

Bug 1906017 - Display non-Sponsored Suggestions at the bottom as default r=adw, a=dmeehan
  browser/app/profile/firefox.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_block.js
  browser/components/urlbar/tests/quicksuggest/unit/head.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_dynamicWikipedia.js
  browser/components/urlbar/tests/unit/test_exposure.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1906017 - Display Sponsored Suggestions at the bottom if browser.urlbar.showSearchSuggestionsFirst is false r=adw
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarProviderQuickSuggest.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_indexes.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm
