Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1932329. Describe small logic error. r=arai
  browser/modules/BrowserWindowTracker.sys.mjs
Due: bugzilla-components

Bug 1924461 - Add diagnostic assertions to pin down which type of process selection goes wrong. r=smaug
  dom/ipc/ContentParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917901: Make it ok to retarget OnDataAvailable multiple times until the first ODA is received r=necko-reviewers,kershaw
  dom/fetch/FetchDriver.cpp
  netwerk/protocol/http/HttpChannelChild.cpp
  netwerk/protocol/http/HttpChannelChild.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1929237 - Enable and adapt tests for running on SDK 35. r=android-reviewers,giorga
  mobile/android/android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeatureTest.kt
  mobile/android/android-components/components/feature/qr/src/test/java/mozilla/components/feature/qr/CameraManagerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1931418 - Reduce the amount of recursion checks. r=dom-core,sefeng, a=dmeehan
  docshell/base/nsDocShellLoadState.cpp
  docshell/base/nsDocShellLoadState.h
  dom/base/nsFrameLoader.cpp
  dom/base/nsFrameLoader.h
  dom/base/nsFrameLoaderOwner.cpp
  dom/base/nsObjectLoadingContent.cpp
  dom/html/nsGenericHTMLFrameElement.cpp
  dom/ipc/DOMTypes.ipdlh
  dom/xul/XULFrameElement.cpp
  netwerk/ipc/DocumentLoadListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1931418 - Test that navigation isn't blocked due to recursive iframes. r=jjaschke, a=dmeehan
  docshell/test/navigation/frame_recursive_target.html
  docshell/test/navigation/mochitest.toml
  docshell/test/navigation/test_recursive_frames.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1931418 - Test that navigation isn't blocked due to recursive iframes. r=jjaschke
  docshell/test/navigation/frame_recursive_target.html
  docshell/test/navigation/mochitest.toml
  docshell/test/navigation/test_recursive_frames.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1931418 - Reduce the amount of recursion checks. r=dom-core,sefeng
  docshell/base/nsDocShellLoadState.cpp
  docshell/base/nsDocShellLoadState.h
  dom/base/nsFrameLoader.cpp
  dom/base/nsFrameLoader.h
  dom/base/nsFrameLoaderOwner.cpp
  dom/base/nsObjectLoadingContent.cpp
  dom/html/nsGenericHTMLFrameElement.cpp
  dom/ipc/DOMTypes.ipdlh
  dom/xul/XULFrameElement.cpp
  netwerk/ipc/DocumentLoadListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1932285 - Use getLayoutInflater() instead of LayoutInflater.from(context) in HistoryFragment. r=android-reviewers,mcarare
  mobile/android/fenix/app/lint-baseline.xml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/history/HistoryFragment.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1932287 - Update Sentry to version 7.18.0. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1932287 - Update Firebase Cloud Messaging to version 24.1.0. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1931466: Ensure inline elements in an empty linebox as having zero BSize and no baseline. r=layout-reviewers,dholbert,jfkthame
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsFirstLetterFrame.cpp
  layout/generic/nsInlineFrame.cpp
  layout/generic/nsLineLayout.cpp
  layout/generic/nsLineLayout.h
  layout/generic/nsRubyBaseContainerFrame.cpp
  layout/reftests/css-ui/caret-color-01-ref.html
  layout/reftests/css-visited/caret-color-on-visited-1-ref.html
  testing/web-platform/meta/FileAPI/url/url-in-tags.window.js.ini
  testing/web-platform/meta/css/CSS2/positioning/abspos-inline-008.xht.ini
  testing/web-platform/meta/css/CSS2/positioning/toogle-abspos-on-relpos-inline-child.html.ini
  testing/web-platform/meta/css/css-break/out-of-flow-in-multicolumn-116.html.ini
  testing/web-platform/meta/css/css-position/position-absolute-in-inline-001.html.ini
  testing/web-platform/tests/FileAPI/url/url-in-tags.window.js
  testing/web-platform/tests/css/css-inline/empty-span-size-001-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-size-001.html
  testing/web-platform/tests/css/css-inline/empty-span-size-002-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-size-002.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1886566 - add a CSS intervention to show the main iframe on qceservices.quezoncity.gov.ph/qcvaxeasy; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/css/bug1886566-quezoncity.gov.ph-iframe-height.css
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1886566-quezoncity.gov.ph-iframe-height.css
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/manifest.json
  testing/webcompat/interventions/tests/test_1886566_qceservices_quezoncity_gov_ph.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1846742 - add a JS intervention on www.microsoft.com to simulate a click on search suggestions when enter is pressed on them; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/js/bug1846742-microsoft.com-search-key-fix.js
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1846742-microsoft.com-search-key-fix.js
  testing/webcompat/client.py
  testing/webcompat/interventions/tests/test_1846742_microsoft_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1913759 - add a UA override for playblackdesert.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1913759_playblackdesert_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1886591 - add a CSS intervention for la-vache-noire.com to un-hide the cookie banner; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/css/bug1886591-la-vache-noire.com-cookie-banner-fix.css
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/css/bug1886591-la-vache-noire.com-cookie-banner-fix.css
  testing/webcompat/interventions/tests/test_1886591_la-vache-noire_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1899066 - add a UA override for app.bookcreator.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1899066_app_bookcreator_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1899072 - add a UA override for passpoint.boingo.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  browser/extensions/webcompat/lib/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/lib/ua_overrides.js
  testing/webcompat/interventions/tests/test_1899072_passpoint_boingo_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1923286 - add a JS intervention for bing.com image search to fix clicking on external image links; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/js/bug1923286-bing.com-image-click-fix.js
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1923286-bing.com-image-click-fix.js
  testing/webcompat/interventions/tests/test_1923286_bing_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1899929 - add a UA override for selecionases.saude.pe.gov.br; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1899929_selecionases_saude_pe_gov_br.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1930429 - add ambrahealth.com to the list of sites for our InstallTrigger intervention; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  testing/webcompat/interventions/tests/test_1930429_19304291_wcinyp_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304292_jhhsimagesharing_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304293_cf_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304294_houseinstitute_ambrahealth_com.py
  testing/webcompat/interventions/tests/test_1930429_19304295_access_ambrahealth_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1930632 - add a UA override for support.hp.com; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/ua_overrides.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/ua_overrides.js
  testing/webcompat/interventions/tests/test_1930632_support_hp_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1930440 - add a JS invention for online.singaporepools.com to prevent a browser-unsupported alert; r=denschub,webcompat-reviewers
  browser/extensions/webcompat/data/injections.js
  browser/extensions/webcompat/injections/js/bug1930440-online.singaporepools.com-prevent-unsupported-alert.js
  browser/extensions/webcompat/moz.build
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/data/injections.js
  mobile/android/android-components/components/feature/webcompat/src/main/assets/extensions/webcompat/injections/js/bug1930440-online.singaporepools.com-prevent-unsupported-alert.js
  testing/webcompat/client.py
  testing/webcompat/interventions/tests/test_1930440_singaporepools_com.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1926831 - Remove animation of tab when dropped in blank tab space r=mconley
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1931507 - [devtools] Adapt toolbox border in High Contrast Mode. r=devtools-reviewers,ochameau.
  devtools/client/themes/splitters.css
Due: bugzilla-components, devtools-tests

Bug 1308435 - Make setting the value attribute of an AudioParam strictly equivalent of calling setValueAtTime with AudioContext.currentTime. r=karlt
  dom/media/webaudio/AudioEventTimeline.cpp
  dom/media/webaudio/AudioEventTimeline.h
  dom/media/webaudio/AudioParam.h
  dom/media/webaudio/AudioParamTimeline.h
  testing/web-platform/meta/webaudio/the-audio-api/the-analysernode-interface/test-analyser-resume-after-suspended.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-audioparam-interface/k-rate-connections.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-audioparam-interface/k-rate-constant-source.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-oscillatornode-interface/detune-limiting.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1794092 - Disable urlbarinterventions when actions are enabled. r=urlbar-reviewers,mak
  browser/components/urlbar/UrlbarProviderInterventions.sys.mjs
  browser/components/urlbar/tests/browser-tips/browser_interventions.js
  browser/components/urlbar/tests/engagementTelemetry/browser/browser_glean_telemetry_engagement_tips.js
  browser/components/urlbar/tests/unit/test_quickactions.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1920776 - Implement Smartblock embed unblocking for Instagram embeds. r=pbz,webcompat-reviewers,twisniewski,fluent-reviewers,desktop-theme-reviewers,extension-reviewers,emilio,robwu
  browser/base/content/browser-siteProtections.js
  browser/components/controlcenter/content/protectionsPanel.inc.xhtml
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/experiment-apis/trackingProtection.js
  browser/extensions/webcompat/experiment-apis/trackingProtection.json
  browser/extensions/webcompat/lib/shim_messaging_helper.js
  browser/extensions/webcompat/lib/shims.js
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/moz.build
  browser/extensions/webcompat/shims/instagram-embed.js
  browser/extensions/webcompat/shims/instagram.svg
  browser/locales/en-US/browser/protectionsPanel.ftl
  browser/themes/shared/controlcenter/panel.css
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1925638 - Add a pref to toggle smartblock functionality. r=pbz,twisniewski
  browser/app/profile/firefox.js
  browser/base/content/browser-siteProtections.js
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/lib/shims.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1892172 - Add smartblock tiktok embed shim.
  browser/base/content/browser-siteProtections.js
  browser/extensions/webcompat/data/shims.js
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/moz.build
  browser/extensions/webcompat/shims/tiktok-embed.js
  browser/extensions/webcompat/shims/tiktok.svg
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1931412: Don't hold test windows alive for cleanup. r=Standard8
  browser/components/tabbrowser/test/browser/tabs/browser_scroll_size_determination.js
  testing/mochitest/BrowserTestUtils/BrowserTestUtils.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm, mochitest-harness

Bug 1931817 - Fix missing host issue in periodic_file_updates.sh when cloning the repository. r=releng-reviewers,jcristau
  taskcluster/docker/periodic-updates/scripts/periodic_file_updates.sh
Due: bugzilla-components, shellcheck

Bug 1646248 - Return empty if download state filename is null r=android-reviewers,rsainani
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadNotification.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1646248 - Return empty if download state filename is null r=android-reviewers,rsainani, a=dmeehan
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/DownloadNotification.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1873432 - [devtools] Cleanup the use of parser worker for framework info r=devtools-reviewers,ochameau
  devtools/client/debugger/dist/parser-worker.js
  devtools/client/debugger/src/components/Editor/Tab.js
  devtools/client/debugger/src/components/shared/SourceIcon.js
  devtools/client/debugger/src/utils/editor/tests/source-documents.spec.js
  devtools/client/debugger/src/utils/quick-open.js
  devtools/client/debugger/src/utils/source.js
  devtools/client/debugger/src/workers/parser/frameworks.js
  devtools/client/debugger/src/workers/parser/getSymbols.js
  devtools/client/debugger/src/workers/parser/tests/__snapshots__/getSymbols.spec.js.snap
  devtools/client/debugger/src/workers/parser/tests/framework.spec.js
  devtools/client/debugger/src/workers/parser/utils/formatSymbols.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-source-tree.js
  devtools/client/debugger/test/mochitest/browser_dbg-react-app.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1465026 - Font properties are rounded in the inspector. r=jdescottes,devtools-reviewers The toFixed function in font utils now throws an error when the input is not a number
  devtools/client/inspector/fonts/components/FontPropertyValue.js
  devtools/client/inspector/fonts/utils/font-utils.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1932367 - Fix failing openCustomTabInFirefoxTest r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/CustomTabRobot.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset a4bbf81aefbb (bug 1914596) on request for causing Bug 1927838
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1931391 - Simplify ServiceWorkerRegistration.showNotification steps. r=saschanaz
  dom/notification/Notification.cpp
  dom/notification/test/mochitest/mochitest.toml
  dom/notification/test/mochitest/notification_empty_sw.js
  dom/notification/test/mochitest/notification_show_dedicated.js
  dom/notification/test/mochitest/test_notification_swr_worker_show.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1932268 - Update WPT metadata r=asuth
  testing/web-platform/meta/notifications/cross-origin-nested.tentative.https.sub.html.ini
Due: bugzilla-components, test-manifest

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
