Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1916221 - [wdspec] Fix continueResponse cookie test intermittent with flaky expiry date parsing r=baku,webdriver-reviewers,Sasha
  testing/web-platform/tests/webdriver/tests/bidi/network/__init__.py
  testing/web-platform/tests/webdriver/tests/bidi/network/continue_response/cookies.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1916947 - require tablet navigation CFR to depend on new navbar r=android-reviewers,skhan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenterTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1917156 - Implement RemoveAllClips for DrawTargetRecording. r=aosmond
  gfx/2d/DrawTargetRecording.cpp
  gfx/2d/DrawTargetRecording.h
  gfx/2d/RecordedEvent.cpp
  gfx/2d/RecordedEvent.h
  gfx/2d/RecordedEventImpl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1850746 - Part 4: Allow free arenas to be uninitialized r=sfink
  js/public/HeapAPI.h
  js/src/gc/Allocator.cpp
  js/src/gc/GC.cpp
  js/src/gc/Heap-inl.h
  js/src/gc/Heap.cpp
  js/src/gc/Heap.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1850746 - Part 5: Factor out conversion between arena and page indexes r=sfink
  js/src/gc/Allocator.cpp
  js/src/gc/Heap.cpp
  js/src/gc/Heap.h
  js/src/gc/Verifier.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917197 - Update dump_syms to version 2.3.4 r=afranchuk
  taskcluster/kinds/fetch/toolchains.yml
Due: bugzilla-components, yaml

Bug 1891335 - Compute EffectInfo updates at IntersectionObserver time. r=smaug,hiro
  dom/base/DOMIntersectionObserver.cpp
  dom/base/DOMIntersectionObserver.h
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/nsFrameLoader.cpp
  dom/base/test/test_bug1639328.html
  gfx/layers/wr/WebRenderUserData.cpp
  gfx/layers/wr/WebRenderUserData.h
  layout/base/PresShell.cpp
  layout/base/nsLayoutUtils.cpp
  layout/base/nsRefreshDriver.cpp
  layout/base/nsRefreshDriver.h
  layout/generic/nsSubDocumentFrame.cpp
  layout/generic/nsSubDocumentFrame.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1917157 - Remove the workaround for serializing large numbers from `skv::Value`. r=nanj
  toolkit/components/kvstore/Cargo.toml
  toolkit/components/kvstore/src/skv/value.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1888472 - Refactored webext-storage sync logic with uniffied component API calls r=markh,lina,extension-reviewers,sync-reviewers,robwu
  docs/writing-rust-code/xpcom.md
  modules/libpref/init/all.js
  services/sync/docs/engines.rst
  services/sync/docs/rust-engines.rst
  services/sync/golden_gate/src/ferry.rs
  services/sync/golden_gate/src/lib.rs
  services/sync/golden_gate/src/task.rs
  services/sync/modules/bridged_engine.sys.mjs
  services/sync/modules/engines/extension-storage.sys.mjs
  services/sync/tests/unit/test_bridged_engine.js
  services/sync/tests/unit/test_extension_storage_engine.js
  services/sync/tests/unit/test_extension_storage_engine_kinto.js
  services/sync/tests/unit/test_extension_storage_migration_telem.js
  services/sync/tests/unit/test_extension_storage_tracker_kinto.js
  services/sync/tests/unit/xpcshell.toml
  toolkit/components/extensions/ExtensionStorageSync.sys.mjs
  toolkit/components/extensions/ExtensionStorageSyncKinto.sys.mjs
  toolkit/components/extensions/docs/webext-storage.rst
  toolkit/components/extensions/storage/ExtensionStorageComponents.h
  toolkit/components/extensions/storage/ExtensionStorageComponents.sys.mjs
  toolkit/components/extensions/storage/components.conf
  toolkit/components/extensions/storage/moz.build
  toolkit/components/extensions/storage/mozIExtensionStorageArea.idl
  toolkit/components/extensions/storage/webext_storage_bridge/Cargo.toml
  toolkit/components/extensions/storage/webext_storage_bridge/src/area.rs
  toolkit/components/extensions/storage/webext_storage_bridge/src/error.rs
  toolkit/components/extensions/storage/webext_storage_bridge/src/lib.rs
  toolkit/components/extensions/storage/webext_storage_bridge/src/punt.rs
  toolkit/components/extensions/storage/webext_storage_bridge/src/store.rs
  toolkit/components/extensions/test/xpcshell/head_storage.js
  toolkit/components/extensions/test/xpcshell/head_sync.js
  toolkit/components/extensions/test/xpcshell/test_ExtensionStorageSync_migration_kinto.js
  toolkit/components/extensions/test/xpcshell/test_StorageSyncService.js
  toolkit/components/extensions/test/xpcshell/test_ext_storage_content_sync.js
  toolkit/components/extensions/test/xpcshell/test_ext_storage_content_sync_kinto.js
  toolkit/components/extensions/test/xpcshell/test_ext_storage_sync.js
  toolkit/components/extensions/test/xpcshell/test_ext_storage_sync_kinto.js
  toolkit/components/extensions/test/xpcshell/xpcshell.toml
  toolkit/library/rust/shared/Cargo.toml
  toolkit/library/rust/shared/lib.rs
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, rst, rustfmt, file-whitespace, file-perm

Bug 1888472 - Vendored A-S with webext-storage bridged engine logic r=lina
  .cargo/config.toml.in
  Cargo.lock
  Cargo.toml
  third_party/rust/webext-storage/.cargo-checksum.json
  third_party/rust/webext-storage/src/db.rs
  third_party/rust/webext-storage/src/error.rs
  third_party/rust/webext-storage/src/lib.rs
  third_party/rust/webext-storage/src/store.rs
  third_party/rust/webext-storage/src/sync/bridge.rs
  third_party/rust/webext-storage/src/sync/mod.rs
  third_party/rust/webext-storage/src/webext-storage.udl
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustWebextstorage.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/moz.build
  toolkit/components/uniffi-bindgen-gecko-js/config.toml
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustArithmetic.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustCustomTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustExternalTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustGeometry.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRefcounts.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRondpoint.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustSprites.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustTodolist.sys.mjs
  toolkit/components/uniffi-js/UniFFIFixtureScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1915608 - Update nsIClearDataService call in SiteDataManager to use CLEAR_COOKIES_AND_SITE_DATA flag. r=anti-tracking-reviewers,timhuang
  browser/modules/SiteDataManager.sys.mjs
Due: bugzilla-components

Bug 1917252 - Update NDK to r27b. r=geckoview-reviewers,calu
  python/mozboot/mozboot/android.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozbuild

Bug 1916008 - Add ToString() for CreateDecoderParams r=media-playback-reviewers,padenot
  dom/media/platforms/PlatformDecoderModule.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916008 - Log CreateDecoderParams in MediaChangeMonitor r=media-playback-reviewers,padenot
  dom/media/platforms/wrappers/MediaChangeMonitor.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916008 - Remove unused parameters in AudioTrimmer r=media-playback-reviewers,padenot
  dom/media/platforms/PDMFactory.cpp
  dom/media/platforms/wrappers/AudioTrimmer.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916008 - Separate signal handling for AudioTrimmer and MediaChangeMonitor creation r=media-playback-reviewers,padenot
  dom/media/ipc/RemoteAudioDecoder.cpp
  dom/media/ipc/RemoteVideoDecoder.cpp
  dom/media/platforms/PDMFactory.cpp
  dom/media/platforms/PlatformDecoderModule.cpp
  dom/media/platforms/PlatformDecoderModule.h
  dom/media/platforms/wrappers/MediaChangeMonitor.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916008 - Init mEncryptedCustomIdent in CreateDecoderParams r=media-playback-reviewers,padenot
  dom/media/platforms/PlatformDecoderModule.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1790516 - Default desktop mode for tablets r=geckoview-reviewers,android-reviewers,owlish,007
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/BrowserStateReducer.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/BrowserState.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/store/BrowserStoreTest.kt
  mobile/android/android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/TabsUseCases.kt
  mobile/android/android-components/docs/changelog.md
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/rule/GeckoSessionTestRule.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSessionSettings.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell, eslint, license, file-perm

No bug - Tagging 6a3729b92a03cef24b1dae995c9184cb874c16ac with DEVEDITION_131_0b3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

No bug - Tagging 6a3729b92a03cef24b1dae995c9184cb874c16ac with FIREFOX_131_0b3_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1750820 - webgl.out-of-process=true by default for CI. r=taskgraph-reviewers,perftest-reviewers,jmaher,fbilt
  taskcluster/kinds/test/mochitest.yml
  taskcluster/kinds/test/talos.yml
  taskcluster/kinds/test/variants.yml
  testing/talos/talos/run_tests.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace

Bug 1908415 - fire DOM events on tab group create, delete, group, ungroup. r=dao,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1862537 - Add test for initial load with app redirect url r=android-reviewers,harrisono
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1862537 - Do not try to go back when it's a initial load r=android-reviewers,harrisono
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1862537 - Do not try to go back when it's a initial load r=android-reviewers,harrisono, a=dsmith
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1916847 - Remove code that is related to the old config in AddonSearchEngine, SearchEngine, and SearchService. r=Standard8.
  toolkit/components/search/AddonSearchEngine.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/SearchService.sys.mjs
Due: bugzilla-components

Bug 1916539 - Add prefs, region/locale and nimbus controls r=home-newtab-reviewers,thecount
  browser/app/profile/firefox.js
  browser/components/newtab/lib/ActivityStream.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm, newtab-unit-tests

Bug 1917102: Update serde and serde_derive to 1.0.209. r=supply-chain-reviewers,webgpu-reviewers,nical
  Cargo.lock
  supply-chain/imports.lock
  third_party/rust/serde/.cargo-checksum.json
  third_party/rust/serde/Cargo.toml
  third_party/rust/serde/src/lib.rs
  third_party/rust/serde/src/private/de.rs
  third_party/rust/serde_derive/.cargo-checksum.json
  third_party/rust/serde_derive/Cargo.toml
  third_party/rust/serde_derive/src/lib.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Backed out 5 changesets (bug 1915798, bug 1904665) for causing failures pointer_mouse_drag.py
  remote/jar.mn
  remote/marionette/actors/MarionetteCommandsChild.sys.mjs
  remote/marionette/actors/MarionetteCommandsParent.sys.mjs
  remote/shared/AsyncQueue.sys.mjs
  remote/shared/test/xpcshell/test_AsyncQueue.js
  remote/shared/test/xpcshell/xpcshell.toml
  remote/shared/webdriver/Actions.sys.mjs
  remote/shared/webdriver/Event.sys.mjs
  remote/shared/webdriver/test/xpcshell/test_Actions.js
  remote/webdriver-bidi/modules/root/input.sys.mjs
  remote/webdriver-bidi/modules/windowglobal/input.sys.mjs
  testing/web-platform/meta/webdriver/tests/classic/perform_actions/pointer_pen.py.ini
  testing/web-platform/tests/webdriver/tests/bidi/input/__init__.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_pen.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/pointer_touch.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/queue.py
  testing/web-platform/tests/webdriver/tests/bidi/input/perform_actions/wheel.py
  testing/web-platform/tests/webdriver/tests/bidi/input/release_actions/queue.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_mouse.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_pen.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/pointer_touch.py
  testing/web-platform/tests/webdriver/tests/classic/perform_actions/wheel.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1872744: Clean up DNSRequestSender::Cancel r=necko-reviewers,valentin
  netwerk/dns/DNSRequestChild.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910910 - mailto: telemetry for dismiss buttons, r=nalexander
  browser/components/protocolhandler/WebProtocolHandlerRegistrar.sys.mjs
  browser/components/tests/browser/browser_default_webprotocol_handler_mailto.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1902106 - Create the Compose Bookmarks add folder screen r=android-reviewers,boek
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/ui/BookmarksScreen.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1916544: Install latest version of hg-evolve based on tags r=sheehan
  taskcluster/docker/updatebot/run.py
  taskcluster/docker/updatebot/setup.sh
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, shellcheck, file-whitespace, taskgraph-tests

Bug 1911750 - Disable layers.acceleration.force-enabled on Android r=jnicol
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1914862 - Add a TELEMETRY profiler cateogry, r=canaltinova,profiler-reviewers,aabh.
  mozglue/baseprofiler/build/profiling_categories.yaml
  toolkit/components/telemetry/core/Stopwatch.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm
