Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1930458 - Always consume user activation when opending a new window; r=smaug
  dom/base/nsGlobalWindowOuter.cpp
  dom/base/test/useractivation/mochitest.toml
  dom/base/test/useractivation/test_useractivation_open_new_window.html
  testing/web-platform/meta/fetch/metadata/generated/form-submission.https.sub.html.ini
  testing/web-platform/meta/html/browsers/windows/consume-user-activation/window-open.html.ini
  testing/web-platform/meta/html/semantics/forms/form-submission-target/form-target-blank-useractivation-multi-globals.html.ini
  testing/web-platform/meta/html/semantics/forms/form-submission-target/form-target-blank-useractivation.html.ini
  testing/web-platform/meta/html/semantics/links/links-created-by-a-and-area-elements/target_blank_useractivation.html.ini
  testing/web-platform/meta/html/semantics/links/links-created-by-a-and-area-elements/target_blank_useractivation_multi_globals.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/scroll-to-text-fragment-security.sub.html.ini
  testing/web-platform/tests/html/browsers/windows/consume-user-activation/window-open.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1933544 - Update to moz.l10n 0.5.6. r=eemeli,mach-reviewers,ahal
  third_party/python/moz.l10n/moz.l10n-0.5.6.dist-info/LICENSE
  third_party/python/moz.l10n/moz.l10n-0.5.6.dist-info/METADATA
  third_party/python/moz.l10n/moz.l10n-0.5.6.dist-info/RECORD
  third_party/python/moz.l10n/moz.l10n-0.5.6.dist-info/WHEEL
  third_party/python/moz.l10n/moz.l10n-0.5.6.dist-info/entry_points.txt
  third_party/python/moz.l10n/moz.l10n-0.5.6.dist-info/top_level.txt
  third_party/python/moz.l10n/moz/l10n/paths/config.py
  third_party/python/requirements.txt
  third_party/python/uv.lock
  third_party/python/uv.lock.hash
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1935026 - Ensure we are using the right scroll position for vertical pinned tabs r=tabbrowser-reviewers,dao
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1934695 - Vendor libwebrtc from 346cf7c4e5
  third_party/libwebrtc/BUILD.gn
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0054.patch
  third_party/libwebrtc/moz-patch-stack/0066.patch
  third_party/libwebrtc/moz-patch-stack/0101.patch
  third_party/libwebrtc/moz-patch-stack/0110.patch
  third_party/libwebrtc/moz-patch-stack/0131.patch
  third_party/libwebrtc/moz-patch-stack/0137.patch
  third_party/libwebrtc/moz-patch-stack/0141.patch
  third_party/libwebrtc/video/corruption_detection/BUILD.gn
  third_party/libwebrtc/video/corruption_detection/frame_pair_corruption_score.cc
  third_party/libwebrtc/video/corruption_detection/frame_pair_corruption_score.h
  third_party/libwebrtc/video/corruption_detection/frame_pair_corruption_score_unittest.cc
  third_party/libwebrtc/video/corruption_detection/utils.cc
  third_party/libwebrtc/video/corruption_detection/utils.h
  third_party/libwebrtc/video/corruption_detection/utils_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920998 - Try to work around macOS panel positioning bug. r=desktop-theme-reviewers,dao a=pascalc
  toolkit/themes/shared/popup.css
Due: bugzilla-components

Bug 1920998 - Try to work around macOS panel positioning bug. r=desktop-theme-reviewers,dao a=RyanVM
  toolkit/themes/shared/popup.css
Due: bugzilla-components

Bug 1920998 - Try to work around macOS panel positioning bug. r=desktop-theme-reviewers,dao
  toolkit/themes/shared/popup.css
Due: bugzilla-components

Bug 1934117 - P1. Delete an existing password in contextual password manager. r=mtigley,fluent-reviewers,desktop-theme-reviewers,credential-management-reviewers,dao
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/content/LoginFormComponent/login-form.css
  toolkit/components/satchel/megalist/content/LoginFormComponent/login-form.mjs
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/NotificationMessageBar.mjs
  toolkit/components/satchel/megalist/content/megalist.ftl
Due: bugzilla-components, codespell

Bug 1934117 - P2. Test deleting an existing password in contextual password manager. r=mtigley,credential-management-reviewers,fluent-reviewers
  toolkit/components/satchel/megalist/content/LoginFormComponent/login-form.mjs
  toolkit/components/satchel/megalist/content/megalist.ftl
  toolkit/components/satchel/megalist/content/tests/browser/browser.toml
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_delete_login.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_sidebar.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_update_login.js
  toolkit/components/satchel/megalist/content/tests/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1934490 - Don't schedule android-hw tests in os-integration cron, r=jmaher
  taskcluster/kinds/test/variants.yml
Due: bugzilla-components, yaml

Bug 1933308 - Use correct object directory in mach xpcshell r=ahochheiden
  js/xpconnect/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1928107 - Add a targeting context ping to Nimbus r=chumphreys,TravisLong,ahochheiden
  taskcluster/kinds/source-test/python.yml
  toolkit/components/glean/metrics_index.py
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/TargetingContextRecorder.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/moz.build
  toolkit/components/nimbus/pings.yaml
  toolkit/components/nimbus/test/python/dump-targeting-context.js
  toolkit/components/nimbus/test/python/python.toml
  toolkit/components/nimbus/test/python/test_targeting_context_metrics.py
  toolkit/components/nimbus/test/unit/test_TargetingContextRecorder.js
  toolkit/components/nimbus/test/unit/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1933764 - [devtools] Prevent reset breakpoint disable on page reload. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/actions/breakpoints/index.js
  devtools/client/debugger/src/actions/breakpoints/modify.js
  devtools/client/debugger/src/actions/pause/continueToHere.js
  devtools/client/debugger/src/components/Editor/ColumnBreakpoint.js
  devtools/client/debugger/src/components/Editor/ColumnBreakpoints.js
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoint-skipping.js
  devtools/client/debugger/test/mochitest/browser_dbg-worker-scopes.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1934636 - Revise Variant B breakpoints so logo doesn't overlap top sites when Sections are enabled r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/Base/_Base.scss
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSThumbsUpDownButtons/_DSThumbsUpDownButtons.scss
  browser/components/newtab/content-src/components/Search/_Search.scss
  browser/components/newtab/content-src/components/Weather/_Weather.scss
  browser/components/newtab/css/activity-stream.css
Due: bugzilla-components, newtab-unit-tests

Bug 1934682 - Fix top sites row wrapping issue when both Sections and Variant A/B are enabled r=home-newtab-reviewers,nbarrett
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardSections/_CardSections.scss
  browser/components/newtab/css/activity-stream.css
Due: bugzilla-components, newtab-unit-tests

Backed out 2 changesets (bug 1928107, bug 1933308) for causing python Nimbus failures. CLOSED TREE
  js/xpconnect/mach_commands.py
  taskcluster/kinds/source-test/python.yml
  toolkit/components/glean/metrics_index.py
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/TargetingContextRecorder.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/moz.build
  toolkit/components/nimbus/pings.yaml
  toolkit/components/nimbus/test/python/dump-targeting-context.js
  toolkit/components/nimbus/test/python/python.toml
  toolkit/components/nimbus/test/python/test_targeting_context_metrics.py
  toolkit/components/nimbus/test/unit/test_TargetingContextRecorder.js
  toolkit/components/nimbus/test/unit/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1927562 - Add profiles menu item and subpanel to FxA toolbar button menu. r=niklas
  browser/base/content/appmenu-viewcache.inc.xhtml
  browser/base/content/browser-profiles.js
  browser/themes/shared/customizableui/panelUI-shared.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928501 - change learn more link position when input description is present r=reusable-components-reviewers,mstriemer
  toolkit/content/tests/widgets/chrome.toml
  toolkit/content/tests/widgets/input-test-helpers.js
  toolkit/content/widgets/lit-utils.mjs
  toolkit/content/widgets/moz-checkbox/moz-checkbox.stories.mjs
  toolkit/content/widgets/moz-input-common.css
  toolkit/content/widgets/moz-radio-group/moz-radio-group.stories.mjs
  toolkit/content/widgets/moz-select/moz-select.stories.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1928501 - Part 2: Reorganize input-common CSS for clarity r=reusable-components-reviewers,mstriemer
  toolkit/content/widgets/moz-input-common.css
Due: bugzilla-components

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/addons/src/main/res/values-rm/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sat/strings.xml
  mobile/android/fenix/app/src/main/res/values-rm/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1932961 - document ownership semantics of custom transferables r=aosmond
  js/public/StructuredClone.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1932751 - Fix logic in SlotsEdge::overlaps and rename to ::touches r=yury
  js/src/gc/StoreBuffer.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 877537 - Verify that on-stack Cell*[] arrays are checked r=bthrall
  js/src/devtools/rootAnalysis/t/hazards/source.cpp
  js/src/devtools/rootAnalysis/t/hazards/test.py
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1899090 - Part 1: Add InitialStencilAndDelazifications struct. r=nbp
  js/src/frontend/CompilationStencil.h
  js/src/frontend/Stencil.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1899090 - Part 2: Rebuild the incremental encoding with InitialStencilAndDelazifications. r=nbp
  dom/script/ModuleLoader.cpp
  dom/script/ScriptLoader.cpp
  js/public/experimental/JSStencil.h
  js/src/frontend/BytecodeCompiler.cpp
  js/src/frontend/CompilationStencil.h
  js/src/frontend/StencilXdr.cpp
  js/src/jit-test/tests/xdr/asm.js
  js/src/jsapi.cpp
  js/src/shell/js.cpp
  js/src/vm/CompilationAndEvaluation.cpp
  js/src/vm/JSScript.cpp
  js/src/vm/JSScript.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1899090 - Part 3: Stop using JS::DuplicateStencil in ScriptLoader. r=nbp
  dom/script/ScriptLoader.cpp
  dom/script/ScriptLoader.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
