Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1901355 - Make it possible to start http3Server on demand, r=necko-reviewers,valentin
  netwerk/test/unit/head_http3.js
  netwerk/test/unit/head_servers.js
  netwerk/test/unit/test_http3_alt_svc.js
  netwerk/test/unit/test_tls13_disabled.js
  netwerk/test/unit/xpcshell.toml
  testing/xpcshell/moz-http2/moz-http2.js
  testing/xpcshell/runxpcshelltests.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1901491: part 4) Add more CSPParser tests for the `trusted-types` CSP directive. r=tschuster
  dom/security/test/gtest/TestCSPParser.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1876513 - Address bar should not prefix URIs that will be handled by schemeless HTTPS-First. r=daleharvey
  browser/components/urlbar/UrlbarProviderHeuristicFallback.sys.mjs
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/tests/browser/browser_paste_multi_lines.js
  browser/components/urlbar/tests/browser/browser_view_resultDisplay.js
  browser/components/urlbar/tests/unit/test_autofill_do_not_trim.js
  browser/components/urlbar/tests/unit/test_autofill_origins.js
  browser/components/urlbar/tests/unit/test_autofill_originsAndQueries.js
  browser/components/urlbar/tests/unit/test_autofill_urls.js
  browser/components/urlbar/tests/unit/test_history_bookmark_results_on_search_service_failure.js
  browser/components/urlbar/tests/unit/test_providerHeuristicFallback.js
  browser/components/urlbar/tests/unit/test_search_suggestions.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1903679 - Simplify antialiasing code r=emilio
  layout/svg/SVGGeometryFrame.cpp
  layout/svg/SVGTextFrame.cpp
  layout/svg/SVGUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out 2 changesets (bug 1883954) for causing mochitests failures in browser_schemeless.js. CLOSED TREE
  docshell/base/nsDocShellLoadState.cpp
  docshell/base/nsDocShellLoadState.h
  dom/ipc/DOMTypes.ipdlh
  dom/ipc/WindowGlobalParent.cpp
  dom/security/DomSecurityIPCUtils.h
  dom/security/moz.build
  dom/security/nsHTTPSOnlyUtils.cpp
  dom/security/test/https-first/browser.toml
  dom/security/test/https-first/browser_https_telemetry.js
  dom/security/test/https-first/file_https_telemetry_hsts.sjs
  dom/security/test/https-first/file_no_https_support.sjs
  ipc/glue/BackgroundUtils.cpp
  netwerk/base/LoadInfo.cpp
  netwerk/base/LoadInfo.h
  netwerk/base/TRRLoadInfo.cpp
  netwerk/base/nsILoadInfo.idl
  netwerk/base/nsNetUtil.cpp
  netwerk/ipc/DocumentLoadListener.cpp
  netwerk/ipc/NeckoChannelParams.ipdlh
  netwerk/metrics.yaml
  netwerk/protocol/http/nsHttpChannel.cpp
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1903572: Make SERVER_ROOT an absolute path. r=chutten
  toolkit/components/telemetry/tests/integration/tests/conftest.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1843325 - [devtools] Keep Scopes and Project Search panel focused node when tree is blurred. r=devtools-reviewers,ochameau.
  devtools/client/debugger/src/components/PrimaryPanes/ProjectSearch.js
  devtools/client/debugger/src/components/SecondaryPanes/Scopes.js
  devtools/client/shared/components/object-inspector/components/ObjectInspector.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1745149 - Remove SVGPathSeg APIs and related code. r=longsonr,boris,webidl,devtools-reviewers,smaug,nchevobbe
  devtools/client/inspector/animation/test/browser.toml
  devtools/client/inspector/animation/test/head.js
  dom/bindings/Bindings.conf
  dom/svg/DOMSVGPathSeg.cpp
  dom/svg/DOMSVGPathSeg.h
  dom/svg/DOMSVGPathSegList.cpp
  dom/svg/DOMSVGPathSegList.h
  dom/svg/SVGAnimatedPathSegList.cpp
  dom/svg/SVGPathData.cpp
  dom/svg/SVGPathDataParser.cpp
  dom/svg/SVGPathElement.cpp
  dom/svg/SVGPathElement.h
  dom/svg/SVGPathSegListSMILType.cpp
  dom/svg/SVGPathSegUtils.cpp
  dom/svg/SVGPathSegUtils.h
  dom/svg/crashtests/crashtests.list
  dom/svg/moz.build
  dom/svg/test/mochitest.toml
  dom/svg/test/test_getPathSegListAtLength_with_d_property.html
  dom/tests/mochitest/general/mochitest.toml
  dom/webidl/SVGAnimatedPathData.webidl
  dom/webidl/SVGPathElement.webidl
  dom/webidl/SVGPathSeg.webidl
  dom/webidl/SVGPathSegList.webidl
  dom/webidl/moz.build
  layout/style/ServoBindings.toml
  modules/libpref/init/StaticPrefList.yaml
  servo/components/style/values/specified/svg_path.rs
  testing/web-platform/meta/svg/animations/__dir__.ini
  testing/web-platform/meta/svg/path/interfaces/SVGAnimatedPathData-removed.svg.ini
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, yaml, rustfmt, file-whitespace, file-perm, devtools-tests

Bug 1900742 - [devtools] Cleanup and make sure line content marker is set on component mount r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/DebugLine.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1902005 - [devtools] Fix showing the exception marking on initial component load r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/Exceptions.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1888756, part 1 - Text Fragments: Introduce `textDirectiveUserActivation` flag. r=edgar,dom-core
  docshell/base/nsDocShellLoadState.cpp
  docshell/base/nsDocShellLoadState.h
  dom/ipc/DOMTypes.ipdlh
  ipc/glue/BackgroundUtils.cpp
  netwerk/base/LoadInfo.cpp
  netwerk/base/LoadInfo.h
  netwerk/base/TRRLoadInfo.cpp
  netwerk/base/nsILoadInfo.idl
  netwerk/ipc/NeckoChannelParams.ipdlh
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888756, part 3 - Text Fragments: Add a flag in the `DocShell` to keep the information if a load was same-document. r=farre,dom-core,edgar
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888756, part 2 - Text Fragments: Implement setting the `textDirectiveUserActivation` flag in the document loading algorithm. r=edgar,dom-core
  docshell/base/nsDocShell.cpp
  docshell/shistory/nsSHEntry.cpp
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/LocationBase.cpp
  dom/html/HTMLFormElement.cpp
  netwerk/ipc/DocumentLoadListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888756, part 5 - Text Fragments: Implemented user activation. r=edgar,dom-core
  docshell/base/nsDocShell.cpp
  dom/base/Document.cpp
  dom/base/FragmentDirective.cpp
  dom/base/FragmentDirective.h
  testing/web-platform/meta/scroll-to-text-fragment/iframes.sub.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/non-html-documents.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/redirects.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/scroll-to-text-fragment-security.sub.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1888756, part 4 - Text Fragments: Add more logging to parsing/stripping the fragment directive. r=dom-core,edgar
  docshell/base/nsDocShell.cpp
  dom/base/FragmentDirective.cpp
  dom/base/FragmentDirective.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888756, part 7 - Text Fragments: Tentatively allow tests to fail when fission is not enabled. r=edgar,dom-core
  testing/web-platform/meta/scroll-to-text-fragment/find-range-from-text-directive.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/force-load-at-top.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/redirects.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/scroll-to-text-fragment-after-DOMContentLoaded.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/scroll-to-text-fragment-security.sub.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/scroll-to-text-fragment.html.ini
Due: bugzilla-components, test-manifest

Bug 1888756, part 6 - Text Fragments: Changed order of tests in non-html-documents.html. r=dom-core,edgar
  testing/web-platform/meta/scroll-to-text-fragment/non-html-documents.html.ini
  testing/web-platform/tests/scroll-to-text-fragment/non-html-documents.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm

Bug 1889444 - Add BTP purge Glean event. r=anti-tracking-reviewers,manuel,data-stewards
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.cpp
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.h
  toolkit/components/antitracking/bouncetrackingprotection/metrics.yaml
  toolkit/components/antitracking/bouncetrackingprotection/pings.yaml
  toolkit/components/glean/metrics_index.py
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1889444 - Submit BTP custom ping on idle-daily. r=anti-tracking-reviewers,manuel
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.h
  toolkit/components/antitracking/bouncetrackingprotection/components.conf
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1889444 - Tests, r=anti-tracking-reviewers,manuel
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser.toml
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser_bouncetracking_telemetry_purge_events.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1903575 - Undefine STRICT for ServoStyleConsts.h after the included headers. r=layout-reviewers,emilio
  servo/ports/geckolib/cbindgen.toml
Due: bugzilla-components

Bug 1903352 - SVG attribute values should not be zoomed r=emilio
  dom/svg/SVGAnimatedLength.cpp
  dom/svg/SVGAnimatedLength.h
  dom/svg/SVGElement.cpp
  dom/svg/SVGLength.cpp
  dom/svg/SVGLength.h
  dom/svg/SVGMarkerElement.cpp
  dom/svg/SVGSVGElement.cpp
  dom/svg/SVGViewportElement.cpp
  dom/svg/test/test_length.xhtml
  layout/svg/SVGGradientFrame.cpp
  layout/svg/SVGOuterSVGFrame.cpp
  layout/svg/SVGPatternFrame.cpp
  layout/svg/SVGTextFrame.cpp
  layout/svg/SVGUtils.cpp
  testing/web-platform/tests/svg/types/scripted/SVGLength-zoom.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1901043 - Revert to the pre-1.18.0 version of _cairo_surface_to_cgimage() and cairo_quartz_image_surface code. r=gfx-reviewers,lsalzman
  gfx/cairo/cairo/src/cairo-quartz-image-surface.c
  gfx/cairo/cairo/src/cairo-quartz-private.h
  gfx/cairo/cairo/src/cairo-quartz-surface.c
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1890706 - Implement default toJSON for GeolocationCoordinates and GeolocationPosition and add a web platform test; r=saschanaz,webidl,smaug
  dom/webidl/GeolocationCoordinates.webidl
  dom/webidl/GeolocationPosition.webidl
  testing/web-platform/meta/geolocation/idlharness.https.window.js.ini
  testing/web-platform/tests/geolocation/tojson.https.window.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm

Bug 1897783 - Fix incorrect rounding in software rendering of feColorMatrix. r=longsonr
  gfx/2d/FilterProcessingSIMD-inl.h
  layout/reftests/svg/filters/svg-filter-chains/reftest.list
  testing/web-platform/meta/css/filter-effects/svg-image-root-filter.html.ini
  testing/web-platform/meta/css/filter-effects/svg-multiple-filter-functions.html.ini
  testing/web-platform/meta/css/filter-effects/svg-mutation-single-to-multiple-002.html.ini
  testing/web-platform/tests/css/filter-effects/fecolormatrix-negative-ref.html
  testing/web-platform/tests/css/filter-effects/fecolormatrix-negative.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1888878 - Remove obsolete comment; r=dom-storage-reviewers,asuth
  dom/indexedDB/IndexedDatabaseManager.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888878 - Extract CreatePromise to PromiseUtils.h; r=dom-storage-reviewers,asuth
  dom/localstorage/LocalStorageManager2.cpp
  dom/quota/PromiseUtils.cpp
  dom/quota/PromiseUtils.h
  dom/quota/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888878 - Extract background actor creation into a separate function; r=dom-storage-reviewers,asuth
  dom/indexedDB/IndexedDatabaseManager.cpp
  dom/indexedDB/IndexedDatabaseManager.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888878 - Extract ResolveBoolResponseAndReturn to ErrorHandling.h; r=dom-storage-reviewers,asuth
  dom/quota/ErrorHandling.h
  dom/quota/QuotaParent.cpp
  dom/quota/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903541 - Move .notification-anchor-icon and .blocked-permission-icon rules into notification-icons.css. r=desktop-theme-reviewers,emilio
  browser/base/content/browser.css
  browser/themes/shared/notification-icons.css
Due: bugzilla-components

Backed out changeset 031c8a5d110b (bug 1903352) as requested for causing android failures. CLOSED TREE
  dom/svg/SVGAnimatedLength.cpp
  dom/svg/SVGAnimatedLength.h
  dom/svg/SVGElement.cpp
  dom/svg/SVGLength.cpp
  dom/svg/SVGLength.h
  dom/svg/SVGMarkerElement.cpp
  dom/svg/SVGSVGElement.cpp
  dom/svg/SVGViewportElement.cpp
  dom/svg/test/test_length.xhtml
  layout/svg/SVGGradientFrame.cpp
  layout/svg/SVGOuterSVGFrame.cpp
  layout/svg/SVGPatternFrame.cpp
  layout/svg/SVGTextFrame.cpp
  layout/svg/SVGUtils.cpp
  testing/web-platform/tests/svg/types/scripted/SVGLength-zoom.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1897142 - Update Search Config tests. r=mkaply
  browser/components/search/test/browser/browser_searchEngine_behaviors.js
  toolkit/components/search/tests/xpcshell/searchconfigs/test_bing.js
  toolkit/components/search/tests/xpcshell/searchconfigs/test_selector_db_out_of_date.js
Due: bugzilla-components, codespell, eslint, license, file-perm

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes - r=release-managers,dmeehan
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/search-config-v2.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902184 - Remove metrics expiring in Firefox 130: network.data_size_p* r=necko-reviewers,kershaw
  netwerk/protocol/http/metrics.yaml
  netwerk/protocol/http/nsHttpChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1902184 - Remove probes expiring in Firefox 130: networking.data_transferred_p* r=necko-reviewers,kershaw
  toolkit/components/telemetry/Scalars.yaml
Due: bugzilla-components, yaml

Bug 1900807 - Remove alerting for standard deviation for android startup tests. r=perftest-reviewers,sparky
  python/mozperftest/mozperftest/system/android_startup.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1901965 - Replace include jsconfdefs.h by mozilla-config.h when not in standalone r=glandium
  js/src/old-configure.in
Due: bugzilla-components

Bug 1903315 - Update cubeb-coreaudio-rs to revision 6d84f4638. r=cubeb-reviewers,pehrsons
  .cargo/config.toml.in
  Cargo.lock
  third_party/rust/cubeb-coreaudio/.cargo-checksum.json
  third_party/rust/cubeb-coreaudio/src/backend/mod.rs
  toolkit/library/rust/shared/Cargo.toml
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1873196 - [webdriver-bidi] Close all open tabs by skipping beforeunload prompts when running "browser.close" command. r=webdriver-reviewers,Sasha
  remote/shared/TabManager.sys.mjs
  remote/shared/test/browser/browser_TabManager.js
  remote/shared/test/xpcshell/test_TabManager.js
  remote/shared/test/xpcshell/xpcshell.toml
  remote/webdriver-bidi/modules/root/browser.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1873196 - [wdspec] Add bidi-only test for "browser.close" with skipping beforeunload prompt. r=webdriver-reviewers,Sasha
  testing/web-platform/mozilla/tests/webdriver/bidi/browser/close/close.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace
