Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1927107 - Remove blocklist.* legacy telemetry scalars that already have a Glean equivalent, r=rpl.
  toolkit/components/telemetry/Scalars.yaml
  toolkit/mozapps/extensions/Blocklist.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_blocklist_mlbf_telemetry.js
  toolkit/mozapps/extensions/test/xpcshell/rs-blocklist/test_blocklist_telemetry.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Backed out changeset 8a0841b94c89 (bug 1927734) for causing lint failures. CLOSED TREE
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/BrowsingErrorPagesTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/DownloadTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NoNetworkAccessStartupTests.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsDeleteBrowsingDataOnQuitTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsPrivacyTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/WebControlsTest.kt
  mobile/android/fenix/automation/taskcluster/androidTest/flank-arm64-v8a.yml
  taskcluster/kinds/ui-test-apk/kind.yml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1927406 - Update Owner and Peer of Toolkit::PasswordManager r=zeid
  mots.yaml
Due: bugzilla-components, yaml

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1928074: Fix testing recovery from pre-67 profiles.ini and the case where there is no toolkit profile. r=jhirsch"
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/unit/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1927706 - Part 1: Remove ICU patch files. r=platform-i18n-reviewers,gregtatum
  intl/icu-patches/bug-1814862-ICU-22260.diff
  intl/icu-patches/bug-1838173-ICU-22412-start-time-iso8601.diff
  intl/icu-patches/bug-1856291-ICU-22526-calendar-timezone-offset-limit.diff
  intl/icu-patches/bug-1856428-ICU-22541.diff
  intl/update-icu.sh
Due: bugzilla-components, shellcheck

Bug 1927706 - Part 2: Update ICU patch files. r=platform-i18n-reviewers,gregtatum
  intl/icu-patches/bug-1198952-workaround-make-3.82-bug.diff
  intl/icu-patches/bug-1614941-dsb-hsb-dates.diff
  intl/icu-patches/bug-1636984-append-item-dayperiod-fractional-seconds.diff
  intl/icu-patches/bug-1636984-display-name-fractional-seconds.diff
  intl/icu-patches/bug-1706949-wasi-workaround.diff
  intl/icu-patches/suppress-warnings.diff
Due: bugzilla-components

Bug 1927706 - Part 3: Disable MessageFormat2 feature. r=platform-i18n-reviewers,gregtatum
  config/external/icu/defs.mozbuild
  intl/icu_sources_data.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1927706 - Part 4: Update UNUSED_SOURCE. r=platform-i18n-reviewers,gregtatum
  intl/icu_sources_data.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1786451 - Part 2: Remove unused protection parameter to page allocation functions r=sfink
  js/src/gc/Memory.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1786451 - Part 1: Export MozVirtualAlloc as part of the jemalloc API r=glandium
  memory/build/mozjemalloc.cpp
  memory/build/mozmemory_utils.h
  memory/build/mozmemory_wrap.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1786451 - Part 4: Stall and retry on failure when allocating chunks in GC r=sfink
  js/src/gc/Allocator.cpp
  js/src/gc/ArenaList.h
  js/src/gc/GCRuntime.h
  js/src/gc/Heap.h
  js/src/gc/Nursery.cpp
  js/src/jsapi-tests/testGCChunkPool.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1786451 - Part 3: Add a parameter to MapAlignedPages to allow stall and retry on failure r=sfink
  config/check_spidermonkey_style.py
  js/src/gc/Memory.cpp
  js/src/gc/Memory.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1928119 - Update triage owner rotation to include Jeremy and Stephen. r=tabbrowser-reviewers,mak
  browser/components/tabbrowser/triage.json
Due: bugzilla-components

Bug 1928074 - Fix lint failure @ SelectableProfileService.sys.mjs r=fix CLOSED TREE
  browser/components/profiles/SelectableProfileService.sys.mjs
Due: bugzilla-components

Bug 1926435 - Fix press escape revert address bar after clear. r=dao,urlbar-reviewers,mak
  browser/components/urlbar/UrlbarController.sys.mjs
  browser/components/urlbar/tests/browser/browser_focusContentDocumentEsc.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1927706 - Part 6: Update language tag mappings. r=platform-i18n-reviewers,gregtatum
  intl/components/src/LocaleGenerated.cpp
  js/src/builtin/intl/make_intl_data.py
  js/src/tests/non262/Intl/Locale/likely-subtags-generated.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1927706 - Part 7: Update numbering and measurement units. r=spidermonkey-reviewers,mgaudet
  js/src/builtin/intl/NumberingSystems.yaml
  js/src/builtin/intl/NumberingSystemsGenerated.h
  js/src/tests/non262/Intl/NumberFormat/unit-well-formed.js
  js/src/tests/non262/Intl/shell.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1927706 - Part 8: Update SpiderMonkey to Unicode 16.0. r=spidermonkey-reviewers,mgaudet
  js/src/tests/non262/RegExp/character-class-escape-s.js
  js/src/tests/non262/RegExp/unicode-ignoreCase.js
  js/src/tests/non262/String/string-code-point-upper-lower-mapping.js
  js/src/tests/non262/String/string-space-trim.js
  js/src/tests/non262/String/string-upper-lower-mapping.js
  js/src/util/CaseFolding.txt
  js/src/util/DerivedCoreProperties.txt
  js/src/util/SpecialCasing.txt
  js/src/util/Unicode.cpp
  js/src/util/UnicodeData.txt
  js/src/util/UnicodeNonBMP.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1927706 - Part 10: Add new line break classes. r=platform-i18n-reviewers,gregtatum
  intl/lwbrk/LineBreaker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1927706 - Part 9: Update Gecko to Unicode 16.0. r=platform-i18n-reviewers,gregtatum
  intl/components/src/UnicodeScriptCodes.h
  intl/locale/cldr-quotes.inc
  intl/locale/cldr-quotes.pl
  intl/unicharutil/util/nsSpecialCasingData.cpp
  intl/unicharutil/util/nsUnicodePropertyData.cpp
  layout/reftests/text-transform/all-lower-ref.html
  layout/reftests/text-transform/all-lower.html
  layout/reftests/text-transform/all-title-ref.html
  layout/reftests/text-transform/all-title.html
  layout/reftests/text-transform/all-upper-ref.html
  layout/reftests/text-transform/all-upper.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm
