Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1961008 - Part 1: Only disconnect DocumentChannel from LoadGroup early for Downloads, r=smaug,necko-reviewers,valentin, a=dmeehan
  netwerk/ipc/DocumentChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1961008 - Part 2: Fix toplevel data blocking test failure, r=smaug, a=dmeehan
  dom/security/test/general/test_block_toplevel_data_navigation.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1956954 - ValidatePrincipal in CreateAboutBlankDocumentViewer calls, r=smaug, a=dmeehan
  dom/ipc/BrowserHost.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1932150 - Add new test cases for selection in flat tree r=smaug"
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-1-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-1.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-10-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-10.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-3-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-4-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-4.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-5-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-5.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-6-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-6.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-7-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-7.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-8-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-8.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-9-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-9.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-1-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-1.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-2-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-2.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-3-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-complex-3.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-in-nested-shadow-dom-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-in-nested-shadow-dom.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-reversed-ref.html
  testing/web-platform/mozilla/tests/selection/cross-shadow-boundary-slot-reversed.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Revert "Bug 1932150 - Make selection code to correctly iterate flattened tree r=smaug"
  dom/base/Selection.cpp
  dom/base/Selection.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1932150 - ContentSubtreeIterator #3: Fix a bug in ContentSubtreeIterator where the end container is in the light DOM of a shadow host r=jjaschke"
  dom/base/ContentIterator.cpp
  dom/base/ContentIterator.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1932150 - ContentSubtreeIterator #2: Allow ContentSubtreeIterator to iterate nodes in flattened tree r=jjaschke"
  dom/base/ContentIterator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1932150 - ContentSubtreeIterator #1: Make the end container related logic in ContentSubtreeIterator more robust r=jjaschke,smaug,dom-core"
  dom/base/ContentIterator.cpp
  dom/base/ContentIterator.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1932150 - Update ranges to correctly set and update nodes for flattened selection r=jjaschke,smaug,dom-core"
  dom/base/AbstractRange.cpp
  dom/base/AbstractRange.h
  dom/base/DirectionalityUtils.cpp
  dom/base/RangeUtils.cpp
  dom/base/Selection.cpp
  dom/base/nsINode.cpp
  dom/base/nsRange.cpp
  dom/base/nsRange.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1932150 - Allow using flat tree order for point comparing in selection r=jjaschke,smaug,dom-core"
  dom/base/RangeUtils.cpp
  dom/base/RangeUtils.h
  dom/base/Selection.cpp
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsIContentInlines.h
  dom/base/nsINode.cpp
  dom/base/nsINode.h
  dom/base/nsRange.cpp
  editor/libeditor/HTMLEditUtils.cpp
  layout/base/PresShell.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1932150 - Fix some inconsistency about indicating whether the selection is allowed to cross the shadow boundary r=jjaschke,dom-core"
  dom/base/AbstractRange.cpp
  dom/base/ContentIterator.cpp
  dom/base/ContentIterator.h
  dom/base/RangeUtils.cpp
  dom/base/RangeUtils.h
  dom/serializers/nsDocumentEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1958081 - [devtools] Introduce a test framework to ease testing all possible JavaScript types against various codebases. r=frontend-codestyle-reviewers,devtools-reviewers,nchevobbe,Standard8
  .eslintrc-ignores.js
  .prettierignore
  devtools/client/webconsole/test/browser/_webconsole.toml
  devtools/client/webconsole/test/browser/browser_webconsole_previewers.js
  devtools/client/webconsole/test/browser/browser_webconsole_previewers.snapshot.mjs
  devtools/docs/contributor/index.rst
  devtools/docs/contributor/tests/js-object-tests.md
  devtools/server/tests/xpcshell/test_javascript_object_actors.js
  devtools/server/tests/xpcshell/test_javascript_object_actors.snapshot.mjs
  devtools/server/tests/xpcshell/xpcshell.toml
  devtools/shared/loader/worker-loader.sys.mjs
  devtools/shared/moz.build
  devtools/shared/tests/objects/AllJavascriptTypes.mjs
  devtools/shared/tests/objects/JSObjectsTestUtils.sys.mjs
  devtools/shared/tests/objects/moz.build
Due: bugzilla-components, codespell, eslint, license, rst, file-perm, devtools-tests

Bug 1958081 - [devtools] Migrate object inspector to the new JS objects test framework. r=devtools-reviewers,nchevobbe
  devtools/client/webconsole/test/browser/_webconsole.toml
  devtools/client/webconsole/test/browser/browser_webconsole_object_inspector_entries.js
  devtools/client/webconsole/test/browser/browser_webconsole_object_inspector_entries.snapshot.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1958081 - [devtools] Cover JS Tracer stringification with the new JS Objects test framework. r=devtools-reviewers,nchevobbe
  devtools/client/webconsole/test/xpcshell/test_javascript_logging.js
  devtools/client/webconsole/test/xpcshell/test_javascript_logging.snapshot.mjs
  devtools/client/webconsole/test/xpcshell/xpcshell.toml
  devtools/server/tracer/tracer.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1964751 - PDF.js should be excluded from Desktop Mode r=geckoview-reviewers,calixte,calu
  dom/base/Document.cpp
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PdfCreationTest.kt
Due: android-api-lint/opt, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1965224 - Reinstate setting a pref to record when users are enrolled in the new user ToS on-train rollout r=omc-reviewers,mimi
  toolkit/components/telemetry/app/TelemetryReportingPolicy.sys.mjs
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1960948 - propagate deleted Pref branches r=beth,nika
  modules/libpref/Preferences.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1960948 - Fix Nimbus pref tests r=nimbus-reviewers,emcminn
  toolkit/components/nimbus/test/unit/test_ExperimentManager_prefs.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1963188 - part1 : create a service to pull data from Remote Settings. r=media-playback-reviewers,padenot
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  toolkit/components/media/WindowsMediaFoundationCDMOriginsListService.sys.mjs
  toolkit/components/media/components.conf
  toolkit/components/media/moz.build
  toolkit/components/media/nsIWindowsMediaFoundationCDMOriginsListService.idl
  toolkit/components/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1963188 - part2 : broadcast the origin status entries to content childs. r=media-playback-reviewers,padenot
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
  dom/ipc/ContentParent.cpp
  dom/ipc/PContent.ipdl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1963188 - part3 : use list via Remote Settings to determine if MFCDM is allowed or blocked for an origin. r=media-playback-reviewers,padenot
  dom/ipc/ContentChild.cpp
  dom/media/eme/MediaKeySystemAccess.cpp
  dom/media/eme/MediaKeySystemAccess.h
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1963188 - part4 : add test for WindowsMediaFoundationCDMOriginsListService. r=media-playback-reviewers,padenot,dom-storage-reviewers,janv
  dom/indexedDB/test/unit/test_open_and_databases.js
  toolkit/components/media/tests/browser.toml
  toolkit/components/media/tests/browser_windowsMediaFoundationCDMOriginsListService.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961374 - Ensure TRR requests are never blocked, r=necko-reviewers,valentin
  netwerk/protocol/http/TRRServiceChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1962099 - QM: Add QM_VERBOSEONLY_TRY_UNWRAP macro; r=dom-storage-reviewers,asuth
  dom/quota/QuotaCommon.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1962099 - QM: Remove trailing newline in prepackaged test profile metadata file; r=dom-storage-reviewers,asuth
  dom/quota/test/xpcshell/originMismatch_profile.zip
Due: bugzilla-components

Bug 1962099 - QM: Restore metadata when unexpected trailing data is detected; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1964823 - Introduce AutoTypeRef::Take to simplify code r=padenot,media-playback-reviewers
  dom/media/platforms/apple/AppleUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1964823 - Replace AutoCFRelease by AutoCFTypeRef r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleUtils.h
  gfx/thebes/CoreTextFontList.cpp
  gfx/thebes/gfxMacFont.cpp
  widget/cocoa/nsCocoaUtils.mm
  widget/cocoa/nsDeviceContextSpecX.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1963173 - Ensure we correctly update the default profile for the group. r=mossop,profiles-reviewers
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/test/xpcshell/test_async_flush_group_profile.js
  toolkit/profile/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1964185 - Cap Downloads to a fixed width but keep the outside area scrollable r=android-reviewers,rsainani
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadsScreen.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1957974 - Add available locales record and perplexity to search-config-v2. r=Standard8
  toolkit/components/search/tests/xpcshell/searchconfigs/test_searchconfig_validates.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959718 - Create a new build project + variant for browser/extensions, r=glandium,firefox-build-system-reviewers
  browser/config/mozconfigs/linux64/browser-extensions
  browser/extensions/app.mozbuild
  browser/extensions/moz.configure
  moz.configure
  taskcluster/docs/kinds.rst
  taskcluster/kinds/build-extensions/kind.yml
Due: bugzilla-components, codespell, py-flake8, yaml, rst, mozbuild

Bug 1921410 - update our Linux Apple Maps UA override to work on maps.apple.com instead of beta.maps.apple.com; r=denschub,webcompat-reviewers,jgraham
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/manifest.json
  testing/webcompat/interventions/tests/test_1921410_maps_apple_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1911882 - wasm: Fix compile error. r=yury
  js/src/wasm/WasmCodegenConstants.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1964647 - Remove nimbus exposure event r=android-reviewers,ohall
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/DefaultToolbarMenu.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1965273 - support up/down shortcut keys on macOS for tabswitches, r=tabbrowser-reviewers,sthompson
  browser/components/tabbrowser/test/browser/tabs/browser_tabkeynavigation.js
  toolkit/modules/ShortcutUtils.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1957017 - Prevent sidebar from collasing when context menu is open and expand on hover is enabled r=sidebar-reviewers,nsharpley,jsudiaman
  browser/components/sidebar/browser-sidebar.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1965128: Add Homepage Display Toolbar for compose Homepage use. r=android-reviewers,devota
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/HomePageDisplayToolbar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/SearchBar.kt
Due: android-api-lint/opt, bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
