Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1913760 - parse custom data on the clipboard and send to DLP agent r=dlp-reviewers,handyman
  dom/events/DataTransfer.cpp
  dom/events/DataTransfer.h
  toolkit/components/contentanalysis/ContentAnalysis.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1890205 - [devtools] Use CodeMirror 6 to highlight syntax of breakpoint line in Breakpoints panel when cm6 is enabled. r=devtools-reviewers,bomsy.
  devtools/client/debugger/src/components/SecondaryPanes/Breakpoints/Breakpoint.js
  devtools/client/debugger/src/components/SecondaryPanes/Breakpoints/index.js
  devtools/client/debugger/src/utils/editor/create-editor.js
  devtools/client/shared/sourceeditor/editor.js
  devtools/client/themes/dark-theme.css
  devtools/client/themes/light-theme.css
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1913343 - [devtools] Set cursor blink rate from ui.caretBlinkTime in CodeMirror 6. r=devtools-reviewers,jdescottes.
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1891258: The cancel buttons on Save login and Password generator dialogs should not have poor contrast (text/background) when using dark theme r=android-reviewers,kaya
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/login/PasswordGeneratorDialogBottomSheet.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/login/PasswordGeneratorDialogColors.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/res/values-night/colors.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1912995 - [devtools] Don't repeat variable name in CSS variable tooltip. r=devtools-reviewers,jdescottes.
  devtools/client/inspector/rules/test/browser_rules_at_starting-style.js
  devtools/client/inspector/rules/test/browser_rules_edit-variable-add.js
  devtools/client/inspector/rules/test/browser_rules_edit-variable-remove.js
  devtools/client/inspector/rules/test/browser_rules_edit-variable.js
  devtools/client/inspector/rules/test/browser_rules_preview-tooltips-sizes.js
  devtools/client/inspector/rules/test/browser_rules_registered-custom-properties.js
  devtools/client/inspector/rules/test/browser_rules_variables-in-pseudo-element_01.js
  devtools/client/inspector/rules/test/browser_rules_variables-in-pseudo-element_02.js
  devtools/client/inspector/rules/test/browser_rules_variables_01.js
  devtools/client/inspector/rules/test/browser_rules_variables_02.js
  devtools/client/inspector/rules/test/browser_rules_variables_04-valid-chars.js
  devtools/client/inspector/rules/test/browser_rules_variables_host.js
  devtools/client/shared/output-parser.js
  devtools/client/shared/test/browser_outputparser.js
  devtools/shared/locales/en-US/styleinspector.properties
Due: bugzilla-components, codespell, eslint, license, localization, file-perm, devtools-tests

Bug 1914808 - Enable pref network.send_OnDataFinished.cssLoader for release. r=necko-reviewers,valentin
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1885539 - Wait more if 2nd parameter of InputConnection.commitText isn't 1. r=geckoview-reviewers,owlish
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/TextInputDelegateTest.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset 5daa91615f4c (bug 1910593) for causing bug 1914796. CLOSED TREE
  dom/chrome-webidl/NetDashboard.webidl
  netwerk/base/Dashboard.cpp
  netwerk/base/DashboardTypes.h
  netwerk/dns/nsHostResolver.cpp
  netwerk/protocol/http/nsHttp.cpp
  netwerk/protocol/http/nsHttp.h
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpChannel.h
  netwerk/protocol/http/nsHttpConnectionInfo.h
  netwerk/protocol/http/nsHttpConnectionMgr.cpp
  netwerk/protocol/http/nsHttpTransaction.cpp
  netwerk/test/unit/test_proxyDNS_leak.js
  netwerk/test/unit/xpcshell.toml
  toolkit/content/aboutNetworking.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1914850 - [devtools] Add test for editing declaration of layer-imported stylesheet. r=devtools-reviewers,ochameau.
  devtools/client/inspector/rules/test/browser_part2.toml
  devtools/client/inspector/rules/test/browser_rules_layer.js
  devtools/client/inspector/rules/test/doc_layer_edit.css
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1913646 - Add win64-aarch64-clang-18 task r=firefox-build-system-reviewers,sergesanspaille
  build/build-clang/build-clang.py
  build/build-clang/skip-3-stages-win64.json
  build/build-clang/win64-aarch64.json
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/misc.yml
  taskcluster/scripts/misc/build-libxml2.sh
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, shellcheck, file-whitespace

Bug 1754005 - Temporary allow for site permissions. r=permissions-reviewers,nchevobbe,timhuang
  browser/modules/PermissionUI.sys.mjs
  browser/modules/test/browser/browser_PermissionUI_prompts.js
  dom/midi/tests/browser_midi_permission_gated.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1913701 - Add HostARM64 MSVC to vs-toolchain r=firefox-build-system-reviewers,sergesanspaille
  build/vs/vs2022.yaml
Due: bugzilla-components, yaml

Bug 1901660 - Update session history changes once the history is purged. r=geckoview-reviewers,sessionstore-reviewers,farre,owlish
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/NavigationDelegateTest.kt
  toolkit/components/sessionstore/SessionStoreListener.h
Due: android-api-lint/opt, bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset b622e2cb90ab (bug 1914850) for causing mochitest failures on StyleSheet.cpp. CLOSED TREE
  devtools/client/inspector/rules/test/browser_part2.toml
  devtools/client/inspector/rules/test/browser_rules_layer.js
  devtools/client/inspector/rules/test/doc_layer_edit.css
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1914378 part 3 - Use a StringBuffer for long flattened ropes. r=sfink
  js/src/gc/Nursery-inl.h
  js/src/gc/Nursery.cpp
  js/src/gc/Nursery.h
  js/src/jit-test/tests/basic/stringbuffer-6.js
  js/src/jit-test/tests/heap-analysis/byteSize-of-string.js
  js/src/vm/StringType.cpp
  js/src/vm/StringType.h
  mfbt/StringBuffer.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1914378 part 2 - Move registerMallocedBuffer call into AllocCharsForFlatten. r=sfink
  js/src/vm/StringType.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914378 part 1 - Add Nursery::sweepStringsWithBuffer. r=sfink
  js/src/gc/Nursery.cpp
  js/src/gc/Nursery.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-central repo-update HSTS HPKP remote-settings ct-logs - r=release-managers,RyanVM
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin.meta.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/translations-models.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings - a=RyanVM
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin.meta.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/translations-models.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-release repo-update remote-settings - a=RyanVM
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin
  services/settings/dumps/blocklists/addons-bloomfilters/addons-mlbf.bin.meta.json
  services/settings/dumps/main/translations-models.json
Due: bugzilla-components

No bug - tagging 55db8d26aa56495150c07ff60473f5208c44161b with FIREFOX_RELEASE_130_BASE a=release DONTBUILD CLOSED TREE
  .hgtags
Due: bugzilla-components

Preserve old tags after debugsetparents. CLOSED TREE DONTBUILD a=release
  .hgtags
Due: bugzilla-components

No bug - tagging 16251b074f1cf01585e2023db88bece045c2467c with FIREFOX_RELEASE_129_END a=release DONTBUILD CLOSED TREE
  .hgtags
Due: bugzilla-components

Update configs. IGNORE BROKEN CHANGESETS CLOSED TREE NO BUG a=release ba=release
  CLOBBER
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

Bug 1914449 - Fix stylesheet cloning in presence of both @layer and @import. r=zrhoffman,firefox-style-system-reviewers
  layout/style/GeckoBindings.cpp
  layout/style/GeckoBindings.h
  layout/style/StyleSheet.cpp
  servo/components/style/shared_lock.rs
  servo/components/style/stylesheets/container_rule.rs
  servo/components/style/stylesheets/document_rule.rs
  servo/components/style/stylesheets/import_rule.rs
  servo/components/style/stylesheets/keyframes_rule.rs
  servo/components/style/stylesheets/layer_rule.rs
  servo/components/style/stylesheets/margin_rule.rs
  servo/components/style/stylesheets/media_rule.rs
  servo/components/style/stylesheets/mod.rs
  servo/components/style/stylesheets/page_rule.rs
  servo/components/style/stylesheets/position_try_rule.rs
  servo/components/style/stylesheets/rule_list.rs
  servo/components/style/stylesheets/scope_rule.rs
  servo/components/style/stylesheets/starting_style_rule.rs
  servo/components/style/stylesheets/style_rule.rs
  servo/components/style/stylesheets/stylesheet.rs
  servo/components/style/stylesheets/supports_rule.rs
  servo/ports/geckolib/glue.rs
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1914703 - Fix up scrolled to end check. r=emilio
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 3 changesets (bug 1914378) for causing mochitest failures on MemoryMetrics.cpp. CLOSED TREE
  js/src/gc/Nursery-inl.h
  js/src/gc/Nursery.cpp
  js/src/gc/Nursery.h
  js/src/jit-test/tests/basic/stringbuffer-6.js
  js/src/jit-test/tests/heap-analysis/byteSize-of-string.js
  js/src/vm/StringType.cpp
  js/src/vm/StringType.h
  mfbt/StringBuffer.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1905262 - Replace waiting for the progress bar to be gone r=aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsDeleteBrowsingDataOnQuitTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsDeleteBrowsingDataTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/BrowserRobot.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1880044 part 1 - Remove special case for extensible strings in JSString::sizeOfExcludingThis. r=sfink
  js/src/vm/StringType.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900426 - Implement DnD for shadow-crossing selection r=jjaschke,smaug,dom-core
  dom/base/nsContentAreaDragDrop.cpp
  dom/base/nsContentUtils.h
  dom/base/nsCopySupport.cpp
  dom/base/nsRange.cpp
  dom/base/nsRange.h
  dom/base/test/mochitest.toml
  dom/base/test/test_drag_drop_shadow_crossing_selection.html
  dom/serializers/nsDocumentEncoder.cpp
  dom/webidl/Range.webidl
  dom/webidl/Selection.webidl
  layout/base/PresShell.cpp
  testing/mochitest/tests/SimpleTest/EventUtils.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, mochitest-harness

Bug 1857082 - Update AndroidX Activity to version 1.9.1. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1857082 - Remove safe call since uriList cannot be null. r=android-reviewers,mcarare
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/file/AndroidPhotoPicker.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1857082 - Add suppressions for deprecated override warnings. r=android-reviewers,mcarare
  mobile/android/android-components/components/feature/autofill/src/main/java/mozilla/components/feature/autofill/ui/AbstractAutofillUnlockActivity.kt
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/prompt/CrashReporterActivity.kt
  mobile/android/android-components/samples/browser/src/main/java/org/mozilla/samples/browser/BrowserActivity.kt
  mobile/android/android-components/samples/firefox-accounts/src/main/java/org/mozilla/samples/fxa/MainActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/CustomTabActivity.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1857082 - Suppress warning for missing onBackPressed() super call. r=android-reviewers,mcarare
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/prompt/CrashReporterActivity.kt
  mobile/android/android-components/samples/browser/src/main/java/org/mozilla/samples/browser/BrowserActivity.kt
  mobile/android/android-components/samples/firefox-accounts/src/main/java/org/mozilla/samples/fxa/MainActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/CustomTabActivity.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1857082 - Update onNewIntent override to account for intent nullability changes. r=android-reviewers,mcarare
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1857082 - Suppress parameter naming warning. r=android-reviewers,mcarare
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
Due: android-api-lint/opt, bugzilla-components
