Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Backed out changeset 93d42692fb24 (bug 1957880) for causing wr failures @ content-with-clip.html CLOSED TREE
  gfx/wr/webrender/src/clip.rs
  gfx/wr/webrender/src/scene_building.rs
  gfx/wr/wrench/reftests/image/reftest.list
  gfx/wr/wrench/reftests/image/snapshot-complex-clip-ref.yaml
  gfx/wr/wrench/reftests/image/snapshot-complex-clip.yaml
  testing/web-platform/meta/css/css-view-transitions/old-content-captures-clip-path.html.ini
Due: bugzilla-components, license, test-manifest, yaml, rustfmt, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1958422 - Improve cookieStore.delete(), r=edgul
  dom/cookiestore/CookieStore.cpp
  dom/cookiestore/CookieStoreParent.cpp
  testing/web-platform/tests/cookie-store/cookieStore_delete.sub.https.html
  testing/web-platform/tests/cookie-store/resources/helper_iframe.sub.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1958067 - Remove AUTOFILL_PROFILE_NUM_USES and CREDITCARD_NUM_USES telemetry r=NeilDeakin,credential-management-reviewers
  browser/extensions/formautofill/test/browser/address/browser_address_telemetry.js
  browser/extensions/formautofill/test/browser/creditCard/browser_creditCard_telemetry_autofill.js
  browser/extensions/formautofill/test/browser/creditCard/browser_creditCard_telemetry_manage.js
  browser/extensions/formautofill/test/browser/creditCard/browser_creditCard_telemetry_popup.js
  browser/extensions/formautofill/test/browser/creditCard/browser_creditCard_telemetry_submit_new.js
  browser/extensions/formautofill/test/browser/creditCard/browser_creditCard_telemetry_submit_update.js
  browser/extensions/formautofill/test/browser/creditCard/browser_telemetry_utils.js
  toolkit/components/formautofill/FormAutofillStorageBase.sys.mjs
  toolkit/components/formautofill/shared/AutofillTelemetry.sys.mjs
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959965 - Simplify nsWindow child set-up on GTK. r=stransky
  widget/gtk/nsWindow.cpp
  widget/gtk/nsWindow.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1959927 - Fix perf tests that expect always a non-interruptible reflow. r=Gijs
  browser/base/content/test/performance/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959927 - Turn layout into a regular render phase. r=dshin
  accessible/base/NotificationController.cpp
  dom/base/Document.cpp
  dom/base/nsDOMWindowUtils.cpp
  layout/base/PresShell.cpp
  layout/base/PresShell.h
  layout/base/PresShellInlines.h
  layout/base/RenderingPhase.h
  layout/base/nsRefreshDriver.cpp
  layout/base/nsRefreshDriver.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 24d97a7de216 (bug 1948596) for causing wpt failures at /the-history-interface/002.html. CLOSED TREE
  docshell/base/nsDocShell.cpp
  dom/base/Document.cpp
  dom/base/Document.h
  dom/navigation/Navigation.cpp
  testing/web-platform/meta/html/browsers/history/the-history-interface/001.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1958156 - Renew extensios.data sync_usage_quotas probe expiring in Fx 140. r=zombie
  toolkit/components/extensions/metrics.yaml
Due: bugzilla-components, yaml

Bug 1958151 - Renew extensions.data glean probes expiring in Fx 140. r=zombie
  toolkit/components/extensions/metrics.yaml
Due: bugzilla-components, yaml

Bug 1958151 - Renew addons_manager report_suspicious_site glean probe expiring in Fx 140. r=zombie
  toolkit/mozapps/extensions/metrics.yaml
Due: bugzilla-components, yaml

Bug 1958151 - Renew addons_manager install/update glean and mirrored probes expiring in Fx 140. r=zombie
  toolkit/components/telemetry/Events.yaml
  toolkit/mozapps/extensions/metrics.yaml
  toolkit/mozapps/extensions/metrics_legacy.yaml
Due: bugzilla-components, yaml

Bug 1958149 - Renew addons_manager manage glean and mirrored probes expiring in Fx 140. r=zombie
  toolkit/components/telemetry/Events.yaml
  toolkit/mozapps/extensions/metrics.yaml
  toolkit/mozapps/extensions/metrics_legacy.yaml
Due: bugzilla-components, yaml

Bug 1958154 - Renew extensions.timing and migrate_result_count glean and mirrored legacy telemetry probes expiring in Fx 140. r=zombie
  toolkit/components/extensions/metrics.yaml
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, yaml

Bug 1958168 - Renew histograms and scalars legacy telemetry probe expising in Fx 140 associated to mirrored extension glean probes. r=zombie
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/Scalars.yaml
Due: bugzilla-components, yaml

Bug 1959634 - Missing return after reject in SearchUtils.fetchIcon(). r=search-reviewers,scunnane
  toolkit/components/search/SearchUtils.sys.mjs
Due: bugzilla-components

Bug 1955738 - Update mozilla/no-browser-refs-in-toolkit to account for moz-src. r=frontend-codestyle-reviewers,Gijs
  docs/code-quality/lint/linters/eslint-plugin-mozilla/rules/no-browser-refs-in-toolkit.rst
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/no-browser-refs-in-toolkit.js
  tools/lint/eslint/eslint-plugin-mozilla/tests/no-browser-refs-in-toolkit.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1960107 - Make DeclaredLazy type global, adjust the checkRootOnly plugin, r=Standard8
  toolkit/components/extensions/tsconfig.json
  toolkit/components/extensions/types/extensions.ts
  toolkit/components/search/tsconfig.json
  toolkit/components/translations/tsconfig.json
  tools/@types/index.d.ts
  tools/@types/lib.gecko.custom.d.ts
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.modules.d.ts
  tools/@types/tspaths.json
  tools/ts/build_dom.js
  tools/ts/build_paths.js
  tools/ts/config/fixed_paths.js
  tools/ts/plugins/checkRootOnly.js
  tools/ts/test/baselines/domtest.d.ts
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959949 - Don't reparse empty style attributes. r=emilio
  dom/base/nsStyledElement.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1640117 - update console warnings to state 'enhanced tracking protection' instead of 'content blocking' r=emz,necko-reviewers,devtools-reviewers,flod,anti-tracking-reviewers,nchevobbe
  devtools/client/webconsole/test/browser/_webconsole.toml
  devtools/client/webconsole/test/browser/browser_webconsole_trackingprotection_errors.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_group_enhanced_tracking_protection.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_group_multiples.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_groups.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_groups_filtering.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_groups_outside_console_group.js
  devtools/client/webconsole/test/browser/browser_webconsole_warning_groups_toggle.js
  devtools/client/webconsole/utils/messages.js
  netwerk/locales/en-US/necko.properties
  netwerk/url-classifier/UrlClassifierFeatureFactory.cpp
  toolkit/components/antitracking/ContentBlockingNotifier.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, localization, file-whitespace, file-perm, devtools-tests

Bug 1957367 - QM: Introduce ClientDirectoryLockHandle as RAII wrapper for ClientDirectoryLock; r=dom-storage-reviewers,jstutte
  dom/quota/ClientDirectoryLockHandle.cpp
  dom/quota/ClientDirectoryLockHandle.h
  dom/quota/DirectoryLockImpl.h
  dom/quota/moz.build
  dom/quota/test/gtest/QuotaManagerDependencyFixture.h
  dom/quota/test/gtest/TestClientDirectoryLockHandle.cpp
  dom/quota/test/gtest/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1949016 - Fix BTP not honoring user activation signals when FPI is enabled. r=anti-tracking-reviewers,bvandersloot
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtectionStorage.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingState.cpp
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser.toml
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser_bouncetracking_fpi.js
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/head.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1953428 - Enable BTP stateless mode in Nightly. r=anti-tracking-reviewers,manuel
  modules/libpref/init/StaticPrefList.yaml
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser_bouncetracking_tab_close.js
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

No bug - Tagging 5d1d0e27dc3a99271b76833be3d9a4a12e709281 with FIREFOX_137_0_2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1839479 - Clear pb permissions on last-pb-context-exited r=emz,permissions-reviewers
  browser/components/privatebrowsing/test/browser/browser.toml
  browser/components/privatebrowsing/test/browser/browser_privatebrowsing_permissions.js
  extensions/permissions/PermissionManager.cpp
  extensions/permissions/PermissionManager.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1960303 - Remove layout.skip_ticks_while_page_suspended. r=smaug
  dom/xhr/tests/test_bug1788125.html
  layout/base/nsRefreshDriver.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1959809 - Move talos-webgl to win11 24h2. r=sparky,perftest-reviewers
  taskcluster/kinds/test/test-platforms.yml
  testing/perfdocs/generated/talos.rst
Due: bugzilla-components, codespell, yaml, rst

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - r=release-managers,RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1959614 - [bidi] Update NetworkDecodedBodySizeMap to be synchronous r=webdriver-reviewers,whimboo
  remote/shared/NetworkDecodedBodySizeMap.sys.mjs
  remote/shared/listeners/NetworkEventRecord.sys.mjs
  remote/shared/test/xpcshell/test_NetworkDecodedBodySizeMap.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959540 - Simplify XUL menu structure. r=Gijs,desktop-theme-reviewers,settings-reviewers,urlbar-reviewers,dao
  browser/base/content/test/fullscreen/browser_fullscreen_menus.js
  browser/components/preferences/dialogs/handlers.css
  browser/themes/linux/browser.css
  browser/themes/osx/browser.css
  browser/themes/osx/customizableui/panelUI.css
  browser/themes/shared/browser-shared.css
  browser/themes/shared/contextmenu.css
  browser/themes/shared/customizableui/customizeMode.css
  browser/themes/shared/customizableui/panelUI-shared.css
  browser/themes/shared/places/editBookmark.css
  browser/themes/shared/preferences/preferences.css
  browser/themes/shared/preferences/search.css
  browser/themes/shared/toolbarbutton-icons.css
  browser/themes/shared/urlbar-searchbar.css
  browser/themes/windows/browser.css
  toolkit/content/tests/chrome/test_menulist_position.xhtml
  toolkit/content/tests/widgets/popup_shared.js
  toolkit/content/widgets/menu.js
  toolkit/content/xul.css
  toolkit/themes/shared/global-shared.css
  toolkit/themes/shared/menu.css
  toolkit/themes/windows/global/global.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959948 - [devtools] Avoid calling createValueGrip on non-bigint typed array items. r=devtools-reviewers,ochameau.
  devtools/server/actors/object/previewers.js
  devtools/server/actors/object/utils.js
Due: bugzilla-components, codespell, eslint, license, file-perm

No bug - Tagging 5d1d0e27dc3a99271b76833be3d9a4a12e709281 with FIREFOX-ANDROID_137_0_2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1700396: Bump Updatebot for the assignee patch r=maltejur
  taskcluster/docker/updatebot/updatebot-version.sh
Due: bugzilla-components, shellcheck

No bug - Tagging c8f9e5fa48e3c57e07f40843a3099e6d4430fdac with FIREFOX-ANDROID_138_0b7_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging c8f9e5fa48e3c57e07f40843a3099e6d4430fdac with DEVEDITION_138_0b7_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging c8f9e5fa48e3c57e07f40843a3099e6d4430fdac with FIREFOX_138_0b7_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1960339 - Fix wayland-only build. r=emilio
  widget/gtk/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1614028 - [devtools] Redesign the directory root UI. r=devtools-reviewers,nchevobbe
  devtools/client/debugger/images/breadcrumbs-divider.svg
  devtools/client/debugger/images/home.svg
  devtools/client/debugger/src/actions/context-menus/source-tree-item.js
  devtools/client/debugger/src/actions/sources-tree.js
  devtools/client/debugger/src/components/PrimaryPanes/Sources.css
  devtools/client/debugger/src/components/PrimaryPanes/SourcesTree.js
  devtools/client/debugger/src/components/shared/AccessibleImage.css
  devtools/client/debugger/src/reducers/sources-tree.js
  devtools/client/debugger/src/selectors/sources-tree.js
  devtools/client/debugger/src/test/tests-setup.js
  devtools/client/debugger/src/utils/prefs.js
  devtools/client/debugger/src/utils/sources-tree/getURL.js
  devtools/client/debugger/test/mochitest/browser_dbg-project-root.js
  devtools/client/jar.mn
  devtools/client/locales/en-US/debugger.properties
Due: bugzilla-components, codespell, eslint, license, localization, file-perm, debugger-tests, devtools-tests

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
