Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1905699 [wpt PR 46950] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-options-computed.html.ini
Due: bugzilla-components, test-manifest

Bug 1905751 [wpt PR 46953] - [reading-flow] Display: contents elements can be focusable, a=testonly
  testing/web-platform/tests/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-across-scopes.html
  testing/web-platform/tests/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-on-shadow-host.html
  testing/web-platform/tests/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-with-slots.html
  testing/web-platform/tests/shadow-dom/focus-navigation/reading-flow/tentative/grid-order.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905751 [wpt PR 46953] - Update wpt metadata, a=testonly
  testing/web-platform/meta/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-across-scopes.html.ini
  testing/web-platform/meta/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-with-slots.html.ini
  testing/web-platform/meta/shadow-dom/focus-navigation/reading-flow/tentative/grid-order.html.ini
Due: bugzilla-components, test-manifest

Bug 1905785 [wpt PR 46955] - IDB WPTs: Extend idbfactory_open tests to worker environments., a=testonly
  testing/web-platform/tests/IndexedDB/idbfactory_open.any.js
  testing/web-platform/tests/IndexedDB/idbfactory_open.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open10.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open11.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open12.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open2.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open3.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open4.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open5.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open6.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open7.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open8.htm
  testing/web-platform/tests/IndexedDB/idbfactory_open9.htm
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905796 [wpt PR 46907] - Fix script-src-blocks-wasm.tentative.html, a=testonly
  testing/web-platform/tests/wasm/webapi/esm-integration/script-src-blocks-wasm.tentative.sub.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905460 [wpt PR 46939] - Corrected transparent-accent-color tests to compute expected values based on canvas color, a=testonly
  testing/web-platform/tests/css/css-ui/reference/transparent-accent-color-001-ref.html
  testing/web-platform/tests/css/css-ui/reference/transparent-accent-color-002-ref.html
  testing/web-platform/tests/css/css-ui/transparent-accent-color-001.html
  testing/web-platform/tests/css/css-ui/transparent-accent-color-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905747 [wpt PR 46952] - Make transform-non-invertible-no-transition.html fail reliably rather than flakily., a=testonly
  testing/web-platform/tests/css/css-transforms/animation/transform-non-invertible-no-transition.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905837 [wpt PR 46959] - text-box-trim: add tests for text-emphasis, a=testonly
  testing/web-platform/tests/css/css-inline/text-box-trim/text-box-trim-text-emphasis-start-001-ref.html
  testing/web-platform/tests/css/css-inline/text-box-trim/text-box-trim-text-emphasis-start-001.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905837 [wpt PR 46959] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-inline/text-box-trim/text-box-trim-text-emphasis-start-001.html.ini
Due: bugzilla-components, test-manifest

Bug 1905891 [wpt PR 46965] - Update wpt metadata, a=testonly
  testing/web-platform/meta/WebCryptoAPI/idlharness.https.any.js.ini
  testing/web-platform/meta/css/cssom/idlharness.html.ini
  testing/web-platform/meta/intersection-observer/idlharness.window.js.ini
  testing/web-platform/meta/mediacapture-streams/idlharness.https.window.js.ini
  testing/web-platform/meta/permissions-policy/idlharness.window.js.ini
Due: bugzilla-components, test-manifest

Bug 1903154 [wpt PR 46800] - Bump urllib3 from 2.2.1 to 2.2.2 in /tools, a=testonly
  testing/web-platform/tests/tools/wptrunner/requirements.txt
Due: bugzilla-components, wptlint-gecko

Bug 1903401 [wpt PR 46818] - Add <h1> tag to grid templates in generated canvas tests, a=testonly
  testing/web-platform/tests/html/canvas/element/layers/2d.layer.malformed-operations-with-promises.html
  testing/web-platform/tests/html/canvas/element/layers/2d.layer.malformed-operations.html
  testing/web-platform/tests/html/canvas/offscreen/layers/2d.layer.malformed-operations-with-promises.html
  testing/web-platform/tests/html/canvas/offscreen/layers/2d.layer.malformed-operations.html
  testing/web-platform/tests/html/canvas/tools/templates/testharness_element_grid.html
  testing/web-platform/tests/html/canvas/tools/templates/testharness_offscreen_grid.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903120 [wpt PR 46793] - Add fonts to VariantGrid params and default Variant params, a=testonly
  testing/web-platform/tests/html/canvas/tools/gentestutilsunion.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1905679 [wpt PR 46949] - Move backdrop-filter blur tests to wpt using fuzzy matching filter refs, a=testonly
  testing/web-platform/tests/css/filter-effects/backdrop-filter-basic-blur.html
  testing/web-platform/tests/css/filter-effects/backdrop-filter-boundary.html
  testing/web-platform/tests/css/filter-effects/backdrop-filter-edge-clipping-2.html
  testing/web-platform/tests/css/filter-effects/backdrop-filter-edge-mirror-ref.html
  testing/web-platform/tests/css/filter-effects/backdrop-filter-edge-pixels-2.html
  testing/web-platform/tests/css/filter-effects/backdrop-filter-svg-blur.html
  testing/web-platform/tests/css/filter-effects/reference/backdrop-filter-basic-blur-ref.html
  testing/web-platform/tests/css/filter-effects/reference/backdrop-filter-boundary-ref.html
  testing/web-platform/tests/css/filter-effects/reference/backdrop-filter-edge-clipping-2-ref.html
  testing/web-platform/tests/css/filter-effects/reference/backdrop-filter-edge-mirror-ref.html
  testing/web-platform/tests/css/filter-effects/reference/backdrop-filter-edge-pixels-2-ref.html
  testing/web-platform/tests/css/filter-effects/reference/backdrop-filter-svg-blur-ref.html
  testing/web-platform/tests/css/filter-effects/support/simulate-backdrop-blur.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905679 [wpt PR 46949] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/filter-effects/backdrop-filter-boundary.html.ini
  testing/web-platform/meta/css/filter-effects/backdrop-filter-edge-clipping-2.html.ini
  testing/web-platform/meta/css/filter-effects/backdrop-filter-edge-pixels-2.html.ini
  testing/web-platform/meta/css/filter-effects/backdrop-filter-svg-blur.html.ini
Due: bugzilla-components, test-manifest

Bug 1906008 [wpt PR 46974] - [SAA] refactor handling for code shared between rSA and rSA-extension, a=testonly
  testing/web-platform/tests/storage-access-api/resources/storage-access-beyond-cookies-iframe.sub.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906002 [wpt PR 46970] - IDB WPTs: Extend IDBCursor delete() index WPTs to run on workers, a=testonly
  testing/web-platform/tests/IndexedDB/idbcursor_delete_index.any.js
  testing/web-platform/tests/IndexedDB/idbcursor_delete_index.htm
  testing/web-platform/tests/IndexedDB/idbcursor_delete_index2.htm
  testing/web-platform/tests/IndexedDB/idbcursor_delete_index3.htm
  testing/web-platform/tests/IndexedDB/idbcursor_delete_index4.htm
  testing/web-platform/tests/IndexedDB/idbcursor_delete_index5.htm
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906004 [wpt PR 46971] - WebNN: Emulate gelu with decomposed operations, a=testonly
  testing/web-platform/tests/webnn/resources/test_data/gelu.json
Due: bugzilla-components, wptlint-gecko

Bug 1905961 [wpt PR 46968] - CSS highlight pseudos: fix ‘currentColor’ resolution and painting, a=testonly
  testing/web-platform/tests/css/css-highlight-api/painting/custom-highlight-painting-019-ref.html
  testing/web-platform/tests/css/css-highlight-api/painting/custom-highlight-painting-019.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-001-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-001.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-001a-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-001a.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-002-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-002.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-002a-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-002a.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-002b-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-002b.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-003-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-003.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-003a-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-003a.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-003b-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-003b.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-004-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-004.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-004a-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-004a.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-004b-ref.html
  testing/web-platform/tests/css/css-pseudo/highlight-painting-currentcolor-004b.html
  testing/web-platform/tests/css/css-pseudo/support/selections.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1905961 [wpt PR 46968] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-001.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-001a.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-002.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-002a.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-003.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-003a.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-003b.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-004.html.ini
  testing/web-platform/meta/css/css-pseudo/highlight-painting-currentcolor-004a.html.ini
Due: bugzilla-components, test-manifest

Bug 1906031 [wpt PR 46975] - text-box-trim: add tests for text-emphasis + ruby, a=testonly
  testing/web-platform/tests/css/css-inline/text-box-trim/text-box-trim-ruby-start-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906031 [wpt PR 46975] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-inline/text-box-trim/text-box-trim-ruby-start-002.html.ini
Due: bugzilla-components, test-manifest

Bug 1906005 [wpt PR 46973] - [SAA] Check cookie access instead of permission, a=testonly
  testing/web-platform/tests/storage-access-api/resources/storage-access-beyond-cookies-iframe-iframe.html
  testing/web-platform/tests/storage-access-api/resources/storage-access-beyond-cookies-iframe.sub.html
  testing/web-platform/tests/storage-access-api/storage-access-beyond-cookies.unpartitioned.tentative.sub.https.window.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906005 [wpt PR 46973] - Update wpt metadata, a=testonly
  testing/web-platform/meta/storage-access-api/storage-access-beyond-cookies.unpartitioned.tentative.sub.https.window.js.ini
Due: bugzilla-components, test-manifest

Bug 1906072 [wpt PR 46976] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-conditional/container-queries/font-relative-units-dynamic.html.ini
  testing/web-platform/meta/css/css-conditional/container-queries/idlharness.html.ini
Due: bugzilla-components, test-manifest

Bug 1906119 [wpt PR 46982] - Map media element pseudo-class tests to web-features, a=testonly
  testing/web-platform/tests/css/selectors/media/WEB_FEATURES.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1906090 [wpt PR 46978] - [css-anchor-position] Fixed serialization of position-try, a=testonly
  testing/web-platform/tests/css/css-anchor-position/parsing/position-try-computed.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906090 [wpt PR 46978] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-computed.html.ini
Due: bugzilla-components, test-manifest

Bug 1906136 [wpt PR 46984] - Move digital-credentials transient user activation to wpt_internal, a=testonly
  testing/web-platform/tests/digital-credentials/identity-get.tentative.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906167 [wpt PR 46991] - Increased total pixels for pixel tolerance to account for devices with larger controls., a=testonly
  testing/web-platform/tests/css/css-ui/transparent-accent-color-001.html
  testing/web-platform/tests/css/css-ui/transparent-accent-color-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906160 [wpt PR 46990] - IDB WPTs: Extend IDBCursor continue() ObjectStore WPTs to run on workers, a=testonly
  testing/web-platform/tests/IndexedDB/idbcursor_continue_objectstore.any.js
  testing/web-platform/tests/IndexedDB/idbcursor_continue_objectstore.htm
  testing/web-platform/tests/IndexedDB/idbcursor_continue_objectstore2.htm
  testing/web-platform/tests/IndexedDB/idbcursor_continue_objectstore3.htm
  testing/web-platform/tests/IndexedDB/idbcursor_continue_objectstore4.htm
  testing/web-platform/tests/IndexedDB/idbcursor_continue_objectstore5.htm
  testing/web-platform/tests/IndexedDB/idbcursor_continue_objectstore6.htm
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906173 [wpt PR 46992] - [FedCM] Share more code between OnResolve and CompleteTokenRequest, a=testonly
  testing/web-platform/tests/credential-management/fedcm-authz/resolve-after-preventsilentaccess.https.html
  testing/web-platform/tests/fedcm/support/continue_on.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, wptlint-gecko, file-whitespace, file-perm

Bug 1906204 [wpt PR 46994] - IDB WPTs: Extend idbdatabase transaction tests to worker environments., a=testonly
  testing/web-platform/tests/IndexedDB/idbdatabase_transaction.any.js
  testing/web-platform/tests/IndexedDB/idbdatabase_transaction.htm
  testing/web-platform/tests/IndexedDB/idbdatabase_transaction2.htm
  testing/web-platform/tests/IndexedDB/idbdatabase_transaction3.htm
  testing/web-platform/tests/IndexedDB/idbdatabase_transaction4.htm
  testing/web-platform/tests/IndexedDB/idbdatabase_transaction5.htm
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906217 [wpt PR 46997] - Digital Credentials: Update META.yml to add tplooker, a=testonly
  testing/web-platform/tests/digital-credentials/META.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1867153 [wpt PR 43400] - Update wpt metadata, a=testonly
  testing/web-platform/meta/WebCryptoAPI/derive_bits_keys/derived_bits_length.https.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1867153 [wpt PR 43400] - Tests for the deriveBits operation with extreme values in the 'length' parameter, a=testonly
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.js
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/derived_bits_length.https.any.js
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/derived_bits_length.js
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/derived_bits_length_testcases.js
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/derived_bits_length_vectors.js
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/ecdh_bits.js
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/hkdf.js
  testing/web-platform/tests/WebCryptoAPI/derive_bits_keys/pbkdf2.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906266 [wpt PR 47000] - [text-decorations] Fix a crash for `::first-line`, a=testonly
  testing/web-platform/tests/css/css-text-decor/crashtests/text-decoration-first-line-multi-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906305 [wpt PR 47003] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/base-style-invalidation.html.ini
  testing/web-platform/meta/css/css-anchor-position/last-successful-basic.html.ini
  testing/web-platform/meta/css/css-anchor-position/last-successful-change-fallbacks.html.ini
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-fallbacks-computed.html.ini
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-fallbacks-parsing.html.ini
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-options-parsing.html.ini
  testing/web-platform/meta/css/css-anchor-position/parsing/position-try-parsing.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-try-backdrop.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-try-fallbacks-limit.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-try-options-limit.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-try-tree-scoped.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-try-typed-om.html.ini
  testing/web-platform/meta/css/css-anchor-position/property-interpolations.html.ini
Due: bugzilla-components, test-manifest
