Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Backed out 5 changesets (bug 1919090) for causing bc failures on browser_glean_metrics_exist.js CLOSED TREE
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/content/usercharacteristics.js
  toolkit/components/resistfingerprinting/metrics.yaml
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1918268 - Vendor libwebrtc from c7e2568457
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/sdk/android/api/org/webrtc/EglRenderer.java
  third_party/libwebrtc/sdk/android/api/org/webrtc/EglThread.java
Due: bugzilla-components

Bug 1918268 - Vendor libwebrtc from ec5a968070
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/transport/BUILD.gn
  third_party/libwebrtc/api/transport/bitrate_settings.h
  third_party/libwebrtc/api/transport/data_channel_transport_interface.h
  third_party/libwebrtc/api/transport/field_trial_based_config.cc
  third_party/libwebrtc/api/transport/goog_cc_factory.cc
  third_party/libwebrtc/api/transport/network_control.h
  third_party/libwebrtc/api/transport/network_types.cc
  third_party/libwebrtc/api/transport/network_types.h
  third_party/libwebrtc/api/transport/rtp/rtp_source.h
  third_party/libwebrtc/api/transport/stun.cc
  third_party/libwebrtc/api/transport/stun.h
  third_party/libwebrtc/api/transport/stun_unittest.cc
  third_party/libwebrtc/api/transport/test/create_feedback_generator.cc
  third_party/libwebrtc/api/transport/test/feedback_generator_interface.h
  third_party/libwebrtc/moz-patch-stack/0031.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918386 - browser.search.get() should be returning data URIs for application provided search engines. a=diannaS
  browser/components/extensions/parent/ext-search.js
  browser/components/extensions/test/browser/browser_ext_search_favicon.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1917479 - FS: Add mapping for NS_ABORT_ERROR; r=dom-storage-reviewers,jari
  dom/fs/child/FileSystemRequestHandler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917479 - FS: Add handling for invalidated directory locks; r=dom-storage-reviewers,jari
  dom/fs/parent/datamodel/FileSystemDataManager.cpp
  dom/fs/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917479 - Add a test for origin clearing requested right after starting client directory opening for FS; r=dom-storage-reviewers,jari
  dom/fs/test/xpcshell/test_slowStorageInitialization.js
  dom/fs/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1919193 - Simplify Persisted Search UI - r=adw,desktop-theme-reviewers,urlbar-reviewers,dao
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/components/urlbar/UrlbarController.sys.mjs
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser_UrlbarInput_searchTerms_searchModeSwitcher.js
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_persisted.js
  browser/components/urlbar/tests/browser/head.js
  browser/locales/en-US/browser/browser.ftl
  browser/themes/shared/browser-shared.css
  browser/themes/shared/urlbar-searchbar.css
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1918285 - Avoid lz4frame symbols being exported from gtest libxul. r=firefox-build-system-reviewers,sergesanspaille
  mozglue/static/moz.build
Due: bugzilla-components

Bug 1904652: refactor biometric authentication displaying approach r=android-reviewers,pollymce
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/BiometricAuthenticationManager.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarMenuController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/Fragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeMenuView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ToolbarView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/lifecycle/VisibilityLifecycleObserver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/biometric/BiometricUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/AddLoginFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/EditLoginFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/LoginDetailFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsAuthFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/logins/fragment/SavedLoginsFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarMenuControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/HomeFragmentTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/HomeMenuViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/ToolbarViewTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1919262 - Remove --button-color. r=desktop-theme-reviewers,reusable-components-reviewers,emilio,hjones
  accessible/docs/HCMMediaQueries.md
  browser/components/asrouter/modules/FeatureCallout.sys.mjs
  browser/themes/shared/browser-colors.css
  browser/themes/shared/controlcenter/panel.css
  browser/themes/shared/customizableui/panelUI-shared.css
  browser/themes/shared/places/editBookmarkPanel.css
  browser/themes/shared/translations/panel.css
  toolkit/themes/shared/datetimeinputpickers.css
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-platform.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
  toolkit/themes/shared/global-shared.css
  toolkit/themes/shared/menulist-shared.css
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1846708 - Fix findInPageTest and pdfFindInPageTest UI tests r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/FindInPageRobot.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1918601 - Part 1: Remove the Homepage Intro CFR and related code r=android-reviewers,gmalekpour,vdreghici,npoon
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/GenericExperimentIntegrationTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/experimentintegration/SurveyExperimentIntegrationTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/FeatureSettingsHelperDelegate.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/HomeActivityTestRule.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CollectionTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/ContextMenusTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/CrashReportingTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/FirefoxSuggestTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/GlobalPrivacyControlTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HistoryTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenWithNavbarTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SearchTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsSitePermissionsTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SitePermissionsTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/WebControlsTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrToolsPreferencesMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/cfrs/CfrToolsStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/HomeCFRPresenter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/debugsettings/CfrToolsPreferencesMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/debugsettings/CfrToolsStoreTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1909151 - [Menu Redesign] Implement accessibility reading order in the extensions submenu r=android-reviewers,ohall
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/AddonMenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenuBanner.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1918601 - Part 2: Refactor init block. r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ext/View.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1918723 - Remove inline command handlers from identity-popup. r=Gijs
  browser/base/content/browser-siteIdentity.js
  browser/components/controlcenter/content/identityPanel.inc.xhtml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1918723 - Remove inline popup handlers from identity-popup. r=Gijs
  browser/base/content/browser-siteIdentity.js
  browser/components/controlcenter/content/identityPanel.inc.xhtml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1919139. Consider a png with sRGB tag as color managed so we don't also apply gAMA chunk. r=gfx-reviewers,aosmond
  image/decoders/nsPNGDecoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919259 - Fix verifyCloseAllPrivateTabsNotificationTestUI tests on API 34 r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/NotificationRobot.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1918601 - Part 3: Update the conditional for the wallpaper onboarding dialog. r=android-reviewers,gmalekpour,vdreghici
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlView.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/sessioncontrol/SessionControlViewTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1919460 - remove `mach android uplift` command. r=jlorenzo
  mobile/android/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1918698 - Removed the Tablet navigation bar CFR. r=android-reviewers,gmalekpour
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenterTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1909022 - Allow more recursive load checks. r=smaug,necko-reviewers,valentin
  docshell/test/navigation/frame_recursive_dynamic.html
  docshell/test/navigation/mochitest.toml
  docshell/test/navigation/test_recursive_frames.html
  dom/tests/browser/browser_hasbeforeunload.js
  netwerk/ipc/DocumentLoadListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1912019 - Add a modified dependency to allocator_api2. r=supply-chain-reviewers
  Cargo.lock
  Cargo.toml
  gfx/wr/Cargo.lock
  gfx/wr/webrender/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  third_party/rust/allocator-api2/.cargo-checksum.json
  third_party/rust/allocator-api2/CHANGELOG.md
  third_party/rust/allocator-api2/Cargo.toml
  third_party/rust/allocator-api2/LICENSE-APACHE
  third_party/rust/allocator-api2/LICENSE-MIT
  third_party/rust/allocator-api2/README.md
  third_party/rust/allocator-api2/src/lib.rs
  third_party/rust/allocator-api2/src/nightly.rs
  third_party/rust/allocator-api2/src/stable/alloc/global.rs
  third_party/rust/allocator-api2/src/stable/alloc/mod.rs
  third_party/rust/allocator-api2/src/stable/alloc/system.rs
  third_party/rust/allocator-api2/src/stable/boxed.rs
  third_party/rust/allocator-api2/src/stable/macros.rs
  third_party/rust/allocator-api2/src/stable/mod.rs
  third_party/rust/allocator-api2/src/stable/raw_vec.rs
  third_party/rust/allocator-api2/src/stable/slice.rs
  third_party/rust/allocator-api2/src/stable/vec/drain.rs
  third_party/rust/allocator-api2/src/stable/vec/into_iter.rs
  third_party/rust/allocator-api2/src/stable/vec/mod.rs
  third_party/rust/allocator-api2/src/stable/vec/partial_eq.rs
  third_party/rust/allocator-api2/src/stable/vec/set_len_on_drop.rs
  third_party/rust/allocator-api2/src/stable/vec/splice.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1912019 - Add FrameAllocator, backed by a bump allocator. r=gfx-reviewers,lsalzman
  gfx/wr/webrender/src/bump_allocator.rs
  gfx/wr/webrender/src/frame_allocator.rs
  gfx/wr/webrender/src/lib.rs
  gfx/wr/webrender/src/util.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1912019 - Work around serde(skip). r=gfx-reviewers,lsalzman,ErichDonGubler
  gfx/wr/webrender/src/composite.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1912019 - Don't use malloc_size_of for the render task graph. r=gfx-reviewers,lsalzman
  gfx/layers/wr/WebRenderMessageUtils.h
  gfx/thebes/gfxPlatform.cpp
  gfx/wr/webrender/src/internal_types.rs
  gfx/wr/webrender/src/render_api.rs
  gfx/wr/webrender/src/render_task_graph.rs
  gfx/wr/webrender/src/renderer/mod.rs
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1912019 - Use FrameVec for most of the frame's vectors. r=gfx-reviewers,lsalzman
  gfx/wr/webrender/src/batch.rs
  gfx/wr/webrender/src/composite.rs
  gfx/wr/webrender/src/frame_builder.rs
  gfx/wr/webrender/src/gpu_types.rs
  gfx/wr/webrender/src/image_source.rs
  gfx/wr/webrender/src/internal_types.rs
  gfx/wr/webrender/src/render_target.rs
  gfx/wr/webrender/src/render_task_graph.rs
  gfx/wr/webrender/src/renderer/gpu_buffer.rs
  gfx/wr/webrender/src/renderer/mod.rs
  gfx/wr/webrender/src/renderer/vertex.rs
  gfx/wr/webrender/src/spatial_tree.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1912019 - Undo the gpu-descriptor crate override. r=ErichDonGubler,supply-chain-reviewers
  .cargo/config.toml.in
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  third_party/rust/gpu-descriptor-types/.cargo-checksum.json
  third_party/rust/gpu-descriptor-types/Cargo.toml
  third_party/rust/gpu-descriptor-types/src/device.rs
  third_party/rust/gpu-descriptor-types/src/lib.rs
  third_party/rust/gpu-descriptor-types/src/types.rs
  third_party/rust/gpu-descriptor/.cargo-checksum.json
  third_party/rust/gpu-descriptor/Cargo.toml
  third_party/rust/gpu-descriptor/README.md
  third_party/rust/gpu-descriptor/src/allocator.rs
  third_party/rust/gpu-descriptor/src/lib.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1919229: change <to-javascript-parent-initiated-parent-csp.html> to create securitypolicyviolation event on javascript URL execution. r=tschuster
  testing/web-platform/meta/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html.ini
  testing/web-platform/tests/content-security-policy/navigation/to-javascript-parent-initiated-parent-csp.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm

Bug 1899853 - Remove unused interrupted case r=manuel
  toolkit/content/aboutNetError.mjs
Due: bugzilla-components

Bug 1907273 - strict=true for .toml expressions. r=extension-reviewers,robwu,perftest-reviewers,sparky
  dom/ipc/tests/browser.toml
  testing/mochitest/runtests.py
  testing/mozbase/manifestparser/manifestparser/expression.py
  testing/mozbase/manifestparser/manifestparser/filters.py
  testing/mozbase/manifestparser/manifestparser/manifestparser.py
  testing/raptor/raptor/cmdline.py
  testing/raptor/raptor/manifest.py
  testing/xpcshell/runxpcshelltests.py
  toolkit/mozapps/extensions/test/browser/browser.toml
  toolkit/mozapps/extensions/test/xpcshell/xpcshell-unpack.toml
  toolkit/mozapps/extensions/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mochitest-harness, mozbase, raptor, mozbuild

Bug 1826822 - Make tp6 the default for AWSY r=sparky,perftest-reviewers
  python/mozperftest/mozperftest/test/alert.py
  taskcluster/kinds/test/awsy.yml
  testing/awsy/awsy/test_memory_usage.py
  testing/awsy/mach_commands.py
  testing/awsy/perfdocs/index.rst
  testing/mozharness/scripts/awsy_script.py
  testing/perfdocs/generated/awsy.rst
  tools/lint/perfdocs/framework_gatherers.py
  tools/tryselect/test/full-task-graph-perf-test.json
Due: mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, mozharness, mozlint, tryselect

Bug 1916813 - visibly disable the studies checkbox if telemetry upload is disabled to reflect reality, r=mossop,settings-reviewers
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
  toolkit/components/normandy/test/browser/browser_about_preferences.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1918184: Remove some of the XPCOM boilerplate from the profile service. r=jhirsch
  toolkit/profile/nsIToolkitProfile.idl
  toolkit/profile/nsIToolkitProfileService.idl
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915144 - Add an API to purge excess dirty pages. r=pbone
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
