Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from 7dd164df7f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/BUILD.gn
  third_party/libwebrtc/modules/audio_coding/acm2/acm_receiver.cc
  third_party/libwebrtc/modules/audio_coding/acm2/acm_receiver.h
  third_party/libwebrtc/modules/audio_coding/acm2/acm_receiver_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0124.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 71bb08d769
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_video/corruption_detection_converters.cc
  third_party/libwebrtc/common_video/corruption_detection_converters.h
  third_party/libwebrtc/common_video/corruption_detection_converters_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 4c675e3850
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_video.cc
  third_party/libwebrtc/moz-patch-stack/0081.patch
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 1869afa63a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0040.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0048.patch
  third_party/libwebrtc/moz-patch-stack/0065.patch
  third_party/libwebrtc/moz-patch-stack/0066.patch
  third_party/libwebrtc/moz-patch-stack/0067.patch
  third_party/libwebrtc/moz-patch-stack/0068.patch
  third_party/libwebrtc/moz-patch-stack/0080.patch
  third_party/libwebrtc/video/BUILD.gn
  third_party/libwebrtc/video/rtp_video_stream_receiver2.cc
  third_party/libwebrtc/video/rtp_video_stream_receiver2.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 4f732f4847
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/p2p/base/dtls_transport.cc
  third_party/libwebrtc/p2p/base/dtls_transport.h
  third_party/libwebrtc/p2p/base/dtls_transport_internal.h
  third_party/libwebrtc/p2p/base/fake_dtls_transport.h
  third_party/libwebrtc/pc/jsep_transport.cc
  third_party/libwebrtc/pc/jsep_transport.h
  third_party/libwebrtc/pc/jsep_transport_controller.cc
  third_party/libwebrtc/pc/jsep_transport_controller.h
  third_party/libwebrtc/rtc_base/openssl_stream_adapter.cc
  third_party/libwebrtc/rtc_base/openssl_stream_adapter.h
  third_party/libwebrtc/rtc_base/ssl_stream_adapter.cc
  third_party/libwebrtc/rtc_base/ssl_stream_adapter.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from dec1af31b0
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from 3489b57cdc
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from 37784ef368
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_base/byte_buffer.h
  third_party/libwebrtc/rtc_base/byte_buffer_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from c59b76affb
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from c32df1e849
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0062.patch
  third_party/libwebrtc/moz-patch-stack/0106.patch
  third_party/libwebrtc/moz-patch-stack/0109.patch
  third_party/libwebrtc/moz-patch-stack/0129.patch
  third_party/libwebrtc/rtc_base/BUILD.gn
  third_party/libwebrtc/rtc_base/openssl_stream_adapter.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 89a552a5a3
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/tools_webrtc/iwyu/apply-include-cleaner
Due: bugzilla-components

Bug 1928110 - Vendor libwebrtc from 4baeed3b97
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/peer_connection_interface.h
  third_party/libwebrtc/media/base/media_config.h
  third_party/libwebrtc/media/engine/webrtc_video_engine_unittest.cc
  third_party/libwebrtc/modules/rtp_rtcp/include/report_block_data.cc
  third_party/libwebrtc/modules/rtp_rtcp/include/report_block_data.h
  third_party/libwebrtc/modules/rtp_rtcp/source/rtcp_receiver.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtcp_transceiver_impl.cc
  third_party/libwebrtc/moz-patch-stack/0006.patch
  third_party/libwebrtc/moz-patch-stack/0007.patch
  third_party/libwebrtc/moz-patch-stack/0040.patch
  third_party/libwebrtc/moz-patch-stack/0048.patch
  third_party/libwebrtc/moz-patch-stack/0075.patch
  third_party/libwebrtc/pc/peer_connection.cc
  third_party/libwebrtc/pc/rtc_stats_collector.cc
  third_party/libwebrtc/pc/rtc_stats_collector.h
  third_party/libwebrtc/pc/rtc_stats_collector_unittest.cc
  third_party/libwebrtc/video/send_statistics_proxy_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from f653f476f0
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_audio/signal_processing/filter_ar.c
  third_party/libwebrtc/common_audio/signal_processing/include/signal_processing_library.h
  third_party/libwebrtc/common_audio/signal_processing/signal_processing_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/cng/webrtc_cng.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from eca11ca18b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_base/event_tracer.cc
  third_party/libwebrtc/rtc_base/null_socket_server.cc
  third_party/libwebrtc/rtc_base/openssl_utility.cc
  third_party/libwebrtc/rtc_base/socket_server.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 3e99f8c877
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_base/async_packet_socket.cc
  third_party/libwebrtc/rtc_base/async_packet_socket.h
  third_party/libwebrtc/rtc_base/async_tcp_socket.cc
  third_party/libwebrtc/rtc_base/async_udp_socket.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from fe6ed1364b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/logging/rtc_event_log/encoder/delta_encoding.cc
  third_party/libwebrtc/logging/rtc_event_log/events/fixed_length_encoding_parameters_v3.cc
  third_party/libwebrtc/logging/rtc_event_log/events/fixed_length_encoding_parameters_v3.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 4f6f92a986
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0040.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0048.patch
  third_party/libwebrtc/moz-patch-stack/0065.patch
  third_party/libwebrtc/moz-patch-stack/0066.patch
  third_party/libwebrtc/moz-patch-stack/0067.patch
  third_party/libwebrtc/moz-patch-stack/0068.patch
  third_party/libwebrtc/moz-patch-stack/0080.patch
  third_party/libwebrtc/video/rtp_video_stream_receiver2.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from f75ab82b46
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/units/BUILD.gn
  third_party/libwebrtc/api/units/data_rate.h
  third_party/libwebrtc/api/units/data_size.h
  third_party/libwebrtc/api/units/frequency.h
  third_party/libwebrtc/api/units/time_delta.h
  third_party/libwebrtc/api/units/timestamp.h
  third_party/libwebrtc/modules/pacing/pacing_controller.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtcp_packet/transport_feedback.cc
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0004.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0061.patch
  third_party/libwebrtc/moz-patch-stack/0105.patch
  third_party/libwebrtc/moz-patch-stack/0108.patch
  third_party/libwebrtc/moz-patch-stack/0128.patch
  third_party/libwebrtc/rtc_base/BUILD.gn
  third_party/libwebrtc/rtc_base/checks.h
  third_party/libwebrtc/rtc_base/logging.h
  third_party/libwebrtc/rtc_base/type_traits.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from b63c05d1cc
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/video/corruption_detection/corruption_classifier.cc
  third_party/libwebrtc/video/corruption_detection/corruption_classifier.h
  third_party/libwebrtc/video/corruption_detection/frame_instrumentation_evaluation.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1932170 - Add missing tools namespace on a CLOSED TREE.
  mobile/android/geckoview/src/main/AndroidManifest.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1928110 - Vendor libwebrtc from c42162cacb
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/rtp_config.cc
  third_party/libwebrtc/call/rtp_config.h
  third_party/libwebrtc/media/engine/webrtc_video_engine.cc
  third_party/libwebrtc/media/engine/webrtc_video_engine.h
  third_party/libwebrtc/media/engine/webrtc_video_engine_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1931559: Fall back to document root when implicit scope root cannot be found. r=firefox-style-system-reviewers,emilio
  dom/tests/mochitest/chrome/chrome.toml
  dom/tests/mochitest/chrome/test_bug1931559.html
  servo/components/style/gecko/data.rs
  servo/components/style/stylesheets/scope_rule.rs
  servo/components/style/stylist.rs
Due: bugzilla-components, codespell, eslint, license, rustfmt, file-whitespace, file-perm

Bug 1928110 - Vendor libwebrtc from 62b245c64f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/media_session.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm
