Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1912328 - Permit stat for allowed files in GMP process sandbox. r=gcp,gerard-majax a=pascalc
  security/sandbox/linux/SandboxFilter.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910976 - Support non-snake_case Glean event extra keys in rust r=janerik
  toolkit/components/glean/api/src/private/event.rs
  toolkit/components/glean/bindings/private/Event.cpp
  toolkit/components/glean/build_scripts/glean_parser_ext/templates/rust.jinja2
  toolkit/components/glean/tests/test_metrics.yaml
  toolkit/components/glean/tests/xpcshell/test_Glean.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, rustfmt, file-whitespace, file-perm

Bug 1910976 - Correct addons.manager.* events to use snake_case extra keys r=TravisLong,extension-reviewers,robwu
  toolkit/mozapps/extensions/AddonManager.sys.mjs
Due: bugzilla-components

Bug 1910976 - Correct browser.usage.interaction to use snake_case extra keys r=janerik
  browser/modules/BrowserUsageTelemetry.sys.mjs
Due: bugzilla-components

Bug 1881037 - Part 1: Stop showing unknown protocol error pages for web-triggered loads, r=smaug,necko-reviewers,kershaw
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
  netwerk/ipc/DocumentLoadListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1881037 - Part 2: Add a basic test for loading unknown protocols in a popup window, r=smaug
  docshell/test/mochitest/mochitest.toml
  docshell/test/mochitest/test_popup_unknown_protocol.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1881037: apply code formatting via Lando
  netwerk/ipc/DocumentLoadListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912509 - Disable usage counters for DAP, r=simonf
  dom/privateattribution/PrivateAttributionService.sys.mjs
  dom/privateattribution/metrics.yaml
  dom/privateattribution/tests/xpcshell/test_ppa.js
  toolkit/components/glean/metrics_index.py
  toolkit/components/telemetry/dap/DAPTelemetrySender.sys.mjs
  toolkit/components/telemetry/dap/metrics.yaml
  toolkit/components/telemetry/dap/tests/xpcshell/test_dap.js
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 381283 - Prevent macOS startup crashes on case sensitive file systems. r=spohl
  xpcom/base/nsMacUtilsImpl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 57f6ebd3bfa9 (bug 1789578) for causing HTMLImageElement related wpt failures
  dom/html/HTMLImageElement.cpp
  dom/html/test/test_bug1166138.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Backed out 3 changesets (bug 1881037) for causing mochitest failure on test_popup_unknown_protocol.html CLOSED TREE
  docshell/base/nsDocShell.cpp
  docshell/base/nsDocShell.h
  docshell/test/mochitest/mochitest.toml
  docshell/test/mochitest/test_popup_unknown_protocol.html
  netwerk/ipc/DocumentLoadListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1911702 - allow bugbug test loader to be used when available for reftest/crashtest. r=ahal
  taskcluster/kinds/test/reftest.yml
Due: bugzilla-components, yaml

Bug 1897622 - Remove unused dom.permissions.revoke.enable preference r=anti-tracking-reviewers,bvandersloot
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/prompts/src/main/res/values-en-rCA/strings.xml
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rCA/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 609d81dc4853 (bug 1911702) for causing python3 failure CLOSED TREE
  taskcluster/kinds/test/reftest.yml
Due: bugzilla-components, yaml

Backed out 2 changesets (bug 1905083) for causing for causing Bug 1912554. CLOSED TREE
  remote/shared/Navigate.sys.mjs
  remote/shared/NavigationManager.sys.mjs
  remote/shared/js-window-actors/NavigationListenerParent.sys.mjs
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/navigate/error.py.ini
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigate/error.py
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace

Bug 1909409 - Canonicalize paths in `nsIKeyValueService`. r=nika,media-playback-reviewers,padenot
  dom/media/mediacapabilities/KeyValueStorage.cpp
  toolkit/components/kvstore/nsIKeyValue.idl
  toolkit/components/kvstore/src/fs.rs
  toolkit/components/kvstore/src/lib.rs
  toolkit/components/kvstore/src/task.rs
  toolkit/components/kvstore/test/xpcshell/test_kvstore.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1909409 - Upgrade `kvstore` to Rust 2021. r=nika
  toolkit/components/kvstore/Cargo.toml
  toolkit/components/kvstore/src/owned_value.rs
  toolkit/components/kvstore/src/task.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1909409 - Implement an SQLite-backed `nsIKeyValueService`. r=nika
  Cargo.lock
  toolkit/components/kvstore/Cargo.toml
  toolkit/components/kvstore/components.conf
  toolkit/components/kvstore/nsIKeyValue.idl
  toolkit/components/kvstore/nsKeyValueModule.h
  toolkit/components/kvstore/src/lib.rs
  toolkit/components/kvstore/src/skv/abort.rs
  toolkit/components/kvstore/src/skv/connection.rs
  toolkit/components/kvstore/src/skv/coordinator.rs
  toolkit/components/kvstore/src/skv/database.rs
  toolkit/components/kvstore/src/skv/interface.rs
  toolkit/components/kvstore/src/skv/key.rs
  toolkit/components/kvstore/src/skv/mod.rs
  toolkit/components/kvstore/src/skv/schema.rs
  toolkit/components/kvstore/src/skv/sql.rs
  toolkit/components/kvstore/src/skv/store.rs
  toolkit/components/kvstore/src/skv/value.rs
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1909409 - Expose the new SQLite-backed `nsIKeyValueService` to chrome JS callers. r=mak,nika
  toolkit/components/kvstore/kvstore.sys.mjs
  toolkit/components/kvstore/test/xpcshell/test_sqlite_kvstore.js
  toolkit/components/kvstore/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/focus-android/app/src/main/res/values-hu/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Revert "Patch lmdb-rs to fix link error"
  Cargo.lock
  Cargo.toml
Due: bugzilla-components

Revert "Merge pull request #20 from kenz-gelsoft/patch_rust_crates"
  Cargo.lock
  Cargo.toml
Due: bugzilla-components

Bug 1909181 - Make viewport units independent from pinch-zoom scale. r=emilio a=pascalc
  layout/base/nsPresContext.cpp
  layout/base/tests/file_viewport_units_with_dynamic_toolbar.html
  layout/base/tests/mochitest.toml
  layout/base/tests/test_viewport_units_with_dynamic_toolbar.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1909181 - Revert bug 1788504 partially. r=emilio,geckoview-reviewers,ohall
  layout/generic/ScrollContainerFrame.h
  mobile/android/geckoview/src/androidTest/assets/www/bug1909181.html
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/BaseSessionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/DynamicToolbarTest.kt
Due: android-api-lint/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1909181 - Revert bug 1788504 partially. r=emilio,geckoview-reviewers,ohall a=pascalc
  layout/generic/ScrollContainerFrame.h
  mobile/android/geckoview/src/androidTest/assets/www/bug1909181.html
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/BaseSessionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/DynamicToolbarTest.kt
Due: android-api-lint/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1909181 - Make viewport units independent from pinch-zoom scale. r=emilio
  layout/base/nsPresContext.cpp
  layout/base/tests/file_viewport_units_with_dynamic_toolbar.html
  layout/base/tests/mochitest.toml
  layout/base/tests/test_viewport_units_with_dynamic_toolbar.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Use patched lmdb-rkv-sys
  Cargo.toml
Due: bugzilla-components

Audit change by `./mach cargo vet`
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: bugzilla-components

Commit vendored lmdb-rkv-sys
  third_party/rust/lmdb-rkv-sys/.cargo-checksum.json
  third_party/rust/lmdb-rkv-sys/.rustfmt.toml
  third_party/rust/lmdb-rkv-sys/Cargo.toml
  third_party/rust/lmdb-rkv-sys/lmdb/libraries/liblmdb/.gitignore
  third_party/rust/lmdb-rkv-sys/lmdb/libraries/liblmdb/mdb.c
Due: bugzilla-components, codespell, license, mingw-cap, file-whitespace, file-perm

Commit Cargo related files changed by ./mach vendor rust
  .cargo/config.toml.in
  Cargo.lock
Due: bugzilla-components

Mark glslopt as audit-as-crates-io
  supply-chain/config.toml
Due: bugzilla-components

Audit patched version of glslopt
  supply-chain/audits.toml
Due: bugzilla-components

Commit vendored glslopt
  third_party/rust/glslopt/.cargo-checksum.json
  third_party/rust/glslopt/.gitmodules
  third_party/rust/glslopt/Cargo.toml
  third_party/rust/glslopt/glsl-optimizer/.editorconfig
  third_party/rust/glslopt/glsl-optimizer/.gitignore
  third_party/rust/glslopt/glsl-optimizer/include/c11/.editorconfig
  third_party/rust/glslopt/glsl-optimizer/src/compiler/glsl/builtin_functions.cpp
  third_party/rust/glslopt/glsl-optimizer/src/util/u_endian.h
  third_party/rust/glslopt/glsl-optimizer/src/util/u_math.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Commit Cargo related files changed by ./mach vendor rust
  .cargo/config.toml.in
  Cargo.lock
  Cargo.toml
Due: bugzilla-components

Backed out 4 changesets (bug 1909409) for causing build bustages CLOSED TREE
  Cargo.lock
  dom/media/mediacapabilities/KeyValueStorage.cpp
  toolkit/components/kvstore/Cargo.toml
  toolkit/components/kvstore/components.conf
  toolkit/components/kvstore/kvstore.sys.mjs
  toolkit/components/kvstore/nsIKeyValue.idl
  toolkit/components/kvstore/nsKeyValueModule.h
  toolkit/components/kvstore/src/fs.rs
  toolkit/components/kvstore/src/lib.rs
  toolkit/components/kvstore/src/owned_value.rs
  toolkit/components/kvstore/src/skv/abort.rs
  toolkit/components/kvstore/src/skv/connection.rs
  toolkit/components/kvstore/src/skv/coordinator.rs
  toolkit/components/kvstore/src/skv/database.rs
  toolkit/components/kvstore/src/skv/interface.rs
  toolkit/components/kvstore/src/skv/key.rs
  toolkit/components/kvstore/src/skv/mod.rs
  toolkit/components/kvstore/src/skv/schema.rs
  toolkit/components/kvstore/src/skv/sql.rs
  toolkit/components/kvstore/src/skv/store.rs
  toolkit/components/kvstore/src/skv/value.rs
  toolkit/components/kvstore/src/task.rs
  toolkit/components/kvstore/test/xpcshell/test_kvstore.js
  toolkit/components/kvstore/test/xpcshell/test_sqlite_kvstore.js
  toolkit/components/kvstore/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1912335 [wpt PR 47529] - Fix runtime errors with MathML tokens-rendering-from-in-flow test, a=testonly
  testing/web-platform/tests/mathml/presentation-markup/tokens/tokens-rendering-from-in-flow.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912439 [wpt PR 47538] - Nested view transitions: support cross-document exit animations, a=testonly
  testing/web-platform/tests/css/css-view-transitions/nested/nested-exit.tentative.html
  testing/web-platform/tests/css/css-view-transitions/nested/resources/compute-test.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912439 [wpt PR 47538] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-view-transitions/nested/nested-exit.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1907057 [wpt PR 47072] - Update wpt metadata, a=testonly
  testing/web-platform/meta/WebCryptoAPI/idlharness.https.any.js.ini
  testing/web-platform/meta/css/css-anchor-position/idlharness.html.ini
  testing/web-platform/meta/css/css-conditional/container-queries/idlharness.html.ini
  testing/web-platform/meta/css/css-conditional/idlharness.html.ini
  testing/web-platform/meta/css/css-font-loading/idlharness.https.html.ini
  testing/web-platform/meta/html/dom/idlharness.https.html.ini
  testing/web-platform/meta/webaudio/idlharness.https.window.js.ini
Due: bugzilla-components, test-manifest
