Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1949451 - Fix perf regression for tab close animations r=desktop-theme-reviewers,tabbrowser-reviewers,dao
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components

Bug 1951022 - Update nullability annotations after CoordinatorLayout update. r=mcarare,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/infobanner/DynamicInfoBannerBehavior.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/EngineViewClippingBehavior.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1950784 - Update AGP to version 8.8.2. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1950786 - Update Sentry to version 8.3.0. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1951040 - Update android nightly application-services version bump to 9ff6351b8e5a9ff0cbfa14d302b838885f291576 r=release-managers,pascalc
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1950844 - Support spelling-error and grammar-error values of text-decoration-line. r=tlouw
  layout/generic/nsTextFrame.cpp
  layout/generic/nsTextFrame.h
  layout/painting/nsCSSRendering.cpp
  layout/painting/nsCSSRendering.h
  servo/components/style/values/specified/text.rs
  testing/web-platform/meta/css/css-text-decor/parsing/text-decoration-line-computed.html.ini
  testing/web-platform/meta/css/css-text-decor/parsing/text-decoration-line-valid.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, rustfmt, file-whitespace, file-perm

Bug 1950885 - Part 1: Make disable_open_click_delay pref static r=asuth,geckoview-reviewers,m_kato
  dom/notification/test/browser/browser_userContextId_openWindow.js
  dom/notification/test/mochitest/test_notification_serviceworker_openWindow.html
  dom/notification/test/mochitest/test_notification_serviceworker_openWindow_nested.html
  dom/notification/test/mochitest/test_notificationclick_focus.html
  dom/serviceworkers/ServiceWorkerOp.cpp
  dom/serviceworkers/ServiceWorkerOpArgs.ipdlh
  dom/serviceworkers/ServiceWorkerPrivate.cpp
  mobile/android/app/geckoview-prefs.js
  modules/libpref/init/StaticPrefList.yaml
  modules/libpref/init/all.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1950885 - Part 2: Make ServiceWorkerPrivate::SendNotificationEvent use IPCNotificationOptions r=asuth
  dom/ipc/DOMTypes.ipdlh
  dom/notification/Notification.cpp
  dom/notification/Notification.h
  dom/serviceworkers/ServiceWorkerManager.cpp
  dom/serviceworkers/ServiceWorkerOp.cpp
  dom/serviceworkers/ServiceWorkerOpArgs.ipdlh
  dom/serviceworkers/ServiceWorkerPrivate.cpp
  dom/serviceworkers/ServiceWorkerPrivate.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1950885: apply code formatting via Lando
  dom/notification/Notification.h
  dom/serviceworkers/ServiceWorkerPrivate.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1951032 - Hypothetical fix for unlink of RTCPeerConnection that failed to init. r=bwc
  dom/media/webrtc/jsapi/PeerConnectionImpl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1945632 - Don't try to show trending searches when search engine doesn't support it. r=android-reviewers,gl
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1950815 - Allow root icons to be stored even after pageshow. r=mossop
  browser/base/content/test/favicons/browser_favicon_nostore.js
  browser/modules/FaviconLoader.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1932708 - Remove legacy PLACES_DATABASE_CORRUPTION_HANDLING_STAGE histogram. r=Standard8
  toolkit/components/places/Database.cpp
  toolkit/components/places/tests/maintenance/test_corrupt_telemetry.js
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1945827 - Add the metrics and the tests for the telemetry related to the signature feature in pdf.js r=marco
  toolkit/components/pdfjs/content/PdfJsTelemetry.sys.mjs
  toolkit/components/pdfjs/metrics.yaml
  toolkit/components/pdfjs/test/browser.toml
  toolkit/components/pdfjs/test/browser_pdfjs_signature_telemetry.js
  toolkit/components/pdfjs/test/head.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1950911 - Remove test workaround. r=Gijs
  browser/base/content/test/popups/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1951087 - Enable crashReports unsubmittedChecks when running CrashPull notification tests r=afranchuk
  toolkit/components/crashes/tests/browser/browser.toml
Due: bugzilla-components

Bug 1950085 - Ensure DrawTargetWebgl::DrawSurface clips drawing to surface bounds. r=aosmond
  dom/canvas/DrawTargetWebgl.cpp
  gfx/2d/2D.h
  gfx/2d/DrawTargetCairo.cpp
  gfx/2d/DrawTargetD2D1.cpp
  gfx/2d/DrawTargetOffset.h
  gfx/2d/DrawTargetSkia.cpp
  gfx/2d/HelpersD2D.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1951154 - Fix AlertNotification::GetAction r=asuth
  toolkit/components/alerts/AlertNotification.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1951150 - Remove redundant 'else' condition in setupDnsOverHttpsPreference(). r=sekim
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SettingsFragment.kt
Due: android-api-lint/opt, bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1951015 - Add #extension-reviewers to mots and reviews docs r=zeid
  docs/contributing/reviews.rst
  mots.yaml
Due: bugzilla-components, codespell, yaml, rst

Bug 1951110 - Move inactive peers in mozbase to emeritus r=zeid,jmaher
  mots.yaml
Due: bugzilla-components, yaml

Bug 1951156 - Update sidebar-customization-callout-1-title string r=bolsson,fluent-reviewers,omc-reviewers
  browser/locales/en-US/browser/featureCallout.ftl
Due: bugzilla-components, codespell, localization

Bug 1948342 - Update toolbar and tabstrip context menus to include vertical tabs and sidebar r=sidebar-reviewers,jsudiaman
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/test/fullscreen/browser_fullscreen_context_menu.js
  browser/components/customizableui/ToolbarContextMenu.sys.mjs
  browser/components/customizableui/test/browser_customization_context_menus.js
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1950466 - Add Clustering Perftests for Suggest Similar Tabs r=rrando
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping.js
  taskcluster/kinds/fetch/onnxruntime-web-fetch.yml
  taskcluster/kinds/perftest/windows11-24h2-ref.yml
  taskcluster/kinds/perftest/windows11-ref.yml
  toolkit/components/ml/tests/browser/browser_ml_smart_tab_perf.js
  toolkit/components/ml/tests/browser/shared-head.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1948323 - Add ability for content tiles to have titles, and tiles to be looped in onboarding r=omc-reviewers,mviar
  browser/components/aboutwelcome/content-src/aboutwelcome.scss
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1951165 - Remove the Nightly or Debug visibility in Secret Settings of Homepage features r=android-reviewers,sanchaai
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1879349 - Improve featureless host matching. r=dshin
  servo/components/selectors/builder.rs
  servo/components/selectors/context.rs
  servo/components/selectors/matching.rs
  servo/components/selectors/parser.rs
  servo/components/style/rule_collector.rs
  servo/components/style/stylist.rs
  testing/web-platform/meta/css/css-cascade/scope-shadow.html.ini
  testing/web-platform/meta/css/css-scoping/host-multiple-003.html.ini
  testing/web-platform/meta/css/selectors/featureless-004.html.ini
  testing/web-platform/tests/css/css-scoping/host-is-006.html
  testing/web-platform/tests/css/css-scoping/host-multiple-006.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, rustfmt, file-whitespace, file-perm

Bug 1951152 - Disable Nimbus crash annotations for Thunderbird r=mkmelin,john.bieling,nimbus-reviewers,chumphreys
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
Due: bugzilla-components

Backed out changeset b1a4f0700184 (bug 1948342) for causing failures at browser_customization_context_menus.js. CLOSED TREE
  browser/base/content/main-popupset.inc.xhtml
  browser/base/content/test/fullscreen/browser_fullscreen_context_menu.js
  browser/components/customizableui/ToolbarContextMenu.sys.mjs
  browser/components/customizableui/test/browser_customization_context_menus.js
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1947586 - Remove JSMSG_TEMPORAL_INVALID_OBJECT error message; r=dminor
  js/public/friend/ErrorNumbers.msg
Due: bugzilla-components

Bug 1950946 - Remove #define realloc for graphite2. r=gfx-reviewers,aosmond
  gfx/graphite2/src/MozGrMalloc.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1950282 - add a UA override for f1tv.formula1.com; r=denschub,webcompat-reviewers,jrmuizel
  browser/extensions/webcompat/data/interventions.json
  browser/extensions/webcompat/manifest.json
  testing/webcompat/interventions/tests/test_1950282_f1tv_formula1_com.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1943308- Update shortcuts pin so it doesn't reverse sides in RTL mode for compose homepage. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/topsites/TopSites.kt
Due: android-api-lint/opt, bugzilla-components
