Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1912516 [wpt PR 47551] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/forms/the-select-element/stylable-select/selectedoptionelement-attr.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1912522 [wpt PR 47553] - Fix :active state applying to control during second click on <label>, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-label-element/control-active-with-multiple-clicks.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912526 [wpt PR 47555] - [layout] Change fit-content min-inline-size/max-inline-size behaviour., a=testonly
  testing/web-platform/tests/css/css-sizing/fit-content-max-inline-size.tentative.html
  testing/web-platform/tests/css/css-sizing/fit-content-min-inline-size.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912438 [wpt PR 47537] - Handle cloned box decorations in fieldsets., a=testonly
  testing/web-platform/tests/css/css-break/box-decoration-break-clone-024.html
  testing/web-platform/tests/css/css-break/box-decoration-break-clone-025.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912525 [wpt PR 47554] - webnn: Initialize memory allocated for CoreML and TFLite-based MLBuffers, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/buffer.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912517 [wpt PR 47552] - Allow anchor attribute to be used on Element, not just HTMLElement, a=testonly
  testing/web-platform/tests/html/dom/elements/global-attributes/the-anchor-attribute-004.tentative.html
  testing/web-platform/tests/html/dom/elements/global-attributes/the-anchor-attribute-xml.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912517 [wpt PR 47552] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/dom/elements/global-attributes/the-anchor-attribute-004.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1912536 [wpt PR 47556] - webnn: Add a BYOB version of readBuffer(), a=testonly
  testing/web-platform/tests/webnn/conformance_tests/byob_readbuffer.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912544 [wpt PR 47558] - Clean up error handling in declarative shadow DOM code, a=testonly
  testing/web-platform/tests/shadow-dom/declarative/declarative-shadow-dom-attachment.html
  testing/web-platform/tests/shadow-dom/declarative/declarative-shadow-dom-basic.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912468 [wpt PR 47539] - webnn: add float32 tests for gru and gruCell operators, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/gru.https.any.js
  testing/web-platform/tests/webnn/conformance_tests/gru_cell.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1912615 - [wpt-sync] Update web-platform-tests to 61abf518c39dc335bd1931929d20c997a58c2f58, a=testonly
  testing/web-platform/meta/css/css-highlight-api/painting/custom-highlight-painting-invalidation-007.html.ini
  testing/web-platform/meta/css/css-tables/visibility-collapse-row-003-dynamic.html.ini
  testing/web-platform/meta/dom/events/non-cancelable-when-passive/passive-mousewheel-event-listener-on-document.html.ini
  testing/web-platform/meta/focus/activeelement-after-immediately-focusing-different-site-iframe-contentwindow.html.ini
  testing/web-platform/meta/html/select/options-length-too-large.html.ini
  testing/web-platform/meta/html/semantics/document-metadata/interactions-of-styling-and-scripting/conditionally-block-rendering-on-link-media-attr.html.ini
  testing/web-platform/meta/html/semantics/document-metadata/interactions-of-styling-and-scripting/script-created-link-stylesheet-does-not-block-script.html.ini
  testing/web-platform/meta/html/semantics/forms/the-label-element/control-active-with-multiple-clicks.html.ini
  testing/web-platform/meta/html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-createHTMLDocument-fetch-error-external-classic.html.ini
  testing/web-platform/meta/idle-detection/idle-detection-allowed-by-permissions-policy.https.sub.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/screen-orientation/event-before-promise.html.ini
  testing/web-platform/meta/screen-orientation/fullscreen-interactions.html.ini
  testing/web-platform/meta/screen-orientation/lock-basic.html.ini
  testing/web-platform/meta/screen-orientation/lock-sandboxed-iframe.html.ini
  testing/web-platform/meta/screen-orientation/nested-documents.html.ini
  testing/web-platform/meta/screen-orientation/onchange-event-subframe.html.ini
  testing/web-platform/meta/screen-orientation/orientation-reading.html.ini
  testing/web-platform/meta/selection/extend-00.html.ini
  testing/web-platform/meta/storage-access-api/requestStorageAccess-cross-origin-iframe-navigation.sub.https.window.js.ini
  testing/web-platform/meta/storage-access-api/storage-access-beyond-cookies.localStorage.sub.https.window.js.ini
  testing/web-platform/meta/storage-access-api/storage-access-beyond-cookies.none.sub.https.window.js.ini
  testing/web-platform/meta/webrtc/RTCPeerConnection-getStats.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1912518 - Add http chat completion pad to about:inference r=atossou,tarek
  toolkit/components/aboutinference/content/aboutInference.html
  toolkit/components/aboutinference/content/aboutInference.js
  toolkit/components/aboutinference/tests/browser/browser_aboutinference.js
  toolkit/components/ml/content/HttpInference.sys.mjs
  toolkit/components/ml/jar.mn
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1912296: Make CacheIR ops unsupported by default in PBL. r=jandem
  js/src/vm/PortableBaselineInterpret.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1912414 - Move parent test fixture to separate files; r=aiunusov
  dom/fs/test/gtest/parent/FileSystemParentTest.cpp
  dom/fs/test/gtest/parent/FileSystemParentTest.h
  dom/fs/test/gtest/parent/TestFileSystemUsageTracking.cpp
  dom/fs/test/gtest/parent/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912414 - Add GetTestClientMetadata function; r=hsingh
  dom/fs/test/gtest/TestHelpers.cpp
  dom/fs/test/gtest/TestHelpers.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912414 - Add more helpers to FileSystemParentTest; r=dom-storage-reviewers,jari
  dom/fs/test/gtest/parent/FileSystemParentTest.cpp
  dom/fs/test/gtest/parent/FileSystemParentTest.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912414 - Create a dedicated test for origin initialization; r=dom-storage-reviewers,jari
  dom/fs/test/gtest/parent/TestFileSystemOriginInitialization.cpp
  dom/fs/test/gtest/parent/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900643 Remove unused variable `purgedSiteHosts` in BounceTrackingProtection.cpp r=manuel,anti-tracking-reviewers
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912663 - Fix some build issues with cbindgen 0.27. r=firefox-style-system-reviewers,zrhoffman a=pascalc
  servo/components/style_traits/values.rs
  servo/ports/geckolib/cbindgen.toml
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1912663 - Fix some build issues with cbindgen 0.27. r=firefox-style-system-reviewers,zrhoffman
  servo/components/style_traits/values.rs
  servo/ports/geckolib/cbindgen.toml
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Link libnetwork explicitly
  security/manager/ssl/builtins/dynamic-library/moz.build
  security/manager/ssl/ipcclientcerts/dynamic-library/moz.build
Due: bugzilla-components

Bug 1910194 - wasm: Add call_ref profiling information. r=jseward
  js/src/jit-test/tests/wasm/gc/speculative-inlining.js
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/Assembler-arm.cpp
  js/src/jit/arm/Assembler-arm.h
  js/src/jit/arm/MacroAssembler-arm.cpp
  js/src/jit/arm64/Assembler-arm64.h
  js/src/jit/arm64/MacroAssembler-arm64.cpp
  js/src/jit/arm64/vixl/Assembler-vixl.h
  js/src/jit/arm64/vixl/MozAssembler-vixl.cpp
  js/src/jit/shared/Assembler-shared.h
  js/src/jit/x64/Assembler-x64.h
  js/src/jit/x86-shared/MacroAssembler-x86-shared.cpp
  js/src/jit/x86/Assembler-x86.h
  js/src/wasm/WasmBaselineCompile.cpp
  js/src/wasm/WasmBuiltins.cpp
  js/src/wasm/WasmCodegenConstants.h
  js/src/wasm/WasmCodegenTypes.h
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmGenerator.h
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmInstance.h
  js/src/wasm/WasmInstanceData.h
  js/src/wasm/WasmIonCompile.cpp
  js/src/wasm/WasmJS.cpp
  js/src/wasm/WasmMetadata.h
  js/src/wasm/WasmModuleTypes.h
  js/src/wasm/WasmSerialize.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1910194 - wasm: Pack FuncExport better. r=jseward
  js/src/wasm/WasmCode.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910194 - wasm: Add funcExportIndices, rework getExportedFunction, rework FuncImport. r=jseward
  js/src/wasm/WasmCode.h
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmInstance.h
  js/src/wasm/WasmInstanceData.h
  js/src/wasm/WasmJS.cpp
  js/src/wasm/WasmJS.h
  js/src/wasm/WasmLog.cpp
  js/src/wasm/WasmMetadata.cpp
  js/src/wasm/WasmMetadata.h
  js/src/wasm/WasmSerialize.cpp
  js/src/wasm/WasmStubs.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910194 - wasm: Add testing functions and improve speculative inlining test. r=jseward
  js/src/builtin/TestingFunctions.cpp
  js/src/jit-test/tests/wasm/gc/speculative-inlining.js
  js/src/wasm/WasmCode.h
  js/src/wasm/WasmCompileArgs.h
  js/src/wasm/WasmInstance.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1910194 - wasm: Fix hasRet() for RequestTierUpStub. r=jseward
  js/src/wasm/WasmCodegenTypes.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910194 - wasm: Speculative inlining of call_ref. r=jseward
  js/src/wasm/WasmIonCompile.cpp
  js/src/wasm/WasmMetadata.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910194 - wasm: Don't do last-ditch GC for partial tiering. r=jseward
  js/src/wasm/WasmCode.cpp
  js/src/wasm/WasmCode.h
  js/src/wasm/WasmGenerator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910194: apply code formatting via Lando
  js/src/jit/arm64/MacroAssembler-arm64.cpp
  js/src/wasm/WasmBuiltins.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmIonCompile.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1789578 - Track responsive images not bound to a document. r=smaug
  dom/html/HTMLImageElement.cpp
  dom/html/test/test_bug1166138.html
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/source-media-outside-doc.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1912115 - HTMLImageElement shouldn't be considered broken once a load task is ongoing. r=smaug
  dom/base/nsImageLoadingContent.cpp
  dom/base/nsImageLoadingContent.h
  dom/html/HTMLImageElement.cpp
  dom/html/HTMLImageElement.h
  testing/web-platform/tests/html/semantics/embedded-content/the-img-element/update-the-image-data/not-broken-while-load-task-scheduled.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1912115 - Fix conflict with bug 1789578.
  dom/html/HTMLImageElement.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901769 - Make nsMenuPopupFrame offset handling simpler. r=edgar,NeilDeakin,TYLin
  dom/events/test/clipboard/browser_navigator_clipboard_clickjacking.js
  dom/events/test/clipboard/head.js
  layout/xul/nsMenuPopupFrame.cpp
  layout/xul/nsMenuPopupFrame.h
  toolkit/modules/ClipboardContextMenu.sys.mjs
  widget/tests/browser/browser_test_clipboard_contextmenu.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1912486 - Disallow enabling semi-space nursery via gcparam r=jonco
  .moz_log
  js/src/builtin/TestingFunctions.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
