Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1909234 - Vendor libwebrtc from fd89ff5d93
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video/BUILD.gn
  third_party/libwebrtc/api/video/builtin_video_bitrate_allocator_factory.cc
  third_party/libwebrtc/api/video/video_bitrate_allocator_factory.h
  third_party/libwebrtc/api/video_codecs/test/video_encoder_software_fallback_wrapper_unittest.cc
  third_party/libwebrtc/media/engine/simulcast_encoder_adapter.cc
  third_party/libwebrtc/media/engine/simulcast_encoder_adapter_unittest.cc
  third_party/libwebrtc/modules/video_coding/BUILD.gn
  third_party/libwebrtc/modules/video_coding/codecs/h264/h264_encoder_impl.cc
  third_party/libwebrtc/modules/video_coding/codecs/h264/h264_encoder_impl.h
  third_party/libwebrtc/modules/video_coding/codecs/vp8/default_temporal_layers_unittest.cc
  third_party/libwebrtc/modules/video_coding/codecs/vp8/libvpx_vp8_encoder.cc
  third_party/libwebrtc/modules/video_coding/utility/simulcast_rate_allocator.cc
  third_party/libwebrtc/modules/video_coding/utility/simulcast_rate_allocator.h
  third_party/libwebrtc/modules/video_coding/utility/simulcast_rate_allocator_unittest.cc
  third_party/libwebrtc/modules/video_coding/utility/simulcast_test_fixture_impl.cc
  third_party/libwebrtc/modules/video_coding/utility/simulcast_test_fixture_impl.h
  third_party/libwebrtc/moz-patch-stack/0021.patch
  third_party/libwebrtc/video/video_stream_encoder_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 0ce7de7aa8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/experiments/field_trials.py
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_packet_history.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_packet_history.h
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_packet_history_unittest.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_rtcp_impl.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_rtcp_impl2.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_egress_unittest.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0006.patch
  third_party/libwebrtc/moz-patch-stack/0007.patch
  third_party/libwebrtc/moz-patch-stack/0049.patch
  third_party/libwebrtc/moz-patch-stack/0100.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 2192284746
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/g3doc/style-guide.md
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from d0caa4bd5a
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Backed out changeset b533a811b58e (bug 1909325) for causing build bustages related to metrics.yaml. CLOSED TREE
  toolkit/components/pdfjs/metrics.yaml
Due: bugzilla-components, yaml

Bug 1909234 - Vendor libwebrtc from bad99ab253
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/audio/audio_receive_stream.cc
  third_party/libwebrtc/audio/audio_receive_stream.h
  third_party/libwebrtc/audio/audio_receive_stream_unittest.cc
  third_party/libwebrtc/audio/channel_receive.cc
  third_party/libwebrtc/audio/channel_receive.h
  third_party/libwebrtc/audio/mock_voe_channel_proxy.h
  third_party/libwebrtc/call/audio_receive_stream.h
  third_party/libwebrtc/call/audio_send_stream.h
  third_party/libwebrtc/call/receive_stream.h
  third_party/libwebrtc/call/video_receive_stream.h
  third_party/libwebrtc/media/base/fake_media_engine.h
  third_party/libwebrtc/media/base/media_channel.h
  third_party/libwebrtc/media/engine/fake_webrtc_call.cc
  third_party/libwebrtc/media/engine/fake_webrtc_call.h
  third_party/libwebrtc/media/engine/webrtc_voice_engine.cc
  third_party/libwebrtc/media/engine/webrtc_voice_engine.h
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0006.patch
  third_party/libwebrtc/moz-patch-stack/0007.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0032.patch
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0045.patch
  third_party/libwebrtc/moz-patch-stack/0049.patch
  third_party/libwebrtc/moz-patch-stack/0067.patch
  third_party/libwebrtc/pc/media_session.cc
  third_party/libwebrtc/pc/sdp_offer_answer_unittest.cc
  third_party/libwebrtc/pc/test/mock_voice_media_receive_channel_interface.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908344 - Improve prompts showing r=android-reviewers,Roger
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/PromptFeature.kt
Due: android-api-lint/opt, bugzilla-components

Backed out 2 changesets (bug 1909544) for causing leaks. CLOSED TREE
  devtools/client/definitions.js
  devtools/server/connectors/js-process-actor/target-watchers/worker.sys.mjs
  devtools/server/tracer/tracer.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1909729 - Disable PPA submission and trial on Android by default. r=bgrins
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1909325 - Implement telemetry for the new alt text flow r=tarek
  toolkit/components/pdfjs/metrics.yaml
Due: bugzilla-components, yaml

Bug 1905674: Create an aggregate memory reporter for SourceSurfaceRawData. r=gfx-reviewers,lsalzman
  gfx/2d/Factory.cpp
  gfx/2d/SourceSurfaceRawData.cpp
  gfx/2d/SourceSurfaceRawData.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900846: Add perfetto track event specialization for the NetworkMarker. r=necko-reviewers,canaltinova,jesup
  netwerk/protocol/http/NetworkMarker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900846: Emit gecko profiler markers as perfetto track events if enabled. r=profiler-reviewers,canaltinova
  tools/performance/Perfetto.cpp
  tools/performance/Perfetto.h
  tools/profiler/core/platform.cpp
  tools/profiler/public/ProfilerMarkers.h
  tools/profiler/public/ProfilerState.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900846: Remove duplicate definitions of perfetto macros. r=canaltinova,profiler-reviewers
  tools/profiler/public/GeckoTraceEvent.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900846: Pass each individual field as parameters instead of the CycleCollectorResults struct when emitting the CCIntervalMarker profiler marker. r=canaltinova
  xpcom/base/nsCycleCollector.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904754 - Schedule Updatebot to check for new zstd releases. r=jesup
  third_party/zstd/moz.yaml
Due: bugzilla-components, yaml

Bug 1904754 - Update zstd to 1.5.6. r=jesup
  third_party/zstd/lib/common/cpu.h
  third_party/zstd/lib/libzstd.mk
  third_party/zstd/moz.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1909653 - Update test expectation for scroll-timeline-range and view-timeline-range. r=layout-reviewers,emilio
  testing/web-platform/meta/scroll-animations/css/scroll-timeline-range-animation.html.ini
  testing/web-platform/meta/scroll-animations/css/view-timeline-range-animation.html.ini
Due: bugzilla-components, test-manifest

Bug 1909581 - Upgrade warp to 0.3.7. r=supply-chain-reviewers
  .cargo/config.toml.in
  Cargo.lock
  Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  third_party/rust/warp/.cargo-checksum.json
  third_party/rust/warp/.github/FUNDING.yml
  third_party/rust/warp/.github/ISSUE_TEMPLATE/bug_report.md
  third_party/rust/warp/.github/ISSUE_TEMPLATE/config.yml
  third_party/rust/warp/.github/ISSUE_TEMPLATE/feature_request.md
  third_party/rust/warp/.github/workflows/ci.yml
  third_party/rust/warp/CHANGELOG.md
  third_party/rust/warp/Cargo.lock
  third_party/rust/warp/Cargo.toml
  third_party/rust/warp/examples/tls.rs
  third_party/rust/warp/examples/tls/cert.ecc.pem
  third_party/rust/warp/examples/tls/key.ecc
  third_party/rust/warp/src/filters/body.rs
  third_party/rust/warp/src/filters/cors.rs
  third_party/rust/warp/src/filters/fs.rs
  third_party/rust/warp/src/filters/log.rs
  third_party/rust/warp/src/filters/multipart.rs
  third_party/rust/warp/src/filters/query.rs
  third_party/rust/warp/src/filters/sse.rs
  third_party/rust/warp/src/filters/trace.rs
  third_party/rust/warp/src/filters/ws.rs
  third_party/rust/warp/src/lib.rs
  third_party/rust/warp/src/reject.rs
  third_party/rust/warp/src/reply.rs
  third_party/rust/warp/src/test.rs
  third_party/rust/warp/src/tls.rs
Due: bugzilla-components, license, yaml, rustfmt, file-whitespace, file-perm

Bug 1909559 - Put webgl.drawingBufferColorSpace behind pref webgl.colorspaces.prototype. r=gfx-reviewers,webidl,saschanaz,ahale
  dom/webidl/WebGLRenderingContext.webidl
Due: bugzilla-components

Bug 1891615 - updated apostrophe for string translations r=android-reviewers,Roger
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset e2de2a86795f (bug 1800882)
  dom/base/AnimationFrameProvider.cpp
  dom/base/AnimationFrameProvider.h
  dom/base/Document.cpp
  dom/base/Document.h
  dom/base/RequestCallbackManager.h
  dom/base/VideoFrameProvider.h
  dom/base/moz.build
  dom/canvas/test/webgl-conf/mochi-single.html
  dom/html/HTMLMediaElement.h
  dom/html/HTMLVideoElement.cpp
  dom/html/HTMLVideoElement.h
  dom/media/MediaManager.h
  dom/webidl/HTMLVideoElement.webidl
  layout/base/nsRefreshDriver.cpp
  layout/base/nsRefreshDriver.h
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/html/canvas/element/manual/imagebitmap/canvas-createImageBitmap-video-resize.html.ini
  testing/web-platform/meta/video-rvfc/__dir__.ini
  testing/web-platform/meta/video-rvfc/idlharness.window.js.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-before-xr-session.https.html.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-dom.html.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-during-xr-session.https.html.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-parallel.html.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-repeating.html.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback-webrtc.https.html.ini
  testing/web-platform/meta/video-rvfc/request-video-frame-callback.html.ini
  testing/web-platform/meta/webcodecs/__dir__.ini
  testing/web-platform/meta/webcodecs/videoFrame-canvasImageSource.html.ini
  testing/web-platform/mozilla/meta/webgpu/__dir__.ini
  xpcom/threads/nsThreadUtils.cpp
  xpcom/threads/nsThreadUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, yaml, file-whitespace, file-perm

Backed out 7 changesets (bug 1892021) for causing mochitest failures related to browser_credential_chooser.js. CLOSED TREE
  browser/base/content/browser.xhtml
  browser/base/content/popup-notifications.inc
  browser/locales/jar.mn
  browser/themes/shared/identity-credential-notification.css
  browser/themes/shared/notification-icons.css
  dom/base/nsGlobalWindowInner.cpp
  dom/base/nsGlobalWindowInner.h
  dom/credentialmanagement/CredentialsContainer.cpp
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/IdentityCredential.h
  dom/ipc/PWindowGlobal.ipdl
  dom/ipc/WindowGlobalChild.cpp
  dom/ipc/WindowGlobalChild.h
  dom/ipc/WindowGlobalParent.cpp
  dom/ipc/WindowGlobalParent.h
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/mozilla/meta/credential-management/__dir__.ini
  testing/web-platform/mozilla/tests/credential-management/identity.create-store-collect.sub.https.html
  testing/web-platform/mozilla/tests/credential-management/identity.discovery.sub.https.html
  testing/web-platform/mozilla/tests/credential-management/support/helpers.js
  toolkit/components/credentialmanagement/CredentialChooserService.sys.mjs
  toolkit/components/credentialmanagement/CredentialChosenCallback.cpp
  toolkit/components/credentialmanagement/CredentialChosenCallback.h
  toolkit/components/credentialmanagement/IdentityCredentialRequestManager.cpp
  toolkit/components/credentialmanagement/IdentityCredentialRequestManager.h
  toolkit/components/credentialmanagement/IdentityCredentialStorageService.cpp
  toolkit/components/credentialmanagement/credentialChooser.ftl
  toolkit/components/credentialmanagement/nsICredentialChooserService.idl
  toolkit/components/credentialmanagement/nsICredentialChosenCallback.idl
  toolkit/components/credentialmanagement/tests/browser/browser.toml
  toolkit/components/credentialmanagement/tests/browser/browser_credential_chooser.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, wptlint-gecko, yaml, file-whitespace, file-perm

Bug 1901621 - Use start menu pinning as targeting for messages r=aminomancer,omc-reviewers,firefox-desktop-core-reviewers ,pdahiya,fluent-reviewers
  browser/components/BrowserGlue.sys.mjs
  browser/components/aboutwelcome/actors/AboutWelcomeParent.sys.mjs
  browser/components/aboutwelcome/modules/AboutWelcomeDefaults.sys.mjs
  browser/components/asrouter/docs/targeting-attributes.md
  browser/components/asrouter/modules/ASRouterTargeting.sys.mjs
  browser/components/asrouter/modules/OnboardingMessageProvider.sys.mjs
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/components/asrouter/tests/xpcshell/test_OnboardingMessageProvider.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1900035 - Added Windows start menu pinning to MSIX set-to-default and taskbar pinning scenarios r=omc-reviewers,firefox-desktop-core-reviewers ,Gijs,mpohle,aminomancer,pdahiya
  browser/app/profile/firefox.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/metrics.yaml
  browser/components/shell/ShellService.sys.mjs
  browser/components/tests/browser/browser_default_browser_prompt.js
  browser/components/tests/browser/head.js
  toolkit/components/messaging-system/lib/SpecialMessageActions.sys.mjs
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/SpecialMessageActionSchemas.json
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/index.md
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser.toml
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser_sma_pin_start_menu.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Bug 1905090 - Update strings to reflect MSIX pin to start functionality r=fluent-reviewers,omc-reviewers,firefox-desktop-core-reviewers ,mak,mviar
  browser/components/BrowserGlue.sys.mjs
  browser/components/aboutwelcome/modules/AboutWelcomeDefaults.sys.mjs
  browser/components/aboutwelcome/tests/browser/browser_aboutwelcome_multistage_default.js
  browser/components/aboutwelcome/tests/unit/unit-entry.js
  browser/components/asrouter/modules/OnboardingMessageProvider.sys.mjs
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/components/asrouter/tests/unit/unit-entry.js
  browser/locales/en-US/browser/defaultBrowserNotification.ftl
  browser/locales/en-US/browser/newtab/onboarding.ftl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1909720 - Disable helper_relative_scroll_smoothness.html in the input-type=native-key configuration on Windows. r=hiro
  gfx/layers/apz/test/mochitest/helper_relative_scroll_smoothness.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1907387 - land NSS NSS_3_102_1_RTM UPGRADE_NSS_RELEASE, r=keeler a=dmeehan
  security/nss/TAG-INFO
  security/nss/coreconf/coreconf.dep
  security/nss/doc/rst/releases/nss_3_102_1.rst
  security/nss/lib/ckfw/builtins/nssckbi.h
  security/nss/lib/freebl/chacha20poly1305.c
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rst, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 4b8cfc4f13
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0063.patch
  third_party/libwebrtc/moz-patch-stack/0109.patch
  third_party/libwebrtc/rtc_base/BUILD.gn
  third_party/libwebrtc/rtc_base/crypt_string.cc
  third_party/libwebrtc/rtc_base/crypt_string.h
  third_party/libwebrtc/rtc_base/socket_adapters.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from ef4d62e8d5
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/infra/specs/gn_isolate_map.pyl
  third_party/libwebrtc/tools_webrtc/ensure_webcam_is_running.py
  third_party/libwebrtc/tools_webrtc/mb/mb.py
  third_party/libwebrtc/tools_webrtc/mb/mb_unittest.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1909234 - Vendor libwebrtc from b10c7b1bbf
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from d375370cd6
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1909018 - Migrate gfx/vr off PlainOldDataSerializer. r=mccr8,nika
  dom/bindings/TypedArray.h
  dom/canvas/TiedFields.h
  dom/vr/VRDisplay.cpp
  dom/vr/VRServiceTest.cpp
  gfx/vr/VRDisplayClient.cpp
  gfx/vr/VRDisplayClient.h
  gfx/vr/VRManager.cpp
  gfx/vr/VRShMem.cpp
  gfx/vr/VRShMem.h
  gfx/vr/external_api/moz_external_vr.h
  gfx/vr/gfxVR.cpp
  gfx/vr/gfxVR.h
  gfx/vr/ipc/VRMessageUtils.h
  gfx/vr/moz.build
  gfx/vr/service/OSVRSession.cpp
  gfx/vr/service/OculusSession.cpp
  gfx/vr/service/OpenVRSession.cpp
  ipc/chromium/src/base/pickle.cc
  ipc/chromium/src/base/pickle.h
  ipc/chromium/src/chrome/common/ipc_message_utils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 7ab1a60d47
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1908380 - Check for context loss in WebGLVertexArrayJS::WebGLVertexArrayJS. r=gfx-reviewers,lsalzman
  dom/canvas/ClientWebGLContext.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1776965 - Skip helper_touch_drag_root_scrollbar.html on linux. r=botond
  gfx/layers/apz/test/mochitest/test_group_touchevents-5.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1909234 - Vendor libwebrtc from 5ef183eee8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0063.patch
  third_party/libwebrtc/moz-patch-stack/0109.patch
  third_party/libwebrtc/rtc_base/BUILD.gn
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from 7518ae9ac9
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video_codecs/libaom_av1_encoder_factory.cc
  third_party/libwebrtc/api/video_codecs/libaom_av1_encoder_factory_test.cc
  third_party/libwebrtc/api/video_codecs/video_encoder_interface.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 87976eb7e1
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from 833ec4d123
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/p2p/BUILD.gn
  third_party/libwebrtc/p2p/base/fake_port_allocator.h
  third_party/libwebrtc/p2p/base/port.cc
  third_party/libwebrtc/p2p/base/port.h
  third_party/libwebrtc/p2p/base/port_interface.h
  third_party/libwebrtc/p2p/base/port_unittest.cc
  third_party/libwebrtc/p2p/base/stun_port.cc
  third_party/libwebrtc/p2p/base/stun_port.h
  third_party/libwebrtc/p2p/base/stun_port_unittest.cc
  third_party/libwebrtc/p2p/base/tcp_port.cc
  third_party/libwebrtc/p2p/base/tcp_port.h
  third_party/libwebrtc/p2p/base/tcp_port_unittest.cc
  third_party/libwebrtc/p2p/base/turn_port.cc
  third_party/libwebrtc/p2p/base/turn_port.h
  third_party/libwebrtc/p2p/base/turn_port_unittest.cc
  third_party/libwebrtc/p2p/client/basic_port_allocator.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
