Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1950534 [wpt PR 50956] - corner-shape: support hit-testing, a=testonly
  testing/web-platform/tests/css/css-borders/tentative/corner-shape/corner-shape-hittest.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950597 [wpt PR 50960] - Items that start with a zero width space may be impacted by whitespace collapsing, a=testonly
  testing/web-platform/tests/editing/crashtests/white-space-nowrap-to-pre-line.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1949429 [wpt PR 50829] - Command updates, a=testonly
  testing/web-platform/tests/html/semantics/popovers/button-type-popovertarget.html
  testing/web-platform/tests/html/semantics/popovers/input-type-popovertarget.html
  testing/web-platform/tests/html/semantics/the-button-element/command-and-commandfor/button-event-dispatch.html
  testing/web-platform/tests/html/semantics/the-button-element/command-and-commandfor/button-type-behavior.html
  testing/web-platform/tests/html/semantics/the-button-element/command-and-commandfor/button-type-reflection.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950613 [wpt PR 50957] - Remove FragmentData::FragmentID()., a=testonly
  testing/web-platform/tests/css/css-multicol/crashtests/video-container-become-multicol.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1949429 [wpt PR 50829] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/popovers/button-type-popovertarget.html.ini
  testing/web-platform/meta/html/semantics/popovers/input-type-popovertarget.html.ini
  testing/web-platform/meta/html/semantics/the-button-element/command-and-commandfor/button-event-dispatch.html.ini
  testing/web-platform/meta/html/semantics/the-button-element/command-and-commandfor/button-type-behavior.html.ini
  testing/web-platform/meta/html/semantics/the-button-element/command-and-commandfor/button-type-reflection.html.ini
Due: bugzilla-components, test-manifest

Bug 1950635 [wpt PR 50965] - Evaluate media() queries in if() condition, a=testonly
  testing/web-platform/tests/css/css-values/if-conditionals.html
  testing/web-platform/tests/css/css-values/if-media-invalidation.html
  testing/web-platform/tests/css/css-values/if-style-invalidation.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950635 [wpt PR 50965] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/if-conditionals.html.ini
  testing/web-platform/meta/css/css-values/if-invalidation.html.ini
  testing/web-platform/meta/css/css-values/if-media-invalidation.html.ini
  testing/web-platform/meta/css/css-values/if-style-invalidation.html.ini
Due: bugzilla-components, test-manifest

Bug 1950634 [wpt PR 50964] - [functions] Use correct TreeScope for @container lookup, a=testonly
  testing/web-platform/tests/css/css-mixins/function-shadow-container.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950634 [wpt PR 50964] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-mixins/function-shadow-container.html.ini
Due: bugzilla-components, test-manifest

Bug 1950647 [wpt PR 50968] - Construct ViewTransition object for element., a=testonly
  testing/web-platform/tests/css/css-view-transitions/scoped/start-view-transition.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950647 [wpt PR 50968] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-view-transitions/scoped/start-view-transition.html.ini
Due: bugzilla-components, test-manifest

Bug 1950354 [wpt PR 50926] - layout: Support `stretch` cross size for automatic min size in flexbox, a=testonly
  testing/web-platform/tests/css/css-sizing/stretch/flexbox-auto-minimum-001.html
  testing/web-platform/tests/css/css-sizing/stretch/flexbox-auto-minimum-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950674 [wpt PR 50969] - Cleanup Canvas text direction tests, a=testonly
  testing/web-platform/tests/html/canvas/element/manual/text/canvas.2d.direction-ref.html
  testing/web-platform/tests/html/canvas/element/manual/text/canvas.2d.direction.dynamic-ref.html
  testing/web-platform/tests/html/canvas/element/manual/text/canvas.2d.direction.inherit.canvas.html
  testing/web-platform/tests/html/canvas/element/manual/text/canvas.2d.direction.inherit.disconnected.canvas.html
  testing/web-platform/tests/html/canvas/element/manual/text/canvas.2d.direction.inherit.document.html
  testing/web-platform/tests/html/canvas/element/manual/text/canvas.2d.direction.inherit.dynamic.canvas.html
  testing/web-platform/tests/html/canvas/element/manual/text/canvas.2d.direction.inherit.style.html
  testing/web-platform/tests/html/canvas/element/text/2d.text.direction.default.tentative.html
  testing/web-platform/tests/html/canvas/element/text/2d.text.direction.invalid.html
  testing/web-platform/tests/html/canvas/element/text/2d.text.direction.valid.tentative.html
  testing/web-platform/tests/html/canvas/offscreen/manual/text/canvas.2d.offscreen.direction-ref.html
  testing/web-platform/tests/html/canvas/offscreen/manual/text/canvas.2d.offscreen.direction.html
  testing/web-platform/tests/html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.direction.inherit.document.html
  testing/web-platform/tests/html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.direction.inherit.html
  testing/web-platform/tests/html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.direction-ref.html
  testing/web-platform/tests/html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.direction.html
  testing/web-platform/tests/html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.direction.inherit.html
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.direction.default.tentative.html
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.direction.default.tentative.worker.js
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.direction.invalid.html
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.direction.invalid.worker.js
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.direction.valid.tentative.html
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.direction.valid.tentative.worker.js
  testing/web-platform/tests/html/canvas/tools/yaml/text.yaml
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, yaml, file-perm

Bug 1950713 [wpt PR 50974] - cv/carousel: Always style c-v auto locks under scroll-marker-group, a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-markers-added-after-content-visibility-auto.html
  testing/web-platform/tests/css/css-overflow/scroll-markers-added-before-content-visibility-auto.html
  testing/web-platform/tests/css/css-overflow/scroll-markers-under-content-visibility-auto-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-markers-under-content-visibility-auto.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950518 [wpt PR 50948] - layout: Support `stretch` cross size for flex base size, a=testonly
  testing/web-platform/tests/css/css-sizing/stretch/flexbox-flex-base-size-001.html
  testing/web-platform/tests/css/css-sizing/stretch/flexbox-flex-base-size-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950715 [wpt PR 50975] - [SAA] Remove permission state manipulation from autogrant WPTs, a=testonly
  testing/web-platform/tests/storage-access-api/requestStorageAccess.sub.https.window.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950738 [wpt PR 50978] - Add UA ::scroll-marker style styling as links, a=testonly
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-001-ref.html
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-002-ref.html
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-006-ref.html
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-007-ref.html
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-008.html
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-counters-ref.html
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-reattach-target-current-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-010-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-011-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-counters-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-group-add-dynamic-001-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-group-keeps-active-in-view-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-group-snap-aligns-to-active-ref.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950736 [wpt PR 50977] - [SRI Message Signatures] Support the `@query` derived component., a=testonly
  testing/web-platform/tests/subresource-integrity/signatures/query-resource.py
  testing/web-platform/tests/subresource-integrity/signatures/tentative/helper.js
  testing/web-platform/tests/subresource-integrity/signatures/tentative/query.window.js
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, wptlint-gecko, file-whitespace, file-perm

Bug 1950736 [wpt PR 50977] - Update wpt metadata, a=testonly
  testing/web-platform/meta/subresource-integrity/signatures/tentative/query.window.js.ini
Due: bugzilla-components, test-manifest

Bug 1950633 [wpt PR 50963] - [functions] Use keyframe's tree scope when resolving keyframe values, a=testonly
  testing/web-platform/tests/css/css-mixins/function-shadow-animations.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950633 [wpt PR 50963] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-mixins/function-shadow-animations.html.ini
Due: bugzilla-components, test-manifest

Bug 1950760 [wpt PR 50982] - [memory] Fix `InlineItem::index_` for `::first-line`, a=testonly
  testing/web-platform/tests/css/css-pseudo/crashtests/first-line-marquee-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950765 [wpt PR 50983] - Fix my name and email in author metadata, a=testonly
  testing/web-platform/tests/css/CSS2/floats/float-in-inline-anonymous-block-with-overflow-hidden.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950533 [wpt PR 50955] - [IndexedDB] Add more detached array buffer WPT coverage for keys, a=testonly
  testing/web-platform/tests/IndexedDB/idb-binary-key-detached.htm
Due: bugzilla-components, wptlint-gecko

Bug 1950769 [wpt PR 50984] - webnn: implement prelu on coreml, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/prelu.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950770 [wpt PR 50985] - The container node of the dialog element should be connected to a document, a=testonly
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-insert-disconnected-node-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1950820 - Update metadata for wasm/jsapi/jspi/js-promise-integration.any.js. CLOSED TREE
  testing/web-platform/meta/wasm/jsapi/jspi/js-promise-integration.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1950458 [Wayland] Don't map NativeLayerWayland if it's waiting to be cleaned up at main thread r=lsalzman
  gfx/layers/NativeLayerWayland.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1950905 - Assert that win32k is available in native event code. r=bobowen
  widget/windows/nsAppShell.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1947818 - Fix for sidebar splitter issues r=desktop-theme-reviewers,sidebar-reviewers,jsudiaman,dao
  browser/base/content/test/sidebar/browser_sidebar_move.js
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_customize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_position.js
  browser/themes/shared/sidebar.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1950118 - Remove unused legacy event telemetry probe r=necko-reviewers,jesup
  toolkit/components/telemetry/Events.yaml
Due: bugzilla-components, yaml

Bug 1950626 Fix mistakes in Element-setAttribute-respects-Elements-node-documents-globals-CSP-after-adoption-from-non-TT-realm.html. r=smaug
  testing/web-platform/meta/trusted-types/Element-setAttribute-respects-Elements-node-documents-globals-CSP-after-adoption-from-non-TT-realm.html.ini
  testing/web-platform/tests/trusted-types/Element-setAttribute-respects-Elements-node-documents-globals-CSP-after-adoption-from-non-TT-realm.html
  testing/web-platform/tests/trusted-types/require-trusted-types-for-TypeError-belongs-to-the-global-object-realm.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm
