Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1902115 - Implement clone-configuration for VideoFrameCopyToOptions r=media-playback-reviewers,padenot
  dom/media/webcodecs/VideoFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902115 - Implement ConvertToColorSpace r=media-playback-reviewers,padenot
  dom/media/webcodecs/VideoFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902115 - Alphabetize include headers in ImageConversion.cpp r=media-playback-reviewers,padenot
  dom/media/ImageConversion.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902115 - Implement ConvertToRGBAImage r=media-playback-reviewers,padenot
  dom/media/ImageConversion.cpp
  dom/media/ImageConversion.h
  dom/media/webcodecs/VideoFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902115 - No conversion needed if colors and formats are same r=media-playback-reviewers,padenot
  dom/media/webcodecs/VideoFrame.cpp
  dom/media/webcodecs/WebCodecsUtils.cpp
  dom/media/webcodecs/WebCodecsUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902115 - Implement ConvertToRGBA r=media-playback-reviewers,padenot
  dom/media/ImageConversion.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902115 - Update WPT expectations r=padenot
  testing/web-platform/meta/webcodecs/videoFrame-copyTo-rgb.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1902115 - Remove unnecessary I420 VideoFrame creation r=media-playback-reviewers,padenot
  testing/web-platform/tests/webcodecs/videoFrame-copyTo-rgb.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1906557 - Only show the New Tab button in the toolbar redesign r=android-reviewers,Roger
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/HomeScreenWithNavbarTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavigationBar.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset e4a4b630e627 (bug 1897914) for causing build bustages in platform.cpp CLOSED TREE
  tools/profiler/core/platform.cpp
  tools/profiler/gecko/nsIProfiler.idl
  tools/profiler/gecko/nsProfiler.cpp
  tools/profiler/gecko/nsProfiler.h
  tools/profiler/tests/browser/browser.toml
  tools/profiler/tests/browser/browser_test_feature_multiprocess_capture_with_signal.js
  tools/profiler/tests/shared-head.js
  tools/profiler/tests/xpcshell/test_feature_posix_signals.js
  tools/profiler/tests/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/prompts/src/main/res/values-es/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1906866 - Implement %IteratorPrototype%[@@dispose](). r=arai
  js/src/builtin/Iterator.js
  js/src/jit-test/tests/explicit-resource-management/alias-to-iterator-return-calls.js
  js/src/jit-test/tests/explicit-resource-management/alias-to-iterator-return-properties.js
  js/src/vm/Iteration.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1081542 - Part 1: Add nsIBrowserDOMWindow.OPEN_NEWTAB_FOREGROUND. r=smaug,geckoview-reviewers,Gijs,amejiamarmol,tabbrowser-reviewers,dao
  browser/base/content/browser.js
  browser/components/tabbrowser/test/browser/tabs/browser_openURI_background.js
  dom/interfaces/base/nsIBrowserDOMWindow.idl
  dom/ipc/ContentParent.cpp
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSession.java
  mobile/shared/modules/geckoview/GeckoViewNavigation.sys.mjs
  netwerk/ipc/DocumentLoadListener.cpp
  xpfe/appshell/nsContentTreeOwner.cpp
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1081542 - Part 3: Reflect browser.tabs.loadInBackground to window.open with meta/ctrl key. r=smaug
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1081542 - Part 2: Move browser.tabs.loadInBackground to StaticPrefList.yaml to access it from nsWindowWatcher::IsWindowOpenLocationModified. r=smaug
  browser/app/profile/firefox.js
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Bug 1081542 - Part 5: Move middlemouse.openNewWindow to StaticPrefList.yaml to access it from nsWindowWatcher::IsWindowOpenLocationModified. r=smaug
  modules/libpref/init/StaticPrefList.yaml
  modules/libpref/init/all.js
  modules/libpref/moz.build
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Bug 1081542 - Part 4: Move browser.tabs.opentabfor.middleclick to StaticPrefList.yaml to access it from nsWindowWatcher::IsWindowOpenLocationModified. r=smaug
  browser/app/profile/firefox.js
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Bug 1081542 - Part 6: Reflect middle click to UserActivation::Modifiers. r=smaug
  dom/base/UserActivation.h
  dom/events/EventStateManager.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1081542 - Part 7: Reflect middle click to window.open. r=smaug
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
  toolkit/content/tests/browser/browser_cancel_starting_autoscrolling_requested_by_background_tab.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1081542 - Part 8: Add tests. r=smaug,tabbrowser-reviewers,mak
  browser/components/tabbrowser/test/browser/tabs/browser_window_open_modifiers.js
  browser/components/tabbrowser/test/browser/tabs/file_window_open.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1906393 - Add nsIIncrementalStreamLoader.onStartRequest. r=necko-reviewers,kershaw
  dom/script/ScriptLoadHandler.cpp
  js/xpconnect/loader/ChromeScriptLoader.cpp
  netwerk/base/nsIIncrementalStreamLoader.idl
  netwerk/base/nsIncrementalStreamLoader.cpp
  netwerk/test/unit/test_bug1218029.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1905597 - Add nsContentUtils::ShouldBypassSubResourceCache. r=emilio
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  layout/style/Loader.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1906055 - Correctly display close button in microsurvey bottom sheet r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicroSurveyHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyBottomSheet.kt
Due: android-api-lint/opt, bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1902264 - Add a method to get a prompt id to GeckoView. r=geckoview-reviewers,owlish
  mobile/shared/actors/GeckoViewPrompterParent.sys.mjs
Due: bugzilla-components

Bug 1902264 - Check correctly for prompt id when receiving a "geckoview-prompt-show" on Android. r=webdriver-reviewers,jdescottes
  remote/shared/listeners/PromptListener.sys.mjs
Due: bugzilla-components

Bug 1902264 - [wdspec] Add test for "browsingContext.userPromptOpened" event with two prompts. r=webdriver-reviewers,jdescottes
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1896054 - Import chromium's glibc hack r=gcp,frontend-codestyle-reviewers,Standard8
  .prettierignore
  security/sandbox/linux/launch/glibc_hack/LICENSE
  security/sandbox/linux/launch/glibc_hack/extract-sandbox.py
  security/sandbox/linux/launch/glibc_hack/moz.yaml
  security/sandbox/linux/launch/glibc_hack/namespace_sandbox.inc
  security/sandbox/linux/launch/glibc_hack/sandbox/linux/services/namespace_sandbox.cc
  tools/rewriting/ThirdPartyPaths.txt
Due: bugzilla-components, codespell, license, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1874689 - Enable forkserver by default in Nightly. r=jld
  dom/docs/ipc/process_model.rst
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, lintpref, yaml, rst

Bug 1896054 - Circumvent glibc tid bug using the same hack as Chrome r=gcp,firefox-build-system-reviewers,glandium
  security/sandbox/linux/launch/SandboxLaunch.cpp
  security/sandbox/linux/launch/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1889218 - Remove gray unmarking assertion that doesn't always hold when marking in parallel r=sfink
  js/src/gc/Marking.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 9a0e6453ea8f (bug 1906768) for causing android wpt failures. CLOSED TREE
  layout/generic/nsBlockFrame.cpp
  testing/web-platform/tests/css/CSS2/floats/crashtests/firefox-bug-1906768.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1906944 - Remove Servo `legacy_layout` preference guards r=emilio
  servo/components/style/properties/longhands/box.mako.rs
  servo/components/style/properties/longhands/counters.mako.rs
  servo/components/style/properties/longhands/effects.mako.rs
  servo/components/style/properties/longhands/inherited_box.mako.rs
  servo/components/style/properties/longhands/inherited_table.mako.rs
  servo/components/style/properties/longhands/inherited_text.mako.rs
  servo/components/style/properties/longhands/list.mako.rs
  servo/components/style/properties/longhands/position.mako.rs
  servo/components/style/properties/longhands/table.mako.rs
  servo/components/style/properties/longhands/text.mako.rs
  servo/components/style/properties/shorthands/border.mako.rs
  servo/components/style/properties/shorthands/font.mako.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1844563 - Add a Remote Settings BounceTrackingProtection allow-list. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/BTPRemoteExceptionList.sys.mjs
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.h
  toolkit/components/antitracking/bouncetrackingprotection/components.conf
  toolkit/components/antitracking/bouncetrackingprotection/moz.build
  toolkit/components/antitracking/bouncetrackingprotection/nsIBTPRemoteExceptionList.idl
  toolkit/components/antitracking/bouncetrackingprotection/nsIBounceTrackingProtection.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1906826 - Update BounceTrackingRecord to use nsCStringHashKey instead of nsCString. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingRecord.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingRecord.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1844563 - Add RemoteSettings BTP allow-list tests. r=anti-tracking-reviewers,timhuang
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser.toml
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser_bouncetracking_remoteExceptions.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
