Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1962798 - Cleanup clipboard PNG transparency test. r=gstoll
  widget/tests/file_test_clipboard_pngPreservesTransparency.js
  widget/tests/mochitest.toml
  widget/tests/test_clipboard_pngPreservesTransparency.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959622 - QM: Add tests for origin access time update edge cases; r=dom-storage-reviewers,jstutte
  dom/quota/test/gtest/TestQuotaManager.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1964219 - Fix DXGITextureHostD3D11 Fence handling r=lsalzman, a=dmeehan
  gfx/layers/d3d11/TextureD3D11.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1958068 - Disable suggest shipped domain list. r=android-reviewers,skhan, a=dmeehan
  mobile/android/fenix/app/nimbus.fml.yaml
Due: bugzilla-components, yaml

Bug 1965128: Add Homepage Display Toolbar for compose Homepage use. r=android-reviewers,devota, a=dmeehan
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/HomePageDisplayToolbar.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/SearchBar.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1965110 - don't enable low latency on encrypted DRM playback. r=media-playback-reviewers,chunmin, a=dmeehan
  dom/media/ipc/MFMediaEngineParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1950237 - Only attempt to remove CrashReporter annotation if ExperimentAPI is initialized r=nimbus-reviewers,relud
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
Due: bugzilla-components

Bug 1628642 - Avoid data loss in DoSendData when Disconnecting r=valentin,jesup
  toolkit/components/extensions/test/mochitest/mochitest-common.toml
  toolkit/components/extensions/webrequest/StreamFilterParent.cpp
  toolkit/components/extensions/webrequest/StreamFilterParent.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1950237 - Use NimbusTestUtils.setupTest in toolkit/components/telemetry r=chutten
  toolkit/components/telemetry/dap/tests/xpcshell/test_dap.js
  toolkit/components/telemetry/tests/unit/test_TelemetryReportingPolicy.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1950237 - Use ExperimentAPI.manager in browser/components/urlbar r=urlbar-reviewers,Standard8
  browser/components/urlbar/tests/UrlbarTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/QuickSuggestTestUtils.sys.mjs
Due: bugzilla-components

Bug 1950237 - Lazily create the ExperimentManager r=nimbus-reviewers,relud
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/test/NimbusTestUtils.sys.mjs
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_generateTestIds.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1965057 - Set isAdoptingGroup in replaceGroupWithWindow a=dmeehan
  browser/components/extensions/test/browser/browser_ext_tabGroups_move_onMoved.js
  browser/components/tabbrowser/content/tabbrowser.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Revert "Bug 1950237 - Lazily create the ExperimentManager r=nimbus-reviewers,relud" for causing ExperimentManager related mochitest failures and xpcshell failures on test_prefFlips.js
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/test/NimbusTestUtils.sys.mjs
  toolkit/components/nimbus/test/unit/test_ExperimentManager_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_generateTestIds.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1956042 - Support multiple instances of SingleSelect on the same aboutwelcome screen r=omc-reviewers,jprickett,mviar" for causing failures at browser_aboutwelcome_multiselect.js, a=dmeehan
  browser/components/aboutwelcome/content-src/components/ContentTiles.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/aboutwelcome/content-src/components/MultiStageProtonScreen.jsx
  browser/components/aboutwelcome/content-src/components/SingleSelect.jsx
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/tests/unit/ContentTiles.test.jsx
  browser/components/aboutwelcome/tests/unit/MultiStageAboutWelcome.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961794 - Remove topsites.dismiss ping when a non-topsite element is dismissed. r=home-newtab-reviewers,npypchenko
  browser/extensions/newtab/content-src/lib/link-menu-options.mjs
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/TelemetryFeed.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1963967 - Use PresShell::ScrollFrameIntoView instead of PresShell::ScrollContentIntoView for zoom-to-focused-input. r=emilio,botond
  dom/base/nsDOMWindowUtils.cpp
  gfx/layers/apz/test/mochitest/helper_zoomToFocusedInput_content_visibility_auto.html
  gfx/layers/apz/test/mochitest/test_group_zoomToFocusedInput.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

No Bug - Import translations from https://github.com/mozilla-l10n/android-l10n CLOSED TREE
  mobile/android/android-components/components/browser/toolbar/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/compose/tabstray/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/pwa/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/readerview/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/lib/crash/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/service/nimbus/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/focus-android/app/src/main/res/values-co/strings.xml
  mobile/android/focus-android/app/src/main/res/values-el/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rES/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ka/strings.xml
  mobile/android/focus-android/app/src/main/res/values-kab/strings.xml
  mobile/android/focus-android/app/src/main/res/values-scn/strings.xml
  mobile/android/focus-android/app/src/main/res/values-tg/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Revert "Bug 1961794 - Remove topsites.dismiss ping when a non-topsite element is dismissed. r=home-newtab-reviewers,npypchenko" for causing xpcshell failures on test_TelemetryFeed.js.
  browser/extensions/newtab/content-src/lib/link-menu-options.mjs
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/TelemetryFeed.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1964555 - Do not report validation failure telemetry for missing features a=diannaS
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/normandy/metrics.yaml
  toolkit/components/telemetry/Events.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1965157 - Re-enable FenceD3D11 handling of hardware decoded video r=gfx-reviewers,media-playback-reviewers,alwu,lsalzman
  dom/media/platforms/wmf/DXVA2Manager.cpp
  gfx/layers/D3D11ShareHandleImage.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1958068 - Disable suggest shipped domain list. r=android-reviewers,skhan, a=dsmith
  mobile/android/fenix/app/nimbus.fml.yaml
Due: bugzilla-components, yaml

Bug 1965714 - Drop optional from queryInfo in tabGroups.query() r=zombie
  browser/components/extensions/parent/ext-tabGroups.js
  browser/components/extensions/schemas/tabGroups.json
  browser/components/extensions/test/browser/browser_ext_tabGroups_query.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1964370 - Clear checked radio button after reporting modal closes. r=home-newtab-reviewers,npypchenko
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/ReportContent/ReportContent.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/test/unit/content-src/components/DiscoveryStreamComponents/ReportContent.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961794 - Remove topsites.dismiss ping when a non-topsite element is dismissed. r=home-newtab-reviewers,npypchenko
  browser/extensions/newtab/content-src/lib/link-menu-options.mjs
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/TelemetryFeed.sys.mjs
  browser/extensions/newtab/test/xpcshell/test_TelemetryFeed.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1805606 - Pretty print jemalloc_info output r=glandium
  memory/mozjemalloc_info/MozjemallocInfo.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1805606 - mozjemalloc_info now prints the regions per run and overhead r=glandium
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_types.h
  memory/mozjemalloc_info/MozjemallocInfo.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
