Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1911763 - Simplify non-client-area event handling. r=win-reviewers,rkraesig
  widget/windows/nsWindow.cpp
  widget/windows/nsWindow.h
  widget/windows/nsWindowGfx.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916988 - Set vertical offset of mfrac denominator from the baseline. r=emilio
  layout/mathml/nsMathMLmfracFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1916988 - Support CSS width/height properties on MathML elements. r=emilio
  layout/mathml/nsMathMLContainerFrame.cpp
  layout/mathml/nsMathMLContainerFrame.h
  layout/mathml/nsMathMLTokenFrame.cpp
  layout/mathml/nsMathMLmencloseFrame.cpp
  layout/mathml/nsMathMLmfracFrame.cpp
  layout/mathml/nsMathMLmfracFrame.h
  layout/mathml/nsMathMLmmultiscriptsFrame.cpp
  layout/mathml/nsMathMLmoFrame.cpp
  layout/mathml/nsMathMLmpaddedFrame.cpp
  layout/mathml/nsMathMLmrootFrame.cpp
  layout/mathml/nsMathMLmspaceFrame.cpp
  layout/mathml/nsMathMLmunderoverFrame.cpp
  layout/mathml/nsMathMLmunderoverFrame.h
  testing/web-platform/meta/mathml/presentation-markup/fractions/frac-bar-003.html.ini
  testing/web-platform/meta/mathml/presentation-markup/spaces/mspace-width-height-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/display-2.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/width-height-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/width-height-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/width-height-003.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/width-height-005.html.ini
  testing/web-platform/tests/mathml/relations/css-styling/width-height-001.html
  testing/web-platform/tests/mathml/relations/css-styling/width-height-004.html
  testing/web-platform/tests/mathml/relations/css-styling/width-height-005.html
  testing/web-platform/tests/mathml/relations/css-styling/width-height-006.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1909417 - Position mprescripts at per MathML Core. r=emilio
  layout/mathml/nsMathMLmmultiscriptsFrame.cpp
  testing/web-platform/meta/mathml/presentation-markup/scripts/subsup-6.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/width-height-005.html.ini
  testing/web-platform/tests/mathml/presentation-markup/scripts/subsup-6.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1911763: apply code formatting via Lando
  widget/windows/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1920943 - Add detectUnsafeIntentLaunch StrictMode policy r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/perf/StrictModeManager.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1899131 - Fix a11y large text in browser toolbar r=android-reviewers,pollymce,tthibaud
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/OriginView.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_displaytoolbar.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/integers.xml
  mobile/android/fenix/app/src/main/res/layout/component_browser_top_toolbar.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1894633: Use nsIFaviconService::setFaviconForPage() for tests r=places-reviewers,home-newtab-reviewers,thecount,mak
  browser/base/content/test/favicons/browser_favicon_nostore.js
  browser/components/contextualidentity/test/browser/browser_favicon.js
  browser/components/places/tests/browser/browser_views_iconsupdate.js
  toolkit/components/places/tests/PlacesTestUtils.sys.mjs
  toolkit/components/places/tests/bookmarks/test_async_observers.js
  toolkit/components/places/tests/favicons/test_expire_migrated_icons.js
  toolkit/components/places/tests/favicons/test_favicons_conversions.js
  toolkit/components/places/tests/favicons/test_getFaviconDataForPage.js
  toolkit/components/places/tests/favicons/test_getFaviconURLForPage.js
  toolkit/components/places/tests/favicons/test_heavy_favicon.js
  toolkit/components/places/tests/favicons/test_query_result_favicon_changed_on_child.js
  toolkit/components/places/tests/favicons/test_setFaviconForPage.js
  toolkit/components/places/tests/favicons/test_svg_favicon.js
  toolkit/components/places/tests/head_common.js
  toolkit/components/places/tests/history/test_remove.js
  toolkit/components/places/tests/history/test_removeVisitsByFilter.js
  toolkit/components/places/tests/maintenance/test_preventive_maintenance.js
  toolkit/components/places/tests/unit/test_bookmarks_html.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1894633: Remove unused telemetry about favicon size r=mak
  toolkit/components/telemetry/Histograms.json
  toolkit/components/telemetry/histogram-allowlists.json
Due: bugzilla-components

Bug 1894633: Remove nsIFaviconService::setAndFetchFaviconForPage() api r=mak
  toolkit/components/places/FaviconHelpers.cpp
  toolkit/components/places/FaviconHelpers.h
  toolkit/components/places/nsFaviconService.cpp
  toolkit/components/places/nsIFaviconService.idl
  toolkit/components/places/tests/favicons/test_setAndFetchFaviconForPage.js
  toolkit/components/places/tests/favicons/test_setAndFetchFaviconForPage_failures.js
  toolkit/components/places/tests/favicons/test_setAndFetchFaviconForPage_redirects.js
  toolkit/components/places/tests/favicons/test_setFaviconForPage.js
  toolkit/components/places/tests/favicons/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1921207 - PushNotificationsCleaner support for OriginAttributesPattern. r=anti-tracking-reviewers,geckoview-reviewers,saschanaz,owlish,timhuang
  dom/interfaces/push/nsIPushService.idl
  dom/push/PushComponents.sys.mjs
  dom/push/PushService.sys.mjs
  mobile/shared/components/geckoview/GeckoViewPush.sys.mjs
  toolkit/components/cleardata/ClearDataService.sys.mjs
  toolkit/components/cleardata/nsIClearDataService.idl
Due: bugzilla-components
