Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1500188 - Change the API to create a try commit. r=releng-reviewers,sheehan,ahal
  python/mozversioncontrol/mozversioncontrol/__init__.py
  python/mozversioncontrol/test/python.toml
  python/mozversioncontrol/test/test_create_try_commit.py
  python/mozversioncontrol/test/test_push_to_try.py
  python/mozversioncontrol/test/test_remove_current_commit.py
  python/mozversioncontrol/test/test_try_commit.py
  tools/tryselect/lando.py
  tools/tryselect/push.py
  tools/tryselect/task_config.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozversioncontrol, tryselect, mozbuild

Bug 1500188 - Don't modify working tree, index or HEAD when pushing to try with git. r=releng-reviewers,sheehan,ahal
  python/mozversioncontrol/mozversioncontrol/__init__.py
  python/mozversioncontrol/test/test_push_to_try.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozversioncontrol, mozbuild

Backed out changeset 59eba805400c (bug 1893921) the fix didn't address the problem on macOS 14.5 CLOSED TREE
  security/sandbox/mac/SandboxPolicyContent.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901851 - Part 3: Make PRemoteWorkerService a toplevel actor which manages PRemoteWorker, r=dom-worker-reviewers,asuth
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  dom/workers/remoteworkers/PRemoteWorker.ipdl
  dom/workers/remoteworkers/PRemoteWorkerService.ipdl
  dom/workers/remoteworkers/RemoteWorkerManager.cpp
  dom/workers/remoteworkers/RemoteWorkerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerParent.h
  dom/workers/remoteworkers/RemoteWorkerService.cpp
  dom/workers/remoteworkers/RemoteWorkerService.h
  dom/workers/remoteworkers/RemoteWorkerServiceChild.cpp
  dom/workers/remoteworkers/RemoteWorkerServiceChild.h
  dom/workers/remoteworkers/RemoteWorkerServiceParent.cpp
  dom/workers/remoteworkers/RemoteWorkerServiceParent.h
  ipc/glue/BackgroundChildImpl.cpp
  ipc/glue/BackgroundChildImpl.h
  ipc/glue/BackgroundImpl.cpp
  ipc/glue/BackgroundParentImpl.cpp
  ipc/glue/BackgroundParentImpl.h
  ipc/glue/PBackground.ipdl
  layout/build/nsLayoutStatics.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901851 - Part 1: Add BackgroundParent::GetBackgroundThread, r=dom-worker-reviewers,ipc-reviewers,asuth,mccr8
  ipc/glue/BackgroundImpl.cpp
  ipc/glue/BackgroundParent.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901851 - Part 2: Remove unnecessary BackgroundParent arguments from response serializations, r=dom-worker-reviewers,asuth
  dom/fetch/FetchParent.cpp
  dom/fetch/FetchStreamUtils.cpp
  dom/fetch/FetchStreamUtils.h
  dom/fetch/InternalResponse.cpp
  dom/fetch/InternalResponse.h
  dom/serviceworkers/FetchEventOpParent.cpp
  dom/serviceworkers/FetchEventOpProxyParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901851 - Part 4: Make RemoteWorkerManager get RemoteWorkerService from the launched ContentParent, r=dom-worker-reviewers,asuth
  dom/ipc/ContentParent.h
  dom/workers/remoteworkers/RemoteWorkerManager.cpp
  dom/workers/remoteworkers/RemoteWorkerManager.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1728331 - Part 1: Remove e10s process recycling, r=smaug
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PreallocatedProcessManager.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1728331 - Part 3: Remove unused EnsureContentProcess method from nsIXULRuntime, r=smaug
  toolkit/xre/nsAppRunner.cpp
  xpcom/system/nsIXULRuntime.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1728331 - Part 2: Remove JS process selectors, r=smaug
  dom/base/ProcessSelector.sys.mjs
  dom/base/moz.build
  dom/interfaces/base/moz.build
  dom/interfaces/base/nsIContentProcess.idl
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  modules/libpref/init/StaticPrefList.yaml
  testing/mochitest/BrowserTestUtils/BrowserTestUtils.sys.mjs
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm, mochitest-harness

Bug 1728331 - Part 4: Make ContentParent KeepAlives explicit with RAII references, r=smaug,dom-worker-reviewers,asuth
  browser/base/content/test/performance/browser_preferences_usage.js
  docshell/base/CanonicalBrowsingContext.cpp
  docshell/base/CanonicalBrowsingContext.h
  dom/ipc/BrowserParent.cpp
  dom/ipc/BrowserParent.h
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PreallocatedProcessManager.cpp
  dom/ipc/PreallocatedProcessManager.h
  dom/ipc/UniqueContentParentKeepAlive.cpp
  dom/ipc/UniqueContentParentKeepAlive.h
  dom/ipc/moz.build
  dom/workers/remoteworkers/RemoteWorkerManager.cpp
  dom/workers/remoteworkers/RemoteWorkerManager.h
  dom/workers/remoteworkers/RemoteWorkerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerParent.h
  toolkit/xre/nsEmbedFunctions.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1728331 - Part 5: Respect AppType in ImageCacheKey, r=emilio
  image/ImageCacheKey.cpp
  image/ImageCacheKey.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903820 - update intro language in nightly experiments page, r=settings-reviewers,fluent-reviewers,desktop-theme-reviewers,dao
  browser/components/preferences/experimental.inc.xhtml
  browser/components/preferences/tests/browser_experimental_features.js
  browser/locales/en-US/browser/preferences/preferences.ftl
  browser/themes/shared/preferences/preferences.css
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1903502 - Use in-tree robustcheckout.py in tasks running on generic-worker. r=releng-reviewers,sheehan,taskgraph-reviewers,jcristau
  taskcluster/gecko_taskgraph/decision.py
  taskcluster/gecko_taskgraph/transforms/job/run_task.py
  taskcluster/scripts/run-task
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1896503 - Implement FilterInstance code to send SVG filter graph to WebRender r=mstange,gw
  gfx/wr/webrender/src/prim_store/picture.rs
  gfx/wr/webrender/src/render_task.rs
  gfx/wr/webrender/src/scene_building.rs
  layout/painting/nsDisplayList.cpp
  layout/reftests/bugs/reftest.list
  layout/reftests/css-blending/reftest.list
  layout/reftests/image-element/reftest.list
  layout/reftests/svg/blur-inside-clipPath.svg
  layout/reftests/svg/filters/css-filters/reftest.list
  layout/reftests/svg/filters/reftest.list
  layout/reftests/svg/filters/svg-filter-chains/reftest.list
  layout/reftests/svg/reftest.list
  layout/reftests/svg/svg-integration/reftest.list
  layout/svg/FilterInstance.cpp
  layout/svg/FilterInstance.h
  layout/svg/SVGFilterInstance.cpp
  layout/svg/SVGFilterInstance.h
  layout/svg/SVGIntegrationUtils.cpp
  layout/svg/SVGIntegrationUtils.h
  layout/tools/reftest/manifest.sys.mjs
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/css/filter-effects/blur-text.html.ini
  testing/web-platform/meta/css/filter-effects/effect-reference-on-transparent-element.html.ini
  testing/web-platform/meta/css/filter-effects/filter-region-transformed-child-001.html.ini
  testing/web-platform/meta/css/filter-effects/svg-multiple-filter-functions.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, test-manifest, yaml, rustfmt, file-whitespace, file-perm, reftest-harness

Backed out changeset 2147e0051e23 (bug 1903502) for causing build bustages. CLOSED TREE
  taskcluster/gecko_taskgraph/decision.py
  taskcluster/gecko_taskgraph/transforms/job/run_task.py
  taskcluster/scripts/run-task
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/menu/src/main/res/values-ca/strings.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values-ca/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ca/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-es/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pt-rPT/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sq/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ca/strings.xml
  mobile/android/fenix/app/src/main/res/values-ca/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ca/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1904345 - Remove duplicate link targets from messaging glossary and add to toctree r=omc-reviewers,aminomancer
  browser/components/asrouter/docs/index.rst
  browser/components/asrouter/docs/messaging-glossary.rst
Due: bugzilla-components, codespell, rst

Bug 1901520 - Part 1: Send localized template down to the archive worker. r=backup-reviewers,fluent-reviewers,kpatenio,bolsson
  browser/components/backup/Archive.worker.mjs
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/content/archive.template.html
  browser/components/backup/tests/xpcshell/data/test_archive.template.html
  browser/locales-preview/backupSettings.ftl
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1901520 - Part 2: Add styles and scripts to the single file archive. r=backup-reviewers,frontend-codestyle-reviewers,kpatenio
  .eslintignore
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/content/archive.css
  browser/components/backup/content/archive.js
  browser/components/backup/content/archive.template.html
  browser/components/backup/jar.mn
  browser/components/backup/tests/xpcshell/data/test_archive.template.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1901520 - Part 3: Add tests for the rendered template. r=backup-reviewers,kpatenio
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/tests/xpcshell/test_BackupService_renderTemplate.js
  browser/components/backup/tests/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1891854 - Do not backup session cookies if backup encryption is not enabled. r=backup-reviewers,fchasen
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/resources/AddonsBackupResource.sys.mjs
  browser/components/backup/resources/BackupResource.sys.mjs
  browser/components/backup/resources/CookiesBackupResource.sys.mjs
  browser/components/backup/resources/CredentialsAndSecurityBackupResource.sys.mjs
  browser/components/backup/resources/FormHistoryBackupResource.sys.mjs
  browser/components/backup/resources/MiscDataBackupResource.sys.mjs
  browser/components/backup/resources/PlacesBackupResource.sys.mjs
  browser/components/backup/resources/PreferencesBackupResource.sys.mjs
  browser/components/backup/resources/SessionStoreBackupResource.sys.mjs
  browser/components/backup/tests/xpcshell/test_SessionStoreBackupResource.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1901534 - Compute a new ArchiveEncryptionState for a recovered, encrypted profile. r=backup-reviewers,fchasen
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/tests/marionette/test_backup.py
  browser/components/backup/tests/xpcshell/test_BackupService.js
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1902958 - Create a new tab without loading when adding a new tab from the tabs tray r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayController.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/DefaultTabsTrayControllerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1895628 - Simplify string deduplication to take advantage of dependent string sweeping during minor GC. r=jandem,jonco
  js/src/gc/GC.cpp
  js/src/gc/Tenuring.cpp
  js/src/gc/Tenuring.h
  js/src/gc/TraceMethods-inl.h
  js/src/vm/StringType.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904453 - Add a hyphen to the filename for wpt crashtests. r=layout-reviewers,emilio
  testing/web-platform/tests/css/css-break/firefox-bug-1693616-001-crash.html
  testing/web-platform/tests/css/css-break/firefox-bug-1693616-002-crash.html
  testing/web-platform/tests/css/css-break/firefox-bug-1903652-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1901821 - Part 3: Add an option to display a divider before the IconButton in FaviconListItem and IconListItem r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/AddonMenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1900678 - correct copy button position in about:webrtc;r=dbaker
  toolkit/content/aboutwebrtc/aboutWebrtc.css
  toolkit/content/aboutwebrtc/aboutWebrtc.mjs
Due: bugzilla-components

Bug 1902957 - Add a new tab button in the navigation bar r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TabPreview.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/interactor/BrowserToolbarInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/navbar/NavigationBar.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarInteractorTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1904378 - Stop creating runnables to fire SMIL events if we know we can't have listeners r=smaug
  dom/smil/SMILTimedElement.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904192 - Make `TextControlState::SetValue` suppress `TextEditor` to dispatch `input` events even after dispatching `input` event during composition r=m_kato,geckoview-reviewers
  dom/events/IMEContentObserver.cpp
  dom/events/TextComposition.cpp
  dom/events/TextComposition.h
  dom/html/TextControlState.cpp
  editor/libeditor/tests/mochitest.toml
  editor/libeditor/tests/test_updating_input_value_during_composition_from_async_input.html
  editor/libeditor/tests/test_updating_input_value_during_composition_from_input.html
  widget/android/GeckoEditableSupport.cpp
  widget/tests/window_composition_text_querycontent.xhtml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1902339 - Change menu labels to have a max of 2 lines. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MainMenu.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/MenuItem.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/list/ListItem.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1903966 - Skip part of TestPoisonArea on Apple Silicon r=glandium
  mfbt/tests/TestPoisonArea.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903966 - Enable cppunittest on Apple Silicon r=jmaher
  taskcluster/kinds/test/test-sets.yml
Due: bugzilla-components, yaml

Bug 1895356 - Adjust Translations Wait State on Error and Snackbar Persistance r=android-reviewers,ohall
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TranslationsBinding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/TranslationsIconState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBinding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsDialogStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/browser/TranslationsBindingTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/translations/TranslationsDialogBindingTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1903638 - Remove last mention of $GCC in old-configure r=glandium
  js/src/old-configure.in
  old-configure.in
Due: bugzilla-components

Backed out changeset 43af344566c1 (bug 1903638) for causing build bustages. CLOSED TREE
  js/src/old-configure.in
  old-configure.in
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components
