Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Backed out 3 changesets (bug 1889444) for causing xpcshell failures on test_JOG.js CLOSED TREE
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.cpp
  toolkit/components/antitracking/bouncetrackingprotection/BounceTrackingProtection.h
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.cpp
  toolkit/components/antitracking/bouncetrackingprotection/ClearDataCallback.h
  toolkit/components/antitracking/bouncetrackingprotection/components.conf
  toolkit/components/antitracking/bouncetrackingprotection/metrics.yaml
  toolkit/components/antitracking/bouncetrackingprotection/pings.yaml
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser.toml
  toolkit/components/antitracking/bouncetrackingprotection/test/browser/browser_bouncetracking_telemetry_purge_events.js
  toolkit/components/glean/metrics_index.py
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1897989 - Add Wasm exception-handling tests for JSPI. r=rhunt
  js/src/jit-test/tests/wasm/js-promise-integration/exception-handling.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1903141 Part 2 - Annotate EnsurePushedFloats() as MOZ_NONNULL_RETURN. r=dholbert
  layout/generic/nsBlockFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903141 Part 1 - Simplify MaybeHasFloats() that checks pushed floats. r=dholbert
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsBlockFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903141 Part 3 - Store floats list in a frame property rather than in nsBlockFrame::mFloats. r=dholbert
  layout/generic/BlockReflowState.cpp
  layout/generic/nsBlockFrame.cpp
  layout/generic/nsBlockFrame.h
  layout/generic/nsFrameStateBits.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1440748 - Add recursion limit to JSStructuredCloneReader r=sfink
  js/src/jit-test/tests/structured-clone/bug1440748.js
  js/src/vm/StructuredClone.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1845042: Make editing tags feature when adding multiple bookmarks r=Standard8
  browser/components/places/PlacesUIUtils.sys.mjs
  browser/components/places/content/bookmarkProperties.js
  browser/components/places/content/editBookmark.js
  browser/components/places/tests/browser/browser_bookmarkProperties_bookmarkAllTabs.js
  browser/components/places/tests/browser/browser_library_bookmark_pages.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 33ecc0ca4063 (bug 1440748) for causing bustages on bug1440748.js CLOSED TREE
  js/src/jit-test/tests/structured-clone/bug1440748.js
  js/src/vm/StructuredClone.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1902888 - Add a secret setting for Homepage as a New Tab r=android-reviewers,petru
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/xml/secret_settings_preferences.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1903098 - Vendor libwebrtc from 5bfcc873d9
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/desktop_capture/mac/screen_capturer_mac.mm
  third_party/libwebrtc/modules/video_coding/generic_decoder.cc
  third_party/libwebrtc/pc/rtc_stats_collector.cc
  third_party/libwebrtc/rtc_base/event_tracer.cc
  third_party/libwebrtc/video/frame_cadence_adapter.cc
  third_party/libwebrtc/video/video_send_stream_impl.cc
  third_party/libwebrtc/video/video_stream_encoder.cc
Due: bugzilla-components, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1817981 - Add possibility to mark worker private being in background, r=smaug,asuth
  dom/base/nsGlobalWindowInner.cpp
  dom/webidl/WorkerTestUtils.webidl
  dom/workers/RuntimeService.cpp
  dom/workers/RuntimeService.h
  dom/workers/WorkerCommon.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/WorkerTestUtils.cpp
  dom/workers/WorkerTestUtils.h
  dom/workers/test/mochitest.toml
  dom/workers/test/test_worker_in_background.html
  dom/workers/test/test_worker_in_background.js
  dom/workers/test/test_worker_in_background_child.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1900947 - wrong order of font size buttons in new reader mode settings. r=reader-mode-reviewers,cmkm
  toolkit/components/reader/content/aboutReader.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1903098 - Vendor libwebrtc from 3e7d35c55d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0009.patch
  third_party/libwebrtc/moz-patch-stack/0010.patch
  third_party/libwebrtc/moz-patch-stack/0047.patch
  third_party/libwebrtc/moz-patch-stack/0081.patch
  third_party/libwebrtc/rtc_base/memory/BUILD.gn
  third_party/libwebrtc/rtc_base/memory/fifo_buffer.cc
  third_party/libwebrtc/rtc_base/memory/fifo_buffer.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 81f09d3db8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_tools/rtc_event_log_visualizer/analyzer_bindings.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1899872 - Move SliceBudget (and {Work,Time}Budget) from js:: namespace to JS:: r=jonco,mccr8
  dom/base/CCGCScheduler.cpp
  dom/base/CCGCScheduler.h
  dom/base/nsJSEnvironment.cpp
  dom/base/nsJSEnvironment.h
  dom/base/test/gtest/TestScheduler.cpp
  js/public/GCAPI.h
  js/public/SliceBudget.h
  js/src/builtin/TestingFunctions.cpp
  js/src/gc/ArenaList.h
  js/src/gc/Compacting.cpp
  js/src/gc/GC.cpp
  js/src/gc/GCAPI.cpp
  js/src/gc/GCMarker.h
  js/src/gc/GCRuntime.h
  js/src/gc/Marking.cpp
  js/src/gc/ParallelMarking.cpp
  js/src/gc/ParallelMarking.h
  js/src/gc/ParallelWork.h
  js/src/gc/Statistics.cpp
  js/src/gc/Statistics.h
  js/src/gc/Sweeping.cpp
  js/src/gc/Zone.h
  js/src/jsapi-tests/testGCFinalizeCallback.cpp
  js/src/jsapi-tests/testGCGrayMarking.cpp
  js/src/jsapi-tests/testGCHeapBarriers.cpp
  js/src/jsapi-tests/testGCHooks.cpp
  js/src/jsapi-tests/testGCMarking.cpp
  js/src/jsapi-tests/testSliceBudget.cpp
  js/src/jsapi-tests/testWeakMap.cpp
  js/src/shell/js.cpp
  js/src/vm/AtomsTable.h
  js/src/vm/JSAtomUtils.cpp
  js/xpconnect/src/XPCJSRuntime.cpp
  xpcom/base/CycleCollectedJSRuntime.cpp
  xpcom/base/CycleCollectedJSRuntime.h
  xpcom/base/nsCycleCollector.cpp
  xpcom/base/nsCycleCollector.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 454d65196e
  third_party/libwebrtc/AUTHORS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/test/rtp_file_reader.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from bc5c5e9d66
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/examples/androidvoip/jni/android_voip_client.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1902159 - add a pref to control whether P256 is sent in client hello. r=djackson,necko-reviewers,jesup
  modules/libpref/init/StaticPrefList.yaml
  netwerk/socket/neqo_glue/src/lib.rs
  security/manager/ssl/nsNSSIOLayer.cpp
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, rustfmt, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 54dec3f3d7
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_header_extensions.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_header_extensions.h
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0058.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from dc3cdf98e0
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1903387 - Always take ownership of the passed directory lock in PrepareDatastoreOp::DirectoryLockAcquired; r=dom-storage-reviewers,asuth
  dom/localstorage/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 00a8839d47
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/source/source_tracker.cc
  third_party/libwebrtc/moz-patch-stack/0045.patch
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1885106 - Implement LayoutUtils.rectToTopLevelWidgetRect. r=layout-reviewers,emilio
  dom/base/nsDOMWindowUtils.cpp
  dom/base/nsDOMWindowUtils.h
  dom/interfaces/base/nsIDOMWindowUtils.idl
  toolkit/modules/LayoutUtils.sys.mjs
  toolkit/modules/tests/browser/browser.toml
  toolkit/modules/tests/browser/browser_LayoutUtils.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from fffd489d2e
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video/video_frame_buffer.cc
  third_party/libwebrtc/api/video/video_frame_buffer.h
  third_party/libwebrtc/moz-patch-stack/0081.patch
  third_party/libwebrtc/video/video_stream_encoder.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from f1847a101d
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from 4fc23457aa
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/p2p/base/ice_transport_internal.cc
  third_party/libwebrtc/p2p/base/ice_transport_internal.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 0a8703b5c1
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from 4117d19644
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from e4ccad397c
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 56b1799389
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from af3dfd8c35
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0064.patch
  third_party/libwebrtc/moz-patch-stack/0111.patch
  third_party/libwebrtc/rtc_base/BUILD.gn
  third_party/libwebrtc/rtc_base/weak_ptr.cc
  third_party/libwebrtc/rtc_base/weak_ptr.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from e92b143eea
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/video_coding/BUILD.gn
  third_party/libwebrtc/modules/video_coding/include/video_coding.h
  third_party/libwebrtc/modules/video_coding/video_coding_impl.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from c97d434ec4
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/experiments/field_trials.py
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/pc/sdp_offer_answer.cc
Due: bugzilla-components, codespell, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 2a66531b28
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/video_codecs/BUILD.gn
  third_party/libwebrtc/api/video_codecs/video_encoder_software_fallback_wrapper.cc
  third_party/libwebrtc/api/video_codecs/video_encoder_software_fallback_wrapper.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 (MOZ) - upstream added webrtc::Environment arg to CreateVideoEncoderSoftwareFallbackWrapper
  dom/media/webrtc/libwebrtcglue/WebrtcVideoCodecFactory.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from db50b03553
  third_party/libwebrtc/BUILD.gn
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/build_overrides/build.gni
  third_party/libwebrtc/pc/rtc_stats_integrationtest.cc
  third_party/libwebrtc/rtc_base/BUILD.gn
  third_party/libwebrtc/rtc_base/DEPS
  third_party/libwebrtc/rtc_base/event_tracer.cc
  third_party/libwebrtc/rtc_base/event_tracer.h
  third_party/libwebrtc/rtc_base/event_tracer_unittest.cc
  third_party/libwebrtc/rtc_base/trace_categories.cc
  third_party/libwebrtc/rtc_base/trace_categories.h
  third_party/libwebrtc/test/BUILD.gn
  third_party/libwebrtc/test/DEPS
  third_party/libwebrtc/test/test_main_lib.cc
  third_party/libwebrtc/tools_webrtc/mb/mb_config.pyl
  third_party/libwebrtc/webrtc.gni
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from caa1201a08
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0047.patch
  third_party/libwebrtc/moz-patch-stack/0053.patch
  third_party/libwebrtc/moz-patch-stack/0060.patch
  third_party/libwebrtc/moz-patch-stack/0064.patch
  third_party/libwebrtc/moz-patch-stack/0066.patch
  third_party/libwebrtc/moz-patch-stack/0082.patch
  third_party/libwebrtc/moz-patch-stack/0103.patch
  third_party/libwebrtc/moz-patch-stack/0111.patch
Due: bugzilla-components

Bug 1903098 - Vendor libwebrtc from f9a5ed0399
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1903098 - Vendor libwebrtc from 1a3120f3fd
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/test/integration_test_helpers.cc
  third_party/libwebrtc/pc/test/integration_test_helpers.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
