Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1813452 - Add libraries fragment UI test r=ohall,RyanVM,aaronmt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/helpers/AppAndSystemHelper.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/SettingsAboutTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/SettingsSubMenuAboutRobot.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/about/AboutLibrariesFragmentTest.kt
  mobile/android/fenix/automation/taskcluster/androidTest/flank-arm-beta.yml
  mobile/android/fenix/automation/taskcluster/androidTest/flank-arm-start-test.yml
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/MozillaSupportPagesTest.kt
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/SettingsMozillaMenuRobot.kt
  mobile/android/focus-android/automation/taskcluster/androidTest/flank-arm-beta.yml
  mobile/android/focus-android/automation/taskcluster/androidTest/flank-arm-start-test.yml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1913314 - Migrate the OSS Licenses Gradle Plugin to the AC dependencies plugin. r=android-reviewers,mcarare
  build.gradle
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
  mobile/android/fenix/build.gradle
  mobile/android/fenix/plugins/fenixdependencies/src/main/java/FenixDependenciesPlugin.kt
  mobile/android/focus-android/build.gradle
  mobile/android/focus-android/plugins/focusdependencies/src/main/java/FocusDependenciesPlugin.kt
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1904445 - Part 1: Refactor reader mode action and feature into its own init function in BrowserFragment r=android-reviewers,petru
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1913314 - Update the OSS Licenses Gradle Plugin to version 0.10.6. r=android-reviewers,mcarare
  mobile/android/android-components/plugins/dependencies/src/main/java/DependenciesPlugin.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1904445 - Part 2: Rename sessionId to customTabId in MenuPresenter, BrowserToolbarCFRPresenter and ToolbarIntegration implementations r=android-reviewers,petru
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/MenuPresenter.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarIntegration.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabToolbarIntegration.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/BrowserToolbarCFRPresenterTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultToolbarIntegrationTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1904445 - Part 3: Add Menu browser action in the browser and custom tab toolbar integration r=android-reviewers,petru
  mobile/android/android-components/components/feature/customtabs/src/main/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeature.kt
  mobile/android/android-components/components/feature/customtabs/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/CustomTabsToolbarFeatureTest.kt
  mobile/android/android-components/components/feature/tabs/src/main/java/mozilla/components/feature/tabs/toolbar/TabCounterToolbarButton.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarIntegration.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/interactor/BrowserToolbarInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabToolbarIntegration.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/CustomTabsIntegration.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/DefaultBrowserToolbarInteractorTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1913157 - Ensure new sidebar pref is enabled when enabling vertical tabs in Firefox Labs r=sidebar-reviewers,nsharpley,mconley
  browser/components/customizableui/CustomizableUI.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1895256 - extend timeout for hearing from Content Analysis agent r=dlp-reviewers,handyman
  toolkit/components/contentanalysis/tests/gtest/TestContentAnalysis.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1913263 - [devtools] Also prevent mozSystemGroup events while using the node picker r=devtools-reviewers,ochameau
  devtools/client/inspector/test/browser.toml
  devtools/client/inspector/test/browser_inspector_picker_video_widget.js
  devtools/server/actors/inspector/node-picker.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1913263 - [devtools] Handle generic keydown events in nodePicker even if no currentNode available r=devtools-reviewers,ochameau
  devtools/server/actors/inspector/node-picker.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1874689 - Disable forkserver by default in Nightly. r=gcp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1903722 - Part 2: Add the userCharacteristic to the FeatureManifest.yaml. r=tschuster
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, yaml

Bug 1903722 - Part 1: Introduce a GetCurrentVersion() function in nsUserCharacteristics. r=fkilic
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1903722 - Part 3: Implement the userCharacteristic Nimbus feature for Fenix. r=android-reviewers,geckoview-reviewers,owlish,amejiamarmol
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/concept/engine/src/main/java/mozilla/components/concept/engine/Settings.kt
  mobile/android/fenix/app/nimbus.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Core.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/RuntimeSettingsTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoRuntimeSettings.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, yaml

Backed out changeset 442b6f901a68 (bug 1895256) for causing bustage on TestContentAnalysis.cpp CLOSED TREE
  toolkit/components/contentanalysis/tests/gtest/TestContentAnalysis.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910459 - Http2Session::mNeedsCleanup doesn't get cleaned up in ProcessConnectedPush r=necko-reviewers,kershaw
  netwerk/protocol/http/Http2Session.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912174 - update metric expiring in Firefox 132: urlbar.quick_suggest_contextual_opt_in to Fx136. r=dao,urlbar-reviewers
  browser/components/urlbar/metrics.yaml
Due: bugzilla-components, yaml

Bug 1904238 - Don't copy over https-first and -only flags on http redirects r=maltejur
  dom/security/test/https-first/file_redirect_error.sjs
  dom/security/test/https-first/mochitest.toml
  dom/security/test/https-first/test_multiple_redirection.html
  dom/security/test/https-first/test_redirect_http_error.html
  netwerk/protocol/http/HttpBaseChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1912109 - Enable remote settings lists on release. r=timhuang
  modules/libpref/init/all.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1914929 - Refactor unit tests to avoid using unnecessary spies in multiple places r=android-reviewers,tthibaud
  mobile/android/android-components/components/browser/menu/src/test/java/mozilla/components/browser/menu/view/ExpandableLayoutTest.kt
  mobile/android/android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/PromptMiddlewareTest.kt
  mobile/android/android-components/components/feature/prompts/src/test/java/mozilla/components/feature/prompts/ext/EditTextTest.kt
  mobile/android/android-components/components/ui/tabcounter/src/test/java/mozilla/components/ui/tabcounter/TabCounterMenuTest.kt
  mobile/android/android-components/components/ui/widgets/src/test/java/mozilla/components/ui/widgets/behavior/BrowserGestureDetectorTest.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset c540259f992c (bug 1913157) for causing bc failure on browser_sidebar_prefs.js CLOSED TREE
  browser/components/customizableui/CustomizableUI.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1914724 - test(webgpu): tag `webgpu:api,validation,capability_checks,limits,maxBindGroups:createPipelineLayout,at_over:*` with `webgpu-long` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxBindGroups/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1914674, part 2.1 - new passing r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/rendering/color_target_state/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pipeline/fragment_state/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/compat/api/validation/render_pipeline/unsupported_wgsl/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupBallot/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/subgroupBroadcast/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/shader_io/compute_builtins/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/shader_io/fragment_builtins/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/subgroupBallot/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/expression/call/builtin/subgroupBroadcast/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/parse/enable/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/shader_io/builtins/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/shader_io/invariant/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/statement/phony/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/external_texture/video/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1914674, part 2.2 - regressions r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/compute_pipeline/overrides/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxDynamicStorageBuffersPerPipelineLayout/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageTexturesPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxTextureDimension2D/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1914674, part 2.4 - new apparently implemented in `backlog` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/compat/api/validation/render_pipeline/unsupported_wgsl/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureGather/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureGatherCompare/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureLoad/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleBaseClampToEdge/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSampleLevel/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/statement/phony/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/validation/uniformity/uniformity/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1914674, part 2.7 - populate `webgpu:shader,execution,expression,call,builtin,textureSample:sampled_{2d,3d}_coords:*` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSample/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1914674, part 2.5 - migrate moved interpolation validation tests r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/compat/api/validation/render_pipeline/unsupported_wgsl/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/compat/api/validation/shader_module/shader_module/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1914674, part 2.6 - tag `webgpu:api,validation,render_pipeline,fragment_state:pipeline_output_targets,blend:*` and new cases to `webgpu-backlog-long` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pipeline/fragment_state/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1914674, part 2.8 - `backlog` adjustments from `try:85565df669288d6ecae3371637db08bf1b149329` r=webgpu-reviewers,teoxoy
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/adapter/requestDevice/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/multiple_buffers/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/memory_sync/buffer/single_buffer/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/render_pipeline/primitive_topology/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/operation/rendering/draw/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxBindingsPerBindGroup/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxColorAttachmentBytesPerSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxSamplersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/capability_checks/limits/maxStorageBuffersPerShaderStage/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/compute_pipeline/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pipeline/fragment_state/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/render_pipeline/overrides/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureLoad/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/expression/call/builtin/textureSample/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/shader/execution/robust_access_vertex/cts.https.html.ini
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/web_platform/canvas/getCurrentTexture/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1873984 - Fix dom/security/test/general/test_same_site_cookies_cross_origin_context.html when blocking 3pc by default in TCP. r=bvandersloot
  dom/security/test/general/file_same_site_cookies_cross_origin_context.sjs
  dom/security/test/general/test_same_site_cookies_cross_origin_context.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1907326 - Update default GeckoView cookieBehavior preferences to BEHAVIOR_REJECT_TRACKER_AND_PARTITION_FOREIGN (5) to mirror Desktop. r=bvandersloot,geckoview-reviewers,owlish
  mobile/android/app/geckoview-prefs.js
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/ContentBlocking.java
  mobile/android/geckoview_example/src/main/java/org/mozilla/geckoview_example/GeckoViewActivity.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1907326 - Fix WPT exceptions after default GeckoView cookieBehavior change to 5. r=bvandersloot,webdriver-reviewers,Sasha
  dom/serviceworkers/test/mochitest.toml
  testing/web-platform/meta/FileAPI/BlobURL/cross-partition.tentative.https.html.ini
  testing/web-platform/meta/IndexedDB/idb-partitioned-basic.sub.html.ini
  testing/web-platform/meta/cookies/samesite/sandbox-iframe-nested.https.html.ini
  testing/web-platform/meta/cookies/samesite/sandbox-iframe-subresource.https.html.ini
  testing/web-platform/meta/cookies/third-party-cookies/third-party-cookies.tentative.https.html.ini
  testing/web-platform/meta/service-workers/service-worker/partitioned-claim.tentative.https.html.ini
  testing/web-platform/meta/service-workers/service-worker/partitioned-getRegistrations.tentative.https.html.ini
  testing/web-platform/meta/service-workers/service-worker/partitioned.tentative.https.html.ini
  testing/web-platform/meta/webdriver/tests/bidi/integration/cookies_with_network_events.py.ini
  testing/web-platform/meta/webmessaging/broadcastchannel/cross-partition.https.tentative.html.ini
  testing/web-platform/meta/webstorage/localstorage-about-blank-3P-iframe-opens-3P-window.partitioned.html.ini
  testing/web-platform/meta/webstorage/localstorage-basic-partitioned.sub.html.ini
  testing/web-platform/meta/webstorage/sessionStorage-basic-partitioned.sub.html.ini
  testing/web-platform/meta/workers/shared-worker-partitioned-cookies.tentative.https.html.ini
  testing/web-platform/meta/workers/shared-worker-partitioned.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1899969 - Remove android exceptions for web-platform/tests/cookies/partitioned-cookies/partitioned-cookies.tentative.https.html. r=bvandersloot
  testing/web-platform/meta/cookies/partitioned-cookies/partitioned-cookies.tentative.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1873982 - Fix dom/security/test/cors/test_CrossSiteXHR.html when blocking 3pc by default in TCP. r=bvandersloot,necko-reviewers,tschuster,kershaw
  dom/security/test/cors/file_CrossSiteXHR_inner.html
  dom/security/test/cors/mochitest.toml
  dom/security/test/cors/test_CrossSiteXHR.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1873986 - Fix dom/tests/mochitest/fetch/ when by blocking 3pc by default in TCP. r=bvandersloot,necko-reviewers,tschuster,kershaw
  build/pgo/certs/cert9.db
  build/pgo/certs/key4.db
  build/pgo/certs/mochitest.client
  build/pgo/server-locations.txt
  dom/tests/mochitest/fetch/mochitest.toml
  dom/tests/mochitest/fetch/test_fetch_cors.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1904847 - Send all details in glean crash pings on Android r=gsvelto,android-reviewers,tthibaud
  mobile/android/android-components/components/lib/crash/metrics.yaml
  mobile/android/android-components/components/lib/crash/src/main/java/mozilla/components/lib/crash/service/GleanCrashReporterService.kt
  mobile/android/android-components/components/lib/crash/src/test/java/mozilla/components/lib/crash/service/GleanCrashReporterServiceTest.kt
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1914987 - Add actual architecture name on About dialog r=firefox-desktop-core-reviewers ,fluent-reviewers,dao,flod
  browser/base/content/aboutDialog.js
  browser/locales/en-US/browser/aboutDialog.ftl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
