Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1911529 - nsStandardURL::mBasename.mLen isn't properly updated when coalescing a=dmeehan
  netwerk/base/nsStandardURL.cpp
  netwerk/test/gtest/TestStandardURL.cpp
  netwerk/test/unit/test_URIs.js
  netwerk/test/unit/test_standardurl.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1911237 - Disable SurfaceDescriptorD3D10 fast path of CanvasRenderingContext2D::DrawImage() with remote Canvas2d r=gfx-reviewers,lsalzman
  dom/canvas/CanvasRenderingContext2D.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1911237 - Disable SurfaceDescriptorD3D10 fast path of CanvasRenderingContext2D::DrawImage() with remote Canvas2d r=gfx-reviewers,lsalzman, a=dmeehan
  dom/canvas/CanvasRenderingContext2D.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1911605 - Make insertion into non-picture elements not a relevant mutation. r=smaug
  dom/html/HTMLImageElement.cpp
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/decode/image-decode-with-quick-attach.html.ini
  testing/web-platform/tests/content-security-policy/securitypolicyviolation/securitypolicyviolation-block-cross-origin-image-from-script.sub.html
  testing/web-platform/tests/content-security-policy/securitypolicyviolation/securitypolicyviolation-block-image-from-script.sub.html
  testing/web-platform/tests/html/semantics/embedded-content/the-img-element/decode/image-decode-with-quick-attach.html
  testing/web-platform/tests/html/semantics/embedded-content/the-img-element/update-the-image-data/current-request-microtask-002.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1900828: Collect test canvas software renderings. r=timhuang
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/content/usercharacteristics.html
  toolkit/components/resistfingerprinting/content/usercharacteristics.js
  toolkit/components/resistfingerprinting/metrics.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1899874: Plumb forceSoftwareRendering down the stack. r=jgilbert
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/CanvasRenderingContext2D.h
  dom/canvas/WebGLContext.cpp
  gfx/gl/GLContextProviderEGL.cpp
  gfx/gl/GLContextProviderGLX.cpp
  gfx/gl/GLContextProviderWGL.cpp
  gfx/gl/GLLibraryEGL.cpp
  gfx/gl/GLLibraryEGL.h
  gfx/layers/client/TextureClient.cpp
  gfx/thebes/gfxPlatform.cpp
  gfx/thebes/gfxPlatform.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1899874: Add a privileged forceSoftwareRendering attribute to Canvas Attributes. r=jgilbert,webidl,smaug
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/canvas/CanvasRenderingContext2D.h
  dom/canvas/ClientWebGLContext.cpp
  dom/canvas/WebGLTypes.h
  dom/webidl/CanvasRenderingContext2D.webidl
  dom/webidl/WebGLRenderingContext.webidl
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/nsIUserCharacteristicsPageService.idl
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/nsRFPService.h
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904964: Collect audio device information lighter. r=media-playback-reviewers,padenot
  dom/media/autoplay/AutoplayPolicy.cpp
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/components/resistfingerprinting/content/usercharacteristics.js
  toolkit/components/resistfingerprinting/metrics.yaml
  toolkit/components/resistfingerprinting/nsUserCharacteristics.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1910056 - Change the windows-rs hack to be more future proof. r=firefox-build-system-reviewers,ahochheiden
  build/rust/mozbuild/generate_buildconfig.py
  build/rust/windows/src/lib.rs
  toolkit/moz.configure
Due: bugzilla-components, codespell, license, py-compat, py-flake8, rustfmt, file-whitespace, file-perm, mozbuild

Bug 1911708 - Add missing serde feature to hex that gets pulled in via gkrust-gtest. r=firefox-build-system-reviewers,sergesanspaille
  build/workspace-hack/Cargo.toml
Due: bugzilla-components

Bug 1911714 - Enable sccache on base-toolchains-clang tasks. r=firefox-build-system-reviewers,sergesanspaille
  Cargo.lock
  taskcluster/kinds/build/linux-base-toolchains.yml
  toolkit/crashreporter/client/app/Cargo.toml
Due: bugzilla-components, yaml

Bug 1911476 - Fix nsIScriptError initialization r=geckoview-reviewers,emilio,m_kato
  mobile/shared/modules/geckoview/GeckoViewConsole.sys.mjs
  toolkit/components/extensions/ExtensionCommon.sys.mjs
  toolkit/modules/Sqlite.sys.mjs
Due: bugzilla-components

Bug 1911476 - Enable basic IDE types support in toolkit/ and browser/ r=mossop
  browser/jsconfig.json
  toolkit/components/extensions/types/globals.ts
  toolkit/jsconfig.json
  toolkit/moz.build
  tools/@types/index.d.ts
  tools/@types/lib.gecko.tweaks.d.ts
  tools/@types/tsconfig.json
  tools/moz.build
Due: bugzilla-components

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/prompts/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1896390 - Ship iterator helpers; r=mgaudet,webidl,emilio
  dom/serviceworkers/test/test_serviceworker_interfaces.js
  dom/tests/mochitest/general/test_interfaces.js
  dom/workers/test/test_worker_interfaces.js
  js/src/doc/feature_checklist.md
  js/src/jit-test/tests/collections/iterator-proto-surfaces.js
  js/src/shell/js.cpp
  js/src/vm/GlobalObject.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1896390 - Add getter for Iterator.constructor to eager-ecma-allowlist.js; r=nchevobbe,devtools-reviewers,arai
  devtools/server/actors/webconsole/eager-ecma-allowlist.js
  devtools/shared/commands/script/tests/browser_script_command_execute_basic.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1909796 - Allow clip paths larger than int32. r=aosmond
  gfx/skia/skia/src/core/SkAAClip.cpp
  layout/reftests/canvas/1909718-1-ref.html
  layout/reftests/canvas/1909718-1.html
  layout/reftests/canvas/reftest.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1911403 - fix typo in source code -> r=nalexander,profiler-reviewers,jandem,masayuki,canaltinova
  browser/installer/windows/nsis/installer.nsi
  dom/base/nsDOMWindowUtils.cpp
  dom/geolocation/Geolocation.h
  dom/html/TextControlState.cpp
  dom/html/input/InputType.h
  dom/media/ipc/RemoteDecoderParent.cpp
  dom/media/webvtt/TextTrack.cpp
  dom/script/ScriptLoadHandler.cpp
  js/src/wasm/WasmBaselineCompile.cpp
  mozglue/baseprofiler/public/ProfileBufferEntrySerialization.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908069 - Extend and tweak MathML padding/border/margin tests. r=emilio
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/border-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-005.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-006.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-007.html.ini
  testing/web-platform/tests/mathml/presentation-markup/operators/mo-lspace-rspace-4-ref.html
  testing/web-platform/tests/mathml/presentation-markup/operators/mo-lspace-rspace-4.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/border-002.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/margin-002.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/margin-003.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-002.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-border-margin-003.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-border-margin-005-ref.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-border-margin-005.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-border-margin-006-ref.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-border-margin-006.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-border-margin-007-ref.html
  testing/web-platform/tests/mathml/relations/css-styling/padding-border-margin/padding-border-margin-007.html
  testing/web-platform/tests/mathml/support/box-comparison.js
  testing/web-platform/tests/mathml/support/mathml-fragments.js
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm

Bug 1908069 - Introduce PlaceFlags parameter to MathML layout methods. r=emilio
  layout/mathml/nsMathMLContainerFrame.cpp
  layout/mathml/nsMathMLContainerFrame.h
  layout/mathml/nsMathMLTokenFrame.cpp
  layout/mathml/nsMathMLTokenFrame.h
  layout/mathml/nsMathMLmencloseFrame.cpp
  layout/mathml/nsMathMLmencloseFrame.h
  layout/mathml/nsMathMLmfracFrame.cpp
  layout/mathml/nsMathMLmfracFrame.h
  layout/mathml/nsMathMLmmultiscriptsFrame.cpp
  layout/mathml/nsMathMLmmultiscriptsFrame.h
  layout/mathml/nsMathMLmoFrame.cpp
  layout/mathml/nsMathMLmoFrame.h
  layout/mathml/nsMathMLmpaddedFrame.cpp
  layout/mathml/nsMathMLmpaddedFrame.h
  layout/mathml/nsMathMLmspaceFrame.cpp
  layout/mathml/nsMathMLmunderoverFrame.cpp
  layout/mathml/nsMathMLmunderoverFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908069 - Add border/padding/margin support to <mfrac>. r=emilio
  layout/mathml/mathml.css
  layout/mathml/nsMathMLContainerFrame.cpp
  layout/mathml/nsMathMLContainerFrame.h
  layout/mathml/nsMathMLmfracFrame.cpp
  testing/web-platform/meta/mathml/presentation-markup/fractions/default-mfrac-padding-style.html.ini
  testing/web-platform/meta/mathml/presentation-markup/fractions/frac-bar-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/border-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/margin-003.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-002.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1908069 - Add border/padding/margin support to MathML token elements. r=emilio
  gfx/2d/BaseMargin.h
  layout/generic/WritingModes.h
  layout/mathml/nsMathMLTokenFrame.cpp
  layout/mathml/nsMathMLmoFrame.cpp
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/border-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-003.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1908069 - Add border/padding/margin support to mrow-like elements. r=emilio
  layout/mathml/mathml.css
  layout/mathml/nsMathMLContainerFrame.cpp
  layout/mathml/nsMathMLmpaddedFrame.cpp
  testing/web-platform/meta/mathml/presentation-markup/mrow/merror-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/attribute-mapping-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/border-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/border-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/margin-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/margin-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/margin-003.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-001.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-007.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1908069 - Add border/padding/margin support to scripted elements. r=emilio
  layout/mathml/nsMathMLContainerFrame.h
  layout/mathml/nsMathMLmmultiscriptsFrame.cpp
  layout/mathml/nsMathMLmunderoverFrame.cpp
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/border-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/margin-003.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-002.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1908069 - Add border/padding/margin support to msqrt, mroot and menclose. r=emilio
  layout/mathml/nsMathMLmencloseFrame.cpp
  layout/mathml/nsMathMLmrootFrame.cpp
  layout/mathml/nsMathMLmrootFrame.h
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/border-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/margin-003.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-002.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-005.html.ini
  testing/web-platform/meta/mathml/relations/css-styling/padding-border-margin/padding-border-margin-006.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1908620 - Hide all toolbars when find in page is active r=android-reviewers,skhan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/FindInPageIntegration.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/FindInPageIntegrationTest.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset 0d53cc2130df (bug 1901769) for causing bc failure on browser_navigator_clipboard_clickjacking.js CLOSED TREE
  layout/xul/nsMenuPopupFrame.cpp
  layout/xul/nsMenuPopupFrame.h
  toolkit/modules/ClipboardContextMenu.sys.mjs
  widget/tests/browser/browser_test_clipboard_contextmenu.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1807268 - Disable tabsCounterShortcutMenuNewTabFromNavbarTest UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/TabbedBrowsingWithNavbarTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1903977 - Add a blob tile pool. r=gfx-reviewers,gw
  gfx/webrender_bindings/src/moz2d_renderer.rs
  gfx/wr/webrender/src/renderer/init.rs
  gfx/wr/webrender/src/scene_builder_thread.rs
  gfx/wr/webrender_api/src/image.rs
  gfx/wr/webrender_api/src/lib.rs
  gfx/wr/webrender_api/src/tile_pool.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1911538 - Avoid allocating a string in gecko_profiler::add_marker. r=profiler-reviewers,canaltinova
  gfx/webrender_bindings/src/bindings.rs
  gfx/webrender_bindings/src/moz2d_renderer.rs
  tools/profiler/rust-api/src/marker/mod.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Backed out changeset bd37586e34ed (bug 1903977) for causing WR bustages CLOSED TREE
  gfx/webrender_bindings/src/moz2d_renderer.rs
  gfx/wr/webrender/src/renderer/init.rs
  gfx/wr/webrender/src/scene_builder_thread.rs
  gfx/wr/webrender_api/src/image.rs
  gfx/wr/webrender_api/src/lib.rs
  gfx/wr/webrender_api/src/tile_pool.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1910848 - Pull out GetUsageForOrigin and GetUsageForOriginEntries methods from QuotaUsageRequestBase into a new base class; r=dom-storage-reviewers,jari
  dom/quota/OriginOperations.cpp
  dom/quota/QuotaUsageRequestBase.cpp
  dom/quota/QuotaUsageRequestBase.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910848 - Pull out TraverseRepositoryHelper::GetIsCanceledFlag method into a new base class; r=dom-storage-reviewers,jari
  dom/quota/OriginOperations.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910848 - Encapsulate NormalOriginOperationBase::mCanceled; r=dom-storage-reviewers,jari
  dom/quota/NormalOriginOperationBase.h
  dom/quota/OriginOperations.cpp
  dom/quota/QuotaUsageRequestBase.cpp
  dom/quota/ResolvableNormalOriginOp.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910848 - Align QuotaUsageRequestBase::SendResults and ResolvableNormalOriginOp::SendResults; r=dom-storage-reviewers,jari
  dom/quota/ResolvableNormalOriginOp.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910848 - Make PQuotaUsageRequest protocol refcounted; r=dom-storage-reviewers,jari
  dom/quota/ActorsChild.cpp
  dom/quota/ActorsChild.h
  dom/quota/OriginOperationBase.h
  dom/quota/OriginOperations.cpp
  dom/quota/PQuotaUsageRequest.ipdl
  dom/quota/QuotaParent.cpp
  dom/quota/QuotaParent.h
  dom/quota/QuotaRequestBase.h
  dom/quota/QuotaUsageRequestBase.h
  dom/quota/ResolvableNormalOriginOp.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
