Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Backed out changeset 3d3e86a6d3fc (bug 1908908) for causing multiple failures CLOSED TREE
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1912565 - Show sponsored suggestions at the bottom of the Firefox Suggest section when search suggestions are disabled or the default engine doesn't support them. r=daisuke a=RyanVM
  browser/components/urlbar/UrlbarProviderQuickSuggest.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_block.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_indexes.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_telemetry_gleanEmptyStrings.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_telemetry_sponsored.js
  browser/components/urlbar/tests/quicksuggest/unit/head.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_scoreMap.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1912565 - Show sponsored suggestions at the bottom of the Firefox Suggest section when search suggestions are disabled or the default engine doesn't support them. r=daisuke
  browser/components/urlbar/UrlbarProviderQuickSuggest.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_block.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_indexes.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_telemetry_gleanEmptyStrings.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_telemetry_sponsored.js
  browser/components/urlbar/tests/quicksuggest/unit/head.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_scoreMap.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-ar/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ar/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-eu/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ja/strings.xml
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-ja/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-eu/strings.xml
  mobile/android/focus-android/app/src/main/res/values-uk/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1913792 - test(webgpu): un-remove `FAIL`ing meta. for `webgpu:api,validation,queue,copyToTexture,CopyExternalImageToTexture:source_canvas,state:*`
  testing/web-platform/mozilla/meta/webgpu/cts/webgpu/api/validation/queue/copyToTexture/CopyExternalImageToTexture/cts.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1793267 - Make `PostEventHandler::CheckPointerCaptureState` synthesize `ePointerMove` and `eMouseMove` if nobody captures the pointer anymore r=smaug
  dom/events/PointerEventHandler.cpp
  dom/events/PointerEventHandler.h
  layout/base/PresShell.cpp
  testing/web-platform/meta/pointerevents/pointerevent_boundary_events_at_implicit_release_hoverable_pointers.html.ini
  testing/web-platform/meta/pointerevents/pointerevent_capture_suppressing_mouse.html.ini
  testing/web-platform/tests/pointerevents/pointerevent_capture_implicit_release_on_parent_doc_while_subdoc_captures-manual.html
  testing/web-platform/tests/pointerevents/pointerevent_capture_implicit_release_on_subdoc_while_parent_doc_captures-manual.html
  widget/BasicEvents.h
  widget/InputData.cpp
  widget/InputData.h
  widget/MouseEvents.h
  widget/WidgetEventImpl.cpp
  widget/nsGUIEventIPC.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1910287 - Make `NativeKey::GetFollowingCharMessage()` return `true` even if `wParam` of `WM_DEADCHAR` is `0` r=m_kato
  widget/windows/KeyboardLayout.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1913507 - Add capability to show AMP suggestions as top picks based on keyword character counts. r=daisuke,fluent-reviewers,flod
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/UrlbarProviderQuickSuggest.sys.mjs
  browser/components/urlbar/UrlbarView.sys.mjs
  browser/components/urlbar/content/enUS-searchFeatures.ftl
  browser/components/urlbar/private/AdmWikipedia.sys.mjs
  browser/components/urlbar/tests/quicksuggest/QuickSuggestTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest.js
  browser/components/urlbar/tests/quicksuggest/unit/head.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1899500 - Implement explicit resource management in Baseline compiler. r=arai
  js/moz.configure
  js/src/frontend/UsingEmitter.cpp
  js/src/frontend/UsingEmitter.h
  js/src/jit/BaselineCodeGen.cpp
  js/src/jit/BaselineFrame.cpp
  js/src/jit/BaselineFrame.h
  js/src/jit/VMFunctionList-inl.h
  js/src/jit/VMFunctions.cpp
  js/src/jit/VMFunctions.h
  js/src/vm/EnvironmentObject.h
  js/src/vm/Interpreter.cpp
  js/src/vm/Opcodes.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-flake8, file-whitespace, file-perm, mozbuild

Bug 1898204 - [devtools] Show cursor location as document selection changes r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/actions/sources/select.js
  devtools/client/debugger/src/components/Editor/index.js
  devtools/client/debugger/src/reducers/sources.js
  devtools/client/debugger/src/selectors/sources.js
  devtools/client/debugger/src/utils/editor/index.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1912083 - Remove unused aContentModal argument. r=jjaschke
  dom/base/nsGlobalWindowOuter.cpp
  dom/base/nsGlobalWindowOuter.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912083 - Switch url argument to UTF8 string. r=jjaschke
  accessible/generic/ImageAccessible.cpp
  docshell/base/nsDocShell.cpp
  dom/base/Document.cpp
  dom/base/nsGlobalWindowOuter.cpp
  dom/base/nsGlobalWindowOuter.h
  dom/base/nsPIDOMWindow.h
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/ipc/PWindowGlobal.ipdl
  dom/ipc/WindowGlobalChild.cpp
  dom/ipc/WindowGlobalChild.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912083 - Remove unused aExtraArgument argument. r=jjaschke
  dom/base/nsGlobalWindowOuter.cpp
  dom/base/nsGlobalWindowOuter.h
  dom/base/nsPIDOMWindow.h
  toolkit/components/windowwatcher/nsPIWindowWatcher.idl
  toolkit/components/windowwatcher/nsWindowWatcher.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912083 - Remove complicated but unnecessary void string handling. r=jjaschke
  dom/base/nsGlobalWindowOuter.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1553850 - Enable use of sandbox during profiling step r=perftest-reviewers,afinder,glandium
  build/pgo/profileserver.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1553850 - Add LLVM_PROFILE_FILE directory computation r=bobowen,haik
  security/sandbox/common/SandboxSettings.cpp
  security/sandbox/common/SandboxSettings.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1553850 - Add LLVM profiling to macOS Sandbox r=haik
  security/sandbox/mac/Sandbox.mm
  security/sandbox/mac/SandboxPolicyPGO.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1553850 - Add LLVM profiling to Linux Sandbox r=gcp,perftest-reviewers,afinder
  security/sandbox/linux/SandboxFilter.cpp
  security/sandbox/linux/broker/SandboxBrokerPolicyFactory.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1553850 - Add LLVM profiling to Windows Sandbox r=bobowen
  security/sandbox/win/src/sandboxbroker/sandboxBroker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1913342 [wpt PR 47617] - [css-inline-3] Fix typo, a=testonly
  testing/web-platform/tests/css/css-inline/text-box-trim/text-box-trim-ruby-start-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913298 [wpt PR 47614] - WebNN: Add support limits for hardSigmoid and hardSwish, a=testonly
  testing/web-platform/tests/webnn/validation_tests/hardSigmoid.https.any.js
  testing/web-platform/tests/webnn/validation_tests/hardSwish.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913336 [wpt PR 47615] - [Editing] Fix errors in applying undo after deleting at block boundary, a=testonly
  testing/web-platform/tests/editing/run/undo-redo.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913340 [wpt PR 47616] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-scrollbars/scrollbar-gutter-scroll-into-view.html.ini
Due: bugzilla-components, test-manifest

Bug 1913340 [wpt PR 47616] - Move scrollbar and border adjusting logic inside GetScrollOffsetToExpose, a=testonly
  testing/web-platform/tests/css/css-scrollbars/scrollbar-gutter-scroll-into-view-ref.html
  testing/web-platform/tests/css/css-scrollbars/scrollbar-gutter-scroll-into-view.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913367 [wpt PR 47621] - Revert "WebNN: Add support limits for hardSigmoid and hardSwish", a=testonly
  testing/web-platform/tests/webnn/validation_tests/hardSigmoid.https.any.js
  testing/web-platform/tests/webnn/validation_tests/hardSwish.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913380 [wpt PR 47626] - [css-inline] Fix `text_invalid_value` typo, a=testonly
  testing/web-platform/tests/css/css-inline/text-box-trim/parsing/text-box-invalid.html
  testing/web-platform/tests/css/css-inline/text-box-trim/parsing/text-box-trim-invalid.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913380 [wpt PR 47626] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-inline/text-box-trim/parsing/text-box-invalid.html.ini
  testing/web-platform/meta/css/css-inline/text-box-trim/parsing/text-box-trim-invalid.html.ini
Due: bugzilla-components, test-manifest

Bug 1913374 [wpt PR 47624] - [layout] Consider the aspect-ratio for flex's auto-min size., a=testonly
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-045.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-046.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-047.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-048.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-049.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-050.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-051.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-052.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-053.html
  testing/web-platform/tests/css/css-sizing/aspect-ratio/flex-aspect-ratio-054.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913264 [wpt PR 47611] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=268743, a=testonly
  testing/web-platform/tests/html/dom/render-blocking/support/utils.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913374 [wpt PR 47624] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-sizing/aspect-ratio/flex-aspect-ratio-045.html.ini
  testing/web-platform/meta/css/css-sizing/aspect-ratio/flex-aspect-ratio-046.html.ini
Due: bugzilla-components, test-manifest

Bug 1913373 [wpt PR 47623] - view-transition-types tests: make grid column width fixed at 100px, a=testonly
  testing/web-platform/tests/css/css-view-transitions/view-transition-types-matches-ref.html
  testing/web-platform/tests/css/css-view-transitions/view-transition-types-matches.html
  testing/web-platform/tests/css/css-view-transitions/view-transition-types-reserved-mutation.html
  testing/web-platform/tests/css/css-view-transitions/view-transition-types-reserved-ref.html
  testing/web-platform/tests/css/css-view-transitions/view-transition-types-reserved.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913375 [wpt PR 47625] - Core-AAM: Fix manual tests with missing comma, a=testonly
  testing/web-platform/tests/core-aam/deletion-manual.html
  testing/web-platform/tests/core-aam/insertion-manual.html
  testing/web-platform/tests/core-aam/mark-manual.html
  testing/web-platform/tests/core-aam/suggestion-manual.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913371 [wpt PR 47622] - Reference Target for Cross-Root ARIA, a=testonly
  testing/web-platform/tests/shadow-dom/reference-target/tentative/README.md
  testing/web-platform/tests/shadow-dom/reference-target/tentative/anchor.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/aria-labelledby.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/label-descendant.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/label-for.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/popovertarget.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/property-reflection.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913371 [wpt PR 47622] - Update wpt metadata, a=testonly
  testing/web-platform/meta/shadow-dom/reference-target/tentative/anchor.html.ini
  testing/web-platform/meta/shadow-dom/reference-target/tentative/aria-labelledby.html.ini
  testing/web-platform/meta/shadow-dom/reference-target/tentative/label-descendant.html.ini
  testing/web-platform/meta/shadow-dom/reference-target/tentative/label-for.html.ini
  testing/web-platform/meta/shadow-dom/reference-target/tentative/popovertarget.html.ini
  testing/web-platform/meta/shadow-dom/reference-target/tentative/property-reflection.html.ini
Due: bugzilla-components, test-manifest

Bug 1913392 [wpt PR 47629] - [reading-flow] display: contents as scope owner, a=testonly
  testing/web-platform/tests/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-with-display-contents.html
  testing/web-platform/tests/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-with-nested-grids.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1913392 [wpt PR 47629] - Update wpt metadata, a=testonly
  testing/web-platform/meta/shadow-dom/focus-navigation/reading-flow/tentative/grid-order-with-display-contents.html.ini
Due: bugzilla-components, test-manifest

Bug 1913391 [wpt PR 47628] - Centralize getComposedRanges tests under wpt/selection/shadow-dom/tentative/, a=testonly
  testing/web-platform/tests/selection/shadow-dom/tentative/Range-isPointInRange.html
  testing/web-platform/tests/selection/shadow-dom/tentative/Selection-collapse-and-extend.html
  testing/web-platform/tests/selection/shadow-dom/tentative/Selection-getComposedRanges-collapsed.html
  testing/web-platform/tests/selection/shadow-dom/tentative/Selection-getComposedRanges.html
  testing/web-platform/tests/selection/shadow-dom/tentative/Selection-later-become-slotted-content.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
