Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Handle more differences in packet object details.
  devtools/client/debugger/src/client/firefox/events.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Fix various problems and add mochitest for how messages are displayed in the console.
  devtools/client/debugger/src/client/firefox/commands.js
  devtools/client/inspector/inspector.js
  devtools/client/themes/webconsole.css
  devtools/client/webconsole/components/Output/ConsoleOutput.js
  devtools/client/webconsole/components/Output/Message.js
  devtools/client/webconsole/components/Output/message-types/ConsoleCommand.js
  devtools/client/webconsole/components/Output/message-types/EvaluationResult.js
  devtools/client/webconsole/reducers/messages.js
  devtools/client/webconsole/webconsole-wrapper.js
  devtools/client/webreplay/mochitest/browser_rr_console_warp-02.js
  devtools/client/webreplay/mochitest/examples/doc_rr_basic.html
  devtools/client/webreplay/mochitest/examples/doc_rr_logs.html
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Show error when evaluating while not paused.
  devtools/client/webreplay/mochitest/browser_rr_console_eval.js
  devtools/server/actors/webconsole.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Fix broken frame timeline.
  devtools/client/debugger/src/actions/pause/index.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Disable more autocomplete logic when replaying.
  devtools/client/webconsole/actions/autocomplete.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Add more webconsole client/server logging.
  devtools/client/webconsole/reducers/messages.js
  devtools/server/actors/webconsole.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Fix a couple minor bugs.
  devtools/server/actors/thread.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Log behavior when replaying recording.
  devtools/client/webreplay/components/WebReplayPlayer.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Rename playback functionality in web replay player.
  devtools/client/webreplay/components/WebReplayPlayer.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Tweaks and fixes for inspector automated testing.
  devtools/client/inspector/markup/markup.js
  devtools/server/actors/highlighters.js
  devtools/server/actors/replay/graphics.js
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Add logging for time the markup loading indicator is shown.
  devtools/client/inspector/inspector.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Fix await call.
  devtools/shared/inspector/css-logic.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Add diagnostic messages for time taken by connection worker thread events.
  ipc/chromium/src/base/message_loop.cc
  toolkit/recordreplay/ipc/ParentIPC.cpp
  xpcom/threads/nsThread.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Adjust diagnostics.
  ipc/chromium/src/base/message_loop.cc
  toolkit/recordreplay/ipc/ParentIPC.cpp
  xpcom/threads/nsThread.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

More diagnostics.
  ipc/glue/MessagePump.cpp
  toolkit/recordreplay/ipc/ParentIPC.cpp
  xpcom/threads/nsThread.cpp
  xpcom/threads/nsThreadUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

More diagnostics.
  dom/workers/WorkerPrivate.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Add diagnostics.
  dom/workers/WorkerPrivate.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Make SendMessageToCloudRunnable a WorkerRunnable.
  devtools/server/actors/replay/connection-worker.js
  toolkit/recordreplay/ipc/ParentIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

rm diagnostics
  dom/workers/WorkerPrivate.cpp
  ipc/chromium/src/base/message_loop.cc
  ipc/glue/MessagePump.cpp
  toolkit/recordreplay/ipc/ParentIPC.cpp
  xpcom/threads/nsThread.cpp
  xpcom/threads/nsThreadUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Log begin/end of loading object properties in server.
  devtools/client/debugger/packages/devtools-reps/src/object-inspector/utils/load-properties.js
  devtools/client/shared/components/reps/reps.js
  devtools/server/actors/object.js
  devtools/shared/specs/object.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Log front destruction stacks.
  devtools/shared/protocol/Front.js
  devtools/shared/protocol/Front/FrontClassWithSpec.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Don't destroy object fronts in debugger.
  devtools/client/debugger/src/client/firefox/commands.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Disable long string front creation (not implemented by the debugger).
  devtools/client/shared/components/reps/reps.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Comment out unreachable code.
  devtools/client/debugger/src/client/firefox/commands.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Watch out for destroyed highlighter.
  devtools/server/actors/highlighters.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Add some logging.
  devtools/client/inspector/inspector.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Add some logging and diagnostics.
  devtools/server/actors/inspector/css-logic.js
  devtools/server/actors/thread.js
  devtools/shared/protocol/Actor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Respawn non-main threads before diverging from the recording.
  toolkit/recordreplay/ProcessRewind.cpp
  toolkit/recordreplay/ProcessRewind.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Dump stack on overrecursion during automated tests.
  js/src/vm/JSContext.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Add inspector test that iframe contents are picked / marked up correctly.
  devtools/client/webreplay/mochitest/browser_rr_inspector-02.js
  devtools/client/webreplay/mochitest/examples/doc_inspector_basic.html
  devtools/client/webreplay/mochitest/examples/iframe.html
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Fix a couple issues.
  devtools/server/actors/replay/connection-worker.js
  devtools/shared/protocol/Front.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Show correct recording button colors in dark mode.
  browser/themes/shared/toolbarbutton-icons.inc.css
Due: bugzilla-components

Log error if RecordingInitialized notification does not appear.
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Disable graying out of unexecuted lines.
  devtools/client/debugger/src/components/Editor/ReplayLines.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Add mozconfig settings to README
  README.txt
Due: bugzilla-components

Add some diagnostic asserts.
  image/RasterImage.cpp
  image/SurfaceCache.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Fix a couple issues.
  devtools/client/inspector/markup/markup.js
  devtools/server/actors/utils/inactive-property-helper.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Fix some assorted issues.
  devtools/server/actors/inspector/css-logic.js
  devtools/server/actors/replay/connection-worker.js
  devtools/server/actors/replay/connection.js
  devtools/startup/DevToolsStartup.jsm
  xpcom/ds/nsAtomTable.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Avoid fetching sheet rules unnecessarily.
  devtools/server/actors/inspector/css-logic.js
  devtools/server/actors/styles.js
  devtools/server/actors/stylesheets.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Watch for unpauses while getting font faces.
  devtools/server/actors/layout.js
  devtools/server/actors/styles.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
