Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1905126 - Added new Qwant icon records to the dumps that we ship. r=Standard8
  services/settings/dumps/main/moz.build
  services/settings/dumps/main/search-config-icons/39979158-80cf-4f0c-8bd6-9220eb09e751
  services/settings/dumps/main/search-config-icons/39979158-80cf-4f0c-8bd6-9220eb09e751.meta.json
  services/settings/dumps/main/search-config-icons/7bf4ca37-e2b8-4d31-a1c3-979bc0e85131
  services/settings/dumps/main/search-config-icons/7bf4ca37-e2b8-4d31-a1c3-979bc0e85131.meta.json
Due: bugzilla-components

Backed out 21 changesets (bug 1903071, bug 1902627, bug 1903055, bug 1903582, bug 1900592) for causing build bustages on FFmpegDataEncoder.cpp CLOSED TREE
  dom/media/VideoUtils.cpp
  dom/media/VideoUtils.h
  dom/media/gtest/TestBitWriter.cpp
  dom/media/gtest/TestMediaDataEncoder.cpp
  dom/media/mp4/MP4Decoder.cpp
  dom/media/platforms/PlatformEncoderModule.cpp
  dom/media/platforms/agnostic/bytestreams/H264.cpp
  dom/media/platforms/agnostic/bytestreams/H264.h
  dom/media/platforms/agnostic/bytestreams/gtest/TestByteStreams.cpp
  dom/media/platforms/agnostic/gmp/GMPVideoEncoder.cpp
  dom/media/platforms/apple/AppleVTEncoder.cpp
  dom/media/platforms/ffmpeg/FFmpegDataEncoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoEncoder.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoEncoder.h
  dom/media/webcodecs/VideoEncoder.cpp
  media/ffvpx/libaomenc-svc.patch
  media/ffvpx/libavcodec/libaomenc.c
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/webcodecs/video-encoder-h264.https.any.js.ini
  testing/web-platform/tests/webcodecs/video-encoder-h264.https.any.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, wptlint-gecko, yaml, file-whitespace, file-perm

Bug 1893295 - (part 1) build enable-backup-encryption component. r=backup-reviewers,fluent-reviewers,mconley
  browser/components/backup/actors/BackupUIParent.sys.mjs
  browser/components/backup/content/backup-settings.css
  browser/components/backup/content/backup-settings.mjs
  browser/components/backup/content/enable-backup-encryption.css
  browser/components/backup/content/enable-backup-encryption.mjs
  browser/components/backup/content/enable-backup-encryption.stories.mjs
  browser/components/backup/content/turn-on-scheduled-backups.css
  browser/components/backup/content/turn-on-scheduled-backups.mjs
  browser/components/backup/jar.mn
  browser/locales-preview/backupSettings.ftl
Due: bugzilla-components, codespell

Bug 1893295 - (part 2) make enable-backup-encryption re-run encryption using BackupUI actors and BackupService. r=backup-reviewers,firefox-desktop-core-reviewers ,mconley
  browser/components/BrowserGlue.sys.mjs
  browser/components/backup/actors/BackupUIChild.sys.mjs
  browser/components/backup/actors/BackupUIParent.sys.mjs
  browser/components/backup/content/backup-settings.mjs
  browser/components/backup/content/enable-backup-encryption.mjs
Due: bugzilla-components

Bug 1893295 - (part 3) add tests for enable-backup-encryption and simplify mock input events. r=backup-reviewers,mconley
  browser/components/backup/tests/browser/browser_settings.js
  browser/components/backup/tests/browser/browser_settings_turn_on_scheduled_backups.js
  browser/components/backup/tests/browser/head.js
  browser/components/backup/tests/chrome/chrome.toml
  browser/components/backup/tests/chrome/test_enable_backup_encryption.html
  browser/components/backup/tests/chrome/test_turn_on_scheduled_backups.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1904077 - Merge Stop and Reload button rules from browser/base/content/browser.css and toolbarbutton-icons.css into toolbarbuttons.css. r=desktop-theme-reviewers,emilio
  browser/base/content/browser.css
  browser/themes/shared/customizableui/panelUI-shared.css
  browser/themes/shared/toolbarbutton-icons.css
  browser/themes/shared/toolbarbuttons.css
Due: bugzilla-components

Bug 1904585 - Add the possibility to dispatch some pdf.js chrome events r=omc-reviewers,aminomancer
  toolkit/components/pdfjs/content/PdfStreamConverter.sys.mjs
  toolkit/components/pdfjs/test/browser.toml
  toolkit/components/pdfjs/test/browser_pdfjs_chrome_events.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1904779 - Update PDF.js to new version 2fbd61944b88d67a2df97ae8a3ac1fa86f7b4092 r=pdfjs-reviewers,Snuffleupagus
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
Due: bugzilla-components, yaml

Bug 1884970 - Close current tab button is missing an accessible name and role. r=tabbrowser-reviewers,fluent-reviewers,dao,bolsson,flod
  browser/components/tabbrowser/content/tab.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_close.js
  browser/locales/en-US/browser/tabbrowser.ftl
  python/l10n/fluent_migrations/bug_1884970_tabbrowser_close_tabs_button.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, localization, file-whitespace, file-perm

Bug 1901387 - Part 1: Ensure URLInfo is safe to use OMT, r=extension-reviewers,robwu
  toolkit/components/extensions/MatchPattern.cpp
  toolkit/components/extensions/MatchPattern.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901387 - Part 2: Add EPS::GetCoreByURL, r=extension-reviewers,robwu
  toolkit/components/extensions/ExtensionPolicyService.cpp
  toolkit/components/extensions/ExtensionPolicyService.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901387 - Part 3: Make nsIPrincipal::CheckMayLoad threadsafe, r=asuth,ckerschb,extension-reviewers,robwu
  caps/BasePrincipal.cpp
  caps/nsIPrincipal.idl
  netwerk/base/nsIProtocolHandler.idl
  netwerk/protocol/res/ExtensionProtocolHandler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901387 - Part 4: Remove the main thread sync dispatch for CheckMayLoad from Request, r=asuth
  dom/fetch/Request.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905346 - Setting pref in test to ensure h264 baseline codecs are available. r=webrtc-reviewers,ng
  media/webrtc/signaling/gtest/jsep_session_unittest.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905348 - Set pref in test to ensure H264 Baseline is signaled. r=webrtc-reviewers,ng
  dom/media/webrtc/tests/mochitests/test_peerConnection_basicScreenshare.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1891146 - Measure places, favicons, and total profile backup time r=places-reviewers,Standard8,mconley
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/MeasurementUtils.sys.mjs
  browser/components/backup/metrics.yaml
  browser/components/backup/resources/PlacesBackupResource.sys.mjs
  browser/components/backup/tests/xpcshell/head.js
  browser/components/backup/tests/xpcshell/test_BackupService.js
  browser/components/backup/tests/xpcshell/test_MeasurementUtils_fuzzByteSize.js
  browser/components/backup/tests/xpcshell/test_PlacesBackupResource.js
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1905335 - WebRTC backport: PipeWire capture: hide cursor when it goes off screen or is not visible r=pehrsons,webrtc-reviewers
  third_party/libwebrtc/modules/desktop_capture/linux/wayland/mouse_cursor_monitor_pipewire.cc
  third_party/libwebrtc/modules/desktop_capture/linux/wayland/shared_screencast_stream.cc
  third_party/libwebrtc/moz-patch-stack/e6ad337d63.no-op-cherry-pick-msg
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 87d3cf2b45b2 (bug 1884970) for causing bc failures in browser_multiselect_tabs_close.js CLOSED TREE
  browser/components/tabbrowser/content/tab.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_close.js
  browser/locales/en-US/browser/tabbrowser.ftl
  python/l10n/fluent_migrations/bug_1884970_tabbrowser_close_tabs_button.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, localization, file-whitespace, file-perm

Bug 1896405 - Add "close" behaviour to the Prompt r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyRequestPrompt.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1905349 - Add the required a11y strings to the microsurvey UI components with 'contentDescription' r=android-reviewers,amejiamarmol
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicroSurveyContent.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicroSurveyHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyRequestPrompt.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1902975 - Adjust reftest result for 621918-2.svg on Android real device. r=TYLin
  layout/reftests/bugs/reftest.list
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1902969 - cancel DLP request when warn dialog is moved to new window r=dlp-reviewers,handyman
  browser/components/contentanalysis/content/ContentAnalysis.sys.mjs
Due: bugzilla-components

Bug 1898380 - Replace the 'unsaved changes' dialog in the PDF viewer with a clearer one r=Gijs,desktop-theme-reviewers,emilio,dao
  browser/branding/aurora/content/document_pdf.svg
  browser/branding/aurora/content/jar.mn
  browser/branding/nightly/content/document_pdf.svg
  browser/branding/nightly/content/jar.mn
  browser/branding/official/content/document_pdf.svg
  browser/branding/official/content/jar.mn
  browser/branding/unofficial/content/document_pdf.svg
  browser/branding/unofficial/content/jar.mn
  browser/components/prompts/PromptCollection.sys.mjs
  dom/locales/en-US/chrome/dom/dom.properties
  toolkit/components/downloads/DownloadLegacy.sys.mjs
  toolkit/components/pdfjs/content/PdfjsChild.sys.mjs
  toolkit/components/pdfjs/content/PdfjsParent.sys.mjs
  toolkit/components/pdfjs/test/browser.toml
  toolkit/components/pdfjs/test/browser_pdfjs_download_button.js
  toolkit/components/pdfjs/test/browser_pdfjs_saveas.js
  toolkit/components/pdfjs/test/browser_pdfjs_stamp_telemetry.js
  toolkit/components/pdfjs/test/browser_pdfjs_unload_dialog.js
  toolkit/components/prompts/content/commonDialog.js
  toolkit/content/contentAreaUtils.js
  toolkit/content/tests/browser/common/mockTransfer.js
  uriloader/base/nsITransfer.idl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1842832 - Move private browser permission toggle to initial addon install dialog. r=willdurand,fluent-reviewers,desktop-theme-reviewers,bolsson,dao
  browser/base/content/test/webextensions/browser_extension_sideloading.js
  browser/base/content/test/webextensions/browser_permissions_dismiss.js
  browser/base/content/test/webextensions/head.js
  browser/locales/en-US/browser/browser.ftl
  browser/modules/ExtensionsUI.sys.mjs
  browser/themes/shared/addon-notification.css
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
  toolkit/mozapps/extensions/test/browser/head.js
  toolkit/mozapps/extensions/test/xpinstall/browser_doorhanger_installs.js
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1859814 - Always set 'defaultValue' to the type 'prompt'. r=webdriver-reviewers,whimboo
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
Due: bugzilla-components, test-manifest

Backed out changeset 6ac47dbd939c (bug 1884970) for causing bc failures in browser_tab_tooltips.js CLOSED TREE
  browser/components/tabbrowser/content/tab.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_multiselect_tabs_close.js
  browser/locales/en-US/browser/tabbrowser.ftl
  python/l10n/fluent_migrations/bug_1884970_tabbrowser_close_tabs_button.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, localization, file-whitespace, file-perm

Bug 1882079 - Display real path when choosing download directory over portal r=settings-reviewers,Gijs,emilio
  browser/components/preferences/main.js
  xpcom/io/FileDescriptorFile.cpp
  xpcom/io/moz.build
  xpcom/io/nsIFile.idl
  xpcom/io/nsLocalFileUnix.cpp
  xpcom/io/nsLocalFileWin.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1905153 - Support loadModule after asyncLoadModule r=rpl
  toolkit/components/extensions/ExtensionCommon.sys.mjs
  toolkit/components/extensions/test/xpcshell/test_load_all_api_modules.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1905251 - Build wasi-sdk with -mno-reference-types. r=firefox-build-system-reviewers,sergesanspaille
  taskcluster/scripts/misc/wasi-sdk.patch
Due: bugzilla-components

Bug 1895947 - Text align buttons in reader view should also align images. r=reader-mode-reviewers,Itiel,Gijs
  toolkit/components/reader/AboutReader.sys.mjs
  toolkit/themes/shared/aboutReader.css
Due: bugzilla-components

Bug 1903523: Only preload DLLs in content process when sandbox requires it. r=handyman
  dom/ipc/ContentChild.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904548 - Refactor the documentation for the Remove duplicate descriptions in NimbusMessagingCon0troller r=android-reviewers,amejiamarmol
  mobile/android/android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/messaging/NimbusMessagingController.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset 5c817eb3498b (bug 1891146) for causing xpcshell failures in test_BackupService.js (Bug 1905413) CLOSED TREE
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/MeasurementUtils.sys.mjs
  browser/components/backup/metrics.yaml
  browser/components/backup/resources/PlacesBackupResource.sys.mjs
  browser/components/backup/tests/xpcshell/head.js
  browser/components/backup/tests/xpcshell/test_BackupService.js
  browser/components/backup/tests/xpcshell/test_MeasurementUtils_fuzzByteSize.js
  browser/components/backup/tests/xpcshell/test_PlacesBackupResource.js
  toolkit/components/telemetry/Histograms.json
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

"Bug 1905081 - archivereader.cpp: Remove an useless assignement to the variable 'xz_rv' r=application-update-reviewers,bytesized"
  toolkit/mozapps/update/updater/archivereader.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905412 - modernize mozdevice code r=jmaher
  testing/mozbase/mozdevice/mozdevice/adb.py
  testing/mozbase/mozdevice/mozdevice/remote_process_monitor.py
  testing/mozbase/mozdevice/setup.py
  testing/mozbase/mozdevice/tests/conftest.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozbase, mozbuild

Bug 1903591 - Move js-confdefs / mozilla-config include from old-configure to moz.configure r=glandium
  build/moz.configure/toolchain.configure
  js/src/old-configure.in
  old-configure.in
Due: bugzilla-components, codespell, py-flake8, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
