Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Backed out changeset 9d5f8b003b5f (bug 1907519) as requested by mavduevskiy to refactor.
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/browser/BrowserFragmentTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1909234 - Vendor libwebrtc from 4e86f14209
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/test/fuzzers/BUILD.gn
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from 783587e415
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0065.patch
  third_party/libwebrtc/sdk/BUILD.gn
  third_party/libwebrtc/sdk/objc/api/peerconnection/RTCRtpReceiver.h
  third_party/libwebrtc/sdk/objc/api/peerconnection/RTCRtpReceiver.mm
  third_party/libwebrtc/sdk/objc/api/peerconnection/RTCRtpSource+Private.h
  third_party/libwebrtc/sdk/objc/api/peerconnection/RTCRtpSource.h
  third_party/libwebrtc/sdk/objc/api/peerconnection/RTCRtpSource.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 0596503938
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/BUILD.gn
  third_party/libwebrtc/api/network_state_predictor.h
  third_party/libwebrtc/api/transport/BUILD.gn
  third_party/libwebrtc/api/transport/bandwidth_usage.h
  third_party/libwebrtc/logging/BUILD.gn
  third_party/libwebrtc/logging/rtc_event_log/encoder/rtc_event_log_encoder_legacy.cc
  third_party/libwebrtc/logging/rtc_event_log/encoder/rtc_event_log_encoder_new_format.cc
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_bwe_update_delay_based.cc
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_bwe_update_delay_based.h
  third_party/libwebrtc/logging/rtc_event_log/rtc_event_log_parser.cc
  third_party/libwebrtc/logging/rtc_event_log/rtc_event_log_unittest_helper.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/BUILD.gn
  third_party/libwebrtc/modules/congestion_controller/goog_cc/delay_increase_detector_interface.h
  third_party/libwebrtc/modules/congestion_controller/goog_cc/send_side_bandwidth_estimation.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/send_side_bandwidth_estimation.h
  third_party/libwebrtc/modules/congestion_controller/goog_cc/trendline_estimator_unittest.cc
  third_party/libwebrtc/modules/remote_bitrate_estimator/BUILD.gn
  third_party/libwebrtc/modules/remote_bitrate_estimator/include/bwe_defines.h
  third_party/libwebrtc/modules/remote_bitrate_estimator/overuse_detector.h
  third_party/libwebrtc/modules/remote_bitrate_estimator/overuse_estimator.cc
  third_party/libwebrtc/modules/remote_bitrate_estimator/overuse_estimator.h
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/rtc_tools/BUILD.gn
  third_party/libwebrtc/rtc_tools/rtc_event_log_visualizer/analyzer.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 5d3e6805f2
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/audio/BUILD.gn
  third_party/libwebrtc/api/audio/audio_frame.cc
  third_party/libwebrtc/api/audio/audio_frame.h
  third_party/libwebrtc/api/audio/audio_view.h
  third_party/libwebrtc/api/audio/test/BUILD.gn
  third_party/libwebrtc/api/audio/test/audio_frame_unittest.cc
  third_party/libwebrtc/api/audio/test/audio_view_unittest.cc
  third_party/libwebrtc/audio/audio_transport_impl.cc
  third_party/libwebrtc/audio/remix_resample.cc
  third_party/libwebrtc/audio/utility/audio_frame_operations.cc
  third_party/libwebrtc/audio/utility/audio_frame_operations.h
  third_party/libwebrtc/audio/utility/audio_frame_operations_unittest.cc
  third_party/libwebrtc/common_audio/BUILD.gn
  third_party/libwebrtc/common_audio/resampler/include/push_resampler.h
  third_party/libwebrtc/common_audio/resampler/push_resampler.cc
  third_party/libwebrtc/modules/audio_coding/acm2/acm_remixing_unittest.cc
  third_party/libwebrtc/modules/audio_coding/acm2/acm_resampler.cc
  third_party/libwebrtc/modules/audio_coding/acm2/acm_resampler.h
  third_party/libwebrtc/modules/audio_coding/acm2/audio_coding_module_unittest.cc
  third_party/libwebrtc/modules/audio_processing/agc2/vad_wrapper.cc
  third_party/libwebrtc/modules/audio_processing/audio_processing_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0040.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 3214fbc725
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/p2p/base/dtls_transport_unittest.cc
  third_party/libwebrtc/p2p/base/fake_ice_transport.h
  third_party/libwebrtc/p2p/base/ice_transport_internal.h
  third_party/libwebrtc/p2p/base/mock_ice_transport.h
  third_party/libwebrtc/p2p/base/p2p_transport_channel.cc
  third_party/libwebrtc/p2p/base/p2p_transport_channel.h
  third_party/libwebrtc/p2p/base/p2p_transport_channel_unittest.cc
  third_party/libwebrtc/pc/jsep_transport_controller.cc
  third_party/libwebrtc/pc/jsep_transport_controller.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 01f54b6286
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 0ca1cc34e390 (bug 1909729) for causing mochitest fails related to test_meta_simple.html. CLOSED TREE
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1909234 - Vendor libwebrtc from b0c9b48110
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/whitespace.txt
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from ae5d50320d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/g3doc/abseil-in-webrtc.md
  third_party/libwebrtc/moz-patch-stack/0002.patch
  third_party/libwebrtc/moz-patch-stack/0031.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0053.patch
  third_party/libwebrtc/moz-patch-stack/0082.patch
  third_party/libwebrtc/rtc_tools/BUILD.gn
  third_party/libwebrtc/test/fuzzers/BUILD.gn
  third_party/libwebrtc/webrtc.gni
Due: bugzilla-components

Bug 1909234 - Vendor libwebrtc from 7b087121b5
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/p2p/base/connection.cc
  third_party/libwebrtc/rtc_base/helpers.cc
  third_party/libwebrtc/rtc_base/helpers.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 635d365d49
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/sdp_offer_answer_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from d297c4c23f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/congestion_controller/goog_cc/BUILD.gn
  third_party/libwebrtc/modules/congestion_controller/goog_cc/alr_detector.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/alr_detector.h
  third_party/libwebrtc/modules/congestion_controller/goog_cc/congestion_window_pushback_controller_unittest.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/delay_based_bwe.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/delay_based_bwe.h
  third_party/libwebrtc/modules/congestion_controller/goog_cc/delay_based_bwe_unittest.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/delay_based_bwe_unittest_helper.h
  third_party/libwebrtc/modules/congestion_controller/goog_cc/goog_cc_network_control.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/goog_cc_network_control.h
  third_party/libwebrtc/modules/congestion_controller/goog_cc/loss_based_bandwidth_estimation.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/probe_controller_unittest.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/send_side_bandwidth_estimation.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/test/goog_cc_printer.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/test/goog_cc_printer.h
  third_party/libwebrtc/modules/congestion_controller/goog_cc/trendline_estimator.cc
  third_party/libwebrtc/modules/congestion_controller/goog_cc/trendline_estimator.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 30f1cb318b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/BUILD.gn
  third_party/libwebrtc/modules/rtp_rtcp/source/deprecated/deprecated_rtp_sender_egress.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/deprecated/deprecated_rtp_sender_egress.h
  third_party/libwebrtc/modules/rtp_rtcp/source/receive_statistics_impl.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtcp_sender.h
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_egress.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_egress.h
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_sender_video.cc
  third_party/libwebrtc/moz-patch-stack/0086.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1895055 - test
  js/src/jit-test/tests/gc/bug-1895055.js
  js/src/jsapi-tests/testDeduplication.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1909234 - Vendor libwebrtc from 71ad98b2ab
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0063.patch
  third_party/libwebrtc/moz-patch-stack/0109.patch
  third_party/libwebrtc/rtc_base/BUILD.gn
Due: bugzilla-components

Bug 1909012 - Update irregexp to 9b9d02b07c231de5046a87ac80d4bbe24a737097 r=iain
  js/src/irregexp/imported/regexp-ast.h
  js/src/irregexp/imported/regexp-bytecode-peephole.cc
  js/src/irregexp/imported/regexp-bytecode-peephole.h
  js/src/irregexp/imported/regexp-compiler-tonode.cc
  js/src/irregexp/imported/regexp-compiler.cc
  js/src/irregexp/imported/regexp-compiler.h
  js/src/irregexp/imported/regexp-interpreter.cc
  js/src/irregexp/imported/regexp-interpreter.h
  js/src/irregexp/imported/regexp-macro-assembler-tracer.cc
  js/src/irregexp/imported/regexp-macro-assembler.cc
  js/src/irregexp/imported/regexp-macro-assembler.h
  js/src/irregexp/imported/regexp-nodes.h
  js/src/irregexp/imported/regexp-parser.cc
  js/src/irregexp/imported/regexp-parser.h
  js/src/irregexp/imported/regexp.h
  js/src/irregexp/moz.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1909012 - Add definitions for DirectHandle and Cast; r=iain
  js/src/irregexp/RegExpShim.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/engine-system/src/main/res/values-dsb/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-dsb/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-gl/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-dsb/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-gl/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-bg/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-cy/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-da/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-de/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-dsb/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-en-rGB/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-es-rAR/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-gl/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-hsb/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-it/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-iw/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-kk/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ko/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-nn-rNO/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-pt-rPT/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ru/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sk/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sv-rSE/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-tt/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-zh-rTW/strings.xml
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-rm/strings.xml
  mobile/android/fenix/app/src/main/res/values-tt/strings.xml
  mobile/android/focus-android/app/src/main/res/values-da/strings.xml
  mobile/android/focus-android/app/src/main/res/values-dsb/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pa-rIN/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1907495 - Make `DatePicker` listen to `pointerdown` event to capture the pointer r=ayeddi
  toolkit/content/widgets/datepicker.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1909577 - Make some `nsFocusManager::GetFocusedElement()` users use its static version instead r=emilio,credential-management-reviewers,issammani
  accessible/ipc/RemoteAccessible.cpp
  dom/base/Document.cpp
  dom/base/nsContentUtils.cpp
  dom/base/nsContentUtils.h
  dom/base/nsDOMWindowUtils.cpp
  dom/html/HTMLInputElement.cpp
  dom/html/TextControlState.cpp
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorEventListener.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/TextEditor.cpp
  layout/base/PresShell.cpp
  layout/forms/nsTextControlFrame.cpp
  toolkit/components/satchel/nsFormFillController.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1906727 - Make `HTMLEditor::SplitAncestorStyledInlineElementsAt` check attr value type first r=peterv
  dom/base/nsAttrValue.cpp
  dom/base/nsAttrValue.h
  editor/libeditor/HTMLStyleEditor.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1906727 - Make `HTMLEditor::SplitAncestorStyledInlineElementsAt` check attr value type first r=peterv, a=dmeehan
  dom/base/nsAttrValue.cpp
  dom/base/nsAttrValue.h
  editor/libeditor/HTMLStyleEditor.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909610 - Add mDXVA2Manager check in WMFVideoMFTManager::UseZeroCopyVideoFrame() r=media-playback-reviewers,alwu
  dom/media/platforms/wmf/WMFVideoMFTManager.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 2265791d29a4 (bug 1909720) for causing mochitest failures on test_group_keyboard.html. CLOSED TREE
  gfx/layers/apz/test/mochitest/helper_relative_scroll_smoothness.html
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/focus-android/app/src/main/res/values-sk/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1900094 - Add telemetry for impressions missing due to domain-to-categories map issues. r=jteow
  browser/components/search/SearchSERPTelemetry.sys.mjs
  browser/components/search/metrics.yaml
  browser/components/search/test/browser/telemetry/browser.toml
  browser/components/search/test/browser/telemetry/browser_search_telemetry_categorization_missing_impression.js
  browser/components/search/test/browser/telemetry/browser_search_telemetry_domain_categorization_ping_submission.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1713545 - [devtools] Remove deprecated (and unecessary?) setCapture call in touch simulator. r=devtools-reviewers,ochameau.
  devtools/server/actors/emulation/touch-simulator.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1904028 - DownloadFragmentStore to use UIStore instead r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadFragmentStore.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/DownloadFragmentDataMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/DownloadFragmentStoreTest.kt
Due: android-api-lint/opt, bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1900930 - Remove ENSURE_SUCCESS_VOID. r=dom-core,edgar
  dom/bindings/ErrorResult.h
  dom/events/DataTransferItemList.cpp
  dom/html/HTMLOptionsCollection.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900930 - Make ENSURE_SUCCESS call WouldReportJSException. r=dom-core,win-reviewers,emilio,gstoll,edgar
  dom/base/nsDOMDataChannel.cpp
  dom/base/nsDOMWindowUtils.cpp
  dom/bindings/ErrorResult.h
  dom/html/HTMLTextAreaElement.cpp
  dom/simpledb/SDBResults.cpp
  dom/websocket/WebSocket.cpp
  extensions/spellcheck/src/mozInlineSpellChecker.cpp
  toolkit/mozapps/extensions/AddonManagerStartup.cpp
  widget/windows/ToastNotification.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900930 - Make nsProfiler use TypedArrayCreator. r=dom-core,profiler-reviewers,farre,canaltinova
  dom/bindings/TypedArray.h
  dom/promise/Promise.h
  tools/profiler/gecko/nsProfiler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900930 - Call MightThrowJSException() in TypedArray::CreateCommon. r=dom-core,farre
  dom/bindings/TypedArray.h
  dom/bindings/crashtests/1900930.html
  dom/bindings/crashtests/crashtests.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1900930 - Use IgnoreErrors() from ArrayBuffer::Create in StreamFilter::FireEvent. r=dom-core,extension-reviewers,robwu,farre
  toolkit/components/extensions/webrequest/StreamFilter.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900930 - Add WouldReportJSException() calls. r=dom-core,farre
  dom/gamepad/GamepadTouch.cpp
  dom/network/UDPSocket.cpp
  dom/serviceworkers/ServiceWorkerOp.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
