Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1930090 - [webdriver-bidi] Retry dispatching single event if navigation aborted a dispatch. r=webdriver-reviewers,Sasha
  remote/webdriver-bidi/modules/windowglobal/input.sys.mjs
  testing/web-platform/meta/webdriver/tests/bidi/input/perform_actions/navigation.py.ini
Due: bugzilla-components, test-manifest

Bug 1852762 - [devtools] Remove unused rule in accessibility.css. r=devtools-reviewers,bomsy
  devtools/client/accessibility/accessibility.css
Due: bugzilla-components, devtools-tests

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1928349 - Remove word repetition in manifestparser documentation (typo) r=firefox-source-docs-reviewers,sylvestre DONTBUILD
  testing/mozbase/docs/manifestparser.rst
Due: bugzilla-components, codespell, rst, mozbase, mozbuild

Bug 1929818 - add Glean metric for QUIC frame count r=kershaw,necko-reviewers
  netwerk/metrics.yaml
  netwerk/socket/neqo_glue/src/lib.rs
Due: bugzilla-components, license, yaml, rustfmt, file-whitespace, file-perm

Bug 1926030: add missing #include <queue> r=stransky
  widget/gtk/WakeLockListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1926030: add missing #include <queue> r=stransky, a=dmeehan
  widget/gtk/WakeLockListener.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1930499 - Only transform urlbar when broken out. r=urlbar-reviewers,dao, a=dmeehan
  browser/base/content/browser-fullScreenAndPointerLock.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1930499 - Only transform urlbar when broken out. r=urlbar-reviewers,dao
  browser/base/content/browser-fullScreenAndPointerLock.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1929377 - Add warning to about:neterror on OSX to check Local Network permissions r=necko-reviewers,fluent-reviewers,frontend-codestyle-reviewers,kershaw,flod
  toolkit/actors/NetErrorChild.sys.mjs
  toolkit/content/aboutNetError.mjs
  toolkit/locales/en-US/toolkit/neterror/netError.ftl
  toolkit/modules/RemotePageAccessManager.sys.mjs
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/remote-page.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1929445 - Use CSSMinMax rather than std::clamp to avoid assertion & undefined behavior on bad arguments. r=dholbert
  layout/base/crashtests/1929445.html
  layout/base/crashtests/crashtests.list
  layout/generic/ScrollContainerFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1930598 - WebRTC backport: PipeWire camera: use better unique device name for camera devices r=pehrsons,webrtc-reviewers
  third_party/libwebrtc/modules/video_capture/linux/pipewire_session.cc
  third_party/libwebrtc/modules/video_capture/linux/video_capture_pipewire.cc
  third_party/libwebrtc/moz-patch-stack/a5d71009ac.no-op-cherry-pick-msg
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Sort include headers r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Update comment for mEncodedData r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Apply `AutoCFRelease` to `isUsingHW` r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add number of outputs in drain log r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add PrioritizeEncodingSpeedOverQuality setting r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add MaxFrameDelayCount setting r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Improve realtime encoding in AppleVTEncoder r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
  dom/media/platforms/apple/AppleVTEncoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Handle encode-error in AppleVTEncoder for real-time encoding r=media-playback-reviewers,padenot
  dom/media/platforms/apple/AppleVTEncoder.cpp
  dom/media/platforms/apple/AppleVTEncoder.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Use gfx::IntSize to create encoder directly in MediaDataEncoderTest r=media-playback-reviewers,padenot
  dom/media/gtest/TestMediaDataEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919384 - Add 4K image encoding tests in MediaDataEncoderTest r=media-playback-reviewers,alwu
  dom/media/gtest/TestMediaDataEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1929600 a=dmeehan
  toolkit/mozapps/extensions/internal/XPIDatabase.sys.mjs
Due: bugzilla-components

Bug 1925496. a=dmeehan
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser_copying.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1842187 a=dmeehan
  toolkit/components/downloads/DownloadUIHelper.sys.mjs
Due: bugzilla-components

Bug 1930628. Don't store a subdoc display item on a frame if we aren't retaining the display list. r=jwatt
  layout/painting/nsDisplayList.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1930221 - prevent underflow as well as overflow when adding an instance time r=emilio
  dom/smil/SMILTimedElement.cpp
  dom/smil/SMILTimedElement.h
  testing/web-platform/tests/svg/animations/crashtests/firefox-bug-1930221.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1915717 - [network markers] Expose http protocol version for a request in the profiler network tab r=acreskey,necko-reviewers,profiler-reviewers,devtools-reviewers,kershaw,aabh,jdescottes
  devtools/client/netmonitor/test/xpcshell/test_request-utils-js-getFormattedProtocol.js
  netwerk/protocol/http/HttpChannelChild.cpp
  netwerk/protocol/http/InterceptedHttpChannel.cpp
  netwerk/protocol/http/NetworkMarker.cpp
  netwerk/protocol/http/NetworkMarker.h
  netwerk/protocol/http/nsHttpChannel.cpp
  tools/profiler/tests/browser/browser_test_marker_network_cancel.js
  tools/profiler/tests/browser/browser_test_marker_network_private_browsing.js
  tools/profiler/tests/browser/browser_test_marker_network_redirect.js
  tools/profiler/tests/browser/browser_test_marker_network_serviceworker_cache_first.js
  tools/profiler/tests/browser/browser_test_marker_network_serviceworker_no_fetch_handler.js
  tools/profiler/tests/browser/browser_test_marker_network_serviceworker_no_respondWith_in_fetch_handler.js
  tools/profiler/tests/browser/browser_test_marker_network_serviceworker_synthetized_response.js
  tools/profiler/tests/browser/browser_test_marker_network_simple.js
  tools/profiler/tests/browser/browser_test_marker_network_sts.js
  tools/profiler/tests/gtest/GeckoProfiler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, devtools-tests

Bug 1930527 - Update Gradle to version 8.11. r=android-reviewers,petru,mcarare
  gradle/wrapper/gradle-wrapper.properties
  mobile/android/android-components/gradle/wrapper/gradle-wrapper.properties
  mobile/android/android-components/plugins/config/build.gradle
  mobile/android/android-components/plugins/dependencies/build.gradle
  mobile/android/android-components/plugins/publicsuffixlist/build.gradle
  mobile/android/fenix/gradle/wrapper/gradle-wrapper.properties
  mobile/android/fenix/plugins/apksize/build.gradle
  mobile/android/fenix/plugins/fenixdependencies/build.gradle
  mobile/android/focus-android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/focus-android/plugins/focusdependencies/build.gradle
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell

Bug 1930608 - Refactor _updateAfterMoveTabTo. r=jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1926371 - Make "Remove from group" not move the tab into another group. r=jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1919803: Clobber volatile float registers in ARM64 simulator. r=jandem
  js/src/jit-test/tests/wasm/simd/volatile-high-bits-arm64.js
  js/src/jit/arm64/vixl/MozSimulator-vixl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1910687 - The long press CFR should point at the back button. r=android-reviewers,skhan
  mobile/android/android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopup.kt
  mobile/android/android-components/components/compose/cfr/src/main/java/mozilla/components/compose/cfr/CFRPopupFullscreenLayout.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1902130 - Add content of Android Monorepo FAQ to firefox source docs. r=pollymce,ohall,geckoview-reviewers DONTBUILD
  mobile/android/docs/fenix.rst
Due: bugzilla-components, codespell, rst

Bug 1851327 - Respect font settings in Reader mode r=reader-mode-reviewers,desktop-theme-reviewers,Gijs,emilio
  toolkit/components/reader/AboutReader.sys.mjs
  toolkit/components/reader/tests/browser/browser_readerMode_textLayoutPref.js
  toolkit/themes/shared/aboutReader.css
Due: bugzilla-components, codespell, eslint, license, file-perm

No bug - Tagging 21a81a27f1776694bf2dfec136752c945fa02476 with FIREFOX-ANDROID_132_0_2_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: bugzilla-components

Bug 1672493 - P1 Let PRemoteWorkerService manage PRemoteWorker. r=asuth
  dom/serviceworkers/FetchEventOpParent.cpp
  dom/serviceworkers/FetchEventOpProxyParent.cpp
  ipc/glue/BackgroundChildImpl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1672493 - P3 Move RemoteWorker::Op and SharedWorkerOp out from RemoteWorkerChild. r=asuth
  dom/serviceworkers/ServiceWorkerOp.cpp
  dom/serviceworkers/ServiceWorkerOp.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/remoteworkers/PRemoteWorker.ipdl
  dom/workers/remoteworkers/PRemoteWorkerNonLifeCycleOpController.ipdl
  dom/workers/remoteworkers/RemoteWorkerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerChild.h
  dom/workers/remoteworkers/RemoteWorkerController.cpp
  dom/workers/remoteworkers/RemoteWorkerController.h
  dom/workers/remoteworkers/RemoteWorkerNonLifeCycleOpControllerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerNonLifeCycleOpControllerChild.h
  dom/workers/remoteworkers/RemoteWorkerNonLifeCycleOpControllerParent.cpp
  dom/workers/remoteworkers/RemoteWorkerNonLifeCycleOpControllerParent.h
  dom/workers/remoteworkers/RemoteWorkerOp.cpp
  dom/workers/remoteworkers/RemoteWorkerOp.h
  dom/workers/remoteworkers/moz.build
  dom/workers/sharedworkers/SharedWorkerOp.cpp
  dom/workers/sharedworkers/SharedWorkerOp.h
  dom/workers/sharedworkers/SharedWorkerOpArgs.ipdlh
  dom/workers/sharedworkers/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
