Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1898380 - Replace the 'unsaved changes' dialog in the PDF viewer with a clearer one r=Gijs,desktop-theme-reviewers,emilio
  browser/components/prompts/PromptCollection.sys.mjs
  dom/locales/en-US/chrome/dom/dom.properties
  toolkit/components/pdfjs/test/browser.toml
  toolkit/components/pdfjs/test/browser_pdfjs_unload_dialog.js
  toolkit/components/prompts/content/commonDialog.js
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/icons/document_pdf.svg
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1901852 - Use `--cwd` rather than `-R` for querying local repo in update-verify-config-creator. r=releng-reviewers,gabriel
  testing/mozharness/scripts/release/update-verify-config-creator.py
Due: mozharness/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozharness

Bug 1899491 - correctly handle pasting an empty string for DLP r=dlp-reviewers,handyman
  toolkit/components/contentanalysis/ContentAnalysis.cpp
  toolkit/components/contentanalysis/tests/browser/browser_clipboard_paste_inputandtextarea_content_analysis.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1901966 - Update likert_scale_option_6 to use an apostrophe r=android-reviewers,vdreghici,amejiamarmol
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1896524 - Add desktop/android browsertime tests to measure video playback latency. r=perftest-reviewers,sparky
  taskcluster/kinds/test/browsertime-desktop.yml
  taskcluster/kinds/test/browsertime-mobile.yml
  taskcluster/kinds/test/test-sets.yml
  testing/perfdocs/generated/raptor-metrics.rst
  testing/perfdocs/generated/raptor.rst
  testing/raptor/browsertime/support-scripts/video_playback_latency.py
  testing/raptor/raptor/browsertime/base.py
  testing/raptor/raptor/manifest.py
  testing/raptor/raptor/perfdocs/config.yml
  testing/raptor/raptor/raptor.toml
  testing/raptor/raptor/tests/custom/browsertime-video-playback-latency.toml
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, rst, file-whitespace, raptor

Bug 1833534 - Limit the length of title/alt/textContent in ContextElemet. r=geckoview-reviewers,m_kato
  mobile/android/geckoview/src/androidTest/assets/www/context_menu_link_text.html
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/BaseSessionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentDelegateChildTest.kt
  mobile/shared/actors/ContentDelegateChild.sys.mjs
Due: android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1901909 - Enable Searchfox indexing of Cypress. r=asuth
  .cron.yml
Due: bugzilla-components, yaml

Backed out changeset 8c48512a48de (bug 1891777) for causing mochitest failures on browser_sidebar_prefs.js
  browser/app/profile/firefox.js
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser.toml
  browser/components/sidebar/tests/browser/browser_sidebar_prefs.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Backed out changeset 2f9427cae93a (bug 1898380) for causing mochitest failures on browser_pdfjs_unload_dialog.js. CLOSED TREE
  browser/components/prompts/PromptCollection.sys.mjs
  dom/locales/en-US/chrome/dom/dom.properties
  toolkit/components/pdfjs/test/browser.toml
  toolkit/components/pdfjs/test/browser_pdfjs_unload_dialog.js
  toolkit/components/prompts/content/commonDialog.js
  toolkit/themes/shared/desktop-jar.inc.mn
  toolkit/themes/shared/icons/document_pdf.svg
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1891777 - Add a tools pref to the sidebar revamp r=sidebar-reviewers,kcochrane
  browser/app/profile/firefox.js
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser.toml
  browser/components/sidebar/tests/browser/browser_sidebar_prefs.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1894022 - Add aarch64 msix to bouncer-check configs r=releng-reviewers,bhearsum
  testing/mozharness/configs/releases/bouncer_firefox_beta.py
  testing/mozharness/configs/releases/bouncer_firefox_devedition.py
  testing/mozharness/configs/releases/bouncer_firefox_release.py
Due: mozharness/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozharness

Bug 1898364 - Wrap reason in cancel callback r=mgaudet
  dom/streams/ReadableStream.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1901163 - Refactor updateContentState to be an internal function r=android-reviewers,twhite
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ContentStateReducer.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/CopyInternetResourceStateReducer.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/InternetResourceReducerUtils.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/ShareInternetResourceStateReducer.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/reducer/ContentStateReducerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1901885 - Fix browser_adopt_sidebar_from_opener.js intermittent r=sidebar-reviewers,kcochrane
  browser/components/sidebar/tests/browser/browser_adopt_sidebar_from_opener.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1901167 - Part 2: Simplify the show method in ContextMenuSnackbarDelegate r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/ContextMenuSnackbarDelegate.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1901167 - Part 1: Refactor FenixSnackbarDelegate to ContextMenuSnackbarDelegate r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/ContextMenuSnackbarDelegate.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/browser/ContextMenuSnackbarDelegateTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1901167 - Part 3: Remove the view parameter passed into ContextMenuSnackbarDelegate r=android-reviewers,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/ContextMenuSnackbarDelegate.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/customtabs/ExternalAppBrowserFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/browser/ContextMenuSnackbarDelegateTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1901792 - Make PPA not work in PBM. r=bgrins
  dom/privateattribution/PrivateAttribution.cpp
  dom/privateattribution/PrivateAttribution.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1902008 - Fix for intermittent failure in browser/components/sidebar/tests/browser/browser_sidebar_max_width.js r=nsharpley,sidebar-reviewers
  browser/components/sidebar/tests/browser/browser_sidebar_max_width.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1899614 - Make docs for GeckoView deprecate process more clear r=geckoview-reviewers,calu
  mobile/android/docs/geckoview/contributor/geckoview-quick-start.rst
Due: bugzilla-components, codespell, rst

Backed out 2 changesets (bug 1900345) for preventing Fenix builds with Android Studio in the repository root. a=backout
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  mobile/android/android-components/gradle/wrapper/gradle-wrapper.properties
  mobile/android/android-components/gradlew
  mobile/android/android-components/plugins/config/build.gradle
  mobile/android/android-components/plugins/dependencies/build.gradle
  mobile/android/android-components/plugins/publicsuffixlist/build.gradle
  mobile/android/fenix/gradle/wrapper/gradle-wrapper.properties
  mobile/android/fenix/gradlew
  mobile/android/fenix/plugins/apksize/build.gradle
  mobile/android/fenix/plugins/fenixdependencies/build.gradle
  mobile/android/focus-android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/focus-android/gradlew
  mobile/android/focus-android/plugins/focusdependencies/build.gradle
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell

Bug 1898817 - Replace `distutils.spawn.find_executable` with `shutil.which` within `mozlint` r=ahal
  python/mozlint/test/test_cli.py
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, mozlint

Bug 1898817 - Replace `distutils.spawn.find_executable` with `shutil.which` within `mozperftest` r=mozperftest-reviewers,sparky
  python/mozperftest/mozperftest/test/browsertime/visualtools.py
  python/mozperftest/mozperftest/tests/test_visualtools.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1888570 - Replace `distutils.util.strtobool` with a custom `strtobool` within `mochitest` r=jmaher
  testing/mochitest/mochitest_options.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mochitest-harness

Bug 1888570 - Replace all usages of `distutils.spawn.find_executable` with `shutil.which` within `mochitest` r=jmaher
  testing/mochitest/mochitest_options.py
  testing/mochitest/runtests.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mochitest-harness

Bug 1898817 - Add custom `copy_tree_update` to replace `distutils.dir_util.copy_tree` r=mozperftest-reviewers,sparky
  python/mozperftest/mozperftest/test/xpcshell.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1898817 - Replace `distutils.sysconfig` with `sysconfig.get_paths` to get the site pacakages directory in `mozharness` r=ahal
  testing/mozharness/mozharness/base/python.py
Due: mozharness/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozharness

Bug 1898817 - Replace `distutils.util.strtobool` with `mach.util.strtobool` in `raptor` r=perftest-reviewers,afinder
  testing/raptor/raptor/utils.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, raptor

Bug 1899681 - Fix perfdocs linter on Windows r=perftest-reviewers,sparky
  tools/lint/perfdocs/framework_gatherers.py
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, mozlint

Bug 1900135 - Support Apple M2 chipsets and new NVIDIA drivers in mochitests. r=aryx
  dom/canvas/test/webgl-mochitest/test_renderer_strings.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1900108 - Part 1: Remove redundant NotificationTest.js imports r=asuth
  dom/serviceworkers/test/mochitest-common.toml
  dom/serviceworkers/test/test_notification_constructor_error.html
  dom/serviceworkers/test/test_notification_get.html
  dom/serviceworkers/test/test_notification_openWindow.html
  dom/serviceworkers/test/test_notificationclick-otherwindow.html
  dom/serviceworkers/test/test_notificationclick.html
  dom/serviceworkers/test/test_notificationclick_focus.html
  dom/serviceworkers/test/test_notificationclose.html
  dom/serviceworkers/test/test_openWindow.html
  dom/workers/test/mochitest.toml
  dom/workers/test/test_notification.html
  dom/workers/test/test_notification_child.html
  dom/workers/test/test_notification_permission.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1901282 - Replace MockServices with MockAlertsService r=asuth
  dom/notification/test/mochitest/MockAlertsService.js
  dom/notification/test/mochitest/MockServices.js
  dom/notification/test/mochitest/mochitest.toml
  dom/serviceworkers/test/mochitest-common.toml
  dom/serviceworkers/test/test_notification_get.html
  dom/serviceworkers/test/test_notification_openWindow.html
  dom/serviceworkers/test/test_notificationclick-otherwindow.html
  dom/serviceworkers/test/test_notificationclick.html
  dom/serviceworkers/test/test_notificationclick_focus.html
  dom/serviceworkers/test/test_notificationclose.html
  dom/serviceworkers/test/test_openWindow.html
  toolkit/components/extensions/test/mochitest/mochitest-common.toml
  toolkit/components/extensions/test/mochitest/test_ext_notifications.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1900108 - Part 2: Remove redundant uses of mock service r=asuth
  dom/notification/test/mochitest/mochitest.toml
  dom/notification/test/mochitest/test_notification_basics.html
  dom/serviceworkers/test/test_notification_constructor_error.html
  dom/workers/test/mochitest.toml
  dom/workers/test/test_notification.html
  dom/workers/test/test_notification_child.html
  dom/workers/test/test_notification_permission.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1899640 - Fix display toolbar paddings r=android-reviewers,Roger,harrisono,mavduevskiy
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/fenix/app/src/main/res/values/dimens.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1901717 - add esr128 to cross-channel. r=flod
  python/l10n/mozxchannel/__init__.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1901928 - Remvoe D3D11YCbCrImage class r=gfx-reviewers,lsalzman
  dom/media/MediaData.cpp
  dom/media/MediaFormatReader.cpp
  gfx/gl/GLBlitHelper.cpp
  gfx/gl/GLBlitHelper.h
  gfx/gl/GLBlitHelperD3D.cpp
  gfx/layers/D3D11YCbCrImage.cpp
  gfx/layers/D3D11YCbCrImage.h
  gfx/layers/ImageTypes.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1823078 - Avoid unnecessarily forcing cairo into a fallback font-subsetting path. r=gfx-reviewers,lsalzman
  gfx/cairo/cairo/src/moz.build
Due: bugzilla-components

Bug 1901834 - Update pixman version requirement. r=gfx-reviewers,aosmond
  toolkit/moz.configure
Due: bugzilla-components, codespell, py-flake8, mozbuild

Bug 1901947 - Clean up some DXGITextureHostD3D11 code r=gfx-reviewers,lsalzman
  gfx/layers/d3d11/TextureD3D11.cpp
  gfx/layers/d3d11/TextureD3D11.h
  gfx/webrender_bindings/RenderD3D11TextureHost.cpp
  gfx/webrender_bindings/RenderD3D11TextureHost.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1888851 - reorder clientDataJSON properties to support limited verifiers. r=webidl,smaug,keeler
  dom/webauthn/WebAuthnManager.cpp
  dom/webauthn/tests/test_webauthn_loopback.html
  dom/webidl/WebAuthentication.webidl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
