Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Backed out changeset 8f018c09f487 (bug 1910125) for re-work at the dev's request. CLOSED TREE
  mobile/android/fenix/app/messaging-evergreen-messages.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyContent.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1883943 - Let the out-of-process file-picker ride the trains r=win-reviewers,gstoll
  widget/windows/nsFilePicker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910031 - Update android nightly application-services version bump to f3bc5e98c059cf6f4ccb0821f7dd4e197d3c13e0 r=release-managers,RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1908664 - Add nsIPrincipal::GetIsInPrivateBrowsing r=media-playback-reviewers,anti-tracking-reviewers,dom-storage-reviewers,padenot,asuth,pbz
  caps/BasePrincipal.cpp
  caps/BasePrincipal.h
  caps/nsIPrincipal.idl
  dom/base/nsGlobalWindowOuter.cpp
  dom/html/HTMLMediaElement.cpp
  dom/indexedDB/IDBFactory.cpp
  dom/media/eme/MediaKeySystemAccessManager.cpp
  dom/notification/Notification.cpp
  dom/privateattribution/PrivateAttribution.cpp
  dom/quota/ActorsParent.cpp
  dom/serviceworkers/ServiceWorkerUtils.cpp
  dom/workers/WorkerNavigator.cpp
  layout/style/FontFaceSetWorkerImpl.cpp
  toolkit/components/antitracking/StorageAccess.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909204 - Wrap Translations WebAssembly detection in a try/catch; r=translations-reviewers,nordzilla
  toolkit/components/translations/actors/TranslationsParent.sys.mjs
Due: bugzilla-components

Bug 1909323: Update service-nimbus to pass RecordedContext object into the ApplicationServicesNimbus constructor r=beth,android-reviewers,jonalmeida
  mobile/android/android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/Nimbus.kt
  mobile/android/android-components/components/service/nimbus/src/main/java/mozilla/components/service/nimbus/NimbusBuilder.kt
  mobile/android/android-components/components/service/nimbus/src/test/java/mozilla/components/service/nimbus/NimbusTest.kt
  mobile/android/android-components/samples/glean/src/main/java/org/mozilla/samples/glean/GleanApplication.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/NimbusSystemMetricsTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/experiments/RecordedNimbusContextTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1901488 - Fix issue where the never translate button is disabled; r=translations-reviewers,nordzilla
  browser/components/translations/content/fullPageTranslationsPanel.js
  browser/components/translations/tests/browser/browser.toml
  browser/components/translations/tests/browser/browser_translations_full_page_panel_weblanguage_differs_from_app.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1907152 - Add telemetry for topic selection r=nbarrett,home-newtab-reviewers
  browser/components/newtab/common/Actions.mjs
  browser/components/newtab/content-src/components/CollapsibleSection/CollapsibleSection.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/CardGrid/CardGrid.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/TopicSelection/TopicSelection.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamImpressionStats/ImpressionStats.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/ActivityStream.sys.mjs
  browser/components/newtab/lib/TelemetryFeed.sys.mjs
  browser/components/newtab/metrics.yaml
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSCard.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/ImpressionStats.test.jsx
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm, newtab-unit-tests

Bug 1907931, fix missing closing tags so that the downloads tests are properly run, r=Gijs
  uriloader/exthandler/tests/mochitest/browser_save_filenames.js
  uriloader/exthandler/tests/mochitest/save_filenames.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1899351 - remove ScaffoldingCall.h. r=nika,markh
  dom/chrome-webidl/UniFFI.webidl
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRelevancy.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustRemoteSettings.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustSuggest.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustSync15.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/components/generated/RustTabs.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustArithmetic.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustCustomTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustExternalTypes.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustGeometry.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRefcounts.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustRondpoint.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustSprites.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/generated/RustTodolist.sys.mjs
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/tests/xpcshell/test_type_checking.js
  toolkit/components/uniffi-bindgen-gecko-js/src/lib.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/render/cpp.rs
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/UniFFIScaffolding.cpp
  toolkit/components/uniffi-bindgen-gecko-js/src/templates/js/Helpers.sys.mjs
  toolkit/components/uniffi-js/OwnedRustBuffer.cpp
  toolkit/components/uniffi-js/OwnedRustBuffer.h
  toolkit/components/uniffi-js/README.md
  toolkit/components/uniffi-js/ScaffoldingCall.h
  toolkit/components/uniffi-js/ScaffoldingConverter.h
  toolkit/components/uniffi-js/UniFFICall.cpp
  toolkit/components/uniffi-js/UniFFICall.h
  toolkit/components/uniffi-js/UniFFIFixtureScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIGeneratedScaffolding.cpp
  toolkit/components/uniffi-js/UniFFIScaffolding.cpp
  toolkit/components/uniffi-js/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, rustfmt, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1910136 - Use default member initializers in nsLineLayout. r=layout-reviewers,emilio
  layout/generic/nsLineLayout.cpp
  layout/generic/nsLineLayout.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910136 - Remove unnecessary 'friend' declarations in nsLineLayout. r=layout-reviewers,emilio
  layout/generic/nsInlineFrame.cpp
  layout/generic/nsLineLayout.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910136 - Miscellaneous tidy-up in nsLineLayout. r=layout-reviewers,emilio,TYLin
  layout/generic/nsLineLayout.cpp
  layout/generic/nsLineLayout.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910136 - Mark a couple of nsLineLayout members as const. r=layout-reviewers,emilio
  layout/generic/nsLineLayout.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1908254 - Try to use the service again, even if we failed because the user refused elevation r=nalexander
  toolkit/mozapps/update/UpdateService.sys.mjs
Due: bugzilla-components

Backed out 2 changesets (bug 1909019) for causing base-toolchains build bustages on Maybe.h. CLOSED TREE
  dom/canvas/ClientWebGLContext.cpp
  dom/canvas/QueueParamTraits.h
  dom/canvas/TiedFields.h
  dom/canvas/WebGLIpdl.h
  dom/canvas/WebGLQueueParamTraits.h
  dom/canvas/WebGLTypes.h
  gfx/layers/wr/WebRenderMessageUtils.h
  gfx/thebes/gfxPlatform.cpp
  gfx/vr/external_api/moz_external_vr.h
  gfx/webrender_bindings/WebRenderTypes.h
  gfx/webrender_bindings/webrender_ffi.h
  gfx/wr/webrender_api/src/font.rs
  gfx/wr/wr_glyph_rasterizer/src/rasterizer.rs
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1909834 - Disable unused argument warning for clang-plugin tests. r=firefox-build-system-reviewers,ahochheiden
  build/clang-plugin/tests/moz.build
Due: bugzilla-components

Bug 1909574 - Refresh rust workspace hack. r=firefox-build-system-reviewers,ahochheiden
  Cargo.lock
  build/workspace-hack/Cargo.toml
Due: bugzilla-components

Backed out 8 changesets (bug 1846601) for causing wd failures on navigate/error.py. CLOSED TREE
  remote/shared/NavigationManager.sys.mjs
  remote/shared/js-window-actors/NavigationListenerChild.sys.mjs
  remote/shared/js-window-actors/NavigationListenerParent.sys.mjs
  remote/shared/listeners/NavigationListener.sys.mjs
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_failed/__init__.py
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace

Bug 1909783: Synced tabs list should de-dupe r=markh,fxview-reviewers,sync-reviewers,tabbrowser-reviewers,firefox-desktop-core-reviewers ,dao
  browser/components/BrowserGlue.sys.mjs
  browser/components/firefoxview/tests/browser/browser_syncedtabs_firefoxview.js
  browser/components/tabbrowser/content/tabbrowser.js
  services/sync/modules/SyncedTabs.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1909995 Part 1 - Unify MinISizeFromInline and PrefISizeFromInline in nsLayoutUtils, and move it into nsIFrame. r=layout-reviewers,emilio
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/generic/nsFirstLetterFrame.cpp
  layout/generic/nsFirstLetterFrame.h
  layout/generic/nsIFrame.cpp
  layout/generic/nsIFrame.h
  layout/generic/nsTextFrame.cpp
  layout/generic/nsTextFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909995 Part 3 - Cache intrinsic inline sizes for ColumnSetWrapperFrame. r=layout-reviewers,emilio
  layout/generic/ColumnSetWrapperFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909995 Part 4 - Add optional percentage basis argument to IntrinsicForContainer(). r=layout-reviewers,emilio
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/forms/nsFieldSetFrame.cpp
  layout/tables/nsTableCellFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1907855 - [devtools] Update MDN compat data (cycle 130) r=devtools-reviewers,nchevobbe
  devtools/client/inspector/compatibility/test/browser/browser_compatibility_css-property_issue.js
  devtools/client/inspector/rules/test/browser_rules_css-compatibility-learn-more-link.js
  devtools/shared/compatibility/dataset/css-properties.json
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1907519 - Fix a bug causing extra spacing in fullscreen when navbar feature is on r=android-reviewers,tthibaud
  mobile/android/android-components/components/feature/session/src/main/java/mozilla/components/feature/session/FullScreenFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1910178 - mark multiple subtests in interactive-content.html to be intermittent on win 11 x64. r=aryx CLOSED TREE
  testing/web-platform/meta/html/semantics/interactive-elements/the-summary-element/interactive-content.html.ini
Due: bugzilla-components, test-manifest

Bug 1856481 - [devtools] Stop destroying webextension descriptor on actor destroy r=ochameau,devtools-reviewers
  devtools/client/aboutdebugging/test/browser/browser.toml
  devtools/client/aboutdebugging/test/browser/browser_aboutdebugging_addons_remote_runtime_close_reopen.js
  devtools/client/aboutdebugging/test/browser/browser_aboutdebugging_profiler_dialog.js
  devtools/client/aboutdebugging/test/browser/head.js
  devtools/client/devtools-client.js
  devtools/server/actors/descriptors/webextension.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1909369 - Sort include headers in FFmpegVideoEncoder.cpp by coding style guide r=media-playback-reviewers,padenot
  dom/media/platforms/ffmpeg/FFmpegVideoEncoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909369 - Adjust default min and max quantizer values for FFmpegVideoEncoder r=media-playback-reviewers,padenot
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1909369 - Allow setting max and min quantizer values in pref r=media-playback-reviewers,padenot
  dom/media/platforms/ffmpeg/FFmpegVideoEncoder.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Backed out changeset 23621642a445 (bug 1856481) for causing dt failures on browser_aboutdebugging_addons_remote_runtime_close_reopen.js. CLOSED TREE
  devtools/client/aboutdebugging/test/browser/browser.toml
  devtools/client/aboutdebugging/test/browser/browser_aboutdebugging_addons_remote_runtime_close_reopen.js
  devtools/client/aboutdebugging/test/browser/browser_aboutdebugging_profiler_dialog.js
  devtools/client/aboutdebugging/test/browser/head.js
  devtools/client/devtools-client.js
  devtools/server/actors/descriptors/webextension.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1909922 - mark as passing a subtest in non-tao-image-load-after-fcp.tentative.html on windows 11. r=aryx CLOSED TREE
  testing/web-platform/meta/largest-contentful-paint/non-tao-image-load-after-fcp.tentative.html.ini
Due: bugzilla-components, test-manifest

Backed out 3 changesets (bug 1909369) for causing crashtest failures on 1891117.html. CLOSED TREE
  dom/media/platforms/ffmpeg/FFmpegVideoEncoder.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1909019 - Use ParamTraits_TiedFields/_IsEnumCase in WebRenderMessageUtils instead of PlainOldDataSerializer. (partial) r=gw,mccr8,ahale
  dom/canvas/ClientWebGLContext.cpp
  dom/canvas/QueueParamTraits.h
  dom/canvas/TiedFields.h
  dom/canvas/WebGLIpdl.h
  dom/canvas/WebGLQueueParamTraits.h
  dom/canvas/WebGLTypes.h
  gfx/layers/wr/WebRenderMessageUtils.h
  gfx/vr/external_api/moz_external_vr.h
  gfx/webrender_bindings/WebRenderTypes.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1909019 - Use ParamTraits_TiedFields/_IsEnumCase in WebRenderMessageUtils instead of PlainOldDataSerializer. (complete) r=gw,mccr8,ahale
  gfx/2d/ScaledFontDWrite.cpp
  gfx/2d/ScaledFontFontconfig.cpp
  gfx/2d/ScaledFontFreeType.cpp
  gfx/2d/ScaledFontMac.cpp
  gfx/layers/wr/WebRenderMessageUtils.h
  gfx/thebes/gfxPlatform.cpp
  gfx/webrender_bindings/webrender_ffi.h
  gfx/wr/webrender_api/src/font.rs
  gfx/wr/wr_glyph_rasterizer/src/rasterizer.rs
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1910178 - further update expectations for multiple subtests in interactive-content.html on win 11, linux and android. r=aryx,sasha,jgraham
  testing/web-platform/meta/html/semantics/interactive-elements/the-summary-element/interactive-content.html.ini
Due: bugzilla-components, test-manifest
