Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1950524 - set newPositionCard.hasSeen shopping pref to true when RC panel is closed with X button. r=shopping-reviewers,fchasen
  browser/components/shopping/content/shopping-container.mjs
  browser/components/shopping/tests/browser/browser_reviewchecker_new_position_notification_card.js
  browser/components/shopping/tests/browser/browser_reviewchecker_show_keep_closed_and_notification_card.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1956123 - build(webrender): allow `ron` 0.9.0 in dep. range r=gfx-reviewers,nical
  gfx/wr/Cargo.lock
  gfx/wr/webrender/Cargo.toml
  gfx/wr/wrench/Cargo.toml
  gfx/wr/wrench/src/reftest.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1957194 - remove blocklist entry for mixed refresh rate monitors on Windows 10 with NVIDIA GPU as it is obsolete r=gfx-reviewers,lsalzman
  gfx/config/gfxConfigManager.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset d5bd2cdf1be1 (bug 1957194) for causing gtest failures. CLOSED TREE
  gfx/config/gfxConfigManager.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1955089 - Update to use alt+shift+hover to trigger link preview - r=Mardak,firefox-ai-ml-reviewers
  browser/components/genai/LinkPreview.sys.mjs
  browser/components/genai/tests/browser/browser_link_preview.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1956604 [wpt PR 51608] - Remove tentative from progress() wpt test names, a=testonly
  testing/web-platform/tests/css/css-values/progress-computed.html
  testing/web-platform/tests/css/css-values/progress-invalid.html
  testing/web-platform/tests/css/css-values/progress-serialize.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956604 [wpt PR 51608] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/progress-computed.html.ini
  testing/web-platform/meta/css/css-values/progress-serialize.html.ini
Due: bugzilla-components, test-manifest

Bug 1956231 [wpt PR 51566] - Clean up DisableAhemAntialias, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/chrome.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1956614 [wpt PR 51609] - Tweak some navigation-api/navigate-event/ tests to make them more interop friendly., a=testonly
  testing/web-platform/tests/navigation-api/navigate-event/defaultPrevented-window-stop-after-dispatch.html
  testing/web-platform/tests/navigation-api/navigate-event/replaceState-in-unload-then-remove-iframe.html
  testing/web-platform/tests/navigation-api/navigate-event/signal-abort-window-stop.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956644 [wpt PR 51612] - Remove "AI" prefix from Translator and LanguageDetector, a=testonly
  testing/web-platform/tests/ai/language_detection/detector.https.tentative.any.js
  testing/web-platform/tests/ai/translator/translator_bad_input.tentative.https.any.js
  testing/web-platform/tests/ai/translator/translator_translate.tentative.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956644 [wpt PR 51612] - Update wpt metadata, a=testonly
  testing/web-platform/meta/ai/language_detection/detector.https.tentative.any.js.ini
  testing/web-platform/meta/ai/translator/ai_translator_translate.tentative.https.any.js.ini
  testing/web-platform/meta/ai/translator/translator_bad_input.tentative.https.any.js.ini
  testing/web-platform/meta/ai/translator/translator_translate.tentative.https.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1956658 [wpt PR 51617] - Translator: Expose AITranslator create and availability functions, a=testonly
  testing/web-platform/tests/ai/language_detection/detector.https.tentative.any.js
  testing/web-platform/tests/ai/translator/translator_bad_input.tentative.https.any.js
  testing/web-platform/tests/ai/translator/translator_translate.tentative.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956654 [wpt PR 51616] - webnn: emulate dequantizeLinear on coreml, a=testonly
  testing/web-platform/tests/webnn/conformance_tests/dequantizeLinear.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956658 [wpt PR 51617] - Update wpt metadata, a=testonly
  testing/web-platform/meta/ai/language_detection/detector.https.tentative.any.js.ini
  testing/web-platform/meta/ai/translator/translator_bad_input.tentative.https.any.js.ini
  testing/web-platform/meta/ai/translator/translator_translate.tentative.https.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1956641 [wpt PR 51611] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/position-visibility-anchors-visible-both-position-fixed.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-visibility-anchors-visible-both-position-fixed.tentative.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-visibility-anchors-visible-position-fixed.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-visibility-anchors-visible-position-fixed.tentative.html.ini
  testing/web-platform/meta/css/css-anchor-position/position-visibility-anchors-visible-with-position.html.ini
Due: bugzilla-components, test-manifest

Bug 1956641 [wpt PR 51611] - Ignore common container for position-visibility: anchors-visible, a=testonly
  testing/web-platform/tests/css/css-anchor-position/position-visibility-anchors-visible-both-position-fixed-ref.html
  testing/web-platform/tests/css/css-anchor-position/position-visibility-anchors-visible-both-position-fixed.html
  testing/web-platform/tests/css/css-anchor-position/position-visibility-anchors-visible-both-position-fixed.tentative.html
  testing/web-platform/tests/css/css-anchor-position/position-visibility-anchors-visible-position-fixed-ref.html
  testing/web-platform/tests/css/css-anchor-position/position-visibility-anchors-visible-position-fixed.html
  testing/web-platform/tests/css/css-anchor-position/position-visibility-anchors-visible-with-position-ref.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956670 [wpt PR 51621] - [carousel] Add invalidation logic and tests for scroll-marker-contain, a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-005.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-006.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-007.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-008-ref.tentative.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-contain-008.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956670 [wpt PR 51621] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-005.tentative.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-006.tentative.html.ini
  testing/web-platform/meta/css/css-overflow/scroll-marker-contain-007.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1956682 [wpt PR 51623] - blink: Remove Persistent Usage Record wpt tests, a=testonly
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-persistent-usage-record-events.https.html
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-persistent-usage-record.https.html
  testing/web-platform/tests/encrypted-media/clearkey-mp4-playback-retrieve-persistent-usage-record.https.html
  testing/web-platform/tests/encrypted-media/drm-mp4-playback-persistent-usage-record-events.https.html
  testing/web-platform/tests/encrypted-media/drm-mp4-playback-persistent-usage-record.https.html
  testing/web-platform/tests/encrypted-media/drm-mp4-playback-retrieve-persistent-usage-record.https.html
  testing/web-platform/tests/encrypted-media/polyfill/edge-persistent-usage-record.js
  testing/web-platform/tests/encrypted-media/resources/drm-retrieve-persistent-usage-record.html
  testing/web-platform/tests/encrypted-media/resources/retrieve-persistent-usage-record.html
  testing/web-platform/tests/encrypted-media/scripts/playback-persistent-usage-record-events.js
  testing/web-platform/tests/encrypted-media/scripts/playback-persistent-usage-record.js
  testing/web-platform/tests/encrypted-media/scripts/playback-retrieve-persistent-usage-record.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956677 [wpt PR 51622] - Restore check for JSON module parse error filename as a tentative test, a=testonly
  testing/web-platform/tests/html/semantics/scripting-1/the-script-element/json-module/parse-error-location.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1947680 [wpt PR 50649] - [GitHub Actions] use Ubuntu 24.04 for all workflows, a=testonly
  testing/web-platform/tests/.github/workflows/check-workflow-run.yml
  testing/web-platform/tests/.github/workflows/docker.yml
  testing/web-platform/tests/.github/workflows/documentation.yml
  testing/web-platform/tests/.github/workflows/epochs.yml
  testing/web-platform/tests/.github/workflows/interfaces.yml
  testing/web-platform/tests/.github/workflows/manifest.yml
  testing/web-platform/tests/.github/workflows/regen_certs.yml
  testing/web-platform/tests/.github/workflows/update-wasm-tests.yml
  testing/web-platform/tests/.github/workflows/wpt_fyi_notify.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1956756 [wpt PR 51631] - [carousel] Focus a column with inlines from ::column::scroll-marker., a=testonly
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-focus-003.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956756 [wpt PR 51631] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/column-scroll-marker-focus-003.html.ini
Due: bugzilla-components, test-manifest

Bug 1956761 [wpt PR 51632] - Pass length resolver to percentage value resolution for text-size-adjust, a=testonly
  testing/web-platform/tests/css/css-size-adjust/parsing/text-size-adjust-computed.html
  testing/web-platform/tests/css/css-size-adjust/parsing/text-size-adjust-valid.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956781 [wpt PR 51635] - Remove invalid tests from should-trusted-type-policy-creation-be-bloc…, a=testonly
  testing/web-platform/tests/trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956783 [wpt PR 51636] - Fix duplicate features sections in WEB_FEATURES.yml files, a=testonly
  testing/web-platform/tests/css/css-images/parsing/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-pseudo/WEB_FEATURES.yml
  testing/web-platform/tests/css/mediaqueries/WEB_FEATURES.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1956651 [wpt PR 51614] - [carousel] Focus: Search past the active ::column if no elements., a=testonly
  testing/web-platform/tests/css/css-overflow/column-scroll-marker-focus-004.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956651 [wpt PR 51614] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/column-scroll-marker-focus-004.html.ini
Due: bugzilla-components, test-manifest

Bug 1956784 [wpt PR 51637] - Add WPT test coverage for codec dictionary match of AV1 profile., a=testonly
  testing/web-platform/tests/webrtc/protocol/av1-profile-asymmetry.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956784 [wpt PR 51637] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webrtc/protocol/av1-profile-asymmetry.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1956857 [wpt PR 51640] - Support unresolved calc() expressions for steps() timing functions, a=testonly
  testing/web-platform/tests/css/css-transitions/parsing/transition-timing-function-computed.html
  testing/web-platform/tests/css/css-transitions/parsing/transition-timing-function-valid.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956857 [wpt PR 51640] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-transitions/parsing/transition-timing-function-computed.html.ini
  testing/web-platform/meta/css/css-transitions/parsing/transition-timing-function-valid.html.ini
Due: bugzilla-components, test-manifest

Bug 1956851 [wpt PR 51642] - [carousel] Support carousel primitives on root element, a=testonly
  testing/web-platform/tests/css/css-overflow/root-scroll-marker-activation-and-scroll-tracking.html
  testing/web-platform/tests/css/css-overflow/root-scroll-marker-ref.html
  testing/web-platform/tests/css/css-overflow/root-scroll-marker.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956851 [wpt PR 51642] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/root-scroll-marker-activation-and-scroll-tracking.html.ini
  testing/web-platform/meta/css/css-overflow/root-scroll-marker.html.ini
Due: bugzilla-components, test-manifest

Bug 1956858 [wpt PR 51645] - Resolve calc() inside anchor() functions at computed value time, a=testonly
  testing/web-platform/tests/css/css-anchor-position/anchor-position-sibling-index.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956858 [wpt PR 51645] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/anchor-position-sibling-index.html.ini
Due: bugzilla-components, test-manifest

Bug 1956866 [wpt PR 51651] - Flip calc() percentages for anchor() with try-tactics, a=testonly
  testing/web-platform/tests/css/css-anchor-position/anchor-position-flip-sibling-index.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1956866 [wpt PR 51651] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/anchor-position-flip-sibling-index.html.ini
Due: bugzilla-components, test-manifest

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
