Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1924098 - Vendor libwebrtc from c4d749304d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/tools_webrtc/iwyu/apply-include-cleaner
Due: bugzilla-components

Bug 1924098 - Vendor libwebrtc from 738abe0f8f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/infra/specs/client.webrtc.json
  third_party/libwebrtc/infra/specs/internal.client.webrtc.json
  third_party/libwebrtc/infra/specs/mixins.pyl
  third_party/libwebrtc/infra/specs/mixins_webrtc.pyl
  third_party/libwebrtc/infra/specs/tryserver.webrtc.json
Due: bugzilla-components

Bug 1924098 - Vendor libwebrtc from 91eacf3b90
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 177788fed3
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from dd86c95b6a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 0b4b5b0ae8
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/video_coding/codecs/av1/libaom_av1_encoder.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 24366b0b4c
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/audio/channel_receive.cc
  third_party/libwebrtc/audio/channel_send.cc
  third_party/libwebrtc/audio/voip/audio_channel.cc
  third_party/libwebrtc/audio/voip/test/audio_egress_unittest.cc
  third_party/libwebrtc/audio/voip/test/audio_ingress_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0081.patch
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 5a92ddb2b9
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_device/g3doc/audio_device_module.md
Due: bugzilla-components

Bug 1924098 - Vendor libwebrtc from af7155e3ae
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/rtp_video_sender.cc
  third_party/libwebrtc/moz-patch-stack/0034.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0044.patch
  third_party/libwebrtc/moz-patch-stack/0050.patch
  third_party/libwebrtc/moz-patch-stack/0067.patch
  third_party/libwebrtc/moz-patch-stack/0068.patch
  third_party/libwebrtc/moz-patch-stack/0069.patch
  third_party/libwebrtc/moz-patch-stack/0070.patch
  third_party/libwebrtc/moz-patch-stack/0082.patch
  third_party/libwebrtc/moz-patch-stack/0098.patch
  third_party/libwebrtc/video/end_to_end_tests/bandwidth_tests.cc
  third_party/libwebrtc/video/rtp_video_stream_receiver2.cc
  third_party/libwebrtc/video/video_send_stream_tests.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 164b3b3fce
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/rtp_rtcp/BUILD.gn
  third_party/libwebrtc/modules/rtp_rtcp/include/rtp_rtcp.h
  third_party/libwebrtc/modules/rtp_rtcp/source/rtp_rtcp_impl.cc
  third_party/libwebrtc/moz-patch-stack/0006.patch
  third_party/libwebrtc/moz-patch-stack/0007.patch
  third_party/libwebrtc/moz-patch-stack/0049.patch
  third_party/libwebrtc/moz-patch-stack/0097.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 4e41db264b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/BUILD.gn
  third_party/libwebrtc/call/call.cc
  third_party/libwebrtc/call/flexfec_receive_stream_impl.cc
  third_party/libwebrtc/call/flexfec_receive_stream_impl.h
  third_party/libwebrtc/call/flexfec_receive_stream_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0053.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 787b907e94
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/g3doc/style-guide/h-cc-pairs.md
Due: bugzilla-components

Bug 1924098 (MOZ) - upstream ParseSdpForH264ProfileLevelId now returns std::optional instead of absl:optional
  dom/media/webrtc/libwebrtcglue/WebrtcMediaDataEncoderCodec.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out 5 changesets (bug 1913965, bug 1919901, bug 1920337, bug 1914210) for causing failures at shadowrealm.html. CLOSED TREE
  js/public/friend/ErrorNumbers.msg
  js/src/jit-test/tests/wasm/builtin-modules/js-string/basic.js
  js/src/jit-test/tests/wasm/builtin-modules/js-string/constants.js
  js/src/jit-test/tests/wasm/builtin-modules/js-string/directives.txt
  js/src/jit-test/tests/wasm/builtin-modules/unknown-builtins.js
  js/src/wasm/WasmCompile.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmInstance.h
  testing/web-platform/meta/wasm/jsapi/js-string/basic.tentative.any.js.ini
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1924098 - (fix-8037fc6ffa) upstream missed an include file
  third_party/libwebrtc/modules/audio_processing/aec3/matched_filter_lag_aggregator.h
  third_party/libwebrtc/moz-patch-stack/0135.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918716 - Add profiler markers for Glean::EventMetric r=chutten,florian
  toolkit/components/glean/api/src/private/event.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Backed out changeset f1c0f0d6aa49 (bug 1923598) for causing talos-pdfs bustage. CLOSED TREE
  taskcluster/kinds/fetch/toolchains.yml
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
Due: bugzilla-components, yaml

Bug 1923636 - Avoid copying paths when transforming. r=aosmond
  dom/canvas/CanvasRenderingContext2D.cpp
  dom/svg/SVGGeometryElement.cpp
  gfx/2d/2D.h
  gfx/2d/PathHelpers.h
  gfx/2d/PathRecording.cpp
  gfx/2d/PathRecording.h
  gfx/2d/PathSkia.cpp
  gfx/2d/PathSkia.h
  gfx/thebes/gfxContext.cpp
  layout/svg/SVGGeometryFrame.cpp
  layout/svg/SVGTextFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Cherry-pick upstream libwebrtc commit a8efbb223b r=ng
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_av1.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_generic.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_h264.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_h265.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_raw.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_vp8.cc
  third_party/libwebrtc/modules/rtp_rtcp/source/video_rtp_depacketizer_vp9.cc
  third_party/libwebrtc/moz-patch-stack/0136.patch
  third_party/libwebrtc/moz-patch-stack/a8efbb223b.no-op-cherry-pick-msg
  third_party/libwebrtc/rtc_base/bitstream_reader_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Backed out changeset e1317953f059 (bug 1918716) for causing build bustages with gecko_profiler. CLOSED TREE
  toolkit/components/glean/api/src/private/event.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 9212f095a0
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/g3doc/abseil-in-webrtc.md
Due: bugzilla-components

Bug 1924098 - Vendor libwebrtc from 86ac1df5ae
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0133.patch
  third_party/libwebrtc/pc/BUILD.gn
Due: bugzilla-components

Bug 1911021 - Use ms since process start as time in ExecutionTracer r=arai
  js/src/debugger/ExecutionTracer.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911021 - Provide native, threadsafe endpoints to execution tracing r=arai
  js/public/Debug.h
  js/src/debugger/Debugger.cpp
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
  js/src/debugger/moz.build
  js/src/vm/Caches.h
  js/src/vm/JSContext.cpp
  js/src/vm/JSContext.h
  js/src/vm/MutexIDs.h
  js/src/vm/Realm.cpp
  js/src/vm/Realm.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911021 - Add MOZ_EXECUTION_TRACER compile flag r=arai
  js/moz.configure
Due: bugzilla-components, codespell, py-flake8, mozbuild

Bug 1911021 - exclude self-hosted builtins from tracing r=arai
  js/src/debugger/ExecutionTracer.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911021 - Remove Devtools-facing tracing API and uses r=arai
  devtools/server/actors/tracer.js
  devtools/server/tracer/tracer.sys.mjs
  js/public/friend/ErrorNumbers.msg
  js/src/debugger/Debugger.cpp
  js/src/debugger/Debugger.h
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
  js/src/doc/Debugger/Debugger.md
  js/src/jit-test/tests/debug/ExecutionTracer-collectNativeTrace.js
  js/src/jit-test/tests/debug/ExecutionTracer-discard-trace.js
  js/src/jit-test/tests/debug/ExecutionTracer-oomTest.js
  js/src/jit-test/tests/debug/ExecutionTracer-properties-exist.js
  js/src/jit-test/tests/debug/ExecutionTracer-utf8.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1911021 - Add an API tp CycleCollectedJSContext to enable/disable tracing r=smaug
  xpcom/base/CycleCollectedJSContext.cpp
  xpcom/base/CycleCollectedJSContext.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911021 - Cover JavaScript tracing via the profiler with a mochitest. r=profiler-reviewers,aabh
  tools/profiler/tests/browser/browser.toml
  tools/profiler/tests/browser/browser_test_feature_jstracing.js
  tools/profiler/tests/browser/tracing.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1911021 - Add JS Execution Tracing option to the profiler r=aabh,profiler-reviewers
  devtools/client/performance-new/shared/utils.js
  dom/debugger/CallbackDebuggerNotification.h
  dom/debugger/EventCallbackDebuggerNotification.cpp
  dom/debugger/EventCallbackDebuggerNotification.h
  dom/events/EventListenerManager.cpp
  dom/workers/RuntimeService.cpp
  js/xpconnect/src/XPCJSContext.cpp
  toolkit/components/extensions/schemas/geckoProfiler.json
  tools/profiler/core/ProfileBuffer.h
  tools/profiler/core/ProfileBufferEntry.cpp
  tools/profiler/core/ProfilerThreadRegistrationData.cpp
  tools/profiler/core/platform.cpp
  tools/profiler/public/GeckoProfiler.h
  tools/profiler/public/ProfilerState.h
  tools/profiler/public/ProfilerThreadRegistrationData.h
  tools/profiler/tests/gtest/GeckoProfiler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, devtools-tests

Bug 1924098 - Vendor libwebrtc from 04ab497275
  third_party/libwebrtc/DEPS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/voip/DEPS
  third_party/libwebrtc/g3doc/abseil-in-webrtc.md
Due: bugzilla-components

Bug 1911021: apply code formatting via Lando
  js/src/debugger/ExecutionTracer.cpp
  js/src/debugger/ExecutionTracer.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 86251a072a
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0004.patch
  third_party/libwebrtc/rtc_base/logging.h
  third_party/libwebrtc/rtc_base/openssl_adapter.cc
  third_party/libwebrtc/rtc_base/openssl_stream_adapter.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 77eba46324
  third_party/libwebrtc/AUTHORS
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/examples/androidvoip/BUILD.gn
  third_party/libwebrtc/examples/androidvoip/jni/android_voip_client.cc
  third_party/libwebrtc/examples/androidvoip/jni/android_voip_client.h
  third_party/libwebrtc/moz-patch-stack/0133.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 99874e7aca
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from 55ed9501d2
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/video_receive_stream.h
  third_party/libwebrtc/media/base/media_channel.h
  third_party/libwebrtc/media/engine/webrtc_video_engine.cc
  third_party/libwebrtc/media/engine/webrtc_video_engine_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0006.patch
  third_party/libwebrtc/moz-patch-stack/0007.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0033.patch
  third_party/libwebrtc/moz-patch-stack/0041.patch
  third_party/libwebrtc/moz-patch-stack/0042.patch
  third_party/libwebrtc/moz-patch-stack/0049.patch
  third_party/libwebrtc/moz-patch-stack/0066.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924098 - Vendor libwebrtc from a82eb4e2a5
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/sdk/objc/api/peerconnection/RTCIceCandidateErrorEvent.mm
Due: bugzilla-components, cpp-virtual-final, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
