Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1947801: Add OHTTP client test. r=valentin,geckoview-reviewers,android-reviewers,ohall
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebExecutorOhttpTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/WebRequest.java
  toolkit/components/resistfingerprinting/tests/moz.build
  toolkit/components/resistfingerprinting/tests/xpcshell/test_ohttp_client.js
  toolkit/components/resistfingerprinting/tests/xpcshell/xpcshell.toml
  widget/android/WebExecutorSupport.cpp
  widget/android/WebExecutorSupport.h
  widget/android/jni/GeckoResultUtils.h
  widget/android/moz.build
  widget/android/tests/OhttpClientTest.cpp
  widget/android/tests/OhttpClientTest.h
  widget/android/tests/components.conf
  widget/android/tests/moz.build
  widget/android/tests/nsIOhttpClientTest.idl
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1953047 - part 1: Split `TSFTextStore` with new its base class r=m_kato
  widget/windows/TSFTextStore.cpp
  widget/windows/TSFTextStore.h
  widget/windows/TSFTextStoreBase.cpp
  widget/windows/TSFTextStoreBase.h
  widget/windows/WinUtils.h
  widget/windows/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1953047 - part 3: Move attributes handlers of `TSFTextStore` into `TSFTextStoreBase` r=m_kato
  widget/windows/TSFTextStore.cpp
  widget/windows/TSFTextStore.h
  widget/windows/TSFTextStoreBase.cpp
  widget/windows/TSFTextStoreBase.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1953047 - part 2: Move most static staff of `TSFTextStore` to `TSFUtils` r=m_kato
  widget/nsIWidget.h
  widget/windows/TSFStaticSink.cpp
  widget/windows/TSFTextStore.cpp
  widget/windows/TSFTextStore.h
  widget/windows/TSFTextStoreBase.h
  widget/windows/TSFUtils.cpp
  widget/windows/TSFUtils.h
  widget/windows/WinIMEHandler.cpp
  widget/windows/WinIMEHandler.h
  widget/windows/WinUtils.cpp
  widget/windows/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1953047 - part 4: Implement `TSFEmptyTextStore` for the disabled document manager and context r=m_kato
  widget/windows/TSFEmptyTextStore.cpp
  widget/windows/TSFEmptyTextStore.h
  widget/windows/TSFTextStore.cpp
  widget/windows/TSFTextStore.h
  widget/windows/TSFTextStoreBase.cpp
  widget/windows/TSFTextStoreBase.h
  widget/windows/TSFUtils.cpp
  widget/windows/TSFUtils.h
  widget/windows/WinIMEHandler.cpp
  widget/windows/moz.build
  widget/windows/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1953680 Expose EventWatcher#stop_watching() r=jgraham
  testing/web-platform/tests/resources/testharness.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1953680 Add a method to fetch media resources with optional additional properties from a resource manifest file r=media-playback-reviewers,padenot
  testing/web-platform/tests/media-source/mediasource-util.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Backed out changeset 94a9dee2cf00 (bug 1956119) for causing bc failures on browser_ext_themes_autocomplete_popup. CLOSED TREE
  browser/themes/shared/browser-colors.css
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-brand.css
  toolkit/themes/shared/design-system/tokens-platform.css
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
  toolkit/themes/shared/global-shared.css
Due: bugzilla-components

Backed out changeset 608448373720 (bug 1956396) for causing multiple failures. CLOSED TREE
  testing/mochitest/runtests.py
  testing/xpcshell/runxpcshelltests.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mochitest-harness

Bug 1956905 - change EXTRA_JS_MODULES in the taskbartabs directory's moz.build file to EXTRA_JS_MODULES.taskbartabs r=nrishel
  browser/base/content/browser.js
  browser/components/taskbartabs/moz.build
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1915737 - Add URL bar page action for Taskbar Tabs. r=desktop-theme-reviewers,firefox-desktop-core-reviewers ,urlbar-reviewers,tabbrowser-reviewers,Gijs,emilio,fluent-reviewers,bolsson
  browser/app/profile/firefox.js
  browser/base/content/browser.xhtml
  browser/base/content/navigator-toolbox.inc.xhtml
  browser/base/content/navigator-toolbox.js
  browser/components/BrowserComponents.manifest
  browser/components/taskbartabs/TaskbarTabs.sys.mjs
  browser/components/taskbartabs/moz.build
  browser/components/taskbartabs/test/browser/browser.toml
  browser/components/taskbartabs/test/browser/browser_taskBarTabs_module.js
  browser/locales-preview/taskbartabs.ftl
  browser/locales/jar.mn
  browser/themes/shared/icons/taskbar-tabs-create-new.svg
  browser/themes/shared/jar.inc.mn
  browser/themes/shared/urlbar-searchbar.css
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1956952 - Add a probe for when CPM is enabled in sidebar customization panel. r=rsafaeian,sidebar-reviewers,kcochrane
  browser/components/sidebar/metrics.yaml
  browser/components/sidebar/sidebar-customize.mjs
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm
