Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1934695 - Vendor libwebrtc from e8c8218f1b
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/common_audio/BUILD.gn
  third_party/libwebrtc/common_audio/signal_processing/include/signal_processing_library.h
  third_party/libwebrtc/common_audio/signal_processing/vector_operations.c
  third_party/libwebrtc/docs/faq.md
  third_party/libwebrtc/modules/audio_coding/acm2/audio_coding_module_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/builtin_audio_decoder_factory_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/builtin_audio_encoder_factory_unittest.cc
  third_party/libwebrtc/modules/audio_coding/neteq/neteq_unittest.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/neteq_rtpplay.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/neteq_test.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/neteq_test_factory.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/neteq_test_factory.h
  third_party/libwebrtc/modules/audio_coding/test/EncodeDecodeTest.cc
  third_party/libwebrtc/modules/audio_coding/test/TestAllCodecs.cc
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0039.patch
  third_party/libwebrtc/moz-patch-stack/0128.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from 4a482a2160
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/modules/audio_coding/codecs/opus/audio_encoder_opus.cc
  third_party/libwebrtc/moz-patch-stack/0010.patch
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from dc03d8731f
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/BUILD.gn
  third_party/libwebrtc/api/audio/BUILD.gn
  third_party/libwebrtc/api/audio/audio_processing.cc
  third_party/libwebrtc/api/audio/audio_processing.h
  third_party/libwebrtc/api/audio/audio_processing_unittest.cc
  third_party/libwebrtc/api/audio/builtin_audio_processing_builder.cc
  third_party/libwebrtc/api/audio/builtin_audio_processing_builder.h
  third_party/libwebrtc/api/audio/builtin_audio_processing_builder_unittest.cc
  third_party/libwebrtc/api/create_peerconnection_factory.cc
  third_party/libwebrtc/api/enable_media.cc
  third_party/libwebrtc/api/enable_media_with_defaults.cc
  third_party/libwebrtc/api/peer_connection_interface.h
  third_party/libwebrtc/api/voip/test/voip_engine_factory_unittest.cc
  third_party/libwebrtc/api/voip/voip_engine_factory.cc
  third_party/libwebrtc/api/voip/voip_engine_factory.h
  third_party/libwebrtc/examples/BUILD.gn
  third_party/libwebrtc/examples/androidvoip/BUILD.gn
  third_party/libwebrtc/examples/androidvoip/jni/android_voip_client.cc
  third_party/libwebrtc/examples/objcnativeapi/objc/objc_call_client.mm
  third_party/libwebrtc/modules/audio_processing/BUILD.gn
  third_party/libwebrtc/modules/audio_processing/aec_dump/BUILD.gn
  third_party/libwebrtc/modules/audio_processing/aec_dump/aec_dump_integration_test.cc
  third_party/libwebrtc/modules/audio_processing/audio_processing_impl_locking_unittest.cc
  third_party/libwebrtc/modules/audio_processing/audio_processing_impl_unittest.cc
  third_party/libwebrtc/modules/audio_processing/audio_processing_performance_unittest.cc
  third_party/libwebrtc/modules/audio_processing/audio_processing_unittest.cc
  third_party/libwebrtc/modules/audio_processing/include/mock_audio_processing.h
  third_party/libwebrtc/modules/audio_processing/test/debug_dump_replayer.cc
  third_party/libwebrtc/modules/audio_processing/test/debug_dump_test.cc
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0128.patch
  third_party/libwebrtc/pc/BUILD.gn
  third_party/libwebrtc/pc/peer_connection_factory_unittest.cc
  third_party/libwebrtc/pc/test/integration_test_helpers.cc
  third_party/libwebrtc/test/fuzzers/BUILD.gn
  third_party/libwebrtc/test/fuzzers/audio_processing_configs_fuzzer.cc
  third_party/libwebrtc/test/fuzzers/audio_processing_sample_rate_fuzzer.cc
  third_party/libwebrtc/test/pc/e2e/test_peer_factory.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from 0f39556075
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/test/video_quality_analyzer_interface.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from bec7015797
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/peer_connection_interface.h
  third_party/libwebrtc/audio/channel_send_unittest.cc
  third_party/libwebrtc/call/call.h
  third_party/libwebrtc/call/call_perf_tests.cc
  third_party/libwebrtc/call/call_unittest.cc
  third_party/libwebrtc/call/fake_network_pipe.cc
  third_party/libwebrtc/call/fake_network_pipe_unittest.cc
  third_party/libwebrtc/call/rampup_tests.cc
  third_party/libwebrtc/call/receive_time_calculator_unittest.cc
  third_party/libwebrtc/call/rtp_payload_params.cc
  third_party/libwebrtc/examples/objc/AppRTCMobile/ARDAppEngineClient.m
  third_party/libwebrtc/examples/objc/AppRTCMobile/ARDTURNClient.m
  third_party/libwebrtc/logging/rtc_event_log/encoder/delta_encoding.cc
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_audio_network_adaptation.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_audio_receive_stream_config.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_audio_send_stream_config.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_bwe_update_loss_based.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_frame_decoded.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_generic_ack_received.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_generic_packet_received.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_generic_packet_sent.h
  third_party/libwebrtc/moz-patch-stack/0052.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from a154b73097
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/peer_connection_interface.cc
  third_party/libwebrtc/api/peer_connection_interface.h
  third_party/libwebrtc/audio/channel_send_unittest.cc
  third_party/libwebrtc/logging/rtc_event_log/encoder/rtc_event_log_encoder_legacy.cc
  third_party/libwebrtc/logging/rtc_event_log/rtc_event_log_unittest_helper.h
  third_party/libwebrtc/media/base/fake_media_engine.h
  third_party/libwebrtc/media/base/fake_network_interface.h
  third_party/libwebrtc/media/engine/fake_video_codec_factory.cc
  third_party/libwebrtc/media/engine/fake_webrtc_call.h
  third_party/libwebrtc/media/engine/fake_webrtc_video_engine.cc
  third_party/libwebrtc/media/engine/simulcast_encoder_adapter.cc
  third_party/libwebrtc/media/engine/simulcast_encoder_adapter_unittest.cc
  third_party/libwebrtc/media/engine/webrtc_voice_engine.cc
  third_party/libwebrtc/media/sctp/dcsctp_transport.cc
  third_party/libwebrtc/modules/audio_coding/acm2/acm_send_test.cc
  third_party/libwebrtc/modules/audio_coding/acm2/audio_coding_module_unittest.cc
  third_party/libwebrtc/modules/audio_coding/audio_network_adaptor/frame_length_controller.cc
  third_party/libwebrtc/modules/audio_coding/codecs/g711/audio_decoder_pcm.cc
  third_party/libwebrtc/modules/audio_coding/codecs/g722/audio_decoder_g722.cc
  third_party/libwebrtc/modules/audio_coding/codecs/opus/audio_decoder_opus.cc
  third_party/libwebrtc/modules/audio_coding/codecs/opus/audio_encoder_opus_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/opus/opus_bandwidth_unittest.cc
  third_party/libwebrtc/moz-patch-stack/0001.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from c118881416
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/peer_connection_interface.cc
  third_party/libwebrtc/media/base/fake_media_engine.cc
  third_party/libwebrtc/media/base/fake_media_engine.h
  third_party/libwebrtc/media/engine/fake_webrtc_call.cc
  third_party/libwebrtc/media/engine/fake_webrtc_call.h
  third_party/libwebrtc/modules/audio_coding/codecs/opus/opus_bandwidth_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/opus/opus_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/opus/test/blocker_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/opus/test/lapped_transform_unittest.cc
  third_party/libwebrtc/modules/audio_coding/codecs/pcm16b/audio_decoder_pcm16b.cc
  third_party/libwebrtc/modules/audio_coding/include/audio_coding_module.h
  third_party/libwebrtc/modules/audio_coding/neteq/background_noise.cc
  third_party/libwebrtc/modules/audio_coding/neteq/decision_logic.cc
  third_party/libwebrtc/modules/audio_coding/neteq/decision_logic.h
  third_party/libwebrtc/modules/audio_coding/neteq/expand_unittest.cc
  third_party/libwebrtc/modules/audio_coding/neteq/neteq_impl_unittest.cc
  third_party/libwebrtc/modules/audio_coding/neteq/neteq_network_stats_unittest.cc
  third_party/libwebrtc/modules/audio_coding/neteq/test/neteq_pcm16b_quality_test.cc
  third_party/libwebrtc/modules/audio_coding/neteq/test/neteq_pcmu_quality_test.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/audio_sink.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/neteq_delay_analyzer.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/neteq_quality_test.cc
  third_party/libwebrtc/modules/audio_coding/neteq/tools/neteq_test.h
  third_party/libwebrtc/modules/audio_coding/neteq/tools/rtp_encode.cc
  third_party/libwebrtc/modules/audio_coding/test/Channel.cc
  third_party/libwebrtc/modules/audio_coding/test/EncodeDecodeTest.cc
  third_party/libwebrtc/modules/audio_coding/test/TestAllCodecs.cc
  third_party/libwebrtc/modules/audio_coding/test/TestStereo.cc
  third_party/libwebrtc/modules/audio_device/audio_device_data_observer.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from ff1f3fb3ae
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1928511: Add NS_ERROR_NET_ERROR_RESPONSE to error_list.json and export values of nsIXPCComponents_Results r=zombie
  tools/@types/lib.gecko.nsresult.d.ts
  tools/ts/build_nsresult.js
  tools/ts/config/error_list.json
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1934695 - Vendor libwebrtc from dd493e56a4
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/rtp_parameters_conversion.cc
  third_party/libwebrtc/pc/rtp_parameters_conversion.h
  third_party/libwebrtc/pc/rtp_parameters_conversion_unittest.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from 130bdcea7e
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/rtc_base/ssl_stream_adapter_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-esr128 repo-update HSTS HPKP remote-settings tld-suffixes - a=RyanVM
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/main/translations-wasm.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-esr115 repo-update HSTS HPKP remote-settings tld-suffixes - a=RyanVM
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from fabe3a1173
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/pc/media_session.cc
  third_party/libwebrtc/pc/media_session_unittest.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from caf943dc2d
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1934695 - Vendor libwebrtc from 297fe1a2d9
  third_party/libwebrtc/README.moz-ff-commit
  third_party/libwebrtc/README.mozilla
  third_party/libwebrtc/api/peer_connection_interface.h
  third_party/libwebrtc/audio/channel_send_unittest.cc
  third_party/libwebrtc/call/call_perf_tests.cc
  third_party/libwebrtc/examples/objc/AppRTCMobile/third_party/SocketRocket/SRWebSocket.m
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_generic_packet_sent.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_probe_cluster_created.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_probe_result_failure.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_probe_result_success.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_remote_estimate.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_route_change.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_video_receive_stream_config.h
  third_party/libwebrtc/logging/rtc_event_log/events/rtc_event_video_send_stream_config.h
  third_party/libwebrtc/logging/rtc_event_log/fake_rtc_event_log.cc
  third_party/libwebrtc/media/base/adapted_video_track_source.h
  third_party/libwebrtc/media/base/media_engine.h
  third_party/libwebrtc/media/base/rtp_utils.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1935283 - SyntaxError on using decls without binding list. r=arai
  js/public/friend/ErrorNumbers.msg
  js/src/frontend/Parser.cpp
  js/src/jit-test/tests/explicit-resource-management/syntax.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1934423 - Emit pre-barrier for TakeDisposeCapability opcode in baseline and ion. r=arai,iain
  js/src/jit-test/tests/explicit-resource-management/bug1934423.js
  js/src/jit/BaselineCodeGen.cpp
  js/src/jit/CodeGenerator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1791109: Add testing function to disassemble baseline ics r=mgaudet
  js/src/builtin/TestingFunctions.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1935421 - Enable ESLint rule no-insecure-url for all of toolkit/components/places. r=places-reviewers,mak
  .eslintrc-rollouts.js
  toolkit/components/places/tests/browser/browser_bug1601563.js
  toolkit/components/places/tests/browser/browser_bug399606.js
  toolkit/components/places/tests/browser/browser_bug461710.js
  toolkit/components/places/tests/browser/browser_bug646422.js
  toolkit/components/places/tests/browser/browser_double_redirect.js
  toolkit/components/places/tests/browser/browser_favicon_privatebrowsing_perwindowpb.js
  toolkit/components/places/tests/browser/browser_history_post.js
  toolkit/components/places/tests/browser/browser_multi_redirect_frecency.js
  toolkit/components/places/tests/browser/browser_onvisit_title_null_for_navigation.js
  toolkit/components/places/tests/browser/browser_settitle.js
  toolkit/components/places/tests/browser/browser_visituri.js
  toolkit/components/places/tests/browser/browser_visituri_nohistory.js
  toolkit/components/places/tests/browser/browser_visituri_privatebrowsing_perwindowpb.js
  toolkit/components/places/tests/browser/history_post.html
  toolkit/components/places/tests/browser/redirect_once.sjs
  toolkit/components/places/tests/chrome/test_371798.xhtml
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset ceeaeae381df (bug 1933114) for causing bc failures @ browser_tab_groups_restore_closed_in_closed_window.js CLOSED TREE
  browser/components/sessionstore/SessionStore.sys.mjs
  browser/components/sessionstore/TabGroupState.sys.mjs
  browser/components/sessionstore/test/browser.toml
  browser/components/sessionstore/test/browser_tab_groups_closed.js
  browser/components/sessionstore/test/browser_tab_groups_empty.js
  browser/components/sessionstore/test/browser_tab_groups_restore_closed_in_closed_window.js
  browser/components/sessionstore/test/browser_tab_groups_restore_closed_in_open_window.js
  browser/components/sessionstore/test/browser_tab_groups_restore_multiple.js
  browser/components/sessionstore/test/browser_tab_groups_restore_saved.js
  browser/components/sessionstore/test/browser_tab_groups_restore_simple.js
  browser/components/sessionstore/test/browser_tab_groups_saved.js
  browser/components/sessionstore/test/browser_tab_groups_state.js
  browser/components/sessionstore/test/head.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1934109 - Show discard changes prompt in contextual-password-manager when closing sidebar. r=rsafaeian,credential-management-reviewers,sidebar-reviewers,sfoster,sclements
  browser/components/sidebar/browser-sidebar.js
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/NotificationMessageBar.mjs
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_update_login.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1934109 - Discard changes prompt when editing a login. r=rsafaeian,fluent-reviewers,credential-management-reviewers,flod
  toolkit/components/satchel/megalist/MegalistViewModel.sys.mjs
  toolkit/components/satchel/megalist/aggregator/Aggregator.sys.mjs
  toolkit/components/satchel/megalist/aggregator/datasources/DataSourceBase.sys.mjs
  toolkit/components/satchel/megalist/aggregator/datasources/LoginDataSource.sys.mjs
  toolkit/components/satchel/megalist/content/LoginFormComponent/login-form.mjs
  toolkit/components/satchel/megalist/content/MegalistAlpha.mjs
  toolkit/components/satchel/megalist/content/NotificationMessageBar.mjs
  toolkit/components/satchel/megalist/content/megalist.ftl
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_update_login.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1905027 - There should be a Keyboard shortcut for the AI chat sidebar r=sidebar-reviewers,sclements,fluent-reviewers,flod,ngrato
  browser/base/content/browser-sets.inc
  browser/base/content/browser-sets.js
  browser/components/genai/metrics.yaml
  browser/components/genai/tests/browser/browser_chat_sidebar.js
  browser/components/sidebar/browser-sidebar.js
  browser/locales/en-US/browser/browserSets.ftl
Due: bugzilla-components, codespell, eslint, license, yaml, localization, file-perm

Bug 1927552 - Async fetch profiles menubar contents. r=niklas
  browser/base/content/browser-profiles.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 12e833799aa1 (bug 1935101) for causing dt failures on browser_dbg-breakpoints.js.
  devtools/client/preferences/debugger.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm, devtools-tests

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Backed out changeset 1f92204eeb15 (bug 1933331) for causing WD test_destination_initiator related failures. a=backout
  remote/shared/NetworkRequest.sys.mjs
Due: bugzilla-components

Bug 1934154 - don't try and build a cdylib for uniffi future fixure. r=bdk
  toolkit/components/uniffi-bindgen-gecko-js/fixtures/futures/Cargo.toml
Due: bugzilla-components

Bug 1928107 - Add a targeting context ping to Nimbus r=chumphreys,TravisLong,ahochheiden
  taskcluster/kinds/source-test/python.yml
  toolkit/components/glean/metrics_index.py
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/TargetingContextRecorder.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/moz.build
  toolkit/components/nimbus/pings.yaml
  toolkit/components/nimbus/test/python/dump-targeting-context.js
  toolkit/components/nimbus/test/python/python.toml
  toolkit/components/nimbus/test/python/test_targeting_context_metrics.py
  toolkit/components/nimbus/test/unit/test_TargetingContextRecorder.js
  toolkit/components/nimbus/test/unit/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1933308 - Use correct object directory in mach xpcshell r=ahochheiden
  js/xpconnect/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1932169 - Throw an error when UnderlyingSource.autoAllocateChunkSize is too large on 32-bit build. a=RyanVM
  dom/streams/ReadableByteStreamController.cpp
  dom/streams/test/xpcshell/xpcshell.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1932169 - Throw an error when UnderlyingSource.autoAllocateChunkSize is too large on 32-bit build. a=RyanVM
  dom/streams/ReadableByteStreamController.cpp
  dom/streams/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
