Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1917964 - Fix swgl build with GCC 15. r=gfx-reviewers,lsalzman
  gfx/wr/swgl/src/vector_type.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging e984004cf6baea833e2741488b04b29785db6ecd with FIREFOX-ANDROID_131_0b5_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1917652: Turn on GPU Process for X11 Nightly. r=aosmond
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1918104: Skip test on windows and move setTimeZone call. r=tjr
  browser/components/resistfingerprinting/test/browser/browser.toml
  browser/components/resistfingerprinting/test/browser/browser_exslt_timezone_load.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1915813 - Fix a crash with Microsoft TTD. a=diannaS
  gfx/qcms/src/transform_avx.rs
  gfx/qcms/src/transform_sse2.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1916873 - Allow Suggest to be safely enabled in non-Suggest locales. r=daisuke,settings-reviewers,mossop
  browser/app/profile/firefox.js
  browser/components/preferences/search.js
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/docs/preferences.rst
  browser/components/urlbar/tests/UrlbarTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/QuickSuggestTestUtils.sys.mjs
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_exposures_locales.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_offlineDefault.js
  browser/components/urlbar/tests/quicksuggest/unit/test_weather.js
  browser/components/urlbar/tests/quicksuggest/unit/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, lintpref, rst, file-perm

Bug 1915766 - Add a Nimbus variable that hides the Suggest UI. r=daisuke,settings-reviewers,mossop
  browser/app/profile/firefox.js
  browser/components/preferences/privacy.js
  browser/components/preferences/search.js
  browser/components/preferences/tests/browser_privacy_firefoxSuggest.js
  browser/components/preferences/tests/browser_search_firefoxSuggest.js
  browser/components/preferences/tests/head.js
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Backed out changeset 9edfd63d6c45 (bug 1916832) for causing multiple assertion failures related to network.http.tailing.urgency. CLOSED TREE
  modules/libpref/init/StaticPrefList.yaml
  modules/libpref/init/all.js
  netwerk/protocol/http/nsHttpHandler.cpp
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1916881 - [devtools] Don't use for..in loop to iterate over jQuery events. a=diannaS.
  devtools/client/inspector/markup/test/doc_markup_events_jquery.html
  devtools/server/actors/inspector/event-collector.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1914919 - Add a JEXL filter expression that returns an array of an objects values r=mviar
  toolkit/components/utils/FilterExpressions.sys.mjs
  toolkit/components/utils/test/unit/test_FilterExpressions.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1913200: Focus the first item when opened by keypress only r=daleharvey
  browser/components/urlbar/SearchModeSwitcher.sys.mjs
Due: bugzilla-components

Bug 1915008 - leak mResultTask if dispatch fails in certificate verification a=diannaS
  security/manager/ssl/SSLServerCertVerification.cpp
  security/manager/ssl/SSLServerCertVerification.h
  security/manager/ssl/VerifySSLServerCertChild.cpp
  security/manager/ssl/VerifySSLServerCertParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915564 - Rework arena_t::mPRNG initalization to be more explicit about avoiding double initialization. r=glandium
  memory/build/mozjemalloc.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918016 - only generate aliases when the output of mach gifft contains multiple events, r=chutten.
  toolkit/components/telemetry/build_scripts/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1918016 - only print the category name once when the output of mach gifft contains multiple events, r=chutten.
  toolkit/components/telemetry/build_scripts/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1918016 - mach gifft: stop looping over events once we have found the requested event, r=chutten.
  toolkit/components/telemetry/build_scripts/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1912325 - Adding deal ID to the app_opened event for vivo partnership and adding another event for when there is an error checking if the preloaded vivo file exists r=android-reviewers,gmalekpour
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/HomeActivity.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/partnerships/PartnershipDeal.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/partnerships/PartnershipDealIdUtil.kt
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1917175 - Re-update unic-langid and unic-langid-impl to 0.9.5. a=diannaS
  Cargo.lock
  third_party/rust/unic-langid-impl/.cargo-checksum.json
  third_party/rust/unic-langid-impl/Cargo.lock
  third_party/rust/unic-langid-impl/Cargo.toml
  third_party/rust/unic-langid-impl/LICENSE-APACHE
  third_party/rust/unic-langid-impl/LICENSE-MIT
  third_party/rust/unic-langid-impl/data/cldr-misc-full/README.md
  third_party/rust/unic-langid-impl/src/bin/generate_layout.rs
  third_party/rust/unic-langid-impl/src/layout_table.rs
  third_party/rust/unic-langid-impl/src/lib.rs
  third_party/rust/unic-langid-impl/src/likelysubtags/mod.rs
  third_party/rust/unic-langid-impl/src/likelysubtags/tables.rs
  third_party/rust/unic-langid-impl/src/subtags/language.rs
  third_party/rust/unic-langid-impl/src/subtags/variant.rs
  third_party/rust/unic-langid-impl/tests/language_identifier_test.rs
  third_party/rust/unic-langid-impl/tests/likelysubtags.rs
  third_party/rust/unic-langid/.cargo-checksum.json
  third_party/rust/unic-langid/Cargo.toml
  third_party/rust/unic-langid/LICENSE-APACHE
  third_party/rust/unic-langid/LICENSE-MIT
  third_party/rust/unic-langid/tests/langid.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1918045 - add a macro to reduce code duplication in Perfetto.h, r=denispal.
  tools/performance/Perfetto.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918045 - Accept the NS_ConvertUTF16toUTF8 type as the payload for profiler text markers in Perfetto.h, r=denispal.
  tools/performance/Perfetto.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917586 - Add profiler markers showing when data is not recorded because of an error, r=chutten.
  toolkit/components/telemetry/core/TelemetryHistogram.cpp
  toolkit/components/telemetry/core/TelemetryScalar.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914438 - Long press on New tab button does not offer to open a new Container tab r=sidebar-reviewers,tabbrowser-reviewers,dao,sclements
  browser/components/contextualidentity/test/browser/browser_newtabButton.js
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1914938 - Border and box-shadow for tabbrowser and sidebar cut off by bookmarks toolbar r=desktop-theme-reviewers,dao,tabbrowser-reviewers
  browser/themes/shared/browser-shared.css
  browser/themes/shared/tabbrowser/content-area.css
Due: bugzilla-components

Bug 1910452: Part 2 - Test that drag-drop respects content analysis r=dlp-reviewers,gstoll
  dom/events/test/browser_dragdrop_impl.js
  dom/events/test/browser_dragdrop_protected_diff_origin.js
  dom/events/test/browser_dragdrop_protected_same_origin.js
  dom/events/test/browser_dragdrop_unprotected_diff_origin.js
  dom/events/test/browser_dragdrop_unprotected_same_origin.js
  toolkit/components/contentanalysis/tests/browser/browser.toml
  toolkit/components/contentanalysis/tests/browser/browser_content_analysis_dnd_diff_origin.js
  toolkit/components/contentanalysis/tests/browser/browser_content_analysis_dnd_same_origin.js
  toolkit/components/contentanalysis/tests/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1910452: Part 1 - Intercept drop events for content analysis r=smaug,dlp-reviewers,gstoll,reusable-components-reviewers,mstriemer
  dom/events/ContentEventHandler.cpp
  dom/events/ContentEventHandler.h
  dom/events/EventStateManager.cpp
  dom/ipc/BrowserChild.cpp
  dom/ipc/BrowserChild.h
  dom/ipc/PBrowser.ipdl
  toolkit/content/widgets/browser-custom-element.js
  widget/EventMessageList.h
  widget/TextEvents.h
  widget/WidgetEventImpl.cpp
  widget/nsBaseDragService.cpp
  widget/nsBaseDragService.h
  widget/nsIDragService.idl
  widget/nsIDragSession.idl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1910452: Part 3 - Fix some issues with synthesizeMockDragAndDrop r=m_kato
  testing/mochitest/tests/SimpleTest/DragChildContextBase.sys.mjs
  testing/mochitest/tests/SimpleTest/EventUtils.js
  widget/MockDragServiceController.cpp
  widget/nsIMockDragServiceController.idl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, mochitest-harness

Bug 1910452: Part 4 - Wait for iframe to load in drag and drop tests r=m_kato
  dom/events/test/browser_dragdrop_impl.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1910452: Part 5 - Release content analysis cache request on main thread r=dlp-reviewers,gstoll
  toolkit/components/contentanalysis/ContentAnalysis.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/prompts/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-hr/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 3743627d5eff (bug 1917652) for causing leak failures VideoBridgeParent related CLOSED TREE
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1917664 - Ensure mMSAuthorities is loaded even when the preference is switched a=diannaS
  netwerk/protocol/http/nsHttpHandler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915665 - [1/2] Streamline WinEventHub r=win-reviewers,gfx-reviewers,handyman,bradwerth
  widget/tests/gtest/TestWinWindowOcclusionTrackerInteractive.cpp
  widget/windows/WinEventObserver.cpp
  widget/windows/WinEventObserver.h
  widget/windows/WinWindowOcclusionTracker.cpp
  widget/windows/WinWindowOcclusionTracker.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915665 - [2/2] Simplify the Chromium-inherited API r=win-reviewers,handyman
  widget/windows/WinEventObserver.cpp
  widget/windows/WinWindowOcclusionTracker.cpp
  widget/windows/WinWindowOcclusionTracker.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1912301 - Implement a fetch task in the CI to allow running the WASM runtime - r=sparky,tarek
  taskcluster/kinds/fetch/kind.yml
  taskcluster/kinds/fetch/onnxruntime-web-fetch.yml
  taskcluster/kinds/test/misc.yml
  taskcluster/kinds/test/mochitest.yml
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_end_to_end.js
  toolkit/components/ml/tests/browser/data/acme/test-vit-gpt2-image-captioning/resolve/main/config.json
  toolkit/components/ml/tests/browser/data/acme/test-vit-gpt2-image-captioning/resolve/main/generation_config.json
  toolkit/components/ml/tests/browser/data/acme/test-vit-gpt2-image-captioning/resolve/main/onnx/decoder_model_merged_quantized.onnx
  toolkit/components/ml/tests/browser/data/acme/test-vit-gpt2-image-captioning/resolve/main/onnx/encoder_model_quantized.onnx
  toolkit/components/ml/tests/browser/data/acme/test-vit-gpt2-image-captioning/resolve/main/preprocessor_config.json
  toolkit/components/ml/tests/browser/data/acme/test-vit-gpt2-image-captioning/resolve/main/tokenizer.json
  toolkit/components/ml/tests/browser/data/acme/test-vit-gpt2-image-captioning/resolve/main/tokenizer_config.json
  toolkit/components/ml/tests/browser/data/images/1.png
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-pa-rPK/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-gn/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-pa-rPK/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/focus-android/app/src/main/res/values-mix/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1909779 - Get authorization status only in onAuthenticated r=gl,android-reviewers
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/store/SyncStoreSupport.kt
  mobile/android/android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/store/SyncStoreSupportTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1909779 - Get authorization status only in onAuthenticated r=gl,android-reviewers, a=dsmith
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/store/SyncStoreSupport.kt
  mobile/android/android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/store/SyncStoreSupportTest.kt
Due: android-api-lint/opt, bugzilla-components
