Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1961191 - Check for null default FB in DoBindFB. r=aosmond
  dom/canvas/WebGLContext.cpp
  dom/canvas/crashtests/1961191.html
  dom/canvas/crashtests/crashtests.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 8c45a3ebe23c (bug 1957023) for causing bustages complaining about MOZ_NO_PIE_COMPAT. CLOSED TREE
  .gitignore
  .hgignore
  aclocal.m4
  build/autoconf/acgeneral.m4
  build/autoconf/acoldnames.m4
  build/autoconf/acspecific.m4
  build/autoconf/altoptions.m4
  build/autoconf/autoconf.m4
  build/autoconf/autoconf.sh
  build/autoconf/config.status.m4
  build/autoconf/hooks.m4
  build/moz.configure/init.configure
  build/moz.configure/old.configure
  configure.py
  js/src/aclocal.m4
  js/src/configure
  js/src/make-source-package.py
  js/src/old-configure.in
  js/sub.configure
  moz.build
  moz.configure
  old-configure.in
  python/mozboot/mozboot/mozconfig.py
  python/mozbuild/mozbuild/test/configure/common.py
  python/mozbuild/mozbuild/test/configure/lint.py
  toolkit/moz.configure
Due: bugzilla-components, codespell, license, py-compat, py-flake8, shellcheck, file-whitespace, mozbuild

Bug 1961069: Enable weather suggestions by default a=dmeehan DONTBUILD
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarPrefs.sys.mjs
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1960472 - Rewrite browser_experimentstore_load and browser_experimentstore_load_single_feaure as xpcshell tests r=nimbus-reviewers,relud,chumphreys
  toolkit/components/nimbus/test/browser/browser.toml
  toolkit/components/nimbus/test/browser/browser_experimentstore_load.js
  toolkit/components/nimbus/test/browser/browser_experimentstore_load_single_feature.js
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_remote_defaults.js
  toolkit/components/nimbus/test/browser/head.js
  toolkit/components/nimbus/test/unit/head.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature_getAllVariables.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature_getVariable.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
  toolkit/components/nimbus/test/unit/test_ExperimentManager_prefs.js
  toolkit/components/nimbus/test/unit/test_ExperimentStore.js
  toolkit/components/nimbus/test/unit/test_Migrations.js
  toolkit/components/nimbus/test/unit/test_RemoteSettingsExperimentLoader_updateRecipes.js
  toolkit/components/nimbus/test/unit/test_localization.js
  toolkit/components/nimbus/test/unit/test_prefFlips.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961018: Add a profiler marker to FirePrintingErrorEvent. r=layout-reviewers,TYLin,dshin
  layout/printing/nsPrintJob.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1954044 - Implement https://github.com/w3c/editing/issues/483 so that setPathData can accept a plain javascript object that matches the structure of SVGPathSegment r=emilio
  dom/svg/SVGAnimatedPathSegList.cpp
  dom/svg/SVGAnimatedPathSegList.h
  dom/svg/SVGPathElement.cpp
  dom/svg/SVGPathElement.h
  dom/svg/SVGPathSegment.cpp
  dom/svg/SVGPathSegment.h
  dom/svg/test/mochitest.toml
  dom/svg/test/test_SVGPathSegment.xhtml
  dom/webidl/SVGPathElement.webidl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1958801: Add CSP to geckoview.xhtml r=geckoview-reviewers,nalexander
  dom/security/nsContentSecurityUtils.cpp
  mobile/shared/chrome/geckoview/geckoview.js
  mobile/shared/chrome/geckoview/geckoview.xhtml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1368520 - enable BHR on Android, r=dthayer.
  toolkit/components/backgroundhangmonitor/ThreadStackHelper.h
  toolkit/components/backgroundhangmonitor/tests/xpcshell.toml
  toolkit/components/telemetry/tests/unit/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1913607 - Open recently visited item in the existing tab if Homepage as a New Tab is enabled r=android-reviewers,devota
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/recentvisits/controller/RecentVisitsController.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/recentvisits/controller/RecentVisitsControllerTest.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset 6c83bdc5fbb5 (bug 1957880) for causing wr massive-element-right-and-left-of-viewport-partially-onscreen-old.html CLOSED TREE
  gfx/wr/webrender/src/clip.rs
  gfx/wr/webrender/src/scene_building.rs
  gfx/wr/wrench/reftests/image/reftest.list
  gfx/wr/wrench/reftests/image/snapshot-complex-clip-ref.yaml
  gfx/wr/wrench/reftests/image/snapshot-complex-clip.yaml
  testing/web-platform/meta/css/css-view-transitions/content-with-clip.html.ini
  testing/web-platform/meta/css/css-view-transitions/massive-element-below-and-on-top-of-viewport-partially-onscreen-old.html.ini
  testing/web-platform/meta/css/css-view-transitions/massive-element-right-and-left-of-viewport-partially-onscreen-old.html.ini
  testing/web-platform/meta/css/css-view-transitions/new-content-captures-different-size.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-captures-clip-path.html.ini
Due: bugzilla-components, license, test-manifest, yaml, rustfmt, file-whitespace, file-perm

Bug 1945420 - [contextual-password-manager] Focus "Close Without Saving?" notification after tabbing on the last button in login-form. r=mtigley,credential-management-reviewers
  toolkit/components/satchel/megalist/content/components/login-form/login-form.mjs
Due: bugzilla-components

Bug 1961038 - Consistently use "changeReason" rather than "changeSource" in code related to search.engine.default.changed Glean event telemetry. r=search-reviewers,jteow
  browser/components/extensions/test/browser/browser_ext_settings_overrides_default_search.js
  browser/components/preferences/tests/browser_searchDefaultEngine.js
  browser/components/search/test/browser/browser_contentSearchUI.js
  browser/components/uitour/test/browser_UITour.js
  toolkit/components/search/SearchService.sys.mjs
  toolkit/components/search/metrics.yaml
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/test_telemetry_event_default.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1961041: Change ampTopPickCharThreshold default value r=adw
  browser/app/profile/firefox.js
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_block.js
  browser/components/urlbar/tests/quicksuggest/browser/browser_quicksuggest_indexes.js
  browser/components/urlbar/tests/quicksuggest/browser/head.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_exposures.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_merino.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_remoteSettingsFilter.js
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_scoreMap.js
  browser/components/urlbar/tests/unit/test_exposure.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1915430 - Removed obsolete context check in shouldAllowFxaStatus function r=markh,skhamis
  services/fxaccounts/FxAccountsWebChannel.sys.mjs
Due: bugzilla-components

Backed out changeset 5da3002a62fc (bug 1958875) for causing failures at test_serviceworker_interfaces.html. CLOSED TREE
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1960935: update toolkit/components/extensions mac and linux skip-if r=jmaher,extension-reviewers,robwu
  toolkit/components/extensions/test/mochitest/mochitest-common.toml
  toolkit/components/extensions/test/xpcshell/native_messaging.toml
  toolkit/components/extensions/test/xpcshell/xpcshell-common-e10s.toml
  toolkit/components/extensions/test/xpcshell/xpcshell-common.toml
  toolkit/components/extensions/test/xpcshell/xpcshell-content.toml
  toolkit/components/extensions/test/xpcshell/xpcshell-remote.toml
  toolkit/components/extensions/test/xpcshell/xpcshell-serviceworker.toml
Due: bugzilla-components

Bug 1961287: Add print logging to the Graphics preset on about:logging. r=gfx-reviewers,lsalzman
  toolkit/content/aboutLogging/aboutLogging.mjs
Due: bugzilla-components

Bug 1961245: Change an svg WPT reference case to generate expected rendering using divs, instead of embedded documents. r=longsonr
  testing/web-platform/tests/svg/coordinate-systems/viewBox-synthesized-in-img-001-ref.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1960394 - Remove force argument from ExperimentManager._enroll r=nimbus-reviewers,relud,chumphreys
  toolkit/components/nimbus/lib/ExperimentManager.sys.mjs
  toolkit/components/nimbus/lib/RemoteSettingsExperimentLoader.sys.mjs
  toolkit/components/nimbus/lib/Telemetry.sys.mjs
Due: bugzilla-components

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/compose/base/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kab/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1658699 - Enable the new white-space normalizer in the all channels r=m_kato
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/editing/run/delete.html.ini
  testing/web-platform/meta/editing/run/forwarddelete.html.ini
  testing/web-platform/meta/editing/run/insertlinebreak.html.ini
  testing/web-platform/meta/editing/run/insertparagraph.html.ini
  testing/web-platform/meta/editing/run/inserttext.html.ini
  testing/web-platform/meta/editing/whitespaces/keep-typed-collapsible-white-space-visible-after-muation.html.ini
  testing/web-platform/meta/input-events/input-events-get-target-ranges-backspace.tentative.html.ini
  testing/web-platform/meta/input-events/input-events-get-target-ranges-forwarddelete.tentative.html.ini
  testing/web-platform/mozilla/meta/editor/delete-before-invisible-line-break.html.ini
  testing/web-platform/mozilla/meta/editor/forwarddelete-before-invisible-line-break.html.ini
Due: bugzilla-components, lintpref, test-manifest, yaml

Bug 1961132 - test(webgpu): expect `navigator.gpu` on workers in early Beta and not just Nightly r=webidl,smaug
  dom/workers/test/navigator_worker.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961132 - test(dom): add `isEarlyBetaOrEarlier` to worker context tests for exposed `navigator` properties r=webidl,smaug
  dom/workers/test/navigator_worker.js
  dom/workers/test/test_navigator_iframe.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961280 - Update android nightly application-services version bump to 24064dcb7ba1094e85e0c49f627cc7dff31ee55a r=release-managers,RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1959432 - Add etag and ifnonematch header constants r=android-reviewers,jonalmeida
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Headers.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1957610: Add useOhttp property to concept-fetch Request class. r=jonalmeida,android-reviewers
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/fetch/GeckoViewFetchClient.kt
  mobile/android/android-components/components/concept/fetch/src/main/java/mozilla/components/concept/fetch/Request.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1960398 - Remove getAllBranchFeatureIds r=nimbus-reviewers,relud,chumphreys
  toolkit/components/nimbus/lib/ExperimentStore.sys.mjs
  toolkit/components/nimbus/test/unit/test_ExperimentStore.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 7c354352ebc3 (bug 1945420) for causing geckoview failures. CLOSED TREE
  toolkit/components/satchel/megalist/content/components/login-form/login-form.mjs
Due: bugzilla-components

Bug 1961226 - Enable tab groups by default on all channels. r=sthompson
  browser/app/profile/firefox.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1959822 - Remove support for isEarlyStartup in feature configs r=nimbus-reviewers,relud,chumphreys
  toolkit/components/nimbus/lib/ExperimentStore.sys.mjs
  toolkit/components/nimbus/test/browser/browser_experiment_single_feature_enrollment.js
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_remote_defaults.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
  toolkit/components/nimbus/test/unit/test_ExperimentStore.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961224 - Remove bogus "panel" class from tab group panel. r=sthompson,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabgroup-menu.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 36701e141500 (bug 1960370) for possibly cause mac failures on beta a=backout
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/normandy/metrics.yaml
Due: bugzilla-components, yaml

Bug 1854189 - Only check isEarlyStartup cache before Nimbus is ready r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/ExperimentStore.sys.mjs
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_force_enrollment.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature_getVariable.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1961311 - Make bootstrap.py --vcs=git graft with the new github repo. r=firefox-build-system-reviewers,nalexander
  python/mozboot/bin/bootstrap.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozbuild

Backed out changeset 491296342c44 (bug 1854189) for causing bc failures in browser_remotesettingsexperimentloader_force_enrollment.js CLOSED TREE
  toolkit/components/nimbus/lib/ExperimentStore.sys.mjs
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_force_enrollment.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature_getVariable.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 6cb14fa1a4d1 (bug 1915430) for causing xpcshell exceptions CLOSED TREE
  services/fxaccounts/FxAccountsWebChannel.sys.mjs
Due: bugzilla-components

Bug 1854189 - Only check isEarlyStartup cache before Nimbus is ready r=nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/ExperimentStore.sys.mjs
  toolkit/components/nimbus/test/browser/browser_remotesettingsexperimentloader_force_enrollment.js
  toolkit/components/nimbus/test/browser/head.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_ExperimentFeature_getVariable.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI_NimbusFeatures.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
