Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1866402 - Use the cached value if it's available in PersistOp::DoDirectoryWork; r=dom-storage-reviewers,jari
  dom/quota/OriginOperations.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919511 - Rename gfxFontGroup::BuildFontList to EnsureFontList, and defer calling it until we really need the resolved font instances. r=layout-reviewers,emilio
  dom/canvas/CanvasRenderingContext2D.cpp
  gfx/thebes/gfxTextRun.cpp
  gfx/thebes/gfxTextRun.h
  layout/generic/MathMLTextRunFactory.cpp
  layout/generic/nsTextFrame.cpp
  layout/generic/nsTextRunTransformations.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911104 - Chatbot telemetry for 133 nimbus experiment with onboarding and menus r=tarek
  browser/components/genai/GenAI.sys.mjs
  browser/components/genai/chat.js
  browser/components/genai/metrics.yaml
  browser/components/genai/tests/browser/browser_chat_sidebar.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1920032 - Hide the SearchModeSwitcher in readonly urlbars. r=dao, a=RyanVM
  browser/components/urlbar/UrlbarInput.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
  browser/themes/shared/urlbar-searchbar.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1923313 - Add is_list_card attribute to impression/dismiss telemetry events a=RyanVM
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSCard/DSCard.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSLinkMenu/DSLinkMenu.jsx
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/ListFeed.jsx
  browser/components/newtab/content-src/lib/link-menu-options.mjs
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/lib/TelemetryFeed.sys.mjs
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/CollectionCardGrid.test.jsx
  browser/components/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSTextPromo.test.jsx
  browser/components/newtab/test/unit/content-src/components/LinkMenu.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1924163 - Reduce font sizes on list feed cards a=RyanVM
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/ListFeed/_ListFeed.scss
  browser/components/newtab/css/activity-stream.css
Due: bugzilla-components, newtab-unit-tests

Bug 1924318 - Use std::array and mozilla::Span to avoid repeating array sizes r=emilio
  dom/svg/SVGFEColorMatrixElement.cpp
  dom/svg/SVGFECompositeElement.cpp
  dom/svg/SVGFEConvolveMatrixElement.cpp
  dom/svg/SVGNumberList.h
  layout/svg/CSSFilterInstance.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1890074 [Wayland] Print compositor name in protocol handler error r=emilio
  widget/gtk/nsWaylandDisplay.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Backed out changeset e1cdaf575bc5 (bug 1924155) because causing conflict with bug 1917652 being backed out.
  gfx/layers/ipc/VideoBridgeParent.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out 3 changesets (bug 1917652) for causing perma bc failures @ browser_startup_syncIPC.js CLOSED TREE
  gfx/layers/ipc/VideoBridgeParent.cpp
  gfx/layers/ipc/VideoBridgeParent.h
  modules/libpref/init/StaticPrefList.yaml
  taskcluster/kinds/test/variants.yml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1921532 - Update Application Services to 132.0.1. a=RyanVM
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
Due: android-api-lint/opt, bugzilla-components

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/addons/src/main/res/values-gn/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/focus-android/app/src/main/res/values-cs/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/toolbar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/awesomebar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/browser-toolbar/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/cfr/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/compose/tabstray/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sat/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/findinpage/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/fxsuggest/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/pwa/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/qr/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/readerview/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/search/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/ui/widgets/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1920009 - Fix fragment titles being read by talkback after dismissal from menu. r=petru,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/DownloadFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/LibraryPageFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/library/bookmarks/edit/EditBookmarkFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1924276. Fix quadratic behaviour in nsIFrame::IsScrolledOutOfView. r=layout-reviewers,emilio
  layout/base/nsLayoutUtils.cpp
  layout/base/nsLayoutUtils.h
  layout/generic/nsIFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1866402 - Add support for initializing corresponding origin to QuotaManager::OpenClientDirectory; r=devtools-reviewers,nchevobbe
  devtools/client/storage/test/browser_storage_dfpi.js
  dom/localstorage/ActorsParent.cpp
  dom/quota/ActorsParent.cpp
  dom/quota/QuotaManager.h
  dom/quota/test/marionette/test_private_repository_cleanup.py
  dom/quota/test/xpcshell/test_persist_eviction.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm, devtools-tests

Bug 1866402 - Add QuotaManager::PrincipalMetadataToPrincipalInfo method; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
  dom/quota/QuotaManager.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917491 - Part 2: Introduce call-like syntax for resource disposal in AsyncDisposableStack. r=arai
  js/src/builtin/.eslintrc.js
  js/src/builtin/AsyncDisposableStack.js
  js/src/frontend/BytecodeEmitter.cpp
  js/src/frontend/BytecodeEmitter.h
  js/src/frontend/UsingEmitter.cpp
  js/src/vm/CommonPropertyNames.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1917491 - Part 1: Move disposal emission functions to a dedicated class. r=arai
  js/src/frontend/UsingEmitter.cpp
  js/src/frontend/UsingEmitter.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917491 - Part 3: Introduce call-like syntax for resource disposal in DisposableStack. r=arai
  js/src/builtin/.eslintrc.js
  js/src/builtin/AsyncDisposableStack.js
  js/src/builtin/DisposableStack.js
  js/src/builtin/DisposableStackObject.cpp
  js/src/builtin/DisposableStackObject.h
  js/src/frontend/BytecodeEmitter.cpp
  js/src/jit/CacheIR.cpp
  js/src/jit/InlinableNatives.cpp
  js/src/jit/InlinableNatives.h
  js/src/moz.build
  js/src/vm/CommonPropertyNames.h
  js/src/vm/SelfHosting.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging e69783530d6d036a3621031d0a316a66e933a070 with FIREFOX-ANDROID_131_0_3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging e69783530d6d036a3621031d0a316a66e933a070 with FIREFOX_131_0_3_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1866402 - Replace most of QuotaManager::EnsurePersistentOriginIsInitializedInternal and QuotaManager::EnsureTemporaryOriginIsInitializedInternal calls; r=dom-storage-reviewers,jari
  dom/cache/Context.cpp
  dom/fs/parent/datamodel/FileSystemFileManager.cpp
  dom/indexedDB/ActorsParent.cpp
  dom/localstorage/ActorsParent.cpp
  dom/quota/test/gtest/TestFileOutputStream.cpp
  dom/quota/test/gtest/TestStorageConnection.cpp
  dom/simpledb/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/menu/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-bs/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pa-rIN/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-sat/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/autofill/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/fxsuggest/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/privatemode/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-bs/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-fa/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sat/strings.xml
  mobile/android/android-components/components/feature/search/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/sitepermissions/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/tabs/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/webnotifications/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/lib/crash/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/service/nimbus/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/support/base/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/support/ktx/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-sat/strings.xml
  mobile/android/focus-android/app/src/main/res/values-bs/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-gn/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/focus-android/app/src/main/res/values-cs/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1900395 - [devtools] Cleanup leftover usages of getCM r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/utils/dbg.js
  devtools/client/debugger/test/mochitest/browser_dbg-backgroundtask-debugging.js
  devtools/client/debugger/test/mochitest/browser_dbg-browser-toolbox-workers.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1920928 - [devtools] Use the codemirror instance in the source editor r=devtools-reviewers,perftest-reviewers,nchevobbe,sparky
  devtools/client/debugger/src/components/Editor/index.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-wasm.js
  devtools/client/debugger/test/mochitest/browser_dbg-keyboard-navigation.js
  devtools/client/debugger/test/mochitest/browser_dbg-outline-focus.js
  devtools/client/debugger/test/mochitest/shared-head.js
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/custom.js
  testing/talos/talos/tests/devtools/addon/content/tests/debugger/debugger-helpers.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Some general fixes for tests r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-shortcut.js
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/framework/toolbox.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1904489 - [devtools] Enable Codemirror 6 by default r=devtools-reviewers,nchevobbe
  browser/app/profile/firefox.js
  devtools/client/debugger/src/utils/prefs.js
  devtools/client/preferences/debugger.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm, debugger-tests, devtools-tests

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
