Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1918039 - Add tentative WPT for SVG <use> fetch destination. r=emilio
  testing/web-platform/tests/fetch/api/request/destination/fetch-destination-no-load-event.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1915122 - Fix scrolling height wrong when toolbar top, no navbar and a microsurvey is displayed a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1916813 - visibly disable the studies checkbox if telemetry upload is disabled to reflect reality, r=mossop,settings-reviewers
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1917865: Make the User Characteristics ping work for Fenix r=janerik
  toolkit/components/glean/metrics_index.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1911826 - Update UserMessaging policy for Firefox Labs. a=pascalc
  browser/components/enterprisepolicies/Policies.sys.mjs
  browser/components/enterprisepolicies/schemas/policies-schema.json
  browser/components/enterprisepolicies/tests/browser/browser_policy_usermessaging.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset a0539f2c0768 (bug 1644983) for causing bc failures on browser_xpcom_graph_wait.js and Gtest failure
  devtools/client/performance-new/shared/background.sys.mjs
  netwerk/cache2/CacheIOThread.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm, devtools-tests

Bug 1916852 - Configure visibility of 'Saved to bookmarks' message as part of BOOKMARK_CURRENT_TAB action r=omc-reviewers,aminomancer
  toolkit/components/messaging-system/lib/SpecialMessageActions.sys.mjs
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/SpecialMessageActionSchemas.json
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/index.md
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser.toml
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser_sma_bookmark_current_tab_confirmation_hint.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1455893 - Fix a bug where incorrect frame is used for shadow-crossing selection r=smaug
  layout/generic/nsFrameSelection.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918055 - Stop using `time@0.1` in wrench r=jrmuizel
  gfx/wr/Cargo.lock
  gfx/wr/wrench/Cargo.toml
  gfx/wr/wrench/src/wrench.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1918076 - Remove the incorrectly added file extension for `ic_home`. r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/res/raw/keep.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1917009 - Record the performed_search event to the internal nimbus store r=android-reviewers,gmalekpour,amejiamarmol
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/MetricsUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/intent/SpeechProcessingIntentProcessor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sessioncontrol/SessionControlController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/toolbar/ToolbarController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogController.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/MetricsUtilsTestRobolectric.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/intent/SpeechProcessingIntentProcessorTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/search/SearchDialogControllerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1917810 - Replace deprecated requireFragmentManager with getParentFragmentManager r=android-reviewers,jonalmeida
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset f2a1d0b442ab (bug 1904288) for causing pdfpaint perma timeout failures CLOSED TREE
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/scripts/misc/fetch-talos-pdfs.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, yaml, file-whitespace, taskgraph-tests

Bug 1917020 - Remove JS_JIT_SPEW Requirement for JS Log r=jandem
  js/src/vm/Logging.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915602 - set phabricator callsign to BETA. r=sheehan a=release DONTBUILD
  .arcconfig
Due: bugzilla-components

Bug 1918016 - alias the notification_emails list to avoid repeating it in the output of mach gifft, r=chutten.
  toolkit/components/telemetry/build_scripts/mach_commands.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1916766 - Use a class definition for HiddenFrame. r=mossop
  toolkit/modules/HiddenFrame.sys.mjs
Due: bugzilla-components

Bug 1916766 - Centralise HiddenBrowserManager into HiddenFrame.sys.mjs and make it a singleton. r=mossop
  browser/components/pagedata/PageDataService.sys.mjs
  toolkit/components/resistfingerprinting/UserCharacteristicsPageService.sys.mjs
  toolkit/modules/HiddenFrame.sys.mjs
Due: bugzilla-components

Bug 1911591 - part 1: add MacroAssembler::sub32FromMemAndBranchIfNegativeWithPatch. r=yury.
  js/src/jit/MacroAssembler.h
  js/src/jit/arm/MacroAssembler-arm.cpp
  js/src/jit/arm64/MacroAssembler-arm64.cpp
  js/src/jit/loong64/MacroAssembler-loong64.cpp
  js/src/jit/mips-shared/MacroAssembler-mips-shared.cpp
  js/src/jit/riscv64/MacroAssembler-riscv64.cpp
  js/src/jit/wasm32/MacroAssembler-wasm32.cpp
  js/src/jit/x86-shared/Assembler-x86-shared.h
  js/src/jit/x86-shared/BaseAssembler-x86-shared.h
  js/src/jit/x86-shared/MacroAssembler-x86-shared.cpp
  js/src/jsapi-tests/moz.build
  js/src/jsapi-tests/testWasmMasm.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1911591 - part 2: variable-sized downwards steps in wasm lazy tiering hotness counting. r=yury.
  js/src/jit-test/lib/codegen-x64-test.js
  js/src/jit-test/tests/wasm/lazy-tiering-codegen.js
  js/src/wasm/WasmBCClass.h
  js/src/wasm/WasmBaselineCompile.cpp
  js/src/wasm/WasmBuiltins.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmInstance.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1917825 - Enforce a single semver-compatible version of Glean across dependencies r=TravisLong,android-reviewers,kaya
  mobile/android/fenix/build.gradle
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1917242 - Add a gtest for expected callback destruction order; r=xpcom-reviewers,nika
  xpcom/tests/gtest/TestMozPromise.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917242 - Destroy callbacks before chaining completion promise; r=xpcom-reviewers,nika
  xpcom/tests/gtest/TestMozPromise.cpp
  xpcom/threads/MozPromise.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917242 - Destroy callbacks before chaining completion promise; r=xpcom-reviewers,nika,. a=dsmith
  xpcom/threads/MozPromise.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1910716 - Support launching selectable profiles via `--profile` command line option. r=niklas,mossop
  browser/base/content/test/performance/browser_startup_mainthreadio.js
  browser/components/profiles/SelectableProfileService.sys.mjs
  browser/components/profiles/tests/unit/test_selectable_profile_launch.js
  browser/components/profiles/tests/unit/xpcshell.toml
  toolkit/profile/nsIToolkitProfileService.idl
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
  toolkit/profile/test/xpcshell/test_select_profile_argument_new.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1917456 - Fix nsRangeFrame::GetValueAtEventPoint on themed range inputs with padding. r=dholbert
  dom/html/test/forms/test_input_range_mouse_and_touch_events.html
  layout/forms/nsRangeFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1898609 - Avoid showing the refresh firefox infobar prompt on first startup after profile refresh r=migration-reviewers,mconley,mossop
  browser/components/migration/FirefoxProfileMigrator.sys.mjs
  browser/components/migration/tests/marionette/test_refresh_firefox.py
  toolkit/xre/nsAppRunner.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1904644 - Add tests. r=rhunt
  js/src/jit-test/tests/wasm/exceptions/bug1904644-1.js
  js/src/jit-test/tests/wasm/exceptions/bug1904644-2.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1899330 - [devtools] Improve ADB track-devices to check correct online states r=nchevobbe,devtools-reviewers
  devtools/client/shared/remote-debugging/adb/commands/track-devices.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1899330 - [devtools] Fix adb unpackPacket helper to handle multiple lines r=nchevobbe,devtools-reviewers
  devtools/client/shared/remote-debugging/adb/adb-client.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1917709 - Rename megalist pref to contextual-password-manager. r=issammani,rsafaeian,firefox-desktop-core-reviewers ,sidebar-reviewers,dao,jsudiaman
  browser/app/profile/firefox.js
  browser/components/BrowserGlue.sys.mjs
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/tests/browser/browser_view_sidebar_menu.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_filter.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_passwords_sidebar.js
  toolkit/components/satchel/megalist/content/tests/browser/browser_viewmodel.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Backed out changeset c35f4e167d98 (bug 1916813) for causing bc failures on browser_about_preferences.js
  browser/components/preferences/privacy.inc.xhtml
  browser/components/preferences/privacy.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1918086 - Replace deprecated onBackPressed. r=android-reviewers,jonalmeida
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/CustomTabActivity.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset 870b68c06bd7 (bug 1914438) for causing bc failures on browser_newtabButton.js CLOSED TREE
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1916989 - enable custom highlights on more tests. r=layout-reviewers,TYLin
  testing/web-platform/meta/css/__dir__.ini
  testing/web-platform/meta/css/css-conditional/container-queries/__dir__.ini
  testing/web-platform/meta/css/css-highlight-api/__dir__.ini
Due: bugzilla-components, test-manifest

Bug 1916401 - Update the telemetry for the new alt-text flow in release 130 a=pascalc
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
Due: bugzilla-components, yaml

No bug - Tagging e984004cf6baea833e2741488b04b29785db6ecd with FIREFOX_131_0b5_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
