Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1954397 [Wayland] Map root WaylandSurface even for for empty layers set r=emilio
  gfx/layers/NativeLayerWayland.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1957050 - [bidi] Avoid infinite loop in NetworkDecodedBodySizeMap for authentication chains without redirects r=webdriver-reviewers,whimboo
  remote/shared/NetworkDecodedBodySizeMap.sys.mjs
Due: bugzilla-components

Bug 1957617: Ignore OS zoom when computing DPR in RFP. r=pierov,tjr
  toolkit/components/resistfingerprinting/nsRFPService.cpp
  toolkit/components/resistfingerprinting/tests/browser/browser_dpr_media_queries.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Backed out changeset b92152a0fc30 (bug 1933924) for causing bc failures @ browser_autofill_address_level.js CLOSED TREE
  browser/extensions/formautofill/test/browser/browser_autofill_address_level.js
  browser/extensions/formautofill/test/browser/heuristics/browser_parse_street_address_fields.js
  toolkit/components/formautofill/shared/HeuristicsRegExp.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1949314: import zstd v1.5.7 r=necko-reviewers,valentin
  third_party/zstd/lib/Makefile
  third_party/zstd/lib/README.md
  third_party/zstd/lib/common/bits.h
  third_party/zstd/lib/common/bitstream.h
  third_party/zstd/lib/common/compiler.h
  third_party/zstd/lib/common/cpu.h
  third_party/zstd/lib/common/debug.h
  third_party/zstd/lib/common/error_private.c
  third_party/zstd/lib/common/error_private.h
  third_party/zstd/lib/common/fse.h
  third_party/zstd/lib/common/fse_decompress.c
  third_party/zstd/lib/common/huf.h
  third_party/zstd/lib/common/mem.h
  third_party/zstd/lib/common/pool.h
  third_party/zstd/lib/common/portability_macros.h
  third_party/zstd/lib/common/threading.h
  third_party/zstd/lib/common/xxhash.h
  third_party/zstd/lib/common/zstd_deps.h
  third_party/zstd/lib/common/zstd_internal.h
  third_party/zstd/lib/common/zstd_trace.h
  third_party/zstd/lib/decompress/huf_decompress_amd64.S
  third_party/zstd/lib/decompress/zstd_decompress.c
  third_party/zstd/lib/decompress/zstd_decompress_block.c
  third_party/zstd/lib/decompress/zstd_decompress_internal.h
  third_party/zstd/lib/libzstd.mk
  third_party/zstd/lib/libzstd.pc.in
  third_party/zstd/lib/zdict.h
  third_party/zstd/lib/zstd.h
  third_party/zstd/lib/zstd_errors.h
  third_party/zstd/moz.build
  third_party/zstd/moz.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1957889 - fuzzing tests should be retriggered rather than rerun. r=taskgraph-reviewers,bhearsum DONTBUILD
  taskcluster/kinds/fuzzing/kind.yml
Due: bugzilla-components, yaml

Bug 1915087 - Remove edge-to-edge opt out. r=android-reviewers,jonalmeida
  mobile/android/focus-android/app/src/main/res/values/styles.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1957900 - Ensure view transition snapshots capture opacity / clips / masks. r=nical
  layout/generic/nsIFrame.cpp
  testing/web-platform/meta/css/css-view-transitions/new-content-captures-opacity.html.ini
  testing/web-platform/meta/css/css-view-transitions/old-content-captures-opacity.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1927527: Add test to ensure session store cleans up stale closed tab groups r=dwalker,sessionstore-reviewers
  browser/components/sessionstore/test/browser_cleaner.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1944897 - Add source docs section for SmartBlock Embeds. r=emz,anti-tracking-reviewers
  toolkit/components/antitracking/docs/index.rst
  toolkit/components/antitracking/docs/smartblock-embeds/index.md
  toolkit/components/antitracking/docs/smartblock-embeds/media/panel.png
  toolkit/components/antitracking/docs/smartblock-embeds/media/placeholder.png
Due: bugzilla-components, codespell, rst

Bug 1956119 - fix up link styles and tokens for the chrome r=desktop-theme-reviewers,reusable-components-reviewers,dao,mstriemer
  browser/themes/shared/browser-colors.css
  toolkit/components/extensions/test/browser/browser_ext_themes_autocomplete_popup.js
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-brand.css
  toolkit/themes/shared/design-system/tokens-platform.css
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
  toolkit/themes/shared/global-shared.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1941929 - add a moz-box-group element r=reusable-components-reviewers,desktop-theme-reviewers,akulyk,Itiel
  toolkit/content/customElements.js
  toolkit/content/jar.mn
  toolkit/content/tests/widgets/chrome.toml
  toolkit/content/tests/widgets/test_moz_box_group.html
  toolkit/content/widgets/moz-box-common.css
  toolkit/content/widgets/moz-box-group/moz-box-group.css
  toolkit/content/widgets/moz-box-group/moz-box-group.mjs
  toolkit/content/widgets/moz-box-group/moz-box-group.stories.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1865507 - Support iq.com subtitles in Picture-in-Picture. r=pip-reviewers,mconley
  browser/extensions/pictureinpicture/data/picture_in_picture_overrides.js
  browser/extensions/pictureinpicture/video-wrappers/iq.js
Due: bugzilla-components, codespell, eslint, license, file-perm

No bug - Tagging f3665b1241b4fbe0b99edc6c6053d5dd0fa87a09 with FIREFOX-ANDROID_138_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging f3665b1241b4fbe0b99edc6c6053d5dd0fa87a09 with FIREFOX_138_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging f3665b1241b4fbe0b99edc6c6053d5dd0fa87a09 with DEVEDITION_138_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1945464 - Design type-friendly XPCOM.declareLazy() r=Standard8,arai,mossop
  js/xpconnect/loader/XPCOMUtils.sys.mjs
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/components/extensions/types/extensions.ts
  toolkit/components/extensions/types/globals.ts
Due: bugzilla-components

Bug 1954589 - Remove -moz-crisp-edges from favicons. r=desktop-theme-reviewers,settings-reviewers,tabbrowser-reviewers,emilio
  browser/components/places/content/places.css
  browser/components/preferences/dialogs/handlers.css
  browser/themes/shared/search/searchbar.css
  browser/themes/shared/syncedtabs/sidebar.css
  browser/themes/shared/tabbrowser/tabs.css
  toolkit/content/autocomplete.css
Due: bugzilla-components

Bug 1938697 - fix browser_tab_manager_group issues r=jswinarton,tabbrowser-reviewers
  browser/components/tabbrowser/TabsList.sys.mjs
  browser/components/tabbrowser/test/browser/tabs/browser_tab_manager_groups.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1957619 - Revalidate cached redirects with no max-age or expires headers r=necko-reviewers,jesup
  netwerk/protocol/http/nsHttpResponseHead.cpp
  testing/web-platform/tests/fetch/http-cache/heuristic.any.js
  testing/web-platform/tests/fetch/http-cache/http-cache.js
  testing/web-platform/tests/fetch/http-cache/split-cache.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1933924, improvements to expresions for matching house number and apartment in portuguese, r=dimi,credential-management-reviewers
  browser/extensions/formautofill/test/browser/browser_autofill_address_level.js
  browser/extensions/formautofill/test/browser/heuristics/browser_parse_street_address_fields.js
  toolkit/components/formautofill/shared/HeuristicsRegExp.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1957159 - Update test expectations for html/browsers/the-window-object/open-close/open-features-negative-screenx-screeny.html.
  testing/web-platform/meta/html/browsers/the-window-object/open-close/open-features-negative-screenx-screeny.html.ini
Due: bugzilla-components, test-manifest

Bug 1957362 - Revert MOZ_CRASH() behavior in ASAN builds to use regular null-pointer accesses r=glandium
  mfbt/Assertions.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1957796 - Add nsIOhttpClientTest to platform-specific interfaces. r=frontend-codestyle-reviewers,Standard8
  tools/lint/eslint/eslint-plugin-mozilla/lib/rules/valid-ci-uses.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mozlint

Bug 1956624 - Ensure sidebar collapses on mouse out when expand on hover is enabled and the window is inactive (macOS only) r=sidebar-reviewers,mstange,sclements, a=dsmith
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/components/sidebar/browser-sidebar.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1956624 - Ensure sidebar collapses on mouse out when expand on hover is enabled and the window is inactive (macOS only) r=sidebar-reviewers,mstange,sclements
  browser/base/content/browser-init.js
  browser/base/content/browser.js
  browser/components/sidebar/browser-sidebar.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1951663 - Do not SendSetFocusedBrowsingContext from the content to parent when it was set in content already r=hsivonen,dom-core
  dom/base/nsFocusManager.cpp
  dom/base/test/browser.toml
  dom/base/test/browser_focus_switch_nested_event_loop.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1957821 - Update android nightly application-services version bump to 5b0f79ff3920db9ff85a6263b31fcfe2860ee5b1 r=release-managers,RyanVM
  gradle/libs.versions.toml
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1955541 - Use appShutdownConfirmed instead of quitApplicationGranted in DAPVisitCounter. r=Gijs
  toolkit/components/telemetry/dap/DAPVisitCounter.sys.mjs
Due: bugzilla-components

Bug 1955541 - Use appShutdownConfirmed instead of quitApplicationGranted in DAPTelemetrySender. r=Gijs
  toolkit/components/telemetry/dap/DAPTelemetrySender.sys.mjs
Due: bugzilla-components

Bug 1956476 - Reenable tests that depend on Bug 1655600 r=credential-management-reviewers,NeilDeakin
  browser/extensions/formautofill/test/browser/creditCard/browser.toml
Due: bugzilla-components

Bug 1721741 - Remove unused screenshots icons. r=niklas
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/screenshots/content/cancel.svg
  browser/components/screenshots/content/copy.svg
  browser/components/screenshots/content/download-white.svg
  browser/components/screenshots/content/download.svg
  browser/components/screenshots/jar.mn
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1957903 - disable PNG clipboard test on headless r=edgar
  widget/tests/mochitest.toml
Due: bugzilla-components

Bug 1957867 - Fix eslint ignore for paths containing target r=frontend-codestyle-reviewers,devtools-reviewers,Standard8,ochameau
  .eslintrc-ignores.js
  devtools/shared/commands/target/target-command.js
  devtools/shared/commands/target/tests/browser_target_command_bfcache.js
  devtools/shared/commands/target/tests/browser_target_command_content_scripts.js
  devtools/shared/commands/target/tests/browser_target_command_reload.js
  devtools/shared/commands/target/tests/helper_service_workers_navigation.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1957857 - [devtools] Remove backward compatibility code for cycle 139 r=devtools-reviewers,ochameau
  devtools/client/fronts/targets/target-mixin.js
  devtools/server/actors/root.js
  devtools/shared/commands/target/target-command.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1957689 - Track local SVG references independently. r=longsonr
  dom/base/IDTracker.cpp
  dom/base/IDTracker.h
  dom/svg/SVGUseElement.cpp
  layout/base/nsRefreshDriver.cpp
  layout/style/nsStyleStruct.cpp
  layout/svg/SVGObserverUtils.cpp
  servo/ports/geckolib/cbindgen.toml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1957689 - Move URlAndReferrerInfo to SVGObserverUtils.cpp. r=longsonr
  layout/svg/SVGObserverUtils.cpp
  layout/svg/SVGObserverUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1957841 - Update test expectations for html/browsers/the-window-object/open-close/open-features-non-integer-screeny.html.ini.
  testing/web-platform/meta/html/browsers/the-window-object/open-close/open-features-non-integer-screeny.html.ini
Due: bugzilla-components, test-manifest

Bug 1957793 - chore(webgpu): replace `version` check with `{revision}` replacement from `moz.yaml` r=webgpu-reviewers,nical
  dom/webgpu/tests/cts/checkout/tools/gen_version
  dom/webgpu/tests/cts/moz.yaml
Due: bugzilla-components, yaml

Bug 1957793 - chore(webgpu): skip `update-moz-build` step r=webgpu-reviewers,nical
  dom/webgpu/tests/cts/moz.yaml
Due: bugzilla-components, yaml

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
