Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1929567 - Show privacy badge on tabcounter in private mode r=android-reviewers,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStrip.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStripTabCounterButton.kt
Due: android-api-lint/opt, bugzilla-components

No bug - Tagging 5aff34e4e12c9a3a0fdce14b322dd2a61311f735 with FIREFOX-ANDROID_133_0b7_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging 5aff34e4e12c9a3a0fdce14b322dd2a61311f735 with FIREFOX_133_0b7_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging 5aff34e4e12c9a3a0fdce14b322dd2a61311f735 with DEVEDITION_133_0b7_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No Bug, mozilla-esr128 repo-update HSTS HPKP remote-settings tld-suffixes - a=dmeehan
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-central repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - r=release-managers,dmeehan
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-esr115 repo-update HSTS HPKP remote-settings tld-suffixes - a=dmeehan
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1907288 - Enable process priority manager grace periods on all channels on Android. r=geckoview-reviewers,calu
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1926732 - Add crashtest. r=layout-reviewers,emilio
  testing/web-platform/tests/css/css-overflow/line-clamp/webkit-line-clamp-bug-1926732-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1926732 - Return a pair of <frame, line> from FindLineClampTarget, to make its API clearer. r=layout-reviewers,emilio
  layout/generic/nsBlockFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1926732 - Relax assertion in FindLineClampTarget because line-clamp may already have been evaluated by a descendant block. r=layout-reviewers,emilio
  layout/generic/nsBlockFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging 5aff34e4e12c9a3a0fdce14b322dd2a61311f735 with FIREFOX-ANDROID_133_0b7_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

Bug 1926357: Rework wasmFailValidateText and assertErrorMessage for clarity. r=rhunt
  js/src/jit-test/lib/asserts.js
  js/src/jit-test/lib/wasm.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1926357: Rework wasm tag types and result types. r=rhunt
  js/src/jit-test/tests/wasm/control-flow.js
  js/src/jit-test/tests/wasm/exceptions/import-export.js
  js/src/jit-test/tests/wasm/gc/block-subtyping.js
  js/src/wasm/WasmExprType.h
  js/src/wasm/WasmJS.cpp
  js/src/wasm/WasmJS.h
  js/src/wasm/WasmModuleTypes.cpp
  js/src/wasm/WasmModuleTypes.h
  js/src/wasm/WasmOpIter.h
  js/src/wasm/WasmProcess.cpp
  js/src/wasm/WasmSerialize.cpp
  js/src/wasm/WasmStaticTypeDefs.cpp
  js/src/wasm/WasmStaticTypeDefs.h
  js/src/wasm/WasmTypeDef.h
  js/src/wasm/WasmValidate.cpp
  js/src/wasm/WasmValidate.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1926357: Tweak message about globals in constant exprs. r=rhunt
  js/src/jit-test/tests/wasm/regress/bug1856733.js
  js/src/wasm/WasmOpIter.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1926357: Don't ignore destination index on array.init_data. r=rhunt
  js/src/jit-test/tests/wasm/gc/arrays.js
  js/src/jit/ABIFunctionType.yaml
  js/src/wasm/WasmBaselineCompile.cpp
  js/src/wasm/WasmBuiltins.cpp
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmInstance.h
  js/src/wasm/WasmIonCompile.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1926357: Fix up types around ref.func and elem segments. r=rhunt
  js/src/wasm/WasmInitExpr.cpp
  js/src/wasm/WasmValidate.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1842187 r=mak,pbz
  toolkit/components/downloads/DownloadUIHelper.sys.mjs
Due: bugzilla-components

No bug - Tagging 5aff34e4e12c9a3a0fdce14b322dd2a61311f735 with FIREFOX_133_0b7_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1927515 - [FxMS Docs] Updates Spotlight UI template documentation in source doc r=omc-reviewers,mviar
  browser/components/asrouter/docs/spotlight-tiles.png
  browser/components/asrouter/docs/spotlight.md
  browser/components/asrouter/docs/spotlight.png
Due: bugzilla-components

No bug - Tagging 5aff34e4e12c9a3a0fdce14b322dd2a61311f735 with DEVEDITION_133_0b7_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1915134 - Flip network.http.http2.enabled.deps to false a=dmeehan
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1915134 - Add pref to enable Extensible Prioritization Scheme without sending SETTINGS_NO_RFC7540_PRIORITIES a=dmeehan
  modules/libpref/init/StaticPrefList.yaml
  netwerk/protocol/http/Http2Session.cpp
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1915848 - Set network.http.http2.allow-push to false a=dmeehan
  modules/libpref/init/StaticPrefList.yaml
  netwerk/test/unit/test_dns_by_type_resolve.js
  netwerk/test/unit/test_origin.js
  netwerk/test/unit/test_trr.js
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Bug 1930122 - Set network.http.http2.send_NO_RFC7540_PRI to false a=dmeehan
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

Bug 1930518 - Log result when signedState is SIGNEDSTATE_UNKNOWN r=rpl
  toolkit/mozapps/extensions/internal/XPIInstall.sys.mjs
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1930401 [wpt PR 49089] - Revert "layout: Fix trailing collapsible space handling with <ruby>", a=testonly
  testing/web-platform/tests/css/css-ruby/collapse-trailing-whitespace-ref.html
  testing/web-platform/tests/css/css-ruby/collapse-trailing-whitespace.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1930406 [wpt PR 49090] - [Presentation] Make PresentationRequest.getAvailability() return a new Promise, a=testonly
  testing/web-platform/tests/presentation-api/controlling-ua/getAvailability.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1930438 - [wpt-sync] Update web-platform-tests to 149cab5a6aa06828c0ddaf7c2609b66b820b9ceb, a=testonly
  testing/web-platform/meta/FileAPI/FileReader/progress_event_bubbles_cancelable.html.ini
  testing/web-platform/meta/WebCryptoAPI/derive_bits_keys/cfrg_curves_bits_curve25519.https.any.js.ini
  testing/web-platform/meta/css/css-counter-styles/korean-hanja-formal/counter-korean-hanja-formal.html.ini
  testing/web-platform/meta/css/css-counter-styles/trad-chinese-informal/counter-trad-chinese-informal.html.ini
  testing/web-platform/meta/css/css-ruby/collapse-trailing-whitespace.html.ini
  testing/web-platform/meta/fetch/corb/img-html-correctly-labeled.sub.html.ini
  testing/web-platform/meta/hr-time/raf-coarsened-time.https.html.ini
  testing/web-platform/meta/html/cross-origin-opener-policy/tentative/restrict-properties/iframe-popup.https.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/image-loading-lazy-data-url-to-https.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/preload/preload-in-data-doc.html.ini
  testing/web-platform/meta/web-animations/animation-model/__dir__.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-audioworklet-interface/audioworkletglobalscope-creation-time.https.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-channelmergernode-interface/active-processing.https.html.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/network/response_started/response_started_cached.py.ini
  testing/web-platform/meta/webdriver/tests/classic/find_element_from_shadow_root/find.py.ini
Due: bugzilla-components, test-manifest

Bug 1930413 [wpt PR 49091] - Add WebDX feature mapping for ruby-align and ruby-position, a=testonly
  testing/web-platform/tests/css/css-ruby/WEB_FEATURES.yml
  testing/web-platform/tests/css/css-ruby/parsing/WEB_FEATURES.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1930411 - Split `composite_simple` to the occlusion + setup and a separate `composite_pass` method r=gfx-reviewers,lsalzman
  gfx/wr/webrender/src/renderer/mod.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1929709 - Update PDF.js to bff673896614b4b8c30f28397471cb89922a9a31 r=pdfjs-reviewers,marco
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.css
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
  toolkit/locales/en-US/toolkit/pdfviewer/viewer.ftl
Due: bugzilla-components, codespell, yaml, localization

Bug 1928702 - Part 2: Create PNotification via PBackground r=asuth
  dom/ipc/DOMTypes.ipdlh
  dom/notification/IPCUtils.h
  dom/notification/Notification.cpp
  dom/notification/Notification.h
  dom/notification/NotificationChild.h
  dom/notification/NotificationParent.cpp
  dom/notification/NotificationParent.h
  dom/notification/moz.build
  ipc/glue/BackgroundParentImpl.cpp
  ipc/glue/BackgroundParentImpl.h
  ipc/glue/PBackground.ipdl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928702 - Part 1: Add skeleton PNotification r=asuth
  dom/notification/NotificationChild.h
  dom/notification/NotificationParent.cpp
  dom/notification/NotificationParent.h
  dom/notification/PNotification.ipdl
  dom/notification/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928702 - Part 4: Implement ActorDestroy r=asuth
  dom/notification/NotificationParent.cpp
  dom/notification/NotificationParent.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1928702 - Part 3: Move more functions to NotificationUtils r=asuth
  dom/notification/Notification.cpp
  dom/notification/Notification.h
  dom/notification/NotificationUtils.cpp
  dom/notification/NotificationUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
