Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1769324 - Disable testRemoteIframeTree for frequent failures r=intermittent-reviewers,jmaher
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/AccessibilityTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1899019 - Part 2 - Move FxMS metrics and pings definitions r=home-newtab-reviewers,omc-reviewers,mconley,negin
  browser/components/asrouter/metrics.yaml
  browser/components/asrouter/pings.yaml
  browser/components/newtab/metrics.yaml
  browser/components/newtab/pings.yaml
  toolkit/components/glean/moz.build
Due: bugzilla-components, yaml, newtab-unit-tests

Bug 1951552 - Lower Suggest Similar Tabs Threshold for recall. r=dwalker,tabbrowser-reviewers
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  toolkit/components/ml/tests/browser/browser_ml_smart_tab_perf.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1934356 - Disable goBackAndForward for frequent failures r=intermittent-reviewers,jmaher
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/NavigationDelegateTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1951072 - switch reader mode modules to use moz-src URLs, r=firefox-desktop-core-reviewers ,sync-reviewers,urlbar-reviewers,mossop,jteow,markh
  browser/actors/AboutReaderChild.sys.mjs
  browser/actors/AboutReaderParent.sys.mjs
  browser/base/content/browser.js
  browser/base/content/nsContextMenu.sys.mjs
  browser/components/pocket/content/pktUI.js
  browser/components/urlbar/UrlbarInput.sys.mjs
  services/sync/modules/engines/tabs.sys.mjs
  toolkit/actors/PrintingChild.sys.mjs
  toolkit/components/reader/AboutReader.sys.mjs
  toolkit/components/reader/Reader.worker.js
  toolkit/components/reader/ReaderMode.sys.mjs
  toolkit/components/reader/ReaderWorker.sys.mjs
  toolkit/components/reader/moz.build
  toolkit/components/reader/tests/browser/browser_readerMode.js
  toolkit/modules/BrowserUtils.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1950205 - Add recent searches settings. r=android-reviewers,android-l10n-reviewers,delphine,gl
  mobile/android/android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/SearchTermSuggestionsProvider.kt
  mobile/android/android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/SearchTermSuggestionsProviderTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/SearchDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/awesomebar/AwesomeBarView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/search/SearchEngineFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/main/res/xml/search_settings_preferences.xml
  mobile/android/fenix/app/src/main/res/xml/secret_settings_preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/search/awesomebar/AwesomeBarViewTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/search/SearchEngineFragmentTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/utils/SettingsTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1949717 - Part 9: Fix failing UI test and update to include new UI elements. r=android-reviewers,mavduevskiy,rebecatudor273
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/FirstRunTest.kt
  mobile/android/focus-android/app/src/androidTest/java/org/mozilla/focus/activity/robots/HomeScreenRobot.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1924520 - Configuration cache part 2. r=geckoview-reviewers,android-reviewers,nalexander,owlish,ohall
  Makefile.in
  mobile/android/android-components/build.gradle
  mobile/android/fenix/app/build.gradle
  mobile/android/focus-android/app/build.gradle
  mobile/android/gradle.configure
  taskcluster/scripts/misc/android-gradle-dependencies-lite.sh
  taskcluster/scripts/misc/android-gradle-dependencies.sh
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell, py-flake8, shellcheck

Bug 1951509 - Fix errors caused by com.google.android.gms.oss.licenses.plugin.LicensesTask and configuration-cache r=android-reviewers,nalexander,ohall
  gradle.properties
  mobile/android/android-components/build.gradle
  mobile/android/fenix/build.gradle
  mobile/android/fenix/gradle.properties
  mobile/android/fenix/plugins/apksize/src/main/java/ApkSizePlugin.kt
  mobile/android/focus-android/build.gradle
  mobile/android/focus-android/gradle.properties
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell

Bug 1937905 - Part 1: Add a neterror page for DOM indicating network errors due to invalid header values r=fluent-reviewers,bolsson
  browser/locales/en-US/chrome/overrides/appstrings.properties
  docshell/base/nsDocShell.cpp
  toolkit/content/aboutNetError.mjs
  toolkit/locales/en-US/toolkit/neterror/netError.ftl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, localization, file-whitespace, file-perm

Bug 1937905 - Part 2: Add a test for a neterror page due to invalid header values r=necko-reviewers,kershaw
  browser/base/content/test/about/browser.toml
  browser/base/content/test/about/browser_aboutNetError_invalid_header.js
  browser/base/content/test/about/invalid_header.sjs
  netwerk/test/httpserver/httpd.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1942129 pt1 - Tweaks to shared memory classes r=ipc-reviewers,nika
  ipc/glue/SharedMemoryHandle.cpp
  ipc/glue/SharedMemoryHandle.h
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
  ipc/glue/SharedMemoryPlatform.h
  ipc/glue/SharedMemoryPlatform_android.cpp
  ipc/glue/SharedMemoryPlatform_mach.cpp
  ipc/glue/SharedMemoryPlatform_posix.cpp
  ipc/glue/SharedMemoryPlatform_windows.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942129 pt3 - Add MutableOrReadOnlySharedMemoryMapping r=ipc-reviewers,nika
  ipc/glue/SharedMemoryHandle.h
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942129 pt2 - Add MapWithHandle types/methods to shmem API r=ipc-reviewers,nika
  ipc/glue/SharedMemoryCursor.cpp
  ipc/glue/SharedMemoryCursor.h
  ipc/glue/SharedMemoryHandle.cpp
  ipc/glue/SharedMemoryHandle.h
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
  ipc/glue/SharedMemoryPlatform.h
  ipc/glue/SharedMemoryPlatform_android.cpp
  ipc/glue/SharedMemoryPlatform_mach.cpp
  ipc/glue/SharedMemoryPlatform_posix.cpp
  ipc/glue/SharedMemoryPlatform_windows.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942129 pt4a - Shmem changes r=ipc-reviewers,nika
  ipc/glue/ProtocolUtils.cpp
  ipc/glue/ProtocolUtils.h
  ipc/glue/Shmem.cpp
  ipc/glue/Shmem.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942129 pt4c - GeckoArgs changes to support ReadOnlySharedMemoryHandle r=ipc-reviewers,nika
  toolkit/xre/GeckoArgs.cpp
  toolkit/xre/GeckoArgs.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1942129 pt4b - Remove use of RawShmem r=ipc-reviewers,nika,webgpu-reviewers,nical
  dom/webgpu/Buffer.cpp
  dom/webgpu/Buffer.h
  dom/webgpu/Queue.cpp
  dom/webgpu/ipc/PWebGPU.ipdl
  dom/webgpu/ipc/WebGPUChild.cpp
  dom/webgpu/ipc/WebGPUChild.h
  dom/webgpu/ipc/WebGPUParent.cpp
  dom/webgpu/ipc/WebGPUParent.h
  gfx/wgpu_bindings/src/server.rs
  ipc/glue/RawShmem.cpp
  ipc/glue/RawShmem.h
  ipc/glue/moz.build
  ipc/gtest/TestUnsafeSharedMemoryHandle.cpp
  ipc/gtest/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, rustfmt, file-whitespace, file-perm

Bug 1942129 pt5 - Update shared memory tests r=ipc-reviewers,nika
  ipc/gtest/TestBigBuffer.cpp
  ipc/gtest/TestSharedMemory.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1951527 - Add a Nimbus flag and secret setting for enabling the Homepage Search Bar r=android-reviewers,devota
  mobile/android/fenix/app/nimbus.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/static_strings.xml
  mobile/android/fenix/app/src/main/res/xml/secret_settings_preferences.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1934356 - Fix lint failure CLOSED TREE
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/NavigationDelegateTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1850615 Share the same VADisplay across all FFmpegVideoDecoders r=stransky
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/VALibWrapper.cpp
  dom/media/platforms/ffmpeg/VALibWrapper.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 721336 - Block sync XHR with system principal r=valentin,necko-reviewers,extension-reviewers,robwu
  accessible/tests/mochitest/name/a11y.toml
  docshell/test/chrome/chrome.toml
  dom/base/test/chrome.toml
  dom/base/test/chrome/chrome.toml
  dom/base/test/test_bug426308.html
  dom/base/test/test_bug431701.html
  dom/base/test/unit/xpcshell.toml
  dom/url/tests/chrome.toml
  dom/xhr/XMLHttpRequestMainThread.cpp
  dom/xhr/tests/browser.toml
  dom/xhr/tests/browser_block_sync_xhr_system_requests.js
  dom/xslt/tests/mochitest/test_bug1769155.html
  modules/libpref/init/StaticPrefList.yaml
  netwerk/test/unit/xpcshell.toml
  netwerk/test/unit_ipc/xpcshell.toml
  toolkit/mozapps/extensions/test/xpinstall/browser_datauri.js
  toolkit/mozapps/extensions/test/xpinstall/browser_doorhanger_installs.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1951772 - Disable Mutation Events in Nightly, r=emilio
  dom/tests/mochitest/general/test_interfaces.js
  dom/webidl/MutationEvent.webidl
  js/xpconnect/tests/mochitest/test_bug790732.html
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/dom/historical-mutation-events.html.ini
Due: bugzilla-components, codespell, eslint, license, lintpref, test-manifest, yaml, file-perm

Bug 1938456 - Add built-in addon glue code to newtab. r=pdahiya,baku,home-newtab-reviewers,thecount
  browser/extensions/newtab/addon-jar.mn
  browser/extensions/newtab/chrome.manifest
  browser/extensions/newtab/legacy-jar.mn
  browser/extensions/newtab/manifest.json
  browser/extensions/newtab/moz.build
  browser/extensions/newtab/webext-glue/background.js
  browser/extensions/newtab/webext-glue/resource-mapping.js
  browser/extensions/newtab/webext-glue/schema.json
  browser/modules/AboutNewTab.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1948340 - Make tests pass when newtab is packaged as a built-in addon. r=pdahiya,home-newtab-reviewers,thecount
  browser/extensions/newtab/test/xpcshell/head.js
  browser/extensions/newtab/test/xpcshell/test_AboutHomeStartupCacheWorker.js
  browser/extensions/newtab/test/xpcshell/test_AdsFeed.js
  browser/extensions/newtab/test/xpcshell/test_HighlightsFeed.js
  browser/extensions/newtab/test/xpcshell/test_PlacesFeed.js
  browser/extensions/newtab/test/xpcshell/test_Store.js
  browser/extensions/newtab/test/xpcshell/test_TelemetryFeed.js
  browser/extensions/newtab/test/xpcshell/test_TopSitesFeed.js
  browser/extensions/newtab/test/xpcshell/test_TopSitesFeed_glean.js
  browser/extensions/newtab/test/xpcshell/test_WallpaperFeed.js
  browser/extensions/newtab/test/xpcshell/test_WeatherFeed.js
  browser/extensions/newtab/test/xpcshell/xpcshell.toml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1950535: Exclude children pruned by MustPrune, as well as single text children of links, for UIA GetEnclosingElement. r=nlapre
  accessible/tests/browser/windows/uia/browser_textPatterns.js
  accessible/windows/uia/UiaTextRange.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1950407 - Expose CPM in Nimbus for experimentation in Firefox Labs. r=fluent-reviewers,beth,bolsson
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/locales/en-US/toolkit/featuregates/features.ftl
Due: bugzilla-components, codespell, yaml, localization

Bug 1950616 - In WebVTT use font-size 9px on the cue container. r=alwu,emilio
  dom/media/webvtt/vtt.sys.mjs
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/selectors/cue/fontsize_smaller_than_container-ref.tentative.html
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/selectors/cue/fontsize_smaller_than_container.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950616 - In WebVTT use min(width, height) for more sensible font-size for portrait videos. r=alwu,emilio
  dom/media/webvtt/vtt.sys.mjs
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/portrait-ref.tentative.html
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/portrait.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1952339 (MOZ) - upstream changed SystemTimeNanos from rtc to webrtc namespace
  dom/media/webrtc/libwebrtcglue/SystemTime.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1898096 - Replace color settings with "contrast control". r=emilio,fluent-reviewers,settings-reviewers,accessibility-frontend-reviewers,morgan,bolsson,masayuki,mossop,pdfjs-reviewers,calixte
  accessible/docs/ColorsAndHighContrastMode.md
  accessible/docs/HCMSettings.md
  accessible/tests/browser/telemetry/browser_HCM_telemetry.js
  browser/components/preferences/dialogs/colors.js
  browser/components/preferences/dialogs/colors.xhtml
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/preferences/tests/browser_search_subdialogs_within_preferences_5.js
  browser/components/preferences/tests/browser_search_within_preferences_1.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/locales/en-US/browser/preferences/colors.ftl
  browser/locales/en-US/browser/preferences/preferences.ftl
  editor/libeditor/CSSEditUtils.cpp
  layout/base/tests/chrome/chrome.toml
  layout/base/tests/chrome/default_background_window.xhtml
  layout/base/tests/chrome/test_default_background.xhtml
  layout/reftests/high-contrast/reftest.list
  layout/style/PreferenceSheet.cpp
  toolkit/components/pdfjs/test/browser_pdfjs_hcm.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, localization, file-whitespace, file-perm

Bug 1940342 - Reserve slots for conditional proto keys for EXPLICIT_RESOURCE_MANAGEMENT r=spidermonkey-reviewers,iain
  js/public/ErrorReport.h
  js/public/ProtoKey.h
  js/xpconnect/wrappers/XrayWrapper.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947645 – save uploaded wallpaper to user profile. r=home-newtab-reviewers,mconley
  browser/extensions/newtab/common/Actions.mjs
  browser/extensions/newtab/common/Reducers.sys.mjs
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/WallpaperFeed.sys.mjs
  browser/extensions/newtab/test/xpcshell/test_WallpaperFeed.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 2 changesets (bug 1950616) for causing wr failures @ portrait.tentative.html
  dom/media/webvtt/vtt.sys.mjs
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/portrait-ref.tentative.html
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/portrait.tentative.html
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/selectors/cue/fontsize_smaller_than_container-ref.tentative.html
  testing/web-platform/tests/webvtt/rendering/cues-with-video/processing-model/selectors/cue/fontsize_smaller_than_container.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Backed out changeset 6577abdfd97a (bug 1947645) for causing linting failure
  browser/extensions/newtab/common/Actions.mjs
  browser/extensions/newtab/common/Reducers.sys.mjs
  browser/extensions/newtab/content-src/components/WallpapersSection/WallpaperCategories.jsx
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/WallpaperFeed.sys.mjs
  browser/extensions/newtab/test/xpcshell/test_WallpaperFeed.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset f4d5303f5472 (bug 1898096) for causing ba failures @ browser_attributed_text.js
  accessible/docs/ColorsAndHighContrastMode.md
  accessible/docs/HCMSettings.md
  accessible/tests/browser/telemetry/browser_HCM_telemetry.js
  browser/components/preferences/dialogs/colors.js
  browser/components/preferences/dialogs/colors.xhtml
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/preferences/tests/browser_search_subdialogs_within_preferences_5.js
  browser/components/preferences/tests/browser_search_within_preferences_1.js
  browser/components/tabbrowser/content/tabbrowser.js
  browser/locales/en-US/browser/preferences/colors.ftl
  browser/locales/en-US/browser/preferences/preferences.ftl
  editor/libeditor/CSSEditUtils.cpp
  layout/base/tests/chrome/chrome.toml
  layout/base/tests/chrome/default_background_window.xhtml
  layout/base/tests/chrome/test_default_background.xhtml
  layout/reftests/high-contrast/reftest.list
  layout/style/PreferenceSheet.cpp
  toolkit/components/pdfjs/test/browser_pdfjs_hcm.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, localization, file-whitespace, file-perm

Backed out changeset b03b0ff0e6be (bug 721336) for causing mochitest failures @ test_handlerSpinsEventLoop.html CLOSED TREE
  accessible/tests/mochitest/name/a11y.toml
  docshell/test/chrome/chrome.toml
  dom/base/test/chrome.toml
  dom/base/test/chrome/chrome.toml
  dom/base/test/test_bug426308.html
  dom/base/test/test_bug431701.html
  dom/base/test/unit/xpcshell.toml
  dom/url/tests/chrome.toml
  dom/xhr/XMLHttpRequestMainThread.cpp
  dom/xhr/tests/browser.toml
  dom/xhr/tests/browser_block_sync_xhr_system_requests.js
  dom/xslt/tests/mochitest/test_bug1769155.html
  modules/libpref/init/StaticPrefList.yaml
  netwerk/test/unit/xpcshell.toml
  netwerk/test/unit_ipc/xpcshell.toml
  toolkit/mozapps/extensions/test/xpinstall/browser_datauri.js
  toolkit/mozapps/extensions/test/xpinstall/browser_doorhanger_installs.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1951555 - Adds a Search Bar component to the Homepage r=android-reviewers,devota
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/BrowserDisplayToolbar.kt
  mobile/android/fenix/app/build.gradle
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/store/HomepageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/SearchBar.kt
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
