Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1918906 - Set `TriggerByScript` to AnchorScrollFlags to ignore scroll anchor adjustments during (smooth) scrolling to anchor. r=botond
  layout/base/PresShellForwards.h
  testing/web-platform/tests/css/css-scroll-anchoring/ignore-adjustments-while-scrolling-to-anchor.tentative.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1923263 - Add log around RenderThread::PostEvent() and RendererEvent r=gfx-reviewers,lsalzman
  gfx/webrender_bindings/RenderThread.cpp
  gfx/webrender_bindings/RenderThread.h
  gfx/webrender_bindings/WebRenderAPI.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1923282 - Allow gpu-2404 for Snap package r=jld
  security/sandbox/linux/broker/SandboxBrokerPolicyFactory.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1788866. Fix pixel format type for color management of avif images. r=gfx-reviewers,lsalzman
  image/decoders/nsAVIFDecoder.cpp
  image/decoders/nsPNGDecoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1923546 - Disable browser_dragdrop_protected_same_origin temporarily on mac until a fix is in place. a=test-only CLOSED TREE
  dom/events/test/browser.toml
Due: bugzilla-components

Bug 1922912 apply PlaybackParams at AudioSink::Start() r=padenot
  dom/media/mediasink/AudioSink.cpp
  dom/media/mediasink/AudioSink.h
  dom/media/mediasink/AudioSinkWrapper.cpp
  dom/media/mediasink/AudioSinkWrapper.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1900395 - [devtools] Migrate the getCoordsFromPosition utility r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Add utility to support scrolling r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-scroll-to-log.js
  devtools/client/debugger/test/mochitest/browser_dbg-editor-scroll.js
  devtools/client/debugger/test/mochitest/browser_dbg-pause-ux.js
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/browser_dbg-search-file-paused.js
  devtools/client/debugger/test/mochitest/browser_dbg-toggling-tools.js
  devtools/client/debugger/test/mochitest/integration-tests/3-reload-changed-generated.js
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Migrate setting selection utility r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-blackbox.js
  devtools/client/debugger/test/mochitest/browser_dbg-console-eval.js
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Rename posToOffset positionToOffset r=devtools-reviewers,nchevobbe
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1900395 - [devtools] Migrate assertHighlightLocation to support CM6 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-console-link.js
  devtools/client/debugger/test/mochitest/browser_dbg-editor-highlight.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Migrate breakable line tests to handle CM6 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-features-breakable-lines.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-breakable-positions.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-wasm.js
  devtools/client/debugger/test/mochitest/head.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Fix the Conditional breakpoint tests r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/ConditionalPanel.js
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-shortcut.js
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-source-maps.js
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-ui-state.js
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/shared/sourceeditor/editor.js
  devtools/client/webconsole/test/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Use the source editor lineInfo API for CM6 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Fix the line wrapping for CM5 and CM6 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-preview-wrapped-lines.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Pref out using the lineHeight API only for CM5 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/index.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Import the utilities for use in the worker tests r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-backgroundtask-debugging.js
  devtools/client/debugger/test/mochitest/browser_dbg-browser-toolbox-workers.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Migrate assertIgnoredStyleInSourceLines to handles CM6 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-blackbox.js
  devtools/client/debugger/test/mochitest/browser_dbg-editor-gutter.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] getTokenElAtLine and inline previews r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-preview.js
  devtools/client/debugger/test/mochitest/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Migrate api for handling search r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/SearchInFileBar.js
  devtools/client/debugger/test/mochitest/browser_dbg-pause-ux.js
  devtools/client/debugger/test/mochitest/browser_dbg-search-file-paused.js
  devtools/client/debugger/test/mochitest/browser_dbg-search-file-retains-query.js
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Fix token utilities r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1900395 - [devtools] Migrate breakpoint assertion and click functions to support CM6 r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-breakpoints-cond-source-maps.js
  devtools/client/debugger/test/mochitest/browser_dbg-console-eval.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-asm.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-breakable-positions.js
  devtools/client/debugger/test/mochitest/browser_dbg-pretty-print-inline-scripts.js
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/webconsole/test/browser/browser_webconsole_location_logpoint_debugger_link.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1918241 - [devtools] Add custom equality function to specify granular criteria for position marker widget updates r=devtools-reviewers,nchevobbe
  devtools/client/debugger/src/components/Editor/ColumnBreakpoints.js
  devtools/client/debugger/test/mochitest/browser_dbg-features-breakable-positions.js
  devtools/client/shared/sourceeditor/editor.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Backed out changeset fbd927642d73 (bug 1788866) for causing gtest failures related to ImageFrameAnimator.BlendAVIFWithFilter. CLOSED TREE
  image/decoders/nsAVIFDecoder.cpp
  image/decoders/nsPNGDecoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1921401 - Further adjust wpt webcodecs 'temporal-svc-encoding.https.any.js.ini' r=padenot
  testing/web-platform/meta/webcodecs/temporal-svc-encoding.https.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1923698 - Ensure font-variant:emoji is respected even for 8-bit text runs. r=dshin
  gfx/thebes/gfxTextRun.cpp
  layout/reftests/bugs/1923698-font-variant-emoji-ref.html
  layout/reftests/bugs/1923698-font-variant-emoji.html
  layout/reftests/bugs/reftest.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1920517 - Add browsing mode toggle in tab strip r=android-reviewers,calu,007
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStrip.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/tabstrip/TabStripState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/browser/tabstrip/TabStripStateTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1923596 - Update OTS to upstream rev 5daecc9 to resolve empty-glyph-components issue for Windows. r=gfx-reviewers,lsalzman
  gfx/ots/moz.yaml
  gfx/ots/src/glyf.cc
  gfx/ots/src/glyf.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1895934 - Improve handling of search term parameter names. r=Standard8
  toolkit/components/search/AppProvidedSearchEngine.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/test_ignorelist_update.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1886382 - browsingContext.print" needs to raise "unsupported operation" error for PDFs with zero dimension. r=webdriver-reviewers,jdescottes
  remote/shared/PDF.sys.mjs
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/print/invalid.py.ini
  testing/web-platform/tests/webdriver/tests/classic/print/background.py
  testing/web-platform/tests/webdriver/tests/support/image.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace

Bug 1814579 - Fix verifyLoginWithoutPasswordCanNotBeSavedTest UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1814579 - Fix verifyLoginWithoutPasswordCanNotBeSavedTest UI test r=ohorvath a=test-only
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/LoginsTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1922367 [wpt PR 48427] - Stylable select picker typeahead should focus, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/select-type-to-search.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1922367 [wpt PR 48427] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-type-to-search.tentative.html.ini
Due: bugzilla-components, test-manifest
