Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1951401 [wpt PR 51048] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/calc-sibling-function-in-shadow-dom.html.ini
Due: bugzilla-components, test-manifest

Bug 1951096 [wpt PR 51022] - Correct test for sibling-index() on pseudo element, a=testonly
  testing/web-platform/tests/css/css-values/calc-sibling-function.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951449 [wpt PR 51055] - [functions] Respect @layer, a=testonly
  testing/web-platform/tests/css/css-mixins/function-layer.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951449 [wpt PR 51055] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-mixins/function-layer.html.ini
Due: bugzilla-components, test-manifest

Bug 1951441 [wpt PR 51052] - cv/carousel: Avoid recursing into non-auto content-visibility subtrees., a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-marker-with-content-visibility-hidden-ancestor-crash.html
  testing/web-platform/tests/css/css-overflow/scroll-marker-with-content-visibility-hidden-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951454 [wpt PR 51057] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=288967, a=testonly
  testing/web-platform/tests/css/css-animations/CSSAnimation-effect.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951481 [wpt PR 51060] - Make the condition for "stop decoration propagation" tighter, a=testonly
  testing/web-platform/tests/css/css-text-decor/crashtests/pseudo-element-text-decoration-under-pseudo-first-line-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951495 [wpt PR 51063] - Add additional DBSC web platform tests, a=testonly
  testing/web-platform/tests/device-bound-session-credentials/clear-cookies-site-data.https.html
  testing/web-platform/tests/device-bound-session-credentials/clear_server_state_and_end_sessions.py
  testing/web-platform/tests/device-bound-session-credentials/configure_server.py
  testing/web-platform/tests/device-bound-session-credentials/end_session_via_clear_site_data.py
  testing/web-platform/tests/device-bound-session-credentials/helper.js
  testing/web-platform/tests/device-bound-session-credentials/login.py
  testing/web-platform/tests/device-bound-session-credentials/refresh-with-continue-false.https.html
  testing/web-platform/tests/device-bound-session-credentials/refresh_session.py
  testing/web-platform/tests/device-bound-session-credentials/request_early_challenge.py
  testing/web-platform/tests/device-bound-session-credentials/session_manager.py
  testing/web-platform/tests/device-bound-session-credentials/session_provider.py
  testing/web-platform/tests/device-bound-session-credentials/set-authorization.https.html
  testing/web-platform/tests/device-bound-session-credentials/set-early-challenge.https.html
  testing/web-platform/tests/device-bound-session-credentials/setup_sharded_server_state.py
  testing/web-platform/tests/device-bound-session-credentials/start_session.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, wptlint-gecko, file-whitespace, file-perm

Bug 1951495 [wpt PR 51063] - Update wpt metadata, a=testonly
  testing/web-platform/meta/device-bound-session-credentials/clear-cookies-site-data.https.html.ini
  testing/web-platform/meta/device-bound-session-credentials/refresh-with-continue-false.https.html.ini
  testing/web-platform/meta/device-bound-session-credentials/set-authorization.https.html.ini
  testing/web-platform/meta/device-bound-session-credentials/set-early-challenge.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1951484 [wpt PR 51061] - vt: Remove layered capture, a=testonly
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-image-ref.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-image.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-ref.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-inline-ref.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-inline.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding-nested.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset-with-padding.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-offset.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-uneven-ref.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/border-uneven.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-decorations-ref.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-decorations.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture-nested-ref.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture-nested.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture-ref.sub.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/box-model-capture.tentative.sub.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/capture-mode-flat.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/capture-mode-layered.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/nested-opacity-backdrop-blend-animated.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/nested-opacity-backdrop-blend.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/nested-opacity-ref.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/nested-overflow-ref.sub.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/nested-overflow.tentative.sub.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/opacity-capture-observable-when-flat.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/opacity-computed-style.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/opacity-resets-after-done.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/opacity-resets-after-skip.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/parsing/view-transition-capture-mode-invalid.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/parsing/view-transition-capture-mode-valid.tentative.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/tree-effects-ref.sub.html
  testing/web-platform/tests/css/css-view-transitions/layered-capture/tree-effects.tentative.sub.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950643 [wpt PR 50967] - Reland "Always slot select options into ::picker(select)", a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/switch-picker-appearance.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951504 [wpt PR 51070] - Allow DBSC credentials to have empty cookie attributes field, a=testonly
  testing/web-platform/tests/device-bound-session-credentials/configure_server.py
  testing/web-platform/tests/device-bound-session-credentials/session-cookie-has-no-attributes.https.html
  testing/web-platform/tests/device-bound-session-credentials/session_manager.py
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, wptlint-gecko, file-whitespace, file-perm

Bug 1951504 [wpt PR 51070] - Update wpt metadata, a=testonly
  testing/web-platform/meta/device-bound-session-credentials/session-cookie-has-no-attributes.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1951499 [wpt PR 51068] - Fix flaky WPT, a=testonly
  testing/web-platform/tests/css/css-scroll-snap/input/snap-area-overflow-boundary-viewport-covering.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951487 [wpt PR 51062] - Full implementation of scale transform render surface trigger, a=testonly
  testing/web-platform/tests/css/css-transforms/transform-compound-001.html
  testing/web-platform/tests/css/css-transforms/transform-compound-ref.html
  testing/web-platform/tests/svg/extensibility/foreignObject/foreign-object-scale-scroll.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951501 [wpt PR 51069] - Revert "Set LimitLayerMergeDistance:limit/16 by default", a=testonly
  testing/web-platform/tests/css/css-images/object-fit-none-png-001c.html
  testing/web-platform/tests/css/css-images/object-fit-none-png-002c.html
  testing/web-platform/tests/css/css-images/object-fit-scale-down-png-001c.html
  testing/web-platform/tests/css/css-images/object-fit-scale-down-png-002c.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951513 [wpt PR 51072] - [css-tables] Trigger fixed table layout when not auto., a=testonly
  testing/web-platform/tests/css/css-tables/fixed-layout-2.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951511 [wpt PR 51071] - Fix bug where cc clip paths affected intersection behavior, a=testonly
  testing/web-platform/tests/intersection-observer/clip-path-animation.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951513 [wpt PR 51072] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-tables/fixed-layout-2.html.ini
Due: bugzilla-components, test-manifest

Bug 1951511 [wpt PR 51071] - Update wpt metadata, a=testonly
  testing/web-platform/meta/intersection-observer/clip-path-animation.html.ini
Due: bugzilla-components, test-manifest

Bug 1948428 [wpt PR 50735] - [wptrunner] Pass Chrome-specific `quitGracefully` when debugging, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/chrome.py
  testing/web-platform/tests/tools/wptrunner/wptrunner/browsers/headless_shell.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1951497 [wpt PR 51066] - ComputeBackgroundIsKnownToBeObscured false for block fragmentation., a=testonly
  testing/web-platform/tests/css/css-break/rounded-clipped-border.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951329 - Update test expectations for fs/FileSystemFileHandle-cross-primitive-locking.https.tentative.worker.js. r=dom-storage-reviewers,edenchuang
  testing/web-platform/meta/fs/FileSystemFileHandle-cross-primitive-locking.https.tentative.worker.js.ini
Due: bugzilla-components, test-manifest

Bug 1951166 - Allow page_action as context menu type in MV3 r=robwu
  browser/components/extensions/schemas/menus.json
  browser/components/extensions/test/browser/browser_ext_menus_events.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1949153 - Add a WPT reftest for intrinsic sizing with an orthogonal child that has padding in its block axis. r=dshin
  testing/web-platform/tests/css/css-writing-modes/orthogonal-child-with-padding.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1922333 - Land view transition plumbing for live capture behind a default-off pref. r=view-transitions-reviewers,boris
  dom/view-transitions/ViewTransition.cpp
  dom/view-transitions/ViewTransition.h
  gfx/layers/ipc/WebRenderMessages.ipdlh
  gfx/layers/wr/IpcResourceUpdateQueue.cpp
  gfx/layers/wr/IpcResourceUpdateQueue.h
  gfx/layers/wr/RenderRootStateManager.cpp
  gfx/layers/wr/RenderRootStateManager.h
  gfx/layers/wr/WebRenderBridgeParent.cpp
  gfx/layers/wr/WebRenderBridgeParent.h
  gfx/layers/wr/WebRenderMessageUtils.h
  gfx/webrender_bindings/webrender_ffi.h
  layout/base/nsCSSFrameConstructor.cpp
  layout/generic/nsIFrame.cpp
  layout/generic/nsImageFrame.cpp
  layout/generic/nsImageFrame.h
  layout/painting/nsDisplayList.cpp
  layout/painting/nsDisplayList.h
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1951853 - Rebuild the gradle dependencies cache when changes are made to the gradle directory. r=releng-reviewers,jcristau
  build/sparse-profiles/taskgraph
  taskcluster/kinds/toolchain/android.yml
Due: bugzilla-components, yaml

Bug 1951284 - Fix a race condition in UrlbarInput.startLayoutExtend(). r=urlbar-reviewers,jteow
  browser/components/urlbar/UrlbarInput.sys.mjs
Due: bugzilla-components

Bug 1951284 - Fix a race condition in UrlbarInput.startLayoutExtend(). r=urlbar-reviewers,jteow a=pascalc
  browser/components/urlbar/UrlbarInput.sys.mjs
Due: bugzilla-components

Backed out changeset 724df9f88bbb (bug 1891685) for causing bc failures at browser_MLSuggest_integration.js.
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  browser/components/urlbar/private/MLSuggest.sys.mjs
  toolkit/components/aboutinference/content/aboutInference.js
  toolkit/components/formautofill/MLAutofill.sys.mjs
  toolkit/components/glean/metrics_index.py
  toolkit/components/ml/actors/MLEngineParent.sys.mjs
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/metrics.yaml
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_telemetry.js
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, file-whitespace, file-perm

Backed out changeset a67bedab0a3a (bug 1641171) for causing mda failures at test_autoplay_policy_key_blacklist.html. CLOSED TREE
  dom/base/test/useractivation/browser.toml
  dom/base/test/useractivation/browser_useractivation_key_events.js
  dom/base/test/useractivation/mochitest.toml
  dom/base/test/useractivation/moz.build
  dom/base/test/useractivation/test_useractivation_key_events.html
  dom/events/GlobalKeyListener.cpp
  dom/events/GlobalKeyListener.h
  widget/BasicEvents.h
  widget/TextEvents.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging 158af1a5f1c3a813fb7b1437f8a456e7502e7241 with FIREFOX-ANDROID_137_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging 158af1a5f1c3a813fb7b1437f8a456e7502e7241 with DEVEDITION_137_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1940319 - Update libcubeb to revision edaf5ecebf5ef128a429b71fe20ab79a73e0c981. r=media-playback-reviewers,cubeb-reviewers,alwu,chunmin
  media/libcubeb/moz.yaml
  media/libcubeb/src/cubeb_audio_dump.cpp
  media/libcubeb/src/cubeb_resampler.cpp
  media/libcubeb/src/cubeb_resampler.h
  media/libcubeb/src/cubeb_resampler_internal.h
  media/libcubeb/src/cubeb_wasapi.cpp
  media/libcubeb/test/common.h
  media/libcubeb/test/test_resampler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1951610 - Remove a copy of `WebCodecsEncoderConfigurationItem` aliases. r=pehrsons
  dom/media/webcodecs/WebCodecsUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1225110 - Part 2: Implement Notification.actions r=asuth
  dom/interfaces/notification/nsINotificationStorage.idl
  dom/ipc/DOMTypes.ipdlh
  dom/notification/Notification.cpp
  dom/notification/Notification.h
  dom/notification/NotificationParent.cpp
  dom/notification/NotificationStorage.sys.mjs
  dom/notification/NotificationUtils.cpp
  dom/notification/NotificationUtils.h
  dom/webidl/Notification.webidl
  ipc/glue/BackgroundParentImpl.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/notifications/idlharness.https.any.js.ini
  testing/web-platform/meta/notifications/instance.https.window.js.ini
  testing/web-platform/tests/notifications/instance-checks.js
  toolkit/components/alerts/AlertNotification.cpp
  toolkit/components/alerts/AlertNotification.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, wptlint-gecko, yaml, file-whitespace, file-perm

Bug 1225110 - Part 1: Create notifications directly from IPC r=asuth
  dom/notification/Notification.cpp
  dom/notification/Notification.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging 158af1a5f1c3a813fb7b1437f8a456e7502e7241 with FIREFOX_137_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components
