Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

BBug 1936437 - Properly set `is_sponsored` on ML Yelp suggestions. r=daisuke a=pascalc
  browser/components/urlbar/private/YelpSuggestions.sys.mjs
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp_ml.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1936437 - Properly set `is_sponsored` on ML Yelp suggestions. r=daisuke
  browser/components/urlbar/private/YelpSuggestions.sys.mjs
  browser/components/urlbar/tests/quicksuggest/unit/test_quicksuggest_yelp_ml.js
Due: bugzilla-components, codespell, eslint, license, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1933053 - QM: Prefix OriginParser gtests with DOM_Quota; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/TestOriginParser.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933053 - QM: Add IsUserContextSuffix helper method; r=dom-storage-reviewers,asuth
  dom/quota/OriginParser.cpp
  dom/quota/OriginParser.h
  dom/quota/test/gtest/TestOriginParser.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933053: apply code formatting via Lando
  dom/quota/test/gtest/TestOriginParser.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1930236 - Revert "Bug 1909751 - Adjust margins for Toolbar" r=android-reviewers,tchoh
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/BrowserToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_displaytoolbar.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/dimens.xml
  mobile/android/android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/BrowserToolbarTest.kt
  mobile/android/android-components/components/concept/toolbar/src/main/java/mozilla/components/concept/toolbar/Toolbar.kt
  mobile/android/android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/feature/CustomTabSessionTitleObserverTest.kt
  mobile/android/android-components/components/feature/toolbar/src/test/java/mozilla/components/feature/toolbar/ToolbarAutocompleteFeatureTest.kt
  mobile/android/android-components/components/feature/toolbar/src/test/java/mozilla/components/feature/toolbar/ToolbarInteractorTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarView.kt
  mobile/android/fenix/app/src/main/res/values/dimens.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1930236 - Revert "Bug 1909751 - Adjust margins for Toolbar" r=android-reviewers,tchoh a=pascalc
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/BrowserToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/java/mozilla/components/browser/toolbar/display/DisplayToolbar.kt
  mobile/android/android-components/components/browser/toolbar/src/main/res/layout/mozac_browser_toolbar_displaytoolbar.xml
  mobile/android/android-components/components/browser/toolbar/src/main/res/values/dimens.xml
  mobile/android/android-components/components/browser/toolbar/src/test/java/mozilla/components/browser/toolbar/BrowserToolbarTest.kt
  mobile/android/android-components/components/concept/toolbar/src/main/java/mozilla/components/concept/toolbar/Toolbar.kt
  mobile/android/android-components/components/feature/customtabs/src/test/java/mozilla/components/feature/customtabs/feature/CustomTabSessionTitleObserverTest.kt
  mobile/android/android-components/components/feature/toolbar/src/test/java/mozilla/components/feature/toolbar/ToolbarAutocompleteFeatureTest.kt
  mobile/android/android-components/components/feature/toolbar/src/test/java/mozilla/components/feature/toolbar/ToolbarInteractorTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/BrowserToolbarView.kt
  mobile/android/fenix/app/src/main/res/values/dimens.xml
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1935962: When ks3rdhmpg.dll is loaded in the parent, allow Everyone SID for USER_RESTRICTED. a=pascalc
  security/sandbox/chromium-shim/patches/43_option_to_allow_everyone_for_userrestricted.patch
  security/sandbox/chromium/sandbox/win/src/restricted_token_utils.cc
  security/sandbox/chromium/sandbox/win/src/restricted_token_utils.h
  security/sandbox/chromium/sandbox/win/src/sandbox_policy.h
  security/sandbox/chromium/sandbox/win/src/sandbox_policy_base.cc
  security/sandbox/chromium/sandbox/win/src/sandbox_policy_base.h
  security/sandbox/win/src/sandboxbroker/sandboxBroker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905027 - There should be a Keyboard shortcut for the AI chat sidebar r=sidebar-reviewers,sclements,fluent-reviewers,flod,ngrato
  browser/base/content/browser-sets.inc
  browser/base/content/browser-sets.js
  browser/components/genai/metrics.yaml
  browser/components/genai/tests/browser/browser_chat_sidebar.js
  browser/components/sidebar/browser-sidebar.js
  browser/components/tests/marionette/test_no_errors_clean_profile.py
  browser/locales/en-US/browser/browserSets.ftl
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, yaml, localization, file-whitespace, file-perm

Bug 1843324 - [devtools] Fix the accessibility for the callstack r=devtools-reviewers,accessibility-frontend-reviewers,nchevobbe,nlapre
  devtools/client/debugger/src/components/SecondaryPanes/Frames/Frame.js
  devtools/client/debugger/src/components/SecondaryPanes/Frames/Frames.css
  devtools/client/debugger/src/components/SecondaryPanes/Frames/Group.css
  devtools/client/debugger/src/components/SecondaryPanes/Frames/Group.js
  devtools/client/debugger/src/components/SecondaryPanes/Frames/index.js
  devtools/client/debugger/src/components/SecondaryPanes/index.js
  devtools/client/debugger/test/mochitest/browser_dbg-asyncstacks.js
  devtools/client/debugger/test/mochitest/browser_dbg-call-stack.js
  devtools/client/debugger/test/mochitest/browser_dbg-state-based-panels.js
  devtools/client/debugger/test/mochitest/shared-head.js
  devtools/client/locales/en-US/debugger.properties
  devtools/client/shared/components/SmartTrace.css
  devtools/client/shared/components/test/chrome/test_smart-trace-grouping.html
  devtools/client/shared/components/test/chrome/test_smart-trace-source-maps.html
  devtools/client/webconsole/test/browser/browser_webconsole_async_stack.js
  devtools/client/webconsole/test/browser/browser_webconsole_context_menu_copy_message_with_framework_stacktrace.js
  devtools/client/webconsole/test/browser/browser_webconsole_error_with_grouped_stack.js
  devtools/client/webconsole/test/browser/browser_webconsole_eval_sources.js
  devtools/client/webconsole/test/browser/browser_webconsole_keyboard_accessibility.js
  devtools/client/webconsole/test/browser/browser_webconsole_promise_rejected_object.js
  devtools/client/webconsole/test/browser/browser_webconsole_stacktrace_location_debugger_link.js
  devtools/client/webconsole/test/browser/browser_webconsole_stacktrace_mapped_location_debugger_link.js
Due: bugzilla-components, codespell, eslint, license, localization, file-perm, debugger-tests, devtools-tests

Bug 1904733 - [devtools] Fix browser_toolbox_many_toggles.js intermittent on MacOS. r=devtools-reviewers,nchevobbe
  devtools/client/framework/test/browser_toolbox_many_toggles.js
  devtools/server/actors/targets/window-global.js
  devtools/server/actors/webconsole/listeners/document-events.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1933053 - QM: Fix OriginScope gtests to use correct suffix string in PrincipalMetadata struct; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/TestOriginScope.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933053 - QM: Move GetPrincipalMetadata helpers to separate files; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/QuotaManagerTestHelpers.cpp
  dom/quota/test/gtest/QuotaManagerTestHelpers.h
  dom/quota/test/gtest/TestOriginScope.cpp
  dom/quota/test/gtest/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933053 - QM: Add helpers for getting simple OriginMetadata and FullOriginMetadata; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/QuotaManagerTestHelpers.cpp
  dom/quota/test/gtest/QuotaManagerTestHelpers.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933053 - QM: Add documention for GetPrincipalMetadata test helpers; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/QuotaManagerTestHelpers.cpp
  dom/quota/test/gtest/QuotaManagerTestHelpers.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933053 - QM: Rework GetTestPrincipalMetadata and GetOtherTestPrincipalMetadata to use new common helpers; r=dom-storage-reviewers,asuth
  dom/quota/test/gtest/QuotaManagerDependencyFixture.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933053 - QM: Remove unused macro; r=dom-storage-reviewers,asuth
  dom/quota/QuotaManager.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1934045 - Fix "storage.deleteCookies" partition test for iframe. r=webdriver-reviewers,whimboo
  testing/web-platform/meta/webdriver/tests/bidi/storage/delete_cookies/partition.py.ini
  testing/web-platform/tests/webdriver/tests/bidi/storage/delete_cookies/partition.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace

Bug 1929104 - Improve SandboxProfiler semaphore usage r=jld
  security/sandbox/linux/SandboxProfiler.cpp
  security/sandbox/linux/SandboxProfiler.h
  security/sandbox/test/browser_sandbox_profiler.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1936189. Only do -moz-subtree-hidden-only-visually checks in the parent process. r=layout-reviewers,emilio
  layout/base/DisplayPortUtils.cpp
  layout/generic/nsIFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905239 - Introduce HostGetCodeForEval hook for PerformEval. r=tschuster
  caps/nsScriptSecurityManager.cpp
  js/public/Principals.h
  js/src/builtin/Eval.cpp
  js/src/jsapi-tests/moz.build
  js/src/jsapi-tests/testDynamicCodeBrandChecks.cpp
  js/src/jsapi-tests/testStructuredClone.cpp
  js/src/shell/js.cpp
  js/src/vm/JSContext.cpp
  js/src/vm/JSContext.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905239 - Add new parameters to HostEnsureCanCompileStrings hook. r=tschuster
  caps/nsScriptSecurityManager.cpp
  caps/nsScriptSecurityManager.h
  dom/workers/RuntimeService.cpp
  js/public/Principals.h
  js/src/builtin/Eval.cpp
  js/src/builtin/ShadowRealm.cpp
  js/src/jsapi-tests/testDynamicCodeBrandChecks.cpp
  js/src/vm/JSContext.cpp
  js/src/vm/JSContext.h
  js/src/vm/JSFunction.cpp
  js/src/wasm/WasmJS.cpp
  js/src/wasm/WasmModule.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1905239: apply code formatting via Lando
  caps/nsScriptSecurityManager.h
  dom/workers/RuntimeService.cpp
  js/src/jsapi-tests/testDynamicCodeBrandChecks.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 43916062e815 (bug 1936164) for causing bc failures @ browser_bookmark_popup.js CLOSED TREE
  widget/windows/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
