Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1890801 [wpt PR 45650] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-history-pushState.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-history-replaceState.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-form-submit.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-link-click-fragment.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-link-click.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-location-assign.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-location-replace.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-meta-refresh.optional.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-navigation-navigate.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-nav-window-open.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy-reload-navigation-reload.html.ini
Due: bugzilla-components, test-manifest

Bug 1903323 [wpt PR 46813] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-page/margin-boxes/auto-margins-001-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/auto-margins-002-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/auto-margins-003-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/content-001-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-001-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-002-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-003-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-004-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-005-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-006-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-007-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-008-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-009-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-010-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-011-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-012-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-013-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/dimensions-014-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/inapplicable-properties-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/overconstrained-001-print.html.ini
  testing/web-platform/meta/css/css-page/margin-boxes/paint-order-001-print.html.ini
Due: bugzilla-components, test-manifest

Bug 1903007 [wpt PR 46782] - layout: Allocate inline box start space on segment, a=testonly
  testing/web-platform/tests/css/CSS2/normal-flow/inline-box-border-line-break-ref.html
  testing/web-platform/tests/css/CSS2/normal-flow/inline-box-border-line-break.html
  testing/web-platform/tests/css/CSS2/normal-flow/inline-box-padding-line-break.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903372 [wpt PR 46817] - Speculative fix for flaky leak, a=testonly
  testing/web-platform/tests/touch-events/single-touch-vertical-rl.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1872274 [wpt PR 43817] - Allow :target to match elements after they are reattached, a=testonly
  testing/web-platform/tests/html/browsers/browsing-the-web/scroll-to-fragid/target-pseudo-after-reinsertion.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903368 [wpt PR 46816] - Order groups by subsuite and test type, a=testonly
  testing/web-platform/tests/tools/wptrunner/wptrunner/testloader.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1903356 [wpt PR 46815] - webauthn: implement PublicKeyCredential.parseRequestOptionsFromJSON(), a=testonly
  testing/web-platform/tests/webauthn/public-key-credential-creation-options-from-json.https.window.js
  testing/web-platform/tests/webauthn/public-key-credential-request-options-from-json.https.window.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903356 [wpt PR 46815] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webauthn/public-key-credential-request-options-from-json.https.window.js.ini
Due: bugzilla-components, test-manifest

Bug 1903243 [wpt PR 46809] - Treat '!' as EOF in in ConsumeGridTemplateRowsAndAreasAndColumns, a=testonly
  testing/web-platform/tests/css/css-grid/parsing/grid-template-important.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903531 [wpt PR 46828] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-page/margin-boxes/alignment-001-print.html.ini
Due: bugzilla-components, test-manifest

Bug 1903531 [wpt PR 46828] - Add default @page margin box content alignment to UA stylesheet., a=testonly
  testing/web-platform/tests/css/css-page/margin-boxes/alignment-001-print-ref.html
  testing/web-platform/tests/css/css-page/margin-boxes/alignment-001-print.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903439 [wpt PR 46823] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=275556, a=testonly
  testing/web-platform/tests/css/css-view-transitions/hit-test-pseudo-element-element-from-point.html
  testing/web-platform/tests/css/css-view-transitions/hit-test-unpainted-element-from-point.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903439 [wpt PR 46823] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-view-transitions/hit-test-pseudo-element-element-from-point.html.ini
Due: bugzilla-components, test-manifest

Bug 1903472 [wpt PR 46826] - [EditContext] Move focus/blur handling to Document::SetFocusedElement, a=testonly
  testing/web-platform/tests/editing/edit-context/edit-context-input.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903613 [wpt PR 46830] - Match task runner lifetime with the cache for SVGDocumentResources, a=testonly
  testing/web-platform/tests/svg/struct/scripted/support/use-external-reload-in-iframe-child.html
  testing/web-platform/tests/svg/struct/scripted/support/use-external-reload-in-iframe-resource.svg
  testing/web-platform/tests/svg/struct/scripted/use-external-reload-in-iframe.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903472 [wpt PR 46826] - Update wpt metadata, a=testonly
  testing/web-platform/meta/editing/edit-context/edit-context-input.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1903409 [wpt PR 46819] - Fix sampling of keyframe effect's in the before phase, a=testonly
  testing/web-platform/tests/web-animations/timing-model/time-transformations/transformed-progress.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903166 [wpt PR 46804] - Update wpt metadata, a=testonly
  testing/web-platform/meta/fullscreen/api/permission.tentative.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1903166 [wpt PR 46804] - Automatic Fullscreen: Prototype Permissions API query support, a=testonly
  testing/web-platform/tests/fullscreen/api/permission.tentative.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903692 [wpt PR 46834] - Dispatch event to document when the element is in the shadow tree, a=testonly
  testing/web-platform/tests/selection/textcontrols/selectionchange-on-shadow-dom.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1901902 [wpt PR 46704] - Download mojojs from the new CfT infrastructure, a=testonly
  testing/web-platform/tests/tools/wpt/browser.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1903694 [wpt PR 46835] - Add support for embed and object to remote-context-helper., a=testonly
  testing/web-platform/tests/html/browsers/browsing-the-web/remote-context-helper-tests/addEmbed.window.js
  testing/web-platform/tests/html/browsers/browsing-the-web/remote-context-helper-tests/addObject.window.js
  testing/web-platform/tests/html/browsers/browsing-the-web/remote-context-helper/resources/remote-context-helper.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903694 [wpt PR 46835] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/sandbox-top-navigation-child-unsandboxed.tentative.sub.window.js.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-iframe-element/sandbox-top-navigation-grandchild-allow-same-origin.tentative.sub.window.js.ini
Due: bugzilla-components, test-manifest

Bug 1903710 [wpt PR 46836] - Apply a fallback for font-size-adjust: ic-height when a required font metric is missing., a=testonly
  testing/web-platform/tests/css/css-fonts/font-size-adjust-ic-height-ref.html
  testing/web-platform/tests/css/css-fonts/font-size-adjust-ic-height.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903710 [wpt PR 46836] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-fonts/font-size-adjust-ic-height.html.ini
  testing/web-platform/meta/css/css-fonts/font-size-adjust-ic-height.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1903442 [wpt PR 46824] - avoid failing entire suites when Float16Array is undefined, a=testonly
  testing/web-platform/tests/FileAPI/blob/Blob-constructor.any.js
  testing/web-platform/tests/WebCryptoAPI/getRandomValues.any.js
  testing/web-platform/tests/compression/decompression-buffersource.tentative.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903765 [wpt PR 46841] - Check if the owner of stale counter to be removed is the element we leave, a=testonly
  testing/web-platform/tests/css/css-lists/implicit-and-explicit-list-item-counters-ref.html
  testing/web-platform/tests/css/css-lists/implicit-and-explicit-list-item-counters.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903442 [wpt PR 46824] - Update wpt metadata, a=testonly
  testing/web-platform/meta/FileAPI/blob/Blob-constructor.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/getRandomValues.any.js.ini
  testing/web-platform/meta/compression/decompression-buffersource.tentative.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1903725 [wpt PR 46837] - Improve wavy decorations for smallish fonts, a=testonly
  testing/web-platform/tests/css/css-highlight-api/painting/css-target-text-decoration-001.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903785 [wpt PR 46843] - [@container] Clear skipped style recalc for all descendants, a=testonly
  testing/web-platform/tests/css/css-contain/container-queries/crashtests/chrome-bug-346264227-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1903761 [wpt PR 46840] - Add tests for if codec info surfaces at the right time., a=testonly
  testing/web-platform/tests/webrtc/RTCRtpReceiver-getParameters.html
  testing/web-platform/tests/webrtc/RTCRtpSender-getParameters.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1902657 [wpt PR 46754] - [WebDriverBiDi] Add test for `originalOpener` to `browsingContext.created`, a=testonly
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/__init__.py
  testing/web-platform/tests/webdriver/tests/bidi/browsing_context/context_created/original_opener.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1902657 [wpt PR 46754] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/context_created/context_created.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/context_created/original_opener.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/create/reference_context.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/create/type.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/create/user_context.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/get_tree/frames.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/get_tree/max_depth.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/get_tree/root.py.ini
  testing/web-platform/meta/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: bugzilla-components, test-manifest

Bug 1903839 - [wpt-sync] Update web-platform-tests to 40c22fdd8eb7bad2ea3530aeba9fbbed7e6797f8, a=testonly
  testing/web-platform/meta/FileAPI/blob/Blob-constructor.any.js.ini
  testing/web-platform/meta/IndexedDB/idb-binary-key-roundtrip.htm.ini
  testing/web-platform/meta/IndexedDB/structured-clone.any.js.ini
  testing/web-platform/meta/WebCryptoAPI/getRandomValues.any.js.ini
  testing/web-platform/meta/content-security-policy/frame-ancestors/__dir__.ini
  testing/web-platform/meta/cookies/name/name.html.ini
  testing/web-platform/meta/css/cssom-view/scroll-behavior-main-frame-root.html.ini
  testing/web-platform/meta/css/cssom-view/scroll-behavior-main-frame-window.html.ini
  testing/web-platform/meta/encoding/encodeInto.any.js.ini
  testing/web-platform/meta/encrypted-media/clearkey-mp4-setmediakeys-again-after-resetting-src.https.html.ini
  testing/web-platform/meta/fetch/api/basic/request-headers.any.js.ini
  testing/web-platform/meta/fetch/api/basic/request-upload.any.js.ini
  testing/web-platform/meta/fetch/api/redirect/redirect-keepalive.https.any.js.ini
  testing/web-platform/meta/fs/FileSystemFileHandle-cross-primitive-locking.https.tentative.worker.js.ini
  testing/web-platform/meta/geolocation/idlharness.https.window.js.ini
  testing/web-platform/meta/geolocation/tojson.https.window.js.ini
  testing/web-platform/meta/html/cross-origin-embedder-policy/cross-origin-isolated-permission-worker.https.window.js.ini
  testing/web-platform/meta/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-invoke-load.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-invoke-pause.html.ini
  testing/web-platform/meta/html/semantics/forms/__dir__.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/notifications/getnotifications-across-processes.https.window.js.ini
  testing/web-platform/meta/permissions-policy/reporting/geolocation-reporting.https.html.ini
  testing/web-platform/meta/pointerevents/pointerlock/pointerevent_pointermove_in_pointerlock.html.ini
  testing/web-platform/meta/resource-timing/content-type-parsing.html.ini
  testing/web-platform/meta/scroll-to-text-fragment/scroll-to-text-fragment.html.ini
  testing/web-platform/meta/service-workers/service-worker/navigation-redirect.https.html.ini
  testing/web-platform/meta/trusted-types/worker-constructor.https.html.ini
  testing/web-platform/meta/uievents/mouse/mouse_boundary_events_after_reappending_last_over_target.tentative.html.ini
  testing/web-platform/meta/uievents/mouse/mouse_boundary_events_after_removing_last_over_element.html.ini
  testing/web-platform/meta/web-animations/timing-model/animations/setting-the-playback-rate-of-an-animation.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-channelmergernode-interface/active-processing.https.html.ini
  testing/web-platform/meta/webdriver/tests/classic/set_window_rect/set.py.ini
  testing/web-platform/meta/webdriver/tests/classic/status/__dir__.ini
  testing/web-platform/meta/webdriver/tests/interop/beforeunload_prompt.py.ini
  testing/web-platform/meta/xhr/send-data-sharedarraybuffer.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1904120 - Update PDF.js to f9ff613e56dca65b95ce9e10d13350008b523979 r=pdfjs-reviewers,Snuffleupagus
  toolkit/components/pdfjs/content/build/pdf.mjs
  toolkit/components/pdfjs/content/build/pdf.sandbox.external.sys.mjs
  toolkit/components/pdfjs/content/build/pdf.scripting.mjs
  toolkit/components/pdfjs/content/build/pdf.worker.mjs
  toolkit/components/pdfjs/content/web/viewer-geckoview.css
  toolkit/components/pdfjs/content/web/viewer-geckoview.mjs
  toolkit/components/pdfjs/content/web/viewer.css
  toolkit/components/pdfjs/content/web/viewer.mjs
  toolkit/components/pdfjs/moz.yaml
Due: bugzilla-components, yaml

Bug 1903839 - Remove forgotten lines from conflict fix. a=test-only
  testing/web-platform/meta/xhr/send-data-sharedarraybuffer.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1903839 - Remove duplicated lines. a=test-only
  testing/web-platform/meta/xhr/send-data-sharedarraybuffer.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1903775 - Perma failure in browser_UrlbarInput_overflow.js on beta merge. r=jteow
  browser/components/urlbar/UrlbarValueFormatter.sys.mjs
Due: bugzilla-components

Bug 1903839 - update multiple subtests as passing after the latest wptsync. r=jgraham,aryx,sasha CLOSED TREE
  testing/web-platform/meta/FileAPI/blob/Blob-constructor.any.js.ini
  testing/web-platform/meta/IndexedDB/idb-binary-key-roundtrip.htm.ini
  testing/web-platform/meta/compression/decompression-buffersource.tentative.any.js.ini
  testing/web-platform/meta/fetch/api/basic/request-headers.any.js.ini
Due: bugzilla-components, test-manifest

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
