Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ab/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-cy/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-ia/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-oc/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pl/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-vi/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-bg/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-cy/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-de/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-dsb/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-en-rGB/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-gl/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-hsb/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ia/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-iw/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-pt-rPT/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-sv-rSE/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-ab/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-ja/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-oc/strings.xml
  mobile/android/fenix/app/src/main/res/values-pl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pl/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1919833 - Remove AFL_INIT call from fuzzing interface. r=truber
  tools/fuzzing/interface/FuzzingInterface.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1867997 - Finish QuotaManager::EnsureTemporaryGroupIsInitializedInternal implementation; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1867997 - Add support for initializing corresponding group to QuotaManager::OpenClientDirectory; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out 4 changesets (bug 1920674, bug 1920468) for causing win crashes. CLOSED TREE
  browser/components/profiles/SelectableProfileService.sys.mjs
  widget/nsITaskbarOverlayIconController.idl
  widget/windows/SystemStatusBar.cpp
  widget/windows/TaskbarPreviewButton.cpp
  widget/windows/TaskbarTabPreview.cpp
  widget/windows/TaskbarWindowPreview.cpp
  widget/windows/WindowsUIUtils.cpp
  widget/windows/nsWindow.cpp
  widget/windows/nsWindowGfx.cpp
  widget/windows/nsWindowGfx.h
  widget/windows/tests/gtest/TestWindowGfx.cpp
  widget/windows/tests/gtest/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925516 - Convert TabStateInternal to a modern JS class. r=sthompson
  browser/components/sessionstore/TabState.sys.mjs
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1923028 - Migrate scalars to use Glean APIs in security/manager/ssl/, r=chutten.
  security/manager/ssl/NSSSocketControl.cpp
  security/manager/ssl/TLSClientAuthCertSelection.cpp
  security/manager/ssl/metrics.yaml
  security/manager/ssl/nsNSSComponent.cpp
  toolkit/components/telemetry/core/Telemetry.h
  toolkit/components/telemetry/tests/gtest/TestScalars.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1923028 - Migrate scalars to use Glean APIs for startup.*, r=chutten,mossop.
  browser/components/BrowserGlue.sys.mjs
  browser/components/metrics.yaml
  toolkit/components/glean/metrics_index.py
  toolkit/profile/metrics.yaml
  toolkit/profile/nsToolkitProfileService.cpp
  toolkit/profile/nsToolkitProfileService.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1923028 - Migrate scalars to use Glean APIs for os.environment.*, r=chutten,mconley.
  browser/components/BrowserContentHandler.sys.mjs
  browser/components/BrowserGlue.sys.mjs
  browser/components/metrics.yaml
  toolkit/components/telemetry/Scalars.yaml
  toolkit/modules/OsEnvironment.sys.mjs
  toolkit/modules/metrics.yaml
  toolkit/xre/metrics.yaml
  toolkit/xre/nsAppRunner.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1923028 - Migrate scalars to use Glean APIs in toolkit/components/places/, r=chutten,places-reviewers,Standard8.
  toolkit/components/places/History.cpp
  toolkit/components/places/PlacesDBUtils.sys.mjs
  toolkit/components/places/metrics.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1925484 - Further nsListControlFrame clean-ups. r=dshin
  layout/forms/nsListControlFrame.cpp
  layout/forms/nsListControlFrame.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925277: Block USER_RESTRICTED in safe mode and if webgl oop feature not available. r=handyman
  security/sandbox/common/SandboxSettings.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915152 - Copying back some of environ into kernel-exposed memory space r=jld
  ipc/chromium/src/base/set_process_title_linux.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1917575 - Interpose __register_atfork()/pthread_atfork() and run it after clone() r=jld
  mozglue/interposers/moz.build
  mozglue/interposers/pthread_atfork.h
  mozglue/interposers/pthread_atfork_interposer.cpp
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917844 - Assert correct jemalloc randomization state on Content and non Content processes r=jld,glandium
  dom/ipc/ContentChild.cpp
  ipc/glue/UtilityProcessImpl.cpp
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_types.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918596 - Assert one mozjemalloc arena on ForkServer process r=glandium
  ipc/glue/ForkServer.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917844 - Expose ForkServer-specific mozjemalloc reinit r=glandium
  ipc/glue/ForkServer.cpp
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925274 - Suppress valgrind new suspected leaks related to ForkServer argv handling r=jld
  build/valgrind/cross-architecture.sup
Due: bugzilla-components

Bug 1925181 - Properly set small alloc randomization on Android content processes as well r=jld
  dom/ipc/ContentChild.cpp
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
  mozglue/android/APKOpen.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1874689 - Enable forkserver by default in Nightly. r=jld
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, lintpref, yaml

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1925692 - Remove android+fission specific annotation.
  testing/web-platform/meta/css/css-view-transitions/pseudo-computed-style-stays-in-sync-with-new-element.html.ini
Due: bugzilla-components, test-manifest

Bug 1925265. Always correctly handle the TO_SRGB_COLORSPACE flag when decoding an image. r=gfx-reviewers,aosmond
  image/Decoder.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1924499 - Add an API to check if we can run inference r=padenot,gregtatum,frontend-codestyle-reviewers,Standard8
  modules/libpref/init/all.js
  toolkit/components/aboutinference/content/aboutInference.js
  toolkit/components/ml/MLUtils.cpp
  toolkit/components/ml/MLUtils.h
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/actors/MLEngineParent.sys.mjs
  toolkit/components/ml/components.conf
  toolkit/components/ml/content/EngineProcess.sys.mjs
  toolkit/components/ml/moz.build
  toolkit/components/ml/nsIMLUtils.idl
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_engine.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, file-whitespace, file-perm

Bug 1925737 - Update android nightly application-services version bump to 63bb952ae6915187c0b7b7ccedbc1e8d7b166d5a r=release-managers,dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1925014 - Disallow HTTP/3 when third party root is found. a=RyanVM
  modules/libpref/init/StaticPrefList.yaml
  netwerk/base/nsNetUtil.cpp
  netwerk/ipc/PSocketProcess.ipdl
  netwerk/ipc/SocketProcessChild.cpp
  netwerk/ipc/SocketProcessChild.h
  netwerk/protocol/http/nsHttpHandler.cpp
  netwerk/protocol/http/nsHttpHandler.h
  netwerk/test/unit/test_http3_with_third_party_roots.js
  netwerk/test/unit/xpcshell.toml
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1924175 - support service= URL param in fxa oauth flows. r=lina
  services/fxaccounts/FxAccountsConfig.sys.mjs
  services/fxaccounts/FxAccountsWebChannel.sys.mjs
  services/fxaccounts/tests/xpcshell/head.js
  services/fxaccounts/tests/xpcshell/test_accounts_config.js
  services/fxaccounts/tests/xpcshell/test_web_channel.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 8 changesets (bug 1918596, bug 1917575, bug 1874689, bug 1925181, bug 1917844, bug 1925274, bug 1915152) for causing failures at Sandbox.cpp. CLOSED TREE
  build/valgrind/cross-architecture.sup
  dom/ipc/ContentChild.cpp
  ipc/chromium/src/base/set_process_title_linux.cc
  ipc/glue/ForkServer.cpp
  ipc/glue/UtilityProcessImpl.cpp
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_types.h
  modules/libpref/init/StaticPrefList.yaml
  mozglue/android/APKOpen.cpp
  mozglue/interposers/moz.build
  mozglue/interposers/pthread_atfork.h
  mozglue/interposers/pthread_atfork_interposer.cpp
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1922594 - Add image assets for FxA menu messages. r=pdahiya,omc-reviewers
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/asrouter/content/assets/fox-with-box-on-cloud.svg
  browser/components/asrouter/content/assets/fox-with-devices.svg
  browser/components/asrouter/content/assets/fox-with-locked-box.svg
  browser/components/asrouter/content/assets/fox-with-mobile.svg
  browser/components/asrouter/content/components/fxa-menu-message/fxa-menu-message.css
  browser/components/asrouter/content/components/fxa-menu-message/fxa-menu-message.stories.mjs
  browser/components/asrouter/jar.mn
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1867997 - Assert that corresponding group is initialized in QuotaManager::GetOrCreateTemporaryOriginDirectory; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1867997 - Add logging to QuotaManager::InitializeOrigin; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1867997 - Add support for conditional lazy initialization of origins; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
  dom/quota/QuotaManager.h
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1867997 - Add support for pausing QM IO thread after finishing origin initialization; r=dom-storage-reviewers,jari
  dom/quota/ActorsParent.cpp
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/feature/addons/src/main/res/values-am/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-nn-rNO/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-zh-rCN/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-ro/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-am/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-am/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-cy/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-fr/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-sl/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-tg/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-am/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-am/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm
