Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1950967 - Turn on Talos for win11 24h2. r=sparky,perftest-reviewers
  taskcluster/kinds/test/talos.yml
  taskcluster/kinds/test/test-platforms.yml
  taskcluster/kinds/test/test-sets.yml
  testing/perfdocs/generated/talos.rst
Due: bugzilla-components, codespell, yaml, rst

Bug 1951123 - Remove checks and resources for loading old about page. r=android-reviewers,avirvara
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/browser/LocalizedContent.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/engine/AppContentInterceptor.kt
  mobile/android/focus-android/app/src/main/res/raw/about.html
Due: android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Backed out changeset 2a5e9bdc7e8e (bug 1951341) for causing build bustages. CLOSED TREE
  devtools/client/debugger/babel.config.js
  devtools/client/debugger/dist/parser-worker.js
  devtools/client/debugger/package.json
  devtools/client/debugger/src/workers/parser/utils/ast.js
  devtools/client/debugger/test/mochitest/browser_aj.toml
  devtools/client/debugger/test/mochitest/browser_dbg-inline-preview.js
  devtools/client/debugger/test/mochitest/examples/data.json
  devtools/client/debugger/test/mochitest/examples/doc-inline-preview.html
  devtools/client/debugger/yarn.lock
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Bug 1949151 - Don't double-account for borders and padding when getting an orthogonal flow's intrinsic block size. r=dshin
  layout/base/nsLayoutUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1949151 - Add a WPT reftest for intrinsic sizing with an orthogonal child that has borders. r=dshin
  testing/web-platform/tests/css/css-writing-modes/orthogonal-child-with-border.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1951240 - Implement AudioWorklet.port, r=padenot,webidl,saschanaz
  dom/bindings/Bindings.conf
  dom/media/webaudio/AudioContext.cpp
  dom/media/webaudio/AudioContext.h
  dom/media/webaudio/AudioWorklet.cpp
  dom/media/webaudio/AudioWorklet.h
  dom/media/webaudio/AudioWorkletGlobalScope.cpp
  dom/media/webaudio/AudioWorkletGlobalScope.h
  dom/media/webaudio/AudioWorkletImpl.cpp
  dom/media/webaudio/AudioWorkletImpl.h
  dom/media/webaudio/moz.build
  dom/messagechannel/MessagePort.cpp
  dom/webidl/AudioWorklet.webidl
  dom/webidl/AudioWorkletGlobalScope.webidl
  dom/worklet/Worklet.h
  dom/worklet/WorkletImpl.cpp
  dom/worklet/WorkletImpl.h
  layout/style/PaintWorkletImpl.cpp
  layout/style/PaintWorkletImpl.h
  testing/web-platform/meta/webaudio/idlharness.https.window.js.ini
  testing/web-platform/tests/webaudio/the-audio-api/the-audioworklet-interface/audioworklet-messageport.https.html
  testing/web-platform/tests/webaudio/the-audio-api/the-audioworklet-interface/processors/port-processor.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1951202 - Update harfbuzz to 10.4.0 r=jfkthame
  gfx/harfbuzz/NEWS
  gfx/harfbuzz/README.md
  gfx/harfbuzz/moz.yaml
  gfx/harfbuzz/src/OT/Color/CBDT/CBDT.hh
  gfx/harfbuzz/src/OT/Var/VARC/VARC.cc
  gfx/harfbuzz/src/OT/Var/VARC/VARC.hh
  gfx/harfbuzz/src/OT/Var/VARC/coord-setter.hh
  gfx/harfbuzz/src/OT/glyf/CompositeGlyph.hh
  gfx/harfbuzz/src/OT/glyf/Glyph.hh
  gfx/harfbuzz/src/OT/glyf/SimpleGlyph.hh
  gfx/harfbuzz/src/OT/glyf/glyf.hh
  gfx/harfbuzz/src/OT/glyf/path-builder.hh
  gfx/harfbuzz/src/hb-decycler.hh
  gfx/harfbuzz/src/hb-directwrite.cc
  gfx/harfbuzz/src/hb-directwrite.h
  gfx/harfbuzz/src/hb-face.cc
  gfx/harfbuzz/src/hb-ft.cc
  gfx/harfbuzz/src/hb-ft.h
  gfx/harfbuzz/src/hb-open-type.hh
  gfx/harfbuzz/src/hb-ot-face-table-list.hh
  gfx/harfbuzz/src/hb-ot-face.cc
  gfx/harfbuzz/src/hb-ot-hdmx-table.hh
  gfx/harfbuzz/src/hb-ot-hmtx-table.hh
  gfx/harfbuzz/src/hb-ot-layout-base-table.hh
  gfx/harfbuzz/src/hb-ot-layout-common.hh
  gfx/harfbuzz/src/hb-ot-var-common.hh
  gfx/harfbuzz/src/hb-ot-var-cvar-table.hh
  gfx/harfbuzz/src/hb-ot-var-gvar-table.hh
  gfx/harfbuzz/src/hb-subset-plan.hh
  gfx/harfbuzz/src/hb-vector.hh
  gfx/harfbuzz/src/hb-version.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1951296 - Account for uneven client margins in nsWindow::GetScreenEdgeSlop(). r=stransky
  widget/gtk/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1951296 - Account for uneven client margins in nsWindow::GetScreenEdgeSlop(). r=stransky a=pascalc
  widget/gtk/nsWindow.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1932530 - Update the download notification timestamp after restarting the download via notification. r=android-reviewers,pollymce
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/AbstractFetchDownloadServiceTest.kt
Due: android-api-lint/opt, bugzilla-components

Backed out changeset 2844dc007303 (bug 1951240) for causing build bustages CLOSED TREE
  dom/bindings/Bindings.conf
  dom/media/webaudio/AudioContext.cpp
  dom/media/webaudio/AudioContext.h
  dom/media/webaudio/AudioWorklet.cpp
  dom/media/webaudio/AudioWorklet.h
  dom/media/webaudio/AudioWorkletGlobalScope.cpp
  dom/media/webaudio/AudioWorkletGlobalScope.h
  dom/media/webaudio/AudioWorkletImpl.cpp
  dom/media/webaudio/AudioWorkletImpl.h
  dom/media/webaudio/moz.build
  dom/messagechannel/MessagePort.cpp
  dom/webidl/AudioWorklet.webidl
  dom/webidl/AudioWorkletGlobalScope.webidl
  dom/worklet/Worklet.h
  dom/worklet/WorkletImpl.cpp
  dom/worklet/WorkletImpl.h
  layout/style/PaintWorkletImpl.cpp
  layout/style/PaintWorkletImpl.h
  testing/web-platform/meta/webaudio/idlharness.https.window.js.ini
  testing/web-platform/tests/webaudio/the-audio-api/the-audioworklet-interface/audioworklet-messageport.https.html
  testing/web-platform/tests/webaudio/the-audio-api/the-audioworklet-interface/processors/port-processor.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1950708 [wpt PR 50973] - [SRI Message Signatures] `@status` should pull from the response., a=testonly
  testing/web-platform/tests/subresource-integrity/signatures/tentative/status.window.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950708 [wpt PR 50973] - Update wpt metadata, a=testonly
  testing/web-platform/meta/subresource-integrity/signatures/tentative/status.window.js.ini
Due: bugzilla-components, test-manifest

Bug 1950772 [wpt PR 50986] - [ReferenceTarget] Add tests for implicit label association, a=testonly
  testing/web-platform/tests/shadow-dom/reference-target/tentative/label-for.html
  testing/web-platform/tests/shadow-dom/reference-target/tentative/property-reflection.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950772 [wpt PR 50986] - Update wpt metadata, a=testonly
  testing/web-platform/meta/shadow-dom/reference-target/tentative/property-reflection.html.ini
Due: bugzilla-components, test-manifest

Bug 1950751 [wpt PR 50980] - [PEPC] Fix display of PEPC in quirks mode when height: auto is used, a=testonly
  testing/web-platform/tests/html/semantics/permission-element/quirks-mode-no-height-is-still-bounded-ref.html
  testing/web-platform/tests/html/semantics/permission-element/quirks-mode-no-height-is-still-bounded.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950691 [wpt PR 50971] - corner-shape: render all curved superellipse values, a=testonly
  testing/web-platform/tests/css/css-borders/tentative/corner-shape/corner-shape-fill-any-ref.html
  testing/web-platform/tests/css/css-borders/tentative/corner-shape/corner-shape-fill-any.html
  testing/web-platform/tests/css/css-borders/tentative/corner-shape/corner-shape-render-ref.html
  testing/web-platform/tests/css/css-borders/tentative/corner-shape/resources/corner-math.js
  testing/web-platform/tests/css/css-borders/tentative/corner-shape/resources/resolve-corner-style.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950691 [wpt PR 50971] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-borders/tentative/corner-shape/corner-shape-fill-any.html.ini
Due: bugzilla-components, test-manifest

Bug 1950638 [wpt PR 50966] - [webrtc-encoded-transform] Add support for video metadata timestamps, a=testonly
  testing/web-platform/tests/webrtc-encoded-transform/tentative/RTCEncodedFrame-timestamps.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950638 [wpt PR 50966] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webrtc-encoded-transform/tentative/RTCEncodedFrame-timestamps.html.ini
Due: bugzilla-components, test-manifest

Bug 1950776 [wpt PR 50987] - layout: Use definite cross size to compute flex base size, a=testonly
  testing/web-platform/tests/css/css-flexbox/flex-basis-013.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950776 [wpt PR 50987] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-flexbox/flex-basis-013.html.ini
Due: bugzilla-components, test-manifest

Bug 1950872 [wpt PR 50994] - Evaluate supports() queries inside if() condition, a=testonly
  testing/web-platform/tests/css/css-values/if-conditionals.html
  testing/web-platform/tests/css/css-values/if-supports-quirks.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950872 [wpt PR 50994] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/if-conditionals.html.ini
  testing/web-platform/meta/css/css-values/if-supports-quirks.html.ini
Due: bugzilla-components, test-manifest

Bug 1950818 [wpt PR 50991] - [wdspec] rename addon to extension, a=testonly
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/conftest.py
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/install/install.py
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/install/invalid.py
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/uninstall/invalid.py
  testing/web-platform/tests/webdriver/tests/bidi/web_extension/uninstall/uninstall.py
  testing/web-platform/tests/webdriver/tests/support/helpers.py
  testing/web-platform/tests/webdriver/tests/support/webextensions/chrome/unpacked/manifest.json
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1948110 [wpt PR 50695] - [testharness.js] Fix issue caused when path contains full stop characters (.), a=testonly
  testing/web-platform/tests/infrastructure/testharness/full.stop/full-stop.html
  testing/web-platform/tests/resources/testharness.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1938989 [wpt PR 49835] - layout: Implement a non-recursive version of CSS `quotes`, a=testonly
  testing/web-platform/tests/css/css-content/quotes-lang-dynamic-001.html
  testing/web-platform/tests/css/css-content/quotes-slot-scoping-ref.html
  testing/web-platform/tests/css/css-content/reference/quotes-lang-dynamic-001-ref.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1938989 [wpt PR 49835] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-content/quotes-lang-dynamic-001.html.ini
Due: bugzilla-components, test-manifest

Bug 1950747 [wpt PR 50979] - FLEDGE: Provide browserSignals.utf8{Encode,Decode} to worklets, a=testonly
  testing/web-platform/tests/fledge/tentative/generate-bid-browser-signals.https.window.js
  testing/web-platform/tests/fledge/tentative/utf8-helpers.https.window.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950919 [wpt PR 50995] - Support appearance property on ::scroll-button, a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-buttons-appearance-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-buttons-appearance.html
  testing/web-platform/tests/css/css-overflow/scroll-buttons-disabled-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-buttons-disabled-rtl-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-buttons-disabled-vertical-ltr-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-buttons-enabled-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-buttons-enabled-rtl-ref.html
  testing/web-platform/tests/css/css-overflow/scroll-buttons-enabled-vertical-ltr-ref.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950919 [wpt PR 50995] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/scroll-buttons-appearance.html.ini
Due: bugzilla-components, test-manifest

Bug 1950921 [wpt PR 50997] - [gap-decorations] Parse `row-rule-width` property, a=testonly
  testing/web-platform/tests/css/css-gaps/tentative/parsing/gap-decorations-width-computed.html
  testing/web-platform/tests/css/css-gaps/tentative/parsing/gap-decorations-width-invalid.html
  testing/web-platform/tests/css/css-gaps/tentative/parsing/gap-decorations-width-valid.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950921 [wpt PR 50997] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-gaps/tentative/parsing/gap-decorations-width-computed.html.ini
  testing/web-platform/meta/css/css-gaps/tentative/parsing/gap-decorations-width-valid.html.ini
Due: bugzilla-components, test-manifest

Bug 1947543 [wpt PR 50637] - Update accname/name/comp_host_language_label.html with interior white space tests, a=testonly
  testing/web-platform/tests/accname/name/comp_host_language_label.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950932 [wpt PR 50998] - [carousel] Fix :focus-visible for ::scroll-marker, a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-marker-focus-visible.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950932 [wpt PR 50998] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/scroll-marker-focus-visible.html.ini
Due: bugzilla-components, test-manifest

Bug 1950957 [wpt PR 51001] - Set LimitLayerMergeDistance:limit/16 by default, a=testonly
  testing/web-platform/tests/css/css-images/object-fit-none-png-001c.html
  testing/web-platform/tests/css/css-images/object-fit-none-png-002c.html
  testing/web-platform/tests/css/css-images/object-fit-scale-down-png-001c.html
  testing/web-platform/tests/css/css-images/object-fit-scale-down-png-002c.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950958 [wpt PR 51002] - [SAA] Fix sandboxed iframe WPT test timeouts, a=testonly
  testing/web-platform/tests/storage-access-api/requestStorageAccess-sandboxed-iframe-allow-storage-access.sub.https.window.js
  testing/web-platform/tests/storage-access-api/requestStorageAccess-sandboxed-iframe-no-storage-access.sub.https.window.js
  testing/web-platform/tests/storage-access-api/resources/sandboxed-iframe-allow-storage-access.html
  testing/web-platform/tests/storage-access-api/resources/sandboxed-iframe-no-storage-access.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950959 [wpt PR 51003] - Navigation API: match the spec on popstate firing behavior, a=testonly
  testing/web-platform/tests/navigation-api/commit-behavior/resources/after-transition-commit-helpers.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1950966 [wpt PR 51004] - [anchor] Prevent inlines with interesttarget from being culled., a=testonly
  testing/web-platform/tests/html/semantics/the-button-element/interest-target/interesttarget-plain-inline-element.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm
