Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1853887 - [wdspec] Add wdspec tests for cookies and headers parameters for network.continueResponse r=webdriver-reviewers,Sasha
  testing/web-platform/tests/webdriver/tests/bidi/network/__init__.py
  testing/web-platform/tests/webdriver/tests/bidi/network/continue_response/cookies.py
  testing/web-platform/tests/webdriver/tests/bidi/network/continue_response/headers.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1914018 - Add API on nsIHttpChannelInternal to update the response status r=necko-reviewers,kershaw
  netwerk/protocol/http/HttpChannelChild.h
  netwerk/protocol/http/InterceptedHttpChannel.h
  netwerk/protocol/http/TRRServiceChannel.h
  netwerk/protocol/http/nsHttpChannel.cpp
  netwerk/protocol/http/nsHttpChannel.h
  netwerk/protocol/http/nsIHttpChannelInternal.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1853887 - [wdspec] Add mozilla specific test for immutable header names for network.continueResponse r=webdriver-reviewers,Sasha
  testing/web-platform/mozilla/tests/webdriver/bidi/network/continue_response/__init__.py
  testing/web-platform/mozilla/tests/webdriver/bidi/network/continue_response/headers.py
  testing/web-platform/tests/webdriver/tests/bidi/network/conftest.py
  testing/web-platform/tests/webdriver/tests/support/fixtures_bidi.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1913876 - wasm: Generate and consume call_ref hints unconditionally to avoid dead code mismatches. r=jseward
  js/src/jit-test/tests/wasm/regress/bug1913876.js
  js/src/jit/MacroAssembler.cpp
  js/src/jit/MacroAssembler.h
  js/src/wasm/WasmBCClass.h
  js/src/wasm/WasmBaselineCompile.cpp
  js/src/wasm/WasmCodegenTypes.h
  js/src/wasm/WasmGenerator.cpp
  js/src/wasm/WasmIonCompile.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1914317 - Use c99 flexible array member syntax in nICEr r=webrtc-reviewers,mjf
  dom/media/webrtc/transport/third_party/nICEr/src/stun/nr_socket_buffered_stun.c
Due: bugzilla-components, codespell, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1914661 Part 1 - Rename NS_CSS_MINMAX, and move it into mozilla namespace. r=dholbert
  layout/base/nsLayoutUtils.cpp
  layout/generic/ReflowInput.h
  layout/generic/nsContainerFrame.cpp
  layout/generic/nsFlexContainerFrame.cpp
  layout/generic/nsGridContainerFrame.cpp
  layout/generic/nsIFrame.cpp
  layout/xul/nsSplitterFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914661 Part 3 - Add ReflowInput::SetBResizeForPercentages(). r=dholbert
  layout/generic/ReflowInput.cpp
  layout/generic/ReflowInput.h
  layout/generic/ScrollContainerFrame.cpp
  layout/generic/ViewportFrame.cpp
  layout/generic/nsFlexContainerFrame.cpp
  layout/generic/nsGridContainerFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914661 Part 2 - Remove redundant mozilla:: qualifiers in ReflowInput. r=dholbert
  layout/generic/ReflowInput.cpp
  layout/generic/ReflowInput.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914055 - Make firefox visible when search section is not enabled r=home-newtab-reviewers,thecount
  browser/components/newtab/content-src/components/Base/Base.jsx
  browser/components/newtab/content-src/components/Logo/Logo.jsx
  browser/components/newtab/content-src/components/Logo/_Logo.scss
  browser/components/newtab/content-src/components/Search/Search.jsx
  browser/components/newtab/content-src/components/Search/_Search.scss
  browser/components/newtab/content-src/components/Weather/_Weather.scss
  browser/components/newtab/content-src/styles/_activity-stream.scss
  browser/components/newtab/css/activity-stream-linux.css
  browser/components/newtab/css/activity-stream-mac.css
  browser/components/newtab/css/activity-stream-windows.css
  browser/components/newtab/data/content/activity-stream.bundle.js
  browser/components/newtab/test/unit/content-src/components/Logo.test.jsx
  browser/components/newtab/test/unit/content-src/components/Search.test.jsx
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1914519 - Consolidate vertical mode and rtl checks in tab bar code. r=jswinarton,dwalker
  browser/base/content/test/performance/browser_tabdetach.js
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1867164 - Share logic for serializing PageRule and StyleRule. r=firefox-style-system-reviewers,emilio
  servo/components/style/stylesheets/mod.rs
  servo/components/style/stylesheets/page_rule.rs
  servo/components/style/stylesheets/style_rule.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1907726 - Make sure WebTransportSessionProxy::NotifyDatagramReceived is called after OnStopRequest, r=necko-reviewers,jesup
  netwerk/protocol/webtransport/WebTransportSessionProxy.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1914487 - Newtab move spoc position Nimbus variable into another feature namespace r=home-newtab-reviewers,maxx
  browser/components/newtab/lib/ActivityStream.sys.mjs
  browser/components/newtab/lib/DiscoveryStreamFeed.sys.mjs
  browser/components/newtab/test/unit/lib/DiscoveryStreamFeed.test.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm, newtab-unit-tests

Bug 1912949: Let macOS window manager calculate visible rect of the mouse tracking area. r=mac-reviewers,spohl
  widget/cocoa/nsCocoaWindow.h
  widget/cocoa/nsCocoaWindow.mm
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1904184 - Blame JSON parsing on the JS profiling category r=spidermonkey-reviewers,jesup,jandem
  js/src/builtin/JSON.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 4270bbbfb92d (bug 1898251) for causing frequent marionette failures on test_restore_sidebar.py. CLOSED TREE
  browser/components/sessionstore/test/marionette/test_restore_sidebar.py
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/sidebar-main.css
  browser/themes/shared/browser-shared.css
  browser/themes/shared/sidebar.css
  toolkit/content/widgets/moz-button/moz-button.mjs
Due: bugzilla-components, codespell, eslint, license, py-compat, py-flake8, file-whitespace, file-perm

Bug 1914682. Downgrade old diagnostic asserts in nsIFrame::SetParent and Init. r=dholbert
  layout/generic/nsIFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1211547 - Don't round font scaling for GTK. r=emilio
  gfx/thebes/gfxPlatformGtk.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1772375 - Initial support for MacOS full keyboard access. r=morgan
  accessible/mac/MOXSearchInfo.mm
  accessible/mac/RotorRules.h
  accessible/mac/RotorRules.mm
  accessible/tests/browser/mac/browser_rotor.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1914260 - Update scip-java to version 0.10.3. r=geckoview-reviewers,owlish
  build.gradle
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/toolbar2/src/main/res/values-pa-rPK/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-pa-rPK/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-co/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-pa-rPK/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/fenix/app/src/main/res/values-co/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-skr/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1914350 - Get rid of activity-stream-linux.css / activity-stream-mac.css / activity-stream-windows.css. r=home-newtab-reviewers,desktop-theme-reviewers,emilio,thecount
  browser/base/content/test/static/browser_parsable_css.js
  browser/components/newtab/bin/try-runner.js
  browser/components/newtab/content-src/styles/activity-stream-linux.scss
  browser/components/newtab/content-src/styles/activity-stream-mac.scss
  browser/components/newtab/content-src/styles/activity-stream-windows.scss
  browser/components/newtab/content-src/styles/activity-stream.scss
  browser/components/newtab/css/activity-stream-mac.css
  browser/components/newtab/css/activity-stream-windows.css
  browser/components/newtab/css/activity-stream.css
  browser/components/newtab/jar.mn
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1912245 - don't shutdownhang with Content Analysis request active and default warn policy set r=dlp-reviewers,handyman
  toolkit/components/contentanalysis/ContentAnalysis.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/prompts/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-azb/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-da/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rMX/strings.xml
  mobile/android/fenix/app/src/main/res/values-meh/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1914476 [wpt PR 46008] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=270199, a=testonly
  testing/web-platform/tests/css/filter-effects/css-filters-animation-grayscale.html
  testing/web-platform/tests/css/filter-effects/css-filters-animation-sepia.html
  testing/web-platform/tests/css/filter-effects/filters-grayscale-001-test.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914456 [wpt PR 47745] - IDB WPTs: Extend IDBCursor update() ObjectStore WPTs to run on workers, a=testonly
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore.any.js
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore2.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore3.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore4.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore5.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore6.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore7.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore8.htm
  testing/web-platform/tests/IndexedDB/idbcursor_update_objectstore9.htm
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914303 [wpt PR 47734] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=167406, a=testonly
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-text-ellipsis-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-text-ellipsis.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914303 [wpt PR 47734] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-backgrounds/background-clip/clip-text-ellipsis.html.ini
Due: bugzilla-components, test-manifest

Bug 1914304 [wpt PR 47735] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277865, a=testonly
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-text-text-emphasis-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-text-text-emphasis.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914304 [wpt PR 47735] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-backgrounds/background-clip/clip-text-text-emphasis.html.ini
Due: bugzilla-components, test-manifest

Bug 1914492 [wpt PR 47746] - Test all the assertions about featureless elements, a=testonly
  testing/web-platform/tests/css/selectors/featureless-001.html
  testing/web-platform/tests/css/selectors/featureless-002.html
  testing/web-platform/tests/css/selectors/featureless-003.html
  testing/web-platform/tests/css/selectors/featureless-004.html
  testing/web-platform/tests/css/selectors/featureless-005.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914492 [wpt PR 47746] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/selectors/featureless-004.html.ini
  testing/web-platform/meta/css/selectors/featureless-005.html.ini
Due: bugzilla-components, test-manifest

Bug 1914301 [wpt PR 47733] - Use outline-offset instead of letter-spacing in hypot-pow-sqrt-invalid.html, a=testonly
  testing/web-platform/tests/css/css-values/hypot-pow-sqrt-invalid.html
  testing/web-platform/tests/css/css-values/hypot-pow-sqrt-serialize.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914301 [wpt PR 47733] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/hypot-pow-sqrt-serialize.html.ini
Due: bugzilla-components, test-manifest

Bug 1914506 [wpt PR 47749] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277964, a=testonly
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-box-decoration-break-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-box-decoration-break.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914506 [wpt PR 47749] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-backgrounds/background-clip/clip-border-area-box-decoration-break.html.ini
Due: bugzilla-components, test-manifest

Bug 1914505 [wpt PR 47748] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277910, a=testonly
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-background-geometry-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-background-geometry.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-border-image-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-border-image.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-border-on-top-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-border-on-top.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-multiple-backgrounds-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-multiple-backgrounds.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area-ref.html
  testing/web-platform/tests/css/css-backgrounds/background-clip/clip-border-area.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1914508 [wpt PR 47751] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278143, a=testonly
  testing/web-platform/tests/css/css-masking/clip-path/clip-path-xywh-003.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
