Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1953615 - avoid visibility: hidden frames influencing the window dragging region, r=layout-reviewers,emilio
  layout/painting/nsDisplayList.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952276 - Optimize sanitizing with the default config. r=emilio
  dom/base/StaticAtomSet.h
  dom/base/moz.build
  dom/base/nsTreeSanitizer.cpp
  dom/base/nsTreeSanitizer.h
  dom/security/sanitizer/Sanitizer.cpp
  dom/security/sanitizer/Sanitizer.h
  dom/security/sanitizer/SanitizerDefaultConfig.h
  dom/security/sanitizer/safe-default-configuration.json
  dom/security/sanitizer/update-safe-default-configuration.py
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, file-whitespace, file-perm

Bug 1952153 - [devtools] Only wrap font name in quotes for font preview when font has spaces. a=pascalc.
  devtools/server/actors/utils/style-utils.js
  devtools/server/tests/browser/browser_style_utils_getFontPreviewData.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1953135 - [devtools] Handle multiple font values in getFontPreviewData. a=pascalc.
  devtools/server/actors/utils/style-utils.js
  devtools/server/tests/browser/browser_style_utils_getFontPreviewData.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1952706 - Exporting key material takes not SRTP_MAX_KEY_LENGTH but the actual size a=pascalc
  dom/media/webrtc/transport/transportlayersrtp.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952706: Disable DTLS 1.3 in webrtc a=pascalc
  dom/media/webrtc/tests/mochitests/test_peerConnection_glean.html
  modules/libpref/init/all.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Bug 1845657 - Show app name in redirect dialog r=android-reviewers,android-l10n-reviewers,delphine,rsainani
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksFeature.kt
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksInterceptor.kt
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragment.kt
  mobile/android/android-components/components/feature/app-links/src/main/res/values/strings.xml
  mobile/android/android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/AppLinksInterceptorTest.kt
  mobile/android/android-components/components/feature/app-links/src/test/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragmentTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1953377 - [devtools] Fix Debugger search matches in High Contrast Mode. r=devtools-reviewers,ochameau.
  devtools/client/shared/sourceeditor/codemirror/mozilla.css
  devtools/client/themes/variables.css
Due: bugzilla-components, devtools-tests

Bug 1953376 - [devtools] Fix Debugger gutter border in High Contrast Mode. r=devtools-reviewers,ochameau.
  devtools/client/shared/sourceeditor/codemirror/mozilla.css
  devtools/client/themes/dark-theme.css
  devtools/client/themes/light-theme.css
Due: bugzilla-components, devtools-tests

Backed out changeset 831824b00936 (bug 1950799) for causing CSP related failures. CLOSED TREE
  dom/security/nsContentSecurityUtils.cpp
  toolkit/mozapps/downloads/HelperAppDlg.sys.mjs
  toolkit/mozapps/downloads/content/unknownContentType.xhtml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1850615 Share the same VADisplay across all FFmpegVideoDecoders a=pascalc
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/VALibWrapper.cpp
  dom/media/platforms/ffmpeg/VALibWrapper.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1850615 Share the same libva handle across all FFmpegVideoDecoders a=pascalc
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.cpp
  dom/media/platforms/ffmpeg/FFmpegLibWrapper.h
  dom/media/platforms/ffmpeg/FFmpegRuntimeLinker.cpp
  dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp
  dom/media/platforms/ffmpeg/VALibWrapper.cpp
  dom/media/platforms/ffmpeg/VALibWrapper.h
  dom/media/platforms/ffmpeg/ffvpx/FFVPXRuntimeLinker.cpp
  dom/media/platforms/ffmpeg/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1932503 - [devtools] Wait for initial scroll in browser_dbg-editor-scroll.js r=devtools-reviewers,nchevobbe
  devtools/client/debugger/test/mochitest/browser_dbg-editor-scroll.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

No Bug, mozilla-beta repo-update HSTS HPKP remote-settings tld-suffixes mobile-experiments ct-logs - a=pascalc
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  security/manager/tools/log_list.json
  services/settings/dumps/main/search-telemetry-v2.json
  services/settings/dumps/main/top-sites.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-esr128 repo-update HSTS HPKP remote-settings tld-suffixes - a=pascalc
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/main/search-telemetry-v2.json
  services/settings/dumps/main/top-sites.json
  services/settings/dumps/main/translations-models.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug, mozilla-esr115 repo-update HSTS HPKP remote-settings tld-suffixes - a=pascalc
  netwerk/dns/effective_tld_names.dat
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
  services/settings/dumps/main/search-telemetry-v2.json
  services/settings/dumps/main/top-sites.json
  services/settings/dumps/security-state/intermediates.json
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952856 - Deal with text fragments disabled for now. r=jjaschke
  browser/actors/ContextMenuChild.sys.mjs
Due: bugzilla-components

Bug 1953163 - Make WPT reftest MozAfterPaint handling not depend on dom.send_after_paint_to_content. r=jgraham,webdriver-reviewers
  remote/marionette/actors/MarionetteReftestChild.sys.mjs
Due: bugzilla-components

Bug 1953636 - Bump backdrop of mica popups. r=desktop-theme-reviewers,dao
  toolkit/themes/shared/popup.css
  widget/windows/nsLookAndFeel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm
