Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1947687 - pt 2. found is already known to be true here r=glandium
  memory/build/mozjemalloc.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947687 - pt 1. Correct some comments r=glandium
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_types.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947687 - pt 3. Remove the arena from the list while we still hold the lock r=jstutte
  memory/build/mozjemalloc.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947687 - pt 4. Simplify some code with a do-while loop r=jstutte
  xpcom/threads/TaskController.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947687 - pt 5. Move the dirty page modifier code into #ifdefs r=nical
  gfx/layers/wr/WebRenderBridgeParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947687 - pt 6. ifdef out use of moz_set_max_dirty_page_modifier() r=smaug
  dom/ipc/ContentChild.cpp
  js/src/builtin/TestingFunctions.cpp
  js/src/shell/js.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947687 - pt 8. Perform multiple purge steps without checking the list r=glandium
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc.h
  memory/build/mozmemory.h
  memory/build/replace_malloc_bridge.h
  xpcom/threads/TaskController.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1947687 - pt 7. Move the purge API between sections of malloc_decls.h r=glandium
  memory/build/malloc_decls.h
  tools/profiler/core/memory_hooks.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1945565 - Add ChromeOnly features to Fetch to allow FedCM to work - r=valentin,necko-reviewers,webidl,farre,sefeng,smaug
  dom/fetch/FetchDriver.cpp
  dom/fetch/InternalRequest.cpp
  dom/fetch/InternalRequest.h
  dom/fetch/Request.cpp
  dom/webidl/Request.webidl
  netwerk/protocol/http/HttpBaseChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1945565 - Update FedCM network requests to use the correct CORS parameters - r=emz
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/IdentityNetworkHelpers.cpp
  dom/credentialmanagement/identity/IdentityNetworkHelpers.h
  dom/credentialmanagement/identity/moz.build
  dom/credentialmanagement/identity/tests/mochitest/server_no_accounts_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_simple_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_two_accounts_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_two_providers_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/test_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_accounts.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_providers.html
  toolkit/components/credentialmanagement/CredentialChooserService.sys.mjs
  toolkit/components/credentialmanagement/nsICredentialChooserService.idl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1953049 - Update Ads Context Menu r=home-newtab-reviewers,fluent-reviewers,bolsson,thecount
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSLinkMenu/DSLinkMenu.jsx
  browser/extensions/newtab/content-src/lib/link-menu-options.mjs
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/test/unit/content-src/components/DiscoveryStreamComponents/DSLinkMenu.test.jsx
  browser/locales/en-US/browser/newtab/newtab.ftl
Due: bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1953560 – Add strings for New Tab Custom Wallpapers for Firefox Labs. r=beth,fluent-reviewers,bolsson
  toolkit/locales/en-US/toolkit/firefoxlabs/features.ftl
Due: bugzilla-components, codespell, localization

Bug 1952348 - Add border radius to publisher favicons r=home-newtab-reviewers,npypchenko
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/DSCard/_DSCard.scss
  browser/extensions/newtab/css/activity-stream.css
Due: bugzilla-components

Bug 1951141 - Convert Browsing section in Settings to config r=reusable-components-reviewers,desktop-theme-reviewers,mconley,hjones
  browser/components/preferences/jar.mn
  browser/components/preferences/main.inc.xhtml
  browser/components/preferences/main.js
  browser/components/preferences/preferences.xhtml
  browser/components/preferences/tests/browser.toml
  browser/components/preferences/tests/browser_pip_settings.js
  browser/components/preferences/widgets/setting-group/setting-group.css
  browser/components/preferences/widgets/setting-group/setting-group.mjs
  toolkit/content/preferencesBindings.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1951831 - Part 2: Stories for setting-{group,control} r=reusable-components-reviewers,settings-reviewers,mossop,hjones
  browser/components/preferences/main.js
  browser/components/preferences/widgets/setting-control/setting-control.mjs
  browser/components/preferences/widgets/setting-control/setting-control.stories.mjs
  browser/components/preferences/widgets/setting-group/setting-group.mjs
  browser/components/preferences/widgets/setting-group/setting-group.stories.mjs
  browser/components/storybook/.storybook/main.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1951831 - Part 1: Create setting-control to render a config based setting r=reusable-components-reviewers,mconley,hjones
  browser/components/preferences/findInPage.js
  browser/components/preferences/jar.mn
  browser/components/preferences/preferences.xhtml
  browser/components/preferences/widgets/setting-control/setting-control.mjs
  browser/components/preferences/widgets/setting-group/setting-group.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1953214 - When dragging multiple tabs, update multiselection to reflect that pinned and unpinned tabs cannot be mixed. r=sthompson,tabbrowser-reviewers
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 2 changesets (bug 1945565) for causing bustageson Request.cpp CLOSED TREE
  dom/credentialmanagement/identity/IdentityCredential.cpp
  dom/credentialmanagement/identity/IdentityNetworkHelpers.cpp
  dom/credentialmanagement/identity/IdentityNetworkHelpers.h
  dom/credentialmanagement/identity/moz.build
  dom/credentialmanagement/identity/tests/mochitest/server_no_accounts_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_simple_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_two_accounts_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/server_two_providers_idtoken.sjs
  dom/credentialmanagement/identity/tests/mochitest/test_simple.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_accounts.html
  dom/credentialmanagement/identity/tests/mochitest/test_two_providers.html
  dom/fetch/FetchDriver.cpp
  dom/fetch/InternalRequest.cpp
  dom/fetch/InternalRequest.h
  dom/fetch/Request.cpp
  dom/webidl/Request.webidl
  netwerk/protocol/http/HttpBaseChannel.cpp
  toolkit/components/credentialmanagement/CredentialChooserService.sys.mjs
  toolkit/components/credentialmanagement/nsICredentialChooserService.idl
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-in/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/focus-android/app/src/main/res/values-bs/strings.xml
  mobile/android/focus-android/app/src/main/res/values-cy/strings.xml
  mobile/android/focus-android/app/src/main/res/values-fur/strings.xml
  mobile/android/focus-android/app/src/main/res/values-it/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rHK/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1945059 - ensure loading state is displayed after navigating to a PDP from recommendation click. r=shopping-reviewers,fchasen
  browser/components/shopping/ReviewCheckerParent.sys.mjs
  browser/components/shopping/tests/browser/browser_reviewchecker_sidebar.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1760085 - disable test_purge_trackers.js on linux for causing frequent failures. r?#intermittent-reviewers
  toolkit/components/antitracking/test/xpcshell/xpcshell.toml
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
