Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1952339 - Vendor libwebrtc from cf9f85f12f
  third_party/libwebrtc/README.mozilla.last-vendor
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1952339 - Vendor libwebrtc from e42e3e6ec1
  third_party/libwebrtc/README.mozilla.last-vendor
  third_party/libwebrtc/call/version.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1952339 - Vendor libwebrtc from d8d041046e
  third_party/libwebrtc/README.mozilla.last-vendor
  third_party/libwebrtc/moz-patch-stack/0128.patch
  third_party/libwebrtc/pc/BUILD.gn
  third_party/libwebrtc/pc/ice_server_parsing.cc
  third_party/libwebrtc/pc/ice_server_parsing.h
  third_party/libwebrtc/pc/peer_connection.cc
  third_party/libwebrtc/pc/peer_connection.h
  third_party/libwebrtc/pc/peer_connection_factory.cc
  third_party/libwebrtc/pc/sdp_offer_answer.cc
  third_party/libwebrtc/pc/sdp_offer_answer.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952339 - Vendor libwebrtc from 231ece13b7
  third_party/libwebrtc/README.mozilla.last-vendor
  third_party/libwebrtc/rtc_base/experiments/quality_scaling_experiment.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1952339 - Vendor libwebrtc from c896e3a5b5
  third_party/libwebrtc/README.mozilla.last-vendor
  third_party/libwebrtc/audio/audio_receive_stream.h
  third_party/libwebrtc/audio/audio_state.cc
  third_party/libwebrtc/audio/audio_state_unittest.cc
  third_party/libwebrtc/call/BUILD.gn
  third_party/libwebrtc/call/audio_receive_stream.h
  third_party/libwebrtc/call/test/mock_audio_receive_stream.h
  third_party/libwebrtc/media/BUILD.gn
  third_party/libwebrtc/media/engine/fake_webrtc_call.h
  third_party/libwebrtc/moz-patch-stack/0001.patch
  third_party/libwebrtc/moz-patch-stack/0030.patch
  third_party/libwebrtc/moz-patch-stack/0040.patch
  third_party/libwebrtc/moz-patch-stack/0052.patch
  third_party/libwebrtc/moz-patch-stack/0101.patch
  third_party/libwebrtc/moz-patch-stack/0126.patch
  third_party/libwebrtc/moz-patch-stack/0128.patch
  third_party/libwebrtc/moz-patch-stack/0136.patch
  third_party/libwebrtc/moz-patch-stack/0141.patch
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1940377 - part 1: Make `WhiteSpaceVisibilityKeeper::InsertTextOrInsertOrUpdateCompositionString` support blink compatible white-space sequence r=m_kato
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorBase.h
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditUtils.h
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorNestedClasses.h
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insertlinebreak.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/inserttext.tentative.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1940377 - part 3: Make "insert paragraph" handlers use the new normalizer if it's enabled r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1940377 - part 2: Make `HandleInsertLineBreak` use the new normalizer if it's available r=m_kato
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorNestedClasses.h
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insertlinebreak.tentative.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1940377 - part 4: Make `HTMLEditor` normalize white-spaces before inserting HTML fragment if the new normalizer is enabled r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditorDataTransfer.cpp
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insert-or-paste-image.tentative.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1940377 - part 6: Make delete handlers use the new white-space normalizer r=m_kato
  editor/libeditor/AutoClonedRangeArray.cpp
  editor/libeditor/AutoClonedRangeArray.h
  editor/libeditor/EditorDOMPoint.h
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/HTMLEditorNestedClasses.h
  editor/libeditor/SelectionState.h
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
  testing/web-platform/meta/editing/whitespaces/chrome-compat/delete-img.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/forwarddelete-to-join-blocks.tentative.html.ini
  testing/web-platform/meta/editing/whitespaces/chrome-compat/forwarddelete.tentative.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1940377 - part 5: Make `HTMLEditor::InsertElementAtSelectionAsAction` normalize white-spaces around the insertion point if the new normalizer is enabled r=m_kato
  editor/libeditor/HTMLEditor.cpp
  testing/web-platform/meta/editing/whitespaces/chrome-compat/insert-or-paste-image.tentative.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1940377 - part 8: Make `HTMLEditor` stop normalizing white-spaces during initialization r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1940377 - part 7: Make `HTMLEditor` normalize surrounding white-spaces of commit string r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.cpp
  editor/libeditor/WhiteSpaceVisibilityKeeper.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1940377 - part 9: Update mochitests to assume the new normalizer's result if it's enabled r=m_kato
  browser/base/content/test/general/browser_clipboard.js
  docshell/test/navigation/test_bug386782.html
  dom/base/test/copypaste.js
  editor/libeditor/tests/test_bug1314790.html
  editor/libeditor/tests/test_bug1315065.html
  editor/libeditor/tests/test_bug430392.html
  editor/libeditor/tests/test_bug857487.html
  editor/libeditor/tests/test_dom_input_event_on_htmleditor.html
  editor/spellchecker/tests/test_bug1418629.html
  widget/tests/window_composition_text_querycontent.xhtml
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1952339 - Vendor libwebrtc from 68cc69b2b6
  third_party/libwebrtc/README.mozilla.last-vendor
  third_party/libwebrtc/pc/peer_connection.cc
  third_party/libwebrtc/pc/peer_connection.h
  third_party/libwebrtc/pc/peer_connection_factory.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952339 - Vendor libwebrtc from caae8ec03b
  third_party/libwebrtc/README.mozilla.last-vendor
  third_party/libwebrtc/moz-patch-stack/0128.patch
  third_party/libwebrtc/pc/BUILD.gn
  third_party/libwebrtc/pc/codec_vendor.cc
  third_party/libwebrtc/pc/codec_vendor.h
  third_party/libwebrtc/pc/codec_vendor_unittest.cc
  third_party/libwebrtc/pc/media_session.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/fenix/app/src/main/res/values-ast/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-in/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
  mobile/android/focus-android/app/src/main/res/values-cs/strings.xml
  mobile/android/focus-android/app/src/main/res/values-el/strings.xml
  mobile/android/focus-android/app/src/main/res/values-eu/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/focus-android/app/src/main/res/values-tr/strings.xml
  mobile/android/focus-android/app/src/main/res/values-zh-rCN/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rMX/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rMX/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-in/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-lo/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/focus-android/app/src/main/res/values-fi/strings.xml
  mobile/android/focus-android/app/src/main/res/values-hu/strings.xml
  mobile/android/focus-android/app/src/main/res/values-kk/strings.xml
  mobile/android/focus-android/app/src/main/res/values-lo/strings.xml
  mobile/android/focus-android/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/focus-android/app/src/main/res/values-pl/strings.xml
  mobile/android/focus-android/app/src/main/res/values-sk/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1183844 - Make `backColor` getter method never stop scanning ancestors of the closest ancestor block r=m_kato
  editor/libeditor/HTMLEditUtils.cpp
  editor/libeditor/HTMLEditUtils.h
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/tests/browserscope/lib/richtext2/currentStatus.js
  editor/libeditor/tests/test_bug408231.html
  testing/web-platform/meta/editing/run/backcolor.html.ini
  testing/web-platform/meta/editing/run/hilitecolor.html.ini
  testing/web-platform/meta/editing/run/multitest.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, file-whitespace, file-perm
