Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1944165 [wpt PR 50320] - DOM: Simplify Observable async iterable subscription, a=testonly
  testing/web-platform/tests/dom/observable/tentative/observable-from.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944165 [wpt PR 50320] - Update wpt metadata, a=testonly
  testing/web-platform/meta/dom/observable/tentative/observable-from.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1944200 [wpt PR 50326] - [ReferenceTarget] return null if reference target points to invalid ID, a=testonly
  testing/web-platform/tests/shadow-dom/reference-target/tentative/dom-mutation.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944200 [wpt PR 50326] - Update wpt metadata, a=testonly
  testing/web-platform/meta/shadow-dom/reference-target/tentative/dom-mutation.html.ini
Due: bugzilla-components, test-manifest

Bug 1944199 [wpt PR 50325] - Check the requestMethod field with addRoutes(), a=testonly
  testing/web-platform/tests/service-workers/service-worker/resources/router-rules.js
  testing/web-platform/tests/service-workers/service-worker/static-router-invalid-rules.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944199 [wpt PR 50325] - Update wpt metadata, a=testonly
  testing/web-platform/meta/service-workers/service-worker/static-router-invalid-rules.https.html.ini
Due: bugzilla-components, test-manifest

Bug 1944195 [wpt PR 50324] - Fix WPTs failing since the switch to headless_shell, a=testonly
  testing/web-platform/tests/editing/other/html-text-copy-paste-of-anchor-with-href-in-content-editable.html
  testing/web-platform/tests/editing/other/paste-in-list-with-inline-style.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944195 [wpt PR 50324] - Update wpt metadata, a=testonly
  testing/web-platform/meta/editing/other/html-text-copy-paste-of-anchor-with-href-in-content-editable.html.ini
Due: bugzilla-components, test-manifest

Bug 1944096 [wpt PR 50309] - [carousel] Fix hit test for scroll button's anonymous text content, a=testonly
  testing/web-platform/tests/css/css-overflow/scroll-button-activation-content-hit-test.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944096 [wpt PR 50309] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/scroll-button-activation-content-hit-test.html.ini
Due: bugzilla-components, test-manifest

Bug 1943976 [wpt PR 50295] - Add trusted types tests for setAttribute that are not sinks., a=testonly
  testing/web-platform/tests/trusted-types/set-event-handlers-content-attributes.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944223 [wpt PR 50329] - Revert "Check use of NavigateEvent.sourceElement", a=testonly
  testing/web-platform/tests/navigation-api/navigate-event/event-constructor.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-anchor-cross-origin.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-anchor-download-userInitiated.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-anchor-download.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-anchor-fragment.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-anchor-same-origin-cross-document.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-anchor-userInitiated.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-anchor-with-target.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-destination-getState-back-forward.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-destination-getState-navigate.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-destination-getState-reload.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-form-get.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-form-reload.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-form-traverse.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-form-userInitiated.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-form-with-target.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-form.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-history-back-after-fragment.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-history-back-after-pushState.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-history-back-cross-document.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-history-go-0.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-history-pushState.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-history-replaceState.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-iframe-location.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-location.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-meta-refresh.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-navigation-back-cross-document.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-navigation-back-same-document-in-iframe.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-navigation-back-same-document.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-navigation-navigate.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-svg-anchor-fragment.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-to-srcdoc.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-window-open-self.html
  testing/web-platform/tests/navigation-api/navigate-event/navigate-window-open.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1943976 [wpt PR 50295] - Update wpt metadata, a=testonly
  testing/web-platform/meta/trusted-types/set-event-handlers-content-attributes.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1944235 [wpt PR 50330] - [Editing] Address inconsistencies in applying InsertListCommand, a=testonly
  testing/web-platform/tests/editing/data/insertorderedlist.js
  testing/web-platform/tests/editing/data/insertunorderedlist.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944235 [wpt PR 50330] - Update wpt metadata, a=testonly
  testing/web-platform/meta/editing/run/insertorderedlist.html.ini
  testing/web-platform/meta/editing/run/insertunorderedlist.html.ini
Due: bugzilla-components, test-manifest

Bug 1944249 [wpt PR 50331] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-fonts/idlharness.html.ini
Due: bugzilla-components, test-manifest

Bug 1944249 [wpt PR 50331] - Updated idl srcs in css-fonts/idlharness.html, a=testonly
  testing/web-platform/tests/css/css-fonts/idlharness.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944250 [wpt PR 50332] - Skip interactivity:inert for window.find(), a=testonly
  testing/web-platform/tests/css/css-ui/interactivity-inert-find.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944250 [wpt PR 50332] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/interactivity-inert-find.html.ini
Due: bugzilla-components, test-manifest

Bug 1944254 [wpt PR 50333] - [line-clamp] Test that the ellipsis behaves like `line-height: 0`, a=testonly
  testing/web-platform/tests/css/css-overflow/line-clamp/block-ellipsis-010.html
  testing/web-platform/tests/css/css-overflow/line-clamp/reference/block-ellipsis-010-alt-ref.html
  testing/web-platform/tests/css/css-overflow/line-clamp/reference/block-ellipsis-010-ref.html
  testing/web-platform/tests/lint.ignore
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944254 [wpt PR 50333] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-overflow/line-clamp/block-ellipsis-010.html.ini
Due: bugzilla-components, test-manifest

Bug 1944208 [wpt PR 50328] - WebKit export of https://bugs.webkit.org/show_bug.cgi?id=257575, a=testonly
  testing/web-platform/tests/css/css-tables/out-of-order-elements-collapsed-border-ref.html
  testing/web-platform/tests/css/css-tables/out-of-order-elements-collapsed-border.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944257 [wpt PR 50334] - Fix a DCHECK when parsing malformed aN+b selectors., a=testonly
  testing/web-platform/tests/css/selectors/nth-child-spurious-brace-crash.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1944351 - [wpt-sync] Update web-platform-tests to c3b8c1186bb1f3a4aedaff5311126aacb90cc868, a=testonly
  testing/web-platform/meta/accelerometer/Accelerometer-enabled-by-feature-policy-attribute-redirect-on-load.https.html.ini
  testing/web-platform/meta/fetch/fetch-later/new-window.tentative.https.window.js.ini
  testing/web-platform/meta/fetch/fetch-later/quota/cross-origin-iframe/multiple-iframes.tentative.https.window.js.ini
  testing/web-platform/meta/fetch/fetch-later/quota/cross-origin-iframe/oversized-payload.tentative.https.window.js.ini
  testing/web-platform/meta/fetch/metadata/generated/window-history.https.sub.html.ini
  testing/web-platform/meta/html/dom/render-blocking/element-render-blocking-036.html.ini
  testing/web-platform/meta/html/semantics/embedded-content/the-img-element/relevant-mutations-lazy.html.ini
  testing/web-platform/meta/html/semantics/the-button-element/interest-target/interesttarget-svg-a-event-dispatch.tentative.html.ini
  testing/web-platform/meta/long-animation-frame/tentative/loaf-onmessage.html.ini
  testing/web-platform/meta/mozilla-sync
  testing/web-platform/meta/pointerevents/pointerevent_after_target_removed.html.ini
  testing/web-platform/meta/pointerevents/pointerevent_click_is_a_pointerevent.html.ini
  testing/web-platform/meta/scroll-animations/view-timelines/inline-subject.html.ini
  testing/web-platform/meta/service-workers/service-worker/static-router-invalid-rules.https.html.ini
  testing/web-platform/meta/shadow-dom/reference-target/tentative/dom-mutation.html.ini
  testing/web-platform/meta/speculation-rules/prerender/restriction-sensor-ambient-light-sensor.https.html.ini
  testing/web-platform/meta/uievents/mouse/mousemove_after_mouseover_target_removed.html.ini
  testing/web-platform/meta/webaudio/the-audio-api/the-channelmergernode-interface/active-processing.https.html.ini
  testing/web-platform/meta/webcodecs/videoDecoder-codec-specific.https.any.js.ini
  testing/web-platform/meta/webrtc/simulcast/setParameters-maxFramerate.https.html.ini
Due: bugzilla-components, test-manifest

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1829935 - Fix typo in patch D235095 r=necko-reviewers,valentin
  netwerk/test/browser/browser.toml
Due: bugzilla-components

Bug 1767750 - [devtools] Disable browser_application_panel_telemetry-debug-worker on TSAN r=devtools-reviewers,nchevobbe
  devtools/client/application/test/browser/browser.toml
Due: bugzilla-components, devtools-tests

Bug 1944415 - [wdspec] Handle invalid UTF-8 when reading minidump .extra files. r=webdriver-reviewers,jdescottes
  testing/web-platform/mozilla/tests/webdriver/harness/detect_crash.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, wptlint-gecko, file-whitespace

Bug 1936728 - Use standard data types for MozVirtualAlloc() r=glandium
  memory/build/mozjemalloc.cpp
  memory/build/mozmemory_utils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out 5 changesets (bug 1938624) for causing multiple perma failures CLOSED TREE
  accessible/base/ARIAMap.cpp
  accessible/base/RoleMap.h
  accessible/basetypes/Accessible.cpp
  accessible/basetypes/Accessible.h
  accessible/generic/LocalAccessible.cpp
  accessible/generic/LocalAccessible.h
  accessible/html/HTMLFormControlAccessible.cpp
  accessible/interfaces/nsIAccessibleRole.idl
  accessible/ios/MUIAccessible.mm
  accessible/ipc/RemoteAccessible.cpp
  accessible/ipc/RemoteAccessible.h
  accessible/mac/mozTextAccessible.h
  accessible/mac/mozTextAccessible.mm
  accessible/tests/browser/mac/browser_roles_elements.js
  accessible/tests/browser/role/browser_computedARIARole.js
  accessible/tests/browser/tree/browser_searchbar.js
  accessible/tests/mochitest/elm/test_HTMLSpec.html
  accessible/tests/mochitest/role.js
  accessible/tests/mochitest/role/test_aria.html
  testing/web-platform/tests/html-aam/roles.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1940049 - Implement Trusted Types support for SVGAnimatedString's baseVal. r=longsonr,smaug
  dom/svg/DOMSVGAnimatedString.h
  dom/svg/SVGAnimatedClassOrString.cpp
  dom/svg/SVGAnimatedClassOrString.h
  dom/svg/SVGAnimatedString.cpp
  dom/svg/SVGAnimatedString.h
  dom/svg/SVGScriptElement.h
  dom/webidl/SVGAnimatedString.webidl
  testing/web-platform/meta/trusted-types/trusted-types-reporting.html.ini
  testing/web-platform/meta/trusted-types/trusted-types-svg-script-set-href.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1943551 - [remote] Don't run HTTPS-First upgrades for WebDriver navigation APIs. r=webdriver-reviewers,simonf,Sasha
  remote/marionette/navigate.sys.mjs
  remote/webdriver-bidi/modules/root/browsingContext.sys.mjs
  testing/firefox-ui/tests/functional/security/manifest.toml
  testing/firefox-ui/tests/functional/security/test_https_first.py
  testing/marionette/client/marionette_driver/__init__.py
  testing/web-platform/mozilla/meta/webdriver/classic/navigate_to/https_upgrade.py.ini
  testing/web-platform/mozilla/tests/webdriver/bidi/browsing_context/navigate/https_upgrade.py
  testing/web-platform/mozilla/tests/webdriver/classic/navigate_to/__init__.py
  testing/web-platform/mozilla/tests/webdriver/classic/navigate_to/https_upgrade.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, test-manifest, wptlint-gecko, file-whitespace

Bug 1943715. Handle (ignore) invalid color primaries and transfer characteristics in the cicp chunk of pngs. r=gfx-reviewers,aosmond,lsalzman
  gfx/qcms/src/iccread.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Bug 1944040 - Minimize memory in getTotalMemoryUsage. r=tarek,xpcom-reviewers,mccr8
  toolkit/components/ml/tests/browser/head.js
  xpcom/base/nsIMemoryReporter.idl
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1923143 part 3 - Add a OpenTelemetry C++ based tracing component r=jari,nika
  toolkit/components/gecko-trace/GeckoTrace.cpp
  toolkit/components/gecko-trace/GeckoTrace.h
  toolkit/components/gecko-trace/moz.build
  toolkit/components/moz.build
  xpcom/base/Logging.cpp
  xpcom/build/XPCOMInit.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1923143 part 2 - Patch opentelemetry-cpp with mozbuild files r=jari,nika
  third_party/opentelemetry-cpp/api/include/opentelemetry/context/context_value.h
  third_party/opentelemetry-cpp/api/include/opentelemetry/std/variant.h
  third_party/opentelemetry-cpp/exporters/ostream/moz.build
  third_party/opentelemetry-cpp/moz.build
  third_party/opentelemetry-cpp/moz.yaml
  third_party/opentelemetry-cpp/opentelemetry-config.mozbuild
  third_party/opentelemetry-cpp/patches/fix-ambiguous-holds_alternative.patch
  third_party/opentelemetry-cpp/patches/remove-non-vendored-context_value-variant.patch
  third_party/opentelemetry-cpp/sdk/src/common/moz.build
  third_party/opentelemetry-cpp/sdk/src/moz.build
  third_party/opentelemetry-cpp/sdk/src/resource/moz.build
  third_party/opentelemetry-cpp/sdk/src/trace/moz.build
  third_party/opentelemetry-cpp/sdk/src/version/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1944080 - add getBestConcurrency r=padenot
  toolkit/components/ml/MLUtils.cpp
  toolkit/components/ml/actors/MLEngineChild.sys.mjs
  toolkit/components/ml/content/ONNXPipeline.mjs
  toolkit/components/ml/nsIMLUtils.idl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1210175 - Implement simulcast for H264 behind a pref and enable it by default. r=webrtc-reviewers,bwc
  dom/media/webrtc/libwebrtcglue/WebrtcGmpVideoCodec.cpp
  dom/media/webrtc/libwebrtcglue/WebrtcVideoCodecFactory.cpp
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/webrtc/RTCRtpParameters-codec.html.ini
  testing/web-platform/meta/webrtc/simulcast/h264.https.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, test-manifest, yaml, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
