Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1717575 - Check given attributes for null before iterating. r=morgan, a=jcristau
  accessible/atk/AccessibleWrap.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1721903 - Add the error code when we fail to Map a tile. a=jcristau
  gfx/webrender_bindings/RenderCompositorD3D11SWGL.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1704404 - Apply an explicit line-height to tab labels, in case the title uses fallback fonts with excessive ascent/descent metrics. r=jaws, a=jcristau
  browser/base/content/tabbrowser.css
Due: bugzilla-components

Bug 1718329 - Gracefully handle device reset when mapping tiles with SW-WR + D3D11 compositing. r=jrmuizel, a=jcristau
  gfx/webrender_bindings/RenderCompositorD3D11SWGL.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1720369: Avoid showing adaptive history of different private-browsing mode as switch-to-tab. r=adw, a=jcristau
  browser/components/urlbar/UrlbarProviderInputHistory.jsm
  browser/components/urlbar/tests/browser/browser_inputHistory.js
Due: bugzilla-components, codespell, eslint, license, file-perm

No Bug, mozilla-release repo-update remote-settings - a=repo-update r=RyanVM
  services/settings/dumps/blocklists/addons-bloomfilters.json
Due: bugzilla-components

No Bug, mozilla-release repo-update remote-settings - a=repo-update, r=jcristau
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/onecrl.json
Due: bugzilla-components

Bug 1725492 - Disable search query collection for Firefox Suggest. r=adw, a=jcristau
  browser/components/urlbar/UrlbarProviderQuickSuggest.jsm
  browser/components/urlbar/tests/browser/browser_urlbar_telemetry_quicksuggest.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1724896 - Sanitize headers. r=necko-reviewers,valentin, a=jcristau
  netwerk/socket/neqo_glue/src/lib.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Export some header files after upgrading highway.
  media/highway/moz.build
Due: bugzilla-components

No Bug, mozilla-release repo-update remote-settings - a=repo-update r=jcristau
  services/settings/dumps/blocklists/addons-bloomfilters.json
Due: bugzilla-components

No bug - bump version to 91.0.1. a=release
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
Due: bugzilla-components

highway 0.14.2
  media/highway/moz.yaml
  third_party/highway/CMakeLists.txt
  third_party/highway/README.md
  third_party/highway/debian/changelog
  third_party/highway/hwy/aligned_allocator.cc
  third_party/highway/hwy/aligned_allocator_test.cc
  third_party/highway/hwy/base.h
  third_party/highway/hwy/contrib/math/math-inl.h
  third_party/highway/hwy/contrib/math/math_test.cc
  third_party/highway/hwy/detect_targets.h
  third_party/highway/hwy/examples/benchmark.cc
  third_party/highway/hwy/examples/skeleton.cc
  third_party/highway/hwy/highway.h
  third_party/highway/hwy/highway_test.cc
  third_party/highway/hwy/nanobenchmark.cc
  third_party/highway/hwy/nanobenchmark_test.cc
  third_party/highway/hwy/ops/arm_neon-inl.h
  third_party/highway/hwy/ops/arm_sve-inl.h
  third_party/highway/hwy/ops/rvv-inl.h
  third_party/highway/hwy/ops/scalar-inl.h
  third_party/highway/hwy/ops/set_macros-inl.h
  third_party/highway/hwy/ops/shared-inl.h
  third_party/highway/hwy/ops/wasm_128-inl.h
  third_party/highway/hwy/ops/x86_128-inl.h
  third_party/highway/hwy/ops/x86_256-inl.h
  third_party/highway/hwy/ops/x86_512-inl.h
  third_party/highway/hwy/targets.cc
  third_party/highway/hwy/targets_test.cc
  third_party/highway/hwy/tests/arithmetic_test.cc
  third_party/highway/hwy/tests/blockwise_test.cc
  third_party/highway/hwy/tests/combine_test.cc
  third_party/highway/hwy/tests/convert_test.cc
  third_party/highway/hwy/tests/list_targets.cc
  third_party/highway/hwy/tests/logical_test.cc
  third_party/highway/hwy/tests/mask_test.cc
  third_party/highway/hwy/tests/memory_test.cc
  third_party/highway/hwy/tests/swizzle_test.cc
  third_party/highway/hwy/tests/test_util-inl.h
  third_party/highway/run_tests.bat
  third_party/highway/run_tests.sh
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, yaml, shellcheck, file-whitespace, file-perm

Bug 1738908 - turn off all cron jobs on esr78 because EOL. r=mtabara a=release DONTBUILD
  .cron.yml
Due: bugzilla-components, yaml

Bug 1739008 - [marionette] Monitor navigation using the webprogresslistener for NewSession. r=whimboo, a=RyanVM
  remote/marionette/driver.js
  remote/marionette/navigate.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Create LICENSE
  LICENSE
Due: bugzilla-components

Update LICENSE
  LICENSE
Due: bugzilla-components

Add files via upload
  Background.png
Due: bugzilla-components

Update README.txt
  README.txt
Due: bugzilla-components

Rename README.txt to README.md
  README.md
Due: bugzilla-components

Update README.md
  README.md
Due: bugzilla-components

Create README.md
  ブラウザ /拡張機能 /README.md
Due: bugzilla-components

Create Install_Linux
  Install_Linux
Due: bugzilla-components

Update Install_Linux
  Install_Linux
Due: bugzilla-components

Rename Install_Linux to Install_Linux.md
  Install_Linux.md
Due: bugzilla-components

Update Install_Linux.md
  Install_Linux.md
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
