Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

WIP
  dom/base/ChromeUtils.cpp
  dom/base/ChromeUtils.h
  dom/base/nsFrameMessageManager.cpp
  dom/chrome-webidl/ChromeUtils.webidl
  dom/console/Console.cpp
  dom/ipc/BrowserChild.cpp
  dom/ipc/BrowserParent.cpp
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  ipc/glue/CrashReporterHost.cpp
  ipc/glue/MessageChannel.cpp
  ipc/ipdl/sync-messages.ini
  js/src/debugger/Debugger.cpp
  js/xpconnect/src/nsXPConnect.cpp
  toolkit/recordreplay/Callback.cpp
  toolkit/recordreplay/ipc/Channel.cpp
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildIPC.h
  toolkit/recordreplay/ipc/ChildProcess.cpp
  toolkit/recordreplay/ipc/DisabledIPC.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/ParentForwarding.cpp
  toolkit/recordreplay/ipc/ParentGraphics.cpp
  toolkit/recordreplay/ipc/ParentIPC.cpp
  toolkit/recordreplay/ipc/ParentIPC.h
  toolkit/recordreplay/ipc/Watchdog.cpp
  toolkit/recordreplay/moz.build
  xpcom/threads/nsThread.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

WIP
  dom/ipc/BrowserHost.cpp
  toolkit/recordreplay/ProcessRecordReplay.cpp
  toolkit/recordreplay/ipc/Channel.cpp
  toolkit/recordreplay/ipc/Channel.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildInternal.h
  toolkit/recordreplay/ipc/ChildProcess.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
  toolkit/recordreplay/ipc/ParentForwarding.cpp
  toolkit/recordreplay/ipc/ParentGraphics.cpp
  toolkit/recordreplay/ipc/ParentIPC.cpp
  toolkit/recordreplay/ipc/ParentInternal.h
  toolkit/recordreplay/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Reenable event logpoints.
  devtools/client/debugger/src/client/firefox/commands.js
  devtools/client/debugger/src/components/SecondaryPanes/index.js
  devtools/server/actors/thread.js
  devtools/shared/specs/thread.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Trim obsolete replay connection code.
  devtools/server/actors/replay/connection-worker.js
  devtools/server/actors/replay/connection.js
  devtools/server/actors/replay/rrIConnection.idl
  toolkit/recordreplay/ipc/ParentIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Fix recording process issues.
  devtools/server/actors/replay/connection-worker.js
  devtools/server/actors/replay/module.js
  devtools/startup/DevToolsStartup.jsm
  js/ductwork/debugger/JSDebugger.cpp
  toolkit/recordreplay/ProcessRecordReplay.cpp
  toolkit/recordreplay/ProcessRecordReplay.h
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Receive recording data in UI process.
  devtools/server/actors/replay/connection.js
  devtools/server/actors/replay/module.js
  toolkit/recordreplay/ProcessRecordReplay.cpp
  toolkit/recordreplay/ProcessRewind.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
  toolkit/recordreplay/ipc/ParentIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Include graphics in recording summaries.
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

WIP
  browser/base/content/browser.js
  browser/components/urlbar/UrlbarInput.jsm
  devtools/server/actors/replay/connection-worker.js
  devtools/server/actors/replay/connection.js
  devtools/server/actors/replay/module.js
  devtools/startup/DevToolsStartup.jsm
  docshell/base/nsDocShell.cpp
  dom/interfaces/base/nsIRemoteTab.idl
  dom/ipc/BrowserHost.cpp
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  toolkit/recordreplay/ProcessRecordReplay.cpp
  toolkit/recordreplay/ProcessRecordReplay.h
  toolkit/recordreplay/ProcessRewind.cpp
  toolkit/recordreplay/ProcessRewind.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildIPC.h
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Fix issues recording via WRP.
  browser/components/customizableui/content/panelUI.inc.xhtml
  devtools/server/actors/replay/connection-worker.js
  devtools/server/actors/replay/connection.js
  devtools/server/actors/replay/module.js
  devtools/server/actors/replay/rrIConnection.idl
  devtools/startup/DevToolsStartup.jsm
  dom/ipc/ContentParent.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/ParentIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Create recording on same socket used to upload.
  devtools/server/actors/replay/connection.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Update about:webreplay
  docshell/base/nsAboutRedirector.cpp
  toolkit/content/aboutWebReplay.css
  toolkit/content/aboutWebReplay.xhtml
  toolkit/content/aboutWebReplay/aboutWebReplay.css
  toolkit/content/aboutWebReplay/aboutWebReplay.js
  toolkit/content/aboutWebReplay/assets/link.svg
  toolkit/content/aboutWebReplay/assets/trash.svg
  toolkit/content/aboutWebReplay/assets/web-replay.svg
  toolkit/content/aboutWebReplay/index.html
  toolkit/content/jar.mn
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Fix display of no-recordings notification.
  toolkit/content/aboutWebReplay/aboutWebReplay.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Allow overriding server used for devtools viewer.
  devtools/startup/DevToolsStartup.jsm
  modules/libpref/init/all.js
Due: bugzilla-components, codespell, eslint, license, lintpref, file-perm

Include last screen in recording description.
  devtools/server/actors/replay/module.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Specify recording duration in milliseconds.
  devtools/server/actors/replay/module.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Remove execution point utils.
  devtools/server/actors/replay/module.js
  devtools/shared/execution-point-utils.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

WIP
  devtools/shared/moz.build
  toolkit/recordreplay/ProcessRecordReplay.cpp
  toolkit/recordreplay/ProcessRecordReplay.h
  toolkit/recordreplay/ipc/Channel.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm, devtools-tests

WIP
  devtools/server/actors/replay/module.js
  js/src/jsexn.cpp
  toolkit/recordreplay/ProcessRecordReplay.cpp
  toolkit/recordreplay/ProcessRecordReplay.h
  toolkit/recordreplay/ProcessRewind.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1633568 - AdjustHelper can inform more listeners about Attribution changes. r=Grisha, a=RyanVM
  mobile/android/base/java/org/mozilla/gecko/adjust/AdjustBrowserAppDelegate.java
  mobile/android/base/java/org/mozilla/gecko/adjust/AdjustHelper.java
  mobile/android/base/java/org/mozilla/gecko/adjust/AdjustHelperInterface.java
  mobile/android/base/java/org/mozilla/gecko/adjust/AttributionHelperListener.java
  mobile/android/base/java/org/mozilla/gecko/adjust/StubAdjustHelper.java
  mobile/android/base/java/org/mozilla/gecko/telemetry/TelemetryCorePingDelegate.java
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

pass phase to event method
  devtools/server/actors/replay/module.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1633568 - Document the installation ping. r=frank, a=RyanVM
  toolkit/components/telemetry/docs/data/installation-ping.rst
Due: bugzilla-components, codespell, rst

Restore missing svgs
  devtools/client/jar.mn
  devtools/client/themes/images/cloud-recordings.svg
  devtools/client/themes/images/command-replay.svg
Due: bugzilla-components, devtools-tests

Allow sending cpmm messages during local tests
  devtools/server/actors/replay/module.js
  dom/base/nsGlobalWindowInner.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Fix bug reducing the number of generated checkpoints.
  toolkit/recordreplay/ProcessRewind.cpp
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildInternal.h
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Update lastScreen for new PDL format.
  devtools/server/actors/replay/module.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Support fetching graphics in recording process when there is an off thread paint in progress
  toolkit/recordreplay/ProcessRecordReplay.cpp
  toolkit/recordreplay/ipc/ChildIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Remove code for drawing cursors
  devtools/server/actors/replay/graphics.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Pass test URL to viewer when set in environment
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1633568 - Introduce a installation ping. r=Grisha, a=RyanVM
  mobile/android/base/java/org/mozilla/gecko/BrowserApp.java
  mobile/android/base/java/org/mozilla/gecko/telemetry/TelemetryInstallationPingDelegate.java
  mobile/android/base/java/org/mozilla/gecko/telemetry/pingbuilders/TelemetryInstallationPingBuilder.java
  mobile/android/base/java/org/mozilla/gecko/telemetry/stores/TelemetryInstallationPingStore.java
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bump version number to 68.8.1. a=release
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/config/version-files/release/version.txt
  mobile/android/config/version-files/release/version_display.txt
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, bugzilla-components

Add some assertions
  dom/script/ScriptLoadRequest.cpp
  dom/script/ScriptLoader.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Add some logging
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

add diagnostic assert
  ipc/glue/URIUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

diagnostics
  ipc/chromium/src/base/pickle.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

diagnostic
  ipc/chromium/src/base/pickle.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

diagnostic
  netwerk/protocol/http/HttpChannelChild.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Fix bug, remove diagnostics
  dom/script/ScriptLoader.cpp
  ipc/chromium/src/base/pickle.cc
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

add redirection
  toolkit/recordreplay/ProcessRedirectDarwin.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Remove references to repaint stress mode
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ParentGraphics.cpp
  toolkit/recordreplay/ipc/ParentInternal.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
