Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1867997 - Add support for continuous background initialization of all temporary origins collected during temporary storage initialization; r=dom-storage-reviewers,jari
  dom/fs/parent/FileSystemQuotaClient.cpp
  dom/quota/ActorsParent.cpp
  dom/quota/ForwardDecls.h
  dom/quota/OriginOperations.cpp
  dom/quota/OriginOperations.h
  dom/quota/QuotaManager.h
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, lintpref, mingw-cap, yaml, file-whitespace, file-perm

Bug 1925561 - Use a quicker radius calculation for ArcParams. r=aosmond
  gfx/2d/PathRecording.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919087 - Defer PushNameOrDescriptionChange to WillRefresh tick. a=RyanVM
  accessible/base/EventQueue.cpp
  accessible/base/EventQueue.h
  accessible/base/NotificationController.cpp
  accessible/tests/mochitest/name/markup.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1925129 - Disable tab-to-search tips while scotchBonnet enabled. r=daisuke,urlbar-reviewers
  browser/components/urlbar/UrlbarProviderTabToSearch.sys.mjs
  browser/components/urlbar/tests/browser/browser_searchModeSwitcher_basic.js
  browser/components/urlbar/tests/browser/browser_tabToSearch.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1925070 - Add missing VERSION_CODES import. a=bustage
  mobile/android/android-components/components/support/ktx/src/main/java/mozilla/components/support/ktx/android/view/Window.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1837126: Don't set the selection range when HyperTextAccessibleBase::PasteText is called with TEXT_OFFSET_CARET. r=eeejay
  accessible/android/SessionAccessibility.cpp
  accessible/generic/HyperTextAccessible.cpp
  accessible/interfaces/nsIAccessibleEditableText.idl
  accessible/tests/browser/text/browser_editabletext.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1925845 - Check if path falls inside precision limits. r=aosmond
  dom/canvas/DrawTargetWebgl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-ja/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-eo/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-eu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-bs/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-cs/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-eo/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-eu/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-ja/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-pl/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-bs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-eo/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-ja/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pl/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
  mobile/android/focus-android/app/src/main/res/values-be/strings.xml
  mobile/android/focus-android/app/src/main/res/values-eo/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1923697 - Block FEATURE_WEBRENDER_COMPOSITOR on Pascal-architecture NVIDIA GPUs on Windows 10 r=win-reviewers,handyman
  widget/GfxDriverInfo.cpp
  widget/GfxDriverInfo.h
  widget/windows/GfxInfo.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925188 - Don't abort pending promise by screen.orientation.lock during change event. r=dom-core,edgar
  dom/base/ScreenOrientation.cpp
  testing/web-platform/meta/screen-orientation/lock-unlock-check.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-am/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fr/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-nn-rNO/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-zh-rCN/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-ro/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-am/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-am/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-cy/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-fr/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-gd/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-sl/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-tg/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-am/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-gd/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/focus-android/app/src/main/res/values-am/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1915152 - Copying back some of environ into kernel-exposed memory space r=jld
  ipc/chromium/src/base/set_process_title_linux.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Bug 1917575 - Interpose __register_atfork()/pthread_atfork() and run it after clone() r=jld
  mozglue/interposers/moz.build
  mozglue/interposers/pthread_atfork.h
  mozglue/interposers/pthread_atfork_interposer.cpp
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917844 - Assert correct jemalloc randomization state on Content and non Content processes r=jld,glandium
  dom/ipc/ContentChild.cpp
  ipc/glue/UtilityProcessImpl.cpp
  memory/build/mozjemalloc.cpp
  memory/build/mozjemalloc_types.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1917844 - Expose ForkServer-specific mozjemalloc reinit r=glandium
  ipc/glue/ForkServer.cpp
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1918596 - Assert one mozjemalloc arena on ForkServer process r=glandium
  ipc/glue/ForkServer.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1925274 - Suppress valgrind new suspected leaks related to ForkServer argv handling r=jld
  build/valgrind/cross-architecture.sup
Due: bugzilla-components

Bug 1925181 - Properly set small alloc randomization on Android content processes as well r=jld
  dom/ipc/ContentChild.cpp
  memory/build/malloc_decls.h
  memory/build/mozjemalloc.cpp
  mozglue/android/APKOpen.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1921030 - [Menu Redesign] Remove ‘recommended’ text when all extensions have been installed. r=android-reviewers,gl
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/ExtensionsSubmenu.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1849698 - Fix selectPocketStoriesByTopicTest UI test r=ohorvath
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/PocketTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1925130 [wpt PR 48654] - Remove TextCluster caching in TextMetrics, a=testonly
  testing/web-platform/tests/html/canvas/element/text/2d.text.measure.text-clusters-position.tentative.html
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.measure.text-clusters-position.tentative.html
  testing/web-platform/tests/html/canvas/offscreen/text/2d.text.measure.text-clusters-position.tentative.worker.js
  testing/web-platform/tests/html/canvas/tools/yaml-new/text.yaml
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, yaml, file-perm

Bug 1925130 [wpt PR 48654] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/canvas/element/text/2d.text.measure.text-clusters-position.tentative.html.ini
  testing/web-platform/meta/html/canvas/offscreen/text/2d.text.measure.text-clusters-position.tentative.html.ini
  testing/web-platform/meta/html/canvas/offscreen/text/2d.text.measure.text-clusters-position.tentative.worker.js.ini
Due: bugzilla-components, test-manifest

Bug 1925134 [wpt PR 48655] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-ui/text-overflow-ellipsis-multiline-001.html.ini
Due: bugzilla-components, test-manifest

Bug 1925134 [wpt PR 48655] - [text-decoration] Fix crashes for multiline ellipsis with `::first-line`, a=testonly
  testing/web-platform/tests/css/css-ui/crashtests/text-overflow-ellipsis-multiline-crash.html
  testing/web-platform/tests/css/css-ui/reference/text-overflow-ellipsis-multiline-001-ref.html
  testing/web-platform/tests/css/css-ui/text-overflow-ellipsis-multiline-001.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1925140 [wpt PR 48658] - Add InputClosesSelect flag, a=testonly
  testing/web-platform/tests/html/semantics/forms/the-select-element/customizable-select/select-parsing.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1925140 [wpt PR 48658] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/forms/the-select-element/customizable-select/select-parsing.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1924628 [wpt PR 48616] - Add an idlharness test for the Eyedropper API, a=testonly
  testing/web-platform/tests/eyedropper/idlharness.https.window.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1924628 [wpt PR 48616] - Update wpt metadata, a=testonly
  testing/web-platform/meta/eyedropper/idlharness.https.window.js.ini
Due: bugzilla-components, test-manifest

Bug 1925170 [wpt PR 48660] - [Clipboard API] Support creating ClipboardItem with Promise<DOMString>, a=testonly
  testing/web-platform/tests/clipboard-apis/async-navigator-clipboard-basics.https.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1925170 [wpt PR 48660] - Update wpt metadata, a=testonly
  testing/web-platform/meta/clipboard-apis/async-navigator-clipboard-basics.https.html.ini
Due: bugzilla-components, test-manifest
