Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Prevent creating checkpoints with content frames on the stack, fixes #93
  devtools/client/webreplay/components/WebReplayPlayer.js
  dom/ipc/BrowserChild.cpp
  ipc/glue/MessagePump.cpp
  layout/base/PresShell.cpp
  toolkit/recordreplay/ProcessRewind.cpp
  toolkit/recordreplay/ProcessRewind.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildIPC.h
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, devtools-tests

Split up recording button functionality, fixes #59
  browser/base/content/browser.js
  browser/components/customizableui/CustomizableUI.jsm
  browser/locales/en-US/chrome/browser/customizableui/customizableWidgets.properties
  browser/themes/shared/toolbarbutton-icons.inc.css
  browser/themes/shared/toolbarbuttons.inc.css
  devtools/client/debugger/src/components/Editor/ReplayLines.js
  devtools/client/jar.mn
  devtools/client/themes/images/cloud-recordings.svg
  devtools/startup/DevToolsStartup.jsm
  devtools/startup/locales/en-US/startup.properties
  dom/base/ChromeUtils.cpp
  dom/base/ChromeUtils.h
  dom/chrome-webidl/ChromeUtils.webidl
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentParent.cpp
  dom/ipc/ContentParent.h
  dom/ipc/PContent.ipdl
  toolkit/recordreplay/ipc/Channel.cpp
  toolkit/recordreplay/ipc/Channel.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildProcess.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
  toolkit/recordreplay/ipc/ParentIPC.cpp
  toolkit/recordreplay/ipc/ParentIPC.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, localization, file-whitespace, file-perm, debugger-tests, devtools-tests

Update doorhanger when recording is saved
  devtools/startup/DevToolsStartup.jsm
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Use webreplay server for automatic updating, fixes #21
  browser/app/profile/firefox.js
  modules/libmar/verify/mar_verify.c
Due: bugzilla-components, codespell, eslint, license, lintpref, mingw-cap, file-whitespace, file-perm

Update browser in response to dispatcher, fixes #98
  browser/components/newtab/lib/ASRouterTargeting.jsm
  devtools/server/actors/replay/connection-worker.js
  devtools/server/actors/replay/connection.js
  devtools/startup/DevToolsStartup.jsm
  devtools/startup/locales/en-US/startup.properties
  toolkit/content/aboutWebReplay.js
  toolkit/locales/en-US/toolkit/about/aboutWebReplay.ftl
  toolkit/recordreplay/ipc/ParentIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, localization, file-whitespace, file-perm, newtab-unit-tests

Fix a couple automatic update issues.
  devtools/server/actors/replay/connection-worker.js
  devtools/server/actors/replay/connection.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Fix some problems when recording pages calling alert(), fixes #102
  ipc/glue/MessageChannel.cpp
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildProcess.cpp
  toolkit/recordreplay/ipc/ParentForwarding.cpp
  toolkit/recordreplay/ipc/ParentIPC.h
  toolkit/recordreplay/ipc/ParentInternal.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Assorted fixes.
  ipc/glue/MessageChannel.cpp
  toolkit/recordreplay/ProcessRedirectDarwin.cpp
  toolkit/recordreplay/ProcessRewind.cpp
  toolkit/recordreplay/ProcessRewind.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildInternal.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Misc fixes, diagnostics for message pump recording mismatch, for #41
  devtools/server/actors/breakpoint.js
  devtools/server/actors/utils/TabSources.js
  ipc/chromium/src/base/message_loop.cc
  ipc/chromium/src/base/message_pump_libevent.cc
  ipc/chromium/src/chrome/common/ipc_channel_posix.cc
  ipc/chromium/src/third_party/libevent/event.c
  ipc/chromium/src/third_party/libevent/kqueue.c
  ipc/glue/MessageLink.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Fix bug when downloading update after browser is opened.
  devtools/server/actors/replay/connection.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Encode JSON messages as UTF8, fixes #96
  toolkit/recordreplay/ipc/Channel.cpp
  toolkit/recordreplay/ipc/Channel.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Reorganize recorded data management, fixes #106
  toolkit/recordreplay/ipc/Channel.cpp
  toolkit/recordreplay/ipc/Channel.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildInternal.h
  toolkit/recordreplay/ipc/ChildProcess.cpp
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Add environment variable to override updates behavior
  devtools/server/actors/replay/connection.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Remove unused API, tweak object previewer to avoid debugger requests
  devtools/server/actors/object/previewers.js
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Post-merge fixes
  devtools/server/actors/highlighters/auto-refresh.js
  dom/ipc/ContentParent.cpp
  toolkit/crashreporter/CrashSubmit.jsm
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Tolerate partial chunks when writing out recordings, fixes #107
  toolkit/recordreplay/Recording.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Supply test script as environment variable, fixes #108
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Don't throw on script instrumentation ID mismatch, fixes #113
  js/src/debugger/Script.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

More message pump diagnostics, for #41
  ipc/chromium/src/base/message_loop.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

SourceActor findDebuggeeScripts should not have duplicates
  devtools/server/actors/source.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Store scan data in the root replaying process, fixes #104
  toolkit/recordreplay/BufferStream.h
  toolkit/recordreplay/ipc/Channel.h
  toolkit/recordreplay/ipc/ChildIPC.cpp
  toolkit/recordreplay/ipc/ChildInternal.h
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/JSControl.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Add logging for ping messages, fixes #104
  toolkit/recordreplay/ipc/ChildIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Make parent process IPDL errors non-fatal, fixes #95
  ipc/glue/ProtocolUtils.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Add redirection for dlerror
  toolkit/recordreplay/ProcessRedirectDarwin.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Better separate code for installing recording button, add fail safe to make sure the button reflects the current recording status, fixes #79
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Fix handling of syscall(SYS_thread_selfid), fixes #110
  toolkit/recordreplay/ProcessRedirectDarwin.cpp
  toolkit/recordreplay/Thread.cpp
  toolkit/recordreplay/Thread.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Improve experience using recording links, fixes #7
  browser/base/content/browser.js
  browser/components/urlbar/UrlbarInput.jsm
  devtools/startup/DevToolsStartup.jsm
  docshell/base/nsDocShell.cpp
  toolkit/content/aboutWebReplay.css
  toolkit/content/aboutWebReplay.js
  toolkit/content/aboutWebReplay.xhtml
  toolkit/recordreplay/ipc/ParentIPC.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Frame timeline should always reflect current frame position, except when scrubbing, fixes #47
  devtools/client/debugger/src/components/SecondaryPanes/FrameTimeline.js
Due: bugzilla-components, codespell, eslint, license, file-perm, debugger-tests, devtools-tests

Show indicator when paint data might not be correct, fixes #49
  devtools/server/actors/highlighters.js
  devtools/server/actors/replay/graphics.js
  devtools/server/actors/replay/rrIGraphics.idl
  devtools/startup/DevToolsStartup.jsm
  toolkit/recordreplay/ExternalCall.cpp
  toolkit/recordreplay/ExternalCall.h
  toolkit/recordreplay/ipc/JSControl.cpp
  toolkit/recordreplay/ipc/ParentGraphics.cpp
  toolkit/recordreplay/ipc/ParentInternal.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Truncate long URLs in saved recordings page, fixes #62
  toolkit/content/aboutWebReplay.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Generate a crash report when crash recovery fails, fixes #65
  toolkit/recordreplay/ipc/ChildProcess.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Support new format for messages describing saved recording data, for ReplayLinker #46
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Fix variable name typo
  devtools/startup/DevToolsStartup.jsm
Due: bugzilla-components, codespell, eslint, license, file-perm

Add diagnostic for #41
  ipc/chromium/src/base/message_loop.cc
Due: bugzilla-components, license, mingw-cap, file-whitespace, file-perm

Don't do last ditch GCs when recording/replaying, fixes #111
  js/src/gc/Allocator.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Minor fixes.
  toolkit/recordreplay/ProcessRedirectDarwin.cpp
  toolkit/recordreplay/ProcessRewind.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Add diagnostics for #117
  gfx/thebes/gfxTextRun.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Fix some minor bugs.
  devtools/client/webreplay/mochitest/browser.ini
  devtools/client/webreplay/mochitest/browser_rr_stepping-06.js
  devtools/server/actors/replay/graphics.js
  devtools/server/actors/replay/rrIGraphics.idl
  toolkit/recordreplay/ipc/ParentGraphics.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, file-whitespace, file-perm, devtools-tests

Fix some inspector problems, for #115
  devtools/server/actors/styles.js
  toolkit/recordreplay/ipc/JSControl.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Fix a couple inspector problems, for #115
  devtools/client/webreplay/components/WebReplayPlayer.js
  devtools/server/actors/inspector/node.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
