Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1948908 - Cover system builtin location in test_update.js. r=willdurand,baku
  toolkit/mozapps/extensions/test/xpcshell/test_update.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1948908 - Cover system builtin location in test_system_update_fail/newset/overlapping/upgrades/empty.js. r=baku,willdurand
  toolkit/mozapps/extensions/test/xpcshell/head_system_addons.js
  toolkit/mozapps/extensions/test/xpcshell/test_system_update_empty.js
  toolkit/mozapps/extensions/test/xpcshell/test_system_update_fail.js
  toolkit/mozapps/extensions/test/xpcshell/test_system_update_newset.js
  toolkit/mozapps/extensions/test/xpcshell/test_system_update_overlapping.js
  toolkit/mozapps/extensions/test/xpcshell/test_system_update_upgrades.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1952207 - Fix coordinate space of live-captured rect. r=view-transitions-reviewers,boris
  layout/painting/nsDisplayList.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1952153 - [devtools] Only wrap font name in quotes for font preview when font has spaces. r=devtools-reviewers,ochameau.
  devtools/server/actors/utils/style-utils.js
  devtools/server/tests/browser/browser_style_utils_getFontPreviewData.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1944868 - Avoid USVString in XHR. r=webidl,emilio
  dom/webidl/XMLHttpRequest.webidl
  dom/xhr/XMLHttpRequest.h
  dom/xhr/XMLHttpRequestMainThread.cpp
  dom/xhr/XMLHttpRequestMainThread.h
  dom/xhr/XMLHttpRequestWorker.cpp
  dom/xhr/XMLHttpRequestWorker.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No bug - reduce fuzziness of moz-icon-blank-1-almostref.html after Windows testing machines update. a=test-expection DONTBUILD
  image/test/reftest/generic/reftest.list
Due: bugzilla-components

No bug - reduce fuzziness of moz-icon-blank-1-almostref.html after Windows testing machines update. a=test-expection
  image/test/reftest/generic/reftest.list
Due: bugzilla-components

Bug 1951510 - Part 1: Remove app restarting alert on experiment deletion r=android-reviewers,android-l10n-reviewers,delphine,gmalekpour,twhite
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/studies/StudiesAdapter.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/studies/StudiesAdapterTest.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/settings/privacy/studies/StudiesViewHolder.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1951510 - Part 2: Remove unused strings and uncomment nimbus onboarding defaults r=android-reviewers,android-l10n-reviewers,delphine,gmalekpour,twhite
  mobile/android/fenix/app/onboarding.fml.yaml
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1948517: Don't short-circuit boxing in type policies r=jandem
  js/src/jit-test/tests/cacheir/bug1948517.js
  js/src/jit/IonAnalysis.cpp
  js/src/jit/TypePolicy.cpp
  js/src/jit/TypePolicy.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1945831 - Lint Fix. CLOSED TREE
  toolkit/content/tests/widgets/test_moz_input_folder.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1952029 - [devtools] Enable dumping test variable for most devtools browser mochitests r=devtools-reviewers,nchevobbe
  devtools/client/shared/test/shared-head.js
Due: bugzilla-components, codespell, eslint, license, file-perm, devtools-tests

Bug 1949987 - Don't pass unused FDs to the Fork Server, r=jld a=pascalc
  ipc/glue/ForkServer.cpp
  ipc/glue/ForkServer.h
  ipc/glue/GeckoChildProcessHost.cpp
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1949987 - Don't pass unused FDs to the Fork Server, r=jld
  ipc/glue/ForkServer.cpp
  ipc/glue/ForkServer.h
  ipc/glue/GeckoChildProcessHost.cpp
  security/sandbox/linux/launch/SandboxLaunch.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1951431: Add a version of applink startup test that loads a locally hosted newssite-nuxt website. r=aglavic
  taskcluster/kinds/perftest/android.yml
  testing/performance/mobile-startup/android_startup_videoapplink.py
  testing/performance/mobile-startup/cvne-newssite.sh
  testing/performance/mobile-startup/cvne-shopify.sh
Due: bugzilla-components, codespell, license, py-compat, py-flake8, yaml, shellcheck, file-whitespace

Bug 1952113 - Extend suggest relevance metrics expires to 147 r=adw,urlbar-reviewers DONTBUILD
  browser/components/urlbar/metrics.yaml
Due: bugzilla-components, yaml

Bug 1951880 - Stop saving/maintaining the description field in search engine code. r=search-reviewers,scunnane
  toolkit/components/search/AddonSearchEngine.sys.mjs
  toolkit/components/search/OpenSearchEngine.sys.mjs
  toolkit/components/search/OpenSearchLoader.sys.mjs
  toolkit/components/search/PolicySearchEngine.sys.mjs
  toolkit/components/search/SearchEngine.sys.mjs
  toolkit/components/search/UserSearchEngine.sys.mjs
  toolkit/components/search/nsISearchService.idl
  toolkit/components/search/tests/xpcshell/test_opensearch.js
  toolkit/components/search/tests/xpcshell/test_policyEngine.js
  toolkit/components/search/tests/xpcshell/test_settings.js
  tools/@types/lib.gecko.xpcom.d.ts
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1951880. Update TypeScript definitions for the latest code base. r=search-reviewers,scunnane
  tools/@types/lib.gecko.dom.d.ts
  tools/@types/lib.gecko.xpcom.d.ts
Due: bugzilla-components

Backed out changeset e4bd23884b84 (bug 1951476) for causing dt failures @browser_aboutdebugging_profiler_dialog.js. CLOSED TREE
  browser/components/about/AboutRedirector.cpp
  devtools/client/jar.mn
  devtools/client/performance-new/aboutprofiling/index.xhtml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm, devtools-tests

Bug 1949964 - Use proper language codes for Japanese and Slovenian articles when calculating reading times in reader mode. r=nordzilla
  toolkit/components/reader/ReaderMode.sys.mjs
Due: bugzilla-components

Bug 1952040 - Update Smart Tab Suggest to only use title for similarity comparison. r=rrando,dwalker,tabbrowser-reviewers
  browser/components/tabbrowser/SmartTabGrouping.sys.mjs
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser.toml
  browser/components/tabbrowser/test/browser/smarttabgrouping/browser_tab_grouping_utils.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1945831 - Enable Prettier for chrome tests in toolkit/content/tests/widgets r=reusable-components-reviewers,frontend-codestyle-reviewers,Standard8,mstriemer
  .prettierignore
Due: bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
