Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1933643 - Update android nightly application-services version bump to f753de47cbefa83edaa2bcc62af46f30d7842ff2 r=dmeehan
  mobile/android/android-components/plugins/dependencies/src/main/java/ApplicationServices.kt
  mobile/android/android-components/plugins/dependencies/src/main/java/moz.yaml
Due: android-api-lint/opt, bugzilla-components, yaml

Bug 1933328 - refactor(webgpu): handle 2024-08 image copy renames from upstream IDL r=webgpu-reviewers,webidl,teoxoy,emilio
  dom/webgpu/CommandEncoder.cpp
  dom/webgpu/CommandEncoder.h
  dom/webgpu/Queue.cpp
  dom/webgpu/Queue.h
  dom/webidl/WebGPU.webidl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging 076baab3a8ef6d66a191e2ace72a1e333be0f509 with FIREFOX-ANDROID_134_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

No bug - Tagging 076baab3a8ef6d66a191e2ace72a1e333be0f509 with DEVEDITION_134_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1933653 - [devtools] Fix shape editor active point text in High Contrast Mode. r=devtools-reviewers,jdescottes
  devtools/client/themes/inspector-shared.css
  devtools/client/themes/inspector-swatches.css
Due: bugzilla-components, devtools-tests

No bug - Tagging 076baab3a8ef6d66a191e2ace72a1e333be0f509 with FIREFOX_134_0b2_BUILD1 a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Backed out 2 changesets (bug 1931901) for causing build bustages in TelemetryScalar.cpp. CLOSED TREE
  dom/media/ipc/RDDParent.cpp
  ipc/glue/UtilityProcessChild.cpp
  netwerk/ipc/SocketProcessChild.cpp
  toolkit/components/glean/bindings/private/Boolean.cpp
  toolkit/components/glean/bindings/private/Counter.cpp
  toolkit/components/glean/bindings/private/Datetime.cpp
  toolkit/components/glean/bindings/private/Denominator.cpp
  toolkit/components/glean/bindings/private/GIFFTFwd.h
  toolkit/components/glean/bindings/private/Numerator.cpp
  toolkit/components/glean/bindings/private/Quantity.cpp
  toolkit/components/glean/bindings/private/Rate.cpp
  toolkit/components/glean/bindings/private/String.cpp
  toolkit/components/glean/bindings/private/StringList.cpp
  toolkit/components/glean/bindings/private/Timespan.cpp
  toolkit/components/glean/bindings/private/Url.cpp
  toolkit/components/glean/bindings/private/Uuid.cpp
  toolkit/components/glean/tests/test_metrics.yaml
  toolkit/components/glean/tests/xpcshell/test_GIFFT.js
  toolkit/components/telemetry/Scalars.yaml
  toolkit/components/telemetry/core/ScalarInfo.h
  toolkit/components/telemetry/core/Telemetry.cpp
  toolkit/components/telemetry/core/Telemetry.h
  toolkit/components/telemetry/core/TelemetryScalar.cpp
  toolkit/components/telemetry/core/TelemetryScalar.h
  toolkit/components/telemetry/core/ipc/TelemetryComms.h
  toolkit/components/telemetry/core/nsITelemetry.idl
  toolkit/components/telemetry/tests/browser/browser.toml
  toolkit/components/telemetry/tests/browser/browser_DynamicScalars.js
  toolkit/components/telemetry/tests/gtest/TestScalars.cpp
  toolkit/components/telemetry/tests/unit/test_ChildScalars.js
  toolkit/components/telemetry/tests/unit/test_TelemetryController.js
  toolkit/components/telemetry/tests/unit/test_TelemetryScalars.js
  toolkit/components/telemetry/tests/unit/test_TelemetryScalars_buildFaster.js
  toolkit/components/telemetry/tests/unit/test_TelemetryScalars_impressionId.js
  toolkit/components/telemetry/tests/unit/test_TelemetryScalars_multistore.js
  toolkit/components/telemetry/tests/unit/test_TelemetrySession.js
  toolkit/components/telemetry/tests/unit/xpcshell.toml
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, yaml, file-whitespace, file-perm

Bug 1926979 - Hide the 'pre-tabs' .titlebar-spacer and decrease window minimum width when vertical tabs are enabled r=desktop-theme-reviewers,tabbrowser-reviewers,sidebar-reviewers,dao,sclements
  browser/components/customizableui/CustomizableWidgets.sys.mjs
  browser/components/customizableui/test/browser_914138_widget_API_overflowable_toolbar.js
  browser/components/sidebar/tests/browser/browser_vertical_tabs.js
  browser/themes/shared/browser-shared.css
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1923902: add focus glean usage profile id r=android-reviewers,data-stewards,TravisLong,tthibaud
  mobile/android/focus-android/app/metrics.yaml
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/telemetry/GleanMetricsService.kt
  mobile/android/focus-android/app/src/main/java/org/mozilla/focus/widget/TelemetrySwitchPreference.kt
  mobile/android/focus-android/app/src/main/res/values/preference_keys.xml
  mobile/android/focus-android/app/src/test/java/org/mozilla/focus/telemetry/GleanMetricsServiceTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1933363: build libdmg-hfsplus explicitly in release mode r=firefox-build-system-reviewers,nalexander
  taskcluster/scripts/misc/build-dmg-hfsplus.sh
Due: bugzilla-components, shellcheck

Bug 1933651 - [devtools] Dont tweak opacity of unmatched rules. r=devtools-reviewers,jdescottes.
  devtools/client/themes/rules.css
Due: bugzilla-components, devtools-tests

Bug 1932669 - Switch to getpagesize() in Ashmem VolatileBuffer code. r=glandium
  memory/volatile/VolatileBufferAshmem.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933732 - Wrong pref name in webext docs. r=robwu
  toolkit/components/ml/docs/extensions-api-example/README.rst
Due: bugzilla-components, codespell, rst

Bug 1920998 - Try to work around macOS panel positioning bug. r=desktop-theme-reviewers,dao
  toolkit/themes/shared/popup.css
Due: bugzilla-components

No bug - Tagging 076baab3a8ef6d66a191e2ace72a1e333be0f509 with FIREFOX_134_0b2_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Automatic version bump CLOSED TREE NO BUG a=release DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: bugzilla-components

Bug 1920669: Avoid partial register read in AtomicFetchOp. r=spidermonkey-reviewers,jandem
  js/src/jit/x86-shared/MacroAssembler-x86-shared.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No bug - Tagging 076baab3a8ef6d66a191e2ace72a1e333be0f509 with DEVEDITION_134_0b2_RELEASE a=release CLOSED TREE DONTBUILD
  .hgtags
Due: bugzilla-components

Bug 1929265 - Use std::clamp instead of min/max chain in layout/ r=emilio,layout-reviewers
  layout/base/PresShell.cpp
  layout/base/nsDocumentViewer.cpp
  layout/base/nsLayoutUtils.cpp
  layout/base/nsPresContext.cpp
  layout/generic/nsColumnSetFrame.cpp
  layout/printing/nsPrintJob.cpp
  layout/svg/SVGUtils.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1933691 - Remove dir and menu selectors from orphaned list item quirk. r=jwatt
  layout/style/res/quirk.css
Due: bugzilla-components

Bug 1931879 [wpt PR 49225] - Remove .tentative from popover invoker WPTs, a=testonly
  testing/web-platform/tests/css/css-anchor-position/popover-implicit-anchor.html
  testing/web-platform/tests/html/semantics/popovers/imperative-invokers.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931875 [wpt PR 49223] - Fix dialog.requestClose() in two ways, a=testonly
  testing/web-platform/tests/html/semantics/interactive-elements/the-dialog-element/dialog-requestclose.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931879 [wpt PR 49225] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-anchor-position/popover-implicit-anchor.html.ini
  testing/web-platform/meta/html/semantics/popovers/imperative-invokers.html.ini
Due: bugzilla-components, test-manifest

Bug 1931875 [wpt PR 49223] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/interactive-elements/the-dialog-element/dialog-requestclose.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1931882 [wpt PR 49226] - [css-values-5] Implement sibling-index() / sibling-count()., a=testonly
  testing/web-platform/tests/css/css-values/calc-sibling-function-parsing.html
  testing/web-platform/tests/css/css-values/calc-sibling-function.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931895 [wpt PR 49227] - Add WebDX for long animation frames & page visibility state, a=testonly
  testing/web-platform/tests/long-animation-frame/WEB_FEATURES.yml
  testing/web-platform/tests/page-visibility/WEB_FEATURES.yml
Due: bugzilla-components, wptlint-gecko, yaml

Bug 1931882 [wpt PR 49226] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-values/calc-sibling-function-parsing.html.ini
  testing/web-platform/meta/css/css-values/calc-sibling-function.html.ini
Due: bugzilla-components, test-manifest

Bug 1931912 [wpt PR 49228] - Refactor pointerevent_poitnerId_scope test, a=testonly
  testing/web-platform/tests/pointerevents/pointerevent_pointerId_scope.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931932 [wpt PR 49230] - DOM: Capture apparent getSelection() getter side effects, a=testonly
  testing/web-platform/tests/selection/anchor-removal.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931923 [wpt PR 49231] - [Selection API] Add DOM mutation removal test, a=testonly
  testing/web-platform/tests/selection/shadow-dom/tentative/Selection-getComposedRanges-dom-mutations-removal.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931923 [wpt PR 49231] - Update wpt metadata, a=testonly
  testing/web-platform/meta/selection/shadow-dom/tentative/Selection-getComposedRanges-dom-mutations-removal.html.ini
Due: bugzilla-components, test-manifest

Bug 1927948 [wpt PR 48870] - Move 'valid codec with spaces' to validButUnsupportedConfigs configs, a=testonly
  testing/web-platform/tests/webcodecs/video-decoder.https.any.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1927948 [wpt PR 48870] - Update wpt metadata, a=testonly
  testing/web-platform/meta/webcodecs/video-decoder.https.any.js.ini
Due: bugzilla-components, test-manifest

Bug 1931937 [wpt PR 49232] - Update wpt metadata, a=testonly
  testing/web-platform/meta/html/semantics/popovers/popover-nested-in-button.tentative.html.ini
Due: bugzilla-components, test-manifest

Bug 1931937 [wpt PR 49232] - Implement new behavior for popovers contained within invokers, a=testonly
  testing/web-platform/tests/html/semantics/popovers/popover-nested-in-button.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931969 [wpt PR 49237] - Deflake and speed up LoAF tests, a=testonly
  testing/web-platform/tests/long-animation-frame/tentative/loaf-event-blocking-duration.html
  testing/web-platform/tests/long-animation-frame/tentative/loaf-script-block.html
  testing/web-platform/tests/long-animation-frame/tentative/loaf-script-window-attribution.html
  testing/web-platform/tests/long-animation-frame/tentative/loaf-source-location-redirect.html
  testing/web-platform/tests/long-animation-frame/tentative/resources/busy.js
  testing/web-platform/tests/long-animation-frame/tentative/resources/event-generates-loaf.js
  testing/web-platform/tests/long-animation-frame/tentative/resources/promise-generates-loaf.js
  testing/web-platform/tests/long-animation-frame/tentative/resources/raf-generates-loaf.js
  testing/web-platform/tests/long-animation-frame/tentative/resources/stream-promise-generates-loaf.js
  testing/web-platform/tests/long-animation-frame/tentative/resources/utils.js
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931968 [wpt PR 49236] - [focus] Make mouse focus use flat tree parent, a=testonly
  testing/web-platform/tests/shadow-dom/focus/click-focus-slot-ancestor.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931968 [wpt PR 49236] - Update wpt metadata, a=testonly
  testing/web-platform/meta/shadow-dom/focus/click-focus-slot-ancestor.html.ini
Due: bugzilla-components, test-manifest

Bug 1931955 [wpt PR 49234] - Fix min/max-content block size of replaced element, a=testonly
  testing/web-platform/tests/css/css-sizing/aspect-ratio/replaced-element-044.tentative.html
Due: bugzilla-components, codespell, eslint, license, wptlint-gecko, file-perm

Bug 1931955 [wpt PR 49234] - Update wpt metadata, a=testonly
  testing/web-platform/meta/css/css-sizing/aspect-ratio/replaced-element-044.tentative.html.ini
Due: bugzilla-components, test-manifest

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
