Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1778923, set pointer-events: none; on xul:browser when select popup is open, r=edgar,emilio,desktop-theme-reviewers
  dom/events/EventStateManager.cpp
  toolkit/actors/SelectParent.sys.mjs
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1325876 - Expose responseStatus and responseStatusText for about:neterror r=necko-reviewers,fluent-reviewers,bolsson,kershaw,webidl,saschanaz
  dom/base/Document.cpp
  dom/webidl/NetErrorInfo.webidl
  toolkit/content/aboutNetError.mjs
  toolkit/locales/en-US/toolkit/neterror/netError.ftl
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, localization, file-whitespace, file-perm

Bug 1325876 - Add a test for internal error page with error codes (4xx, 5xx) and Content-Length: 0 r=necko-reviewers,jesup,kershaw
  browser/base/content/test/about/blank_page.sjs
  browser/base/content/test/about/browser.toml
  browser/base/content/test/about/browser_aboutNetError_blank_page.js
  browser/base/content/test/about/browser_aboutNetError_server_error.js
  toolkit/content/aboutNetError.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1325876 - Add a pref for showing error page for HTTP responses with error codes and Content-Length: 0 r=necko-reviewers,valentin,credential-management-reviewers,tabbrowser-reviewers,dimi,sthompson
  browser/base/content/test/about/browser_aboutNetError_blank_page.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_blank_target.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_by_script.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_no_target.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_other_target.js
  dom/security/test/https-first/browser_subdocument_downgrade.js
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/loading/early-hints/__dir__.ini
  testing/web-platform/meta/resource-timing/response-status-code.html.ini
  uriloader/base/nsURILoader.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, test-manifest, yaml, file-whitespace, file-perm

Bug 1935923 - part 1: Change `HTMLEditor::InsertBRElement` to `InsertLineBreak` r=m_kato
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorForwards.h
  editor/libeditor/EditorLineBreak.h
  editor/libeditor/HTMLAbsPositionEditor.cpp
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/HTMLStyleEditor.cpp
  editor/libeditor/WSRunObject.cpp
  testing/web-platform/meta/editing/run/insertparagraph.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1935923 - part 2: Change `WhiteSpaceVisibilityKeeper::InsertBRElement` to `InsertLineBreak` like `HTMLEditor` r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/WSRunObject.cpp
  editor/libeditor/WSRunObject.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1935923 - part 4: Change `HTMLEditor::InsertPaddingBRElementForEmptyLastLineIfNeeded` to `InsertPaddingBRElementIfInEmptyBlock` r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1935923 - part 3: Change `HTMLEditor::InsertBRElementIfHardLineIsEmptyAndEndsWithBlockBoundary` to `InsertPaddingBRElementToMakeEmptyLineVisibleIfNeeded` r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/WSRunObject.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1935923 - part 5: Make `HTMLEditor::InsertPaddingBRElementIfNeeded` return `CreateLineBreakResult` r=m_kato
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 4f1ddec217ba (bug 1936336) for causing bc failures @ browser_policy_managedbookmarks.js CLOSED TREE
  browser/base/content/browser.xhtml
  browser/components/tests/browser/browser.toml
  browser/components/tests/browser/browser_csp_blocks_event_handlers.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1934695 - updated libwebrtc patch stack
  third_party/libwebrtc/moz-patch-stack/0141.patch
Due: bugzilla-components

Bug 1930681 - Use button-* css variables for select element on chat ui header, r=Mardak,desktop-theme-reviewers,firefox-ai-ml-reviewers,dao
  browser/components/genai/chat.css
Due: bugzilla-components

Bug 1781926 - Temporarily disable tests on macOS 10.15 debug for frequent failures r=nlapre
  accessible/tests/browser/hittest/browser.toml
Due: bugzilla-components

no bug - Import translations from android-l10n r=release a=l10n CLOSED TREE
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-sq/strings.xml
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-tg/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-am/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-tg/strings.xml
  mobile/android/android-components/components/feature/downloads/src/main/res/values-tg/strings.xml
  mobile/android/android-components/components/feature/privatemode/src/main/res/values-tg/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sq/strings.xml
  mobile/android/fenix/app/src/main/res/values-am/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rCA/strings.xml
  mobile/android/fenix/app/src/main/res/values-fa/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-hu/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-rm/strings.xml
  mobile/android/fenix/app/src/main/res/values-scn/strings.xml
  mobile/android/fenix/app/src/main/res/values-sq/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
  mobile/android/focus-android/app/src/main/res/values-scn/strings.xml
  mobile/android/focus-android/app/src/main/res/values-sq/strings.xml
  mobile/android/focus-android/app/src/main/res/values-tg/strings.xml
  mobile/android/focus-android/l10n.toml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, localization, file-perm

Bug 1938311 - Change ExternalTexture's requested size error handling to be explicit r=webgpu-reviewers,gfx-reviewers,ErichDonGubler
  gfx/wgpu_bindings/src/server.rs
Due: bugzilla-components, license, rustfmt, file-whitespace, file-perm

Backed out 5 changesets (bug 1935923) for causing build bustages @ EditorLineBreak.h CLOSED TREE
  editor/libeditor/EditorBase.cpp
  editor/libeditor/EditorForwards.h
  editor/libeditor/EditorLineBreak.h
  editor/libeditor/HTMLAbsPositionEditor.cpp
  editor/libeditor/HTMLEditSubActionHandler.cpp
  editor/libeditor/HTMLEditor.cpp
  editor/libeditor/HTMLEditor.h
  editor/libeditor/HTMLEditorDeleteHandler.cpp
  editor/libeditor/HTMLStyleEditor.cpp
  editor/libeditor/WSRunObject.cpp
  editor/libeditor/WSRunObject.h
  testing/web-platform/meta/editing/run/insertparagraph.html.ini
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, test-manifest, file-whitespace, file-perm

Bug 1938241 - update expectations for debug builds on patched-global.any.ini for multiple subtests. r=sasha
  testing/web-platform/meta/streams/readable-byte-streams/patched-global.any.js.ini
Due: bugzilla-components, test-manifest

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-bg/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-gn/strings.xml
  mobile/android/android-components/components/ui/tabcounter/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-ka/strings.xml
  mobile/android/fenix/app/src/main/res/values-ml/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1938241 - update expectations for a subtest on lock-sandboxed-iframe.html. r=aryx, sasha CLOSED TREE
  testing/web-platform/meta/screen-orientation/lock-sandboxed-iframe.html.ini
Due: bugzilla-components, test-manifest

Backed out 4 changesets (bug 1325876) for causing wd failures @ navigation.spec.js CLOSED TREE
  browser/base/content/test/about/blank_page.sjs
  browser/base/content/test/about/browser.toml
  browser/base/content/test/about/browser_aboutNetError_blank_page.js
  browser/base/content/test/about/browser_aboutNetError_server_error.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_blank_target.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_by_script.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_no_target.js
  browser/components/tabbrowser/test/browser/tabs/browser_link_in_tab_title_and_url_prefilled_normal_page_other_target.js
  browser/locales/en-US/chrome/overrides/appstrings.properties
  docshell/base/nsDocShell.cpp
  dom/base/Document.cpp
  dom/locales/en-US/chrome/appstrings.properties
  dom/security/test/https-first/browser_subdocument_downgrade.js
  dom/webidl/NetErrorInfo.webidl
  js/xpconnect/src/xpc.msg
  modules/libpref/init/StaticPrefList.yaml
  testing/web-platform/meta/loading/early-hints/__dir__.ini
  testing/web-platform/meta/resource-timing/response-status-code.html.ini
  toolkit/content/aboutNetError.mjs
  toolkit/locales/en-US/toolkit/neterror/certError.ftl
  toolkit/locales/en-US/toolkit/neterror/netError.ftl
  tools/lint/fluent-lint/exclusions.yml
  uriloader/base/nsURILoader.cpp
  xpcom/base/ErrorList.py
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, mozlint

Bug 1938589 - init savedGroups from session file. r=sthompson,dao,sessionstore-reviewers
  browser/components/sessionstore/SessionStore.sys.mjs
Due: bugzilla-components

Bug 1797039 - Separate shared memory mapping and handle types r=ipc-reviewers,nika
  ipc/glue/SharedMemoryHandle.cpp
  ipc/glue/SharedMemoryHandle.h
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
  ipc/glue/SharedMemoryPlatform.h
  ipc/glue/SharedMemoryPlatform_android.cpp
  ipc/glue/SharedMemoryPlatform_mach.cpp
  ipc/glue/SharedMemoryPlatform_posix.cpp
  ipc/glue/SharedMemoryPlatform_windows.cpp
  ipc/glue/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: bugzilla-components

no bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Bug 1937751 - Remember AAStroke mode when caching stroked path. r=jrmuizel
  dom/canvas/DrawTargetWebgl.cpp
  dom/canvas/DrawTargetWebglInternal.h
  dom/canvas/test/reftest/1937751-cached-stroked-paths-1-ref.html
  dom/canvas/test/reftest/1937751-cached-stroked-paths-1.html
  dom/canvas/test/reftest/reftest.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1937751 - Remember AAStroke mode when caching stroked path. r=jrmuizel, a=RyanVM
  dom/canvas/DrawTargetWebgl.cpp
  dom/canvas/DrawTargetWebglInternal.h
  dom/canvas/test/reftest/1937751-cached-stroked-paths-1-ref.html
  dom/canvas/test/reftest/1937751-cached-stroked-paths-1.html
  dom/canvas/test/reftest/reftest.list
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Backed out changeset 611f647850af (bug 1797039) for causing Hazard bustages at SharedMemoryHandle.h. CLOSED TREE
  ipc/glue/SharedMemoryHandle.cpp
  ipc/glue/SharedMemoryHandle.h
  ipc/glue/SharedMemoryMapping.cpp
  ipc/glue/SharedMemoryMapping.h
  ipc/glue/SharedMemoryPlatform.h
  ipc/glue/SharedMemoryPlatform_android.cpp
  ipc/glue/SharedMemoryPlatform_mach.cpp
  ipc/glue/SharedMemoryPlatform_posix.cpp
  ipc/glue/SharedMemoryPlatform_windows.cpp
  ipc/glue/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1938761 - update expectations for lock-sandboxed-iframe.html and non-fully-active.htm. a=test-only
  testing/web-platform/meta/screen-orientation/lock-sandboxed-iframe.html.ini
  testing/web-platform/meta/screen-orientation/non-fully-active.html.ini
Due: bugzilla-components, test-manifest

Bug 1937552 - Part 1: Editorial updates from Dec 5-6. r=spidermonkey-reviewers,mgaudet
  js/src/builtin/temporal/Duration.cpp
  js/src/builtin/temporal/PlainDateTime.cpp
  js/src/builtin/temporal/PlainYearMonth.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1937552 - Part 2: Prepare for formatting Temporal objects in Intl.DateTimeFormat. r=mgaudet,dminor
  js/public/friend/ErrorNumbers.msg
  js/src/builtin/intl/DateTimeFormat.cpp
  js/src/builtin/intl/DateTimeFormat.h
  js/src/builtin/intl/DateTimeFormat.js
  js/src/jsdate.cpp
  js/src/jsdate.h
  js/src/vm/CommonPropertyNames.h
  js/src/vm/SelfHosting.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1937552 - Part 3: Support Temporal for Intl.DateTimeFormat. r=spidermonkey-reviewers,mgaudet
  js/src/builtin/intl/CommonFunctions.cpp
  js/src/builtin/intl/CommonFunctions.h
  js/src/builtin/intl/DateTimeFormat.cpp
  js/src/builtin/intl/DateTimeFormat.h
  js/src/builtin/temporal/Calendar.cpp
  js/src/builtin/temporal/Calendar.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1937552 - Part 4: Use Intl.DateTimeFormat for toLocaleString. r=spidermonkey-reviewers,mgaudet
  js/public/friend/ErrorNumbers.msg
  js/src/builtin/intl/DateTimeFormat.cpp
  js/src/builtin/intl/DateTimeFormat.h
  js/src/builtin/intl/DateTimeFormat.js
  js/src/builtin/temporal/Instant.cpp
  js/src/builtin/temporal/PlainDate.cpp
  js/src/builtin/temporal/PlainDateTime.cpp
  js/src/builtin/temporal/PlainMonthDay.cpp
  js/src/builtin/temporal/PlainTime.cpp
  js/src/builtin/temporal/PlainYearMonth.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1937552 - Part 7: Add non262 tests for Intl support. r=spidermonkey-reviewers,mgaudet
  js/src/tests/non262/Temporal/Intl/browser.js
  js/src/tests/non262/Temporal/Intl/date.js
  js/src/tests/non262/Temporal/Intl/defaults.js
  js/src/tests/non262/Temporal/Intl/hour-cycle.js
  js/src/tests/non262/Temporal/Intl/month-day.js
  js/src/tests/non262/Temporal/Intl/shell.js
  js/src/tests/non262/Temporal/Intl/styles.js
  js/src/tests/non262/Temporal/Intl/time.js
  js/src/tests/non262/Temporal/Intl/year-month.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1937552 - Part 5: Use Intl.DateTimeFormat for Temporal.ZonedDateTime. r=spidermonkey-reviewers,dminor,mgaudet
  js/src/builtin/intl/CommonFunctions.cpp
  js/src/builtin/intl/CommonFunctions.h
  js/src/builtin/intl/DateTimeFormat.cpp
  js/src/builtin/intl/DateTimeFormat.h
  js/src/builtin/intl/DateTimeFormat.js
  js/src/builtin/temporal/ZonedDateTime.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1937552 - Part 6: Enable now passing tests. r=spidermonkey-reviewers,dminor
  js/src/tests/jstests.list
Due: bugzilla-components
