Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1964240 - Don't show private mode lock prompt in nightly r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FeatureFlags.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1964200 - Fix comments and assertion messages to reflect the removal of table caption list. r=dholbert
  layout/base/nsCSSFrameConstructor.cpp
  layout/generic/nsContainerFrame.cpp
  layout/tables/nsTableWrapperFrame.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1963436 - Respect explicit variation selectors for emoji presentation as higher priority than fonts named in the font-family list. r=dshin
  gfx/thebes/gfxTextRun.cpp
  testing/web-platform/meta/css/css-fonts/__dir__.ini
  testing/web-platform/meta/css/css-fonts/font-variant-emoji-005.html.ini
  testing/web-platform/tests/css/css-fonts/font-variant-emoji-005-ref.html
  testing/web-platform/tests/css/css-fonts/font-variant-emoji-005.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, test-manifest, wptlint-gecko, file-whitespace, file-perm

Bug 1962696 - Explicitly select the dragged tab. a=RyanVM
  browser/components/tabbrowser/content/tabs.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1962434 - raise TabGroupCreate when tab group element mounts a=RyanVM
  browser/components/tabbrowser/content/tabbrowser.js
  browser/components/tabbrowser/content/tabgroup.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_groups_telemetry.js
  browser/modules/BrowserUsageTelemetry.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1962903 - Make `TSFEmptyTextStore` stop pushing empty/disabled context to the document manager a=RyanVM
  widget/windows/TSFEmptyTextStore.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Revert "Bug 1942390 - Part 2: refactor common logic out of moz-radio-* elements r=reusable-components-reviewers,mstriemer" for causing bc failures @browser_test_last_tab.js.
  toolkit/content/customElements.js
  toolkit/content/jar.mn
  toolkit/content/tests/widgets/chrome.toml
  toolkit/content/tests/widgets/lit-test-helpers.js
  toolkit/content/tests/widgets/test_moz_visual_picker.html
  toolkit/content/widgets/lit-select-control.mjs
  toolkit/content/widgets/moz-fieldset/moz-fieldset.css
  toolkit/content/widgets/moz-fieldset/moz-fieldset.mjs
  toolkit/content/widgets/moz-radio-group/moz-radio-group.mjs
  toolkit/content/widgets/moz-visual-picker/moz-visual-picker-item.css
  toolkit/content/widgets/moz-visual-picker/moz-visual-picker.mjs
  toolkit/content/widgets/moz-visual-picker/moz-visual-picker.stories.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1964225 - Ensure deleted-glyph codes generated during AAT shaping are given zero advance width. r=gfx-reviewers,lsalzman
  gfx/tests/reftest/1964225-1-ref.html
  gfx/tests/reftest/1964225-1.html
  gfx/tests/reftest/reftest.list
  gfx/thebes/gfxHarfBuzzShaper.cpp
  gfx/thebes/gfxHarfBuzzShaper.h
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1961262 - Create Code Connect figma component for new moz-message-bar r=reusable-components-reviewers,hjones
  toolkit/content/widgets/moz-message-bar/moz-message-bar.figma.ts
Due: bugzilla-components

Bug 1963887 - Adding digital turbine rest of work distribution ID r=android-reviewers,gmalekpour
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/distributions/DistributionIdManager.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/distributions/DistributionIdManagerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1960076 - remove some variants which can expire from test fuzzy. r=ahal
  tools/tryselect/test/test_fuzzy.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, tryselect

Bug 1952682 - Introduce support for SpecialPowers.spawn in a content process r=nika
  testing/mochitest/tests/Harness_sanity/file_xorigin_frames.html
  testing/mochitest/tests/Harness_sanity/test_SpecialPowersForProcessSpawn.js
  testing/mochitest/tests/Harness_sanity/xpcshell.toml
  testing/mochitest/tests/browser/browser.toml
  testing/mochitest/tests/browser/browser_SpecialPowersForProcessSpawn.js
  testing/modules/XPCShellContentUtils.sys.mjs
  testing/specialpowers/content/SpecialPowersChild.sys.mjs
  testing/specialpowers/content/SpecialPowersParent.sys.mjs
  testing/specialpowers/content/SpecialPowersProcessActor.sys.mjs
  testing/specialpowers/moz.build
Due: bugzilla-components, codespell, eslint, license, file-perm, mochitest-harness

Bug 1964445 - Make DiscoveryStreamFeed use both the old and new forms of talking to the Nimbus experiment metadata utility. r=beth,home-newtab-reviewers,nbarrett
  browser/extensions/newtab/lib/DiscoveryStreamFeed.sys.mjs
Due: bugzilla-components

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in browser/components/preferences r=nimbus-reviewers,settings-reviewers,beth,mconley
  browser/components/preferences/tests/browser_windows_launch_on_login.js
  browser/components/preferences/tests/browser_windows_launch_on_login_msix.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in browser/extensions/newtab r=nimbus-reviewers,home-newtab-reviewers,beth,mconley
  browser/extensions/newtab/test/browser/abouthomecache/browser_experiments_api_control.js
  browser/extensions/newtab/test/browser/browser_newtab_ping.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in toolkit/components/telemetry/dap r=nimbus-reviewers,beth,chutten,tcampbell
  toolkit/components/telemetry/dap/tests/xpcshell/test_dap.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1959483 - Port tests from ExperimentFakes and ExperimentTestUtils to NimbusTestUtils in services/fxaccounts r=nimbus-reviewers,sync-reviewers,beth,skhamis
  services/fxaccounts/tests/xpcshell/test_commands_closetab.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1916432 - Expand automated generation of LIR ops from MIR. r=iain
  js/src/jit/CodeGenerator.cpp
  js/src/jit/GenerateLIRFiles.py
  js/src/jit/LIROps.yaml
  js/src/jit/Lowering.cpp
  js/src/jit/MIR.cpp
  js/src/jit/MIROps.yaml
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, py-compat, py-flake8, yaml, file-whitespace, file-perm

Bug 1961955 - Clean up Review Checker sidebar panel. r=shopping-reviewers,fluent-reviewers,sidebar-reviewers,kpatenio,jsudiaman
  browser/app/profile/firefox.js
  browser/components/shopping/content/review-checker.xhtml
  browser/components/shopping/jar.mn
  browser/components/sidebar/browser-sidebar.js
  browser/components/sidebar/metrics.yaml
  browser/components/sidebar/sidebar-customize.mjs
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_tools_overflow.js
  browser/locales/en-US/browser/sidebar.ftl
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, localization, file-perm

Bug 1940336 - Switch the --size-item-medium token to 24px from 28px r=desktop-theme-reviewers,reusable-components-reviewers,Itiel,hjones
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-figma-primitives.json
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: bugzilla-components

Bug 1962099 - QM: Restore original metadata structure for QuotaManager::CreateDirectoryMetadata2; r=dom-storage-reviewers,asuth
  dom/quota/ActorsParent.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1961629 - Use ExperimentFeature.getEnrollmentMetadata() in browser/extensions/newtab (again) r=mconley,home-newtab-reviewers
  browser/extensions/newtab/lib/PlacesFeed.sys.mjs
  browser/extensions/newtab/test/xpcshell/test_PlacesFeed.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1963951 - Change ToS spotlight modal's button string from 'Confirm and continue' to just 'Continue' a=RyanVM DONTBUILD
  browser/components/asrouter/modules/OnboardingMessageProvider.sys.mjs
  browser/locales/en-US/browser/preonboarding.ftl
Due: bugzilla-components, codespell, localization

Bug 1964116 - Update infobar schema to reflect that 'text' can be an array a=RyanVM
  browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  browser/components/asrouter/content-src/templates/CFR/templates/InfoBar.schema.json
  browser/components/asrouter/modules/PanelTestProvider.sys.mjs
  browser/components/asrouter/tests/xpcshell/test_PanelTestProvider.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Revert "Bug 1940336 - Switch the --size-item-medium token to 24px from 28px r=desktop-theme-reviewers,reusable-components-reviewers,Itiel,hjones" for causing crashtest failures @test_moz_button.html.
  toolkit/themes/shared/design-system/design-tokens.json
  toolkit/themes/shared/design-system/tokens-figma-primitives.json
  toolkit/themes/shared/design-system/tokens-shared.css
  toolkit/themes/shared/design-system/tokens-storybook.mjs
Due: bugzilla-components

Bug 1963160 - Add addonsInfo Nimbus targeting context metric r=willdurand,nimbus-reviewers,chumphreys
  toolkit/components/nimbus/lib/TargetingContextRecorder.sys.mjs
  toolkit/components/nimbus/metrics.yaml
  toolkit/components/nimbus/test/unit/test_TargetingContextRecorder.js
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

Bug 1956620 - Write ETP category selection to pref in Fenix. r=geckoview-reviewers,ohall a=RyanVM
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngine.kt
  mobile/android/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/ext/TrackingProtectionPolicy.kt
  mobile/android/geckoview/api.txt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentBlockingControllerTest.kt
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/ContentBlocking.java
  mobile/android/geckoview/src/main/java/org/mozilla/geckoview/doc-files/CHANGELOG.md
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1961629 - Remove ExperimentAPI.get{Experiment,Rollout}MetaData r=nimbus-reviewers,relud,chumphreys
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/test/browser/browser_experimentapi_child.js
  toolkit/components/nimbus/test/browser/browser_nimbus_telemetry.js
  toolkit/components/nimbus/test/browser/browser_remotesettings_experiment_enroll.js
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/nimbus/test/unit/test_Migrations.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1955136 - Fix read in sandbox for macOS >= 15 r=haik
  security/sandbox/mac/Sandbox.mm
  security/sandbox/mac/SandboxPolicyUtility.h
  security/sandbox/mac/moz.build
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: bugzilla-components

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: bugzilla-components

Revert "Bug 1963887 - Adding digital turbine rest of work distribution ID r=android-reviewers,gmalekpour" for causing fenix failures on DistributionIdManagerTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/distributions/DistributionIdManager.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/distributions/DistributionIdManagerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1961635 - Remove ExperimentAPI.getActiveBranch() r=nimbus-reviewers,beth
  toolkit/components/nimbus/ExperimentAPI.sys.mjs
  toolkit/components/nimbus/test/unit/test_ExperimentAPI.js
  toolkit/components/normandy/test/browser/browser_about_studies.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1851774 - Remove wildcards imports from GV tests. r=geckoview-reviewers,ohall
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/AccessibilityTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/AutocompleteTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/AutofillDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentBlockingControllerTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentDelegateChildTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentDelegateMultipleSessionsTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ContentDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/DisplayTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/DynamicToolbarTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/FinderTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/GeckoAppShellTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/GeckoResultTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/GeckoSessionTestRuleTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/GeolocationTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ImageResourceTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/InputResultDetailTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/InteractiveWidgetTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/LocaleTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/MediaSessionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/NavigationDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/OpenWindowTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/OrientationDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PanZoomControllerTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ProfilerControllerTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ProgressDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/PromptDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/RuntimeSettingsTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/ScreenshotTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/SelectionActionDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/SessionLifecycleTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/StorageControllerTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/TextInputDelegateTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/TrustedRecursiveResolverTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/VerticalClippingTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebExecutorOhttpTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebExecutorTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebExtensionTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebNotificationTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/WebPushTest.kt
  mobile/android/geckoview/src/androidTest/java/org/mozilla/geckoview/test/util/TestServer.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1851774 - Update ktlint to 1.5.0 and disable some new rules. r=android-reviewers,jonalmeida
  build.gradle
  gradle/libs.versions.toml
  mobile/android/android-components/.editorconfig
  mobile/android/android-components/build.gradle
  mobile/android/android-components/components/browser/engine-gecko/src/test/java/mozilla/components/browser/engine/gecko/GeckoEngineSessionTest.kt
  mobile/android/fenix/.editorconfig
  mobile/android/fenix/build.gradle
  mobile/android/focus-android/.editorconfig
  mobile/android/focus-android/build.gradle
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1962394 - Refactor SecretDebugMenuTrigger and AboutFragment to better separate responsibilities. r=jonalmeida
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/about/AboutFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/about/SecretDebugMenuTrigger.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/about/AboutFragmentTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/about/SecretDebugMenuTriggerTest.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1963473 - re-upload the file tearsofsteel_1frame_enc.mp4. r=media-playback-reviewers,karlt
  dom/media/test/mochitest_media_engine.toml
  dom/media/test/tearsofsteel_1frame_enc.mp4
  dom/media/test/tearsofsteel_1frame_encrypted.mp4
  dom/media/test/test_eme_mfcdm_generate_request_from_new_session.html
  tearsofsteel_1frame_encrypted.mp4^headers^
Due: bugzilla-components, codespell, eslint, license, file-perm

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
