Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

android-test/opt:
  description: Android armv7 unit tests
  index:
    product: mobile
    job-name: android-test
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(test)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-lint/opt:
  description: Android lint
  index:
    product: mobile
    job-name: android-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(lint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-api-lint/opt:
  description: Android apilint
  index:
    product: mobile
    job-name: android-api-lint
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(apilint)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-checkstyle/opt:
  description: Android checkstyle
  index:
    product: mobile
    job-name: android-checkstyle
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(checkstyle)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
  ...

android-findbugs/opt:
  description: Android findbugs
  index:
    product: mobile
    job-name: android-findbugs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 1
    symbol: A(findbugs)
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
    docker-image:
      in-tree: android-build
    env:
  ...

android-geckoview-docs/opt:
  description: Android GeckoView docs
  index:
    product: mobile
    job-name: android-geckoview-docs
  treeherder:
    platform: android-4-0-armv7-api16/opt
    kind: build
    tier: 3
    symbol: A(gv-docs)
  run-on-projects:
  - mozilla-central
  worker-type: aws-provisioner-v1/gecko-{level}-b-android
  worker:
  ...

taskgraph-tests/opt:
  description: taskcluster/taskgraph unit tests
  treeherder:
    symbol: tg
    kind: test
    tier: 2
    platform: linux64/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: mach
  ...

mozharness/opt:
  description: mozharness integration tests
  treeherder:
    symbol: MH
    kind: test
    tier: 2
    platform: lint/opt
  worker-type: aws-provisioner-v1/b2gtest
  worker:
    implementation: docker-worker
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

codespell:
  description: Checks for misspellings in text files
  treeherder:
    symbol: text(spell)
  run:
    mach: lint -l codespell -f treeherder -f json:/builds/worker/mozlint.json

Bug 1936422 - add extract logic for abseil-cpp. r=dbaker DONTBUILD
  dom/media/webrtc/third_party_build/extract-for-git.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace

Bug 1915355 - Part 2: Propagate the isOn3PCBExcpetionList to workers. r=edenchuang
  dom/base/Document.cpp
  dom/base/Document.h
  dom/fetch/Fetch.cpp
  dom/fetch/FetchDriver.cpp
  dom/fetch/FetchDriver.h
  dom/fetch/FetchParent.cpp
  dom/fetch/FetchParent.h
  dom/fetch/FetchService.cpp
  dom/fetch/FetchService.h
  dom/fetch/PFetch.ipdl
  dom/serviceworkers/ServiceWorkerPrivate.cpp
  dom/workers/WorkerLoadInfo.h
  dom/workers/WorkerPrivate.cpp
  dom/workers/WorkerPrivate.h
  dom/workers/remoteworkers/RemoteWorkerChild.cpp
  dom/workers/remoteworkers/RemoteWorkerTypes.ipdlh
  dom/workers/sharedworkers/SharedWorker.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915355 - Part 3: Implementing the ThirdPartyCookieBlockingExceptionListService. r=emz
  netwerk/cookie/ThirdPartyCookieBlockingExceptionListService.sys.mjs
  netwerk/cookie/components.conf
  netwerk/cookie/moz.build
  netwerk/cookie/nsIThirdPartyCookieBlockingExceptionListService.idl
Due: bugzilla-components

Bug 1915355 - Part 1: Add a IsOn3PCBExceptionList flag to nsILoadInfo. r=necko-reviewers,kershaw
  ipc/glue/BackgroundUtils.cpp
  netwerk/base/LoadInfo.cpp
  netwerk/base/LoadInfo.h
  netwerk/base/TRRLoadInfo.cpp
  netwerk/base/nsILoadInfo.idl
  netwerk/ipc/NeckoChannelParams.ipdlh
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915355 - Part 5: Exempt third-party cookie blocking if the channel is on the exception list. r=cookie-reviewers,bvandersloot,valentin
  dom/base/Document.cpp
  dom/cookiestore/CookieStore.cpp
  dom/cookiestore/CookieStoreParent.cpp
  dom/cookiestore/CookieStoreParent.h
  dom/cookiestore/PCookieStore.ipdl
  dom/serviceworkers/ServiceWorkerPrivate.cpp
  netwerk/cookie/CookieCommons.cpp
  netwerk/cookie/CookieCommons.h
  netwerk/cookie/CookieParser.cpp
  netwerk/cookie/CookieParser.h
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/CookieServiceChild.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915355 - Part 4: Implement the third-party cookie blocking excpetion in CookieService. r=cookie-reviewers,baku,valentin
  caps/OriginAttributes.cpp
  caps/OriginAttributes.h
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/CookieService.h
  netwerk/cookie/ThirdPartyCookieBlockingExceptionListService.sys.mjs
  netwerk/cookie/ThirdPartyCookieBlockingExceptions.cpp
  netwerk/cookie/ThirdPartyCookieBlockingExceptions.h
  netwerk/cookie/moz.build
  netwerk/cookie/nsICookieManager.idl
  netwerk/protocol/http/nsHttpChannel.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915355 - Part 7: Improve the performance of ThirdPartyCookieBlockingExceptions. r=valentin
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/ThirdPartyCookieBlockingExceptions.cpp
  netwerk/cookie/ThirdPartyCookieBlockingExceptions.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1915355 - Part 6: Add tests. r=cookie-reviewers,valentin
  netwerk/cookie/CookieService.cpp
  netwerk/cookie/nsICookieManager.idl
  netwerk/cookie/test/browser/browser.toml
  netwerk/cookie/test/browser/browser_3pcb_expection.js
  netwerk/cookie/test/browser/setFetchCookie.sjs
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1915355: apply code formatting via Lando
  dom/base/Document.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1919554: Give browser_dragdrop_impl.js the HTML files to test drag and drop with r=edgar
  dom/events/test/browser_dragdrop_impl.js
  dom/events/test/browser_dragdrop_protected_diff_origin.js
  dom/events/test/browser_dragdrop_protected_same_origin.js
  dom/events/test/browser_dragdrop_unprotected_diff_origin.js
  dom/events/test/browser_dragdrop_unprotected_same_origin.js
  toolkit/components/contentanalysis/tests/browser/browser_content_analysis_dnd_diff_origin.js
  toolkit/components/contentanalysis/tests/browser/browser_content_analysis_dnd_same_origin.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1919554: Test DND inside/between shadow DOMs r=edgar
  dom/events/test/browser.toml
  dom/events/test/browser_dragdrop_shadow.js
  dom/events/test/browser_dragdrop_shadow_inner.html
  dom/events/test/browser_dragdrop_shadow_outer.html
  testing/mochitest/tests/SimpleTest/DragChildContextBase.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm, mochitest-harness

Bug 1919554: Allow ElementsFromPointHelper to return elements in shadow DOM r=smaug,dlp-reviewers,gstoll
  dom/base/DocumentOrShadowRoot.cpp
  dom/base/DocumentOrShadowRoot.h
  dom/events/ContentEventHandler.cpp
  dom/events/ContentEventHandler.h
  toolkit/components/contentanalysis/tests/browser/browser.toml
  toolkit/components/contentanalysis/tests/browser/browser_content_analysis_dnd_shadow.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1938659 - feat(webgpu): set `dom.webgpu.workers.enabled` (viz., dedicated worker) to `true` by default on Nightly r=webgpu-reviewers,nical
  dom/workers/test/test_worker_interfaces.js
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Bug 1938659 - feat(webgpu): enable APIs in shared worker contexts r=webgpu-reviewers,webidl,smaug,nical
  dom/webidl/GPUUncapturedErrorEvent.webidl
  dom/webidl/WebGPU.webidl
Due: bugzilla-components

Bug 1938659 - feat(webgpu): sync `GPUUncapturedErrorEvent*` IDL with upstream r=webidl,saschanaz
  dom/webidl/GPUUncapturedErrorEvent.webidl
  dom/webidl/WebGPU.webidl
  dom/webidl/moz.build
Due: bugzilla-components

Bug 1940342 - Reserve slots for conditional proto keys for RECORD_TUPLE and EXPLICIT_RESOURCE_MANAGEMENT r=spidermonkey-reviewers,iain
  js/public/ErrorReport.h
  js/public/ProtoKey.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1940149 - feat(nimbus): Add `showToAllBrowsers` field to email-autocomplete-relay configuration r=jlockhart
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, yaml

Bug 1940064: Move GleanTest.js to SimpleTest dir. r=chutten,frontend-codestyle-reviewers
  dom/notification/test/mochitest/GleanTest.js
  dom/notification/test/mochitest/mochitest.toml
  dom/notification/test/mochitest/test_notification_basics.html
  dom/notification/test/mochitest/test_notification_crossorigin_iframe.html
  dom/notification/test/mochitest/test_notification_crossorigin_iframe_nested_glean.html
  dom/notification/test/mochitest/test_notification_serviceworker_get.html
  dom/notification/test/mochitest/test_notification_serviceworker_show.html
  dom/notification/test/mochitest/test_notification_swr_worker_show.html
  testing/mochitest/tests/SimpleTest/GleanTest.js
  testing/mochitest/tests/SimpleTest/moz.build
  toolkit/components/captchadetection/tests/mochitest/GleanTest.js
  toolkit/components/captchadetection/tests/mochitest/mochitest.toml
  toolkit/components/captchadetection/tests/mochitest/test_arkose_labs.html
  toolkit/components/captchadetection/tests/mochitest/test_aws_waf.html
  toolkit/components/captchadetection/tests/mochitest/test_cf_turnstile_fail.html
  toolkit/components/captchadetection/tests/mochitest/test_cf_turnstile_success.html
  toolkit/components/captchadetection/tests/mochitest/test_datadome.html
  toolkit/components/captchadetection/tests/mochitest/test_g_recaptcha_v2_ac.html
  toolkit/components/captchadetection/tests/mochitest/test_g_recaptcha_v2_pc.html
  toolkit/components/captchadetection/tests/mochitest/test_hcaptcha_ac.html
  toolkit/components/captchadetection/tests/mochitest/test_hcaptcha_pc.html
  toolkit/components/glean/docs/user/instrumentation_tests.md
  tools/lint/eslint.yml
  tools/lint/eslint/eslint-plugin-mozilla/lib/environments/simpletest.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, eslint-plugin-mozilla, mochitest-harness, mozlint

Bug 1939922 — Certify some audits and remove some exemptions. r=nika,supply-chain-reviewers
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: bugzilla-components

Bug 1939922 — Trust rust-phf. r=nika,supply-chain-reviewers
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: bugzilla-components

Bug 1936112 - Account for multiple products in the apt release task's platform field r=releng-reviewers,taskgraph-reviewers,jcristau
  taskcluster/gecko_taskgraph/transforms/beetmover_apt.py
Due: taskgraph-tests/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, taskgraph-tests

Bug 1940510 - revert changes to topsites title r=maxx,home-newtab-reviewers
  browser/components/newtab/content-src/components/TopSites/TopSite.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1923701 - Declare threads.h as a system header. r=firefox-build-system-reviewers,sergesanspaille
  config/system-headers.mozbuild
Due: bugzilla-components

Bug 1930803 - Switch to the wasm32-wasip1 target on rust nightly. r=firefox-build-system-reviewers,sergesanspaille
  taskcluster/kinds/toolchain/rust.yml
Due: bugzilla-components, yaml

Bug 1940183 - Handle the switch to wasm32-wasip1 as the wasi target in rustc 1.84. r=firefox-build-system-reviewers,sergesanspaille
  build/moz.configure/rust.configure
  python/mozbuild/mozbuild/test/configure/test_toolchain_configure.py
Due: bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozbuild

Bug 1940304 - Fix browser_sidebar_button_reset.js intermittent r=sidebar-reviewers,sfoster
  browser/components/customizableui/test/browser_sidebar_button_reset.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Backed out 3 changesets (bug 1938659) for causing mochitests failures.
  dom/webidl/GPUUncapturedErrorEvent.webidl
  dom/webidl/WebGPU.webidl
  dom/webidl/moz.build
  dom/workers/test/test_worker_interfaces.js
  modules/libpref/init/StaticPrefList.yaml
Due: bugzilla-components, codespell, eslint, license, lintpref, yaml, file-perm

Backed out changeset b7d0fd86b8b7 (bug 1940342) for causing build bustages in XrayWrapper.cpp. CLOSED TREE
  js/public/ErrorReport.h
  js/public/ProtoKey.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1935528: Created new homepage header for compose. Moved setting of browsing mode into PrivateBrowsingController. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/PrivateBrowsingButtonView.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/privatebrowsing/controller/PrivateBrowsingController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/store/HomepageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/HomepageHeader.kt
  mobile/android/fenix/app/src/main/res/layout/fragment_home.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/privatebrowsing/DefaultPrivateBrowsingControllerTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1905452: Fix padding for compose homepage. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/home/HomeSectionHeader.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/pocket/ui/PocketSection.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/store/HomepageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1940277 - Update and add general search engines in top 200 icons list. r=android-reviewers,jonalmeida a=RyanVM
  mobile/android/android-components/components/browser/icons/src/main/assets/mozac.browser.icons/icons-top200.json
Due: bugzilla-components

Bug 1940277 - Update and add general search engines in top 200 icons list. r=android-reviewers,jonalmeida a=pascalc
  mobile/android/android-components/components/browser/icons/src/main/assets/mozac.browser.icons/icons-top200.json
Due: bugzilla-components

Bug 1940277 - Update and add general search engines in top 200 icons list. r=android-reviewers,jonalmeida
  mobile/android/android-components/components/browser/icons/src/main/assets/mozac.browser.icons/icons-top200.json
Due: bugzilla-components

Bug 1940179 - Support providers that accept prompts via non-?q= query param r=txia,firefox-ai-ml-reviewers
  browser/components/genai/GenAI.sys.mjs
  browser/components/genai/tests/browser/browser_chat_request.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1937373 - Reduce applinks prompt abuser time to half a second. r=android-reviewers,petru a=RyanVM
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksInterceptor.kt
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1937373 - Reduce applinks prompt abuser time to half a second. r=android-reviewers,petru
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/AppLinksInterceptor.kt
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragment.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1939736 - Support customized timeout for prompt abuser. r=android-reviewers,petru
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragment.kt
  mobile/android/android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsDialogFragment.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/ktx/util/PromptAbuserDetector.kt
Due: android-api-lint/opt, bugzilla-components

Bug 1939736 - Support customized timeout for prompt abuser. r=android-reviewers,petru a=RyanVM
  mobile/android/android-components/components/feature/app-links/src/main/java/mozilla/components/feature/app/links/SimpleRedirectDialogFragment.kt
  mobile/android/android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsDialogFragment.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/ktx/util/PromptAbuserDetector.kt
Due: android-api-lint/opt, bugzilla-components

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py
