Repository mozilla/gecko-dev: changes, and which Taskcluster tasks are due for each by the changed paths.
All: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, taskgraph-tests/opt, mozharness/opt, bugzilla-components, codespell, cpp-virtual-final, eslint, license, lintpref, mingw-cap, py-compat, py-flake8, test-manifest, wptlint-gecko, yaml, rst, shellcheck, localization, rustfmt, file-whitespace, file-perm, newtab-unit-tests, debugger-tests, devtools-tests, eslint-plugin-mozilla, taskgraph-tests, mach, marionette-harness, mochitest-harness, mozbase, mozharness, mozlint, mozrelease, mozterm, mozversioncontrol, raptor, reftest-harness, tryselect, mozbuild

Path conditions:
  android-test/opt: any of: mobile/android/base/**, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/tests/background/junit4/**, **/*.gradle
  android-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.jpeg, mobile/android/**/*.jpg, mobile/android/**/*.png, mobile/android/**/*.svg, mobile/android/**/*.xml, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-api-lint/opt: any of: mobile/android/**/*.java, mobile/android/**/*.kt, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-checkstyle/opt: any of: mobile/android/**/checkstyle.xml, mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-findbugs/opt: any of: mobile/android/**/*.java, mobile/android/**/Makefile.in, mobile/android/config/**, mobile/android/gradle.configure, mobile/android/**/moz.build, **/*.gradle
  android-geckoview-docs/opt: any of: mobile/android/**/*.java, mobile/android/gradle.configure, **/*.gradle
  taskgraph-tests/opt: any of: taskcluster/**/*.py, config/mozunit.py, python/mach/**/*.py
  mozharness/opt: any of: testing/mozharness/**
  bugzilla-components: any of: **
  codespell: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jxs, **/*.xml, **/*.html, **/*.xhtml, **/*.cpp, **/*.c, **/*.h, **/*.configure, **/*.py, **/*.properties, **/*.rst, **/*.ftl
  cpp-virtual-final: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.h, **/*.mm
  eslint: any of: python/mozlint/**, tools/lint/**, **/*.js, **/*.jsm, **/*.jsx, **/*.html, **/*.xhtml, **/*.xml, **/.eslintignore, **/*eslintrc*, tools/lint/eslint/eslint-plugin-mozilla/**, tools/lint/eslint/eslint-plugin-spidermonkey-js/**
  license: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.py, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  lintpref: any of: python/mozlint/**, tools/lint/**, modules/libpref/init/all.js, modules/libpref/init/StaticPrefList.yaml, browser/app/profile/firefox.js, mobile/android/app/mobile.js, devtools/client/preferences/debugger.js, mobile/android/app/geckoview-prefs.js, browser/branding/official/pref/firefox-branding.js, browser/branding/nightly/pref/firefox-branding.js, browser/branding/unofficial/pref/firefox-branding.js, browser/branding/aurora/pref/firefox-branding.js, browser/app/profile/channel-prefs.js, mobile/android/installer/mobile-l10n.js, mobile/android/locales/en-US/mobile-l10n.js
  mingw-cap: any of: python/mozlint/**, tools/lint/**, **/*.cpp, **/*.cc, **/*.c, **/*.h
  py-compat: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8
  py-flake8: any of: python/mozlint/**, tools/lint/**, **/*.py, **/.flake8, **/*.configure
  test-manifest: any of: python/mozlint/**, tools/lint/**, **/*.ini, python/mozlint/**, tools/lint/**
  wptlint-gecko: any of: python/mozlint/**, tools/lint/**, testing/web-platform/tests/**, testing/web-platform/mozilla/tests/**
  yaml: any of: python/mozlint/**, tools/lint/**, **/*.yml, **/*.yaml, **/.ymllint
  rst: any of: python/mozlint/**, tools/lint/**, **/*.rst
  shellcheck: any of: python/mozlint/**, tools/lint/**, **/*.sh
  localization: any of: python/mozlint/**, tools/lint/**, **/locales/en-US/**, **/l10n.toml, third_party/python/compare-locales/**, third_party/python/fluent/**
  rustfmt: any of: python/mozlint/**, tools/lint/**, **/*.rs
  file-whitespace: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.py, **/*.rs
  file-perm: any of: python/mozlint/**, tools/lint/**, **/*.c, **/*.cc, **/*.cpp, **/*.h, **/*.html, **/*.js, **/*.jsm, **/*.jsx, **/*.m, **/*.mm, **/*.rs, **/*.xhtml, **/*.xml, **/*.xul
  newtab-unit-tests: any of: browser/components/newtab/**
  debugger-tests: any of: devtools/client/debugger/**
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  taskgraph-tests: any of: config/mozunit/**, python/mach_commands.py, taskcluster/**/*.py, python/mach/**/*.py
  mach: any of: config/mozunit/**, python/mach_commands.py, python/mach/**
  marionette-harness: any of: config/mozunit/**, python/mach_commands.py, testing/marionette/harness/**, testing/mozbase/mozlog/mozlog/**, testing/mozbase/mozlog/setup.py, testing/mozbase/packages.txt
  mochitest-harness: any of: config/mozunit/**, python/mach_commands.py, testing/mochitest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py, testing/profiles/**
  mozbase: any of: config/mozunit/**, python/mach_commands.py, testing/mozbase/**
  mozharness: any of: config/mozunit/**, python/mach_commands.py, testing/mozharness/**
  mozlint: any of: config/mozunit/**, python/mach_commands.py, python/mozlint/**, tools/lint/**
  mozrelease: any of: config/mozunit/**, python/mach_commands.py, python/mozrelease/**
  mozterm: any of: config/mozunit/**, python/mach_commands.py, python/mozterm/**
  mozversioncontrol: any of: config/mozunit/**, python/mach_commands.py, python/mozversioncontrol/**
  raptor: any of: config/mozunit/**, python/mach_commands.py, testing/raptor/**
  reftest-harness: any of: config/mozunit/**, python/mach_commands.py, layout/tools/reftest/**, testing/mozbase/moztest/moztest/selftest/**, testing/mozharness/mozharness/base/log.py, testing/mozharness/mozharness/mozilla/structuredlog.py, testing/mozharness/mozharness/mozilla/testing/errors.py
  tryselect: any of: config/mozunit/**, python/mach_commands.py, taskcluster/ci/test/**, taskcluster/taskgraph/transforms/**, tools/tryselect/**
  mozbuild: any of: config/mozunit/**, python/mach_commands.py, **/moz.configure, build/moz.configure/**, config/tests/**, python/mach/**, python/mozboot/**, python/mozbuild/**, python/mozterm/**, python/mozversioncontrol/**, testing/mozbase/**, testing/xpcshell/xpcshellcommandline.py

Bug 1943696: apply code formatting via Lando
  js/src/jit/PerfSpewer.cpp
  js/src/jit/PerfSpewer.h
  js/src/wasm/WasmCode.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1946796 - Update ML Utils file path r=tarek,rrando
  toolkit/components/ml/content/nlp/StopWords.sys.mjs
  toolkit/components/ml/content/nlp/Utils.sys.mjs
  toolkit/components/ml/jar.mn
Due: bugzilla-components

Bug 1926079 - Add documentation for how to reuse toolkit code in Android r=geckoview-reviewers,android-reviewers,calu
  mobile/android/docs/geckoview/assets/translations-toolkit-to-fenix-diagram.png
  mobile/android/docs/geckoview/contributor/for-gecko-engineers.rst
  mobile/android/docs/geckoview/contributor/index.rst
  mobile/android/docs/geckoview/contributor/translations-toolkit-to-fenix.md
Due: android-lint/opt, bugzilla-components, codespell, rst

Bug 1942380 - Use nsMultiplexInputStream directly from C++. r=valentin,necko-reviewers
  ipc/glue/InputStreamUtils.cpp
  netwerk/protocol/http/nsHttpTransaction.cpp
  xpcom/io/nsMultiplexInputStream.cpp
  xpcom/io/nsMultiplexInputStream.h
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Bug 1946553 - check 10-bit HEVC decoding support. r=azebrowski,geckoview-reviewers,calu
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/util/HardwareCodecCapabilityUtils.java
Due: android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components

Bug 1947182 - update targeting for desktop to mobile adoption message r=emcminn,omc-reviewers
  browser/components/asrouter/modules/FeatureCalloutMessages.sys.mjs
Due: bugzilla-components

Bug 1935700 - Implement blocked tracker categories for Enhanced Tracking Protection. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/TrustPanelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ProtectionPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/TrackersBlockedPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/trackingprotection/ProtectionsStore.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelStoreTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1937955 - Part 1: Implement clearing site data from the Unified Trust Panel. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/TrustPanelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ClearSiteDataDialog.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelNavigationMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelStoreTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1937955 - Part 2: Display snackbar after clearing site data from the Unified Trust Panel. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/AppStoreReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/snackbar/SnackbarState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/TrustPanelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/snackbar/SnackbarBinding.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/appstate/AppStoreReducerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/snackbar/SnackbarBindingTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1938500 - Implement navigation to privacy and security settings from the Unified Trust Panel. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/TrustPanelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ProtectionPanel.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/main/res/xml/preferences.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelNavigationMiddlewareTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1938217 - Implement connection security panel for the Unified Trust Panel. r=gl,android-reviewers
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/compose/Favicon.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/TrustPanelFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelNavigationMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/middleware/TrustPanelTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/store/TrustPanelAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ConnectionSecurityPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ProtectionPanel.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/trustpanel/ui/ProtectionPanelHeader.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/settings/trustpanel/TrustPanelNavigationMiddlewareTest.kt
Due: android-lint/opt, android-api-lint/opt, bugzilla-components, codespell, eslint, license, file-perm

Bug 1943469 - newtab inline topic selection arrow key keyboard navigation r=home-newtab-reviewers,nbarrett
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/InlineTopicSelection/InlineTopicSelection.jsx
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/InlineTopicSelection/_InlineTopicSelection.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1946902: Prevent infinite loop searching backward in UiaTextRange::FindAttribute, r=Jamie
  accessible/tests/browser/windows/uia/browser_textPatterns.js
  accessible/windows/uia/UiaTextRange.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1946552: Fix WalkLineRects endpoint calculation, r=Jamie
  accessible/base/TextLeafRange.cpp
  accessible/tests/browser/windows/uia/browser_textPatterns.js
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, file-whitespace, file-perm

Bug 1946517 - Prevent URL bar from showing through preonboarding modal UI r=nalexander,emilio,urlbar-reviewers,adw
  browser/base/content/browser.js
  browser/components/urlbar/UrlbarInput.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1947274 - Remove the no longer needed 'Gradle — assemble-app' task from the export phase, r=nalexander.
  mobile/android/gradle.configure
  mobile/android/gradle.py
  mobile/android/mach_commands.py
  mobile/android/moz.build
  python/mozbuild/mozbuild/mach_commands.py
Due: android-test/opt, android-lint/opt, android-api-lint/opt, android-checkstyle/opt, android-findbugs/opt, android-geckoview-docs/opt, bugzilla-components, codespell, license, py-compat, py-flake8, file-whitespace, mozbuild

Bug 1947314: Make iongraph prettier. r=iain
  js/src/devtools/iongraph/iongraph
  js/src/jit/JSONSpewer.cpp
  js/src/jit/JSONSpewer.h
  js/src/jit/JitSpewer.cpp
  js/src/jit/JitSpewer.h
  js/src/jit/LIR.cpp
  js/src/jit/MIR.cpp
  js/src/jit/MIRGenerator.h
  js/src/jit/MIRGraph.cpp
  js/src/wasm/WasmIonCompile.cpp
Due: bugzilla-components, codespell, cpp-virtual-final, license, mingw-cap, file-whitespace, file-perm

Backed out 2 changesets (bug 1945814, bug 1945789) for causing wpt failures on clear-cache-partitioning.https.html CLOSED TREE
  testing/web-platform/meta/clear-site-data/clear-cache-partitioning.https.html.ini
  testing/web-platform/meta/clear-site-data/clear-cache-partitioning.sub.https.html.ini
  testing/web-platform/tests/clear-site-data/clear-cache-partitioning.https.html
  testing/web-platform/tests/clear-site-data/clear-cache-partitioning.sub.https.html
  testing/web-platform/tests/clear-site-data/clear-cache.https.html
Due: bugzilla-components, codespell, eslint, license, test-manifest, wptlint-gecko, file-perm

Bug 1946899: Ensure child spans of an empty span receive a zero block start edge. r=layout-reviewers,dholbert, a=dmeehan
  layout/generic/nsLineLayout.cpp
  testing/web-platform/tests/css/css-inline/empty-span-scroll-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-scroll.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1946899: Ensure child spans of an empty span receive a zero block start edge. r=layout-reviewers,dholbert
  layout/generic/nsLineLayout.cpp
  testing/web-platform/tests/css/css-inline/empty-span-scroll-ref.html
  testing/web-platform/tests/css/css-inline/empty-span-scroll.html
Due: bugzilla-components, codespell, cpp-virtual-final, eslint, license, mingw-cap, wptlint-gecko, file-whitespace, file-perm

Bug 1947275 - Fix tab groups subview command handling. r=dwalker,tabbrowser-reviewers
  browser/components/tabbrowser/content/browser-allTabsMenu.js
  browser/components/tabbrowser/test/browser/tabs/browser_tab_manager_groups.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1947269 - Fix double menuseparator in list all tabs menu when there are no tab groups. r=dwalker,tabbrowser-reviewers
  browser/components/tabbrowser/content/browser-allTabsMenu.inc.xhtml
  browser/components/tabbrowser/content/browser-allTabsMenu.js
  browser/themes/shared/tabbrowser/tabs.css
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1946188 - Add test for resizing the sidebar after toggling revamp on and off r=sidebar-reviewers,kcochrane
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/tests/browser/browser_glean_sidebar.js
  browser/components/sidebar/tests/browser/browser_resize_sidebar.js
  browser/components/sidebar/tests/browser/browser_sidebar_collapsed_close_tab_button.js
  browser/components/sidebar/tests/browser/browser_sidebar_max_width.js
  browser/components/sidebar/tests/browser/browser_toolbar_sidebar_button.js
  browser/components/sidebar/tests/browser/head.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1945927 - Ensure that resize observer is restored when reinitializing revamped sidebar. r=sidebar-reviewers,kcochrane
  browser/components/sidebar/SidebarState.sys.mjs
  browser/components/sidebar/browser-sidebar.js
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1946619 - Reduce spacing around content sections work. r=home-newtab-reviewers,thecount
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/CardSections/_CardSections.scss
  browser/extensions/newtab/content-src/components/DiscoveryStreamComponents/TopSites/_TopSites.scss
  browser/extensions/newtab/css/activity-stream.css
Due: bugzilla-components

Bug 1933080 - Fix infinite caret animation. r=home-newtab-reviewers,desktop-theme-reviewers,emilio,thecount
  browser/extensions/newtab/content-src/components/Search/Search.jsx
  browser/extensions/newtab/content-src/components/Search/_Search.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/data/content/activity-stream.bundle.js
  browser/extensions/newtab/lib/ActivityStream.sys.mjs
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1945804 - newtab save to pocket button in cards again if pocket is turned off a=dmeehan
  browser/components/newtab/content-src/components/DiscoveryStreamComponents/DSLinkMenu/DSLinkMenu.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1944718 - Newtab fixing fixed search position if search is turned off a=dmeehan
  browser/components/newtab/content-src/components/Base/Base.jsx
  browser/components/newtab/data/content/activity-stream.bundle.js
Due: bugzilla-components, codespell, eslint, license, file-perm, newtab-unit-tests

Bug 1946886 - Force a reflow in desktop-mode.html to ensure the forceDesktopViewport flag is picked up. r=hiro
  layout/reftests/meta-viewport/desktop-mode.html
Due: bugzilla-components, codespell, eslint, license, file-perm

Bug 1946609 - Record exposure event for new treatment of sync being disabled a=dmeehan
  browser/base/content/browser-sync.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: bugzilla-components, codespell, eslint, license, yaml, file-perm

no bug - Merge android-l10n translations from mozilla-central r=release a=l10n
  mobile/android/android-components/components/feature/addons/src/main/res/values-es-rES/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-eu/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-fur/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/feature/addons/src/main/res/values-uk/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rES/strings.xml
  mobile/android/fenix/app/src/main/res/values-eu/strings.xml
  mobile/android/fenix/app/src/main/res/values-in/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
  mobile/android/focus-android/app/src/main/res/values-es-rES/strings.xml
  mobile/android/focus-android/app/src/main/res/values-eu/strings.xml
  mobile/android/focus-android/app/src/main/res/values-fur/strings.xml
  mobile/android/focus-android/app/src/main/res/values-in/strings.xml
  mobile/android/focus-android/app/src/main/res/values-ko/strings.xml
  mobile/android/focus-android/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/focus-android/app/src/main/res/values-scn/strings.xml
  mobile/android/focus-android/app/src/main/res/values-th/strings.xml
  mobile/android/focus-android/app/src/main/res/values-uk/strings.xml
Due: android-lint/opt, bugzilla-components, codespell, eslint, license, file-perm
